﻿@model OPAViewModel
@{
    ViewBag.Title = "_OpaHistoryReadyonly";
}


<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="gridDiv" style="width:1300px">

    <table id="fileGrid"></table>
    <div id="fileGridPager"></div>

</div>

<div id="commentGrid">

    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGridDiv">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>

<style type="text/css">
    .mylink {
        text-decoration: underline;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .errorClass {
        border: 1px solid red;
    }

    .historyImageCursor {
        cursor: pointer;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .ui-jqgrid tr.jqgrow td {
        white-space: nowrap;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
</style>


<script>
    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }

    function ischeckBoxChecked(rowId, cellId) {

        if (jQuery('#' + rowId + '_' + cellId).is(':checked')) {
            return true;
        }
        else {
            return false;
        }
    }

    function CommentHistoryDialog(id) {
        $("#commentGrid").hide();
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name', 'comment', 'uploadDate'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#commentGrid").show();
                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }

    function FileHistoryDialog(id) {
        $("#fileGridDiv").hide();
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#fileGridDiv").show();
                $("#fileGridDiv").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }

    $(document).ready(function () {

        $("#fileGrid").jqGrid({
            colNames: ['Action', 'Name', 'Role', 'Comment', 'Submitted Date', 'FileID', 'File History', 'Comment History', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'Request Additional Info', 'Comments', 'Approve', 'File Extn', 'File Status', 'downloadFileId'],
            colModel: [
               { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
               { name: 'name', index: 'name', editable: false },
               { name: 'userRole', index: 'userRole', editable: false },
               { name: 'comment', index: 'comment', editable: false },
               { name: 'submitDate', index: 'submitDate', width: 100, editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
               { name: 'fileId', index: 'fileId', editable: true, hidden: true },
               {
                   name: "fileHistory", align: "center", width: 70,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.isFileHistory != null & rowObject.isFileHistory) {
                           return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";;
                       }
                       else {
                           return " ";
                       }
                   }
               },
               {
                   name: "commentHistory", align: "center", width: 70,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.isFileComment != null & rowObject.isFileComment) {
                           return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                       }
                       else {
                           return " ";
                       }
                   }
               },
               {
                   name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName != null) {

                           return ' style="text-decoration: underline"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.downloadFileId) + '">' + rowObject.fileName + '</a>';
                       }
                   }
               },

               {
                   name: 'fileSize', index: 'fileSize', editable: false, width: 60,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return cellvalue;
                       }
                   }
               },
               { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y h:i A' } },
               {
                   name: 'isReqAddInfo', index: 'isReqAddInfo', sortable: false, editable: true, edittype: 'checkbox', width: 90,
                   formatter: "checkbox", formatoptions: { disabled: true }

               },
               {
                   name: 'raiComments', index: 'raiComments', sortable: false, editable: true, edittype: 'textarea'

               },
               {
                   name: 'isApprove', index: 'isApprove', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false

               },
               { name: 'fileExt', index: 'fileExt', width: 10, editable: true, hidden: true, sortable: false },
               { name: 'fileReviewStatusId', index: 'fileReviewStatusId', width: 10, editable: false, hidden: true, sortable: false },
                { name: 'downloadFileId', index: 'downloadFileId', width: 10, editable: false, hidden: true, sortable: false }
            ],
            url: "/OPAReview/GetFileGridContent?taskInstanceId=" + $("#TaskGuid").val() + "",
            datatype: 'json',
            mtype: 'POST',
            pager: jQuery('#fileGridPager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            multiselect: false,
            gridview: true,
            autoencode: true,
            width: 1250,
            caption: 'Documentation Grid',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            loadComplete: function () {
                if (@Model.columnVisibility == 2)
                {
                    jQuery("#fileGrid").jqGrid('hideCol', 'isReqAddInfo');
                    jQuery("#fileGrid").jqGrid('hideCol', 'raiComments');
                    jQuery("#fileGrid").jqGrid('hideCol', 'isApprove');
                    jQuery("#fileGrid").setGridWidth('1150');

                }
                //debugger;
                var lista = $("#fileGrid").getDataIDs();
                for (i = 0; i < lista.length; i++) {
                    if (!$('#fileGrid').jqGrid('getCell', lista[i], 'fileId').trim().length > 0) {
                        $($('#' + lista[i] + '').find('td')[11]).children().remove();
                        $($('#' + lista[i] + '').find('td')[13]).children().remove();
                    }
                }
            },
            beforeSelectRow: function (rowid, e) {

                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;

                if (cmName === "commentHistory") {
                    //debugger;
                    $('#fileGrid').jqGrid('getCell', rowid, 'fileId')
                    if ( $('#fileGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#fileGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        CommentHistoryDialog( $('#fileGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyCommentGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileCommentHistory?taskFileId=" +  $('#fileGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "fileHistory") {
                    // debugger;
                    if ( $('#fileGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                         $('#fileGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        FileHistoryDialog( $('#fileGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyFileGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileUploadHistory?taskFileId=" +  $('#fileGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }
                return false;
            }

        });

    });
</script>



