﻿@model Model.LocalPasswordModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "change-password-form" }))
{
    @*@Html.AntiForgeryToken()*@
    if (ViewContext.FormContext == null)
    {
        ViewContext.FormContext = new FormContext();
    }
    if (Model == null || !Model.IsChangePasswordSuccess)
    {
        <head>11
            <title></title>
            <style>
                .row-buffer {
                    margin-top:10px;
                }
            </style>
        </head>
        <fieldset>
            <legend>Change Password Form</legend>
            <div class="container-fluid">
                <div class="row row-buffer">
                    <span class="col-md-5 text-right">
                        @Html.LabelFor(m => m.OldPassword)
                    </span>
                    <span class="col-md-5">
                        @Html.PasswordFor(m => m.OldPassword, new { title = "Password must not have been used for 8 previous password changes." })
                        @Html.ValidationMessageFor(m => m.OldPassword)
                    </span>
                </div>
                <div class="row row-buffer">
                    <span class="col-md-5 text-right">
                        @Html.LabelFor(m => m.NewPassword)
                    </span>
                    <span class="col-md-5">
                        @Html.PasswordFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </span>
                </div>
                <div class="row row-buffer">
                    <span class="col-md-5 text-right">
                        @Html.LabelFor(m => m.ConfirmPassword)
                    </span>
                    <span class="col-md-5">
                        @Html.PasswordFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </span>
                </div>
                <div class="row" style="margin-top:15px;">
                    <span class="col-md-5 text-right">
                    </span>
                    <span class="col-md-5">
                        <input type="submit" value="Change password" id="btnChangePassword" />
                    </span>
                </div>
        </fieldset>
    }
    else
    {
        <h2 class="warning">You password is changed.</h2>
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        var $form = $('#change-password-form');
        $.validator.unobtrusive.parse($form);
        $form.submit(function () {
            var $form = $(this);
            if ($form.valid()) {
                $.ajax({
                    cache: false,
                    type: "POST",
                    data: $('#change-password-form').serializeArray(),
                    url: '@Url.Action("ChangePassword", "Account")',
                    error: function (a, b, c) { alert(a + b + c) },
                    success: function (data) {
                        if (data.result == true) {
                            alert("Password changed.");
                            $("#dialogCommon").dialog("close");
                            window.location.reload();
                        }
                        else {
                            alert("Input error. Please ensure old password is entered correctly; new password must not have been used for 8 previous password change.");
                            return false;                            
                        }
                    }
                });
            }
            return false;
        });
        return false;
    });
</script>