﻿@model HUDHealthcarePortal.Model.Lenderdata

@{
    ViewBag.Title = "Lendercreation";
    //#189
}
<style>
    #textname {
        text-transform: uppercase;
    }

    h5 {
        color: green;
        font-size: x-large;
    }
</style>

<h2>Lender creation</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LenderInfo</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.LenderID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LenderID)
            @Html.ValidationMessageFor(model => model.LenderID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lender_Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lender_Name)
            @Html.ValidationMessageFor(model => model.Lender_Name)
        </div>

        @*<div class="editor-label">
                @Html.LabelFor(model => model.ModifiedOn)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ModifiedOn)
                @Html.ValidationMessageFor(model => model.ModifiedOn)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ModifiedBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ModifiedBy)
                @Html.ValidationMessageFor(model => model.ModifiedBy)
            </div>*@


        <div>
            <p>
                <input type="submit" value="Create" />
            </p>
        </div>
    </fieldset>
}

<h5>@ViewBag.message</h5>

<div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



