﻿@using HUDHealthcarePortal.BusinessService

@model UserViewModel
@{
    ViewBag.Title = "";
}
<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">

    $(function () {
        var ddlLenders = $("#SelectedLenderId");
        var ddlServicers = $("#SelectedServicerId");
        var ddlWorkloadManagers = $("#SelectedWorkloadManagerId");
        var ddlAccountExecutives = $("#SelectedAccountExecutiveId");
        var firstNameBox = $("#FirstName");

        @if (Model.AllLenders.Count() > 0 || Model.AllServicers.Count() > 0)
        {
            @:$("#institutionsLbl").show();
                    @:$("#institutionsDdl").show();
            if (Model.AllLenders.Count() > 0)
            {
                @:ddlServicers.hide();
                @:ddlLenders.show();
            }
            else
            {
                @:ddlServicers.show();
                @:ddlLenders.hide();
            }
        }
        else
        {
            @:$("#institutionsLbl").hide();
                    @:$("#institutionsDdl").hide();
                }

        @if (Model.AllWorkloadManagers.Count > 0)
        {
            @:$("#workloadManagerDiv").show();
            @:ddlWorkloadManagers.focus();
        }
        else
        {
            @:$("#workloadManagerDiv").hide();
        }

        @if (Model.AllAccountExecutives.Count > 0)
        {
            @:$("#accountExecutiveDiv").show();
            @:ddlAccountExecutives.focus();
        }
        else
        {
            @:$("#accountExecutiveDiv").hide();
        }

        @if (Model.AllWorkloadManagers.Count <= 0 && Model.AllAccountExecutives.Count <= 0)
        {
            @:firstNameBox.focus();
        }

        $("#SelectedRole").change(function () {
            var selectedItem = $(this).val();
            if (selectedItem != "Lender" && selectedItem != "Servicer") {
                $("#institutionsLbl").hide();
                $("#institutionsDdl").hide();
                return false;
            }
            $("#institutionsDdl").show();
            $("#institutionsLbl").show();
            var isLender = selectedItem == "Lender";
            var ddlInstitutions = isLender ? ddlLenders : ddlServicers;
            if (isLender) {
                ddlServicers.hide();
                ddlLenders.show();
            }
            else {
                ddlServicers.show();
                ddlLenders.hide();
            }
            var statesProgress = $("#pend-loading");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",

                url: "@Url.Action("GetRoleInstitutions", "Account")",
                data: { "sRole": selectedItem },
                success: function (data) {
                    ddlInstitutions.html('');
                    $.each(data, function (id, option) {
                        ddlInstitutions.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
            return false;
        });

        var mapUserDetailFunction = function (data) {
            $('#FirstName').val(data.FirstName);
            $('#MiddleName').val(data.MiddleName);
            $('#LastName').val(data.LastName);
            $('#Title').val(data.Title);
            $('#Organization').val(data.Organization);
            $('#PhoneNumber').val(data.PhoneNumber);
            $('#AddressLine1').val(data.AddressLine1);
            $('#City').val(data.City);
            $('#SelectedStateCd').val(data.SelectedStateCd);
            $('#ZipCode').val(data.ZipCode);
            $('#SelectedTimezone').val(data.SelectedTimezone);
            $('#EmailAddress').val(data.EmailAddress);
            $('#UserName').val(data.UserName);
            $('#AddressID').val(data.AddressID);
        };

        ddlWorkloadManagers.change(function () {
            var selectedItemValue = $(this).val();
            if (selectedItemValue == "-999") {
                return false;
            }
            else {
                @if(SessionHelper.SessionGet<List<string>>(SessionHelper.SESSION_KEY_NEW_ROLES).Contains("InternalSpecialOptionUser"))
                {
                    @:return false;
                }
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("GetWorkloadManagerDetail", "Account")",
                    data: { "id": selectedItemValue },
                    success: mapUserDetailFunction,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to populate Workload Manager detail.');
                    }
                });
            }
            return false;
        });

        ddlAccountExecutives.change(function () {
            var selectedItemValue = $(this).val();
            if (selectedItemValue == "-999") {
                return false;
            }
            else {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("GetAccountExecutiveDetail", "Account")",
                    data: { "id": selectedItemValue },
                    success: mapUserDetailFunction,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to populate Account Executive detail.');
                    }
                });
            }
            return false;
        });

        $("#EmailAddress").change(function () {
            $("#UserName").val($("#EmailAddress").val().toLowerCase());

        });

        $('#ConfirmEmailAddress').bind("cut copy paste", function (e) {
            e.preventDefault();
        });
        //Phone number validation
        $("#PhoneNumber").mask("(999) 999 - 9999");
        $("#PhoneNumber").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });


        //zipcode validation
        $('#ZipCode').mask("99999-9999");
        $("#ZipCode").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });

        //allows only alphanumeric in textfield
        $('#FirstName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#MiddleName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
    });
        $('#LastName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#Title').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#Organization').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#AddressLine1').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#City').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
    });


</script>

<script>
    function FilesValidation() {
        var filesLoadedstatus = true;

        $.ajax({
            url: '@Url.Action("Register", "Account")',
            type: "GET",
            dataType: 'json',
            async: false,
            success: function (result) {
                if (result.returnvalue) {
                    if (caller != 'btnsubmit')
                        alert("Requied Files are Loaded Successfully");
                    filesLoadedstatus = true;
                }
                else {
                    alert("Requied Files are NOT Loaded Successfully, Reload it once again");
                    filesLoadedstatus = false;
                }
            },


        });

        //return filesLoadedstatus;

    }

    function createModal() {
        //if ($('#txtFha').val() == '') {
        //    alert("Select FHA Number");

        //    return false;
        //}
        ////alert(ticketid);
        //$('#modelContent').load('/ReserveForReplacement/PopUpR4RfilesUploader');
        $('#modalbody').load('/Account/Register');

        $('#myModal').modal('show');

    }
</script>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="registerUser" style="width:1200px;">
    <h4 style="text-align:center;">Create a new account</h4>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.ValidationSummary();
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-2 text-right" id="institutionsLbl">
                    @Html.LabelFor(m => m.SelectedLenderId)
                </span>
                <span class="col-md-4" id="institutionsDdl">
                    @Html.DropDownListFor(m => m.SelectedLenderId, Model.AllLenders)
                    @Html.DropDownListFor(m => m.SelectedServicerId, Model.AllServicers)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="workloadManagerDiv">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.SelectedWorkloadManagerId)
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedWorkloadManagerId, Model.AllWorkloadManagers)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row" id="accountExecutiveDiv">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.SelectedAccountExecutiveId)
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedAccountExecutiveId, Model.AllAccountExecutives)
                </span>
            </div>
        </div>
        @*<div class="container-fluid">
                <div class="row" id="accountExecutiveDiv">
                    <span class="col-md-2 text-right">
                        @Html.LabelFor(m => m.SelectedAccountExecutiveId)
                    </span>
                    <span class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedAccountExecutiveId, Model.AllAccountExecutives)
                    </span>
                </div>
            </div>*@
        <span id="pend-loading" style="display: none;">Please wait..</span>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.FirstName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FirstName)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.MiddleName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.MiddleName)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.LastName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LastName)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Title)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.Title)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Organization)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.Organization)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.PhoneNumber)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { id = "PhoneNumber" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.AddressLine1)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.AddressLine1)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.City)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.City)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.AllStates)
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedStateCd, Model.AllStates, "Select State")
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.ZipCode)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ZipCode, new { id = "ZipCode" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.Label("Time Zone")
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedTimezone, Model.AllTimezones, "Select Timezone")
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.EmailAddress)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.EmailAddress)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.UserName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.UserName, new { @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.ConfirmEmailAddress)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ConfirmEmailAddress)
                </span>
            </div>
            <div class="row">

            </div>
            <div class="row" style="margin-top:15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-4">
                    <input type="submit" value="Register" title="Register Account" />
                    <input type="button" value="Cancel" title="Cancel Registration" onclick="window.location.href='/Account/RegisterUserStep1'" />
                   
                    <input type="button" value="Check User" title="Check User" id="btnCheckUser" onclick="createModal()" />
                    
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                    @Html.HiddenFor(model => model.AddressID)
                </span>
            </div>


        </div>
    }

    @*Naveen added model*@
    <div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">

            <div class="modal-content" id="modelContent">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="myModalLabel">Check User Email</h4>
                </div>
                <div class="modal-body" id="modalbody">

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnproceed" onclick="UserEmailValidation();" class="btn btn-primary" data-dismiss="modal">Check</button>
                </div>

            </div>
        </div>
    </div>

    @*Naveen Added confirmation modal*@
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">User Confirmation</h4>

                </div>
                <div class="modal-body">
                    <div class="alert alert-danger">
                        <strong>User already exists,Do you want to continue with existing details?</strong>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="deleteAttachment2" onclick="Specialoptionuser()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function createModal() {


        $('#modalbody').load('/Account/EmailPopUp');

        $('#myModal').modal('show');

    }
</script>
<script>

    function UserEmailValidation() {
        //alert("fire")
        $.ajax(
        {
            type: "POST", //HTTP POST Method
            url: '@Url.Action("checkUserEmailId", "Account")', // Controller/View
            data: { //Passing data
                email: $("#emailaddress").val(), //Reading text box values using Jquery
            },
            success: function (result) {
                if (result) {
                    //alert("Email existing");
                    $('#myModal2').modal('show');
                }
                else {
                    alert("Email not exist you can rgister a new user.");
                }
            },

        });
    }





    function Specialoptionuser() {
        $('#myModal2').modal('hide');
        //alert("fire")

        $.ajax({
            type: "POST",
            url: '@Url.Action("CreateSpecialoptionuser", "Account")',
            data: { //Passing data
                email: $("#emailaddress").val(), //Reading text box values using Jquery
            },
            success: function (data) {
                if (data) {
                    alert("User Registered Successfully");
                    window.location.href = data.redirectTo;
                }
            }
        });
    }

</script>