﻿@{
    ViewBag.Title = "";
}
<script type="text/javascript">

</script>

<section id="selectLARFhaStep2" style="width:1160px;">
    @Html.AntiForgeryToken()
    <div id="dvContainer" class="container-fluid" ng-app="multiSelectModule" ng-controller="assignFHAsCtrl">
        <div class="row" style="margin-bottom:15px;">
            <h3 style="text-align:center; font-weight:bold;">Select FHA's for the Operator Account Representative</h3>
        </div>
        <div class="row" id="dvMultiSelect" style="margin-left:125px;">
            <span class="col-md-12" style="margin-bottom:25px;">
                <multi-select ng-model="selectedFHAs.fhas" available="FHAs" display-attr="Value" key-attr="Key"
                              available-label="Available FHAs" selected-label="Selected FHAs"></multi-select>
            </span>
            <div style="margin-left:20px;">
                <span>
                    <input type="button" value="Continue" ng-click="createUserLARLinks()" />
                </span>
                <span>
                    <input type="button" value="Cancel" onclick="window.location.href='/Account/RegisterUserStep1'" />
                </span>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/Content/multiSelect.css")" rel="stylesheet" type="text/css" />
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
<script src="~/Scripts/App/Directives/multiSelect.js"></script>
<script src="~/Scripts/App/Services/multiSelectSvc.js"></script>
<script src="~/Scripts/App/Controllers/roleCtrl.js"></script>


