﻿@using HUDHealthcarePortal.BusinessService

@model UserViewModel

@{
    ViewBag.Title = "";
}
<script type="text/javascript">
    $(document).ready(function () {
        var multiSelect = $("#dvMultiSelect1");

        //multiSelect.hide();
    });

    //function WLMChanged(e) {
    //    var wlmanagerID = $('#wlmId').val();
    //    angular.element($("#dvContainer")).scope().WLMChanged(e);
    //}

    function serviceUserChangedForFHANumbers(e) {
       // alert(221);
        angular.element($("#dvContainer1")).scope().serviceUserChangedForFHANumbers(e);
    }

</script>

<section id="selectServicerFhaStep2" style="width:1160px;">
    @Html.AntiForgeryToken()
    <div id="dvContainer1" class="container-fluid" ng-app="multiSelectModule" ng-controller="assignServicerFHAsCtrl1">
        <div class="row" style="margin-bottom:15px;">
            <h3 style="text-align:center; font-weight:bold;">Select FHA's for the Special Option user (Servicer)</h3>
        </div>

        <div class="row" style="margin-left:25px;margin-bottom:25px;">
            <span class="col-md-5 text-right">
                @Html.Label("Select Servicer")
            </span>
            <span class="col-md-7">
                @Html.DropDownListFor(m => m.SelectedServicerUserId, Model.AllServicerUsers, "Select Servicer", new { onchange = "serviceUserChangedForFHANumbers(this)" })
                @Html.ValidationMessageFor(m => m.SelectedServicerUserId)
            </span>
        </div>

        <div class="row" id="dvMultiSelect1" style="margin-left:125px;">
            <span class="col-md-12" style="margin-bottom:25px;">
                <multi-select ng-model="selectedServicerFHAs.fhas" available="FHAs" display-attr="Value" key-attr="Key"
                              available-label="Available FHAs" selected-label="Selected FHAs"></multi-select>
            </span>
            <div style="margin-left:20px;">
                <span>
                    <input type="button" value="Continue" ng-show="btncontinue" ng-click="createUserFHALARLinks()" />
                </span>
                <span>
                    <input type="button" value="Delete User" ng-click="deleteFHAs()" />
                </span>


                <span>
                    <input type="button" value="Cancel" onclick="window.location.href='/Account/RegisterUserStep1'" />
                </span>
            </div>
        </div>
    </div>
</section>
@section Styles {
    <link href="@Url.Content("~/Content/multiSelect.css")" rel="stylesheet" type="text/css" />
}
<script src="~/Scripts/angular.js"></script>
@*<script src="~/Scripts/angular.js"></script>*@
<script src="~/Scripts/angular-resource.js"></script>
<script src="~/Scripts/App/app.js"></script>
@*<script src="~/Scripts/App/Directives/multiSelect.js"></script>*@
<script src="~/Scripts/App/Directives/FHAsMultiSelect.js"></script>
<script src="~/Scripts/App/Services/multiSelectSvc.js"></script>
<script src="~/Scripts/App/Controllers/roleCtrl.js"></script>


