﻿
<style type="text/css">
    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }
</style>
<div class="form-horizontal row">
    <div class="form-group col-md-4">
        <label class="col-md-5 control-label">Production type</label>
        <div class="col-md-7">
            @Html.DropDownList("ApplicationType", null, new { @class = "form-control",id="Assigned_appType", data_placeholder = "Choose Application..." })
        </div>
    </div>
    <div class="form-group col-md-4">
        <label class="col-md-4 control-label">Status</label>
        <div class="col-md-8">
            @Html.DropDownList("StatusID", null, new { @class = "form-control" })
        </div>
    </div>
</div>
<div id="div_assignedTask">

    <table id="assignedTask"></table>
    <div id="pager2"></div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var type = $('#Assigned_appType').val();
        var status = $('#StatusID').val();
        "use strict";
        var $grid = $("#assignedTask");
        $grid.jqGrid({

            //data: data,
            //datatype: "local",
            url: '@Url.Action("GetAllProductionTasks", "ProductionQueue")',

            postData: { applicationType: type, status: status },
            datatype: 'local',
            colNames: ['Task Name', 'Action', 'Page Type','Loan type', 'Date Added', 'Status', 'Assigned By', 'Assigned To', 'Lender', 'Type', 'Project Details', 'Last Updated'],
            colModel: [
               {
                   name: "TaskName", index: "TaskName", width: 210, align: 'left', type: 'link',
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.TaskName != null) {

                           return ' style=" text-decoration: underline;Color:blue"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.TaskName == null) {
                           return "NA";
                       }
                       //else {

                       //    return '<a href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                       //}
                       else {

                           if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                               return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }

                           else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)') {
                               return '<a style=" text-decoration: underline;" href="/ProductionMyTask/GetForm290Task/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }
                           else {
                               return '<a href="/ProductionQueuelinktabs/GetassignedTaskDetail?taskInstanceId=' + (rowObject.TaskInstanceId) + '"  style="text-decoration: underline;">' + rowObject.TaskName + '</a>';
                               //return '<a>' + rowObject.projectName + '</a>';
                           }
                       }
                   }

               },

                { name: "TaskInstanceId", idex: "TaskInstanceId", hidden: true, width: 150 },
                 { name: "PageTypeId", idex: "PageTypeId", hidden: true, width: 70 },
                   { name: "LoanType", idex: "LoanType", width: 120 },
                { name: "StartTime", idex: "StartTime", width: 80, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                 { name: "Status", index: "Status", width: 100 },
                { name: "AssignedBy", index: "AssignedBy", width: 145},
                { name: "AssignedTo", idex: "AssignedTo", width: 145 },
                { name: "Lender", width: 120 },
                {
                    name: "Type", index: "Type", width: 90,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "<span class='badge' style='color: whitesmoke;'> closing</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "<span class='badge' style='color: whitesmoke;'>Amendment</span>"
                    }

                },
                {
                    name: 'SPData', index: 'SPData', width: 60,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId > '@((Int32)PageType.FhaRequest)')
                            //return "<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +
                            //         rowObject.TaskInstanceId +
                            //         "\")';></span>";
                            return "<span onclick='sharepointData(\"" +
                                rowObject.TaskInstanceId +
                                "\")';><img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
                        else return "";

                    }
                },
                { name: "ModofiedOn", index: "ModofiedOn", width: 80, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: "#pager2",
            rowNum: 20,
            rowList: [10, 20, 30,40],

            rownumbers: true,
            loadonce: true,
            caption: "Assigned Production Tasks",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            cmTemplate: { sortable: false },
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            //width: "750px",
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            //scroll: 1,
            onSelectRow: function(rowid) {

                return false;
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
              //  debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                subgrid_table_id = subgrid_id+"_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
                var selectedRow = $(this).getRowData(row_id).TaskInstanceId;

                if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
                    Type = 'View';
                    stat = true;
                }
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
                    // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123,
                    postData: { taskInstanceId: selectedRow },
                    datatype: 'json',
                    colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By'],
                    colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                       { name: "FhaType", index: "FhaType", width: 150 },
                        { name: "Status", idex: "Status", width: 200 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 200, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 200 },
                        { name: "AssignedBy", index: "AssignedBy", width: 150 }


                    ],
                    height: 'auto',
                    autowidth:true,
                    jsonReader: { repeatitems : false, root:"attribute" }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });

            }



        });
        $grid.jqGrid("navGrid", "#pager2",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

    });


    function FilterAssignedTasks() {
        var type = $('#Assigned_appType').val();
        var status = $('#StatusID').val();
        //$("#ProductionQueue").trigger("reloadGrid");
        $("#assignedTask").jqGrid('setGridParam', {
            datatype: 'json',
            postData: { "applicationType": type, "status": status }
        }).trigger('reloadGrid');
    };

    $('#Assigned_appType').change(function () {
        FilterAssignedTasks();
    });
    $('#StatusID').change(function () {

        FilterAssignedTasks();
    });

</script>