﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
@*<label id="lblsmg0" style="font-size:large;font-style:italic;font-weight:400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@
<label id="lblsmg0" style="font-size: small; font-style: italic; color: red; display: none;">Please correct document name for the highlighted rows.</label>


<div id="requestAdditionalMainGrid">

    <table id="requestAdditionalTaskGrid"></table>
    <div id="pager"></div>


</div>
<label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none;">Please correct  document name for the highlighted rows.</label>

@*<label id="lblsmg1" style="font-size: large; font-style: italic; font-weight: 400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@

<div id="commentGrid">

    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGrid">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>

@*<style type="text/css">
    .ui-jqgrid {
        font-size: 8.8em;
    }

    .mylink {
        text-decoration: underline;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.0em;
    }
    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }
    .hideButton {
       
        pointer-events: none;
        opacity: 0.4;
        
    }
    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            [type=file] + label:hover {
                background: #3399ff;
            }

    .historyImageCursor {
        cursor: pointer;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
</style>*@



<script type="text/javascript">

    function getFile(fileid) {
         //alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }

    function CommentHistoryDialog(id) {
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'comment', 'uploadDate'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#commentGrid").show();
            },


        });
    }

    function FileHistoryDialog(id) {
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        //return '<a  href="/FHARequest/DownloadTaskFile/?taskfileid=' + rowObject.fileId + '">' + rowObject.fileName + '</a>';
                   return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#fileGrid").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#fileGrid").show();
            },


        });
    }

    $(document).ready(function () {
        
        $("#requestAdditionalTaskGrid").jqGrid({
            //url: "/OPAForm/GetRequestAdditionalGridForLender?taskInstanceId=" + $("#TaskGuid").val() + "",
            url: "/ProductionApplication/GetRAIOpaHistoryGridContent?taskInstanceId=" + $("#TaskGuid").val() + "&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#FhaNumber").val() + "", 
            datatype: 'json',
            mtype: 'POST',
            colNames: ['id', 'Folder View',  'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'Action', 'Name', 'Role', 'Comment', 'File History', 'FileID', 'ChildFileID', 'Expected File Name', 'Attached File', 'File Size(KB)', 'Remove Attachment', 'Upload/Modify Evidence', 'DocTypeID', 'DocTypesList', 'New File Name'],
            colModel: [
                 { name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'folderNodeName', index: 'folderNodeName', width: 350, editable: false, hidden: false, sortable: false, align: 'left' },
                 

                 { name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },
                 {
                     name: 'parent', index: 'parent', width: 150, editable: false, hidden: true, sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.parent == null) {
                             return " "
                         }
                         else {
                             return cellvalue;
                         }
                     }
                 },
                 { name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
                { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
                { name: 'name', index: 'name', editable: false },
                { name: 'userRole', index: 'userRole', editable: false },
                {
                    name: "commentHistory", align: "center", width: 100,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileComment != null & rowObject.isFileComment) {
                            return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                        }
                        else if (rowObject.comment != null) {
                            return rowObject.comment;
                        }
                        else {
                            return " ";
                        }
                    }
                },
                {
                    name: "fileHistory", align: "center", width: 100,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileHistory != null & rowObject.isFileHistory) {
                            return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";
                        }
                        else {
                            return " ";
                        }
                    }
                },
                { name: 'fileId', index: 'fileId', editable: true, hidden: true },
                { name: 'childFileId', index: 'childFileId', editable: true, hidden: true },
                {
                    name: 'fileName', index: 'expectedFileName', editable: false, hidden: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.actionTaken === 'New File Upload' || rowObject.actionTaken === 'New File Request(s)' || cellvalue  == null || cellvalue.toLocaleLowerCase() == 'na') {
                            return " ";
                        }
                        else {
                            return cellvalue;
                        }
                    }
                },
                {
                    name: 'newfile', index: 'newfile', type: 'link', width: 120,
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.fileName != null) {

                            return ' style="text-decoration: underline"';
                        }
                    },
                    formatter: function (cellvalue, options, rowObject) {
                       // debugger;
                        if (rowObject.childFileId != null) {
                            //return '<a  href="/FHARequest/DownloadTaskFile/?taskfileid=' + rowObject.childFileId + '">' + rowObject.childFileName + '</a>';
                        return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                        } else if (rowObject.actionTaken === 'New File') {
                            //karri
                            //return '<a  href="/FHARequest/DownloadTaskFile/?taskfileid=' + rowObject.fileId + '">' + rowObject.fileName + '</a>';
                            return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                        }
                        else {
                            return " ";
                        }
                    }
                },
                {
                    name: 'fileSize',
                    index: 'fileSize',
                    editable: false,
                    width: 90,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.fileName == null || cellvalue == null ) {
                            return " ";
                        } else {
                            return cellvalue;
                        }
                    }
                },
                 {
                     name: 'removefile',
                     index: 'removefile',
                     width: 150,
                     sortable: false,
                     hidden: true,
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.isApprove) {
                             return " ";
                         }
                         else if (rowObject.childFileId != null) {
                             if (rowObject.actionTaken === 'Request Addtional Information')
                             {
                                 return " ";
                             }
                             else
                             {
                                 return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";

                                
                             }
                                
                            // return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";

                               
                         } else if (rowObject.actionTaken === 'New File' && rowObject.fileId != null) {
                             //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                             return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                            
                         }
                         else {
                             return " ";
                         }
                     }
                 },
               {
                   name: 'attachfile',
                   index: 'attachfile',
                   width: 150,                  
                   sortable: false,
                   hidden: true,
                   formatter: function (cellvalue, options, rowObject) {
                       // debugger;
                       //if (rowObject.isApprove) {
                       //    return " ";
                       //}
                       //else if (rowObject.fileId == null && rowObject.comment == null) {
                       //    return " ";
                       //}
                       var CheckTransAccessStatus = $('#TransAccessStatus').val();
                       if (CheckTransAccessStatus.toLowerCase() == "true") {
                           $("#lblsmg").show();
                           $("#lblsmg0").show();
                           $("#lblsmg").text("The file upload functionality is not available at this time. Please try it later.");
                           $("#lblsmg0").text("The file upload functionality is not available at this time. Please try it later.");
                       }
                       if (rowObject.actionTaken === 'New File Request(s)' && rowObject.level == 1) {
                           //  debugger;
                           var res = options.rowId.split("_");
                           var folderkey;
                           if (res.length > 0)
                           {
                               folderkey = res[res.length - 1];
                           }
                          

                           if (CheckTransAccessStatus.toLowerCase() == "true") {
                              
                               return '<input id=\'' + options.rowId + '_btnUploadFile\' style class="btn btn-success" type=\'button\' title=\'Attach File(s)\'value=\'Attach\' onclick=\'UploadNewFiles(' + folderkey + '); return false;\'  />'

                           }
                           return '<input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Attach File(s)\'value=\'Attach\' onclick=\'UploadNewFiles(' + folderkey + '); return false;\'  />'
                       }
                       else if (rowObject.actionTaken === 'Request Addtional Information') {
                           if (CheckTransAccessStatus.toLowerCase() == "true") {
                               return '   <input id=\'' + options.rowId + '_btnUploadFile\' type=\'File\' value=\'\' class=\'fileClass hideButton\' multiple=\'multiple\'   />' +
                                   '<label id="" for=\'' + options.rowId + '_btnUploadFile\' class=\'fileClass hideButton\'> Attach </label>';
                           }
                           return '<input id=\'' + options.rowId + '_btnAttachFile\' type=\'File\' class=\'fileClass hidden\' multiple=\'multiple\'/>' +
                               '<label id="" for=\'' + options.rowId + '_btnAttachFile\'title=\'Attach File(s)\' class=\'btn btn-success\'> Attach </label>';

                           }
                       else
                       {
                           return " ";
                       }
                       //else {
                       //    return '   <input id=\'' + options.rowId + '_btnAttachFile\' type=\'File\' value=\'\' class=\'fileClass\'    />' +
                       //        '<label id="" for=\'' + options.rowId + '_btnAttachFile\' class=\'fileClass\'> Attach </label>';
                       //}
                   }
               },
                 { name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false},
                      {

                          name: 'DocTypeID', index: 'DocTypeID', type: 'link', width: 210, editable: false,

                          searchoptions: {
                              // dataInit is the client-side event that fires upon initializing the toolbar search field for a column
                              // use it to place a third party control to customize the toolbar
                              dataInit: function (element) {
                                  $(element).autocomplete({
                                      id: 'AutoComplete',
                                      source: function (request, response) {
                                          this.xhr = $.ajax({
                                              url: 'DocTypesList',
                                              data: request,
                                              dataType: "jsonp",
                                              success: function (data) {
                                                  response(data);
                                                  window.window.isFileAttached = true;
                                              },
                                              error: function (model, response, options) {
                                                  response([]);
                                              }
                                          });
                                      },
                                      autoFocus: true
                                  });
                              }
                          },

                          formatter: function (cellvalue, options, rowObject) {
                              if (rowObject.level == 0) {
                                  return ''
                              }
                              else {
                                  if (rowObject.DocTypeID == null && rowObject.DocTypesList != null) {

                                      return rowObject.DocTypesList
                                  }
                                  else

                                      return ''
                              }
                          }

                      },

            ],
            pager: jQuery('#pager'),
            cellEdit: false,
            width: 1370,
            cellsubmit: 'clientArray',
            rowNum: 10,
            treeGrid: true,
            autoRowHeight: false,
            treeGridModel: 'adjacency',
            treedatatype: "json",
            ExpandColumn: 'folderNodeName',
            sortname: 'id',
            loadonce: false,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            caption: 'Documentation Grid',
            //width: 1250,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
           
            onSelectRow: function (rowId) {
                $("#requestAdditionalTaskGrid").jqGrid('toggleSubGridRow', rowId);

            },
           
            loadComplete: function () {
               // debugger;
                if ($("#TaskStepId").val() == 16 && $("#IsLoggedInUserLender").val().trim().toLocaleLowerCase() == 'true') {
                    jQuery("#requestAdditionalTaskGrid").jqGrid('showCol', ["removefile", "attachfile"]);
                }
               
            },
            loadError: function (xhr, status, error) {

            },
            multiselect: false,
            gridComplete: function () {
                var rows = $("#requestAdditionalTaskGrid").getDataIDs();
                // debugger;
                for (var i = 0; i < rows.length; i++) {
                    var doclist = $("#requestAdditionalTaskGrid").getCell(rows[i], "DocTypesList");
                    var docTypeId = $("#requestAdditionalTaskGrid").getCell(rows[i], "DocTypeID");

                    if ((doclist != null && doclist != "")) {
                        // debugger;
                        $("#requestAdditionalTaskGrid").jqGrid('setRowData', rows[i], false, { background: '#7db0d7' });
                        $("#lblsmg").show();
                        $("#lblsmg0").show();                     
                  
                    }
                   
                }
                $('.tree-plus').trigger('click');
                
            },
            autoencode: true,
         
            beforeSelectRow: function (rowid, e) {
                var $self = $(this), 
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;
               
                
                if (cmName === "commentHistory") {

                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        CommentHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyCommentGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileCommentHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "fileHistory") {

                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        FileHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyFileGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileUploadHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "attachfile") {

                    var elements = document.getElementsByClassName('fileClass');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].addEventListener('change',
                            handleFileSelect, false);
                    }
                }
                if (cmName === "removefile") {
                    handleDeleteFile(e.target.id);
                }
              
            }
           


        }).jqGrid("hideCol", "subgrid").navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });


    });




    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }
</script>
<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        //Validations
        var Size = 0;
        var cnt = this.files.length;
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }

        if (Size > 1073741824) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB)");

            //reset file upload control
            return false;
        }


        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }
        }

       // debugger;
        var id = evt.target.id;
        var idvalue = id.split("_")[0];
        $("#requestAdditionalTaskGrid").getRowData(idvalue);
        var fileIdValue = id.split("_")[1];
        var expectedFileNameValue = $("#requestAdditionalTaskGrid").jqGrid('getCell', idvalue, 'fileName');
        var childInstanceIdValue = $("#ChildTaskInstanceId").val();
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("fileId", fileIdValue);
                data.append("childInstanceId", childInstanceIdValue);
                data.append("expectedFileName", expectedFileNameValue);

                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    type: "POST",
                    url: "/ProductionApplication/SaveRAIToTaskFileHistory/?propertyid=" + '@Model.PropertyId' + '&Fhanumber=' + '@Model.FhaNumber' + '&TaskfileId=' + fileIdValue,
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data,
                    success: function (result) {
                       //debugger;
                        if (result === "Success") {
                            window.isFileAttached = true;
                            
                            jQuery('#requestAdditionalTaskGrid').trigger('reloadGrid');
                        }
                        else {
                            window.isFileAttached = false;
                            alert("Sorry, an error occurred while uploading the file. Please go to the “Help Desk” tab on the menu and submit the query. Thank you for your patience!");
                           
                        }
                       // document.location.reload();
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }


    }

    function handleDeleteFile(id) {
        //  debugger;
        if (id)
        {
            var childFileId = id;
            $("#spinner").attr('class', 'overlay');
            $.ajax({
                type: "POST",
                url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

                contentType: false,
                processData: false,
                cache: false,
                success: function (result) {
                    //  debugger;
                    if (result === "Success") {
                        alert("File Deleted Successfully");
                        isFileAttached = false;
                        $("#requestAdditionalTaskGrid").trigger('reloadGrid');
                        //  window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();

                    }
                },
                error: function (xhr, status, p3, p4) {
                    //  debugger;
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        }
        
    }
    function ChangrDocTypeConfirmation(fid) {
      
        var selectedValue = $("#" + fid + "_ddlDocType" + " :selected").val();
        var selectedText = $("#" + fid + "_ddlDocType" + " :selected").text();

        var txt;
        if (confirm("Are you sure you want to assign this file name to the file?") == true) {
            var url = '@Url.Action("changeDoumentType", "ProductionApplication")';
            //debugger;
            $.ajax({
                url: url,
                type: 'POST',
                data: { fileId: fid, docType: selectedValue, DocName: selectedText, taskinstanceId: '@Model.ChildTaskInstanceId', referrer: "RAI" },
                success: function (data) {
                    window.isFileAttached = true;
                },
                error: function (data) {
                    alert("Error on changing document name.");
                },

            });
            $("#requestAdditionalTaskGrid").trigger('reloadGrid');
            $("#lblsmg").hide();
            $("#lblsmg0").hide();
           // window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
        }


    }
</script>