﻿@model HUDHealthcarePortal.Model.OPAViewModel
@using Core
@using Model



@using HUDHealthcarePortal.Core


@{
    ViewBag.Title = "";

}
<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }

    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
</style>

<section id="projectactionform" style="width: 1300px; height: 1150px;">
    <div id="dialogCommon"></div>
    @if (Model.TaskStepId == (int)TaskStep.ProjectActionRequestComplete)
    {
        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) - Request Additional Information (Completed)</b></h4>
    }
    else
    {
        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) - Request Additional Information (In process)</b></h4>
    }

    <div id='dialogDiv' class='modal fade in'>
        <div id='dialogContent'></div>
    </div>
    <div id="paform">
        @using (Html.BeginForm("LenderChildSubmit", "ProductionApplication", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm" }))
        {

            @Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
            @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
            @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
            @Html.HiddenFor(m => m.taskxrefId, new { id = "TaskxrefId" })
            @Html.HiddenFor(m => m.viewId, new { id = "ViewId" })
            @Html.HiddenFor(m => m.IsLoggedInUserLender, new { id = "IsLoggedInUserLender" })
            @Html.HiddenFor(m => m.TaskStepId, new { id = "TaskStepId" })
            @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
            @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
            @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
            @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
            @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
            @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
            @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
            @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
            @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
            @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
            @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
            @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
            @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
            @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
            @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
            @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
            @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
            @Html.HiddenFor(m => m.PropertyId, new { id = "PropertyId" })
            @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
            @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
            @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
            @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
            @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
            @Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
            @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
            @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
            @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })
            @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "isAgreementAccepted" }) // User Story 1901
            @Html.HiddenFor(m => m.DisclaimerText, new { id = "DisclaimerText" }) // User Story 1901
                @Html.HiddenFor(m => m.pageTypeId, new { id = "PageTypeId" })
                @Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
                @Html.HiddenFor(m => m.PropertyAddress.City)
                @Html.HiddenFor(m => m.PropertyAddress.StateCode)
                @Html.HiddenFor(m => m.PropertyAddress.ZIP)
                @Html.HiddenFor(m => m.IsAddressChange)
                @Html.HiddenFor(m => m.AEComments)
                @Html.HiddenFor(m => m.ChildTaskInstanceId, new { id = "ChildTaskInstanceId" })
            @Html.HiddenFor(m => m.TransAccessStatus, new { id = "TransAccessStatus" })

                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right required">
                            @Html.Label("FHA Number", new { @class = "required" })
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Project Number")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Property Name")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <hr />
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-11 text-center">
                            @Html.Label("Property Address")
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Street Address")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("City")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("State")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Zip code")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Is the property address listed correctly?")
                        </span>
                        <span class="col-md-1 text-right">
                            <label>Yes</label>
                            <span>

                                @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", @disabled = "disabled" })

                            </span>
                        </span>
                        <span class="col-md-1 text-right">
                            <label>No</label>
                            <span>

                                @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", @disabled = "disabled" })

                            </span>
                        </span>
                    </div>
                </div>
                <hr />
                <div class="container-fluid" style="padding-top: 15px; display: none">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Date of Request")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Requester's Name")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.RequesterName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Date of Lender's Submission")
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Project Loan Type", new { @class = "required" })
                        </span>
                        <span class="col-md-4">
                            @Html.LabelForModel(Model.ProjectActionName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                        </span>
                    </div>
                </div>
                <hr />
                @*<div class="container-fluid" style="padding-top: 15px">
                        <span class="col-md-4 text-left">
                            <button type="button" id="Rearrange" class="btn btn-primary btn-sm" onclick='Reorder(); return false;'> Rearrange<span class="badge"> FILES</span></button>
                            <button type="button" id="CopyFile" class="btn btn-primary btn-sm" onclick='Copy(); return false;'> Copy<span class="badge"> FILES</span></button>
                        </span>
                    </div>*@
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        @Html.Partial("~/Views/Production/ApplicationRequest/_RAIReadOnlyHistoryGrid.cshtml", Model)
                    </div>
                </div>


            if (Model.TaskStepId == 16 && Model.IsLoggedInUserLender)
            {
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row" style="margin-top:10px">
                        <span class="col-md-4 text-right" style="margin-top: 15px;">
                            <label class="required">Lender Comments :</label>
                        </span>
                        <span class="col-md-4 text-left" style="margin-top: 15px;">
                            @Html.TextAreaFor(m => m.LenderComment, new { id = "txtRAI", @style = "height:70px;width:300px;", maxlength = "500" })
                        </span>
                    </div>
                </div>
                <div class="container-fluid">
                    <div id="dvSubmit" class="row" style="margin-top:10px">
                        <div id="dvApproveDeny" class="container-fluid" style="margin-top:10px">
                            <div class="row" style="margin-top: 10px;">
                                <span class="col-md-5 text-right" style="padding-right:10px">
                                    <input type="submit" value="Submit" id="btnApprove" name="submitButton" />
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <hr />

            <div id="dvBack" class="container-fluid" style="margin: 0 auto;">
                @if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
                {
                    <span class="col-md-1 text-right">

                        <input type="button" class="btn btn-info btn-sm" value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]})'" />
                    </span>
                }
                else if (Model.IsLenderPAMReport)
                {
                    <span class="col-md-1 text-right">
                        @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                        <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
                    </span>
                    <div class="row">
                        <span class="col-md-4">
                            @Html.HiddenFor(m => m.PropertyName)
                            @Html.HiddenFor(m => m.TaskId)
                        </span>
                    </div>
                }
                else if (!Model.IsPAMReport)
                {
                    <span class="col-md-1 text-right">
                        @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My Tasks" onclick="location.href='@Url.Action("index", "ProductionMyTask", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />*@
                        <input type="button" class="btn btn-info btn-sm" value="Return to My Tasks" onclick="location.href='@Url.Action("index", "ProductionMyTask")'" />

                    </span>
                }
                else
                {
                    <span class="col-md-1 text-right">
                        <input type="button" class="btn btn-info btn-sm" value="Return to PAM Report" onclick='history.go(-1);' />
                    </span>
                    <div class="row">
                        <span class="col-md-4">
                            @Html.HiddenFor(m => m.PropertyName)
                            @Html.HiddenFor(m => m.TaskId)
                        </span>
                    </div>
                }
            </div>
        }
    </div>
</section>

<script>
    function UploadNewFiles(key) {
        //window.isFileAttached = false;
       
        //  var model= $('#projectActionFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });
        //debugger;
        var model = JSON.stringify($('#projectActionFrm').serializeArray());
        var obj = JSON.parse(model);
        
        //var list=obj.join(",");
        var list = [];
        for (var i = 0; i < obj.length; i++) {
            if (obj[i].name == "LenderComment") {
                obj[i].value = "";
            }
            list.push(JSON.stringify(obj[i]));
            /// var item= JSON.stringify(obj[i] );
        }
        //("#packages").trigger("reloadGrid");
        
        $('#dialogContent').load('@Url.Action("LenderReUploadPopupLoad", "ProductionApplication")', { FolderKey: key, Model: list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        //debugger;
        window.isFileAttached = true;
        
        return false;

    }

</script>
<script>
    var isFileAttached = false;
    $(document).ready(function () {
       //debugger;
        var myJsVariable = '@ViewBag.UploadFailed'
        if (myJsVariable.toLowerCase() == "true") {
            alert("Sorry, an error occurred while uploading the file. Please go to the “Help Desk” tab on the menu and submit the query. Thank you for your patience!");
        }
        // User Story 1901 - Removed button submit and set txtAgreementAccepted value
        $("#isAgreementRequiredErrorMessage").hide();
       // debugger;

        $('.rdIsAgreementAccepted').change(function () {
            // debugger;
            $("#isAgreementRequiredErrorMessage").hide();
            if (this.checked) {
                //if ($('#btnSubmit').click())
                //{
                //    $(this).prop('checked', false);
                //    return false;
                //}
                $("#isAgreementAccepted").val('True');

            }
            else {
                $("#isAgreementAccepted").val('False');
            }

        });
      if ('@Model.IsChangeDocTypePopupDisplayed' == 'True'){

            alert("Please correct the file name to continue.");

        }

        $('#btnApprove').click(function () {
            //debugger;
            //alert($("#txtIsFileUploaded").val());
            // if ($("#txtIsFileUploaded").val() == false
            var isFileUploaded = false;
            if (isFileAttached == true || '@ViewBag.IsFileAttached' == 'True' ) {
                isFileUploaded = true;
            } 
            if (isFileUploaded == false && $("#txtRAI").val() === "") {
                            alert("Comments are mandatory if the files are not attached");
                            return false;
                    }
                    else
                    {
                        return true;
                    }
      });


        //   $('#divHtml').hide();
        @*$('.fileClass').on('change', function (e) {
        alert("file");
        $("#isAgreementRequiredErrorMessage").hide();
        //Validations
        var Size = 0;
        var cnt = this.files.length;
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }

        if (Size > 1073741824) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB)")

            //reset file upload control
            return false;
        }


        //var chkListId = $(this).attr("checklistid");

        //$.each(data.files, function (index, file) {
        //    $('#txt_' + chkListId).text(file.name);
        //    $('#txt_' + chkListId).val(file.name);
        //});
        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF|png)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }

        }
        var files = e.target.files;
        //  debugger;
        var fhaNumber = $('#FhaNumber').val();
        var lendercomment = $('#txtRAI').val();

        var ProjectActionTypeId = $('#ProjectActionTypeId').val();

        var TaskGuid = $('#TaskGuid').val();
        // var Mode = $('#Mode').val();



        //var myID = 3; //uncomment this to make sure the ajax URL works
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }

                data.append("FHA", fhaNumber);



                data.append("ProjectActionTypeId", ProjectActionTypeId);

                data.append("TaskGuid", TaskGuid);
                data.append("lendercomment", lendercomment);

                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    type: "POST",
                    url: '/OPAForm/ReAttachFile/Taskid?=@Model.TaskId',
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data,
                    success: function (result) {
                        // debugger;

                        $("#paform").html('');
                        $("#paform").html(result);
                        $("h4:first").html('');
                        $("#isAgreementRequiredErrorMessage").hide();
                        Readonly = true;
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });*@



    });
     function Copy() {
        var model=JSON.stringify( $('#AppFrm').serializeArray() );
        var obj = JSON.parse(model);
        var list=[];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i] ));

        }

        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("FileCopyPopupLoad", "ProductionApplication")', { taskInstanceId: $("#TaskInstanceId").val(), Model:list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');

            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
      function Reorder() {
        // debugger;
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });

        var model=JSON.stringify( $('#AppFrm').serializeArray() );
        var obj = JSON.parse(model);
        //var list=obj.join(",");
        var list=[];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i] ));
            /// var item= JSON.stringify(obj[i] );
        }
        //("#packages").trigger("reloadGrid");
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("FolderRearrangePopupLoad", "ProductionApplication")', { taskInstanceId: $("#TaskInstanceId").val(), Model:list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
     function reArrangeDocType(){

        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("DocTypeRearrangePopup", "ProductionApplication")', { taskInstanceId: $("#GroupTaskInstanceId").val() }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    function Removefile(taskFileId, groupTaskInstanceId) {
        // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
        // debugger;
        //alert(taskFileId);
        $("#isAgreementRequiredErrorMessage").hide();
        var TaskGuid = $('#TaskGuid').val();
        var lendercomment = $('#txtRAI').val();
        var data = new FormData();
        data.append("TaskGuid", TaskGuid);
        data.append("lendercomment", lendercomment);
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/Removefile/TaskGuid?=' + TaskGuid,
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');

                //$("remove_" + taskFileId).hide();
                //$("#spinner").hide();

                //$('#ddlFHANumbers').attr('readonly', true);
                //$("#ddlFHANumbers").css("background-color", "#eee");
                //$('#requestDate').attr('readonly', true);
                //$("#requestDate").css("background-color", "#eee");
                //$('#projectActionType').attr('readonly', true);
                //$("#projectActionType").css("background-color", "#eee");
                $("#isAgreementRequiredErrorMessage").hide();




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }
</script>