﻿@model HUDHealthcarePortal.Model.OPAViewModel
@using HUDHealthcarePortal.Core
@using Core
@using Model

@{
	ViewBag.Title = "";

}


<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>

@*<link href="../../Content/formUpload.css" rel="stylesheet">*@
<style>
	.ui-dialog .ui-dialog-titlebar-close {
		position: relative !important;
		float: right !important;
		margin: 1px 0 0 0 !important;
	}

	.fileClass {
		width: 75px !important;
		padding: 5px !important;
	}

	.disabled {
		pointer-events: none;
		/*opacity: 0.4;*/
	}

	.btn-outline-*;
</style>
<div id='dialogDiv' class='modal fade in'>
	<div id='dialogContent'></div>
</div>
<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
	 role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" style="width:400px;">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-time">
					</span>Please Wait....
					<h6>System is Generating PDF for Sharepoint Data Entry</h6>
				</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info
                    progress-bar-striped active"
						 style="width: 70%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal ends Here -->
<section id="projectactionform" style="width: 1300px; height: 1150px;">

	<div id="dialogCommon"></div>
	@if (Model.RequestStatus == 2)
	{


		<h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Complete)</b></h4>
	}

	else if (Model.RequestStatus == 5)
	{


		<h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Withdrawn)</b></h4>
	}
	else
	{

		<h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Under review)</b></h4>

	}

	@using (Html.BeginForm("ApproveOrDenyApplicationRequest", "ProductionApplication", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm" }))
	{

		@Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
		@Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
		@Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
		@Html.HiddenFor(m => m.taskxrefId, new { id = "TaskxrefId" })
		@Html.HiddenFor(m => m.isChildTaskOpen, new { id = "IsChildTaskOpen" })
		@Html.HiddenFor(m => m.viewId, new { id = "ViewId" })
		@Html.HiddenFor(m => m.TaskStepId, new { id = "TaskStepId" })
		@Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
		@Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
		@Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
		@Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
		@Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
		@Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
		@Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
		@Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
		@Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })
		@Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })
		@Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
		@Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
		@Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
		@Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
		@Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
		@Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
		@Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
		@Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
		@Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
		@Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
		@Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
		@Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
		@Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
		@Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
		@Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
		@Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
		@Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
		@Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
		@Html.HiddenFor(m => m.pageTypeId, new { id = "PageTypeId" })

		@Html.HiddenFor(m => m.NoOfPendingRAI, new { id = "NoOfPendingRAI" })
		@Html.HiddenFor(m => m.userName, new { id = "UserName" })
		@Html.HiddenFor(m => m.userRole, new { id = "UserRole" })
		@Html.HiddenFor(m => m.IschildTask, new { id = "IsChild" })

		@Html.HiddenFor(m => m.hasReviewComments, new { id = "HasReviewComments" })

		@Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
		@Html.HiddenFor(m => m.PropertyAddress.City)
		@Html.HiddenFor(m => m.PropertyAddress.StateCode)
		@Html.HiddenFor(m => m.PropertyAddress.ZIP)

		@Html.HiddenFor(m => m.IsAddressChange)
		@Html.HiddenFor(m => m.ButtonName)
		@Html.HiddenFor(m => m.DenyStatus, new { id = "btnDisApprove" })



		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right required">
					@Html.Label("FHA Number", new { @class = "required" })
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Project Number")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyId.ToString(), new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Property Name")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<hr />
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-11 text-center">
					@Html.Label("Property Address")
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Street Address")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("City")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("State")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Zip code")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid" style="padding-top: 15px">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Is the property address listed correctly?")
				</span>
				<span class="col-md-1 text-right">
					<label>Yes</label>
					<span>

						@Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", @disabled = "disabled" })

					</span>
				</span>
				<span class="col-md-1 text-right">
					<label>No</label>
					<span>

						@Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", @disabled = "disabled" })

					</span>
				</span>
			</div>
		</div>
		<hr />
		<div class="container-fluid" style="padding-top: 15px;display:none">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Date of Request")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid" style="padding-top: 15px">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Requester's Name")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.RequesterName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid" style="padding-top: 15px">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Date of Lenders's Submission")
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<div class="container-fluid" style="padding-top: 15px">
			<div class="row">
				<span class="col-md-4 text-right">
					@Html.Label("Project  Loan Type", new { @class = "required" })
				</span>
				<span class="col-md-4">
					@Html.LabelForModel(Model.ProjectActionName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
				</span>
			</div>
		</div>
		<hr />
		<div id="dvEdit" class="container-fluid">

		</div>

		<div id="disableview">
			@if (Model.IsEditMode && (Model.viewId == (int)ProductionView.UnderWriter || Model.viewId == (int)ProductionView.Appraiser || Model.viewId == (int)ProductionView.Environmentalist || Model.viewId == (int)ProductionView.Survey))
			{

				<div class="container-fluid" style="padding-top: 15px">
					<div class="row">
						<span class="col-md-offset-5 text-right">
							@if (!((Model.pageTypeId == ((Int32)PageType.ClosingAllExceptConstruction) && Model.ProjectActionTypeId != (Int32)ProdProjectTypes.IRR) || Model.pageTypeId == ((Int32)PageType.ClosingConstructionInsuredAdvances) || Model.pageTypeId == ((Int32)PageType.ClosingConstructionInsuranceUponCompletion)))
							{
								if (((Model.pageTypeId == ((Int32)PageType.ClosingAllExceptConstruction) && Model.ProjectActionTypeId == (Int32)ProdProjectTypes.IRR)))
								{
									<div class="btn-group">
										<button class="btn btn-primary btn-sm dropdown-toggle" type="reset" data-toggle="dropdown">
											Send Email To:
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a id="btnSendToLender" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Lender</a></li>
											<li><a id="btnSendToProdUser" onclick="sendEmailToProdUser('@Model.TaskInstanceId');return false;">Production Users</a></li>
										</ul>
									</div>
                                }
                                else
                                {
                                    if (!(Model.pageTypeId == ((Int32)PageType.Amendments)))
                                    {
                                        <button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send email to <span class="badge">Lender and CC Closer</span></button>
                                    }
                                }

                            }
							<button type="reset" class="btn btn-primary btn-sm" onclick="assignExternalReviewer('@Model.TaskInstanceId');return false;">Assign<span class="badge">External Reviewer</span></button>
							<button type="reset" class="btn btn-primary btn-sm" onclick="NavigateToRegister('@Model.taskxrefId');return false;">Register<span class="badge">External Reviewer</span></button>
							@*<button type="reset" id="Rearrange" class="btn btn-primary btn-sm" onclick='reArrangeDocType(); return false;'> Rearrange<span class="badge"> Doc Type</span></button>*@
						</span>
					</div>
				</div>
			}
		</div>
		//Umesh

		<div class="container-fluid" style="padding-top: 15px">
			<div class="row">
				@Html.Partial("~/Views/Production/ApplicationRequest/_ApplicationHUDGrid.cshtml", Model)
			</div>

		</div>
		<hr />
		@Html.Partial("~/Views/Production/ApplicationRequest/_TabbedWorkProduct.cshtml", Model)
		<hr />
		<div id="dvEdit" class="container-fluid" style="padding-top: 20px">
			@*@if (Model.IsEditMode && Model.viewId != (int)ProductionView.UnderWriter)
				{
				<div class="row" style="margin-top:10px">
					<span class="col-md-4 text-right" style="margin-top: 15px;">
						<label class="required">Comments :</label>
					</span>
					<span class="col-md-3" style="  margin-top: 10px;">
						<textarea id="crComments" style="height:70px;width:300px;" maxlength="500"></textarea>
					</span>
				</div>
				<div>
					<span class="col-md-5 text-right">
						<input type="button" class="btn btn-primary btn-sm active" value="Complete Review" id="btncomplete" name="completeButton" />
					</span>
				</div>
				}*@

			@if (!Model.IsEditMode || Model.RequestStatus == 2 || Model.RequestStatus == 5
			|| Model.IschildTask.HasValue && Model.IschildTask.Value == true)
			{

				<div id="dvBack" class="container-fluid" style="margin: 0 auto;">

					@if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
					{
						<span class="col-md-1 text-right">

							<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />
						</span>

					}
					else if (Model.IsLenderPAMReport)
					{
						<span class="col-md-1 text-right">
							@*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
							<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
						</span>
						<div class="row">
							<span class="col-md-4">
								@Html.HiddenFor(m => m.PropertyName)
								@Html.HiddenFor(m => m.TaskId)
							</span>
						</div>
                    }
                   
                    @*Added by siddu #841 21042020*@
                    else if (Model.IsProdQueuCompleted)
                    {
                        <span class="col-md-1 text-right">
                            @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                            <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                        </span>
                        <div class="row">
                            <span class="col-md-4">
                                @Html.HiddenFor(m => m.PropertyName)
                                @Html.HiddenFor(m => m.TaskId)
                            </span>
                        </div>
                    }
                    @*Added by siddu #841 21042020*@
                    else if (Model.IsProdQueuCompleted)
                    {
                        <span class="col-md-1 text-right">
                            @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                            <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                        </span>
                        <div class="row">
                            <span class="col-md-4">
                                @Html.HiddenFor(m => m.PropertyName)
                                @Html.HiddenFor(m => m.TaskId)
                            </span>
                        </div>
                    }
                    @*Added by siddu #841 21042020*@
                    else if (Model.IsProdQueuInprocess)
                    {
                        <span class="col-md-1 text-right">
                            @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                            <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                        </span>
                        <div class="row">
                            <span class="col-md-4">
                                @Html.HiddenFor(m => m.PropertyName)
                                @Html.HiddenFor(m => m.TaskId)
                            </span>
                        </div>
                    }
                    @*Added by siddu #841 21042020*@
                    else if (!Model.IsProdQueuQueue)
                    {
						<span class="col-md-1 text-right">
							<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My Tasks" onclick="location.href='@Url.Action("Index", "ProductionMyTask")'" />
						</span>
						if (Model.pageTypeId == ((Int32)PageType.ProductionApplication) && Model.viewId == (int)ProductionView.UnderWriter && (Model.IschildTask == null || Model.IschildTask.Value == false))
						{
							<span class="col-md-1 text-right" style="margin-left:60px;">
								<button id="btnLC" type="button" class="btn btn-primary btn-sm active" onclick="sharepointData('@Model.TaskInstanceId')" ;>Schedule Loan Committee</button>
							</span>
						}
					}
					else
					{
						<span class="col-md-1 text-right">
							<input type="button" class="btn btn-primary btn-sm active" value="Return to Pam Report" onclick='history.go(-1);' />


						</span>
						<div class="row">
							<span class="col-md-4">
								@Html.HiddenFor(m => m.PropertyName)
								@Html.HiddenFor(m => m.TaskId)
							</span>
						</div>
					}


				</div>

			}
			else if (Model.IsEditMode && Model.viewId != (int)ProductionView.UnderWriter)
			{
				<div id="dvReviewComplete" class="container-fluid" style="margin-top:10px">
					<div class="row" style="margin-top:10px">
						<span class="col-md-4 text-right" style="margin-top: 15px;">
							<label class="required">Comments :</label>
						</span>
						<span class="col-md-3" style="  margin-top: 10px;">
							@Html.TextAreaFor(m => m.AEComments, new { id = "reviewCompleteComment", @style = "height:70px;width:300px;", maxlength = "500" })
							@*<textarea id="reviewCompleteComment" rows="5" style="height: 70px; width: 300px;"></textarea>*@
						</span>
					</div>
					<div class="container-fluid" style="padding-top: 15px">
						<div class="row">
							<span class="col-md-5 text-right">
								<button type="submit" class="btn btn-info btn-sm" id="btncomplete">Complete Review</button>
							</span>

							@if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
							{
								<span class="col-md-1 text-right">
									<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />
								</span>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuQueue)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuCompleted)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuInprocess)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }

                            else if (Model.IsLenderPAMReport)
                            {
								<span class="col-md-1 text-right">
									@*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
									<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
								</span>
								<div class="row">
									<span class="col-md-4">
										@Html.HiddenFor(m => m.PropertyName)
										@Html.HiddenFor(m => m.TaskId)
									</span>
								</div>
							}
							else if (!Model.IsPAMReport)
							{
								<span class="col-md-1 text-right">
									@*<input type="button" class="btn btn-secondary" value="Return to My Tasks" onclick="location.href='@Url.Action("MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />*@
									<button type="reset" class="btn btn-info btn-sm" value="Return to My Tasks" onclick="location.href='@Url.Action("Index", "ProductionMyTask")'">Return to My Tasks </button>
								</span>

							}
							else
							{
								<span class="col-md-1 text-right">
									@*<input type="button" class="btn btn-info btn-sm" value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdPam", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
									<button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick='history.go(-1);'>Return to PAM Report</button>
								</span>
								<div class="row">
									<span class="col-md-4">
										@Html.HiddenFor(m => m.PropertyName)
										@Html.HiddenFor(m => m.TaskId)
									</span>
								</div>
							}


						</div>
						<div class="row" style="margin-top: 30px;">

						</div>
					</div>
				</div>

			}
			else
			{
				<div id="dvSubmit" class="container-fluid" style="margin-top:10px">
					<div class="row" style="margin-top:10px">
						<span class="col-md-4 text-right" style="margin-top: 15px;">
							<label class="required">Comments :</label>
						</span>
						<span class="col-md-3" style="  margin-top: 10px;">
							@Html.TextAreaFor(m => m.AEComments, new { id = "txtAEComments", @style = "height:70px;width:300px;", maxlength = "500" })
						</span>
					</div>
					<div class="container-fluid" style="padding-top: 15px">
						<div class="row">
							@*@if ((Model.pageTypeId == ((Int32)PageType.Amendments)))
								{
									<span class="col-md-5 text-right">
										<button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send email to <span class="badge">Lender</span></button>
									</span>
								}*@
							<span class="col-md-5 text-right">
								@if ((Model.pageTypeId == ((Int32)PageType.Amendments)))
								{
									<button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send email to <span class="badge">Lender and CC Closer</span></button>
								}
							</span>
							<span class="col-md-1 text-right">
								<button id="btnApprove" type="submit" class="btn btn-primary btn-sm active">Complete Review</button>
							</span>
							<span class="col-md-1 text-right">
								<button id="btnDisApprove1" type="submit" class="btn btn-danger btn-sm" value="Deny">Deny</button>
							</span>

							@if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
							{
								<span class="col-md-1 text-right">
									<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to My ReAssigned Tasks" onclick="location.href='@Url.Action("MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />
								</span>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuInprocess)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuCompleted)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }
                            @*Added by siddu #841 21042020*@
                            else if (Model.IsProdQueuQueue)
                            {
                                <span class="col-md-1 text-right">
                                    @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
                                    <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod queue" onclick="location.href='@Url.Action("Index", "ProductionQueue")'" />
                                </span>
                                <div class="row">
                                    <span class="col-md-4">
                                        @Html.HiddenFor(m => m.PropertyName)
                                        @Html.HiddenFor(m => m.TaskId)
                                    </span>
                                </div>
                            }
                            else if (Model.IsLenderPAMReport)
                            {
								<span class="col-md-1 text-right">
									@*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
									<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
								</span>
								<div class="row">
									<span class="col-md-4">
										@Html.HiddenFor(m => m.PropertyName)
										@Html.HiddenFor(m => m.TaskId)
									</span>
								</div>
							}
							else if (!Model.IsPAMReport)
							{
								<span class="col-md-1 text-right">
									@*<input type="button" class="btn btn-secondary" value="Return to My Tasks" onclick="location.href='@Url.Action("MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] })'" />*@
									<button type="reset" class="btn btn-info btn-sm" value="Return to My Tasks" onclick="location.href='@Url.Action("Index", "ProductionMyTask")'">Return to My Tasks </button>
								</span>
								if (Model.pageTypeId == ((Int32)PageType.ProductionApplication))
								{
									<span class="col-md-1 text-right" style="margin-left:40px;">
										<button id="btnLC" type="button" class="btn btn-primary btn-sm active" onclick="sharepointData('@Model.TaskInstanceId')" ;>Schedule Loan Committee</button>
									</span>
								}

							}
							else
							{
								<span class="col-md-1 text-right">
									@*<button id="btnApprove" type="submit" class="btn btn-primary btn-sm active" disabled="">Approve</button>*@
									<button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick='history.go(-1);'>Return to PAM Report</button>
								</span>
								if (Model.pageTypeId == ((Int32)PageType.ProductionApplication))
								{
									<span class="col-md-1 text-right" style="margin-left:40px;">
										<button id="btnLC" type="button" class="btn btn-primary btn-sm active" onclick="sharepointData('@Model.TaskInstanceId')" ;>Schedule Loan Committee</button>
									</span>
								}
								<div class="row">
									<span class="col-md-4">
										@Html.HiddenFor(m => m.PropertyName)
										@Html.HiddenFor(m => m.TaskId)
									</span>
								</div>
							}

						</div>
						<div class="row" style="margin-top: 30px;">

						</div>
					</div>
				</div>
			}

			<br />
		</div>
	}

</section>



<script>

    //Umesh[WP Grid Change

    function Upload(key) {

        //debugger;

        var model = JSON.stringify($('#projectActionFrm').serializeArray());
        var obj = JSON.parse(model);
        //var list=obj.join(",");
        var list = [];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i]));
            /// var item= JSON.stringify(obj[i] );
        }
        //("#packages").trigger("reloadGrid");
        $('#dialogContent').load('@Url.Action("UploadPopupLoadHUD", "ProductionApplication")', { FolderKey: key, Model: list.join("||||") }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        //  return false;




    }

    function reArrangeDocType() {

        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("DocTypeRearrangePopup", "ProductionApplication")', { taskInstanceId: '@Model.TaskInstanceId' }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function Removefile(taskFileId, TaskInstanceId) {
        // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
        // debugger;
        //alert(taskFileId);
        $("#isAgreementRequiredErrorMessage").hide();
        var TaskGuid = $('#TaskGuid').val();
        var lendercomment = $('#txtRAI').val();
        var data = new FormData();
        data.append("TaskGuid", TaskGuid);
        data.append("lendercomment", lendercomment);
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/Removefile/TaskGuid?=' + TaskGuid,
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment
            },
            cache: false,
            type: 'POST',
            success: function (response) {
                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');
                $("#isAgreementRequiredErrorMessage").hide();
            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex + 1) + '),th:nth-child(' + (columnIndex + 1) + ')').hide();
    }

    function Hidetabs() {

        if (('@Model.viewId' != 1 && '@Model.viewId' != 13) || ('@Model.pageTypeId' >= 9 && '@Model.pageTypeId' != 18)) {
            $("#tab2primary").addClass("tab-pane fade in active");
            $("#tab2primaryhead").addClass("active");
            $('#tab1primaryhead').hide();
            $('#tab1primary').hide();
        }
    }

    function DisableforPam() {
       // debugger;

        if ('@Model.IsPAMReport' == 'True') {
            $("#disableview").addClass("disabled");
            $("#reqNewFilecb").prop("disabled", true);

            $("#btnSubmit").prop("disabled", true);
            $(".fileClass").hide();

            $("#btncancel").prop("disabled", true);
            $("#txtAEComments").prop("disabled", true);
            $("#btnApprove").prop("disabled", true);
            $("#btnDisApprove1").prop("disabled", true);
            $("#btnReqFirm").prop("disabled", true);
            $("#btncomplete").prop("disabled", true);
          //  $("#btnreturn").prop("disabled", true);

            $("#reviewCompleteComment").prop("disabled", true);



        }
        if ('@Model.IsProdQueuQueue' == 'True'||'@Model.IsProdQueuInprocess' =='True'||'@Model.IsProdQueuCompleted'=='True') {
            $("#disableview").addClass("disabled");
            $("#reqNewFilecb").prop("disabled", true);

            $("#btnSubmit").prop("disabled", true);
            $(".fileClass").hide();

            $("#btncancel").prop("disabled", true);
            $("#txtAEComments").prop("disabled", true);
            $("#btnApprove").prop("disabled", true);
            $("#btnDisApprove1").prop("disabled", true);
            $("#btnReqFirm").prop("disabled", true);
            $("#btncomplete").prop("disabled", true);
            //  $("#btnreturn").prop("disabled", true);

            $("#reviewCompleteComment").prop("disabled", true);



        }
    }

    $(document).ready(function () {
        DisableforPam();
        Hidetabs();
        $("#butnSave").click(function () {
            //$('#divHtml').hide();
            window.location = "/ProductionMyTask/Index";
        });
        if ('@Model.IsApprovedPopupDisplayedForAe' == 'False') {
            //$('#divsubmit').hide();
            $('#divHtml').hide();
        }

        //Code for Firm Commitment Letter

        $('.fileClass').on('change', function (e) {
            // debugger;
            var Size = 0;
            var cnt = this.files.length;
            for (i = 0; i < cnt; i++) {
                Size += this.files[i].size;
            }

            if (Size > 1073741824) {
                //show an alert to the user
                alert("Your Allowed file size exceeded. (Max. 1 GB)")
                //reset file upload control
                return false;
            }



            for (i = 0; i < cnt; i++) {
                var uploadFile = this.files[i];
                if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                    alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                    return false;
                }

            }
            var files = e.target.files;
            var FhaNumber = $('#txtFhaNumber').val();
            var PropertyName = $('#txtPropertyName').val();
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();

            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
            var DisclaimerText = $('#DisclaimerText').val();
            var TaskInstanceId = $('#TaskInstanceId').val();
            var TaskId = $('#TaskId').val();
            var pageTypeId1 = $('#PageTypeId').val();
            var ButtonName = e.srcElement.name;
            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }
                    data.append("ButtonName", ButtonName);
                    data.append("FhaNumber", FhaNumber);
                    data.append("PropertyName", PropertyName);
                    data.append("requestDate", requestDate);
                    data.append("RequesterName", RequesterName);

                    data.append("ServicerSubmissionDate", ServicerSubmissionDate);
                    data.append("ProjectActionTypeId", ProjectActionTypeId);
                    data.append("ServicerComments", ServicerComments);
                    data.append("GroupTaskId", GroupTaskId);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("RequestStatus", RequestStatus);
                    //data.append("disclaimer", disclaimer);
                    //data.append("addressschanged", addressschanged);
                    data.append("TaskInstanceId", TaskInstanceId);
                    data.append("TaskId", TaskId)
                    data.append("DisclaimerText", DisclaimerText)
                    data.append("PageTypeId", pageTypeId1)

                    $("#spinner").attr('class', 'overlay');
                    $.ajax({
                        type: "POST",

                        url: '/OPAForm/uploadOpaFiles?Taskid=@Model.TaskGuid',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: data,

                        success: function (result) {
                            debugger;
                            $("#paform").html("");
                            $("#paform").html(result);
                            $("#paformreadonly").html("");
                            $("#paformreadonly").html(result);

                            $('#ddlFHANumbers').attr('readonly', true);
                            $("#ddlFHANumbers").css("background-color", "#eee");
                            $('#projectActionType').attr('disabled', true);
                            $('#projectActionType').attr('readonly', true);
                            $("#projectActionType").css("background-color", "#eee");

                            var addressschanged = $('#IsAddressChange').val();

                            if (addressschanged.toUpperCase() == 'TRUE') {
                                $('#rbYes').attr('checked', true);
                                $('#rbNo').attr('checked', false);

                            }
                            else {
                                $('#rbYes').attr('checked', false);
                                $('#rbNo').attr('checked', true);
                            }
                            $('#IsDrat').val('TRUE');

                            if (result === "Success") {
                                //alert("File Deleted Successfully");
                                jQuery('#opacontentnew').trigger('reloadGrid');

                            } else
                                if (result === "Success FWP") {
                                    //alert("File Deleted Successfully");
                                    jQuery('#opacontent').trigger('reloadGrid');

                                }
                                else if (result === "failed") {
                                    alert("Sorry, an error occurred while uploading the file. Please go to the “Help Desk” tab on the menu and submit the query. Thank you for your patience!");
                                    //jQuery('#TaskGrid').trigger('reloadGrid');

                                }

                            Readonly = true;
                        },



                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });
        $(".fileClass").click(function () {
            // debugger;
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
            }
            var IsDrat = $('#IsDrat').val();


            //  alert(status);
            //if (IsDrat.toUpperCase() == 'FALSE') {
            //    // $('#FhaNumber').removeAttr('readonly');
            //    if ($('#FhaNumber').val() == '') {
            //        alert("Please select an FHA Number");
            //        autocompleteTextBox.focus();
            //        return false;
            //    } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
            //        alert("Please select an FHA Number");
            //        autocompleteTextBox.focus();
            //        return false;
            //    } else if ($('#requestDate').val() == '') {
            //        alert("Please enter Request Date");
            //        $('#requestDate').focus();
            //        return false;
            //    } else if (projectActionSelected == false) {
            //        alert("Please select Project Action Type");
            //        $('#projectActionType').focus();
            //        return false;
            //    }
            //}





        });

        if ('@Model.IsApprovedPopupDisplayedForAe' == 'True') {
           // debugger;
            $('#dialogCommon').dialog('open');
        }
        $('#dialogCommon').dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == 'True' ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == 'True' ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == 'True' ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog('close');
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == 'False')
                    $('.ui-dialog-titlebar-close').hide();
            }
        });

    });

    $(document).ready(function () {
		var pageTypeId = $('#PageTypeId').val();
        if ($('#IsEditMode').val() == "False") {
            document.getElementById('dvEdit').style.display = 'none';
        }
		if (pageTypeId == '@((Int32)PageType.Amendments)')
		{
			$("#btncomplete").prop("disabled", true);
        }

		$('#btnGenTempl').click(function () {
			$("#btncomplete").prop("disabled", false);
        });

        $('#btnDisApprove1').click(function () {
            if ($('#txtAEComments').val() == '') {
                alert("Comments are required");
                $('#txtAEComments').focus();
                return false;
            }
            else {
                $("#btnDisApprove").val("Yes");
				$('#requestStatus').val(5);
				this.innerText = "Withdrawn";
				this.textContent = "Withdrawn";
            }
        });
    });
</script>

<script>
    //umesh
    $("#btnReqFirm").click(function () {
        // debugger;
        var data = new FormData();
        //var TaskInstanceId = $('#TaskInstanceId').val();
        //data.append("TaskInstanceId", TaskInstanceId);
        $.ajax({

            url: '@Url.Action("FirmCommitmentSent", "ProductionApplication", new { Taskinstanceid = Model.TaskGuid, taskxref = Model.taskxrefId, pagetypeid = Model.pageTypeId })',
            contentType: false,
            processData: false,
            cache: false,
            data: data,

            success: function (result) {
                if (result === "Success") {

                    alert('Firm Commitment Request Sent! \n Lenders can now start Closing Process!');

                    window.location.href = '@Url.Action("Index", "ProductionMyTask")';
                } else if (result === "No File") {
                    alert('Please attach the file(s) before you request Firm Commitment');
                    return false;
                } else if (result === "Exists") {
                    alert('A Firm Commitment request is already In-Process for this application');
                    return false;
                } else if (result === "Completed") {
                    alert('A Firm Commitment request has already been completed for this application');
                    return false;
                }
                else {
                    alert('Error occured while sending Firm Commitment Request ');


                }
            },
            error: function (response) {
                //  debugger;
                alert('Error occured while sending Firm Commitment Request ');

            }
        });

    });
    //Function for Prod Task Assignment
    $("#btncompletetest").click(function () {
        alert($('#TaskxrefId').val());
        alert($('#reviewCompleteComment').val());
        $.ajax({
            url: '@Url.Action("CompleteReview", "ProductionApplication")',
            data: { xrefId: $('#TaskxrefId').val(), comment: $('#reviewCompleteComment').val(), taskInstanceId: $('#TaskGuid').val() },
            dataType: 'json',
            type: 'post',
            success: function (response) {
                if (response.responseText === "Request") {
                    alert("Request Additional Information task sent successfully");
                    location.href = '/ProductionMyTask/Index';
                } else {
                    alert("File updates done successfully");
                }

                document.location.reload();
            },
            error: function (response) {
                if (response.status === 200) {
                    if (response.responseText === "Request") {
                        location.href = '/ProductionMyTask/Index';
                        alert("Request Additional Information task sent successfully");
                    } else {
                        alert("File updates done successfully");
                    }

                    document.location.reload();
                } else {
                    alert("Error");
                }

            }
        });

    });
    function assignExternalReviewer(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("ExternalReviewerAssignment", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function sendEmailToLender(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToLender", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    function sendEmailToProdUser(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToProdUser", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
	}

	 function sendEmailToProdWlmUser(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToProdWLMUser", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
	}

    function NavigateToRegister(id) {
        // debugger;
        window.location.href = '/Reviewer/RegisterReviewer?taskInstanceId=' + id;

        return false;
    }

    function TaskConfirmation(id) {
        //  debugger;
        $('#requestStatus').val(2);
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });
        if ($('#IsChildTaskOpen').val() == 'True') {

            //("#packages").trigger("reloadGrid");
            $('#dialogContent').html('');
            $('#dialogContent').load('@Url.Action("ConfirmationPopupLoad", "ProductionApplication")', { taskxrefid: id }, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
        }
        else {
            return true;
        }


        return false;

    }

    $("#projectActionFrm").submit(function (e) {
        var pageTypeId = $('#PageTypeId').val();
        if (pageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)'
           || pageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)') {
            //$('#myPleaseWait').modal('show');

        }

    })

    function sharepointData(id) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id);
        });

    }
    function loadSharepoint(ClosingAppStatus,id) {
        if (!ClosingAppStatus) {
            //debugger;
        $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id, sharepointSection: '@((Int32)SharepointSections.lcInfo)' }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
</script>

<script>
    //karri-MH232-80
    $(document).ready(function () {
        $("#btnApprove").click(function () {
            if ('@Model.isFCRaised' == 0) {
                alert('Submit FC Request before Review completion!');
                return false;
            }
            
        });
    });
</script>

