﻿@model HUDHealthcarePortal.Model.OPAViewModel


<script type="text/javascript">

    $("#myForm").submit(function (e) {
        e.preventDefault();
       // (event.preventDefault) ? event.preventDefault() : event.returnValue = false;
        var url = '@Url.Action("ApproveOrDenyApplicationRequest", "ProductionApplication")';
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#myForm').serialize(),
            success: function () {
                window.location.href = '/ProductionMyTask/Index';
                //$('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                //$('#dialogDiv').modal('toggle');
            },
            error: function (data) {
                alert("Error Occured");
            },

        });

    });


    function userSelected(target) {

        if ($(target).val() == 'No') {
           
            $('#dialogCommon').dialog('close');
            return false;
        }
        else if ($('#popupComment').val() != "") {
            $('#AEComments').val($('#AEComments').val() + ' | Approval Confirmation Comment: ' + $('#popupComment').val());
            return true;
        }
        else {
            return false;
        }
 
    }

</script>

<div class="container-fluid">

@using (Html.BeginForm("ApproveOrDenyApplicationRequest", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm" }))
    {
    
 
  @Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
    @Html.HiddenFor(m => m.AEComments, new { id = "AEComments" })
    @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
    @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
    @Html.HiddenFor(m => m.taskxrefId, new { id = "TaskxrefId" })
    @Html.HiddenFor(m => m.isChildTaskOpen, new { id = "IsChildTaskOpen" })
    @Html.HiddenFor(m => m.viewId, new { id = "ViewId" })
    @Html.HiddenFor(m => m.TaskStepId, new { id = "TaskStepId" })
    @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
    @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
    @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
    @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
    @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
    @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
    @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
    @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
    @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })
    @Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })
    @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
    @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
    @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
    @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
    @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
    @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
    @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
    @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
    @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
    @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
    @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
    @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
    @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
    @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
    @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
    @Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
    @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
    @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })

    @Html.HiddenFor(m => m.userName, new { id = "UserName" })
    @Html.HiddenFor(m => m.userRole, new { id = "UserRole" })
    @Html.HiddenFor(m => m.IschildTask, new { id = "IsChild" })

    @Html.HiddenFor(m => m.hasReviewComments, new { id = "HasReviewComments" })
     @Html.HiddenFor(m => m.SequenceId)
     @Html.HiddenFor(m => m.IsApprovedPopupDisplayedForAe)
    @Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
    @Html.HiddenFor(m => m.PropertyAddress.City)
    @Html.HiddenFor(m => m.PropertyAddress.StateCode)
    @Html.HiddenFor(m => m.PropertyAddress.ZIP)

    @Html.HiddenFor(m => m.IsAddressChange)
    @Html.HiddenFor(m => m.ButtonName)
    @Html.HiddenFor(m => m.pageTypeId, new { id = "PageTypeId" })

    <div class="row" style="margin-top:20px;">
        <div>

            <p>Please note that there are documents that have not been approved and or request additional information associated with this task, do you wish to continue with your approval</p>
        </div>
    </div>
    <br />
    <div class="container-fluid" style="padding-top: 5px" align="center">
        @*<span class="col-md-3" style="  margin-top: 10px;">
            @Html.TextAreaFor(m => m.AEComments, new { id = "AEComments", @style = "height:70px;width:250px;", maxlength = "300" })
        </span>*@
        <textarea id="popupComment"  rows="5" style="height: 70px; width: 300px;"></textarea>
    </div>

    <div class="container-fluid" style="padding-top: 15px" align="center">
        <span class="col-md-6">
            <input id="btnYes" type="submit" name="yes" class="btn btn-primary btn-sm active" value="Yes" onclick="userSelected(this)">
        </span>

        <span class="col-md-push-8">
            <input id="btnOk" type="button" name="NO" class="btn btn-danger btn-sm" value="No" onclick="userSelected(this)">
        </span>

    </div>
}
</div>

<script>
    $(document).ready(function () {

        $('input[id="btnYes"]').click(function () {
            $("#btnDisApprove").val("No");
            if ($('#popupComment').val() == '') {
                alert("Comments are required");
                $('#popupComment').focus();
                return false;
            }

        });


    });

  
</script>
