﻿@using Core.Utilities
@model Model.ReportHeaderModel
@{
    ViewBag.Title = "AccountExecutiveReportHeaderDetail";
}

<div class="row">
    <table>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Report Name: </label>
            </td>
            <td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">>@Html.DisplayFor(model => model.ReportType.ToName())</label>
            </td>
        </tr>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Reporting Period: </label>
            </td>
            @*<td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">@Html.DisplayFor(model => model.ReportingPeriod)</label>
            </td>*@
        </tr>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Workload Manager Name: </label>
            </td>
            <td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">>@Html.DisplayFor(model => model.HudWorkloadManagerName)</label>
            </td>
        </tr>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Account Executive Name: </label>
            </td>
            <td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">>@Html.DisplayFor(model => model.HudProjectManagerName)</label>
            </td>
        </tr>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Total Unpaid Principal Balance: </label>
            </td>
            <td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">@Html.DisplayFor(model => model.UnpaidPrincipalBalance)</label>
            </td>
        </tr>
        <tr>
            <td class="HCP_Label_Left_Align" style="padding-left: 35px;">
                <label>Total number of projects: </label>
            </td>
            @*<td>
                <label class="HCP_Label_Left_Align" style="padding-left: 5px;">@Html.DisplayFor(model => model.NumberOfProjects)</label>
            </td>*@
        </tr>
    </table>

</div>