﻿@model Model.ReportModel

@{
    ViewBag.Title = "SuperUserView";
}

<div class="container-fluid">
    <div class="row">
        @Html.Partial("_SuperUserReportHeader", Model.ReportHeaderModel)
    </div>

    <div class="row">
        <div style="float:right;margin-right: 450px;">
            <div>
                @if (Model.ReportGridModelList.Count > 0)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
                }
                @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
                }
            </div>
        </div>
    </div>

    <div class="col-md-8">
        @Html.Partial("_SuperUserReportGrid", Model.ReportGridModelList)
    </div>
</div>


