﻿@model HUDHealthcarePortal.Model.OPAViewModel
@{
    Layout = null;
}

<div class="container-fluid" style="padding-top: 15px">
    <div class="panel with-nav-tabs panel-primary">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li id="tab1primaryhead" class="active"><a href="#tab1primary" data-toggle="tab">External Products</a></li>
                <li id="tab2primaryhead"><a href="#tab2primary" id="tab2" data-toggle="tab"> Internal Products</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1primary">
                    @Html.Partial("~/Views/OPAForm/_OPAAEIntitate.cshtml");

                    @*@Html.Partial("~/Views/Production/_Shared/_HudInitiated.cshtml")*@
                </div>
                <div class="tab-pane fade focus" id="tab2primary">
                    @*@Html.Partial("~/Views/Production/ProductionQueue/AssignedProductionTasks.cshtml")*@

                    @Html.Partial("~/Views/OPAForm/_AEOPAUploadGrid.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>


