﻿@model HUDHealthcarePortal.Model.OPAViewModel

<style>
    .fileClass {
        width: 100px !important;
        padding: 5px !important;
    }
</style>
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="FinalWorkProductDiv" style="width:700px">
    <table id="TaskGridLender"></table>
    <div id="Finalopapager"></div>
</div>



<script>
   
    function handleDeleteFile(id) {      
        //  debugger;
        var childFileId = id;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/OPADeletefile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                //    debugger;
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    jQuery('#TaskGridLender').trigger('reloadGrid');
                    jQuery('#opacontent').trigger('reloadGrid');
                }
            },
            error: function (xhr, status, p3, p4) {
                //  debugger;
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

</script>

<script>
    $(document).ready(
        function () {
            // debugger;
            $("#TaskGridLender").jqGrid({
                url: "/OPAForm/GetOPAWorkInternalProduct?taskInstanceId=" + "@Model.TaskInstanceId" ,
               //url: "/OPAForm/GetOPAWorkProduct?taskInstanceId=" + $("#TaskGuid").val() + "&fileType=" + "FWP" + "",
                datatype: 'json',
                mtype: 'POST',

                colNames: ['File Name', 'File Size(KB)', 'Role','Uploaded By', 'Uploaded On', 'Remove Attachment'],
                colModel: [

                    {
                        Key: false, name: 'FileName', index: 'FileName', width: 250, type: 'link',
                        cellattr: function (cellvalue, options, rowObject) {
                            if (rowObject.FileName != null) {

                                return ' style="text-decoration: underline"';
                            }
                        },
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.FileName == null) {
                                return "NA"
                            }
                            else {

                                return '<a href="/OPAForm/DownloadTaskFile/?taskfileid=' + rowObject.FileId + '">' + rowObject.FileName + '</a>';
                            }
                        }
                    },

                    {
                        name: 'FileSize', index: 'FileSize', editable: false, width: 200,
                    },
                    { Key: false, name: 'RoleName', index: 'RoleName', editable: false, width: 200 },
                    { Key: false, name: 'UploadedBy', index: 'UploadedBy', editable: false, width: 200 },
                    { Key: false, name: 'UploadTime', index: 'UploadTime', editable: true, width: 250, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' }, sorttype: "date" },

                    {
                        Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.FileName == null) {
                                return "NA"
                            }
                            else {
                                //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                                return "<img src='/Content/images/delete.jpg' id='" + rowObject.FileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                            }
                        },
                        formatoptions: {
                            keys: true,
                            editformbutton: true
                        }

                    },
                ],
                pager: jQuery('#Finalopapager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true, autoencode: true,
                width: 1250,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },

                loadComplete: function (data) {
                    // debugger;
                    if (@Model.RequestStatus == 2)
                    {

                        jQuery("#TaskGridLender").jqGrid('hideCol', 'FileId');
                        jQuery("#TaskGridLender").setGridWidth('1100');
                    }

                    if (@Model.RequestStatus == 1 && @Model.columnVisibility == 1)
                    {

                        jQuery("#TaskGridLender").jqGrid('hideCol', 'FileId');
                        jQuery("#TaskGridLender").setGridWidth('1100');
                    }


                },
                //autowidth: true,
                multiselect: false,

                beforeSelectRow: function (rowid, e) {

                    // debugger;
                    var $self = $(this),
                        p = $self.jqGrid("getGridParam"),
                        $td = $(e.target).closest("tr.jqgrow>td"),
                        cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                        cmName = cm != null ? cm.name : null;

                    if (cmName === "FileId") {
                        handleDeleteFile(e.target.id);
                        //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                        //for (var i = 0; i < deleteElements.length; i++) {
                        //    //alert(deleteElements[i].id);
                        //    deleteElements[i].addEventListener('click',
                        //        handleDeleteFile, false);

                        //}

                    }

                    return false;
                },
                gridComplete: function () {

                },

                //loadComplete: function () {

                //},
                loadError: function (xhr, status, error) {

                },
                multiselect: false,
                autoencode: true,

            }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });

        });

    function Removefile(taskFileId, groupTaskInstanceId) {

        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPARemovefile/TaskGuid?=' + $('#TaskGuid').val(),
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');

                $("#isAgreementRequiredErrorMessage").hide();




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });


    }
</script>






