﻿@model OPAViewModel

@{
    ViewBag.Title = "_OpaHistory";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<script>
    function getFile(fileid) {
        // alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }
</script>
<div id="reviewerMainGrid" style="width:1300px">

    <table id="TaskGrid"></table>
    <div id="pager"></div>
    <br />

</div>

<style type="text/css">
    .ui-jqgrid {
        font-size: 8.8em;
    }

    .mylink {
        text-decoration: underline;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .errorClass {
        border: 1px solid red;
    }


    .thumbnail-item {
        /* position relative so that we can use position absolute for the tooltip */
        position: relative;
        float: left;
        margin: 0px 5px;
    }

        .thumbnail-item a {
            display: block;
        }

    /*.thumbnail-item img.thumbnail {
            border: 3px solid #ccc;
        }*/

    .tooltip {
        /* by default, hide it */
        display: none;
        /* allow us to move the tooltip */
        position: absolute;
        /* align the image properly */
        padding: 8px 0 0 8px;
    }

        .tooltip span.overlay {
            /* the png image, need ie6 hack though */
            /* background: url(images/overlay.png) no-repeat;
            /* put this overlay on the top of the tooltip image */
            position: absolute;
            top: 0px;
            left: 0px;
            display: block;
            width: 100px;
            height: 100px;
        }
</style>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Attachements</h4>

            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Are you Sure you want to Delete the selected Attachments?</strong>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="deleteAttachment">Yes</button>
            </div>
        </div>
    </div>
</div>

<label id="lblsmg0" style="font-size: small; font-style: italic; color: red; display: none">Please correct document name for the highlighted rows.</label>

<script type="text/javascript">
    details = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                 "<span class='mylink'> Show</span>";
    fileHistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                "<span class='mylink'> View files</span>";

    //var fileListUpdate = [];

    //var isReqAddValidation = [];

    $(document).ready(function () {
        function reloadGrid() {
            location.reload();
            $("#TaskGrid").trigger("reloadGrid");
        }

        //  debugger;
        $("#TaskGrid").jqGrid({
            url: "/OPAForm/GetProdLenderUploadFileGridContentOPA?taskInstanceId=" + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#txtPropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val() + "" + "&FormName=" +  @Model.pageTypeId +"&Projectactiontypeid=" + @Model.ProjectActionTypeId,

            datatype: 'json',
            mtype: 'POST',

            //url: "/OPAForm/GetOpaHistoryGridContent?taskInstanceId=" + $("#GroupTaskInstanceId").val() + "",

            //datatype: 'json',
            //mtype: 'POST',
            // harish added
            colNames: ['folderNodeId', 'Folder View', 'Name','Role', 'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'FileID','Upload Files',  'DocTypeID', 'DocTypesList', 'New File Name','Delete Attachments','Action'],
            colModel: [
                 { name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'folderNodeName', index: 'folderNodeName', width: 340, editable: false, hidden: false, sortable: false, align: 'left' },
                 { Key: false, name: 'name', index: 'name', editable: false },
                 { Key: false, name: 'role', index: 'role', editable: false },
                 { name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },

                {
                    name: 'parent', index: 'parent', width: 130, editable: false, hidden: true, sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.parent == null) {
                            return "null"
                        }
                        else {
                            return cellvalue;
                        }
                    }
                },

                 { name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
                 {

                     name: 'fileName', index: 'fileName', type: 'link', width: 210, editable: false,
                     cellattr: function (cellvalue, options, rowObject) {
                         if (rowObject.fileName != null) {

                             return ' style="text-decoration: underline"';
                         }
                     },
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.fileName == null) {
                             return " "
                         }
                         else {
                             //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                             return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                         }
                     }
                 },

               {
                   name: 'fileSize', index: 'fileSize', editable: false, width: 90,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return cellvalue;
                       }
                   }
               },
               { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 140, formatoptions: { newformat: 'm/d/Y' } },





               { name: 'fileId', index: 'fileId', editable: true, hidden: true },

                //end new added
              {
                  name: 'act', index: 'act', width: 110, sortable: false,

                  formatter: function (cellvalue, options, rowObject) {
                      ////debugger;
                      if (rowObject.level == 0) {

                          return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'Upload(' + options.rowId + '); return false;\'  />'
                      }
                      else {

                          return ''
                      }

                  }
              },
            { name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                 { name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },
                      {

                          name: 'DocTypeID', index: 'DocTypeID', type: 'link', width: 210, editable: false,


                          formatter: function (cellvalue, options, rowObject) {
                              if (rowObject.level == 0) {
                                  return ''
                              }
                              else {
                                  if (rowObject.DocTypeID == null && rowObject.DocTypesList != null) {

                                      return rowObject.DocTypesList
                                  }
                                  else

                                      return ''
                              }
                          }

                      },

                                     {
                                         name: 'multiDelete', index:"multiDelete", align: 'center', edittype: 'checkbox', width: 152,
                                         editoptions: { value: 'Yes:No', defaultValue: 'Yes' },
                                         formatoptions: { disabled: false },
                                         formatter: function (cellvalue, options, rowObject) {

                                             if (rowObject.fileId != null && rowObject.isUploadedByMe) {
                                                 return '<input type="checkbox" id="cbPassed-' + rowObject.fileId + (rowObject.active === true ? '" checked="checked" />' : '" />');

                                             }
                                             else {
                                                 return ''
                                             }
                                         },
                                         //formatter: "checkbox", formatoptions: { disabled: false }, sortable: false,
                                     },
                                     {Key:false, name: 'actionTaken', index: 'actionTaken', editable: true, hidden: false },


            ],





           // url: "/OPAForm/GetOpaHistoryGridContent?taskInstanceId=" + $("#GroupTaskInstanceId").val() +"&PropertyId=" + $("#PropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val() + "" + "&FormName=" +  @Model.pageTypeId,

            pager: jQuery('#pager'),
            cellEdit: false,
           // cellsubmit: 'clientArray',
            rowNum: 10,
            //loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            gridview: true,
            //autoencode: true,
            width: 1250,
            caption: 'Documentation Grid',
            //editurl: "/OPAFormReviewer/UpdateFileTask?taskInstanceId=" + $("#TaskGuid").val() + "&fileId=" + $("#TaskGuid").val() + "&isAddInfo=" + $("#TaskGuid").val() + "&isApprove=" + $("#TaskGuid").val() + "&comments=" + $("#TaskGuid").val() + "",
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },

            beforeSelectRow: function (rowid, e) {

                //    debugger;
                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;
                //localData = $self.jqGrid("getLocalRow", rowid);
                localData = $self.jqGrid("getLocalRow", rowid);
                if (cmName === "FileId") {
                    handleDeleteFile(e.target.id);

                }
                if (cmName === "multiDelete") {
                    //alert(1);
                    localData.active = $(e.target).is(":checked");
                    //alert(localData.active);
                }

                return true;
            },




            gridComplete: function () {
                var rows = $("#TaskGrid").getDataIDs();
                //debugger;
                for (var i = 0; i < rows.length; i++) {
                    var doclist = $("#TaskGrid").getCell(rows[i], "DocTypesList");
                    var docTypeId = $("#TaskGrid").getCell(rows[i], "DocTypeID");

                    if ((doclist != null && doclist != "")) {
                        //debugger;
                        $("#TaskGrid").jqGrid('setRowData', rows[i], false, { background: '#7db0d7' });

                        $("#lblsmg").show();
                        $("#lblsmg0").show();
                    }
                }
            },

            //        gridComplete: function () {

            //},

            loadComplete: function () {

            },
            loadError: function (xhr, status, error) {

            },
            multiselect: false,
            autoencode: true,

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });

    });


    // document change functionality
    function DocType() {
        var url = '@Url.Action("GetDocTypesForSelectedFolder", "ProductionApplication")';
        debugger;
        $.ajax({
            url: url,
            type: 'POST',
            data: { FoldeKey: 39 },
            success: function (data) {
                $("#_ddlDocType").empty();
                if (data != null) {
                    $.each(data, function () {

                        $("#_ddlDocType").append($("<option />").val(this.Id).text(this.documenttype));


                    });
                }
            },
            error: function (data) {
                alert("Error on retriving Contractors");
            },

        });
    }


    function ChangrDocTypeConfirmation(fid) {
        // debugger;

        var selectedValue = $("#" + fid + "_ddlDocType" + " :selected").val();
        var selectedText = $("#" + fid + "_ddlDocType" + " :selected").text();

        var txt;
        if (confirm("Are you sure you want to assign this file name to the file?") == true)
        {
            var url = '@Url.Action("AssetManagementchangeDoumentType", "OPAForm")';
            //debugger;
            $.ajax({
                url: url,
                type: 'POST',
                data: { fileId: fid, docType: selectedValue, DocName: selectedText, taskinstanceId: $("#GroupTaskInstanceId").val(), referrer:"OPA" },
                success: function (data) {
                    alert("Document name changed successfully.");
                },
                error: function (data) {
                    alert("Error on changing document name.");
                },

            });
            // $("#fileUploadGrid").trigger('reloadGrid');
            // window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
            window.location.href = '/OPAForm/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
        }


    }


    // delete functionality


    $(".fileUploadGrid_ChkToDelete").change(function () {
        if (this.checked) {
            alert("Checked")
        }
        else {
            alert("Unchecked")
        }
    });

    var fileIdsToDelete = null;
    // harish added
    $("#btnDelete").click(function () {
        //var myGrid = $('#fileUploadGrid');
        var myGrid = $('#TaskGrid'),

            i, rowData, fileIds = [],
            rowIds = myGrid.jqGrid("getDataIDs"),
            n = rowIds.length;

        //console.log(JSON.stringify(rowIds));
        for (i = 0; i < n; i++) {
            rowData = myGrid.jqGrid("getRowData", rowIds[i]);
            if(i > 0)
            {
                var chkBox = "#cbPassed-" + rowData.fileId;
                var chkBoxDel = $(chkBox)[0].checked
                //rowData = myGrid.jqGrid("getRowData", rowIds[i]);
                if (chkBoxDel) {
                    fileIds.push(rowData.fileId);
                }
            }

            //console.log('selected row data:'+ JSON.stringify(rowData));
        }
        if (fileIds.length > 0) {
            fileIdsToDelete = fileIds;
            $('#myModal').modal('show');

        }
        else
        {
            alert("Please Select row to delete!")
        }


    })






    $("#deleteAttachment").click(function () {
        $('#myModal').modal('hide');
        MultiDelete(fileIdsToDelete);

    });


    function MultiDelete(fileIDs) {
        var ids = JSON.stringify(fileIDs);
        var url = '@Url.Action("MultipleDelete", "OPAForm")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { taskFileIDs: fileIDs.toString() },
            success: function () {
                alert("File Deleted Successfully")
                window.location.href = '/OPAForm/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
            }
                ,
            error: function(data) {
                alert("Error on Deleting Files");
            },

        });
    }







</script>
<script>

    function handleDeleteFile(id) {
        //  debugger;
        var childFileId = id;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                //  debugger;
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    //jQuery('#fileUploadGrid').trigger('reloadGrid');
                    window.location.href = '/OPAForm/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();

                }
                else if (result === "unauthorized") {
                    alert("You are Not Authorized to Delete this File");
                }
            },
            error: function (xhr, status, p3, p4) {
                //  debugger;
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

</script>
