﻿@model OPAViewModel

@{ 
    ViewBag.Title = "";  
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<style>
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }

    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }

    .disabled {
        pointer-events: none;
        /*opacity: 0.4;*/
    }

    .btn-outline-*;
</style>

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script>
    function getFile(fileid) {
         //alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
      // window.location.reload(true);
    }
</script>
<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>

@* 605*@
<div class="btn-group" style="margin-left: 653px">

    @*<button type="reset" class="btn btn-primary btn-sm" onclick="assignExternalReviewer('@Model.TaskInstanceId');return false;">Assign &nbsp;<span class="badge">External Reviewer</span></button>*@

    @*<button type="reset" class="btn btn-primary btn-sm" onclick="sendEmailToLender('@Model.TaskInstanceId');return false;">Send email to <span class="badge">Lender and CC Closer</span></button>*@

    <button type="reset" class="btn btn-primary btn-sm" onclick="assignExternalReviewer('@Model.TaskInstanceId');return false;">Assign<span class="badge">External Reviewer</span></button>
    <button type="reset" class="btn btn-primary btn-sm" onclick="NavigateToRegister('@Model.taskxrefId');return false;">Register<span class="badge">External Reviewer</span></button>

</div>


@*<div class="btn-group">
     
        <button type="reset" class="btn btn-primary btn-sm" onclick="assignExternalReviewer('@Model.TaskInstanceId');return false;">Assign &nbsp;<span class="badge">External Reviewer</span></button>
</div>*@
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<div id="AEGriDiv" style="width:1300px">
      <div id="dvRAIInfoLabel">  
            @Html.Label("*", new { style = "color: red;" })
            <b> <i> If you request additional information from the lender then you must enter the reason for the request in the comments column of the documentation grid.</i> </b>   
     </div>      
        <table id="aeFileGrid"></table>
        <div id="aeFileGridPager"></div>

        <div id="dvAdditionalRequest">
            <div class="checkbox">
                <label><input id="reqNewFilecb" type="checkbox" value="">Add New File Request</label>
            </div>
            <textarea id="cmtNewFileReq" class="form-control" rows="5" style="height: 70px; width: 300px;"></textarea>

            <div class="container-fluid" style="padding-top: 15px">
                <span class="col-md-12 text-center">
                    <input id="btnSubmit" type="button" value="Save Grid Changes" />
                    <input id="btncancel" type="button" value="Discard Grid Changes">
                </span>
            </div>
        </div>

    </div>

<div id="commentGrid">

    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGrid">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>

<style type="text/css">
    .mylink {
        text-decoration: underline;
    }
    .ui-dialog .ui-dialog-titlebar-close {
        position: relative !important;
        float: right !important;
        margin: 1px 0 0 0 !important;
    }
    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; 
        /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .errorClass {
        border: 1px solid red;
    }

    .historyImageCursor {
        cursor: pointer;
    }
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    .ui-jqgrid tr.jqgrow td {
white-space:nowrap;
}
</style>



<script type="text/javascript">
    
    function assignExternalReviewer(id) {
        debugger;
        $('#dialogContent').load('@Url.Action("AssignOPAToExternalReviewerAssignment", "OPAForm")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    fileHistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
                "<span class='mylink'> View files</span>";


    var isReqAddValidation = [];

    var fileListUpdate = [];

    // var OPAViewModel = {};
    // var OPAHistoryViewModel =
    // var OPAHistoryViewObj = [];
    var isReqNewFile = false;

    $('#reqNewFilecb').click(function () {
        disableTaskApproveDeny();
        $("#cmtNewFileReq").removeClass('errorClass');


        if ($(this).is(':checked')) {
            isReqNewFile = true;
            $("#cmtNewFileReq").removeAttr("disabled");

        }
        else {
            isReqNewFile = false;
            $("#cmtNewFileReq").val("");
            $("#cmtNewFileReq").attr("disabled", "disabled");

        }

    });

    $("#cmtNewFileReq").focusout(function () {

        $("#cmtNewFileReq").removeClass('errorClass');


    });

    function updateFileDetails(fileData, nfrComment) {
        var IsNewfile;
        IsNewfile = false;
        if ($("#reqNewFilecb")[0].checked)
        {
            IsNewfile = true;

           }

        var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });
        $.ajax({
            url: '@Url.Action("UpdateFileTask", "OPAFormReviewer")',
            data: { editData: editData },
            dataType: 'json',
            type: 'post',
            success: function (response) {
                if (response.responseText === "Request") {
                    alert("Request Additional Information task sent successfully");
                    //location.href = '/Task/MyTasks?page=' + '@TempData["page"] ' + '&sort=' + '@TempData["sort"] ' + '&sortdir=' + '@TempData["sortdir"] ';
                } else {
                    alert("File updates done successfully");
                }

                document.location.reload();
            },
            error: function (response) {
                if (response.status === 200) {
                    if (response.responseText === "Request") {
                        location.href = '/Task/MyTasks?page=' + '@TempData["page"] ' + '&sort=' + '@TempData["sort"] ' + '&sortdir=' + '@TempData["sortdir"] ';
                        alert("Request Additional Information task sent successfully");
                    } else {
                        alert("File updates done successfully");
                    }

                    document.location.reload();
                } else {
                    alert("Error");
                }

            }
        });

    }

    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }

    function ischeckBoxChecked(rowId, cellId) {

        if (jQuery('#' + rowId + '_' + cellId).is(':checked')) {
            return true;
        }
        else {
            return false;
        }
    }

    function updateCustomRowEdit(rowId, fileId, r1ReqInfo, r1Comment, isApprove, fileRename, isFileRenamed, fileExt) {

        var isNew = true;

        if (r1Comment != null && r1Comment.length > 0) {

            $("#" + rowId + "_raiComments").removeClass('errorClass');
        };

        for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
            if (fileListUpdate[ifile].fileId == fileId) {
                fileListUpdate[ifile].rowId = rowId;
                fileListUpdate[ifile].ReqAdditionalInfo = r1ReqInfo;
                fileListUpdate[ifile].Comments = r1Comment.trim();
                fileListUpdate[ifile].Approve = isApprove;
                fileListUpdate[ifile].fileExt = fileExt;
                if (isFileRenamed) {
                    fileListUpdate[ifile].fileRename = fileRename + '.' + fileExt;
                    fileListUpdate[ifile].isFileRenamed = isFileRenamed;
                }
                isNew = false;
            }

        }
        if (isNew) {
            fileListUpdate.push({
                rowId: rowId,
                fileId: fileId,
                ReqAdditionalInfo: r1ReqInfo,
                Comments: r1Comment.trim(),
                Approve: isApprove,
                fileRename: fileRename + '.' + fileExt,
                isFileRenamed: isFileRenamed,
                fileExt: fileExt
            });

        }
    }

    function restoreRoEdit() {
        if ($("#IsEditMode").val()) {
            var lista = $("#aeFileGrid").getDataIDs();
            for (i = 0; i < lista.length; i++) {
                $('#aeFileGrid').jqGrid('restoreRow', lista[i]);
            }
        }
    }

    function disableTaskApproveDeny() {
        $("#btnApprove").attr("disabled", "disabled");
        $("#btnDisApprove").attr("disabled", "disabled");
        $("#txtAEComments").attr("disabled", "disabled");
    }

    function EnableTaskApproveDeny() {
        $("#btnApprove").removeAttr('disabled');
        $("#btnDisApprove").removeAttr('disabled');
        $("#txtAEComments").removeAttr('disabled');
        document.location.reload();
    }
    function enableRowEdit() {

         if ($('#IsEditMode').val() == "True") {
            var lista = $("#aeFileGrid").getDataIDs();
            for (i = 0; i < lista.length; i++) {

                if ($('#aeFileGrid').jqGrid('getCell', lista[i], 'fileId').trim().length > 0) {
                    if (!$('#' + lista[i] + '').find('td')[14].firstChild.checked) {

                        if ($('#' + lista[i] + '').find('td')[12].firstChild.checked) {

                            jQuery("#aeFileGrid").jqGrid('setCell', lista[i], 'isReqAddInfo', '', 'not-editable-cell');
                            jQuery("#aeFileGrid").jqGrid('setCell', lista[i], 'isApprove', '', 'not-editable-cell');

                        }

                        $("#aeFileGrid").editRow(lista[i], { focusField: false });


                        for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                            if (fileListUpdate[ifile].fileId ==  $('#aeFileGrid').jqGrid('getCell', lista[i], 'fileId')) {
                                $('#' + lista[i] + '_raiComments').val(fileListUpdate[ifile].Comments);
                                $('#' + lista[i] + '_fileRename').val(fileListUpdate[ifile].fileRename);
                                $('#' + lista[i] + '_isReqAddInfo').prop("checked", fileListUpdate[ifile].ReqAdditionalInfo);
                                $('#' + lista[i] + '_isApprove').prop("checked", fileListUpdate[ifile].Approve);

                            }
                        }
                    }
                    else
                    {
                        jQuery("#aeFileGrid").jqGrid('setCell', lista[i], 'isReqAddInfo', '', 'not-editable-cell');
                        jQuery("#aeFileGrid").jqGrid('setCell', lista[i], 'raiComments', '', 'not-editable-cell');
                        jQuery("#aeFileGrid").jqGrid('setCell', lista[i], 'isApprove', '', 'not-editable-cell');
                        $("#aeFileGrid").editRow(lista[i], { focusField: false });

                    }
                }
                else {
                    $($('#' + lista[i] + '').find('td')[12]).children().remove();
                    $($('#' + lista[i] + '').find('td')[14]).children().remove();
                }

            }

        }
        else {
            var lista = $("#aeFileGrid").getDataIDs();
            for (i = 0; i < lista.length; i++) {
                if (!$('#aeFileGrid').jqGrid('getCell', lista[i], 'fileId').trim().length > 0) {
                    $($('#' + lista[i] + '').find('td')[12]).children().remove();
                    $($('#' + lista[i] + '').find('td')[14]).children().remove();
                }
            }
        }
    }

    function checkBox(event) {
       // alert("CheckBox");
        disableTaskApproveDeny();
        var lista = jQuery("#aeFileGrid").jqGrid('getGridParam', 'data');
        var rowToUpdate = true;
        if (document.getElementById('cbox').checked) {

            for (i = 0; i < lista.length; i++) {
                if (lista[i].fileId != null && lista[i].fileReviewStatusId != 5) {

                    rowToUpdate = true;
                    for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                        if (fileListUpdate[ifile].fileId == lista[i].fileId) {
                            rowToUpdate = false;
                            if (lista[i].fileReviewStatusId == 4) {
                                updateCustomRowEdit(fileListUpdate[ifile].rowId, fileListUpdate[ifile].fileId, true, fileListUpdate[ifile].Comments, true, fileListUpdate[ifile].fileRename, fileListUpdate[ifile].isFileRenamed, fileListUpdate[ifile].fileExt);
                            }
                            else {
                                updateCustomRowEdit(fileListUpdate[ifile].rowId, fileListUpdate[ifile].fileId, false, fileListUpdate[ifile].Comments, true, fileListUpdate[ifile].fileRename, fileListUpdate[ifile].isFileRenamed, fileListUpdate[ifile].fileExt);
                            }
                        }
                    }

                    if (rowToUpdate) {
                        if (lista[i].fileReviewStatusId == 4) {
                            updateCustomRowEdit(lista[i].id, lista[i].fileId, true, lista[i].raiComments, true, lista[i].fileRename, false, lista[i].fileExt);
                        }
                        else {
                            updateCustomRowEdit(lista[i].id, lista[i].fileId, false, lista[i].raiComments, true, lista[i].fileRename, false, lista[i].fileExt);
                        }
                    }
                    $('#' + lista[i].id + '_isApprove').prop("checked", true);
                    if (lista[i].fileReviewStatusId == 4) {
                        $('#' + lista[i].id + '_isReqAddInfo').prop("checked", true);
                    }
                    else {
                        $('#' + lista[i].id + '_isReqAddInfo').prop("checked", false);
                    }

                }
            }
        }
        else {

            for (i = 0; i < lista.length; i++) {
                if (lista[i].fileId != null && lista[i].fileReviewStatusId != 5) {
                    for (ifile = 0; ifile < fileListUpdate.length; ifile++) {
                        if (fileListUpdate[ifile].fileId == lista[i].fileId) {
                            rowToUpdate = false;
                            updateCustomRowEdit(fileListUpdate[ifile].rowId, fileListUpdate[ifile].fileId, fileListUpdate[ifile].ReqAdditionalInfo, fileListUpdate[ifile].Comments, false, fileListUpdate[ifile].fileRename, fileListUpdate[ifile].isFileRenamed, fileListUpdate[ifile].fileExt);
                        }
                    }
                    if (rowToUpdate) {
                        updateCustomRowEdit(fileListUpdate[ifile].rowId, lista[i].fileId, lista[i].isReqAddInfo, lista[i].raiComments, false, lista[i].fileRename, false, lista[i].fileExt);
                    }
                    $('#' + lista[i].id + '_isApprove').prop("checked", false);
                }
            };

        }
    }

    function CommentHistoryDialog(id) {
        //alert(id);
        $("#commentGrid").hide();
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name','User Role', 'Comment', 'Modified Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 250, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#commentGrid").show();
                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }

    function FileHistoryDialog(id) {
        $("#fileGrid").hide();
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            maxHeight: 300,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                        //return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {
                $("#fileGrid").show();
                $("#fileGrid").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });

            },


        });
    }



    $("#btnSubmit").click(function () {


        $("#spinner").attr('class', 'overlay');
        var isGoodToGo = true;
        if ($("#reqNewFilecb")[0].checked) {
            if ($("#cmtNewFileReq").val().trim().length <= 0) {
                isGoodToGo = false;
                $("#cmtNewFileReq").addClass('errorClass');
                alert("Error : Please enter comment.Comment is mandatory for new file request.");
                return false;
            }


        }

        if (isGoodToGo) {
            for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                if (fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <= 0) {
                    $("#" + fileListUpdate[ifile].rowId + "_raiComments").addClass('errorClass');
                    isGoodToGo = false;
                }
                else {
                    $("#" + fileListUpdate[ifile].rowId + "_raiComments").removeClass('errorClass');
                }

            }

            if (isGoodToGo) {

                updateFileDetails(fileListUpdate, $("#cmtNewFileReq").val().trim());

            }
            else {
                alert("Error : Please enter comment.Comment is mandatory for request additional information.")

            }
        }
    });


    $("#btncancel").click(function () {

        EnableTaskApproveDeny();
    });

    $(document).ready(function () {
       // debugger;
        //$("td", ".jqgrow").height(25);

        $("#cmtNewFileReq").attr("disabled", "disabled");
        //debugger;
        if ($('#IsEditMode').val() == "False") {
            document.getElementById('dvEdit').style.display = 'none';
           // document.getElementById('dvSubmit').style.display = 'none';
            document.getElementById('dvAdditionalRequest').style.display = 'none';
            document.getElementById('dvRAIInfoLabel').style.display = 'none';
        }
        //'File Rename', harish coomented because of potential issue 
        $("#aeFileGrid").jqGrid({
            colNames: ['Action', 'Name', 'Role', 'Comment', 'Submitted Date', 'FileID', 'File History', 'Comment History', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'Request Additional Info', 'Comments', 'Review  <br/> <input type="checkbox" id="cbox" onclick="checkBox(event)" /> Documents', 'File Extn', 'File Status', 'downloadFileId', 'isFileHistory', 'isCommentHistory'],
            colModel: [
               { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
               { name: 'name', index: 'name', editable: false },
               { name: 'userRole', index: 'userRole', editable: false },
               { name: 'comment', index: 'comment', editable: false },
               { name: 'submitDate', index: 'submitDate', width: 100, editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
               { name: 'fileId', index: 'fileId', editable: false, hidden: true },
               {
                   name: "fileHistory", align: "center", width: 70,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.isFileHistory != null & rowObject.isFileHistory) {
                           return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";;
                       }
                       else {
                           return " ";
                       }
                   }
               },
               {
                   name: "commentHistory", align: "center", width: 70,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.isFileComment != null & rowObject.isFileComment) {
                           return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                       }
                       else {
                           return " ";
                       }
                   }
               },
               {
                   name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName != null) {

                           return ' style="text-decoration: underline"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                           //return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.downloadFileId) + '">' + rowObject.fileName + '</a>';
                       }
                   }
               },
              // { name: 'fileRename', index: 'fileRename', width: 150, editable: true, edittype: 'textarea', sortable: false },

               {
                   name: 'fileSize', index: 'fileSize', editable: false, width: 60,
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           return cellvalue;
                       }
                   }
               },
               { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y h:i A' } },
               {
                   name: 'isReqAddInfo', index: 'isReqAddInfo', sortable: false, editable: true, edittype: 'checkbox', width: 90,
                   formatter: "checkbox", formatoptions: { disabled: true }

               },
               {
                   name: 'raiComments', index: 'raiComments', sortable: false, editable: true, edittype: 'textarea'

               },
               {
                   name: 'isApprove', index: 'isApprove', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false

               },
               { name: 'fileExt', index: 'fileExt', width: 10, editable: true, hidden: true, sortable: false },
               { name: 'fileReviewStatusId', index: 'fileReviewStatusId', width: 10, editable: false, hidden: true, sortable: false },
                { name: 'downloadFileId', index: 'downloadFileId', width: 10, editable: false, hidden: true, sortable: false },
                { name: 'isFileHistory', index: 'isFileHistory', width: 10, editable: false, hidden: true, sortable: false },
                { name: 'isFileComment', index: 'isFileComment', width: 10, editable: false, hidden: true, sortable: false }
            ],
            //url: "/OPAReview/GetFileGridContent?taskInstanceId=" + $("#TaskGuid").val() + "",
            url: "/OPAReview/GetFileGridContent?taskInstanceId=" + "@Model.TaskInstanceId" + "",
            datatype: 'json',
            mtype: 'POST',
            pager: jQuery('#aeFileGridPager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            multiselect: false,
            gridview: true,
            autoencode: true,
            width: 1250,
            caption: 'Documentation Grid',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            onPaging: function (pgButton) {

                var isGoodToGo = true;
                for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                    if (fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <= 0) {
                        $("#" + fileListUpdate[ifile].rowId + "_raiComments").addClass('errorClass');
                        isGoodToGo = false;
                    }
                    else {
                        $("#" + fileListUpdate[ifile].rowId + "_raiComments").removeClass('errorClass');
                    }

                };

                if (!isGoodToGo) {
                    alert("Error : Please enter comment.Comment is mandatory for request additional information.");
                    return 'stop';
                };

            },
            gridComplete: function () {


                //  alert("grid complet");
                ////debugger;
                //$("#CreatedBy").val() + $("#CreatedOn").val()
                //$("#aeFileGrid").jqGrid('setGroupHeaders', {
                //    useColSpanStyle: true,
                //    groupHeaders: [
                //      { startColumnName: 'isReqAddInfo', numberOfColumns: 4, titleText: $("#UserName").val() + '  (' + $("#UserRole").val() + ')' },
                //     { startColumnName: 'fileId', numberOfColumns: 4, titleText: 'File Details' }
                //    ]
                //});

            },
            loadComplete: function () {
                // alert("Load complet");
                enableRowEdit();


            },
            loadError: function (xhr, status, error) {

            },
            beforeSelectRow: function (rowid, e) {

                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;

                if (cmName === "commentHistory") {

                     if ( $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                         $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        CommentHistoryDialog( $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyCommentGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileCommentHistory?taskFileId=" +  $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "fileHistory") {
                    // debugger;
                    if ( $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId')!= null &&
                         $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        FileHistoryDialog( $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyFileGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileUploadHistory?taskFileId=" +  $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }



                if (cmName === "isReqAddInfo") {

                    disableTaskApproveDeny();
                    //alert(1);

                    if (ischeckBoxChecked(rowid, 'isReqAddInfo')) {
                        $('#' + rowid + '_isApprove').prop("checked", false);
                        $('#' + rowid + '_raiComments').focus();
                        $("#" + rowid + "_raiComments").blur(function () {
                            updateCustomRowEdit(rowid,
                                           $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'),
                                          ischeckBoxChecked(rowid, 'isReqAddInfo'),
                                          getCellValue(rowid, 'raiComments'),
                                          ischeckBoxChecked(rowid, 'isApprove'),
                                          getCellValue(rowid, 'fileRename'),
                                          false,
                                          getCellValue(rowid, 'fileExt'));
                        });
                        isReqAddValidation.push({
                            rowkey: rowid,
                            fileId:  $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId')
                        });
                    }
                    else {

                        for (iCount = 0 ; iCount < isReqAddValidation.length; iCount++) {
                            if (isReqAddValidation[iCount].rowkey == rowid) {
                                isReqAddValidation = [];
                            };
                        };

                    };
                }

                if (cmName === "isApprove") {
                    disableTaskApproveDeny();
                    if (ischeckBoxChecked(rowid, 'isApprove')) {
                        $('#' + rowid + '_isReqAddInfo').prop("checked", false);
                    }
                }

                if (cmName === "isReqAddInfo" || cmName === "raiComments" || cmName === "isApprove") {
                    disableTaskApproveDeny();
                    $("#" + rowid + "_" + cmName + "").blur(function () {

                        updateCustomRowEdit(rowid,
                                        $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'),
                                       ischeckBoxChecked(rowid, 'isReqAddInfo'),
                                       getCellValue(rowid, 'raiComments'),
                                       ischeckBoxChecked(rowid, 'isApprove'),
                                       getCellValue(rowid, 'fileRename'),
                                       false,
                                       getCellValue(rowid, 'fileExt'));
                    });

                };
                if (cmName === "fileRename") {
                    disableTaskApproveDeny();
                    $("#" + rowid + "_" + cmName + "").blur(function () {
                        updateCustomRowEdit(rowid,
                                       $('#aeFileGrid').jqGrid('getCell', rowid, 'fileId'),
                                      ischeckBoxChecked(rowid, 'isReqAddInfo'),
                                      getCellValue(rowid, 'raiComments'),
                                      ischeckBoxChecked(rowid, 'isApprove'),
                                      getCellValue(rowid, 'fileRename'),
                                      true,
                                      getCellValue(rowid, 'fileExt'));
                    });
                }


                return false;
            }

        });
    });
</script>


<script>

    function sendEmailToLender(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToLender", "OPAForm")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function assignExternalReviewer(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("ExternalReviewerAssignment", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function sendEmailToProdUser(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToProdUser", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }


    function sendEmailToProdWlmUser(id) {
        // debugger;
        $('#dialogContent').load('@Url.Action("SendEmailToProdWLMUser", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function NavigateToRegister(id) {
        // debugger;
        window.location.href = '/Reviewer/RegisterReviewer?taskInstanceId=' + id;

        return false;
    }
</script>