﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}

<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>
<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>
<script src="~/Scripts/JqGrid/jquery.jqGrid.min.js"></script>

@*<h2>OPA Request Reviewer ReadOnly</h2>*@

<div id="reviewerMainGrid">
    <table id="reviewerTaskGrid"></table>
    <div id="pager"></div>
</div>



<script type="text/javascript">

    $(document).ready(function () {

        var grid = $("#reviewerTaskGrid");
        var getColumnIndexByName = function (gr, columnName) {
            var cm = gr.jqGrid('getGridParam', 'colNames');
           
            for (var i = 0, l = cm.length; i < l; i++) {
                if (cm[i] === columnName) {
                    return i; // return the index
                }
            }
            return -1;
        };
        var changeEditableByContain = function (gr, colName, text, doNonEditable) {
            var pos = getColumnIndexByName(gr, colName);
            // nth-child need 1-based index so we use (i+1) below
            var cells = $("tbody > tr.jqgrow > td:nth-child(" + (pos + 1) + ")", gr[0]);
            for (var i = 0; i < cells.length; i++) {
                var cell = $(cells[i]);
                //var cellText = cell.text();
                //var unformatedText = $.unformat(cell, { rowId: cell[0].id, colModel: gr[0].p.colModel[pos] }, pos);
                var unformatedText = cell.text();
                if (text === unformatedText) { // one can use cell.text() instead of unformatedText if needed
                    if (doNonEditable) {
                        cell.addClass('not-editable-cell');
                    } else {
                        cell.removeClass('not-editable-cell');
                    }
                }
            }
        };


        $("#reviewerTaskGrid").jqGrid({
            url: "/OPAReview/GetgridContent?taskInstanceId=" + $("#TaskGuid").val() + "",
            datatype: 'json',
            mtype: "get",
            colNames: ['Action', 'Name', 'Role', 'Comment', 'File Name', 'Rename', 'File Upload Date', 'Submit Date'],
            colModel: [
               { key: true, name: 'actionTaken', index: 'actionTaken', editable: false },
               { Key: false, name: 'name', index: 'name', editable: false },
               { Key: false, name: 'userRole', index: 'userRole', editable: false },
               { Key: false, name: 'comment', index: 'comment', editable: false },

               {
                   Key: false, name: 'fileId', index: 'fileId',
                   
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return "NA"
                       }
                       else {
                           return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                          // return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + cellvalue + '">' + rowObject.fileName + '</a>';
                       }
                   }
               },
                          {
                              Key: false, name: 'fileId', index: 'fileId', editable: true, type: 'link',
                              cellattr: function (cellvalue, options, rowObject) {
                                  if (rowObject.fileName != null) {

                                     // return ' style="text-decoration: underline"';
                                  }
                              },
                              formatter: function (cellvalue, options, rowObject) {
                                  if (rowObject.fileName == null) {
                                      return "NA"
                                  }
                                  else {
                                      return rowObject.fileName;
                                  }
                              }
                          },


               { Key: false, name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/y' } },
               { Key: false, name: 'submitDate', index: 'submitDate', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/y' } }],
            pager: jQuery('#pager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            height: '100%',
            viewrecords: true,
            cellsubmit: 'clientArray',

            cellEdit: true,
            caption: 'AE Task',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            loadComplete: function () {
                //debugger;
                changeEditableByContain(grid, 'Rename', 'NA', true);

            },

            beforeSaveCell : function(	rowid, cellname, value, iRow, iCol)
            {
                //debugger;
                $('#reviewerTaskGrid').trigger('reloadGrid');
            },

            onCellSelect : function (rowid,iCol, cellcontent, e) {
                //debugger;

                //$('#reviewerTaskGrid').jqGrid('getCell', rowid, 'File Name');
                //alert($('#reviewerTaskGrid').jqGrid('getCell', rowid, 'File Name'));
            },
            loadError: function (xhr, status, error) {
                // debugger;

            },
            autowidth: true,
            multiselect: false

        }).navGrid('#pager', { edit: true, add: false, del: false, search: false, refresh: false },
         {
             //Delete options
             zIndex: 100,
             url: '/TodoList/Delete',
             closeOnEscape: true,
             CloseAfterEdit: true,
             recreateForm: true,
             msg: "Are you sure you want to delete this task?",
             afterComplete: function (response) {
                 if (response.responseText) {
                     alert(response.responseText);
                 }

             }
         });


    });

    function OpenFileHistoryDialog() {

        $("#fileHistoryGrid").dialog("open");
    }


</script>
