﻿@model HUDHealthcarePortal.Model.OPAViewModel
   
<style>
    .fileClass {
        width: 100px !important;
        padding: 5px !important;
    }

</style>
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<div id="WorkProductDiv" style="width:700px">
    <table id="opacontent"></table>
    <div id="opapager"></div>
</div>

@*<div id="FinalAEGriDiv" style="width:700px">
    <table id="finalopacontent"></table>
    <div id="opapager"></div>
</div>*@
<script>
    function getFile(fileid) {
        // alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }
</script>
<script>
    function handleDeleteFile(id) {
       //debugger;
        var childFileId = id;
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/OPADeletefile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
            //    debugger;
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    jQuery('#opacontent').trigger('reloadGrid');
                }
            },
            error: function (xhr, status, p3, p4) {
              //  debugger;
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }

   </script>

    <script>
    $(document).ready(
        function () {
            // debugger;
            $("#opacontent").jqGrid({
                url: "/OPAForm/GetProdLenderUploadFileGridContentInternalProducts?taskInstanceId=" +"@Model.TaskInstanceId" + "&PropertyId=" + $("#txtPropertyId").val() + "&FhaNumber=" + $("#ddlFHANumbers").val() + "" + "&FormName=" +  @Model.pageTypeId +"&Projectactiontypeid=" + @Model.ProjectActionTypeId,
                //url: "/OPAForm/GetOPAWorkProduct?taskInstanceId=" + $("#TaskGuid").val() + "&fileType="+ "WP" + "",
                datatype: 'json',
                mtype: 'POST',

                colNames: ['File Name', 'File Size(KB)', 'Role', 'Uploaded By', 'Uploaded On', 'Remove Attachment'],
                colModel: [

                    {
                        Key: false, name: 'FileName', index: 'FileName', width: 250, type: 'link',
                        cellattr: function (cellvalue, options, rowObject) {
                            if (rowObject.fileName != null) {

                                return ' style="text-decoration: underline"';
                            }
                        },
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.fileName == null) {
                                return "NA"
                            }
                            else {
                                return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                                //return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.FileId + '">' + rowObject.FileName + '</a>';
                            }
                        }
                    },

                    {
                        name: 'fileSize', index: 'fileSize', editable: false, width: 200,

                    },
                    { Key: false, name: 'role', index: 'role', editable: false, width: 200 },
                    { Key: false, name: 'name', index: 'name', editable: false, width: 200 },
                    { Key: false, name: 'uploadDate', index: 'uploadDate', editable: true, width: 250, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' }, sorttype: "date" },

                    {
                        Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.fileName == null) {
                                return "NA"
                            }
                            else {
                                // return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                                return "<img src='/Content/images/delete.jpg' id='" +  rowObject.FileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                            }
                        },
                        formatoptions: {
                            keys: true,
                            editformbutton: true
                        }

                    },
                ],

                pager: jQuery('#opapager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true, autoencode: true,
                width: 1250,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                loadComplete: function (data) {
                    //debugger;
                    if (@Model.RequestStatus == 2)
                    {
                        jQuery("#opacontent").jqGrid('hideCol', 'FileId');
                        jQuery("#opacontent").setGridWidth('1100');
                    }

                    if (@Model.RequestStatus == 1 && @Model.columnVisibility == 1)
                    {

                        jQuery("#opacontent").jqGrid('hideCol', 'FileId');
                        jQuery("#opacontent").setGridWidth('1100');
                    }

                },
                //autowidth: true,
                multiselect: false,

                onPaging: function (pgButton) {
                    //debugger;
                    var isGoodToGo = true;
                    for (ifile = 0; ifile < fileListUpdate.length; ifile++) {

                        if (fileListUpdate[ifile].ReqAdditionalInfo && fileListUpdate[ifile].Comments.length <= 0) {
                            $("#" + fileListUpdate[ifile].rowId + "_raiComments").addClass('errorClass');
                            isGoodToGo = false;
                        }
                        else {
                            $("#" + fileListUpdate[ifile].rowId + "_raiComments").removeClass('errorClass');
                        }

                    };


                },



                beforeSelectRow: function (rowid, e) {
                    //debugger;
                    var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;

                    if (cmName === "FileId") {
                        handleDeleteFile(e.target.id);
                        //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                        //for (var i = 0; i < deleteElements.length; i++) {
                        //    deleteElements[i].addEventListener('click',
                        //        handleDeleteFile, false);
                        //}

                    }
                    return false;
                }

            }).navGrid('#pager', { edit: false, add: false, del: true, search: true, refresh: true });



        });





    function Removefile(taskFileId, groupTaskInstanceId) {

        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPARemovefile/TaskGuid?=' + $('#TaskGuid').val(),
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                TaskGuid: TaskGuid,
                lendercomment: lendercomment


            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);
                alert('File successfully deleted');
                $("h4:first").html('');

                $("#isAgreementRequiredErrorMessage").hide();




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });


    }
    </script>






