﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script>
    function getFile(fileid) {
        // alert(1);
        window.open("/OPAForm/DownloadTaskFile/?taskfileid=" + fileid, '_blank');
    }
</script>

@*<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>*@

<div id="requestAdditionalMainGrid">

    <table id="requestAdditionalTaskGrid"></table>
    <div id="pager"></div>

    
</div>

<div id="commentGrid">

    <table id="historyCommentGrid"></table>
    <div id="historyCommentGridPager"></div>
</div>

<div id="fileGrid">

    <table id="historyFileGrid"></table>
    <div id="historyFileGridPager"></div>
</div>

<style type="text/css">
    .ui-jqgrid {
        font-size: 8.8em;
    }

    .mylink {
        text-decoration: underline;
    }

    .hiddenCell {
        visibility: collapse;
    }

    .ui-jqgrid tr.jqgrow td {
        word-wrap: break-word; /* IE 5.5+ and CSS3 */
        white-space: pre-wrap; /* CSS3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        overflow: hidden;
        height: auto;
        vertical-align: middle;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 1.2em;
    }
    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }

    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        [type=file] + label:hover {
            background: #3399ff;
        }

    .historyImageCursor {
        cursor: pointer;
    }
</style>
@*<script>
 function handleDeleteFile(id) {
       // debugger;
     var childFileId = id;
     //var childFileId =  $("#requestAdditionalTaskGrid").jqGrid('getCell', idvalue, 'childFileId');
        $("#spinner").attr('class', 'overlay');
        $.ajax({
            type: "POST",
            url: "/OPAForm/RAIDeleteFile/?taskfileid=" + childFileId,

            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                if (result === "Success") {
                    alert("File Deleted Successfully");
                    isFileAttached = false;
                    jQuery('#requestAdditionalTaskGrid').trigger('reloadGrid');
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    }
</script>*@

<script>


    function handleDeleteFile(fileIDs) {
        var ids = JSON.stringify(fileIDs);
        //var url = '@Url.Action("DeleteRAI", "OPAForm")';
        var url = '@Url.Action("RAIDeleteFile", "OPAForm")';
        $.ajax({
            url: url,
            type: 'POST',
            data: { taskFileIDs: fileIDs.toString() },
            success: function (response) {
               // alert(response);
                if(response === "Success")
                    {
                alert("File Deleted Successfully")
                window.location.href = '/OPAForm/RAIReload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
                }
                else if(response === "unauthorized")
                {
                    alert("Your not authorized to delete.");
                    window.location.href = '/OPAForm/RAIReload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
                }
            }
                ,
            error: function(data) {
                alert("Error on Deleting Files");
            },

        });
    }







</script>

<script>
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object
        //Validations
        var Size = 0;
        var cnt = this.files.length;
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }

        if (Size > 1073741824) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB)");

            //reset file upload control
            return false;
        }


        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }
        }

        //debugger;
        var id = evt.target.id;
        var idvalue = id.split("_")[0];
        var fileIdValue = $("#requestAdditionalTaskGrid").jqGrid('getCell', idvalue, 'fileId');
        var expectedFileNameValue = $("#requestAdditionalTaskGrid").jqGrid('getCell', idvalue, 'fileName');
        var childInstanceIdValue = $("#ChildTaskInstanceId").val();
        var fhanumber = $("#FhaNumber").val();
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }
                data.append("fileId", fileIdValue);
                data.append("childInstanceId", childInstanceIdValue);
                data.append("expectedFileName", expectedFileNameValue);
                data.append("FhaNumber",fhanumber);

                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    type: "POST",
                    url: "/OPAForm/SaveToTaskFileHistory/?propertyid=" + '@Model.PropertyId' + '&Fhanumber=' + '@Model.FhaNumber' + '&TaskfileId=' + fileIdValue,
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data,
                    success: function (result) {
                        if (result === "Success") {
                            isFileAttached = true;
                            jQuery('#requestAdditionalTaskGrid').trigger('reloadGrid');
                        }
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }


    }


</script>


<script type="text/javascript">

    filehistory = "<span class='fa fa-fw fa-plus'></span>&nbsp;" +
        "<span class='mylink'>View File(s)</span>";



    function CommentHistoryDialog(id) {
        $("#historyCommentGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileCommentHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'comment', 'uploadDate'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'comment', index: 'comment', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyCommentGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#commentGrid").dialog({
                    title: 'Comments History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#commentGrid").show();
            },


        });
    }

    function FileHistoryDialog(id) {
        $("#historyFileGrid").jqGrid({ //set your grid id
            url: '/OPAReview/GetFileUploadHistory?taskFileId=' + id + '',
            datatype: 'json',
            mtype: 'GET',
            width: 500,
            colNames: ['User Name', 'User Role', 'File Name', 'File Size', 'Upload Date'], //define column names
            colModel: [
            { name: 'name', index: 'name', width: 150 },
            { name: 'userRole', index: 'userRole', width: 250 },
            {
                name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                cellattr: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName != null) {

                        return ' style="text-decoration: underline"';
                    }
                },
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.fileName == null) {
                        return " ";
                    }
                    else {
                        return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                       /// return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                    }
                }
            },
            { name: 'fileSize', index: 'fileSize', width: 250 },
            { name: 'uploadDate', index: 'uploadDate', width: 100, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } }

            ],
            pager: jQuery('#historyFileGridPager'), //set your pager div id
            loadComplete: function (data) {

                $("#fileGrid").dialog({
                    title: 'File Upload History',
                    modal: true,
                    closeOnEscape: true,
                    width: 600,
                    height: 500,
                    buttons: false,
                    position: "center"
                });
                $("#fileGrid").show();
            },


        });
    }


    $(document).ready(function() {
        $("#requestAdditionalTaskGrid").jqGrid({
            // url: "/OPAForm/GetRequestAdditionalGridForLender?taskInstanceId=" + "@Model.TaskInstanceId" +"&Projectactiontypeid=" + @Model.ProjectActionTypeId,
             url: "/OPAForm/GetRequestAdditionalGridForLender?taskInstanceId=" + "@Model.ChildTaskInstanceId" +"&Projectactiontypeid=" + @Model.ProjectActionTypeId,
            //url: "/OPAForm/GetRequestAdditionalGridForLender?taskInstanceId=" + $("#TaskGuid").val() + "",
           // 'DocTypeID', 'DocTypesList'
            datatype: 'json',
            mtype: 'POST',
            colNames: ['Action', 'Name', 'Role', 'FileID', 'ChildFileID', 'Comment', 'File History', 'Expected File Name', 'Attached File', 'File Size(KB)', 'Remove Attachment', 'Upload/Modify Evidence'],
            colModel: [
                { name: 'actionTaken', index: 'actionTaken', editable: false, width: 150 },
                { name: 'name', index: 'name', editable: false, width: 150 },
                { name: 'userRole', index: 'userRole', editable: false, width: 70 },
                { name: 'fileId', index: 'fileId', editable: true, hidden: true, width: 10 },
                { name: 'childFileId', index: 'childFileId', editable: true, hidden: true, width: 10 },
                {
                    name: "commentHistory", align: "center", width: 70,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileComment != null & rowObject.isFileComment) {
                            return "<img class='historyImageCursor' src='/Content/images/comments.png' alt='Comment History' />";
                        }
                        else if (rowObject.comment != null) {
                            return rowObject.comment;
                        }
                        else {
                            return " ";
                        }
                    }
                },
                {
                    name: "fileHistory", align: "center", width: 70,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.isFileHistory != null & rowObject.isFileHistory) {
                            return "<img class='historyImageCursor' src='/Content/images/formicon.png' alt='File History' />";
                        }
                        else {
                            return " ";
                        }
                    }
                },
                {
                    name: 'fileName', index: 'expectedFileName', editable: false, hidden: false,  width: 150,
                    formatter: function(cellvalue, options, rowObject) {
                        if (rowObject.actionTaken === 'New File' || rowObject.actionTaken === 'New File Request') {
                            return "NA";
                        }
                    else {
                            return cellvalue;
                        }
                    }
                },
                {
                    name: 'newfile', index: 'newfile', type: 'link', width: 120,
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.fileName != null) {

                            return ' style="text-decoration: underline"';
                        }
                    },
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.fileId != null) {
                            return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                            //return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.childFileId + '">' + rowObject.childFileName + '</a>';
                        } else if (rowObject.actionTaken === 'New File') {
                            return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                            //return '<a href="/OPAForm/OPADownloadTaskFile/?taskfileid=' + rowObject.fileId + '">' + rowObject.fileName + '</a>';
                        }
                        else {
                            return "NA";
                        }
                    }
                },
                {
                    name: 'fileSize',
                    index: 'fileSize',
                    editable: false,
                    width: 60,
                    formatter: function(cellvalue, options, rowObject) {
                        if (rowObject.fileName == null) {
                            return " ";
                        } else {
                            return cellvalue;
                        }
                    }
                },
                {
                    name: 'removefile',
                    index: 'removefile',
                    width: 150,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.isApprove) {
                            return " ";
                        }

                        else if (rowObject.comment != null) {
                            //return '   <input id="' + rowObject.childFileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                            return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                        }

                        //else if (rowObject.actionTaken === 'New File' && rowObject.fileId != null) {
                        //    //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                        //    return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                        //}
                        else {
                            return "NA";
                        }
                    }
                },
                {
                    name: 'attachfile',
                    index: 'attachfile',
                    width: 150,
                    sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        //debugger;
                        if (rowObject.isApprove) {
                            return " ";
                        }
                        else if (rowObject.fileId == null && rowObject.comment == null) {
                            return " ";
                        } else if (rowObject.actionTaken === 'New File') {
                            return " ";
                        }
                        //else if (rowObject.fileId == null) {
                        //    return " ";

                        //}
                        else if (rowObject.comment != null || rowObject.actionTaken === 'New File Request') {
                           // return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'RAIUpload(' + options.rowId + '); return false;\'  />'
                            return '   <input id=\'' + options.rowId + '_btnAttachFile\' type=\'File\' value=\'\' class=\'fileClass\' multiple=\'multiple\'   />' +
                                '<label id="" for=\'' + options.rowId + '_btnAttachFile\' class=\'fileClass\'> Attach </label>';
                        } else {
                            //return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'RAIUpload(' + options.rowId + '); return false;\'  />'
                            return '   <input id=\'' + options.rowId + '_btnAttachFile\' type=\'File\' value=\'\' class=\'fileClass\'    />' +
                                '<label id="" for=\'' + options.rowId + '_btnAttachFile\' class=\'fileClass\'> Attach </label>';
                        }
                    }
                },
                // added new doctype for new file
                 //{ name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                 //{ name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },
                 //     {

                 //         name: 'DocTypeID', index: 'DocTypeID', type: 'link', width: 210, editable: false,hidden:true,


                 //         formatter: function (cellvalue, options, rowObject) {
                 //             if (rowObject.level == 0) {
                 //                 return ''
                 //             }
                 //             else {
                 //                 if (rowObject.DocTypeID == null && rowObject.DocTypesList != null ) {

                 //                     return rowObject.DocTypesList
                 //                 }
                 //                 else

                 //                     return ''
                 //             }
                 //         }

                 //     },
            ],
            pager: jQuery('#pager'),
            cellEdit: false,
          //  cellsubmit: 'clientArray',
            rowNum: 10,
            loadonce: false,
            rowList: [10, 20, 30, 40],
            autowidth: false,
            shrinkToFit: true,
            height: '100%',
            viewrecords: true,
            width: 1160,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            gridComplete: function () {
                //debugger;
                //$("#CreatedBy").val() + $("#CreatedOn").val()
                $("#requestAdditionalTaskGrid").jqGrid('setGroupHeaders', {
                    useColSpanStyle: true,
                    groupHeaders: [
                      //{ startColumnName: 'fileId', numberOfColumns: 4, titleText: 'File Details' }
                    ]
                });

            },

            loadComplete: function () {

            },
            loadError: function (xhr, status, error) {

            },
            multiselect: false,
            autoencode: true,
            beforeSelectRow: function (rowid, e) {

                var $self = $(this),
                    p = $self.jqGrid("getGridParam"),
                    $td = $(e.target).closest("tr.jqgrow>td"),
                    cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    cmName = cm != null ? cm.name : null;
                if (cmName === "details") {
                    // simulate opening the subgrid
                    //$($td.parent()[0].cells[p.iColByName.subgrid]).click();
                    $('#requestAdditionalTaskGrid').toggleSubGridRow(rowid);
                    // inverse +/-
                    var $plusMinus = $td.find("span.fa");
                    if ($plusMinus.hasClass("fa-minus")) {
                        $plusMinus.removeClass("fa-minus").addClass("fa-plus");
                    } else {
                        $plusMinus.removeClass("fa-plus").addClass("fa-minus");
                    }
                }
                if (cmName === "attachfile") {

                    var elements = document.getElementsByClassName('fileClass');
                    for (var i = 0; i < elements.length; i++) {
                        elements[i].addEventListener('change',
                            handleFileSelect, false);
                    }
                }
                if (cmName === "removefile") {
                    handleDeleteFile(e.target.id)
                    //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                    //for (var i = 0; i < deleteElements.length; i++) {
                    //    deletelEements[i].addEventListener('click',
                    //        handleDeleteFile, false);
                    // }

                }


                if (cmName === "commentHistory") {

                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        CommentHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyCommentGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileCommentHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }

                if (cmName === "fileHistory") {

                    if ($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId') != null &&
                        $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId').toString().trim().length > 0) {
                        FileHistoryDialog($('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'));
                        $("#historyFileGrid").jqGrid('setGridParam', { url: "/OPAReview/GetFileUploadHistory?taskFileId=" + $('#requestAdditionalTaskGrid').jqGrid('getCell', rowid, 'fileId'), page: 1 }).trigger('reloadGrid');
                    }

                }
                return true;
            }


        }).jqGrid("hideCol", "subgrid").navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false });


    });

    // harish added new file and document change

    // document change functionality
    function DocType() {
        var url = '@Url.Action("GetDocTypesForSelectedFolder", "ProductionApplication")';
        debugger;
        $.ajax({
            url: url,
            type: 'POST',
            data: { FoldeKey: 39 },
            success: function (data) {
                $("#_ddlDocType").empty();
                if (data != null) {
                    $.each(data, function () {

                        $("#_ddlDocType").append($("<option />").val(this.Id).text(this.documenttype));


                    });
                }
            },
            error: function (data) {
                alert("Error on retriving Contractors");
            },

        });
    }


    function ChangrDocTypeConfirmation(fid) {
        // debugger;

        var selectedValue = $("#" + fid + "_ddlDocType" + " :selected").val();
        var selectedText = $("#" + fid + "_ddlDocType" + " :selected").text();

        var txt;
        if (confirm("Are you sure you want to assign this file name to the file?") == true) {
            var url = '@Url.Action("RAIAssetManagementchangeDoumentType", "OPAForm")';
            //debugger;
            $.ajax({
                url: url,
                type: 'POST',
                data: { fileId: fid, docType: selectedValue, DocName: selectedText, taskinstanceId: $("#GroupTaskInstanceId").val(), referrer: "OPA" },
                success: function (data) {
                    alert("Document name changed successfully.");
                },
                error: function (data) {
                    alert("Error on changing document name.");
                },

            });
            // $("#fileUploadGrid").trigger('reloadGrid');
            // window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
           // window.location.href ='/OPAForm/OPARequestLenderReadOnly?model=' + @Model;
            window.location.href = '/OPAForm/RAIReload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
        }


    }



    function getCellValue(rowId, cellId) {
        var cell = jQuery('#' + rowId + '_' + cellId);
        var val = cell.val();
        return val;
    }
</script>
