﻿@model HUDHealthcarePortal.Model.OPAViewModel

@{
    ViewBag.Title = "Project Action Request Form";
}

<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    .ui-dialog .ui-dialog-title {
        text-align: center;
        width: 100%;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    .my-style {
        outline: none;
        border: none;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }



    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<script type="text/javascript">
    $(document).ready(
        function() {
            var taskType = '@ViewBag.TaskType';
            if (taskType == 'Child') {
                $('#work_product').hide();
            }

        }

    );
    function userSelected(target) {
        //debugger;
        $('#Disclaimer').dialog('close');
        if ($(target).val() == 'Certify') {
            $('#Certify').val('TRUE');
            $('#btnSubmit').click();

        }
        return false;
    }
</script>

<section id="projectactionform" style="width: 1300px; height: 1150px;">
    <div id='dialogDiv2' class='modal fade in'>
        <div id='dialogContent2'></div>
    </div>
    <div id='dialogDiv' class='modal fade in'>
        <div id='dialogContent'></div>
    </div>
    <div id="dialogCommon"></div>
    <div id="paformreadonly">
        @using (Html.BeginForm("OPAFacade", "OPAForm", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "OPAprojectActionFrm" }))
        {
            @*@Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })*@
            @*@Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })


                @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
                @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
                @Html.HiddenFor(m => m.ModifiedBy, new { id = "UpdatedBy" })
                @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
                @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
                @Html.HiddenFor(m => m.ModifiedOn, new { id = "UpdatedOn" })
                @Html.HiddenFor(m => m.IsEditMode, new { id = "Mode" })
                 @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })*@
            @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
            @Html.Hidden("Certify")
            @*@Html.HiddenFor(model => model.RequestDate)*@
            @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
            @*@Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })*@
            @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
            @*@Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })*@
            @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
            @*@Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })*@
            @Html.HiddenFor(m => m.FhaNumber, new { id = "ddlFHANumbers" })
            @Html.HiddenFor(m => m.PropertyId, new { id = "txtPropertyId" })
            @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
            @Html.HiddenFor(m => m.ServicerSubmissionDate)
            @Html.HiddenFor(m => m.PropertyName, new { id = "txtPropertyName" })
            @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
            @Html.HiddenFor(m => m.IsAddressChange, new { id = "IsAddressChange" })
            @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })

            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">   </span>
                    @if (Model.RequestStatus == 6)
                    {
                        <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form</b></h4> </span>
                    }
                    else if (Model.RequestStatus == 1)
                    {
                        <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form (Read Only)</b></h4> </span>
                    }
                    else if (Model.RequestStatus == 2)
                    {
                        <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form (Approved)</b></h4> </span>
                    }

                    else if (Model.RequestStatus == 5)
                    {
                        <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form (Denied)</b></h4> </span>
                    }
                    @* Harish added new request status for RIS Model.RequestStatus ==8 (06-01-2020)*@
                    else if (Model.RequestStatus == 7 || Model.RequestStatus == 8)
                    {
                        <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Project Action Request Form (Read Only)</b></h4> </span>
                    }

                </div>
            </div>
            <br>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right required">
                        @Html.Label("FHA Number")
                    </span>
                    <span class="col-md-4">



                        @Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

                    </span>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Project Number")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyId.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

                    </span>
                </div>
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

                    </span>
                </div>

            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-10 text-center">
                        @Html.Label("Property Address:")
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Street Address")

                    </span>
                    <span class="col-md-4">

                        @Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("City")

                    </span>
                    <span class="col-md-4">


                        @Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("State")

                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Zip code")

                    </span>
                    <span class="col-md-4">

                        @Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })

                    </span>
                </div>
            </div>

            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Is the property address listed correctly?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @if (Model.RequestStatus == 6 || Model.RequestStatus == 0)
                            {
                                @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.IsAddressChange, true, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", @disabled = "disabled" })
                            }
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @if (Model.RequestStatus == 6 || Model.RequestStatus == 0)
                            {
                                @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                            }
                            else
                            {
                                @Html.RadioButtonFor(m => m.IsAddressChange, false, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;", @disabled = "disabled" })
                            }
                        </span>
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px;display:none">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Date of Request")
                    </span>
                    <span class="col-md-4">



                        @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })





                    </span>
                </div>
            </div>


                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Requester's Name")
                                </span>
                                <span class="col-md-4">
                                    @Html.DisplayFor(model => model.RequesterName)
                                </span>
                            </div>
                        </div>

                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Date of Servicer's Submission")
                                </span>
                                <span class="col-md-4">
                                    @*@Html.DisplayFor(model => model.ServicerSubmissionDate, "{0:MM/dd/yyyy}")*@
                                    @*@Html.TextBoxFor(model => model.ServicerSubmissionDate, "{0:MM/dd/yyyy}", new { @class = "my-style", @readonly = true })*@
                                    @Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                                </span>
                            </div>
                        </div>
                        <div class="container-fluid" style="padding-top: 15px">
                            <div class="row">
                                <span class="col-md-4 text-right">
                                    @Html.Label("Project Action Request Type")
                                </span>
                                <span class="col-md-4">
                                    @Html.DisplayFor(model => model.ProjectActionName)
                                    @Html.HiddenFor(model => model.ProjectActionTypeId, new { @id = "txtProjectActionType" })

                                </span>
                            </div>
                        </div>
                        @*<div class="container-fluid" style="padding-top: 15px">
                                <div class="row">
                                        @Html.Partial("_OpaReviewerHistoryGrid", Model)
                                </div>
                            </div>*@

                        @* Harish added new method for new request from AE #664 04-01-2020*@
        if (Model.RequestStatus == 6 && Model.TaskStepId == 20 || Model.RequestStatus == 1 && Model.TaskStepId == 22)
        {

            <div class="container-fluid" style="padding-top: 15px">
                <span class="col-md-4 text-right">

                    @*<button type="button" class="btn btn-primary btn-sm" onclick='Reorder(); return false;'> Rearrange<span class="badge"> FILES</span></button>

                        <button type="button" id="CopyFile" class="btn btn-primary btn-sm" onclick='Copy(); return false;'> Copy<span class="badge"> FILES</span></button>*@

                    <button type="button" onclick="DeleteAssetGridFiles()" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span> Attachement</button>
                </span>
            </div>


            @Html.Partial("~/Views/OPAForm/RISFromAEGrid.cshtml", Model)
        }
        if (Model.RequestStatus == 8 && Model.IschildTask == false || Model.RequestStatus == 8 && Model.TaskStepId == 22 || Model.RequestStatus == 1 && Model.TaskStepId == 20 && Model.IsRIS == true)
        {


            <div class="container-fluid" style="padding-top: 15px">
                <span class="col-md-4 text-right">
                    <button type="button" onclick="DeleteAssetGridFiles()" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span> Attachement</button>
                </span>
            </div>
            @Html.Partial("~/Views/OPAForm/RISFromAEGrid.cshtml", Model)
            }

            if (Model.RequestStatus == 2)
            {
                @Html.Partial("~/Views/OPAForm/_SubmissionAssetManagement.cshtml", Model)
            }

            if (Model.RequestStatus == 1 && Model.TaskStepId == 20 && Model.IsRIS == false || Model.RequestStatus == 1 && Model.TaskStepId == 21 || Model.RequestStatus == 8 && Model.TaskStepId == 20 && Model.IschildTask == true)
            {
                @Html.Partial("~/Views/OPAForm/_RISOPAAttachFinalWorkProducts.cshtml", Model)
            }
            //if (Model.RequestStatus == 7 && Model.IsViewFromGroupTask == true)
            //{

            //}
            if (Model.RequestStatus == 6 && Model.IsViewFromGroupTask == true)
            {
                //Harish added for delete functionality

                <div class="container-fluid" style="padding-top: 15px">
                    <span class="col-md-4 text-right">

                        @*<button type="button" class="btn btn-primary btn-sm" onclick='Reorder(); return false;'> Rearrange<span class="badge"> FILES</span></button>

                            <button type="button" id="CopyFile" class="btn btn-primary btn-sm" onclick='Copy(); return false;'> Copy<span class="badge"> FILES</span></button>*@

                        <button type="button" id="btnDelete" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span> Attachement</button>
                    </span>
                </div>
                <div class="container-fluid" style="padding-top: 15px">
                    @*@Html.Partial("~/Views/OPAForm/_SubmissionAssetManagement.cshtml", Model)*@
                    @Html.Partial("~/Views/OPAForm/_AssetManagementFileUploadGrid.cshtml", Model)
                </div>
            }
            @* harish added changed else to else if for code testing 06-01-2020*@
        else if ((Model.RequestStatus == 2))
        {
            @* harish commented below line while testing (04-01-2020)*@
            <div class="container-fluid" style="padding-top: 15px">
                @Html.Partial("~/Views/OPAForm/_SubmissionAssetManagement.cshtml", Model)

            </div>
        }

        if ((Model.RequestStatus == 6))
        {
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">

                    </span>

                    <span class="col-md-12 ">
                        @Html.Label("*", new { style = "color: red;" })
                        <b> <i> All files attached at the same time must not exceed 1 GB. Please make sure the files you are attaching are in the accepted format. (.gif, .doc, .docx, .pdf, .xls, .xlsx).</i> </b>
                    </span>
                </div>
            </div>
            }
            if (Model.IsViewFromGroupTask == true)
            {
                <div class="container-fluid" style="padding-top: 15px">
                    @Html.Partial("~/Views/OPAForm/_OpaHistory.cshtml", Model)
                </div>

            }
            if (Model.RequestStatus == 1 && (Model.TaskStepId == 14 || Model.TaskStepId == 0) || (Model.RequestStatus ==5 && Model.TaskStepId ==15))
            {
                <div class="container-fluid" style="padding-top: 15px">
                    @Html.Partial("~/Views/OPAForm/_SubmissionAssetManagement.cshtml", Model)
                </div>
                        <br>
                        <br>
            }




            if (Model.GridVisibility == "ShowForLender" && Model.IschildTask == false)
            {

                <span class="col-md-4 text-right vbottom">
                    @Html.Label("External Work Product")
                </span>
                <hr />
                <div class="container-fluid" style="padding-top: 15px ">
                    @Html.Partial("~/Views/OPAForm/_OPAAttachFinalWorkProducts.cshtml", Model)
                    @*@Html.Partial("~/Views/OPAForm/LenderFinalWorkProducts.cshtml", Model)*@
                </div>
            }

            if (Model.GridVisibility == "LenderPAMParent" && Model.RequestStatus != 1)
            {
                <span class="col-md-4 text-right vbottom">
                    @*@Html.Label("HUD Initiated Documents")*@
                    @Html.Label("Internal Work products ")
                </span>
                <hr />
                <div class="container-fluid" style="padding-top: 15px ">
                    @Html.Partial("~/Views/OPAForm/_OPAAttachFinalWorkProducts.cshtml", Model)
                </div>

            }

            if (Model.GridVisibility == "PAMParent")
            {
                <span class="col-md-4 text-right vbottom">
                    @Html.Label("Internal Work Products")
                </span>
                <hr />
                <div class="container-fluid" style="padding-top: 15px">
                    @Html.Partial("~/Views/OPAForm/_OPAUploadForAe.cshtml", Model)
                </div>
                <br>
                <br>
                <br>
                <span class="col-md-4 text-right vbottom">
                    @*@Html.Label("HUD Initiated Documents")*@
                    @Html.Label("External Final Work Products")
                </span>
                <hr />
                <div class="container-fluid" style="padding-top: 15px ">
                    @Html.Partial("~/Views/OPAForm/_OPAAttachFinalWorkProducts.cshtml", Model)
                </div>

            }

            <hr />






            if (Model.RequestStatus == 6 || Model.RequestStatus == 0)
            {
                <div class="container-fluid" style="padding-top: 15px">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Lender Comments")
                        </span>
                        <span class="col-md-4">

                            @Html.TextAreaFor(m => m.ServicerComments, new { @style = "height:70px;width:300px;", maxlength = "500" })




                        </span>
                    </div>
                </div>
            }
            @*User Story 1901*@
            <div class="container-fluid">
                <div class="row">
                    <table>
                        <tr>

                            <label id="isAgreementRequiredErrorMessage" style="color:red;margin-left:40px"> * This field is required</label>

                        </tr>
                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { id = "rdIsAgreementAccepted", @class = "rbFakeClass", @style = "width:80px;margin-left:7px;" })
                            </td>
                            <td>

                                <label id="DisclaimerText" class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>

                            </td>
                        </tr>

                    </table>

                </div>

            </div>
            <hr />





            if (Model.RequestStatus == 6)
            {<div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-4 text-right">


                    <input type="submit" name="submitButton" value="Submit" id="btnSubmit" />
                </span>
                <span class="col-md-4 text-right">

                    <input type="submit" name="submitButton" id="btnSave" value="Save" />
                </span>

                <span class="col-md-4 text-right">

                    <input type="submit" name="Save\Check In" id="btncheckin" value="Save and Check-in" />
                </span>
            </div>
        </div>
                                <hr />
            }



        }

        @if (Model.IsLenderPAMReport)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to Lender PAM Report", "Index", "LenderPAMReport", new { lamIds = ViewData["lamIds"], bamIds = ViewData["bamIds"], larIds = ViewData["larIds"], roleIds = ViewData["roleIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                </span>
            </div>
        }
        else if (Model.IsPAMReport)
        {
            <hr />
            <div style="text-align: center">
                @Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
            </div>
        }
        else if (Model.IsViewFromGroupTask)
        {
            <div style="text-align: center">
                @Html.ActionLink("Return to my Group Tasks", "Index", "GroupTask", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
            </div>
        }
        else if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
        {
            <div style="text-align: center">
                @Html.ActionLink("Return to My Reassigned Tasks", "MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
            </div>
        }
        else
        {
            <div style="text-align: center">
                @Html.ActionLink("Return to My Tasks", "MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
            </div>
        }
    </div>





    <script>
                    var autocompleteTextBox = $('#ddlFHANumbers');
                    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
                    var fhaNumberLoaded = "";
    </script>
</section>

<script src="/Scripts/Shared/autocomplete.js"></script>

<script>

    function hideColumn(columnIndex) {
       // debugger;
        $('.webGrid td:nth-child(' + (columnIndex ) + '),th:nth-child(' + (columnIndex ) + ')').hide();
    }


    $(document).ready(function () {
        //$('#claimer').hide();
        //User Story 1901
        $("#isAgreementRequiredErrorMessage").hide();


        if ('@Model.RequestStatus' == '1' || '@Model.RequestStatus' == '2' ||  '@Model.RequestStatus' == '5' ||  '@Model.RequestStatus' == '7') {
            //hideColumn(9);

            $('#rdIsAgreementAccepted').prop('checked', true);
            $('#rdIsAgreementAccepted').prop('disabled', true);
            var isAgreementChecked = true;
        }
        else
        {
            $('#rdIsAgreementAccepted').prop('checked', false);
            $('#rdIsAgreementAccepted').prop('disabled', false);
            var isAgreementChecked = true;
        }
      //  var projectActionSelected = false;

        //datepicker
        $('.datepicker').datepicker();

        $('#requestDate').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var minRequestDate = new Date(today.getFullYear()-1, today.getMonth(), today.getDate());
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);
            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
            else if(userSelectedDate < minRequestDate) {
                alert('Date of request should not be older than 365 days.');
                $(this).val('');
            }
        });

        $('#projectActionType').change(function() {
            var selectedProjectAction = $('#projectActionType').val();
            if (selectedProjectAction != '' || selectedProjectAction != 0) {
                projectActionSelected = true;
                $.ajax({
                    url: '@Url.Action("CheckIfProjectActionExistsForFhaNumber", "OPAForm")',
                    data: { projectActionTypeId: selectedProjectAction, fhaNumber: $('#ddlFHANumbers').val() },
                    type: 'GET',
                    success: function(data) {
                        {

                            if (data == '1') {
                                alert("A request has already been made for the selected Project Action Type and FHA Number." +
                                                                " Please select a different FHA Number or Project Action Type");

                                return false;
                            } else if (data == '6') {
                                alert("A request has already been drafted for the selected Project Action Type and FHA Number." +
                                                                 " Please select a different FHA Number or Project Action Type");

                                return false;
                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            } else {
                projectActionSelected = false;
                $("#nextBtn").prop("disabled", false);
            }

        });


        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function (event, ui) {
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatePropertyInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function () {
            updatePropertyInfo($(this).val());
        });

        function updatePropertyInfo(selectedFHANumber) {
            // debugger;
            var selectedProjectAction = $('#projectActionType').val();
        if ($.inArray(selectedFHANumber, possibleValues) != -1) {
            if (fhaNumberLoaded != selectedFHANumber) {
                $.ajax({
                    url: '@Url.Action("GetPropertyInfo", "OPAForm")',
                    data: { selectedFhaNumber: selectedFHANumber, projectActionViewModel:'@Model' ,selectedProjectAction: selectedProjectAction},
                    type: 'GET',
                    success: function(data) {
                        {
                            updateBasedOnFHA = false;
                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId').val("");
                            } else {
                                /*$('#txtPropertyId').val(data.PropertyId);
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#FhaNumber').val(selectedFHANumber);*/
                                $("#paform").html("");
                                $("#paform").html(data);
                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            }
        } else {
            $('#txtPropertyName').val("");
            $('#txtPropertyId').val("");
        }

        fhaNumberLoaded = selectedFHANumber;
    }

        //$('#IsAgreementAccepted').change(function () {
        //    if (this.checked) {
        //        isAgreementChecked = true;
        //        $("#nextBtn").prop("disabled", false);
        //    } else {
        //        $("#nextBtn").prop("disabled", true);
        //        alert("Please accept the disclaimer");
        //        return false;
        //    }
        //});




    });

</script>

<script>
    var uploadCheckList = (function () {
        var settings = window.settingsObject;
        return {
            InitView: function () {
                'use strict';
                //debugger;
                $('.fileClass').fileupload({

                    autoUpload: true,
                    url: '/OPAForm/UploadFile/GroupTaskInstId?=@Model.GroupTaskInstanceId',
                    dataType: 'json',
                    formData: {
                    },
                    add: function (e, data) {
                       // debugger;
                        var chkListId = $(this).attr("checklistid");
                        var fhaNumber = $('#FhaNumber').val();
                        var groupTaskInstanceId = $('#GroupTaskId').val();
                        var projectActionTypeId = $('#ProjectActionTypeId').val();
                        var groupTaskCreatedOn = $('#GroupTaskCreatedOn').val();
                        if ($('#IsAgreementAccepted').is(':checked')) {
                            var disclaimer="TRUE";
                        }
                        else
                        {
                            var disclaimer="FALSE";
                        }



                        data.formData = {
                            FhaNumber: fhaNumber,
                            CheckListId: chkListId,
                            GroupTaskInstanceId: groupTaskInstanceId,
                            ProjectActionTypeId: projectActionTypeId,
                            GroupTaskCreatedOn: groupTaskCreatedOn,
                            OPAProjectActionViewModel: '@Model',
                            disclaimer: disclaimer
                        };
                        var jqXHR = data.submit()
                            .success(function (data, textStatus, jqXHR) {
                                $('#rdIsAgreementAccepted').prop('checked', false);//User Story 1901
                                if (data.isUploaded) {

                                }
                                else {

                                }
                                alert(data.message);
                            })
                            .error(function (data, textStatus, errorThrown) {
                                if (typeof (data) != 'undefined' || typeof (textStatus) != 'undefined' || typeof (errorThrown) != 'undefined') {
                                    alert(textStatus + errorThrown + data);
                                }
                            });
                    },
                    change: function (e, data) {
                        // alert(data.files.length);
                       // debugger;
                        var Size = 0;
                        var cnt = data.files.length;
                        for (i = 0; i < cnt; i++) {
                            Size += data.files[i].size;
                        }

                        if (Size > 1073741824) {
                            //show an alert to the user
                            alert("Your Allowed file size exceeded. (Max. 1 GB)")

                            //reset file upload control
                            return false;
                        }


                        //var chkListId = $(this).attr("checklistid");

                        //$.each(data.files, function (index, file) {
                        //    $('#txt_' + chkListId).text(file.name);
                        //    $('#txt_' + chkListId).val(file.name);
                        //});
                        for (i = 0; i < cnt; i++) {
                            var uploadFile = data.files[i];
                            if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF|png)$/i).test(uploadFile.name)) {
                                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                                return false;
                            }

                        }
                    },
                    fail: function (event, data) {
                        if (data.files[0].error) {
                            alert(data.files[0].error);
                        }
                    }
                });

            },
            DeleteUploadedFile: function (taskFileId, groupTaskInstanceId) {
                // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
              //  debugger;
                var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
                //debugger;
                var fhaNumber = $('#FhaNumber').val();
                var data = new FormData();
                data.append("IsViewFromGroupTask", IsViewFromGroupTask);

                $.ajax({
                    url: '/OPAForm/OPADeleteGroupTaskFile/GroupTaskId?=@Model.GroupTaskId',
                    data: {
                        taskInstanceId: groupTaskInstanceId,
                        taskFileId: taskFileId,
                        OPAProjectActionViewModel: '@Model',
                        IsViewFromGroupTask: IsViewFromGroupTask,
                        fhaNumber:fhaNumber

                    },
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                       // debugger;

                        $("#paformreadonly").html("");
                        $("#paformreadonly").html(response);
                        $("#paform").html("");
                        $("#paform").html(response);

                        $("remove_" + taskFileId).hide();
                        $("#spinner").hide();

                        alert('File successfully deleted');
                        $('#rdIsAgreementAccepted').prop('checked', false);//User Story 1901

                        //$("remove_" + taskFileId).hide();
                        //$("#spinner").hide();

                        //$('#ddlFHANumbers').attr('readonly', true);
                        //$("#ddlFHANumbers").css("background-color", "#eee");
                        //$('#requestDate').attr('readonly', true);
                        //$("#requestDate").css("background-color", "#eee");
                        //$('#projectActionType').attr('readonly', true);
                        //$("#projectActionType").css("background-color", "#eee");






                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            GoProjectActionRequestForm: function () {
                $('form#projectaActionFrm').attr('action', settings.GoProjectActionFormURL);
                $('form#projectaActionFrm').submit();
            },
            SubmitForm: function () {
                $('form#projectaActionFrm').submit();
            }
        }
    }());

    $(document).ready(function () {
        if ('@Model.RequestStatus' == '1') {
            $('.delete').html('');
            $('.delete').html('<img src="/Content/images/Delete.jpg" height="10" width="10" style="opacity: 0.3; filter: alpha(opacity=30);">');
        }
        var projectActionSelected = false;
        var Readonly = false;
        $('#divHtml').hide();
        $('#divsubmit').hide();
        $('#Disclaimer').hide();





        $("#butnSave").click(function () {
            //$('#divHtml').hide();
            window.location = "/GroupTask/Index";
        });

        $("#butnSubmit").click(function () {
           // debugger;
            //$('#divHtml').hide();
            window.location = "/Task/MyTasks";
        });

        $('.fileClass').on('change', function (e) {


            //Validations
            var Size = 0;
            var cnt = this.files.length;
            for (i = 0; i < cnt; i++) {
                Size += this.files[i].size;
            }

            if (Size > 1073741824) {
                //show an alert to the user
                alert("Your Allowed file size exceeded. (Max. 1 GB)")

                //reset file upload control
                return false;
            }


            //var chkListId = $(this).attr("checklistid");

            //$.each(data.files, function (index, file) {
            //    $('#txt_' + chkListId).text(file.name);
            //    $('#txt_' + chkListId).val(file.name);
            //});
            for (i = 0; i < cnt; i++) {
                var uploadFile = this.files[i];
                if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                    alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                    return false;
                }

            }
            var files = e.target.files;
           // debugger;
            var fhaNumber = $('#ddlFHANumbers').val();
            var PropertyName = $('#txtPropertyName').val();
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();
            // var Mode = $('#Mode').val();
            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();

            if ($('#IsAgreementAccepted').is(':checked')) {
                var disclaimer="TRUE";
            }
            else
            {
                var disclaimer="FALSE";
            }

            if($('#rbYes').is(':checked'))
            {
                var addressschanged="TRUE";

            }
            else
            {
                var addressschanged="FALSE";
            }





            //var myID = 3; //uncomment this to make sure the ajax URL works
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                    }

                    data.append("FHA", fhaNumber);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("PropertyName", PropertyName);
                    data.append("requestDate", requestDate);
                    data.append("RequesterName", RequesterName);

                    data.append("ServicerSubmissionDate", ServicerSubmissionDate);
                    data.append("ProjectActionTypeId", ProjectActionTypeId);
                    data.append("ServicerComments", ServicerComments);
                    data.append("GroupTaskId", GroupTaskId);
                    data.append("IsViewFromGroupTask", IsViewFromGroupTask);
                    data.append("RequestStatus", RequestStatus);
                    data.append("disclaimer", disclaimer);
                    data.append("addressschanged",addressschanged)
                    $("#spinner").attr('class', 'overlay');

                    $.ajax({
                        type: "POST",
                        url: '/OPAForm/UploadFile/Taskid?=@Model.GroupTaskId',
                        contentType: false,
                        processData: false,
                        cache: false,
                        data: data,
                        success: function (result) {
                           // debugger;
                            $("#paform").html("");
                            $("#paform").html(result);
                            $("#paformreadonly").html("");
                            $("#paformreadonly").html(result);

                            $('#ddlFHANumbers').attr('readonly', true);
                            $("#ddlFHANumbers").css("background-color", "#eee");
                            $('#projectActionType').attr('disabled', true);
                            $('#projectActionType').attr('readonly', true);
                            $("#projectActionType").css("background-color", "#eee");
                            Readonly = true;
                        },
                        error: function (xhr, status, p3, p4) {
                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        });


        //$(".fileClass").click(function () {
        //   // debugger;
        //    var selectedProjectAction = $('#projectActionType').val();
        //    if (selectedProjectAction != '' || selectedProjectAction != 0) {
        //        projectActionSelected = true;
        //    }

        //    if (projectActionSelected == false)
        //    {
        //        // $('#FhaNumber').removeAttr('readonly');
        //        if ($('#FhaNumber').val() == '') {
        //            alert("Please select an FHA Number");
        //            autocompleteTextBox.focus();
        //            return false;
        //        } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
        //            alert("Please select a valid FHA Number");
        //            autocompleteTextBox.focus();
        //            return false;
        //        } else if ($('#requestDate').val() == '') {
        //            alert("Please enter Request Date");
        //            $('#requestDate').focus();
        //            return false;
        //        } else if (projectActionSelected == false) {
        //            alert("Please select Project Action Type");
        //            $('#projectActionType').focus();
        //            return false;
        //        }
        //    }





        //});

        $('#btnSave').click(function () {
            if($('#rdIsAgreementAccepted').prop('checked')){
                var title = $(this).attr("value");
                var TaskInstanceId =$('#GroupTaskInstanceId').val();
                //alert("please upload file and submit the Application");
                Post(title);

            }
            else
            {
                $("#isAgreementRequiredErrorMessage").show();
                $("#rdIsAgreementAccepted").focus();
                return false;
            }
           // debugger;
            //var title = $(this).attr("value");
            //var TaskInstanceId =$('#GroupTaskInstanceId').val();

            //Post(title);

        });

        $('#btncheckin').click(function () {
            if($('#rdIsAgreementAccepted').prop('checked')){
                var title = $(this).attr("value");
                var TaskInstanceId =$('#GroupTaskInstanceId').val();
                //alert("please upload file and submit the Application");
                Post(title);

            }
            else
            {
                $("#isAgreementRequiredErrorMessage").show();
                $("#rdIsAgreementAccepted").focus();
                return false;
            }
          //  debugger;
            //var title = $(this).attr("value");

            //Post(title);

        });

        $('#btnSubmit').click(function () {
            //User Story 1901
            //if ($('#Certify').val()=='TRUE') {
            if($('#rdIsAgreementAccepted').prop('checked')){
                var title = $(this).attr("value");
                var TaskInstanceId =$('#GroupTaskInstanceId').val();
                //alert("please upload file and submit the Application");
                Post(title);

            }
            else
            {
                $("#isAgreementRequiredErrorMessage").show();
                $("#rdIsAgreementAccepted").focus();
                return false;
            }


        });


    // User Story 1901
    $('#rdIsAgreementAccepted').change(function() {

        $("#isAgreementRequiredErrorMessage").hide();

        if (this.checked) {


                $('#isAgreementAccepted').val('True');
                $(this).prop('checked', true);

        }
        else
        {
            $('#isAgreementAccepted').val(false);
            $(this).prop('checked', false);

            return false;
        }
    });


        function Post(name) {

            var fhaNumber = $('#ddlFHANumbers').val();
            var PropertyName = $('#txtPropertyName').val();
            var requestDate = $('#requestDate').val();
            var RequesterName = $('#RequesterName').val();
            var ServicerSubmissionDate = $('#ServicerSubmissionDate').val();
            var ProjectActionTypeId = $('#projectActionType').val();
            var ServicerComments = $('#ServicerComments').val();
            var GroupTaskId = $('#GroupTaskId').val();
            var Mode = $('#Mode').val();
            var RequestStatus = $('#RequestStatus').val();
            var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
            if ($('#IsAgreementAccepted').is(':checked')) {
                var disclaimer="TRUE";
            }
            else
            {
                var disclaimer="FALSE";
            }

            if($('#rbYes').is(':checked'))
            {
                var addressschanged="TRUE";

            }
            else
            {
                var addressschanged="FALSE";
            }

            var data = new FormData();

            data.append("FHA", fhaNumber);
            data.append("PropertyName", PropertyName);
            data.append("requestDate", requestDate);
            data.append("RequesterName", RequesterName);
            data.append("addressschanged",addressschanged)

            data.append("ServicerSubmissionDate", ServicerSubmissionDate);
            data.append("ProjectActionTypeId", ProjectActionTypeId);
            data.append("ServicerComments", ServicerComments);
            data.append("GroupTaskId", GroupTaskId);
            data.append("Mode", Mode);
            data.append("RequestStatus", RequestStatus);
            data.append("IsViewFromGroupTask", IsViewFromGroupTask);
            data.append("disclaimer", disclaimer);
            $("#spinner").attr('class', 'overlay');
            if ($('#OPAprojectActionFrm').valid()) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("OPAFacade", "OPAForm")',

                    data: { AppProcessViewModel: @Model, submitButton: name },
                  //  url: '/OPAForm/Facade/submitButton?=@Model.GroupTaskId' + ','+name ,
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: data,
                    success: function (result) {
                       // debugger;
                        //alert('Your OPA Form Saved Successfully')
                        if (name == "Submit")
                        {

                            $('#divsubmit').show();
                            $(function () {
                                $("#divsubmit").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380',
                                });
                            });
                            //debugger;
                            // window.location = "/Task/MyTasks";
                        }
                        else  if (name == "Save" || name == "Save and Check-in")
                        {

                            $('#divHtml').show();
                            $(function () {
                                $("#divHtml").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380',

                                });
                            });
                        }


                        //                     $("#divHtml").load("OPA/SubmitPopup",
                        //                     function () {
                        //                         $("#divHtml").dialog({
                        //                             modal: true,
                        //                             //buttons: {
                        //                             //    Ok: function () {
                        //                             //        $(this).dialog("close");
                        //                             //    }
                        //                             //}
                        //                         });
                        //                     }
                        //);

                        Readonly = true;
                    },
                    error: function (xhr, status, p3, p4) {
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            } else {
                onErrors(event, $('#OPAprojectActionFrm').data('validator'));
            }

        }





    });


    function Removefile(taskFileId, groupTaskInstanceId) {
        // var groupTaskInstanceId = $('#GroupTaskInstanceId').val();
        //debugger;
        //alert(taskFileId);
        var IsViewFromGroupTask = $('#IsViewFromGroupTask').val();
        var fhaNumber = $('#FhaNumber').val();
        var data = new FormData();
        data.append("IsViewFromGroupTask", IsViewFromGroupTask);
        var ServicerComments = $('#ServicerComments').val();


        if($('#rbYes').is(':checked'))
        {
            addressschanged="TRUE"
            $('#IsAddressChange').val("TRUE")


        }
        else
        {
            addressschanged="FALSE"
            $('#IsAddressChange').val("FALSE")
        }

        $("#spinner").attr('class', 'overlay');
        $.ajax({
            url: '/OPAForm/OPADeleteGroupTaskFile/GroupTaskId?=@Model.GroupTaskId',
            data: {
                taskInstanceId: groupTaskInstanceId,
                taskFileId: taskFileId,
                OPAProjectActionViewModel: '@Model',
                IsViewFromGroupTask: IsViewFromGroupTask,
                fhaNumber:fhaNumber,
                ServicerComments:ServicerComments,
                addressschanged:addressschanged



            },
            cache: false,
            type: 'POST',
            success: function (response) {
                // debugger;

                $("#paformreadonly").html("");
                $("#paformreadonly").html(response);
                $("#paform").html("");
                $("#paform").html(response);

                $("remove_" + taskFileId).hide();
                $("#spinner").hide();
                $('#projectActionType').attr('readonly', true);
                alert('File successfully deleted');

                $('#rdIsAgreementAccepted').prop('checked', false);//User Story 1901
                //$("remove_" + taskFileId).hide();
                //$("#spinner").hide();

                //$('#ddlFHANumbers').attr('readonly', true);
                //$("#ddlFHANumbers").css("background-color", "#eee");
                //$('#requestDate').attr('readonly', true);
                //$("#requestDate").css("background-color", "#eee");
                //$('#projectActionType').attr('readonly', true);
                //$("#projectActionType").css("background-color", "#eee");




            },
            error: function (xhr) {
                // TODO: alert the user about the error
            }
        });
    }

    function uploadFile()
    {
       // debugger;

    }

</script>
<script>
    function Upload(key) {
        //alert(key);
        // debugger;
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });
        var selectedProjectAction = $('#ProjectActionTypeId').val();
       // alert(selectedProjectAction);

        if( selectedProjectAction ) {
            var model=JSON.stringify( $('#OPAprojectActionFrm').serializeArray() );
            var obj = JSON.parse(model);
            //var list=obj.join(",");
            var list=[];
            for (var i = 0; i < obj.length; i++) {
                list.push(JSON.stringify(obj[i] ));
                /// var item= JSON.stringify(obj[i] );
            }
            //("#packages").trigger("reloadGrid");
            $('#dialogContent').load('@Url.Action("UploadPopupLoad", "OPAForm")', { FolderKey: 39, Model:list.join("||||")  }, function () {
                //alert(1);
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });

            return false;
        }
        else
        {
            alert('Please select a FhaNumber to continue');
        }


    }
</script>

<script>
    function UploadRIS(key) {
       // alert(key);
        // debugger;
        //  var model= $('#AppFrm').serialize();
        // var editData = JSON.stringify({ 'taskInstanceId': $("#TaskGuid").val(), 'fileUpdates': fileData, 'nfrComment': nfrComment, 'IsNewfile': IsNewfile });
      //  var selectedProjectAction = $('#projectActionType').val();


        var model = JSON.stringify($('#OPAprojectActionFrm').serializeArray());
            var obj = JSON.parse(model);
            //var list=obj.join(",");
            var list=[];
            for (var i = 0; i < obj.length; i++) {
                list.push(JSON.stringify(obj[i] ));
                /// var item= JSON.stringify(obj[i] );
            }
            //("#packages").trigger("reloadGrid");
            $('#dialogContent2').load('@Url.Action("RISUploadPopupLoad", "OPAForm")', { FolderKey: 40, Model:list.join("||||") }, function () {
              //  alert(1);
                $('#dialogDiv2').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });

            return false;

        //else
        //{
        //    alert('Please select a FhaNumber to continue');
        //}


    }
</script>