﻿@model Model.Production.FHANumberRequestViewModel
@using HUDHealthcarePortal.BusinessService
@Html.HiddenFor(m => m.IsDisclaimerAccepted, new { id = "txtDisclaimerAccepted" })
@Html.HiddenFor(m => m.IsMasterLeaseProposed, new { id = "txtMasterLeaseProposed" })
@Html.HiddenFor(m => m.IsAddressCorrect, new { id = "txtAddressCorrect" })
@Html.HiddenFor(m => m.IsMidLargePortfolio, new { id = "txtMidLargePortfolio" })
@Html.HiddenFor(m => m.TaskinstanceId, new { id = "txtTaskInstanceId" })
@Html.HiddenFor(m => m.ConstructionStageTypeId, new { id = "txtConstructionStageTypeId" })
@Html.HiddenFor(m => m.PropertyAddressId, new { id = "txtPropertyAddressId" })
@Html.HiddenFor(m => m.LenderContactAddressId, new { id = "txtLenderContactAddressId" })
@Html.HiddenFor(m => m.LenderContactPhone, new { id = "txtLenderContactPhone" })
@Html.HiddenFor(m => m.FHANumberRequestId, new { id = "txtFHANumberRequestId" })
@Html.HiddenFor(m => m.ProjectTypeId, new { id = "txtProjectTypeId" })
@Html.HiddenFor(m => m.Comments, new { id = "txtLenderComments" })
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<div class="container-fluid">
    <div class="row">
        <span>@Html.Label("Fields with ")</span>
        <span>@Html.Label("*", new { style = "color: red;" })</span>
        <span>@Html.Label(" are mandatory")</span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <h4>
            <span>
                @Html.Label("Application General Information")
            </span>
        </h4>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-right ">
            @Html.Label("Project Name", new { @class = "required" })
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ProjectName, new { id = "projectNameText", name = "projectName" })
        </span>
        <span class="col-md-3 text-right ">
            @Html.Label("Borrower Type", new { @class = "required" })
        </span>
        <span class="col-md-3 ">
            @Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right ">
            @Html.Label("Type of Project", new { @class = "required" })
        </span>
        <span class="col-md-2">
            @Html.DropDownListFor(model => model.ProjectTypeId, Model.AllProjectTypes, "Select Project Type", new { @id = "projectType" })
        </span>
        <span class="col-md-1" style="margin-right: 102.5px;">
            @Html.DropDownListFor(model => model.ConstructionStageTypeId, Model.AllStagesForConstruction, new { @id = "stageType" })
        </span>
        <span class="col-md-2 text-right ">
            @Html.Label("Proposed Loan Amount", new { @class = "required" })
        </span>
        <span class="col-md-1 text-left" style="width: 1px; margin-top: 5px;">
            @Html.Label("$")
        </span>@*Naveen 233 (31july : Decreased margin-left from -20px to -17px)*@
        <span class="col-md-2 text-left" style="margin-left: -17px;">
            @Html.TextBoxFor(m => m.LoanAmount, new { id = "loanAmountText", name = "loanAmountText", style = "width:291px;" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Current FHA Project#")
        </span>
        @*#293 Hareesh*@
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.CurrentFHANumber, new { @id = "currentFhaText", @class = "updateableFields" , maxlength = 9, minlength = 9 })
        </span>
        <span class="col-md-3 text-right required">
            @Html.Label("Re-enter Loan Amount", new { @class = "required" })
        </span>
        <span class="col-md-1 text-left" style="width: 1px; margin-top: 5px;">
            @Html.Label("$")
        </span>@*Naveen 233 (31july : Decreased margin-left from -20px to -17px)*@
        <span class="col-md-2 text-left" style="margin-left: -17px;">
            @Html.TextBoxFor(m => m.ConfirmLoanAmount, new { id = "confirmLoanAmountText", style = "width:291px;" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Type of Current Loan(if 223a7)")
        </span>
        <span class="col-md-3">
            @Html.DropDownListFor(m => m.CurrentLoanTypeId, Model.AllCurrentLoanTypes, "Select Current Loan Type", new { id = "currentLoanTypeText", disabled = true })
        </span>
        <span class="col-md-3 text-right ">
            @Html.Label("Proposed Interest Rate", new { @class = "required" })
        </span>@*Naveen 233 (31july : Added below span to add %)*@
        @*<span class="col-md-1 text-left" style="width: 1px; margin-top: 5px;">
                <label for="">%</label>
            </span>*@@*Naveen 233 (31july : Decreased margin-left from -20px to -17px)*@
            <span class="col-md-2 text-left required" style="margin-left: 10px;margin-right: 13px;">
                @Html.TextBoxFor(m => m.ProposedInterestRate, new { id = "interestRateText", @style = "width: 291px;" })
            </span>
            <span class="col-md-1 text-left" style="width: 1px; margin-top: 5px;">
                <label for="" style="margin-left: 74px;">%</label>
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Property ID#")
            </span>
            <span class="col-md-3">
                @Html.TextBoxFor(m => m.PropertyId, new { @id = "propertyIdText", maxlength = 9, minlength = 9 })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right required">
                @Html.Label("Type of Activity(if 223f)")
            </span>
            <span class="col-md-3 ">
                @Html.DropDownListFor(model => model.ActivityTypeId, Model.AllActivityTypes, "Select Activity Type", new { @id = "activityType" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 ">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right required">
                @Html.Label("Type of Mortgage Insurance", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.DropDownListFor(model => model.LoanTypeId, Model.AllMortgageInsuranceTypes, "Select Mortgage Insurance Type", new { @id = "loanType" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 required">

            </span>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 15px" id="addressCorrectDiv">
        <div class="row">
            <span class="col-md-4 text-right required">
                @Html.Label("Is the property address listed correctly?", new { @class = "required" })
            </span>
            <span class="col-md-1 text-right">
                <label>Yes</label>
                <span>
                    @Html.RadioButtonFor(m => m.IsAddressCorrect, false, new { @id = "rbYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                </span>
            </span>
            <span class="col-md-1 text-right">
                <label>No</label>
                <span>
                    @Html.RadioButtonFor(m => m.IsAddressCorrect, true, new { @id = "rbNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                </span>
            </span>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Project Street Address", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.PropertyStreetAddress, new { id = "propertyAddressText" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("Project Zip Code", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.PropertyZip, new { id = "propertyZipText" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Project City", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.PropertyCity, new { id = "propertyCityText", onkeypress = "return onlyAlphabets(event,this);" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Congressional District", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.CongressionalDtId, new { id = "congressionalDistrictText" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Project State", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.DropDownListFor(m => m.PropertyState, Model.AllStateCodes, "Select State", new { id = "propertyStateText" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 required">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Lender Name")
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.LenderName, new { id = "lenderNameText", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("Lender ID#")
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.LenderId, new { id = "lenderIdText", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right required">
                @Html.Label("Lender Contact Name", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.LenderContactName, new { id = "lenderContactNameText" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 required">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Lender Contact Email", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.TextBoxFor(m => m.LenderContactEmail, new { id = "lenderContactEmailText" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 ">

            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right required">
                @Html.Label("Lender Contact Phone", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.TextBoxFor(m => m.LenderContactPhone, new { id = "lenderContactPhoneText" })
            </span>
            <span class="col-md-3 text-right">
                @Html.Label("")
            </span>
            <span class="col-md-3 required">

            </span>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <h4>
                <span>
                    @Html.Label("Project Characteristics")
                </span>
            </h4>
        </div>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Skilled Nursing :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.SkilledNursingBeds, new { id = "snBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.SkilledNursingUnits, new { id = "snUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-3 text-right">
            @Html.Label("Additional Financing Resources")
        </span>
        <span class="col-md-1 text-right">
            @Html.Label("LIHTC")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.IsLIHTC, new { id = "lihtc" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Assisted Living :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.AssistedLivingBeds, new { id = "alBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.AssistedLivingUnits, new { id = "alUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-2 text-right">
            @Html.Label("")
        </span>

        @*//naresh add code prodque2*@
        <span class="col-md-2 text-right">
            @Html.Label("Opportunity Zone")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.opportunity_zone, new { id = "opertzone" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Board & Care :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.BoardCareBeds, new { id = "bcBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.BoardCareUnits, new { id = "bcUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-2 text-right">
            @*<span class="col-md-3 text-right">*@
            @Html.Label("")
        </span>

        <span class="col-md-2 text-right">
            @Html.Label("Tax-Exempt Bonds")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.IsTaxExempted, new { id = "taxExempted" })
        </span>






        @*<span class="col-md-1 text-right">
                @Html.Label("HOME")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsHome, new { id = "home" })
            </span>*@
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Memory Care :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.MemoryCareBeds, new { id = "mcBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.MemoryCareUnits, new { id = "mcUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-3 text-right">
            @Html.Label("")
        </span>

        <span class="col-md-1 text-right">
            @Html.Label("HOME")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.IsHome, new { id = "home" })
        </span>



        @*<span class="col-md-1 text-right">
                @Html.Label("CDBG")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsCDBG, new { id = "cdbg" })
            </span>*@
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Independent :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.IndependentBeds, new { id = "iBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.IndependentUnits, new { id = "iUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-3 text-right">
            @Html.Label("")
        </span>

        <span class="col-md-1 text-right">
            @Html.Label("CDBG")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.IsCDBG, new { id = "cdbg" })
        </span>



        @*<span class="col-md-1 text-right">
                @Html.Label("Other")
            </span>
            <span class="col-md-1 required">
                @Html.CheckBoxFor(m => m.IsOther, new { id = "other" })
            </span>*@
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Other :")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.OtherBeds, new { id = "oBedsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Beds")
        </span>
        <span class="col-md-1 required">
            @Html.TextBoxFor(m => m.OtherUnits, new { id = "oUnitsText", style = "width: 100px; text-align: center" })
        </span>
        <span class="col-md-1 text-left">
            @Html.Label("Units")
        </span>
        <span class="col-md-3 text-right">
            @Html.Label("")
        </span>

        <span class="col-md-1 text-right">
            @Html.Label("Other")
        </span>
        <span class="col-md-1 required">
            @Html.CheckBoxFor(m => m.IsOther, new { id = "other" })
        </span>




        @*<span class="col-md-1 text-right">

            </span>
            <span class="col-md-1 required">

            </span>*@
    </div>
    <div class="row">
        <span class="col-md-3 text-right ">
            @Html.Label("CMS Star Rating", new { @id = "cmsRatingLabel" })
        </span>
        <span class="col-md-3">
            @Html.DropDownListFor(model => model.CMSStarRating, Model.AllCmsStarRatings, "Select CMS Star Rating", new { @id = "ratingType" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right ">
            @Html.Label("Master Lease Proposed?", new { @class = "required" })
        </span>
        <span class="col-md-1 text-right">
            <label>Yes</label>
            <span>
                @Html.RadioButtonFor(m => m.IsMasterLeaseProposed, false, new { @id = "leaseYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
            </span>
        </span>
        <span class="col-md-1 text-right">
            <label>No</label>
            <span>
                @Html.RadioButtonFor(m => m.IsMasterLeaseProposed, true, new { @id = "leaseNo", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
            </span>
        </span>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <h4>
                <span>
                    @Html.Label("Projects with Common Control (whether part of a Small, Mid/Size or Large Portfolio)**")
                </span>
            </h4>
        </div>
    </div>
    <div class="row">
        <span class="col-md-3 text-right ">
            @Html.Label("Is this property part of a new or existing portfolio?", new { @class = "required" })
        </span>
        <span class="col-md-1 text-left">
            @Html.DropDownListFor(model => model.IsNewOrExistOrNAPortfolio, Model.AllPortfolioStatus, "Select Portfolio Status", new { @id = "portfolioStatus" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Mid/Large portfolio")
        </span>
        <span class="col-md-1 required">
            @Html.RadioButtonFor(m => m.IsMidLargePortfolio, false, new { @id = "rbMidLarge", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Small portfolio")
        </span>
        <span class="col-md-1 required">
            @Html.RadioButtonFor(m => m.IsMidLargePortfolio, false, new { @id = "rbSmall", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
        </span>
    </div>

    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Existing or New Portfolio Number", new { id = "portfolioNumberLabel" })
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.Portfolio_Number, new { id = "portfolioNumberText", maxlength = 9 })
        </span>
    </div>
    <div class="row">
        <span class="col-md-3 text-right">
            @Html.Label("Existing or new Portfolio Name", new { id = "portfolioNameLabel" })
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.Portfolio_Name, new { id = "portfolioNameText" })
        </span>
    </div>
    @if (RoleManager.IsProductionUser(UserPrincipal.Current.UserName))
    {
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Lender Comments")
            </span>
            <span class="col-md-3 required">
                @Html.LabelForModel(Model.Comments ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
            </span>
        </div>
    }
    else
    {
        <div class="row">
            <span class="col-md-3 text-right">
                @Html.Label("Lender Comments")
            </span>
            <span class="col-md-3 required">
                @Html.TextAreaFor(m => m.Comments, new { id = "commentsText", @style = "height:70px;width:300px;", maxlength = "500" })
            </span>
        </div>
    }

    <hr />
    <script>
        var autocompleteTextBox = $('#currentFhaText');
        var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
        var fhaNumberLoaded = "";
</script>

    @*<title>allwon only alphabets in textbox using JavaScript</title>*@
    <script language="Javascript" type="text/javascript">

        function onlyAlphabets(e, t) {
            //debugger;
            try {

                if (window.event) {
                    var charCode = window.event.keyCode;
                }

                else if (e) {
                    var charCode = e.which;
                }
                else { return true; }
                if ((charCode > 64 && charCode < 91) || (charCode > 96 && charCode < 123))
                    return true;
                else if (charCode == 32) {
                    return true;
                }
                else
                    return false;
            }
            catch (err) {
                alert(err.Description);
            }
        }
</script>

<script src="/Scripts/Shared/autocomplete.js"></script>

<script>
    $(document).ready(function() {
        $('#currentFhaText').mask("999-99999");
        $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
        $('#confirmLoanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
        $('#addressCorrectDiv').hide();
        if ('@RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName)' === "True") {
            document.getElementById("propertyIdText").disabled = true;
            $('#propertyIdText').attr('style', 'background: #eee');
        }
        if('@RoleManager.IsProductionUser(UserPrincipal.Current.UserName)' === "True") {
            //debugger;
            document.getElementById("propertyIdText").disabled = false;
            $("#propertyIdText").removeAttr("style");
        }
        if ('@RoleManager.IsProductionWLM(UserPrincipal.Current.UserName)' === "True") {
            //debugger;
            document.getElementById("propertyIdText").disabled = false;
            $("#propertyIdText").removeAttr("style");
        }



        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function (event, ui) {
            // debugger;
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatePropertyInfo(searchTextTyped);

        });

        autocompleteTextBox.bind('blur', function () {
            //debugger;
            //if ($('#currentFhaText').val() === "") {
            //    alert("FHA Number is not Valid");
            //    $('#currentFhaText').val("");
            //    autocompleteTextBox.focus();
            //    return false;
            //}
            //else
            if ($('#currentFhaText').val() !== "" && !(/^[0-9]{3}-[0-9]{5}$/i).test($('#currentFhaText').val())) {
                alert("Please enter a valid FHA Number");
                $('#currentFhaText').val("");
                autocompleteTextBox.focus();
                //#293 
                
                return false;
                //return true;
                //updatePropertyInfo($(this).val());
            } 
            
            //else if ($('#currentFhaText').val() !== "" ) {
            //   // alert(1);
            //    alert("FHA Number does not found in Current Fha Number,please try later");
            //    $('#currentFhaText').val("");
            //    autocompleteTextBox.focus();
            //    //#293 
                
            //    return false;
            //} 
            else {
                updatePropertyInfo($(this).val());
            }

        });

        function updatePropertyInfo(selectedFHANumber) {
            //debugger;
            if ($.inArray(selectedFHANumber, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedFHANumber) {
                    $.ajax({
                        url: '@Url.Action("GetPropertyInfoForIrr", "FHARequest")',
                        data: { selectedFhaNumber: selectedFHANumber },
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) {
                            //debugger;

                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#propertyIdText').val("");
                                $('#propertyAddressText').val("");
                                $('#propertyStateText').val("");
                                $('#propertyCityText').val("");
                                $('#propertyZipText').val("");
                                $('#txtPropertyAddressId').val("");
                                $('#addressCorrectDiv').hide();
                            } else {
                                $('#propertyIdText').val(data.PropertyId);
                                document.getElementById("propertyIdText").disabled = true;
                                $('#propertyIdText').attr('style', 'background: #eee');
                                $('#propertyAddressText').val(data.StreetAddress);
                                $('#propertyStateText').val(data.State);
                                $('#propertyCityText').val(data.City);
                                $('#propertyZipText').val(data.Zipcode);
                                document.getElementById("currentLoanTypeText").disabled = false;
                                $('#txtPropertyAddressId').val(data.AddressId);
                                //  $('#addressCorrectDiv').show();
                                 
                                $('#addressCorrectDiv').hide();
                            }
                            //$('#txtFha').val(selectedFHANumber);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            debugger;
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#propertyIdText').val("");
                $('#propertyAddressText').val("");
                $('#propertyStateText').val("");
                $('#propertyCityText').val("");
                $('#propertyZipText').val("");
                $('#txtPropertyAddressId').val("");
                $('#addressCorrectDiv').hide();
            }

            fhaNumberLoaded = selectedFHANumber;
        }

        document.getElementById("currentFhaText").disabled = true;
        $('#currentFhaText').attr('style', 'background: #eee');
        //debugger;
        if ($('#txtLihtc').val() === "True") {
            $('#lihtc').val(true);
        } else {
            $('#lihtc').val(false);
        }
        //ad naresh prodqueue code
        if ($('#txtopertunityzone').val() === "True") {
            $('#opertzone').val(true);
        } else {
            $('#opertzone').val(false);
        }
        if ($('#txtTaxExempted').val() === "True") {
            $('#taxExempted').val(true);
        } else {
            $('#taxExempted').val(false);
        }

        if ($('#txtHome').val() === "True") {
            $('#home').val(true);
        } else {
            $('#home').val(false);
        }

        if ($('#txtCdbg').val() === "True") {
            $('#cdbg').val(true);
        } else {
            $('#cdbg').val(false);
        }

        if ($('#txtOther').val() === "True") {
            $('#other').val(true);
        } else {
            $('#other').val(false);
        }

        //allows only numbers in textfield
        $("#propertyIdText").keypress(function(event) {

            var evt = (event) ? event : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        });

        //allows only alphanumeric in textfield
        $('#projectNameText').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <=122) || (keyCode === 32))
            { return true;}
            return false;
        });

        $('#propertyAddressText').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <=122) || (keyCode === 32))
            { return true;}
            return false;
        });

        $('#propertyCityText').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <=122) || (keyCode === 32))
            { return true;}
            return false;
        });

        $('#portfolioNameText').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <=122) || (keyCode === 32))
            { return true;}
            return false;
        });

        $('#projectType').change(function() {
            var loanList = $('#loanType');
            var selectedProjectTypeId = $('#projectType').val();
            if (selectedProjectTypeId === "5" || selectedProjectTypeId === "6" || selectedProjectTypeId === "7") {
                document.getElementById("stageType").style.display = 'block';
                loanList.find('option').remove();
                loanList.append($("<option></option>").
                    attr("value", "").
                    text("Select Mortgage Insurance Type"));
                loanList.append($("<option></option>").
                    attr("value", "2").
                    attr("selected", true).
                    text("Insured Advances"));

            } else {
                if (selectedProjectTypeId === "2") {
                    document.getElementById("currentFhaText").disabled = false;
                    $("#currentFhaText").removeAttr("style");
                    document.getElementById("currentLoanTypeText").disabled = false;//karri

                } else {
                    $('#currentFhaText').val("");
                    document.getElementById("currentFhaText").disabled = true;
                    $('#currentFhaText').attr('style', 'background: #eee');
                    $('#propertyIdText').val("");
                    $('#propertyAddressText').val("");
                    $('#propertyStateText').val("");
                    $('#propertyCityText').val("");
                    $('#propertyZipText').val("");
                    $('#currentLoanTypeText').val("");
                    document.getElementById("currentLoanTypeText").disabled = true;
                    //document.getElementById("propertyIdText").disabled = false;
                    //$("#propertyIdText").removeAttr("style");
                }
                document.getElementById("stageType").style.display = 'none';
                $('#txtConstructionStageTypeId').val("0");
                $('#stageType').val("0");
                //re-populate mortgage insurance types
                loanList.find('option').remove();
                loanList.append($("<option></option>").
                    attr("value", "").
                    text("Select Mortgage Insurance Type"));
                loanList.append($("<option></option>").
                    attr("value", "1").
                    attr("selected", true).
                    text("Insurance Upon Completion"));
                loanList.append($("<option></option>").
                    attr("value", "2").
                    text("Insured Advances"));
            }

            //karri
            var activityList = $('#activityType');
            if (selectedProjectTypeId !== "1") {

                activityList.find('option').remove();
                activityList.append($("<option></option>").
                    attr("value", "").
                    text("Select Activity Type"));
                $('#activityType').prop("disabled", true);
                noActivityType = true;
            } else {
                //re-populate activity types
                activityList.find('option').remove();
                activityList.append($("<option></option>").
                    attr("value", "").
                    text("Select Activity Type"));
                activityList.append($("<option></option>").
                    attr("value", "1").
                    text("Refinance"));
                activityList.append($("<option></option>").
                    attr("value", "2").
                    text("Purchase"));
                $('#activityType').prop("disabled", false);
                noActivityType = false;
            }


        });//end of 'projectType' drop down change function here;karri: just kept comments only.


        //FHA Number validation - Not required as selecting from dropdown
        //$("#currentFhaText").mask("999-99999");
        //$("#currentFhaText").on("blur", function () {
        //    var last = $(this).val().substr($(this).val().indexOf("-") + 1);

        //    if (last.length === 3) {
        //        var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
        //        var lastfour = move + last;

        //        var first = $(this).val().substr(0, 9);

        //        $(this).val(first + '-' + lastfour);


        //    }
        //});
        @* hareesh*@
       @*$("#currentFhaText").focusout(function () {
             var currentFha = $(this).val();
             document.getElementById("currentLoanTypeText").disabled = true;
             if (currentFha !== '-1' && currentFha !== '') {
                 if (!(/^[0-9]{3}-[0-9]{5}$/i).test(currentFha)) {
                     alert("Please enter a valid FHA number");
                     $('#currentFhaText').val("");

                 } else {
                     $.ajax({
                         url: '@Url.Action("GetPropertyInfo", "FHARequest")',
                         data: { currentFha: currentFha },
                         dataType: 'json',
                         type: 'GET',
                         success: function(data) {

                             $('#propertyIdText').val(data.PropertyId);
                             document.getElementById("propertyIdText").disabled = true;
                             $('#propertyIdText').attr('style', 'background: #eee');
                             $('#propertyAddressText').val(data.StreetAddress);
                             $('#propertyStateText').val(data.State);
                             $('#propertyCityText').val(data.City);
                             $('#propertyZipText').val(data.Zipcode);
                             document.getElementById("currentLoanTypeText").disabled = false;

                         },
                         error: function(XMLHttpRequest, textStatus, errorThrown) {
                             alert("FHA# doesnot exist");
                         }
                     });
                 }
             } else {
                 $('#propertyIdText').val("");
                 $('#propertyAddressText').val("");
                 $('#propertyStateText').val("");
                 $('#propertyCityText').val("");
                 $('#propertyZipText').val("");
                 document.getElementById("currentLoanTypeText").disabled = true;
                 document.getElementById("propertyIdText").disabled = false;
                 $("#propertyIdText").removeAttr("style");
             }



         });*@

        $('#propertyIdText').focusout(function() {
            var propertyId = $('#propertyIdText').val();
            if (propertyId !== "" && propertyId !== '0' && (propertyId.length > 9 || propertyId.length < 9)) {
                alert("Please enter a valid Property ID#, with 9 digits");
                $('#propertyIdText').val("");
                $('#propertyIdText').focus();
                return false;
            }
        });

        $('#propertyAddressText')
        //loan amount rounded to 100th place -- changed loan amount to integer from decimal -- back to decimal - 100th place
        //Naveen 233
        $('#loanAmountText').focusout(function () {
            if($.trim($('#loanAmountText').val()) != '')
            {
                var self = $('#loanAmountText');
                var v = self.autoNumeric('get');
                self.autoNumeric('destroy');
                self.val(v);
                var loanAmt = $('#loanAmountText').val();
                //Naveen 233
                $('#loanAmountText').val(Math.round(loanAmt));
                //$('#loanAmountText').val(Math.round(loanAmt * 100) / 100);
                //$('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
            }
            else
            {
                $('#loanAmountText').val('0.000');
            }
        });


        //Loan Amount validation
        //Naveen 233
        $('#confirmLoanAmountText').focusout(function () {
            if($.trim($('#confirmLoanAmountText').val()) != '')
            {
                var self = $('#confirmLoanAmountText');
                var v = self.autoNumeric('get');
                self.autoNumeric('destroy');
                self.val(v);
                var confirmLoanAmt = $('#confirmLoanAmountText').val();
                //Naveen 233
                $('#confirmLoanAmountText').val(Math.round(confirmLoanAmt));
                //$('#confirmLoanAmountText').val(Math.round(confirmLoanAmt * 100) / 100);
                confirmLoanAmt = $('#confirmLoanAmountText').val();
                //$('#confirmLoanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
            }
            else
            {
                $('#confirmLoanAmountText').val('0.000');
            }

            var self1 = $('#loanAmountText');
            var v1 = self1.autoNumeric('get');
            self1.autoNumeric('destroy');
            self1.val(v1);
            var loanAmt = $('#loanAmountText').val();
            $('#loanAmountText').autoNumeric('init', { vMin: 0, mDec: 3 });
            if (loanAmt !== confirmLoanAmt) {
                alert("Please make sure the Loan Amounts match");
                loanAmountMatch = false;
                $('#confirmLoanAmountText').val("");
                return false;
            } else {
                loanAmountMatch = true;
            }
        });

        //Email validation
        $('#lenderContactEmailText').focusout(function () {
            if ($('#lenderContactEmailText').val() !== "") {
                if (!(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i).test($('#lenderContactEmailText').val())) {
                    alert("Please enter a valid Email Address");
                    $('#lenderContactEmailText').val("");
                    $('#lenderContactEmailText').focus();
                    validEmail = false;
                } else {
                    validEmail = true;
                }
            }

        });

        //Phone number validation
        $("#lenderContactPhoneText").mask("(999) 999 - 9999");
        $("#lenderContactPhoneText").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });


        //zipcode validation
        $('#propertyZipText').mask("99999-9999");
        $("#propertyZipText").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });
        $('#propertyZipText').focusout(function () {
            if (!(/^\d{5}(?:[-\s]\d{4})?$/i).test($('#propertyZipText').val())) {
                alert("Please enter a valid zip code");
                $('#propertyZipText').val("");
                $('#propertyZipText').focus();
                validZip = false;
            } else {
                validZip = true;
            }
        });



        //interest rate rounded to 1000th place
        $('#interestRateText').focusout(function () {
            var interestRate = $('#interestRateText').val();
            $('#interestRateText').val(Math.round(interestRate * 1000) / 1000);
        });

        $('#portfolioStatus').change(function () {
            if ($(this).val() === '3') {
                midLargeOrSmallSelected = false;
                document.getElementById("rbMidLarge").disabled = true;
                document.getElementById("rbSmall").disabled = true;
                document.getElementById("portfolioNumberText").disabled = true;
                document.getElementById("portfolioNameText").disabled = true;
                $('#portfolioNumberText').attr('style', 'background: #eee');
                $('#portfolioNameText').attr('style', 'background: #eee');
                $('#txtMidLargePortfolio').val("");
                $('#rbSmall').prop('checked', false);
                $('#rbMidLarge').prop('checked', false);
                $('#portfolioNumberText').val("");
                $('#portfolioNameText').val("");
                $("#portfolioNumberLabel").removeAttr("class");
                $("#portfolioNameLabel").removeAttr("class");
            } else {
                if ($(this).val() === '2'){
                    $('#portfolioNumberLabel').attr('class', 'required');
                    $('#portfolioNameLabel').attr('class', 'required');
                } else {
                    $("#portfolioNumberLabel").removeAttr("class");
                    $("#portfolioNameLabel").removeAttr("class");
                }
                document.getElementById("rbMidLarge").disabled = false;
                document.getElementById("rbSmall").disabled = false;
                document.getElementById("portfolioNumberText").disabled = false;
                document.getElementById("portfolioNameText").disabled = false;
                $("#portfolioNumberText").removeAttr("style");
                $("#portfolioNameText").removeAttr("style");
            }

        });
        $('input:radio[name="IsMidLargePortfolio"]').change(function () {
            midLargeOrSmallSelected = true;
            if ($(this).attr("id") === 'rbSmall') {
                $('#txtMidLargePortfolio').val(false);
            }
            else if ($(this).attr("id") === 'rbMidLarge') {
                $('#txtMidLargePortfolio').val(true);
            }
        });

        $('input:radio[name="IsMasterLeaseProposed"]').change(function () {
            if ($(this).attr("id") === 'leaseYes') {
                $('#txtMasterLeaseProposed').val(true);
            }
            else if ($(this).attr("id") === 'leaseNo') {
                $('#txtMasterLeaseProposed').val(false);
            }
        });

        //property address - yes/no
        $('input:radio[name="IsAddressCorrect"]').change(function () {
            if ($(this).attr("id") === 'rbYes') {
                $('#txtAddressCorrect').val(true);
                document.getElementById("propertyAddressText").disabled = true;
                document.getElementById("propertyCityText").disabled = true;
                document.getElementById("propertyStateText").disabled = true;
                document.getElementById("propertyZipText").disabled = true;
                $('#propertyAddressText').attr('style', 'background: #eee');
                $('#propertyCityText').attr('style', 'background: #eee');
                $('#propertyStateText').attr('style', 'background: #eee');
                $('#propertyZipText').attr('style', 'background: #eee');
            } else if ($(this).attr("id") === 'rbNo') {
                $('#txtAddressCorrect').val(false);
                document.getElementById("propertyAddressText").disabled = false;
                document.getElementById("propertyCityText").disabled = false;
                document.getElementById("propertyStateText").disabled = false;
                document.getElementById("propertyZipText").disabled = false;
                $("#propertyAddressText").removeAttr("style");
                $("#propertyCityText").removeAttr("style");
                $("#propertyStateText").removeAttr("style");
                $("#propertyZipText").removeAttr("style");
            }
        });


        $('#IsDisclaimerAccepted').change(function () {
            if (this.checked) {
                document.getElementById("IsDisclaimerAccepted").disabled = true;
                $("#txtDisclaimerAccepted").val(true);
            }
            else {
                $("#txtDisclaimerAccepted").val(false);
            }
        });



        //add naresh code prodqueue
        //vaddevalli2
        $('#opertzone').click(function()
        {
            $("#lihtc").prop("checked", false);
            $('#txtLihtc').val(false);
            $('#txtopertunityzone').val(true);
        } );
        $('#lihtc').click(function()
        {

            $("#opertzone").prop("checked", false);
            $('#txtopertunityzone').val(false);
            $('#txtLihtc').val(true);


        } );

        $('#lihtc').change(function () {
            //debugger;
            if (this.checked) {
                //$('#opertzone').val(false);
                $('#lihtc').val(true);
                $('#txtLihtc').val(true);
            }
            else {
                $('#lihtc').val(false);
                $('#txtLihtc').val(false);
            }
        });



        $('#opertzone').change(function () {
            //debugger;
            if (this.checked) {

                //vaddevalli
               // $('#lihtc').val(false);
                //vaddevalli

                $('#opertzone').val(true);
                $('#txtopertunityzone').val(true);
            }
            else {
                $('#opertzone').val(false);
                $('#txtopertunityzone').val(false);
            }
        });

        //add naresh code prodqueue






        $('#taxExempted').change(function () {
            if (this.checked) {
                $('#taxExempted').val(true);
                $('#txtTaxExempted').val(true);
            }
            else {
                $('#taxExempted').val(false);
                $('#txtTaxExempted').val(false);
            }
        });
        $('#home').change(function () {
            if (this.checked) {
                $('#home').val(true);
                $('#txtHome').val(true);
            }
            else {
                $('#home').val(false);
                $('#txtHome').val(false);
            }
        });
        $('#cdbg').change(function () {
            if (this.checked) {
                $('#cdbg').val(true);
                $('#txtCdbg').val(true);
            }
            else {
                $('#cdbg').val(false);
                $('#txtCdbg').val(false);
            }
        });
        $('#other').change(function () {
            if (this.checked) {
                $('#other').val(true);
                $('#txtOther').val(true);
            }
            else {
                $('#other').val(false);
                $('#txtOther').val(false);
            }
        });

        if ($('#txtMidLargePortfolio').val() === "True") {
            $('#rbMidLarge').prop('checked', true);
        } else if ($('#txtMidLargePortfolio').val() === "False") {
            $('#rbSmall').prop('checked', true);
        } else if ($('#portfolioStatus').val() !== "3") {
            midLargeOrSmallSelected = false;
            document.getElementById("rbMidLarge").disabled = false;
            document.getElementById("rbSmall").disabled = false;
            document.getElementById("portfolioNumberText").disabled = false;
            document.getElementById("portfolioNameText").disabled = false;
            $("#portfolioNumberText").removeAttr("style");
            $("#portfolioNameText").removeAttr("style");
        }
        else {
            midLargeOrSmallSelected = false;
            document.getElementById("rbMidLarge").disabled = true;
            document.getElementById("rbSmall").disabled = true;
            document.getElementById("portfolioNumberText").disabled = true;
            document.getElementById("portfolioNameText").disabled = true;
            $('#portfolioNumberText').attr('style', 'background: #eee');
            $('#portfolioNameText').attr('style', 'background: #eee');
        }


        if ($('#txtMasterLeaseProposed').val() === "True") {
            $('#leaseYes').prop('checked', true);
        } else if ($('#txtMasterLeaseProposed').val() === "False") {
            $('#leaseNo').prop('checked', true);
        } else {
            $('#leaseYes').prop('checked', false);
            $('#leaseNo').prop('checked', false);
        }

        if ($('#txtProjectTypeId').val() !== "1") {
            $('#activityType').prop("disabled", true);
            noActivityType = true;
        } else {
            $('#activityType').prop("disabled", false);
            noActivityType = false;
        }

        if ($('#txtConstructionStageTypeId').val() !== "0") {
            document.getElementById("stageType").style.display = 'block';
        } else {
            document.getElementById("stageType").style.display = 'none';
        }

        if (($('#currentLoanTypeText').val() === "" || $('#currentLoanTypeText').val() === "-1") && $('#currentFhaText').val() !== "") {
            document.getElementById("currentLoanTypeText").disabled = false;
        } else {
            document.getElementById("currentLoanTypeText").disabled = true;
        }

        $('#snBedsText').blur(function (e) {
            if ($('#snBedsText').val() !== "0" && $('#snUnitsText').val() !== "0"
                && $('#snBedsText').val() !== "" && $('#snUnitsText').val() !== "") {
                $('#cmsRatingLabel').attr('class', 'required');
            } else {
                $("#cmsRatingLabel").removeAttr("class");
            }
        });

        $('#snUnitsText').blur(function (e) {
            if ($('#snBedsText').val() !== "0" && $('#snUnitsText').val() !== "0"
                && $('#snBedsText').val() !== "" && $('#snUnitsText').val() !== "") {
                $('#cmsRatingLabel').attr('class', 'required');
            } else {
                $("#cmsRatingLabel").removeAttr("class");
            }
        });
    });

    ////Naveen 233 (31july: To round the loan amounts
    //$('#loanAmountText').change(function(){

    //    var a=  Math.round($('#loanAmountText').val());

    //    $('#loanAmountText').val(a)
    //});

    ////Naveen 233 (31july: To round the loan amounts
    //$('#confirmLoanAmountText').change(function(){

    //    var b=  Math.round($('#confirmLoanAmountText').val());

    //    $('#confirmLoanAmountText').val(b)
    //});
</script>