﻿@{
    ViewBag.Title = "AgingFHAReport";
}


<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<style>
    .badge {
        color: #428bca;
        position: relative;
        top: 1px;
        right: -3px;
        padding: 2px 4px;
    }


    .ui-jqgrid {
        font-family: Arial;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

    .ui-jqgrid > .ui-jqgrid-view button {
        font-size: 10px;
    }

    .ui-jqgrid > .ui-jqgrid-view a {
        color: #428bca;
        font-weight: bolder;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }
</style>
<div class="container-fluid" id="agingReport">
    <table id="agingReportGrid"></table>
    <div id="agingReportPager"></div>
</div>


<script>
    $(document).ready(
        function() {
            //debugger;

            $("#agingReportGrid").jqGrid({
                url: "/FHARequest/GetAgingFHAReportList/",
                datatype: 'json',
                mtype: 'POST',

                colNames: ['FHA#', 'Project Type', 'Lender Name', 'Lender User Name', 'FHA# Request Completion Date', 'Notification Type', 'Notification Sent'],
                colModel: [
                    { Key: false, name: 'FHANumber', index: 'FHANumber', editable: false, width: 200 },
                    { Key: false, name: 'ProjectTypeName', index: 'ProjectTypeName', editable: false, width: 200 },
                    { Key: false, name: 'Lender_Name', index: 'Lender_Name', editable: false, width: 200 },
                    { Key: false, name: 'LenderUserName', index: 'LenderUserName', editable: false, width: 200 },
                    { Key: false, name: 'FhaRequestCompletionDate', index: 'FhaRequestCompletionDate', editable: false, formatter: 'date', width: 150, formatoptions: { newformat: 'm/d/Y' } },
                    {
                        Key: false,
                        name: 'NotificationType',
                        index: 'NotificationType',
                        width: 150,
                        sortable: false,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.NotificationType === "180") {
                                return "180 days";
                            } else if (rowObject.NotificationType === "270"){
                                return "270 days";
                            }
                        }

                    },
                    {
                        Key: false,
                        name: 'IsNotificationSent',
                        index: 'IsNotificationSent',
                        width: 150,
                        sortable: false,
                        formatter: function(cellvalue, options, rowObject) {

                            if (rowObject.IsNotificationSent) {
                                return "Yes";
                            } else {
                                return "No";
                            }
                        }

                    },
                ],

                pager: jQuery('#agingReportPager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true,
                autoencode: true,
                width: 1200,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                loadComplete: function(data) {
                },
                //autowidth: true,
                multiselect: false,

                onPaging: function(pgButton) {
                },


                beforeSelectRow: function(rowid, e) {
                    //debugger;
                    var $self = $(this),
                        p = $self.jqGrid("getGridParam"),
                        $td = $(e.target).closest("tr.jqgrow>td"),
                        cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                        cmName = cm != null ? cm.name : null;

                   return false;
                }

            }).navGrid('#agingReportPager', { edit: false, add: false, del: false, search: true, refresh: true }, {}, {}, {}, { overlay: false });


        });


</script>