﻿@model Model.Production.FHANumberRequestViewModel
@using HUDHealthcarePortal.Core
@{
    ViewBag.Title = "FHARequestProductionUserView";
}
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>*@
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }


    .fileClass {
        width: 75px !important;
        padding: 5px !important;
    }

    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -100px;
    }

    [type=file] + label {
        font-weight: bold;
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        margin: 0;
        left: 0;
        position: relative;
    }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /*Decorative*/
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

    [type=file] + label:hover {
        background: #3399ff;
    }

    label.required:after {
        content: " *";
        color: red;
    }
      .disabled {
  pointer-events: none;
  /*opacity: 0.4;*/
}

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

</style>

<div id="disableview">
    <section id="fharequestfrom">
        @using (Html.BeginForm("ApproveFHARequest", "FHARequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
        {
            @Html.HiddenFor(m => m.LenderContactPhone, new { id = "txtLenderContactPhone" })
            @Html.HiddenFor(m => m.IsPortfolioComplete, new { id = "txtPortfolioComplete" })
            @Html.HiddenFor(m => m.IsFhaInsertComplete, new { id = "txtFhaComplete" })
            @Html.HiddenFor(m => m.IsCreditReviewAttachComplete, new { id = "txtCreditComplete" })
            @Html.HiddenFor(m => m.RequestSubmitDate, new { id = "txtRequestSubmitDate" })
            @Html.HiddenFor(m => m.IsLIHTC, new { id = "txtLihtc" })
            @Html.HiddenFor(m => m.IsTaxExempted, new { id = "txtTaxExempted" })
            @Html.HiddenFor(m => m.IsHome, new { id = "txtHome" })
            @Html.HiddenFor(m => m.IsCDBG, new { id = "txtCdbg" })
            @Html.HiddenFor(m => m.IsOther, new { id = "txtOther" })
            @Html.HiddenFor(m => m.CreatedOn, new { id = "txtCreatedOn" })
            @Html.HiddenFor(m => m.FileId, new { id = "txtFileId" })
            @Html.HiddenFor(m => m.IsPortfolioRequired, new { id = "txtPortfolioRequired" })
            @Html.HiddenFor(m => m.IsCreditReviewRequired, new { id = "txtCreditReviewRequired" })
            @Html.HiddenFor(m => m.FhaRequestType, new { id = "txtFhaRequestType" })
            @Html.HiddenFor(m => m.RequestStatus, new { id = "txtRequestStatus" })
            @Html.HiddenFor(m => m.IsPortfolioCancelled, new { id = "txtPortfolioCancelled" })
            @Html.HiddenFor(m => m.IsCreditCancelled, new { id = "txtCreditCancelled" })
            @Html.HiddenFor(m => m.TransAccessStatus, new { id = "TransAccessStatus" })       
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">   </span>
                    <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form</b></h4> </span>
                </div>
            </div>
            <br />
            <div class="container-fluid" style="padding-top: 15px">
                @Html.Partial("~/Views/Production/FHARequest/_FHARequestView.cshtml", Model)
            </div>
            <div class="container-fluid">
                <div class="row">
                    <table>
                        <tr>
                            <td>@Html.CheckBoxFor(m => m.IsDisclaimerAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:7px;", @disabled = "disabled", @checked = Model.IsDisclaimerAccepted })</td>
                            <td><label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row" >
                    <span class="col-md-1 text-right">
                        <input type="submit" name="submitButton" id="btnSave" value="Save" />
                    </span>
                    @if (Model.FhaRequestType == (int)PageType.FhaRequest)
                    {
                        <span class="col-md-2 text-right">
                            <input type="button" name="insertFha" value="Insert FHA" id="btnInsert" />
                        </span>
                        <span class="col-md-3 text-right">
                            <input type="button" value="Update Portfolio Data" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                        <span class="col-md-3 text-right">
                            <input type="button" value="Attach Credit Approval Letter" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                    }
                    else if (Model.FhaRequestType == (int)ProductionView.Portfolio)
                    {
                        <span class="col-md-2 text-right">
                            <input type="button" value="Insert FHA" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                        <span class="col-md-3 text-right">
                            <input type="button" name="updatePortfolio" id="btnPortfolio" value="Update Portfolio Data" />
                        </span>
                        <span class="col-md-3 text-right">
                            <input type="button" value="Attach Credit Approval Letter" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                    }
                    else if (Model.FhaRequestType == (int)ProductionView.CreditReview)
                    {
                        <span class="col-md-2 text-right">
                            <input type="button" value="Insert FHA" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                        <span class="col-md-3 text-right">
                            <input type="button" value="Update Portfolio Data" disabled="disabled" style="background: #ccc; color: #666" />
                        </span>
                           <div id="buttondiable">
                        <span class="col-md-3 text-right">
                           
                            <input type="button" name="attachCredit" id="btnCredit" value="Attach Credit Approval Letter" />
                        </span>
                               </div>
                    }

                    <span class="col-md-2 text-center">
                        <input type="button" name="deny" id="btnDeny" value="Deny" />
                    </span>

                    <span class="col-md-1 text-center">
                        <input type="button" name="cancel" id="btnCancel" value="Cancel" />
                    </span>
                </div>
            </div>
        }

        <div id="divInsertFha" title="FHA# Insert">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("FHA Number", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextBoxFor(m => m.FHANumber, new { id = "fhaNumberText" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">

                    </span>
                    <span class="col-md-6 required">
                        @Html.ValidationMessageFor(m => m.FHANumber)
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Confirm FHA Number", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextBoxFor(m => m.ConfirmFHANumber, new { id = "confirmFhaNumberText" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">

                    </span>
                    <span class="col-md-6 required">
                        @Html.ValidationMessageFor(m => m.ConfirmFHANumber)
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Comments")
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextAreaFor(m => m.InsertFHAComments, new { id = "insertFhaCommentsText", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <br />
                <div class="row">
                    <span class="col-md-6">
                        <input id="btnInsertSubmit" type="submit" class="form-control" value="Submit" style="float:right">
                    </span>
                    <span class="col-md-6">
                        <input id="btnInsertCancel" type="submit" name="agreeOrNot" class="form-control" value="Close">
                    </span>
                </div>
            </div>
        </div>
        <div id="divUpdatePortfolio" title="Update Portfolio Data">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Mid/Large portfolio")
                    </span>
                    <span class="col-md-1 required">
                        @Html.RadioButtonFor(m => m.IsMidLargePortfolio, false, new { @id = "rbMidLargePortfolio", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Small portfolio")
                    </span>
                    <span class="col-md-1 required">
                        @Html.RadioButtonFor(m => m.IsMidLargePortfolio, false, new { @id = "rbSmallPortfolio", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                    </span>
                </div>

                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Existing or New Portfolio Number", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextBoxFor(m => m.Portfolio_Number, new { id = "portfolioNumberTextSection" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Existing or new Portfolio Name", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextBoxFor(m => m.Portfolio_Name, new { id = "portfolioNameTextSection" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Comments")
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextAreaFor(m => m.PortfolioComments, new { id = "portfolioCommentsText", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <br />
                <div class="row">
                    <span class="col-md-6">
                        <input id="btnPortfolioSubmit" type="submit" class="form-control" value="Submit" style="float:right">
                    </span>
                    <span class="col-md-6">
                        <input id="btnPortfolioCancel" type="submit" name="agreeOrNot" class="form-control" value="Close">
                    </span>
                </div>
            </div>
        </div>
        <div id="divAttachCredit" title="Credit Approval Data">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Letter", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.CreditLetterFileName, new { id = "creditLetterFileNameText" })
                    </span>
                    <span class="col-md-3" style="margin-top: -8px; margin-left: 160px;">
                        <input id="btnAttachFile" type="File" value="" class="fileClass" />
                        <label id="" for="btnAttachFile" class="fileClass"> Attach </label>
                    </span>
                    @*<span class="col-md-3" style="margin-top: -8px; margin-left: 160px;">
                            <input id="btnDeleteFile" type="button" value=""  />
                            <label id="" for="btnDeleteFile"> Remove </label>
                        </span>*@
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Date Provided", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @*@Html.TextBoxFor(m => m.CreditReviewDate, new { @Value = @DateTime.Now.ToShortDateString(), id = "creditReviewDateText", style = "width:300px;background:#eee;", @readonly = true })*@
                        @Html.TextBoxFor(m => m.CreditReviewDate, new { @Value = @DateTime.UtcNow.ToShortDateString(), id = "creditReviewDateText", style = "width:300px;background:#eee;", @readonly = true })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right">
                        @Html.Label("Comments")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextAreaFor(m => m.CreditreviewComments, new { id = "creditCommentsText", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <br />
                <div class="row">
                    <span class="col-md-6">
                        <input id="btnCreditSubmit" type="submit" class="form-control" value="Submit" style="float: right">
                    </span>
                    <span class="col-md-6">
                        <input id="btnCreditCancel" type="submit" name="agreeOrNot" class="form-control" value="Close">
                    </span>
                </div>
            </div>
        </div>

        <div id="divHtml" title="Save">
            <div class="container-fluid">
                <div class="row" style="margin-top: 20px;">
                    <div>
                        <p></p>
                        <p>FHA# Request saved successfully.</p>
                    </div>
                </div>
                <br />
                <div class="row" style="margin-left: 150px;">
                    <span class="col-md-2">
                        <input id="butnSave" type="submit" name="agreeOrNot" class="form-control" value="Ok">
                    </span>
                </div>
            </div>
        </div>

        <div id="divDeny" title="Deny">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Deny Comments", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextAreaFor(m => m.DenyComments, new { id = "denyCommentsText", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <br />
                <div class="row">
                    <span class="col-md-6">
                        <input id="btnDenySubmit" type="submit" class="form-control" value="Submit" style="float: right">
                    </span>
                    <span class="col-md-6">
                        <input id="btnDenyCancel" type="submit" name="agreeOrNot" class="form-control" value="Close">
                    </span>
                </div>
            </div>
        </div>

        <div id="divCancel" title="Cancel">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-6 text-right">
                        @Html.Label("Cancel Comments", new { @class = "required" })
                    </span>
                    <span class="col-md-6 required">
                        @Html.TextAreaFor(m => m.CancelComments, new { id = "cancelCommentsText", @style = "height:70px;width:300px;", maxlength = "500" })
                    </span>
                </div>
                <br />
                <div class="row">
                    <span class="col-md-6">
                        <input id="btnCancelSubmit" type="submit" class="form-control" value="Submit" style="float: right">
                    </span>
                    <span class="col-md-6">
                        <input id="btnCancelClose" type="submit" name="agreeOrNot" class="form-control" value="Close">
                    </span>
                </div>
            </div>
          
        </div>
        <label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none;"></label>

    </section>
</div>
<div class="row">

    @if (Model.IsPAMReport)
    {
        <div class="container-fluid" style="padding-top: 15px">

            <span class="col-md-1 text-right">
                
    <button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick="location.href='@Url.Action("PAMIndex", "ProdPam", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'">Return to PAM Report</button>
                @*<button id="btnreturn" type="reset" class="btn btn-info btn-sm" value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdPam", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'">Return to PAM Report</button>*@
            </span>


        </div>
    }
    else if (Model.IsLenderPAMReport)
    {
        <span class="col-md-1 text-right">
            @*<input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] })'" />*@
            <input type="button" style="padding-left: 5px; margin-top: -8px; border: 1px solid #787878; background: #fff; color: black; " value="Return to Prod Lender PAM Report" onclick="location.href='@Url.Action("Index", "ProdLenderPAM")'" />
        </span>
       
    }
</div>
    <script>
        $(document).ready(function () {

            var CheckTransAccessStatus = $('#TransAccessStatus').val();
            if (CheckTransAccessStatus.toLowerCase() == "true") {
                $("#lblsmg").show();
                $("#lblsmg").text("The file upload functionality is not available at this time. Please try it later.");
                $('#buttondiable').addClass("disabled");

            }
            DisableforPam();
            $('#divInsertFha').hide();
            $('#divUpdatePortfolio').hide();
            $('#divAttachCredit').hide();
            $('#divHtml').hide();
            $('#divDeny').hide();
            $('#divCancel').hide();



            if ($('#txtMidLargePortfolio').val() === "True") {
                $('#rbMidLarge').prop('checked', true);
                $('#rbMidLargePortfolio').prop('checked', true);
            } else if ($('#txtMidLargePortfolio').val() === "False") {
                $('#rbSmall').prop('checked', true);
                $('#rbSmallPortfolio').prop('checked', true);
            }

            if ($('#txtAddressCorrect').val() === "True") {
                $('#rbYes').prop('checked', true);
                document.getElementById("propertyAddressText").disabled = true;
                document.getElementById("propertyCityText").disabled = true;
                document.getElementById("propertyStateText").disabled = true;
                document.getElementById("propertyZipText").disabled = true;
                $('#propertyAddressText').attr('style', 'background: #eee');
                $('#propertyCityText').attr('style', 'background: #eee');
                $('#propertyStateText').attr('style', 'background: #eee');
                $('#propertyZipText').attr('style', 'background: #eee');
            } else if ($('#txtAddressCorrect').val() === "False") {
                $('#rbNo').prop('checked', true);
                document.getElementById("propertyAddressText").disabled = false;
                document.getElementById("propertyCityText").disabled = false;
                document.getElementById("propertyStateText").disabled = false;
                document.getElementById("propertyZipText").disabled = false;
                $("#propertyAddressText").removeAttr("style");
                $("#propertyCityText").removeAttr("style");
                $("#propertyStateText").removeAttr("style");
                $("#propertyZipText").removeAttr("style");
            }

            if ($('#txtMasterLeaseProposed').val() === "True") {
                $('#leaseYes').prop('checked', true);
            } else if ($('#txtMasterLeaseProposed').val() === "False") {
                $('#leaseNo').prop('checked', true);
            }

            if ($('#currentLoanTypeText').val() !== "") {
                document.getElementById("currentLoanTypeText").disabled = false;
            }


            if ($('#activityType').val() !== "") {
                document.getElementById("activityType").disabled = false;
            } else {
                document.getElementById("activityType").disabled = true;
            }

            if ($('#txtLenderContactPhone').val() !== "") {
                $('#lenderContactPhoneText').val($('#txtLenderContactPhone').val());
            }

            $('.fileClass').on('change', function (e) {

                var Size = 0;
                var cnt = this.files.length;
                for (i = 0; i < cnt; i++) {
                    Size += this.files[i].size;
                }

                if (Size > 1073741824) {
                    //show an alert to the user
                    alert("Your Allowed file size exceeded. (Max. 1 GB)")

                    //reset file upload control
                    return false;
                }

                for (i = 0; i < cnt; i++) {
                    var uploadFile = this.files[i];
                    if (!(/\.(gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                        alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                        return false;
                    }

                }
                var files = e.target.files;

                var fhaRequestViewModel = GetFhaRequestViewModel();
                //fhaRequestViewModel["CreditLetterFile"] = files[0];
                debugger;
                if (files.length > 0) {
                    if (window.FormData !== undefined) {
                        var data = new FormData();
                        for (var x = 0; x < files.length; x++) {
                            data.append("file" + x, files[x]);
                            $('#creditLetterFileNameText').val(files[x].name);
                        }

                        data.append("ProjectName", fhaRequestViewModel["ProjectName"]);
                        data.append("CurrentFHANumber", fhaRequestViewModel["CurrentFHANumber"]);
                        data.append("PropertyId", fhaRequestViewModel["PropertyId"]);
                        data.append("ProjectTypeId", fhaRequestViewModel["ProjectTypeId"]);
                        data.append("CurrentLoanType", fhaRequestViewModel["CurrentLoanType"]);
                        data.append("LoanTypeId", fhaRequestViewModel["LoanTypeId"]);
                        data.append("ActivityTypeId", fhaRequestViewModel["ActivityTypeId"]);
                        data.append("BorrowerTypeId", fhaRequestViewModel["BorrowerTypeId"]);
                        data.append("IsAddressCorrect", fhaRequestViewModel["IsAddressCorrect"]);
                        data.append("PropertyStreetAddress", fhaRequestViewModel["PropertyStreetAddress"]);
                        data.append("PropertyCity", fhaRequestViewModel["PropertyCity"]);
                        data.append("PropertyState", fhaRequestViewModel["PropertyState"]);
                        data.append("PropertyZip", fhaRequestViewModel["PropertyZip"]);
                        data.append("CongressionalDtId", fhaRequestViewModel["CongressionalDtId"]);
                        data.append("LenderId", fhaRequestViewModel["LenderId"]);
                        data.append("LenderName", fhaRequestViewModel["LenderName"]);
                        data.append("LenderContactName", fhaRequestViewModel["LenderContactName"]);
                        data.append("LenderContactEmail", fhaRequestViewModel["LenderContactEmail"]);
                        data.append("LenderContactPhone", fhaRequestViewModel["LenderContactPhone"]);
                        data.append("LoanAmount", fhaRequestViewModel["LoanAmount"]);
                        data.append("SkilledNursingBeds", fhaRequestViewModel["SkilledNursingBeds"]);
                        data.append("SkilledNursingUnits", fhaRequestViewModel["SkilledNursingUnits"]);
                        data.append("AssistedLivingBeds", fhaRequestViewModel["AssistedLivingBeds"]);
                        data.append("AssistedLivingUnits", fhaRequestViewModel["AssistedLivingUnits"]);
                        data.append("BoardCareBeds", fhaRequestViewModel["BoardCareBeds"]);
                        data.append("BoardCareUnits", fhaRequestViewModel["BoardCareUnits"]);
                        data.append("MemoryCareBeds", fhaRequestViewModel["MemoryCareBeds"]);
                        data.append("MemoryCareUnits", fhaRequestViewModel["MemoryCareUnits"]);
                        data.append("IndependentBeds", fhaRequestViewModel["IndependentBeds"]);
                        data.append("IndependentUnits", fhaRequestViewModel["IndependentUnits"]);
                        data.append("OtherBeds", fhaRequestViewModel["OtherBeds"]);
                        data.append("OtherUnits", fhaRequestViewModel["OtherUnits"]);
                        data.append("IsMidLargePortfolio", fhaRequestViewModel["IsMidLargePortfolio"]);
                        data.append("IsMasterLeaseProposed", fhaRequestViewModel["IsMasterLeaseProposed"]);
                        data.append("Portfolio_Name", fhaRequestViewModel["Portfolio_Name"]);
                        data.append("Portfolio_Number", fhaRequestViewModel["Portfolio_Number"]);
                        data.append("Comments", fhaRequestViewModel["Comments"]);
                        data.append("ConstructionStageTypeId", fhaRequestViewModel["ConstructionStageTypeId"]);
                        data.append("CMSStarRating", fhaRequestViewModel["CMSStarRating"]);
                        data.append("ProposedInterestRate", fhaRequestViewModel["ProposedInterestRate"]);
                        data.append("IsNewOrExistOrNAPortfolio", fhaRequestViewModel["IsNewOrExistOrNAPortfolio"]);
                        data.append("TaskinstanceId", fhaRequestViewModel["TaskinstanceId"]);
                        data.append("IsLIHTC", fhaRequestViewModel["IsLIHTC"]);
                        data.append("IsHome", fhaRequestViewModel["IsHome"]);
                        data.append("IsTaxExempted", fhaRequestViewModel["IsTaxExempted"]);
                        data.append("IsCDBG", fhaRequestViewModel["IsCDBG"]);
                        data.append("IsOther", fhaRequestViewModel["IsOther"]);
                        data.append("IsDisclaimerAccepted", fhaRequestViewModel["IsDisclaimerAccepted"]);
                        data.append("FHANumber", fhaRequestViewModel["FHANumber"]);
                        data.append("InsertFHAComments", fhaRequestViewModel["InsertFHAComments"]);
                        data.append("PortfolioComments", fhaRequestViewModel["PortfolioComments"]);
                        data.append("CreditreviewComments", fhaRequestViewModel["CreditreviewComments"]);
                        data.append("CreditReviewDate", fhaRequestViewModel["CreditReviewDate"]);
                        data.append("CreditLetterFileName", $('#creditLetterFileNameText').val());
                        data.append("FHANumberRequestId", fhaRequestViewModel["FHANumberRequestId"]);
                        data.append("PropertyAddressId", fhaRequestViewModel["PropertyAddressId"]);
                        data.append("LenderContactAddressId", fhaRequestViewModel["LenderContactAddressId"]);
                        data.append("IsPortfolioComplete", fhaRequestViewModel["IsPortfolioComplete"]);
                        data.append("IsFhaInsertComplete", fhaRequestViewModel["IsFhaInsertComplete"]);
                        data.append("IsCreditReviewAttachComplete", fhaRequestViewModel["IsCreditReviewAttachComplete"]);
                        data.append("RequestSubmitDate", fhaRequestViewModel["RequestSubmitDate"]);
                        data.append("CreatedOn", fhaRequestViewModel["CreatedOn"]);
                        data.append("ConfirmFHANumber", fhaRequestViewModel["ConfirmFHANumber"]);
                        data.append("IsPortfolioRequired", fhaRequestViewModel["IsPortfolioRequired"]);
                        data.append("IsCreditReviewRequired", fhaRequestViewModel["IsCreditReveiwRequired"]);
                        data.append("CancelComments", fhaRequestViewModel["CancelComments"]);
                        data.append("FhaRequestType", fhaRequestViewModel["FhaRequestType"]);
                        data.append("RequestStatus", fhaRequestViewModel["RequestStatus"]);
                        data.append("IsPortfolioCancelled", fhaRequestViewModel["IsPortfolioCancelled"]);
                        data.append("IsCreditCancelled", fhaRequestViewModel["IsCreditCancelled"]);
        
                        $("#spinner").attr('class', 'overlay');
                        $.ajax({
                            url: '@Url.Action("UploadFile", "FHARequest")',
                            data: data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            type: 'POST',
                            success: function (response) {
                                if (response === "Success") {

                                    alert("File Uploaded Successfully");
                                }
                                else
                                    {
                                        alert("Sorry, an error occurred while uploading the file. Please go to the “Help Desk” tab on the menu and submit the query. Thank you for your patience!");
                                        //jQuery('#TaskGrid').trigger('reloadGrid');

                                    }
                            },
                            error: function (xhr, status, p3, p4) {
                                //if (xhr.status === 200) {

                                //}
                                var err = "Error " + " " + status + " " + p3 + " " + p4;
                                if (xhr.responseText && xhr.responseText[0] == "{")
                                    err = JSON.parse(xhr.responseText).Message;
                                console.log(err);
                            }
                        });

                    } else {
                        alert("This browser doesn't support HTML5 file uploads!");
                    }
                }
            });

            if ($('#txtConstructionStageTypeId').val() === "0") {
                $('#stageType').hide();
            }
            /*if ($('#txtMasterLeaseProposed').val()) {
                $('#leaseYes').prop('checked', true);
            } else {
                $('#leaseNo').prop('checked', true);
            }

            if ($('#txtMidLargePortfolio').val()) {
                $('#rbMidLarge').prop('checked', true);
                $('#rbMidLargePortfolio').prop('checked', true);
            } else if (!$('#txtMidLargePortfolio').val()) {
                $('#rbSmall').prop('checked', true);
                $('#rbSmallPortfolio').prop('checked', true);
            }*/

            $('input:radio[name="IsMidLargePortfolio"]').change(function () {
                if ($(this).attr("id") === 'rbSmall') {
                    $('#txtMidLargePortfolio').val(false);
                }
                else if ($(this).attr("id") === 'rbMidLarge') {
                    $('#txtMidLargePortfolio').val(true);
                } else if ($(this).attr("id") === 'rbSmallPortfolio') {
                    $('#txtMidLargePortfolio').val(false);
                } else if ($(this).attr("id") === 'rbMidLargePortfolio') {
                    $('#txtMidLargePortfolio').val(true);
                }
            });

            /*if ($('#txtAddressCorrect').val() === "False") {
                $('#rbNo').prop('checked', true);
            } else {
                $('#rbYes').prop('checked', true);
            }*/

            $('#btnInsert').click(function () {


                if ('@Model.IsCreditReviewRequired' === "False") {
                    var propertyId = $('#propertyIdText').val();
                    if (propertyId === '0' || propertyId === "") {
                        alert("Please enter Property ID#");
                        $('#propertyIdText').focus();
                        return false;
                    } else if (propertyId.length > 9 || propertyId.length < 9) {
                        alert("Please enter a valid Property ID#, with 9 digits");
                        $('#propertyIdText').val("");
                        $('#propertyIdText').focus();
                        return false;
                    } else {
                        $('#divInsertFha').show();
                        $(function () {
                            $("#divInsertFha").dialog({
                                modal: true,
                                height: '250',
                                width: '700'
                            });
                            return false;
                        });
                    }
                }
                else {
                    $('#divInsertFha').show();
                    $(function () {
                        $("#divInsertFha").dialog({
                            modal: true,
                            height: '250',
                            width: '700'
                        });
                        return false;
                    });
                }

            });
            //FHA Number validation
            $("#fhaNumberText").mask("999-99999");
            $("#fhaNumberText").on("blur", function () {
                var last = $(this).val().substr($(this).val().indexOf("-") + 1);

                if (last.length === 3) {
                    var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                    var lastfour = move + last;

                    var first = $(this).val().substr(0, 9);

                    $(this).val(first + '-' + lastfour);

                }
            });
            //Confirm FHA Number
            $("#confirmFhaNumberText").mask("999-99999");
            $("#confirmFhaNumberText").on("blur", function () {
                var last = $(this).val().substr($(this).val().indexOf("-") + 1);

                if (last.length === 3) {
                    var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                    var lastfour = move + last;

                    var first = $(this).val().substr(0, 9);

                    $(this).val(first + '-' + lastfour);

                }
            });

            $('#btnInsertSubmit').click(function () {
                if ($('#fhaNumberText').val() === "") {
                    alert("Please enter FHA Number");
                    $('#fhaNumberText').focus();
                    return false;
                }
                else if (!(/^[0-9]{3}-[0-9]{5}$/i).test($('#fhaNumberText').val())) {
                    alert("Please enter valid FHA Number in the format ###-#####, # is number 0-9.");
                    $('#fhaNumberText').val("");
                    $('#fhaNumberText').focus();
                    return false;
                }
                else if ($('#confirmFhaNumberText').val() === "") {
                    alert("Please enter confirm FHA Number");
                    $('#confirmFhaNumberText').focus();
                    return false;
                }
                else if (!(/^[0-9]{3}-[0-9]{5}$/i).test($('#confirmFhaNumberText').val())) {
                    alert("Please enter valid FHA Number in the format ###-#####, # is number 0-9.");
                    $('#confirmFhaNumberText').val("");
                    $('#confirmFhaNumberText').focus();
                    return false;
                }
                else if ($('#fhaNumberText').val() !== $('#confirmFhaNumberText').val()) {
                    alert("FHA Number and Confirm FHA Number should match");
                    $('#confirmFhaNumberText').val("");
                    $('#confirmFhaNumberText').focus();
                    return false;
                }
                else {
                    //Check if FHA# exists
                    $.ajax({
                        url: '@Url.Action("CheckIfFhaNumberExists", "FHARequest")',
                        data: { fhaNumber: $('#fhaNumberText').val() },
                        type: 'GET',
                        success: function (result) {
                            if (result === "success") {
                                alert("This FHA# already exists in the system");
                                $('#fhaNumberText').val("");
                                $('#confirmFhaNumberText').val("");
                                $('#insertFhaCommentsText').val("");
                                return false;
                            } else {
                                Post("Insert");
                                $('#divInsertFha').dialog('close');
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });

                }

            });

            $('#btnInsertCancel').click(function () {
                $('#fhaNumberText').val("");
                $('#confirmFhaNumberText').val("");
                $('#fhaNumberCommentsText').val("");
                $('#divInsertFha').dialog('close');
            });

            $('.datepicker').datepicker();

            $('#creditReviewDateText').change(function () {
                var date = $(this).val();
                var arrDate = date.split("/");
                var today = new Date();
                var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                if (userSelectedDate > today) {
                    alert('Date must not be in the future.');
                    $(this).val('');
                }
            });

            $('#btnPortfolio').click(function () {

                    if ($('#txtMidLargePortfolio').val()) {
                        $('#rbMidLarge').prop('checked', true);
                    } else if (!$('#txtMidLargePortfolio').val()) {
                        $('#rbSmall').prop('checked', true);
                    }
                    $('#divUpdatePortfolio').show();
                    $(function () {
                        $("#divUpdatePortfolio").dialog({
                            modal: true,
                            height: '500',
                            width: '700'
                        });
                        return false;
                    });


            });

            $('#btnPortfolioSubmit').click(function () {
                if ($('#portfolioNumberTextSection').val() === "") {
                    alert("Please enter Portfolio Number");
                    return false;
                }else if ($('#portfolioNameTextSection').val() === "") {
                    alert("Please enter Portfolio Name");
                    return false;
                } else {
                    Post("Portfolio");
                    $('#divUpdatePortfolio').dialog('close');
                }

            });

            $('#btnPortfolioCancel').click(function () {
                if ($('#txtMidLargePortfolio').val() === "True") {
                    $('#rbMidLargePortfolio').prop('checked', true);
                } else if ($('#txtMidLargePortfolio').val() === "False") {
                    $('#rbSmallPortfolio').prop('checked', true);
                }
                $('#portfolioNumberTextSection').val($('#portfolioNumberText').val());
                $('#portfolioNameTextSection').val($('#portfolioNameText').val());
                $('#portfolioCommentsText').val("");
                $('#divUpdatePortfolio').dialog('close');
            });

            $('#btnCredit').click(function () {
                var propertyId = $('#propertyIdText').val();
                if (propertyId === '0' || propertyId === "") {
                    alert("Please enter Property ID#");
                    $('#propertyIdText').focus();
                    return false;
                } else if (propertyId.length > 9 || propertyId.length < 9) {
                    alert("Please enter a valid Property ID#, with 9 digits");
                    $('#propertyIdText').focus();
                    return false;
                }
                else {
                    $('#divAttachCredit').show();
                    $(function () {
                        $("#divAttachCredit").dialog({
                            modal: true,
                            height: '300',
                            width: '700'
                        });
                        return false;
                    });
                }

            });

            $('#btnCreditSubmit').click(function () {
                if ($('#creditLetterFileNameText').val() === "") {
                    alert("Please attach credit approval letter");
                    return false;
                } else if ($('#creditReviewDateText').val() === "") {
                    alert("Please select the date");
                    return false;
                } else {
                    Post("Credit");
                    $('#divAttachCredit').dialog('close');
                }


            });

            $('#btnCreditCancel').click(function () {
                $('#creditLetterFileNameText').val("");
                $('#creditCommentsText').val("");
                $("#divAttachCredit").dialog('close');
            });

            $('#btnDeny').click(function() {
                $('#divDeny').show();
                $(function() {
                    $("#divDeny").dialog({
                        modal: true,
                        height: '300',
                        width: '700'
                    });
                    return false;
                });
            });
            $('#btnDenySubmit').click(function () {
                if ($('#denyCommentsText').val() === "") {
                    alert("Please enter Deny Comments");
                    return false;
                } else {
                    Post("Deny");
                    $('#divDeny').dialog('close');
                }

            });

            $('#btnDenyCancel').click(function () {
                $('#denyCommentsText').val("");
                $("#divDeny").dialog('close');
            });

            function Post(name) {

                $('input').each(function (i) {
                    var self = $(this);
                    try {
                        var v = self.autoNumeric('get');
                        self.autoNumeric('destroy');
                        self.val(v);
                    } catch (err) {
                        console.log("Not an autonumeric field: " + self.attr("name"));
                    }
                });
                var fhaRequestViewModel = GetFhaRequestViewModel();
                fhaRequestViewModel["SubmitType"] = name;
                var portfolioName = fhaRequestViewModel["Portfolio_Name"];
                var portfolioNumber = fhaRequestViewModel["Portfolio_Number"];
                fhaRequestViewModel["Portfolio_Name"] = name === "Portfolio" ? $('#portfolioNameTextSection').val() : portfolioName;
                fhaRequestViewModel["Portfolio_Number"] = name === "Portfolio" ? $('#portfolioNumberTextSection').val() : portfolioNumber;

                $("#spinner").attr('class', 'overlay');


                $.ajax({
                    url: '@Url.Action("ApproveFHARequest", "FHARequest")',
                    data: fhaRequestViewModel,
                    dataType: 'json',
                    type: 'POST',
                    success: function (response) {
                        //debugger;

                        if (name === "Insert") {
                            if (typeof response !== 'undefined')
                            {
                                if (response.result === "failed")
                                {
                                    alert("There was a problem inserting property. Please try it later.");
                                }
                                else
                                {
                                    alert("FHA# Inserted Successfully");
                                    window.location = "/ProductionMyTask/Index";
                                }
                            }
                            
                           else
                            {
                                 alert("FHA# Inserted Successfully");
                                 window.location = "/ProductionMyTask/Index";
                            }



                        } else if (name === "Portfolio") {
                            alert("Portfolio Data Updated Successfully");
                            window.location = "/ProductionMyTask/Index";
                        } else if (name === "Credit")
                        {
                            if (typeof response !== 'undefined')
                            {
                                if (response.result === "failed") {
                                    alert("There was a problem inserting property. Please try it later.");
                                }
                                else
                                {
                                    alert("Credit Approval Data Completed Successfully");
                                    window.location = "/ProductionMyTask/Index";
                                }
                            }
                             else
                            {

                                     alert("Credit Approval Data Completed Successfully");
                                      window.location = "/ProductionMyTask/Index";
                            }


                        } else if (name === "Deny") {
                            alert("FHA# Request Denied Successfully");
                            window.location = "/ProductionMyTask/Index";
                        } else if (name === "Save") {
                            $(function() {
                                $("#divHtml").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380'

                                });
                            });
                            $('#divHtml').show();
                            return false;


                        } else if (name === "Cancel") {
                            if ('@Model.FhaRequestType' === '@((Int32)ProductionView.CreditReview)') {
                                alert("Credit Review Request has been Cancelled Successfully");
                            } else if ('@Model.FhaRequestType' === '@((Int32)ProductionView.Portfolio)') {
                                alert("Update Portfolio Request has been Cancelled Successfully");
                            } else {
                                alert("FHA# Request has Cancelled Successfully");
                            }

                            window.location = "/ProductionMyTask/Index";
                        }
                    },
                    error: function(xhr, status, p3, p4) {
                       // debugger;
                         if (xhr.status === 200) {
                            if (name === "Insert") {

                                if (typeof response !== 'undefined')
                                {
                                    if (response.result === "failed")
                                    {
                                        alert("There was a problem inserting property. Please try it later.");
                                    }
                                    else
                                    {
                                        alert("FHA# Inserted Successfully");
                                        $('#divInsertFha').hide();
                                        window.location = "/ProductionMyTask/Index";
                                    }
                                }
                             else
                            {
                                alert("FHA# Inserted Successfully");
                                $('#divInsertFha').hide();
                                 window.location = "/ProductionMyTask/Index";
                            }


                            } else if (name === "Portfolio") {
                                alert("Portfolio Data Updated Successfully");
                                $('#divUpdatePortfolio').hide();
                                window.location = "/ProductionMyTask/Index";
                            } else if (name === "Credit") {
                                if (typeof response !== 'undefined')
                                {
                                    if (response.result === "failed")
                                    {
                                        alert("There was a problem inserting property. Please try it later.");
                                    }
                                    else
                                    {
                                        alert("Credit Approval Data Completed Successfully");
                                        $('#divAttachCredit').hide();
                                        window.location = "/ProductionMyTask/Index";
                                    }
                                }
                             else
                            {
                                alert("Credit Approval Data Completed Successfully");
                                $('#divAttachCredit').hide();
                                window.location = "/ProductionMyTask/Index";
                            }
                                   } else if (name === "Deny") {
                                alert("FHA# Request Denied Successfully");
                                window.location = "/ProductionMyTask/Index";
                            } else if (name === "Save") {
                                $(function() {
                                    $("#divHtml").dialog({
                                        modal: true,
                                        height: '220',
                                        width: '380'

                                    });
                                });
                                $('#divHtml').show();
                                return false;
                            } else if (name === "Cancel") {
                                if ('@Model.FhaRequestType' === '@((Int32)ProductionView.CreditReview)') {
                                    alert("Credit Review Request has been Cancelled Successfully");
                                } else if ('@Model.FhaRequestType' === '@((Int32)ProductionView.Portfolio)') {
                                    alert("Update Portfolio Request has been Cancelled Successfully");
                                } else {
                                    alert("FHA# Request has Cancelled Successfully");
                                }
                                window.location = "/ProductionMyTask/Index";
                            }
                        }
                        var err = "Error " + " " + status + " " + p3 + " " + p4;
                        if (xhr.responseText && xhr.responseText[0] == "{")
                            err = JSON.parse(xhr.responseText).Message;
                        console.log(err);
                    }
                });
            }

            function GetFhaRequestViewModel() {
                var ProjectName = $('#projectNameText').val();
                var BorrowerType = $('#borrowerType').val();
                var ProjectType = $('#projectType').val();
                var ConstructionStageType = $('#stageType').val();
                var LoanAmount = $('#loanAmountText').val();
                var CurrentFHA = $('#currentFhaText').val();
                var CurrentLoanType = $('#currentLoanTypeText').val();
                var InterestRate = $('#interestRateText').val();
                var PropertyId = $('#propertyIdText').val();
                var ActivityType = $('#activityType').val();
                var LoanType = $('#loanType').val();
                var ProjectAddress = $('#propertyAddressText').val();
                var ProjectZip = $('#propertyZipText').val();
                var ProjectCity = $('#propertyCityText').val();
                var CongressionalDistrict = $('#congressionalDistrictText').val();
                var ProjectState = $('#propertyStateText').val();
                var LenderName = $('#lenderNameText').val();
                var LenderId = $('#lenderIdText').val();
                var LenderContactName = $('#lenderContactNameText').val();
                var LenderContactEmail = $('#lenderContactEmailText').val();
                var LenderContactPhone = $('#lenderContactPhoneText').val();
                var SNBeds = $('#snBedsText').val();
                var SNUnits = $('#snUnitsText').val();
                var ALBeds = $('#alBedsText').val();
                var ALUnits = $('#alUnitsText').val();
                var BCBeds = $('#bcBedsText').val();
                var BCUnits = $('#bcUnitsText').val();
                var MCBeds = $('#mcBedsText').val();
                var MCUnits = $('#mcUnitsText').val();
                var IBeds = $('#iBedsText').val();
                var IUnits = $('#iUnitsText').val();
                var OBeds = $('#oBedsText').val();
                var OUnits = $('#oUnitsText').val();
                var IsLIHTC = $('#txtLihtc').val();
                var IsTaxExempted = $('#txtTaxExempted').val();
                var IsHome = $('#txtHome').val();
                var IsCDBG = $('#txtCdbg').val();
                var IsOther = $('#txtOther').val();
                var CMSRating = $('#ratingType').val();
                var IsMasterLeaseProposed = $('#txtMasterLeaseProposed').val();
                var IsNewOrExistOrNAPortfolio = $('#portfolioStatus').val();
                var IsMidLargePortfolio = $('#txtMidLargePortfolio').val();
                var PortfolioNumber = $('#portfolioNumberText').val();
                var PortfolioName = $('#portfolioNameText').val();
                var LenderComments = $('#txtLenderComments').val();
                var IsAddressCorrect = $('#txtAddressCorrect').val();
                var TaskinstanceId = $('#txtTaskInstanceId').val();
                var IsDisclaimerAccepted = $('#txtDisclaimerAccepted').val();
                var FHANumber = $('#fhaNumberText').val();
                var InsertFHAComments = $('#insertFhaCommentsText').val();
                var PortfolioComments = $('#portfolioCommentsText').val();
                var CreditReviewDate = $('#creditReviewDateText').val();
                var CreditReviewComments = $('#creditCommentsText').val();
                if (CreditReviewComments === undefined) {
                    CreditReviewComments = "";
                }
                var CreditLetterFileName = $('#creditLetterText').val();
                if (CreditLetterFileName === undefined) {
                    CreditLetterFileName = "";
                }
                var CreditLetterFile = "";
                var FHANumberRequestId = $('#txtFHANumberRequestId').val();
                var PropertyAddressId = $('#txtPropertyAddressId').val();
                var LenderContactAddressId = $('#txtLenderContactAddressId').val();
                var IsPortfolioComplete = $('#txtPortfolioComplete').val();
                var IsFhaInsertComplete = $('#txtFhaComplete').val();
                var IsCreditReviewAttachComplete = $('#txtCreditComplete').val();
                var RequestSubmitDate = $('#txtRequestSubmitDate').val();
                var CreatedOn = $('#txtCreatedOn').val();
                var ConfirmFHANumber = $('#confirmFhaNumberText').val();
                var FileId = $('#txtFileId').val();
                var IsPortfolioRequired = $('#txtPortfolioRequired').val();
                var IsCreditReviewRequired = $('#txtCreditReviewRequired').val();
                var DenyComments = $('#denyCommentsText').val();
                var CancelComments = $('#cancelCommentsText').val();
                var FhaRequestType = $('#txtFhaRequestType').val();
                var RequestStatus = $('#txtRequestStatus').val();
                var IsPortfolioCancelled = $('#txtPortfolioCancelled').val();
                var IsCreditCancelled = $('#txtCreditCancelled').val();

                //debugger;
                var fhaRequestViewModel = {
                    ProjectName: ProjectName,
                    CurrentFHANumber: CurrentFHA,
                    PropertyId: PropertyId,
                    ProjectTypeId: ProjectType,
                    CurrentLoanType: CurrentLoanType,
                    LoanTypeId: LoanType,
                    ActivityTypeId: ActivityType,
                    BorrowerTypeId: BorrowerType,
                    IsAddressCorrect: IsAddressCorrect,
                    PropertyStreetAddress: ProjectAddress,
                    PropertyCity: ProjectCity,
                    PropertyState: ProjectState,
                    PropertyZip: ProjectZip,
                    CongressionalDtId: CongressionalDistrict,
                    LenderId: LenderId,
                    LenderName: LenderName,
                    LenderContactName: LenderContactName,
                    LenderContactEmail: LenderContactEmail,
                    LenderContactPhone: LenderContactPhone,
                    LoanAmount: LoanAmount,
                    SkilledNursingBeds: SNBeds,
                    SkilledNursingUnits: SNUnits,
                    AssistedLivingBeds: ALBeds,
                    AssistedLivingUnits: ALUnits,
                    BoardCareBeds: BCBeds,
                    BoardCareUnits: BCUnits,
                    MemoryCareBeds: MCBeds,
                    MemoryCareUnits: MCUnits,
                    IndependentBeds: IBeds,
                    IndependentUnits: IUnits,
                    OtherBeds: OBeds,
                    OtherUnits: OUnits,
                    IsMidLargePortfolio: IsMidLargePortfolio,
                    IsMasterLeaseProposed: IsMasterLeaseProposed,
                    Portfolio_Name: PortfolioName,
                    Portfolio_Number: PortfolioNumber,
                    Comments: LenderComments,
                    ConstructionStageTypeId: ConstructionStageType,
                    CMSStarRating: CMSRating,
                    ProposedInterestRate: InterestRate,
                    IsNewOrExistOrNAPortfolio: IsNewOrExistOrNAPortfolio,
                    TaskinstanceId: TaskinstanceId,
                    IsLIHTC: IsLIHTC,
                    IsHome: IsHome,
                    IsTaxExempted: IsTaxExempted,
                    IsCDBG: IsCDBG,
                    IsOther: IsOther,
                    IsDisclaimerAccepted: IsDisclaimerAccepted,
                    SubmitType: name,
                    FHANumber: FHANumber,
                    InsertFHAComments: InsertFHAComments,
                    PortfolioComments: PortfolioComments,
                    CreditreviewComments: CreditReviewComments,
                    CreditReviewDate: CreditReviewDate,
                    CreditLetterFileName: CreditLetterFileName,
                    CreditLetterFile: CreditLetterFile,
                    FHANumberRequestId: FHANumberRequestId,
                    PropertyAddressId: PropertyAddressId,
                    LenderContactAddressId: LenderContactAddressId,
                    IsPortfolioComplete: IsPortfolioComplete,
                    IsFhaInsertComplete: IsFhaInsertComplete,
                    IsCreditReviewAttachComplete: IsCreditReviewAttachComplete,
                    RequestSubmitDate: RequestSubmitDate,
                    CreatedOn: CreatedOn,
                    ConfirmFHANumber: ConfirmFHANumber,
                    FileId: FileId,
                    IsPortfolioRequired: IsPortfolioRequired,
                    IsCreditReviewRequired: IsCreditReviewRequired,
                    DenyComments: DenyComments,
                    CancelComments: CancelComments,
                    FhaRequestType: FhaRequestType,
                    RequestStatus: RequestStatus,
                    IsPortfolioCancelled: IsPortfolioCancelled,
                    IsCreditCancelled: IsCreditCancelled

                };
                return fhaRequestViewModel;
            }

            $('#btnSave').click(function() {
                if ($('#projectNameText').val() === "") {
                    alert("Please enter Project Name");
                    $('#projectNameText').focus();
                    return false;
                }
                if ($('#projectType').val() === "" || $('#projectType').val() === 0) {
                    alert("Please select a Project Type");
                    $('#projectType').focus();
                    return false;
                }
                var title = $(this).attr("value");
                Post(title);
                return false;
            });

            $("#butnSave").click(function() {
                $("#divHtml").dialog('close');
                $('#portfolioNumberTextSection').val($('#portfolioNumberText').val());
                $('#portfolioNameTextSection').val($('#portfolioNameText').val());
            });

            $('#btnCancel').click(function() {
                $(function () {
                    $("#divCancel").dialog({
                        modal: true,
                        height: '300',
                        width: '700'

                    });
                });
                $('#divCancel').show();
                return false;
            });

            $('#btnCancelSubmit').click(function() {
                if ($('#cancelCommentsText').val() === "") {
                    alert("Please enter Comments");
                    $('#cancelCommentsText').focus();
                    return false;
                }
                var title = "Cancel";
                Post(title);
                return false;
            });

            $('#btnCancelClose').click(function () {
                $('#cancelCommentsText').val("");
                $('#divCancel').dialog('close');
            });

            //$('#btnDeleteFile').click(function () {
            //    var fileId = $('#txtFileId').val();
            //    $("#spinner").attr('class', 'overlay');
            //    $.ajax({
            //        type: "POST",
            //        url: "/FHARequest/DeleteFile/?taskfileid=" + fileId,

            //        contentType: false,
            //        processData: false,
            //        cache: false,
            //        success: function (result) {
            //            if (result === "Success") {
            //                $('#creditLetterFileNameText').val("");
            //                alert("File Deleted Successfully");
            //            }
            //        },
            //        error: function (xhr, status, p3, p4) {
            //            var err = "Error " + " " + status + " " + p3 + " " + p4;
            //            if (xhr.responseText && xhr.responseText[0] == "{")
            //                err = JSON.parse(xhr.responseText).Message;
            //            console.log(err);
            //        }
            //    });
            //});
        });
    </script>

    <script>
        function DisableforPam() {
            //debugger;
         
            if ('@Model.IsPAMReport' == 'True') {
                $("#disableview").addClass("disabled");



            }
        }
    </script>
