﻿@model Model.Production.FHANumberRequestViewModel
@{
    ViewBag.Title = "FHARequestLenderView";
}
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<script src="~/Scripts/jquery.mask.js"></script>
@*<script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery-1.9.1.js"></script>*@
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<script>
    var loanAmountMatch = true;
    var validEmail = true;
    var validZip = true;
    var noActivityType = false;
    var midLargeOrSmallSelected = false;

    $(document).ready(function () {

        document.getElementById("stageType").style.display = 'none';
        $('#rbSmall').prop('checked', false);
        $('#rbMidLarge').prop('checked', false);
        $('#leaseYes').prop('checked', false);
        $('#leaseNo').prop('checked', false);
        $('#rbYes').prop('checked', false);
        $('#rbNo').prop('checked', false);
        $('#lihtc').val(false);
        $('#taxExempted').val(false);
        $('#home').val(false);
        $('#cdbg').val(false);
        $('#other').val(false);
        $('#divHtml').hide();
        $('#divsubmit').hide();
        //debugger;
        if ($('#currentLoanTypeText').val() !== "") {
            document.getElementById("currentLoanTypeText").disabled = false;
        } else {
            document.getElementById("currentLoanTypeText").disabled = true;
        }

        if ($('#activityType').val()!== "") {
            document.getElementById("activityType").disabled = false;
        } else {
            document.getElementById("activityType").disabled = true;
        }
        if ($('#txtAddressCorrect').val() === "True") {
            $('#rbYes').prop('checked', true);
            document.getElementById("propertyAddressText").disabled = true;
            document.getElementById("propertyCityText").disabled = true;
            document.getElementById("propertyStateText").disabled = true;
            document.getElementById("propertyZipText").disabled = true;
            $('#propertyAddressText').attr('style', 'background: #eee');
            $('#propertyCityText').attr('style', 'background: #eee');
            $('#propertyStateText').attr('style', 'background: #eee');
            $('#propertyZipText').attr('style', 'background: #eee');
        } else if ($('#txtAddressCorrect').val() === "False") {
            $('#rbNo').prop('checked', true);
            document.getElementById("propertyAddressText").disabled = false;
            document.getElementById("propertyCityText").disabled = false;
            document.getElementById("propertyStateText").disabled = false;
            document.getElementById("propertyZipText").disabled = false;
            $("#propertyAddressText").removeAttr("style");
            $("#propertyCityText").removeAttr("style");
            $("#propertyStateText").removeAttr("style");
            $("#propertyZipText").removeAttr("style");
        }

        if ($('#txtMidLargePortfolio').val() === "True" || $('#txtMidLargePortfolio').val() === "False") {
            midLargeOrSmallSelected = true;
        } else {
            midLargeOrSmallSelected = false;
        }
        
        if ($('#txtDisclaimerAccepted').val() === "True") {
            document.getElementById("IsDisclaimerAccepted").disabled = true;
        } else {
            document.getElementById("IsDisclaimerAccepted").disabled = false;
        }

        
        
        $('#btnSubmit').click(function (e) {
            if ($('#projectNameText').val() === "") {
                alert("Please enter Project Name");
                $('#projectNameText').focus();
                return false;
            }
            if ($('#projectType').val() === "" || $('#projectType').val() === 0) {
                alert("Please select a Project Type");
                $('#projectType').focus();
                return false;
            }
            
            //Removed  validation as per  demo suggestion- This field is autopopulated only if Current FHA# is selected
            //if ($('#propertyIdText').val() === "" || $('#propertyIdText').val() === "0") {
            //    alert("Please enter Property Id");
            //    $('#propertyIdText').focus();
            //    return false;
            //}

            if ($('#stageType').val() === "0" &&
                ($('#projectType').val() === "5" || $('#projectType').val() === "6" || $('#projectType').val() === "7" || $('#projectType').val() === "8")) {
                alert("Please select a Stage Type");
                $('#stageType').focus();
                return false;
            }
            
            if ($('#currentFhaText').val() !== "" && $('#currentLoanTypeText').val() === "") {
                alert("Please enter Current Type Loan");
                $('#currentLoanTypeText').focus();
                return false;
            }
            
            if ($('#currentFhaText').val() === "" && $('#projectType').val() === "2") {
                alert("Please select a FHA Number");
                $('#currentFhaText').val("");
                $('#currentFhaText').focus();
                return false;
            }

            if (($('#activityType').val() === "" || $('#activityType').val() === 0) && !noActivityType) {
                alert("Please select Activity Type");
                $('#activityType').focus();
                return false;
            }
            if ($('#loanType').val() === "" || $('#loanType').val() === 0) {
                alert("Please select Mortagage Insurance Type");
                $('#loanType').focus();
                return false;
            }
            if ($('#borrowerType').val() === "" || $('#borrowerType').val() === 0) {
                alert("Please select Borrower Type");
                $('#borrowerType').focus();
                return false;
            }
            
            if ($('#loanAmountText').val() === "" || $('#loanAmountText').val() === "0.000") {
                alert("Please enter Proposed Loan Amount");
                $('#loanAmountText').focus();
                return false;
            } else if (!loanAmountMatch) {
                alert("Please make sure the Loan Amounts match");
                $('#loanAmountText').focus();
                return false;
            }
            if ($('#confirmLoanAmountText').val() === "" || $('#confirmLoanAmountText').val() === "0.000") {
                alert("Please enter Re-enter Loan Amount");
                $('#confirmLoanAmountText').focus();
                return false;
            }
            if ($('#interestRateText').val() === "" || $('#interestRateText').val() === "0") {
                alert("Please enter Proposed Interest Rate");
                $('#interestRateText').focus();
                return false;
            }

            // #293Commented by Hareesh
            //if (!$('#rbYes').is(':checked') && !$('#rbNo').is(':checked') && $('#currentFhaText').val() !== "") {
            //    alert("Please select if the property address is correct - Yes/No ?");
            //    $('#rbYes').focus();
            //    return false;
            //}
            //Commented as per demo suggestions 3/3/2017
            //if (!$('#txtAddressCorrect').val() || $('#txtAddressCorrect').val() === "False") {
                if ($('#propertyAddressText').val() === "") {
                    alert("Please enter Project Street Address");
                    $('#propertyAddressText').focus();
                    return false;
                }
                if ($('#propertyCityText').val() === "") {
                    alert("Please enter Project City");
                    $('#propertyCityText').focus();
                    return false;
                }
                if ($('#propertyStateText').val() === "" || $('#propertyStateText').val() === 0) {
                    alert("Please select Project State");
                    $('#propertyStateText').focus();
                    return false;
                }
                if ($('#propertyZipText').val() === "") {
                    alert("Please enter Project Zip Code");
                    $('#propertyZipText').focus();
                    return false;
                }
                if ($('#congressionalDistrictText').val() === "" || $('#congressionalDistrictText').val() === "0") {
                    alert("Please enter Congressional District");
                    $('#congressionalDistrictText').focus();
                    return false;
                }
            //}

            if ($('#currentFhaText').val() !== "") {
                if ($('#propertyAddressText').val() === "") {
                    alert("Please enter Project Street Address");
                    $('#propertyAddressText').focus();
                    return false;
                }
                if ($('#propertyCityText').val() === "") {
                    alert("Please enter Project City");
                    $('#propertyCityText').focus();
                    return false;
                }
                if ($('#propertyStateText').val() === "" || $('#propertyStateText').val() === 0) {
                    alert("Please select Project State");
                    $('#propertyStateText').focus();
                    return false;
                }
                if ($('#propertyZipText').val() === "") {
                    alert("Please enter Project Zip Code");
                    $('#propertyZipText').focus();
                    return false;
                }
                if ($('#congressionalDistrictText').val() === "" || $('#congressionalDistrictText').val() === "0") {
                    alert("Please enter Congressional District");
                    $('#congressionalDistrictText').focus();
                    return false;
                }
            }

            if ($('#propertyAddressText').val() === "") {
                alert("Please enter Project Street Address");
                $('#propertyAddressText').focus();
                return false;
            }
            if ($('#lenderContactNameText').val() === "") {
                alert("Please enter Lender Contact Name");
                $('#lenderContactNameText').focus();
                return false;
            }
            if ($('#lenderContactEmailText').val() === "") {
                alert("Please enter Lender Contact Email");
                $('#lenderContactEmailText').focus();
                return false;
            } else if (!validEmail) {
                alert("Please enter a Valid Email address");
                $('#lenderContactEmailText').focus();
                return false;
            }
            if ($('#lenderContactPhoneText').val() === "") {
                alert("Please enter Lender Contact Phone");
                $('#lenderContactPhoneText').focus();
                return false;
            }
            
            if (($('#snBedsText').val() === "0" || $('#snBedsText').val() === "")
                && ($('#alBedsText').val() === "0" || $('#alBedsText').val() === "")
                && ($('#bcBedsText').val() === "0" || $('#bcBedsText').val() === "")
                && ($('#mcBedsText').val() === "0" || $('#mcBedsText').val() === "")
                && ($('#iBedsText').val() === "0" || $('#iBedsText').val() === "")
                && ($('#oBedsText').val() === "0"  || $('#oBedsText').val() === "")
                && ($('#snUnitsText').val() === "0" || $('#snUnitsText').val() === "")
                && ($('#alUnitsText').val() === "0" || $('#alUnitsText').val() === "")
                && ($('#bcUnitsText').val() === "0" || $('#bcUnitsText').val() === "")
                && ($('#mcUnitsText').val() === "0" || $('#mcUnitsText').val() === "")
                && ($('#iUnitsText').val() === "0" || $('#iUnitsText').val() === "")
                && ($('#oUnitsText').val() === "0" || $('#oUnitsText').val() === "")) {
                alert("Please make sure one of the care types have a value for Beds and Units");
                $('#snBedsText').focus();
                return false;
            }

            if (($('#snBedsText').val() !== "0" && $('#snUnitsText').val() === "0")
                || ($('#snBedsText').val() === "0" && $('#snUnitsText').val() !== "0")) {
                alert("Please make sure both the Beds and Units have a value");
                $('#snBedsText').focus();
                return false;
            } else if ($('#snBedsText').val() !== "0" && $('#snUnitsText').val() !== "0"
                && (parseInt($('#snBedsText').val()) < parseInt($('#snUnitsText').val()))) {
                alert("No. of Units are more than No. of Beds for Skilled Nursing. Please correct the values");
                $('#snBedsText').focus();
                return false;
            }

            if (($('#alBedsText').val() !== "0" && $('#alUnitsText').val() === "0")
                || ($('#alBedsText').val() === "0" && $('#alUnitsText').val() !== "0")) {
                alert("Please make sure both Beds and Units have a value");
                $('#alBedsText').focus();
                return false;
            } else if ($('#alBedsText').val() !== "0" && $('#alnUnitsText').val() !== "0"
                && parseInt($('#alBedsText').val()) < parseInt($('#alUnitsText').val())) {
                alert("No. of Units are more than No. of Beds for Assisted Living. Please correct the values");
                $('#alBedsText').focus();
                return false;
            }

            if (($('#bcBedsText').val() !== "0" && $('#bcUnitsText').val() === "0")
                || ($('#bcBedsText').val() === "0" && $('#bcUnitsText').val() !== "0")) {
                alert("Please make sure both Beds and Units have a value");
                $('#bcBedsText').focus();
                return false;
            } else if ($('#bcBedsText').val() !== "0" && $('#bcUnitsText').val() !== "0"
                && parseInt($('#bcBedsText').val()) < parseInt($('#bcUnitsText').val())) {
                alert("No. of Units are more than No. of Beds for Board & Care. Please correct the valuess");
                $('#bcBedsText').focus();
                return false;
            }

            if (($('#mcBedsText').val() !== "0" && $('#mcUnitsText').val() === "0")
                || ($('#mcBedsText').val() === "0" && $('#mcUnitsText').val() !== "0")) {
                alert("Please make sure both Beds and Units have a value");
                $('#mcBedsText').focus();
                return false;
            } else if ($('#mcBedsText').val() !== "0" && $('#mcUnitsText').val() !== "0"
                && parseInt($('#mcBedsText').val()) < parseInt($('#mcUnitsText').val())) {
                alert("No. of Units are more than No. of Beds for Memory Care. Please correct the values");
                $('#mcBedsText').focus();
                return false;
            }

            if (($('#iBedsText').val() !== "0" && $('#iUnitsText').val() === "0")
                || ($('#iBedsText').val() === "0" && $('#iUnitsText').val() !== "0")) {
                alert("Please make sure both Beds and Units have a value");
                $('#iBedsText').focus();
                return false;
            } else if ($('#iBedsText').val() !== "0" && $('#iUnitsText').val() !== "0"
                && parseInt($('#iBedsText').val()) < parseInt($('#iUnitsText').val())) {
                alert("No. of Units are more than No. of Beds for Independent. Please correct the values");
                $('#iBedsText').focus();
                return false;
            }

            if (($('#oBedsText').val() !== "0" && $('#oUnitsText').val() === "0")
                || ($('#oBedsText').val() === "0" && $('#oUnitsText').val() !== "0")) {
                alert("Please make sure both Beds and Units have a value");
                $('#oBedsText').focus();
                return false;
            } else if ($('#oBedsText').val() !== "0" && $('#oUnitsText').val() !== "0"
                && parseInt($('#oBedsText').val()) < parseInt($('#oUnitsText').val())) {
                alert("No. of Units are more than No. of Beds for Other. Please correct the values");
                $('#oBedsText').focus();
                return false;
            }

            
            if (($('#snBedsText').val() !== "0" && $('#snUnitsText').val() !== "0") && ($('#ratingType').val() === "" || $('#ratingType').val() === 0)) {
                alert("Please select CMS Star Rating");
                $('#ratingType').focus();
                return false;
            }
            if (!$('#leaseYes').is(':checked') && !$('#leaseNo').is(':checked')) {
                alert("Please select if Master lease proposed - Yes/No?");
                $('#leaseYes').focus();
                return false;
            }

            if ($('#portfolioStatus').val() === "" || $('#portfolioStatus').val() === 0) {
                alert("Please select Portfolio Status");
                $('#portfolioStatus').focus();
                return false;
            }
            //debugger;
            if (($('#portfolioStatus').val() === "1" || $('#portfolioStatus').val() === "2") && !midLargeOrSmallSelected) {
                alert("Please select either Mid/Large or Small Portfolio");
                $('#rbMidLarge').focus();
                return false;
            }

            if ($('#portfolioStatus').val() === "2" && $('#portfolioNumberText').val() === ""){
                alert("Please enter Portfolio Number");
                $('#portfolioNumberText').focus();
                return false;
            }

            if ($('#portfolioStatus').val() === "2" && $('#portfolioNameText').val() === "") {
                alert("Please enter Portfolio Name");
                $('#portfolioNameText').focus();
                return false;
            }

            if (!$("#txtDisclaimerAccepted").val() || $("#txtDisclaimerAccepted").val() === "False") {
                alert("Please accept the disclaimer to proceed further");
                $('#IsDisclaimerAccepted').focus();
                return false;
            }

            var title = $(this).attr("value");
            Post(title);
            e.preventDefault();
        });

        $('#btnSave').click(function () {
            if ($('#projectNameText').val() === "") {
                alert("Please enter Project Name");
                $('#projectNameText').focus();
                return false;
            }
            if ($('#projectType').val() === "" || $('#projectType').val() === 0) {
                alert("Please select a Project Type");
                $('#projectType').focus();
                return false;
            }
            var title = $(this).attr("value");
            Post(title);
            return false;
        });

        function Post(name) {

            $('input').each(function (i) {
                var self = $(this);
                try {
                    var v = self.autoNumeric('get');
                    self.autoNumeric('destroy');
                    self.val(v);
                } catch (err) {
                    console.log("Not an autonumeric field: " + self.attr("name"));
                }
            });

            var ProjectName = $('#projectNameText').val();
            var BorrowerType = $('#borrowerType').val();
            var ProjectType = $('#projectType').val();
            var ConstructionStageType = $('#stageType').val();
            var LoanAmount = $('#loanAmountText').val();
            var CurrentFHA = $('#currentFhaText').val();
            var CurrentLoanType = $('#currentLoanTypeText').val();
            var InterestRate = $('#interestRateText').val();
            var PropertyId = $('#propertyIdText').val();
            var ActivityType = $('#activityType').val();
            var LoanType = $('#loanType').val();
            var ProjectAddress = $('#propertyAddressText').val();
            var ProjectZip = $('#propertyZipText').val();
            var ProjectCity = $('#propertyCityText').val();
            var CongressionalDistrict = $('#congressionalDistrictText').val();
            var ProjectState = $('#propertyStateText').val();
            var LenderName = $('#lenderNameText').val();
            var LenderId = $('#lenderIdText').val();
            var LenderContactName = $('#lenderContactNameText').val();
            var LenderContactEmail = $('#lenderContactEmailText').val();
            var LenderContactPhone = $('#lenderContactPhoneText').val();
            var SNBeds = $('#snBedsText').val();
            var SNUnits = $('#snUnitsText').val();
            var ALBeds = $('#alBedsText').val();
            var ALUnits = $('#alUnitsText').val();
            var BCBeds = $('#bcBedsText').val();
            var BCUnits = $('#bcUnitsText').val();
            var MCBeds = $('#mcBedsText').val();
            var MCUnits = $('#mcUnitsText').val();
            var IBeds = $('#iBedsText').val();
            var IUnits = $('#iUnitsText').val();
            var OBeds = $('#oBedsText').val();
            var OUnits = $('#oUnitsText').val();
            var IsLIHTC = $('#txtLihtc').val();
            //naresh add code production queue changes
            var opportunity_zone = $('#txtopertunityzone').val();
            //naresh add code production queue changes
            var IsTaxExempted = $('#txtTaxExempted').val();
            var IsHome = $('#txtHome').val();
            var IsCDBG = $('#txtCdbg').val();
            var IsOther = $('#txtOther').val();
            var CMSRating = $('#ratingType').val();
            var IsMasterLeaseProposed = $('#txtMasterLeaseProposed').val();
            var IsNewOrExistOrNAPortfolio = $('#portfolioStatus').val();
            var IsMidLargePortfolio = $('#txtMidLargePortfolio').val();
            var PortfolioNumber = $('#portfolioNumberText').val();
            var PortfolioName = $('#portfolioNameText').val();
            var LenderComments = $('#commentsText').val() === "" ? $('#txtLenderComments').val() : $('#commentsText').val();
            var IsAddressCorrect = $('#txtAddressCorrect').val();
            var TaskinstanceId = $('#txtTaskInstanceId').val();
            var IsDisclaimerAccepted = $('#txtDisclaimerAccepted').val();
            var PropertyAddressId = $('#txtPropertyAddressId').val();
            var LenderContactAddressId = $('#txtLenderContactAddressId').val();
            var FHANumberRequestId = $('#txtFHANumberRequestId').val();
            
            //debugger;
            var fhaRequestViewModel = {
                ProjectName: ProjectName,
                CurrentFHANumber: CurrentFHA,
                PropertyId: PropertyId,
                ProjectTypeId: ProjectType,
                CurrentLoanTypeId: CurrentLoanType,
                LoanTypeId: LoanType,
                ActivityTypeId: ActivityType,
                BorrowerTypeId: BorrowerType,
                IsAddressCorrect: IsAddressCorrect,
                PropertyStreetAddress: ProjectAddress,
                PropertyCity: ProjectCity,
                PropertyState: ProjectState,
                PropertyZip: ProjectZip,
                CongressionalDtId: CongressionalDistrict,
                LenderId: LenderId,
                LenderName: LenderName,
                LenderContactName: LenderContactName,
                LenderContactEmail: LenderContactEmail,
                LenderContactPhone: LenderContactPhone,
                LoanAmount: LoanAmount,
                SkilledNursingBeds: SNBeds,
                SkilledNursingUnits: SNUnits,
                AssistedLivingBeds: ALBeds,
                AssistedLivingUnits: ALUnits,
                BoardCareBeds: BCBeds,
                BoardCareUnits: BCUnits,
                MemoryCareBeds: MCBeds,
                MemoryCareUnits: MCUnits,
                IndependentBeds: IBeds,
                IndependentUnits: IUnits,
                OtherBeds: OBeds,
                OtherUnits: OUnits,
                IsMidLargePortfolio: IsMidLargePortfolio,
                IsMasterLeaseProposed: IsMasterLeaseProposed,
                Portfolio_Name: PortfolioName,
                Portfolio_Number: PortfolioNumber,
                Comments: LenderComments,
                ConstructionStageTypeId: ConstructionStageType,
                CMSStarRating: CMSRating,
                ProposedInterestRate: InterestRate,
                IsNewOrExistOrNAPortfolio: IsNewOrExistOrNAPortfolio,
                TaskinstanceId: TaskinstanceId,
                IsLIHTC: IsLIHTC,
                //naresh add prodqueue
                opportunity_zone: opportunity_zone,
                //naresh add prod queue
                IsHome: IsHome,
                IsTaxExempted: IsTaxExempted,
                IsCDBG: IsCDBG,
                IsOther: IsOther,
                IsDisclaimerAccepted: IsDisclaimerAccepted,
                SubmitType: name,
                PropertyAddressId: PropertyAddressId,
                LenderContactAddressId: LenderContactAddressId,
                FHANumberRequestId: FHANumberRequestId
            };

            $("#spinner").attr('class', 'overlay');
            $.ajax({
                url: '@Url.Action("SubmitForm","FHARequest")',
                data: fhaRequestViewModel,
                dataType: 'json',
                type: 'POST',
                success: function (response) {
                    //debugger;
                    if (name === "Submit") {
                        $('#divsubmit').show();
                        $(function () {
                            
                            $("#divsubmit").dialog({
                                modal: true,
                                height: '220',
                                width: '380'
                            });
                        });
                        
                    }
                    else if (name === "Save") {

                        $('#divHtml').show();
                        $(function () {
                            $("#divHtml").dialog({
                                modal: true,
                                height: '220',
                                width: '380'

                            });
                        });
                    }
                },
                error: function (xhr, status, p3, p4) {
                    //debugger;
                    if (xhr.status === 200) {
                        if (name === "Save") {
                            $('#divHtml').show();
                            $(function () {
                                $("#divHtml").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380'
                                });
                            });
                        }
                        else if (name === "Submit") {
                            $('#divsubmit').show();
                            $(function () {

                                $("#divsubmit").dialog({
                                    modal: true,
                                    height: '220',
                                    width: '380'
                                });
                            });
                        }
                    }
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    if (xhr.responseText && xhr.responseText[0] == "{")
                        err = JSON.parse(xhr.responseText).Message;
                    console.log(err);
                }
            });
        }

        $("#butnSave").click(function () {
            window.location = "/ProductionGroupTask/Index";
        });

        $("#butnSubmit").click(function () {
            window.location = "/ProductionMyTask/Index";
        });
    });


</script>
<section id="fharequestfrom">
    @using (Html.BeginForm("SubmitForm", "FHARequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
    {

        
        @Html.HiddenFor(m => m.IsLIHTC, new { id = "txtLihtc" })
        //naresh add prodqu2
        @Html.HiddenFor(m => m.opportunity_zone, new { id = "txtopertunityzone" })
        //naresh add prodqu2
        @Html.HiddenFor(m => m.IsTaxExempted, new { id = "txtTaxExempted" })
        @Html.HiddenFor(m => m.IsHome, new { id = "txtHome" })
        @Html.HiddenFor(m => m.IsCDBG, new { id = "txtCdbg" })
        @Html.HiddenFor(m => m.IsOther, new { id = "txtOther" })
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">   </span>
                <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;FHA# Request Form</b></h4> </span>
            </div>
        </div>
        <br />
        <div class="container-fluid" style="padding-top: 15px">
            @Html.Partial("~/Views/Production/FHARequest/_FHARequestView.cshtml", Model)
        </div>
        <div class="container-fluid">
            <div class="row">
                <table>
                    <tr>
                        <td>@Html.CheckBoxFor(m => m.IsDisclaimerAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:7px;"})</td>
                        <td><label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container-fluid" style="padding-top: 15px">
            <div class="row">
                <span class="col-md-3 text-right">
                    <input type="submit" name="submitButton" value="Submit" id="btnSubmit" />
                </span>
                <span class="col-md-3 text-right">
                    <input type="submit" name="submitButton" id="btnSave" value="Save" />
                </span>
            </div>
        </div>
    }

    <div id="divHtml" title="Save">
        <div class="container-fluid">
            <div class="row" style="margin-top: 20px;">
                <div>
                    <p></p>
                    <p>FHA# Request saved successfully.</p>
                </div>
            </div>
            <br/>
            <div class="row" style="margin-left: 150px;">
                <span class="col-md-2">
                    <input id="butnSave" type="submit" name="agreeOrNot" class="form-control" value="Ok">
                </span>
            </div>
        </div>
    </div>
    <div id="divsubmit" title="FHA# Request Submitted">
        <div class="container-fluid">
            <div class="row" style="margin-top:20px;">
                <div>
                    <p></p>
                    <p>FHA# Request submitted successfully.</p>
                </div>
            </div>
            <br />
            <div class="row" style="margin-left:150px;">
                <span class="col-md-2">
                    <input id="butnSubmit" type="submit" name="agreeOrNot" class="form-control" value="Ok">
                </span>
            </div>
        </div>
    </div>
</section>