﻿@model FormUploadModel
@{
    ViewBag.Title = "Servicer/Operator Data Input Form";
}
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }
</style>
<section id="formUpload" style="width: 1200px; height: 1150px;">
    <h4 style="text-align: center;"><b>Servicer/Operator Data Input Form</b></h4>
    @if (Session["Confirmation"] != null)
    {
        <h2 class="HCP_Sub_Header_Red" id="uploadError" style="text-align: center; font-weight: bold; color: #e80c4d;">
            @Html.Raw(Session["Confirmation"].ToString())
        </h2>
        Session["Confirmation"] = null;
    }
    <div id="dialogCommon"></div>
    <div id="dialogConfirm"></div>
    @using (Html.BeginForm("SubmitForm", "FormUpload", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "uploadForm", onsubmit = "RemoveCommasFromNumericBoxes()" }))
    {
        @Html.CustomValidationSummary()
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.SubmitByUserId)
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.IsReadyToSubmitUpload, new { id = "hfIsReadyToUpload" })
        @Html.HiddenFor(m => m.IsUploadTermConfirmed, new { id = "hfIsUploadTermConfirmed" })
        @Html.HiddenFor(m => m.FullyQualifiedFileName, new { id = "FullyQualifiedFileName" })
        @Html.HiddenFor(m => m.TotalRevenues)
        @Html.HiddenFor(m => m.TotalExpenses)
        @Html.HiddenFor(m => m.MortgageInsurancePremium)
        @Html.HiddenFor(m => m.FHAInsuredPrincipalInterestPayment)
        @Html.HiddenFor(m => m.ActualNumberOfResidentDays)
        @Html.HiddenFor(m => m.IsFromTask)

    if (Model.IsFromTask==true)
    {
     @Html.HiddenFor(m => m.SelectedLenderUserId)
    }

        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("GENERAL INPUT")
                    </span>
                </h4>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Select Lender")
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedLenderUserId, Model.AvailableLenderUsers, "Select Lender User", new { id = "ddlLenderUsers" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Number")
                </span>
                <span class="col-md-4">
                    <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" />
                    @Html.HiddenFor(m => m.FHANumber, new { id = "fhatxt" })
                    @Html.CheckBoxFor(m => m.IsFhaValid, new { id = "ckbIsFhaValid", @class = "hidden" })
                </span>
            </div>
        </div>
        <span id="pend-loading" style="display: none;">Please wait..</span>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.ProjectName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ProjectName, new { id = "txtProject", title = "Project Name", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.ServiceName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.SelectedLenderName, new { id = "txtLenderName", title = "Servicer Name", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.ServiceName)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Servicer ID")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LenderID, new { id = "txtLender", title = "Servicer ID", @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "servicer_id")
                    @Html.ValidationMessageFor(m => m.LenderID)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <h4>
                    <span>
                        @Html.Label("OPERATOR INPUT")
                    </span>
                </h4>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Period Ending")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PeriodEnding, new { @class = "datepicker", id = "datePicker", title = "Enter fiscal period end date", style = "width:300px;" })
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "period_ending")
                    @Html.ValidationMessageFor(m => m.PeriodEnding)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Months in Period")
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.MonthsInPeriod, Model.AllMonthsInPeriod, "Select Months In Period")
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/dict.png", Html.ViewContext.HttpContext), "Help", "Glossary", "Home", null, new { target = "_glossary" }, null, "months_in_period")
                    <br />
                    @Html.ValidationMessageFor(m => m.MonthsInPeriod)
                </span>
            </div>
        </div>
        if (Model.TaskFileName != null)
        {
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Current File")
                    </span>
                    <span class="col-md-4">
                        @Html.ActionLink(Model.TaskFileName, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid })
                    </span>
                </div>
            </div>
        }
        <div class="container-fluid">
            <div class="row">
                <div id="statusFill">
                </div>
                <span class="col-md-4 text-right">
                    @Html.LabelFor(m => m.BaseFileName, "Attach File")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.BaseFileName, new { title = "" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div id="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    <i class="HCP_Tr2">**Please Note:  For each submission, one file pertaining to a single Property/FHA Number will be accepted.  The file must have one of the following file extensions: .pdf, .doc, .docx, xls, or .xlsx**</i>
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div id="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.UploadFile, new { type = "file" })
                    @Html.LabelFor(m => m.UploadFile, "Attach File", new { id = "UploadFile" })
                    <button type="button" id="btnClearUploadFile" name="clearUploadFile">Remove File</button>
                </span>
            </div>
        </div>

        <hr />

        <div class="container-fluid">
            <div id="dvSubmit" class="row" style="margin-top: 15px;">
                <span class="col-md-2 text-right">
                </span>
                <span class="col-md-1">
                    <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
                    @Html.Hidden("RedirectToMyTasks", Url.Action("MyTasks", "Task"))
                </span>
                @if (!string.IsNullOrEmpty(Model.Notes))
                {
                    <span class="col-md-1 text-right">
                        @Html.Label("Notes")
                    </span>
                    <span class="col-md-3" style="margin-left: -20px;">
                        @Html.TextAreaFor(m => m.Notes, new { @style = "height:70px;width:300px;", maxlength = "256", @readonly = "readonly" })
                    </span>
                }
                <span class="col-md-1 text-right" style="margin-left: 40px;">
                    @Html.Label("Notes to Lender")
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.TextAreaFor(m => m.NewNotes, new { @style = "height:70px;width:300px;", maxlength = "256" })
                </span>
            </div>
        </div>
    }
</section>

<script type="text/javascript">
    var autocompleteTextBox = $('#ddlFHANumbers');
    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
    var selectLenderFirstTxt = 'Select a Lender with FHA Numbers';
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>
<script type="text/javascript">
    // jquery hide is not fast enough, use javascript style hide to avoid flash
    if (null != document.getElementById("spInvalidFha")) {
        document.getElementById("spInvalidFha").style.display = 'none';
    }

    $(document).ready(function() {
        
        if (typeof possibleValues === 'undefined' || !possibleValues || possibleValues == '') {
            possibleValues = [selectLenderFirstTxt];
            autocompleteTextBox.val(possibleValues[0]);
        } else {
            if($("#fhatxt").val() != "" && $('#TaskGuid').val())
            {
                autocompleteTextBox.val($("#fhatxt").val());
                autocompleteTextBox.prop("disabled", true);
                $("#ddlLenderUsers").prop("disabled", true);
            }
            else autocompleteTextBox.val(selectFHATxt);
        }

        $("#dialogConfirm").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function(event, ui) {
                $(this).dialog("close");
            },
            open: function(event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });

        if ('@ViewBag.IsConcurrentUserUpdateFound' == 'True') {
            $('#dialogCommon').dialog('open');
        } else if ('@ViewBag.IsReadyToSubmitUpload' == 'True') {
            if ($('#hfAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }

        $('.datepicker').datepicker();

        $('#datePicker').change(function() {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
        });

        $("#UploadFile").change(function() {
            var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
            formHelper.checkFileType(formAttachmentFileTypes);
        });

        $("#btnClearUploadFile").click(function() {
            $('#UploadFile').val(null);
            $('#BaseFileName').val(null);
            $('#FullyQualifiedFileName').val(null);
            document.getElementById('BaseFileName').title = "";
        });

        $("#btnSubmit").click(function () {
            if (!$('#TaskGuid').val() && !$('#ckbIsFhaValid').prop('checked') && $.inArray(autocompleteTextBox.val(), possibleValues) == -1) {
                alert("Please enter a valid FHA Number.");
                return false;
            }
            if ($('#ddlLenderUsers').prop('selectedIndex') == 0) {
                alert("Please select a Lender.");
                return false;
            }
        });

        function updateProjectInfoText(project, lendername, lenderid) {
           // debugger;
            $('#txtProject').val(project);
            $('#txtLenderName').val(lendername);
            $('#txtLender').val(lenderid);
        };

        function updateProjectInfo(selectedValue) {
         //   debugger;
            $('#fhatxt').val(selectedValue);
            //GetOperatorsByFha(selectedValue);
            if ($.inArray(selectedValue, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedValue && selectedValue != selectLenderFirstTxt) {
                    $.ajax({
                        url: '@Url.Action("ValidateFhaNumber", "FormUpload")',
                        data: { searchText: selectedValue, maxResults: 20 },
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        type: 'GET',
                        success: function(data) {
                            if (selectedValue == '-1' || selectedValue == '') {
                                $('#ckbIsFhaValid').prop('checked', false);
                                updateProjectInfoText('',$('#txtLenderName').val(),'');
                            } else {
                                $('#ckbIsFhaValid').prop('checked', true);
                                $.each(data, function () {
                                    updateProjectInfoText(this.ProjectName, this.LenderName, this.LenderId);
                                });
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#ckbIsFhaValid').prop('checked', false);
                updateProjectInfoText('','','');
            }
            fhaNumberLoaded = selectedValue;
        };

        $('#ddlLenderUsers').change(function() {
            var useridvalue = $('#ddlLenderUsers').val();
            // debugger;
            //Start
            if(useridvalue!=0)
            {

          
            $.ajax({
                url: '@Url.Action("GetFhaNumbers", "FormUpload")',
                data: { userid: useridvalue },
                dataType: 'json',
                type: 'GET',
                success: function(data) {
                    possibleValues = [];
                    $.each(data, function() {
                        possibleValues.push(this.Value);
                    });

                    if ($('#fhatxt').val() == '') {
                        autocompleteTextBox.val('@Model.FHANumber');
                        if (autocompleteTextBox.val() == "") {
                            if (possibleValues.length != 0) {
                                autocompleteTextBox.val(selectFHATxt);
                            } else {
                                autocompleteTextBox.val(selectLenderFirstTxt);
                            }
                        }
                    } else if (possibleValues.length == 0) {
                        possibleValues.push(selectLenderFirstTxt);
                        autocompleteTextBox.val(selectLenderFirstTxt);
                    } else {
                        autocompleteTextBox.val(selectFHATxt);
                    }

                    $('#ckbIsFhaValid').prop('checked', false);
                    updateProjectInfoText('','','');

                    fhaNumberLoaded = fhaNumberLoaded + '_';
                    updateProjectInfo(autocompleteTextBox.val());
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                }
            });
            }
            //End
        });

        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            if (autocompleteTextBox.val() == selectFHATxt) {
                autocompleteTextBox.val('');
            }

            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updateProjectInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function() {
            if ($(this).val() == "") {
                $(this).val(selectFHATxt);
            }
            updateProjectInfo($(this).val());
        });

        function GetOperatorsByFha(fha) {
           // debugger;
            if ($.inArray(fha, possibleValues) != -1) {

                $.ajax({
                    url: '@Url.Action("GetOperatorsLenderbyFHA", "FormUpload")',
                    data: { fhanumber: fhanumber },
                    dataType: 'json',
                    type: 'GET',
                    success: function(data) {
                        possibleValues = [];
                        $.each(data, function() {
                            possibleValues.push(this.Value);
                        });

                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            }
        };
    });
</script>
<script src="~/Scripts/App/Helpers/faForm.js"></script>