﻿@model List<Model.Production.ProdApplicationSharepointData>
@{
    ViewBag.Title = "SharepointSinglePage";
    Layout = Layout = null;    
}

@*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />*@
<link href="@Server.MapPath("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <style>
        .well {
            background: #ffffff;
        }
        .bkimage {
            background-image: url("../Images/HUDMainPageLogo_1.jpg");
            background-repeat: repeat-y;

            background-position: center;
        }
    </style>
    <div class="alert alert-success col-xs-12" style="height:44px;">

        <span><h4 class="text-center">Project Details Data Entry Information</h4> </span>

    </div>
    @foreach (var productionType in Model)
    {
        <div class="col-xs-12 well bkimage">
            <h4 class="alert-info col-xs-12 text-center" style="margin-top: -5px;"><strong>@productionType.ProdAppName</strong></h4>
            <div class="col-xs-12">
                <h6>Application Details</h6>
                @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_ApplicationDetailsPdf.cshtml", productionType.ApplicationDetails)
            </div>
            <br />
              @if(productionType.PageTypeId == (int)PageType.ProductionApplication ||
                productionType.PageTypeId== (int)PageType.ConstructionSingleStage  ||
                productionType.PageTypeId== (int)PageType.ConstructionTwoStageInitial)
            {

            <div class="col-xs-12 ">
                <h6>General Information</h6>
                @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_GeneralInformationPdf.cshtml",productionType.GeneralInformation )
            </div>
            <br />
            <div class="col-xs-12 ">
                <h6>Miscellaneous Information</h6>
                @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_MiscellaneousInformationPdf.cshtml", productionType.MiscellaneousInformation)
            </div>
            <br />
            }
            @if (productionType.ReviewersList.Count() > 0)
            {   <div class="col-xs-12">
                    <h4 class="alert-info col-xs-10">Reviewers Information</h4>
                    @foreach (var reviewer in productionType.ReviewersList)
                {
                         if(reviewer.ReviewerTypeId == (int)ProductionView.BackupOGC || reviewer.ReviewerTypeId == (int)ProductionView.Attorney )
                        {
                             <div class="col-xs-12 ">
                                <h4>@reviewer.Reviewertype</h4>
                            @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_OGCInfoPdf.cshtml", reviewer)
                           </div>
                        }
                         else
                         {
                             <div class="col-xs-12 ">
                            <h4>@reviewer.Reviewertype</h4>
                            @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_ReviewersInfoPdf.cshtml", reviewer)
                        </div>
                         }

                        <br />
                }
                </div>

            }

            @if (productionType.PageTypeId == (int)ApplicationAndClosingType.closingInital || productionType.PageTypeId == (int)ApplicationAndClosingType.closingFinal
            || productionType.PageTypeId == (int)ApplicationAndClosingType.closingTwoStageFinal)
            {
                <div class="col-xs-12">
                    <h4> Closing Info</h4>
                    @Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_CloserInfoPdf.cshtml", productionType.ClosingInfo)
                </div>
            }

        </div>
    }