﻿
@model List<Model.Production.ProdApplicationSharepointData>
@{
	ViewBag.Title = "SharepointSinglePage";
	//Layout = "~/Views/Shared/_Layout_Login.cshtml";
}
<style>
	.well {
		background: #ffffff;
	}

	.bkimage {
		background-image: url("../Images/HUDMainPageLogo_1.jpg");
		background-repeat: repeat-y;
		background-position: center;
	}
</style>
<!-- Modal Start here-->
<div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
	 role="dialog" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog modal-sm">
		<div class="modal-content" style="width:400px;">
			<div class="modal-header">
				<h4 class="modal-title">
					<span class="glyphicon glyphicon-time">
					</span>Please Wait....
					<h6>System is Generating PDF for Sharepoint Data Entry</h6>
				</h4>
			</div>
			<div class="modal-body">
				<div class="progress">
					<div class="progress-bar progress-bar-info
                    progress-bar-striped active"
						 style="width: 70%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal ends Here -->

<div>
	@if (@ViewBag.IsPdfGenerated)
	{
		<a class="pull-right btn default  grey-salt toolbar-btn" href="@Url.Action("DownloadSharepointFile", "ProductionQueue", new { taskInstanceId = @ViewBag.ClosingTaskInstanceId, target = "_blank" })"><span class="glyphicon glyphicon-download"></span> Download PDF</a>

	}
	else
	{
		<a class="pull-right btn default  grey-salt toolbar-btn" id="btnGeneratePdf" href="@Url.Action("ReGeneratePDF", "ProductionQueue", new { taskInstanceId = @ViewBag.ClosingTaskInstanceId,fhaNumber=Model[0].ApplicationDetails.FHANumber,propertyId=Model[0].ApplicationDetails.PropertyId })"><span c><span class="glyphicon glyphicon-download"></span> Generate PDF</a>

	}
	<a class="pull-left btn btn_back_to_list" href='javascript:history.go(-1)'><span class="glyphicon glyphicon-arrow-left"></span>Back</a>
</div>
<div class="alert alert-success col-xs-12" style="height:44px;">

	<span><h4 class="text-center">Project Details Data Entry Information</h4> </span>

</div>
@foreach (var productionType in Model)
{
	<div class="col-xs-12 well bkimage">
		<h4 class="alert-info col-xs-12 text-center" style="margin-top: -5px;"><strong>@productionType.ProdAppName</strong></h4>

		@if (productionType.ApplicationDetails != null)
		{<div class="col-xs-12">
				<h6>Application Details</h6>
				@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_ApplicationDetailsPdf.cshtml", productionType.ApplicationDetails)
			</div>
			<br />
		}
		@if (productionType.PageTypeId == (int)PageType.ProductionApplication ||
						   productionType.PageTypeId == (int)PageType.ConstructionSingleStage ||
						   productionType.PageTypeId == (int)PageType.ConstructionTwoStageInitial)
		{

			<div class="col-xs-12 ">
				<h6>General Information</h6>
				@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_GeneralInformationPdf.cshtml", productionType.GeneralInformation)
			</div>
			<br />
			<div class="col-xs-12 ">
				<h6>Miscellaneous Information</h6>
				@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_MiscellaneousInformationPdf.cshtml", productionType.MiscellaneousInformation)
			</div>
			<br />
		}
		@if (productionType.ReviewersList != null && productionType.ReviewersList.Count() > 0)
		{<div class="col-xs-12">
				<h4 class="alert-info col-xs-10">Reviewers Information</h4>
				@foreach (var reviewer in productionType.ReviewersList)
				{
					if (reviewer.ReviewerTypeId == (int)ProductionView.BackupOGC || reviewer.ReviewerTypeId == (int)ProductionView.Attorney)
					{
						<div class="col-xs-12 ">
							<h4>@reviewer.Reviewertype</h4>
							@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_OGCInfoPdf.cshtml", reviewer)
						</div>
					}
					else
					{
						<div class="col-xs-12 ">
							<h4>@reviewer.Reviewertype</h4>
							@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_ReviewersInfoPdf.cshtml", reviewer)
						</div>
					}

					<br />

				}
			</div>



		}
		@if (productionType.PageTypeId == (int)ApplicationAndClosingType.closingInital || productionType.PageTypeId == (int)ApplicationAndClosingType.closingFinal
						|| productionType.PageTypeId == (int)ApplicationAndClosingType.closingTwoStageFinal)
		{
			<div class="col-xs-12">
				<h4> Closing Info</h4>
				@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_CloserInfoPdf.cshtml", productionType.ClosingInfo)
			</div>
		}		

		@if (productionType.AmendmentList.Count() > 0)
		{
			<h4 class="alert-info col-xs-12 text-center" style="margin-top: -10px;"><strong>Amendment Information</strong></h4>
			foreach (var amendment in productionType.AmendmentList)
			{
				<div class="col-xs-12 ">
					@*<h4>@amendment.PageTypeId</h4>*@
					@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_AmendmentInfoPdf.cshtml", amendment)
				</div>
				<br />
			}			
		}

		@if (productionType.ApplicationDetails != null)
		{<div class="col-xs-12">
				<h6>Application Details</h6>
				@Html.Partial("~/Views/Production/ProductionQueue/SharepointSinglePage/_ApplicationDetailsPdf.cshtml", productionType.ApplicationDetails)
			</div>
			<br />
		}


	</div>
}

<script>
	$('#btnGeneratePdf').click(function () {
		$('#myPleaseWait').modal('show');
	})
</script>