﻿@*User Story 1904*@
@using Core
@using HUDHealthcarePortal.BusinessService
@model PAMReportModel
@{
    ViewBag.Title = "Search";

}


<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
@*<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />*@
@*<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />

<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>*@
@*<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>*@
<!-------------------------------------------------------------------------------------------------------------------------- -->

<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<div class="container-fluid">

    <div class="container-fluid">
        <div class="row" style="padding: 5px;">
              <span class=" col-md-2 text-left">
                    @Html.Label("Report Name: ")
                </span>
                <span class="col-md-4  text-left">
                    @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                </span>
            </div>
    </div>
    @if (UserPrincipal.Current.UserRole != "Servicer")
    {
        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-2 text-left">
                    @Html.Label("Lender Name: ")
                </span>
                <span class="col-md-4  text-left">
                    @Model.LenderName
                </span>
            </div>
        </div>
    }

        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
                <span class="col-md-2 text-left">
                    @Html.Label("Lender User Name: ")
                </span>
                <span class="col-md-4  text-left">
                    @Model.LenderUserFullName
                </span>
            </div>
        </div>
    @if (Model.ReportLevel == ReportLevel.BAMUserLevel || Model.ReportLevel == ReportLevel.LAMUserLevel)
    {
        <div class="container-fluid">
            <div class="row" style="padding: 5px;">
               
                    <span class="col-md-2 text-left">

                        @Html.Label("Role List:")
                    </span>
                    <span class="col-md-4">
                        @Html.ListBox("RoleList", Model.RoleListItems, new { multiple = "multiple", name = "RoleList" })
                    </span>

                    <span id="RList" class="col-md-4 text-left">


                    </span>
               
            </div>
        </div>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;">

            <span class="col-md-2 text-left">

                @Html.Label("LAM: ")
            </span>

            <span class="col-md-4">
               @Html.ListBox("LAMList", Model.LAMListItems, new { multiple = "multiple", name = "LAMList" })
            </span>

        </div>
    </div>
    <div class="container-fluid">
        <div class="row" style="padding: 5px;">

            <span class="col-md-2 text-left">

                @Html.Label("BAM: ")
            </span>
            <span class="col-md-4">
                @Html.ListBox("BAMList", Model.BAMListItems, new { multiple = "multiple", name = "BAMList" })
            </span>
 
        </div>
        </div>

    <div class="container-fluid">
        <div class="row" style="padding: 5px;">

            <span class="col-md-2 text-left">

                @Html.Label("LAR: ")
            </span>
            <span class="col-md-4">
                @Html.ListBox("LARList", Model.LARListItems, new { multiple = "multiple", name = "LARList" })

            </span>
 
        </div>
        </div>
    }
    <div class="container-fluid">
        <div class="row" style="padding: 5px;">
            <span class="col-md-2 text-left">
                @Html.Label("Status: ")
            </span>
            <span class="col-md-4 text-left">
                @Html.ListBox("lstStatus", Model.Status, new { multiple = "multiple", name = "lstStatus" })
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="padding: 5px;">
            <span class="col-md-2 text-left">
                @Html.Label("Project Action: ")
            </span>
            <span class="col-md-4 text-left">
                @Html.ListBox("lstProjectAction", Model.ProjectAction, new { multiple = "multiple", name = "lstProjectAction" })
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row" style="padding: 5px;">
            <span class="col-md-4 text-left">
                @Html.Label("From Date: ")&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m => m.FromDate, new { @class = "datePickerTextBox", @id = "datePickerMinUploadDate", @name = "minUploadDate" })
            </span>
            <span class="col-md-2 text-left">
                @Html.Label("To Date: ")&nbsp;&nbsp;@Html.TextBoxFor(m => m.ToDate, new { @class = "datePickerTextBox", @id = "datePickerMaxUploadDate", @name = "maxUploadDate" })
            </span>
        </div>
    </div>
    <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-8 text-left">
                        <input id="btnSearch" type="button" class="form-control" value="Search">
                    </span>
                </div>

            </div>
  

    <script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
    </script>
<script>
    var PLMReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {


                // Role List
                $("#RoleList").multiselect({


                    nonSelectedText: 'Select Role', minWidth: 250
                                            , selectedList: 1
                       , enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    ,maxHeight: 400
                     ,includeSelectAllOption: true

                                        ,
                    onChange: function(element, checked) {
                       // debugger;
                        if (!progChange)
                        {


                            var arry = listboxText('RoleList', false);
                            var value = element[0].value;


                            if (checked) {
                                src="RoleList";
                                PLMReport.RefreshAll(value);
                                progChange = true;

                            }
                            else
                            {
                                //debugger;


                                src="LAMList";
                                progChange = true;
                                var value = element[0].value;
                                if (value == 1)
                                { 
                                    $("#LAMList").empty();
                                    $('#LAMList').multiselect('rebuild');
                                    $('#LAMList').multiselect('disable');
                                }
                                if (value == 2)
                                { 
                                    $("#BAMList").empty();
                                    $('#BAMList').multiselect('rebuild');
                                    $('#BAMList').multiselect('disable');
                                }
                                if (value == 3)
                                { 
                                    $("#LARList").empty();
                                    $('#LARList').multiselect('rebuild');
                                    $('#LARList').multiselect('disable');
                                }
                       
                            }
                        }
                        progChange = false;
                    },
                                  


                    onSelectAll: function () {

                        //debugger;
                        $("#LAMList").empty();
                        $("#BAMList").empty();
                        $("#LARList").empty();
                        $('#LAMList').multiselect('rebuild');
                        $('#BAMList').multiselect('rebuild');
                        $('#LARList').multiselect('rebuild');                       
                        var value = "1,2,3";
                        var arry = listboxText('RoleList', false);
                        PLMReport.RefreshAll(value);


                        var tmp=listboxText('LAMList', true);
                        // PLMReport.MarkUnMark(tmp,true);
                        var array = tmp.split(',')
                        for (var i = 0; i < array.length; i++) {

                            $("#LAMList").multiselect('select', array[i]);
                        }


                    },
                    onDeselectAll: function () {
                        //debugger;
                        $("#LAMList").empty();
                        $("#BAMList").empty();
                        $("#LARList").empty();
                        $('#LAMList').multiselect('rebuild');
                        $('#BAMList').multiselect('rebuild');
                        $('#LARList').multiselect('rebuild');
                        $('#LAMList').multiselect('disable');
                        $('#BAMList').multiselect('disable');
                        $('#LARList').multiselect('disable');
                    }
                });

                $("#LAMList").multiselect({


                    nonSelectedText: 'Select LAMs', minWidth: 250
                                                  , selectedList: 1
                             , enableCaseInsensitiveFiltering: true
                          , filterPlaceholder: 'Search'
                          ,maxHeight: 400
                           ,includeSelectAllOption: true

                });

                $("#BAMList").multiselect({


                    nonSelectedText: 'Select BAMs', minWidth: 250
                                                   , selectedList: 1
                              , enableCaseInsensitiveFiltering: true
                           , filterPlaceholder: 'Search'
                           ,maxHeight: 400
                            ,includeSelectAllOption: true


                });

                $("#LARList").multiselect({


                    nonSelectedText: 'Select LARs', minWidth: 250
                                                , selectedList: 1
                           , enableCaseInsensitiveFiltering: true
                        , filterPlaceholder: 'Search'
                        ,maxHeight: 400
                         ,includeSelectAllOption: true
                });

                $('.datePickerTextBox').datepicker();

                var _minUploadDate = $('#datePickerMinUploadDate').val();
                var _maxUploadDate = $('#datePickerMaxUploadDate').val();
                $('#datePickerTextBox').attr('readonly', true);

                $('#datePickerMinUploadDate').change(function () {

                    var date = $(this).val();
                    _minUploadDate = ValidateDateSelected(date, _minUploadDate);
                    $(this).val(_minUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_minUploadDateField', _minUploadDate);
                    });
                });
                $('#datePickerMinUploadDate').attr('readonly', true);
                $('#datePickerMaxUploadDate').change(function () {

                    var date = $(this).val();
                    _maxUploadDate = ValidateDateSelected(date, _maxUploadDate);
                    $(this).val(_maxUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_maxUploadDateField', _maxUploadDate);
                    });
                });
                $('#datePickerMaxUploadDate').attr('readonly', true);
                function ValidateDateSelected(date, prevDate) {
                    var arrDate = date.split("/");
                    var today = new Date();
                    var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                    if (userSelectedDate > today) {
                        alert('Date must not be in the future.');
                        return prevDate;
                    } else {
                        return date;
                    }
                }


                $('#btnSearch').click(function(element) {

                    //debugger;
                    var lamIds=listBoxToString('LAMList', false);
                    var bamIds=listBoxToString('BAMList', false);
                    var larIds=listBoxToString('LARList', false);
                    var roleIds=listBoxToString('RoleList', false);
                    var status=listBoxToString('lstStatus', false);
                    var projectAction=listBoxToString('lstProjectAction', false);
                    var _minUploadDate = $('#datePickerMinUploadDate').val();
                    var _maxUploadDate = $('#datePickerMaxUploadDate').val();

                
                    if (status == '') {
                        alert("Please select at least one Status.");
                        return false;
                    }

                    if (projectAction == '') {
                        alert("Please select at least one Project Action.");
                        return false;
                    }

                    var data = {

                         lamIds:listBoxToString('LAMList', false),
                         bamIds:listBoxToString('BAMList', false),
                         larIds:listBoxToString('LARList', false),
                         roleIds:listBoxToString('RoleList', false),
                        fromDate: _minUploadDate,
                        toDate: _maxUploadDate,
                        status: status,
                        projectAction: projectAction
                       
                    };
             
                    $("#spinner").attr('class', 'overlay');
                    $.ajax({
                        url: settings.SearchRequestsUrl,
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        type: 'GET',
                        cache: false,
                        success: function (data) {
                            {
                                $("#dvUserReport").html('');
                                $("#dvUserReport").html(data);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Refreshing Data: " + textStatus + "\nError Detail: " + errorThrown);
                        }
                    });
                });

            },

    
            RefreshAll: function ( value) {

                //debugger;
               

                               
                var data ={

                    Value: value};
                // Get the data from the single request
                $.ajax({
                    url:settings.GetLendersByRoleLenderIdUrl,
                    data: data,
                    contentType: "application/json; charset=utf-8",
                    type: 'GET',
                    cache: false,
                     success: function (response) {
                        //debugger;
                        PLMReport.Repopulate( response, value);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },

            Repopulate: function ( response, value) {
                //debugger;
                // Clear the existing list box

                         
                
                if (value == 1 )
                {
                    if (response.data.LAMList == '')
                     
                    {
                        $("#LAMList").append('<option value="" disabled > No LAMs Available </option>');
                        $("#LAMList").multiselect("rebuild");
                                      
                    }
                    else{
                        $("#LAMList").empty();
                        $('#BAMList').multiselect('disable');
                        $('#LARList').multiselect('disable');
                        for (var i = 0; i < response.data.LAMList.length; i++) {

                            $("#LAMList").append('<option value="' + response.data.LAMList[i].Key+ '"selected= "selected">'   + response.data.LAMList[i].Value+ '</option>');
                        
                        }
                        $("#LAMList").multiselect("rebuild");
                    }
                }

                if (value == 2 )
                {
                  
                    if (response.data.BAMList == '')
                     
                    {
                      $("#BAMList").append('<option value="" disabled > No BAMs Available </option>');
                      $("#BAMList").multiselect("rebuild");
                                      
                    }
                    else{

                 
                        $("#BAMList").empty();
                        for (var i = 0; i < response.data.BAMList.length; i++) {

                            $("#BAMList").append('<option value="' + response.data.BAMList[i].Key+ '"selected= "selected" >' + response.data.BAMList[i].Value+ '</option>');
                        }
                        $("#BAMList").multiselect("rebuild");
                    }
                }

                if (value == 3 )
                {
                    
                    if (response.data.LARList == '')
                     
                    {
                        $("#LARList").append('<option value="" disabled > No LARs Available </option>');
                        $("#LARList").multiselect("rebuild");
                                      
                    }
                    else{
                        $("#LARList").empty();
                        for (var i = 0; i < response.data.LARList.length; i++) {

                            $("#LARList").append('<option value="' + response.data.LARList[i].Key+ '" selected= "selected">' + response.data.LARList[i].Value+ '</option>');
                        }
                        $("#LARList").multiselect("rebuild");
                    }
                }


                if (value == "1,2,3" )
                {
                    if (response.data.LAMList == '')
                     
                    {
                        $("#LAMList").append('<option value="" disabled > No LAMs Available </option>');
                        $("#LAMList").multiselect("rebuild");
                                      
                    }
                    else{
                        for (var i = 0; i < response.data.LAMList.length; i++) {

                            $("#LAMList").append('<option value="' + response.data.LAMList[i].Key+ '" selected= "selected">' + response.data.LAMList[i].Value+ '</option>');

                        }
                    }

                    if (response.data.BAMList == '')
                     
                    {
                        $("#BAMList").append('<option value="" disabled > No BAMs Available </option>');
                        $("#BAMList").multiselect("rebuild");
                                      
                    }
                    else{


                        for (var i = 0; i < response.data.BAMList.length; i++) {

                            $("#BAMList").append('<option value="' + response.data.BAMList[i].Key+ '" selected= "selected">' + response.data.BAMList[i].Value+ '</option>');
                        }
                    }


                    if (response.data.LARList == '')
                     
                    {
                        $("#LARList").append('<option value="" disabled > No LARs Available </option>');
                        $("#LARList").multiselect("rebuild");
                                      
                    }
                    else{

                        for (var i = 0; i < response.data.LARList.length; i++) {

                            $("#LARList").append('<option value="' + response.data.LARList[i].Key+ '"selected= "selected" >' + response.data.LARList[i].Value+ '</option>');
                        }
                    }
                    $("#LAMList").multiselect("rebuild");
                    $("#BAMList").multiselect("rebuild");
                    $("#LARList").multiselect("rebuild");
                }

                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },

        }
    }());

    $(document).ready(function () {
        PLMReport.InitView();
        //debugger;
        
        var selectedRoles = $("#RoleList option:selected").text();

        $('#LAMList').multiselect('disable');
        $('#BAMList').multiselect('disable');
        $('#LARList').multiselect('disable');

       
        if (selectedRoles.indexOf("LAM") >= 0){
            $('#LAMList').multiselect('enable');
        }
        if (selectedRoles.indexOf("LAR") >= 0){
            $('#LARList').multiselect('enable');
        }
        if (selectedRoles.indexOf("BAM") >= 0){
            $('#BAMList').multiselect('enable');
        }
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");


        //$('.ui-multiselect ui-widget ui-state-default ui-corner-all btn-text-color-fix ui-state-active ui-state-hover').css('width', '200px');
    });



</script>
