﻿@model PAMReportModel
<style type="text/css">
    .webGrid .descriptNum {
        text-align: right;
    }
</style>
<script type="text/javascript">
    $(document).ready(
        function () {
            styleGrid();
        }
    );
    $(document).ready(
        function () {
            $("#dialogNotesDetail").dialog({
                title: 'Comments',
                autoOpen: false,
                resizable: true,
                height: '300',
                width: '600',
                show: { effect: 'fade' },
                modal: true,
                draggable: true,
                closeOnEscape: false,
                close: function (event, ui) {
                    $(this).dialog("close");
                },
                open: function (event, ui) {
                    var paramStr = g_modal_paramId;
                    var paramArr = paramStr.split(",");
                    $(this).load('../PAMReport/CommentsDetail', { id: paramArr[0], type: paramArr[1] });
                    @*if ('@TempData["bShowCloseBtn"]' == "False")
                        $(".ui-dialog-titlebar-close").hide();*@
                },
            });
        }
    );
    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }
</script>
@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.PAMReportGridlList, rowCount: Model.PAMReportGridModel.TotalRows);
    if (Request.QueryString[grid.SortDirectionFieldName].IsEmpty())
    {
        //grid.SortDirection = SortDirection.Descending;
    }
}

<div id="dialogNotesDetail"></div>
<div class="container-fluid ">
    @*<br />
        @if (Model != null)
        {
            if (Model.PAMReportGridModel.Entities != null && Model.PAMReportGridModel.Entities.Any())
            {
                <div style="margin-left   : 10px; margin-bottom :10px; border: 1px solid black; background-color: #F5F5F5; ">

                    <div class="row" style="padding : 5px">
                        <span class="col-md-12 text-center">
                            <strong> Summary</strong>
                        </span>
                    </div>

                    <div class="row" style="padding : 5px">
                        <span class="col-md-6 text-left">
                            @Html.Label("Number Of Open Forms :")
                            @Html.LabelForModel(Model.NoOfOpenRequests.ToString(), new { title = "NoOfOpenRequests", @class = "fieldLabel" })
                        </span>
                        <span class="col-md-6 text-right">
                            @Html.Label("Number Of Closed Forms :")
                            @Html.LabelForModel(Model.NoOfClosedRequests.ToString(), new { title = "NoOfClosedRequests", @class = "fieldLabel" })
                        </span>
                    </div>
                    <div class="row" style="padding : 5px">
                        <span class="col-md-4 text-left">
                            @Html.Label("Mean :")
                            @Html.LabelForModel(string.Format("{0} {1}", Model.Mean.ToString(), "days"), new { title = "mean", @class = "fieldLabel" })
                        </span>
                        <span class="col-md-3 text-left">
                            @Html.Label("Median :")
                            @Html.LabelForModel(string.Format("{0} {1}", Model.Median.ToString(), "days"), new { title = "median", @class = "fieldLabel" })
                        </span>
                        <span class="col-md-5 text-right">
                            @Html.Label("Average time to complete :")
                            @Html.LabelForModel(string.Format("{0} {1}", Model.AvgCompletionTime.ToString(), "days"), new { title = "Average time to complete", @class = "fieldLabel" })
                        </span>

                    </div>
                </div>


            }
        }*@
</div>

<div class="row" style="margin-left:20px;width: 1200px;">
    <span style="float: right; margin-left: 80px">
        @if (Model != null)
        {
            if (Model.PAMReportGridModel.Entities != null && Model.PAMReportGridModel.Entities.Any())
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
            }
            if (Model.PAMReportGridModel.Entities != null && Model.PAMReportGridModel.Entities.Any() && Core.WebUiConstants.ShowPrintIcon)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
            }
        }
    </span>

</div>


<div class="row" style="margin-left:20px;overflow-x: scroll;width: 1200px;">
    <div id="gridContent">
        @{
            var gridColumns = new List<WebGridColumn>();
            gridColumns.Add(grid.Column("FHANumber", "FHA Number", (item) => (object)item.FHANumber != null ? (object)item.FHANumber.ToString() : Html.Raw(string.Empty), style: "descriptLeft"));
            gridColumns.Add(grid.Column("Id", "Form", format: (item) => Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Content/images/formicon.png", Html.ViewContext.HttpContext), "Form", "GetForm", "LenderPAMReport", new { id = item.Id, type = item.ProjectActionName }, null, null)));
            gridColumns.Add(grid.Column("PropertyName", "Property Name", (item) => (object)item.PropertyName != null ? (object)item.PropertyName.ToString() : Html.Raw(string.Empty), style: "descriptLeft"));
            gridColumns.Add(grid.Column("HUDPM", "HUD Project Manager", (item) => item.HUDPM, style: "descriptLeft"));
            gridColumns.Add(grid.Column("HudProjectManagerName", "Current AE", (item) => item.HudProjectManagerName, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ProjectAction", "Project Action Name", (item) => item.ProjectAction, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ProjectActionSubmitDate", "Project Action Submit Date", (item) => String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ProjectActionSubmitDate)) == "01/01/0001" ? "NA" : String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ProjectActionSubmitDate))));
            gridColumns.Add(grid.Column("ProjectActionCompletionDate", "Project Action Completion Date", (item) => String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ProjectActionCompletionDate)) == "01/01/0001" ? "NA" : String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ProjectActionCompletionDate))));
            gridColumns.Add(grid.Column("ProjectActionDaysToComplete", "Project Action Days To Complete", (item) => item.ProjectActionDaysToComplete, style: "descriptNum"));
            gridColumns.Add(grid.Column("IsProjectActionOpen", "Is Project Action Open", (item) => item.IsProjectActionOpen ? "Yes" : "No", style: "descriptLeft"));

            gridColumns.Add(grid.Column("RequestedAmount", "Request Amount", format: (item) =>
            {
                if (item.ProjectAction == "NCR" || item.ProjectAction == "R4R" || item.ProjectAction == "NCREXTENSION")
                {
                    return String.Format("{0:c}", item.RequestedAmount ?? "0");
                }
                return "NA";
            }, style: "descriptNum"));
            gridColumns.Add(grid.Column("ApprovedAmount", "Accepted Amount", format: (item) =>
            {
                if (item.ProjectAction == "NCR" || item.ProjectAction == "R4R" || item.ProjectAction == "NCREXTENSION")
                {
                    return String.Format("{0:c}", item.ApprovedAmount ?? "0");
                }
                return "NA";
            }, style: "descriptNum"));
            gridColumns.Add(grid.Column("LenderUserName", "Lender User Name", (item) => item.LenderUserName, style: "descriptLeft"));
            gridColumns.Add(grid.Column("UserRoleName", "User Role", (item) => item.UserRoleName, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ReAssignedFrom", "Re-Assigned From", (item) => string.IsNullOrEmpty(item.ReAssignedFrom) ? "NA" : item.ReAssignedFrom, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ReAssignedTo", "Re-Assigned To", (item) => string.IsNullOrEmpty(item.ReAssignedTo) ? "NA" : item.ReAssignedTo, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ReAssignedBy", "Re-Assigned By", (item) => string.IsNullOrEmpty(item.ReAssignedBy) ? "NA" : item.ReAssignedBy, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ReAssignedDate", "Date Re-Assigned", (item) => String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ReAssignedDate)) == "01/01/0001" ? "NA" : String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.ReAssignedDate))));
            gridColumns.Add(grid.Column("Comment", "Comment", format: (item) => string.IsNullOrEmpty(item.Comment) ? new MvcHtmlString("No") : HtmlHelperExt.PopupLink("dialogNotesDetail", "Yes", item.Id + "," + item.ProjectActionName, item.Comment)));
            gridColumns.Add(grid.Column("RequestStatus", "Processed Status", (item) => string.IsNullOrEmpty(item.RequestStatus) ? "NA" : item.RequestStatus, style: "descriptLeft"));
            gridColumns.Add(grid.Column("ProcessedBy", "Processed By", (item) => string.IsNullOrEmpty(item.ProcessedBy) ? "NA" : item.ProcessedBy, style: "descriptLeft"));
            gridColumns.Add(grid.Column("AdditionalInfoCount", "Request Additional Info", format: (item) =>
            {
                if (item.ProjectAction == "NCR" || item.ProjectAction == "R4R" || item.ProjectAction == "NCREXTENSION")
                {
                    return item.AdditionalInfoCount == null ? "NA" : item.AdditionalInfoCount;
                }
                else
                {
                    return item.RAI;
                }
            }, style: "descriptLeft"));
        }
        @if (Model != null && Model.PAMReportGridModel != null && Model.PAMReportGridModel.Entities != null && Model.PAMReportGridModel.Entities.Any())
        {
            @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header_row",
            rowStyle: "item_row",
            alternatingRowStyle: "item_alt_row",
            selectedRowStyle: "select",
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",

            columns: gridColumns.ToArray())
        }
        else
        {
            <p style="margin-left:20px; text-align :center">No Project Actions Records found</p>
        }
    </div>
</div>



