﻿@model Model.Production.ProdPAMReportStatusGridViewModel

<script src="~/Scripts/jquery.mask.js"></script>

@*karri:prodpamfil*@
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-multiSelect/jquery.multiselect.js"></script>

<style>
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "SaveHUDPamReportFilterDetails" }))
{
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Date From", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.hudPamReportFilters.FromDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "FromDate" })

            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Date To", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                @Html.TextBoxFor(m => m.hudPamReportFilters.ToDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "ToDate" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Project Name", new { @class = "required" })
            </span>
            <span class="col-md-3">
                <input type="text" id="AllPamReportProjectNames" value="@Model.hudPamReportFilters.ProjectName" />
                @Html.HiddenFor(m => m.hudPamReportFilters.ProjectName, new { id = "txtProjectName" })
                @* @Html.DropDownListFor(m => m.hudPamReportFilters.ProjectName, Model.hudPamReportFilters.AllProjectName, "Select Project Name", new { @class = "form-control" })*@
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("FHA Number", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                <input type="text" id="PamReportallFHANumbers" value="@Model.hudPamReportFilters.FHANumber" />
                @Html.HiddenFor(m => m.hudPamReportFilters.FHANumber, new { id = "txtFha" })
                @* @Html.DropDownListFor(m => m.hudPamReportFilters.FHANumber, Model.hudPamReportFilters.AllFHANumber, "Select FHA Number", new { @class = "form-control" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("LoanType", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.LoanType, Model.hudPamReportFilters.AllLoanType, "Select Loan Type", new { @class = "form-control" })
            </span>

            <span class="col-md-3 text-right ">
                @Html.Label("Closer Name", new { @class = "required" })
            </span>
            <span class="col-md-3 " style="margin-left: -20px;">
                @*karri15012020*@
                @Html.DropDownListFor(model => model.hudPamReportFilters.closer, Model.hudPamReportFilters.Allcloser, "Select Closer Name", new { @class = "form-control" })
            </span>

            @*<span class="col-md-3 text-right ">
                    @Html.Label("FHA Number Request", new { @class = "required" })
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.FHANumberRequest, Model.hudPamReportFilters.AllFHANumberRequest, "Select FHA Number Request", new { @class = "form-control" })
                </span>*@

        </div>
        <div class="row">
            @*<span class="col-md-3 text-right ">
                    @Html.Label("Status", new { @class = "required" })
                </span>*@
            @*<span class="col-md-3">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.Status, Model.hudPamReportFilters.AllStatus, "Select Status Type", new { @class = "form-control" })
                </span>*@
            <span class="col-md-3 text-right ">
                @Html.Label("Project Stage", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @*karri:prodpamfil*@
                @Html.Hidden("hidlstWlms1")
                @Html.Hidden("hidlstWlms2")
                @Html.ListBox("lstWlms", Model.hudPamReportFilters.AllProjectStage, new { multiple = "multiple", name = "lstWlms", @style = "width:212px" })
                @*@Html.DropDownListFor(model => model.hudPamReportFilters.ProjectStage, Model.hudPamReportFilters.AllProjectStage, "Select Project Stage", new { @class = "form-control" })*@
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("WLMGTM", new { @class = "required" })
            </span>
            <span class="col-md-3 text-left" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.WLMGTM, Model.hudPamReportFilters.AllWLMGTM, "Select WLMGTM", new { @class = "form-control" })
            </span>


        </div>

        @*<div class="row">
                <span class="col-md-3 text-right ">
                    @Html.Label("Corporate Credit Review", new { @class = "required" })
                </span>
                <span class="col-md-3">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.CorporateCreditReview, Model.hudPamReportFilters.AllCorporateCreditReview, "Select Corporate Credit Review", new { @class = "form-control" })
                </span>
                <span class="col-md-3 text-right ">
                    @Html.Label("Portfolio Number Assignment", new { @class = "required" })
                </span>
                <span class="col-md-3" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.PortfolioNumberAssignment, Model.hudPamReportFilters.AllPortfolioNumberAssignment, "Select Portfolio Number Assignment", new { @class = "form-control" })
                </span>
            </div>*@
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Project Status", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Underwriter, Model.hudPamReportFilters.AllUnderwriter, "Select Project Status", new { @class = "form-control" })
            </span>

            <span class="col-md-3 text-right ">
                @Html.Label("Appraiser", new { @class = "required" })
            </span>
            <span class="col-md-3" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Appraiser, Model.hudPamReportFilters.AllAppraiser, "Select Appraiser", new { @class = "form-control" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Environmentalist", new { @class = "required" })
            </span>
            <span class="col-md-3">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Environmentalist, Model.hudPamReportFilters.AllEnvironmentalist, "Select Environmentalist", new { @class = "form-control" })
            </span>

            <span class="col-md-3 text-right ">
                @Html.Label("Title & Survey", new { @class = "required" })
            </span>
            <span class="col-md-3" style="margin-left: -20px;">
                @Html.DropDownListFor(model => model.hudPamReportFilters.Title_Survey, Model.hudPamReportFilters.AllTitle_Survey, "Select Title & Survey", new { @class = "form-control" })
            </span>
        </div>
        @*<div class="row">
                <span class="col-md-3 text-right ">
                    @Html.Label("Executed Documents", new { @class = "required" })
                </span>
                <span class="col-md-3">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.ExecutedDocuments, Model.hudPamReportFilters.AllExecutedDocuments, "Select Executed Documents", new { @class = "form-control" })
                </span>
            </div>*@
        <div class="row">

            @*<span class="col-md-3 text-right ">
                    @Html.Label("Master Lease Number Assignment", new { @class = "required" })
                </span>
                <span class="col-md-3 text-left" style="margin-left: -20px;">
                    @Html.DropDownListFor(model => model.hudPamReportFilters.MasterLeaseNumberAssignment, Model.hudPamReportFilters.AllMasterLeaseNumberAssignment, "Select Master Lease Number Assignment", new { @class = "form-control" })
                </span>*@

        </div>
    </div>
    <div class="container-fluid" style="padding-top: 15px">
        <div class="row">
            <span class="col-md-5 text-right">
                <button id="btnHUDPamGetData" class="btn btn-default" style="border-color: #999">
                    Filter
                </button>
            </span>
            <span class="col-md-1 text-right">
                <button id="btnHUDPRFSave" class="btn btn-default" style="border-color: #999">
                    Save
                </button>
            </span>
            <span class="col-md-1 text-right">
                <button id="btnHUDPRFClear" class="btn btn-default"
                        style="border-color: #999">
                    Clear
                </button>
                @*<button  class="btn btn-default"
                            style="border-color: #999" onclick="ResetFilterResults()">
                        Clear
                    </button>*@
            </span>
        </div>
    </div>
    <div class="row" style="margin-left:20px;width: 1200px;">
        <span style="float: right; margin-left: 80px">
            @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", "ExportProdPAMReportV3", "ExcelExport", (object)Model.hudPamReportFilters, new { @class = "excelExport" }, null)

            @*@Html.ActionLink("Excel Export", "ExportProdPAMReportV3", "ExcelExport")*@
            @*<input id="ExclIcon" class="excelExport" href="@Url.Action("ExportProdPAMReportV3", "ExcelExport")" type="submit" style="background-image:url('/Images/icon_excelBg.jpg')"/>*@
            @*<img alt="Export to Excel" src="/Images/icon_excelBg.jpg">*@
        </span>

    </div>
}
@* Hareesh*@
<script>
        var autocompleteTextBox = $('#PamReportallFHANumbers');
        var FHApossibleValues = @Html.Raw(Json.Encode(Model.hudPamReportFilters.TotalAvailableFHANumbersListItem));

</script>
@*<script src="/Scripts/Shared/autocomplete.js"></script>*@

<script>
         var autocompleteTextBoxs = $('#AllPamReportProjectNames');
         var AllpossibleValues = @Html.Raw(Json.Encode(Model.hudPamReportFilters.TotalAvailableProjectNamesListItem));
</script>



@* hareesh*@
@*<script src="/Scripts/Shared/autocomplete.js"></script>*@
<script src="~/Scripts/FHAautoComplete.js"></script>
<script>
    $(document).ready(function () {
        $('#PamReportallFHANumbers').mask("999-99999");
        $('.datepicker').datepicker();
        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            searchFhaNumber = ui.item.value;
            autocompleteMatch(searchFhaNumber, FHApossibleValues);
        });

        autocompleteTextBoxs.on('autocompleteselect', function(event, ui) {
            selectedProjectName = ui.item.value;
            autocompleteMatchs(selectedProjectName, AllpossibleValues);
        });

        });

</script>



<script>
    //$('#btnHUDPRFClear').click(function (e) {
    //    e.preventDefault();


    //    $('select option:selected').removeAttr('selected');
    //    $('#PamReportallFHANumbers').val('');
    //    $('#AllPamReportProjectNames').val('');

    //     $('#FromDate').val('');

    //     $('#ToDate').val('');
    //     alert(0);
    //     jQuery("#grid").jqGrid().trigger("reloadGrid");
    //     alert(1);
    //     //$("#SaveHUDPamReportFilterDetails").trigger('reset');


    //});
    //$('select option:selected').removeAttr('selected');
        //$('#FromDate').datepicker('update', '');


        //$('#FromDate').val('');

        //$('#ToDate').val("");
       // $("#SaveHUDPamReportFilterDetails").trigger('reset');
        //$('#SaveHUDPamReportFilterDetails')[0].reset();
        //$('#SaveHUDPamReportFilterDetails')[1].reset();
        //$("#ProjectName")[0].selectedIndex = 0;
        //$("#FHANumber")[0].selectedIndex = 0;
        //$("#LoanType")[0].selectedIndex = 0;
        //$("#Status")[0].selectedIndex = 0;
        //$("#FHANumberRequest")[0].selectedIndex = 0;
        //$("#CorporateCreditReview")[0].selectedIndex = 0;
        //$("#PortfolioNumberAssignment")[0].selectedIndex = 0;
        //$("#MasterLeaseNumberAssignment")[0].selectedIndex = 0;
        //$("#Underwriter")[0].selectedIndex = 0;
        //$("#Environmentalist")[0].selectedIndex = 0;
        //$("#Title_Survey")[0].selectedIndex = 0;
        //$("#Appraiser")[0].selectedIndex = 0;
        //$("#ExecutedDocuments")[0].selectedIndex = 0;


    //$('#ExclIcon').click(function (e) {
    //    //debugger;

    //    e.preventDefault();
    //    $.ajax({
    //        url: '/ExcelExport/ExportProdPAMReportV3/',
    //        data: $('#SaveHUDPamReportFilterDetails').serialize(),
    //        type: 'GET',
    //        success: function (response) {

    //        },
    //        error: function (xhr, status, p3, p4) {

    //            var err = "Error " + " " + status + " " + p3 + " " + p4;
    //            if (xhr.responseText && xhr.responseText[0] == "{")
    //                err = JSON.parse(xhr.responseText).Message;
    //            console.log(err);
    //        }
    //    });
    //    //var url = "/ExcelExport/ExportProdPAMReportV3?result=" + $('#SaveHUDPamReportFilterDetails').serialize() ;
    //    //$('#ExclIcon').attr("href", url);
    //});
    //alert(searchFhaNumber);alert('karri');
    $('#btnHUDPamGetData').click(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/ProdPAM/GetPAMReportResultsV3' ,
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber})
                +'&'+ $.param({'selectedProjectNames':selectedProjectName}) + '&'+ $.param({'selectedProjectStages': $("#hidlstWlms1").val()})
                + '&'+ $.param({'selectedProjectAll': $("#hidlstWlms2").val()}),
            type: 'POST',
            success: function (response) {
                jQuery("#grid").jqGrid().setGridParam({
                    url: '@Url.Action("GetPAMReportResultsV3", "ProdPam")',
                    datatype: 'json',
                    postData: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber})
                        +'&'+ $.param({'selectedProjectNames':selectedProjectName}) + '&'+ $.param({'selectedProjectStages': $("#hidlstWlms1").val()})
                        + '&'+ $.param({'selectedProjectAll': $("#hidlstWlms2").val()})
                }).trigger("reloadGrid");
            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });


    $('#btnHUDPRFSave').click(function (e) {
        e.preventDefault();
        // debugger;

        $.ajax({
            url: '/ProdPAM/SaveHUDPamReportFilterDetails/',
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':searchFhaNumber})+'&'+ $.param({'selectedProjectNames':selectedProjectName})+ '&'+ $.param({'selectedProjectStages': $("#hidlstWlms1").val()}),
            type: 'POST',
            success: function (response) {
                if (response === "Saved") {
                    alert("Information Saved Successfully");
                    return false;
                }
                else if (response === "Updated") {
                    alert("Information Updated Successfully");
                    return false;
                }
                else if (response === "Fail") {
                    alert("Unable to Update/Save Information");
                    return false;
                }

            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });
</script>



<script>
    $('#btnHUDPRFClear').click(function (e) {
        e.preventDefault();
        $('.ui-multiselect-none').click();
        $('#PamReportallFHANumbers').val('');
        $('#AllPamReportProjectNames').val('');
        $('#FromDate').val('');
        $('#ToDate').val('');
       // $("#WLMGTM")[0].selectedIndex = 0;
        //$("#SaveHUDPamReportFilterDetails")[0].selectedIndex = 0;
     //$("#LoanType")[0].selectedIndex = 0;
       // $('#wlmgtm').click('');
       // $('#closername').val('');
       // $('#wlmgtm').prop('selectedIndex',0);
        //$("#wlmgtm")[0].selectedIndex = 0;
        //var dropDown = document.getElementById("wlmgtm");
        //var dropDown = document.getElementById("closername");
       // dropDown.selectedIndex = 0;
        // var dropDown = document.getElementById("HelpDeskName");
        //$("#ProjectName")[0].selectedIndex = 0;
        //$("#FHANumber")[0].selectedIndex = 0;
        //$("#LoanType")[0].selectedIndex = 0;
        //$("#FHANumberRequest")[0].selectedIndex = 0;
        //$("#Underwriter")[0].selectedIndex = 0;
        //$("#Environmentalist")[0].selectedIndex = 0;
        //$("#Title_Survey")[0].selectedIndex = 0;
        //$("#Appraiser")[0].selectedIndex = 0;
        //$("#ExecutedDocuments")[0].selectedIndex = 0;
        // $("#SaveHUDPamReportFilterDetails").trigger('reset');
        //$('#SaveHUDPamReportFilterDetails')[0].reset();
        //$('#SaveHUDPamReportFilterDetails')[1].reset();
        //$('#btnHUDPamGetData').click();

        $.ajax({
            url: '/ProdPAM/GetPAMReportResultsV3' ,
            data: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':""}) +'&'+ $.param({'selectedProjectNames':""})+ '&'+ $.param({'selectedProjectStages': $("#hidlstWlms1").val()}),
            type: 'POST',
            success: function (response) {
                jQuery("#grid").jqGrid().setGridParam({
                    url: '@Url.Action("GetPAMReportResultsV3", "ProdPam")',
                    datatype: 'json',
                    postData: $('#SaveHUDPamReportFilterDetails').serialize() + '&'+ $.param({'selectedFhaNumber':""}) +'&'+ $.param({'selectedProjectNames':""})+'&'+ $.param({'selectedProjectStages':""})
                   // postData: { " Project Stages": '', "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val(), "wlmgtm": $('#wlmgtm').val(),"closername":$('closername').val() }

                }).trigger("reloadGrid");
            },
            error: function (xhr, status, p3, p4) {

                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
       // $("#LoanType")[0].selectedIndex = 0;
    });
</script>

@*karri:prodpamfil*@
<script>
    var PLMReport = (function () {
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        return {
            InitView: function () {
                // setup WLM managers
                //$("#lstWlms").multiselect( {

                //    noneSelectedText: 'Select WLM', minWidth: 250
                //                            , selectedList: 1
                //                             , uncheckAll: function (event, ui) {
                //                                 //PLMReport.RefreshAEsBasedOnWLM(event, ui);
                //                                 //PLMReport.RefreshISOUsBasedOnWLM(event, ui);
                //                             }
                //                             , checkAll: function (event, ui) {


                //                             }
                //                             , click: function (event, ui) {
                //                                 alert('click event for wlm');

                //                             }
                //                             , selectedText: function (numChecked, numTotal) {
                //                                 var valSelected = $("#lstWlms").val();
                //                                 alert(valSelected);
                //                                 var wlmSelected = numChecked == numTotal ? 'All' : numChecked;
                //                                 return 'WLM (' + wlmSelected + ')';
                //                             }
                //});

                $("#lstWlms").multiselect({

                        noneSelectedText: 'Select Project Stages', minWidth: 280
                         , selectedList:0

                        , selectedText: function (numChecked, numTotal) {

                            var aeSelected = numChecked == numTotal ? 'All' : numChecked;

                            var valSelected = $("#lstWlms").val();
                            //alert('numchecked'+numChecked);
                            //alert('numTotal'+numTotal);
                            //alert('aeSelected'+valSelected);
                            //alert('valSelected'+aeSelected);

                            $("#hidlstWlms1").val(valSelected);
                            $("#hidlstWlms2").val(aeSelected);
                            return ' Project Stages (' + aeSelected + ')';

                        }
                    ,
                     click: function (event, ui)
                     {
                         //alert('click-' + $("#lstWlms").val());

                     }
                    ,
                     //checkAll: function (event, ui)
                     //{
                     //    alert('checkAll-' + $("#lstWlms").val());


                     //}
                    //,uncheckAll: function (event, ui) {

                    //    alert('uncheckAll-' + $("#lstWlms").val());

                    ////}
                    //,uncheck: function (event, ui) {

                    //    alert('uncheck-' + $("#lstWlms").val());

                    //}
                });


            },

        }
    }());

    $(document).ready(function () {
        PLMReport.InitView();
    });

</script>


