﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model PAMReportModel




@{
    ViewBag.Title = "PAM Report";
}

<style>
    input#btnAssetclear {
        margin-left: 914px;
        margin-top: -34px;
    }

    span.col-md-2.text-right {
        width: 116px;
    }
    /*naresh address 28012020*/
    ol {
        margin-left: -40px;
    }

        ol il {
            float: left;
            width: 290px;
        }

    br {
        clear: left;
    }

    div.wrapper {
        margin-bottom: 20px;
    }

    .datePickerTextBox {
        width: 100px;
        height: 25px;
    }

    .highrisk {
        color: black;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 5px;
        margin-left: -4px;
        padding-right: 6px;
        margin-right: -5px;
    }

    tr.header_row th:nth-child(5) {
        width: auto;
    }

    tr.item_row td:nth-child(5) {
        width: auto;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
        border: 1px solid black;
    }

    .ui-multiselect {
        font-size: 12px;
    }

    .multiselect option {
        display: block;
        font-size: 8px !important;
    }

    /* remove label borders in IE6 because IE6 does not support transparency */

    * html .ui-multiselect-checkboxes label {
        border: none;
        padding: 10px;
    }

    tr.header_row th:nth-child(5) {
        width: 300px;
    }
</style>


<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------- -->
@using (Html.BeginForm())

{

    <div class="container-fluid">
        <div class="row" style="margin-left: 4px; margin-right: 0px">
            @*<div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-left">
                            @Html.Label("Report Name: ")
                        </span>
                        <span class="col-md-4  text-left">
                            @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                        </span>
                    </div>
                </div>comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM*@

            @if (Model.ReportLevel == ReportLevel.WLMUserLevel || Model.ReportLevel == ReportLevel.AEUserLevel || Model.ReportLevel == ReportLevel.ISOUUserLevel)
            {
                @*<div class="container-fluid">
                        <div class="row">
                            <span class="col-md-4 text-left">
                                @Html.Label("Workload Manager Name: ")
                            </span>
                            <span class="col-md-4">
                                @Model.ReportHeaderModel.HudWorkloadManagerName
                            </span>
                        </div>
                    </div>comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM*@
            }
            @if (Model.ReportLevel == ReportLevel.AEUserLevel && Model.ReportHeaderModel.HudAccountExecutive.Manager_Name != null)
            {
                @*<div class="container-fluid">
                        <div class="row">
                            <span class="col-md-4 text-left">
                                @Html.Label("Account Executive Name: ")
                            </span>
                            <span class="col-md-4">
                                @Model.ReportHeaderModel.HudProjectManagerName
                            </span>
                        </div>
                    </div> comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM*@
            }

            @if (Model.ReportLevel == ReportLevel.ISOUUserLevel)
            {
                @*<div class="container-fluid">
                        <div class="row">
                            <span class="col-md-4 text-left">
                                @Html.Label("Internal Special Option User Name: ")
                            </span>
                            <span class="col-md-4">
                                @Model.ReportHeaderModel.HudProjectManagerName
                            </span>
                        </div>
                    </div>comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM*@
            }
            @*@admin design view start*@
            <div style="margin-left: 20px; width: 1000px; border: 1px solid black; background-color: #F5F5F5;">
                @if (Model.ReportLevel == ReportLevel.SuperUserLevel && UserPrincipal.Current.UserRole != "InternalSpecialOptionUser")
                {
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Work Load Managers: ")
                        </span>
                        <span class="col-md-3 text-left">

                            @Html.ListBox("lstWlms", Model.WLMListItems, new { multiple = "multiple", name = "lstWlms" })
                        </span>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Account Executives: ")
                        </span>
                        <span class="col-md-3 text-left">

                            @Html.ListBox("lstAes", Model.AEListItems, new { multiple = "multiple", name = "lstAes" })
                        </span>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Internal Special Option Users: ")
                        </span>
                        <span class="col-md-3 text-left">
                            @Html.ListBox("lstIsous", Model.ISOUListItems, new { multiple = "multiple", name = "lstIsous" })
                        </span>
                    </div>
                }
                @if (Model.ReportLevel == ReportLevel.WLMUserLevel)
                {
                    @*<div class="row" style="padding: 5px;">
                            <span class="col-md-4 text-left">
                                @Html.Label("Account Executives: ")
                            </span>
                            <span class="col-md-3 text-left">
                                @Html.ListBox("lstAes", Model.AEListItems, new { multiple = "multiple", name = "lstAes" })
                            </span>
                        </div>
                        <div class="row" style="padding: 5px;">
                            <span class="col-md-4 text-left">
                                @Html.Label("Internal Special Option Users: ")
                            </span>
                            <span class="col-md-3 text-left">
                                @Html.ListBox("lstIsous", Model.ISOUListItems, new { multiple = "multiple", name = "lstIsous" })
                            </span>
                        </div> comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM*@
                }
                @*comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM NEW CODE ADDED BELOW LOGIC*@
                @if (Model.ReportLevel != ReportLevel.SuperUserLevel || UserPrincipal.Current.UserRole == "InternalSpecialOptionUser")
                {
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Work Load Managers: ")
                        </span>
                        <span class="col-md-3 text-left">
                            @Html.ListBox("lstWlms", Model.WLMListItems, new { multiple = "multiple", name = "lstWlms1" })
                        </span>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Account Executives: ")
                        </span>
                        <span class="col-md-3 text-left">

                            @Html.ListBox("lstAes", Model.AEListItems, new { multiple = "multiple", name = "lstAes1" })
                        </span>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <span class="col-md-4 text-left">
                            @Html.Label("Internal Special Option Users: ")
                        </span>
                        <span class="col-md-3 text-left">
                            @Html.ListBox("lstIsous", Model.ISOUListItems, new { multiple = "multiple", name = "lstIsous1" })
                        </span>
                    </div>
                }
                @*comment by naresh 26012020 ASSET MANA PAM REPORT MULTI SELECT AE AND WLM NEW CODE ADDED BELOW LOGIC*@
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Status: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.ListBox("lstStatus", Model.Status, new { multiple = "multiple", name = "lstStatus" })
                    </span>
                </div>
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Project Action: ")
                    </span>
                    @if (Model.ReportLevel == ReportLevel.IAEUserLevel)
                    {
                        <span class="col-md-4 text-left">
                            NCR, NCR Extension
                        </span>
                    }
                    else
                    {
                        @*@Html.ListBox("categoryId", new MultiSelectList(ViewData["categories"] as System.Collections.IEnumerable, "Id", "CategoryName", Model.tIdx_ProductCategories.Select(x => x.CategoryId).AsEnumerable()))*@
                        <span class="col-md-4 text-left">
                            @Html.ListBox("lstProjectAction", Model.ProjectAction, new { multiple = "multiple", name = "lstProjectAction" })


                        </span>
                    }
                </div>

                @*karri:D#610*@
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Property Name: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.DropDownListFor(m => m.AsstMgmtRptFilters.propertyname, Model.PropNames, "--Select Property Name--", new { @id = "ddlPropName" })
                    </span>
                </div>
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("FHANumber: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.DropDownListFor(m => m.AsstMgmtRptFilters.fhanumber, Model.FHANumbersList, "--Select FHA Number--", new { @id = "ddlFHANumbers" })
                    </span>
                </div>
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Assigned TO: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.DropDownListFor(m => m.AsstMgmtRptFilters.AssignedTo, Model.AssignedToList, "--Select Assignee--", new { @id = "ddlReviewer" })
                    </span>
                </div>
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Has Opened: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.DropDownListFor(m => m.AsstMgmtRptFilters.Actionopen, Model.HasOpenedList, "--Select Project Action (Open/Close)--", new { @id = "ddlProjActionOpen" })
                    </span>
                </div>
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Days Opened: ")
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.DropDownListFor(m => m.AsstMgmtRptFilters.daysopen, Model.ProjActionDaysToCompList, "--Select Days to Complete--", new { @id = "ddlDaysToComp" })
                    </span>
                </div>
                @*end*@


                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("From Date: ")&nbsp;&nbsp;&nbsp;&nbsp;@Html.TextBoxFor(m => m.AsstMgmtRptFilters.fromdate, new { @class = "datePickerTextBox", @id = "datePickerMinUploadDate", @name = "minUploadDate" })
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.Label("To Date: ")&nbsp;&nbsp;@Html.TextBoxFor(m => m.AsstMgmtRptFilters.todate, new { @class = "datePickerTextBox", @id = "datePickerMaxUploadDate", @name = "maxUploadDate" })
                    </span>
                    <span class="col-md-2 text-left" style="background-color: #F5F5F5;">
                        <input id="btnApplyDates" type="button" class="form-control" value="Search">
                    </span>

                    @* NARESH ADD CODE 28012020*@
                    <span class="col-md-2 text-right" style="background-color: #F5F5F5;">
                        <input id="btnAssetpam" type="button" class="form-control" value="Save">
                    </span>

                    <span class="col-md-2 text-right" style="background-color: #F5F5F5;">
                        <input id="btnAssetclear" type="button" class="form-control" value="Clear">
                    </span>
                    @* NARESH ADD CODE 28012020*@



                </div>
            </div>
        </div>
        <div class="row">
            <div id="dvUserReport" class="col-md-12">
                @Html.Partial("~/Views/ManagementReport/PAMReports/_PAMReport.cshtml", Model)
            </div>
        </div>
    </div>
    <br /><br />
}
<script>
    var settingsObject = @Html.Raw(Json.Encode(ViewBag));
</script>
<script type="text/javascript" src="~/Scripts/jquery-multiSelect/jquery.multiselect.js"></script>
<script>
    var PLMReport = (function () {
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if(listBox == null) {return "";}

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        return {
            InitView: function () {
                // setup WLM managers
                $("#lstWlms").multiselect({
                    noneSelectedText: 'Select WLM', minWidth: 250
                                            , selectedList: 1
                                             , uncheckAll: function (event, ui) {
                                                 PLMReport.RefreshAEsBasedOnWLM(event, ui);
                                                 PLMReport.RefreshISOUsBasedOnWLM(event, ui);
                                             }
                                             , checkAll: function (event, ui) {

                                                 PLMReport.RefreshAEsBasedOnWLM(event, ui);
                                                 PLMReport.RefreshISOUsBasedOnWLM(event, ui);
                                             }
                                             , click: function (event, ui) {
                                                 PLMReport.RefreshISOUsBasedOnWLM(event, ui);
                                                 PLMReport.RefreshAEsBasedOnWLM(event, ui);
                                             }
                                             , selectedText: function (numChecked, numTotal) {
                                                 var wlmSelected = numChecked == numTotal ? 'All' : numChecked;
                                                 localStorage.setItem("wlm",wlmSelected);
                                                 return 'WLM (' + wlmSelected + ')';
                                             }

                });
               // $.fn.myFunction();//naresh call the function code


                 // setup Aes

                $("#lstAes").multiselect({
                    noneSelectedText: 'Select AE', minWidth: 250
                    , selectedList: 1
                    , selectedText: function (numChecked, numTotal) {
                        var valSelected = $("#lstAes").val();
                        var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                        localStorage.setItem("aes",aeSelected);
                        return 'AE (' + aeSelected + ')';

                    }
                });



                // setup internal special option users
                $("#lstIsous").multiselect({
                    noneSelectedText: 'Select ISOU', minWidth: 250
                                            , selectedList: 1
                                            , selectedText: function (numChecked, numTotal) {
                                                var isouSelected = numChecked == numTotal ? 'All' : numChecked;
                                                localStorage.setItem("isou",isouSelected);
                                                return 'ISOU (' + isouSelected + ')';
                                                //numChecked + ' of ' + numTotal + ' Request types selected';
                                            }
                });

                // setup Aes
                $("#lstStatus").multiselect({
                      noneSelectedText: 'Select Status', minWidth: 225
                    , selectedList: 1
                    , selectedText: function () {
                        var valSelected = $("#lstStatus").val();
                        var paSelected = valSelected == '0' ? 'Closed' : valSelected == '1' ? 'Open' : 'All';
                        return 'Status (' + paSelected + ')';
                        //numChecked + ' of ' + numTotal + ' Request types selected';
                    }
                });

                $("#lstProjectAction").multiselect({
                    noneSelectedText: 'Select Project Action', minWidth: 225
                    ,checkAll:function() {
                        $("#lstProjectAction").multiselect("refresh");
                    }
                    ,uncheckAll:function(){
                        $("#lstProjectAction").multiselect("refresh");
                    }
                            , selectedList: 1
                    , selectedText: function () {


                                    var paSelected = 'All'  ;

                                    var valSelected = $("#lstProjectAction").val();

                                    if (valSelected!=null && valSelected.length < 10)
                                        paSelected = valSelected.length;

                                    if (valSelected == '0')
                                        paSelected = 'NCR';
                                    else if (valSelected == '1')
                                        paSelected = 'R4R';
                                    else if (valSelected == '2')
                                        paSelected = 'NCR Extension';
                                    else if (valSelected == '3')
                                        paSelected = 'AR Financing- Final Approval';
                                    else if (valSelected == '5')
                                        paSelected = 'Capital Project (Permission to Build, Improvements)';
                                    else if (valSelected == '6')
                                        paSelected = 'Change In or Addition of Lease';
                                    else if (valSelected == '7')
                                        paSelected = 'Change in or Addition of Lessee Operator';
                                    else if (valSelected == '8')
                                        paSelected = 'Change in or Addition of Management Agent - Final Approval';
                                    else if (valSelected == '11')
                                        paSelected = 'Conversion of Beds';
                                    else if (valSelected == '16')
                                        paSelected = 'Leasing Out Space (Cell and Cable Towers)';
                                    else if (valSelected == '17')
                                        paSelected = 'Leasing Out Space (Commercial)';
                                    else if (valSelected == '19')
                                        paSelected = 'Modification of Note (Interest Only)';
                                    else if (valSelected == '22')
                                        paSelected = 'Other Escrows';
                                    else if (valSelected == '24')
                                        paSelected = 'Partial Release of Collateral (Beds)';
                                    else if (valSelected == '25')
                                        paSelected = 'Partial Release of Security (Real Estate)';
                                    else if (valSelected == '28')
                                        paSelected = 'Sinking Fund';
                                    else if (valSelected == '29')
                                        paSelected = 'Surplus Cash Note or Secondary Financing';
                                    else if (valSelected == '30')
                                        paSelected = 'TPA (Full) - Final Approval';
                                    else if (valSelected == '31')
                                        paSelected = 'TPA (Light) - Final Approval';
                                    else if (valSelected == '32')
                                        paSelected = 'TPA (Modified) - Final Approval';
                                    else if (valSelected == '33')
                                        paSelected = 'Waivers';
                                    else if (valSelected == '36')
                                        paSelected = 'Other';
                                    else if (valSelected == '37')
                                        paSelected = 'Physical Condition Actions';
                                    else if (valSelected == '38')
                                        paSelected = 'Notice of Imposition (NOI)';
                                    else if (valSelected == '39')
                                        paSelected = 'Real Estate Assessment Center Inspection/Report/Responses';
                                    else if (valSelected == '40')
                                        paSelected = '9807 Termination approval request for mortgage termination';
                                    else if (valSelected == '41')
                                        paSelected = 'Revised 9807 Termination request Block Five executed';
                                    else if (valSelected == '42')
                                        paSelected = 'Pending Approval- If the 9807 is incomplete and supporting documentation is missing';
                                    else if (valSelected == '43')
                                        paSelected = 'Termination Letter';
                                    else if (valSelected == '44')
                                        paSelected = 'TPA (Full) - Preliminary approval';
                                    else if (valSelected == '45')
                                        paSelected = 'TPA (Light) - Preliminary approval';
                                    else if (valSelected == '46')
                                        paSelected = 'TPA (Modified) - Preliminary approval';
                                    else if (valSelected == '47')
                                        paSelected = 'CHOW - Preliminary approval';
                                    else if (valSelected == '48')
                                        paSelected = 'CHOW - Final Approval';
                                    else if (valSelected == '49')
                                        paSelected = 'Change In or Addition of Management Agent - Preliminary approval';
                                    else if (valSelected == '50')
                                        paSelected = 'AR Financing - Preliminary Approval';

                                return 'Project Action (' + paSelected + ')';
                            }
                });

                $('.datePickerTextBox').datepicker();

                var _minUploadDate = $('#datePickerMinUploadDate').val();
                var _maxUploadDate = $('#datePickerMaxUploadDate').val();

                $('#datePickerMinUploadDate').change(function () {
                    var date = $(this).val();
                    _minUploadDate = ValidateDateSelected(date, _minUploadDate);
                    $(this).val(_minUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_minUploadDateField', _minUploadDate);
                    });
                });

                $('#datePickerMaxUploadDate').change(function () {
                    var date = $(this).val();
                    _maxUploadDate = ValidateDateSelected(date, _maxUploadDate);
                    $(this).val(_maxUploadDate);
                    $('.linkableField').each(function () {
                        this.href = this.href.replace('_maxUploadDateField', _maxUploadDate);
                    });
                });

                function ValidateDateSelected(date, prevDate) {
                    var arrDate = date.split("/");
                    var today = new Date();
                    var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                    if (userSelectedDate > today) {
                        alert('Date must not be in the future.');
                        return prevDate;
                    } else {
                        return date;
                    }
                }

                //NARESH NEWLY ADD 28012020
                $('#btnAssetpam').click(function (e) {
                    var obj = {};
                    obj.wlmUsers = listBoxToString('lstWlms', false);
                    obj.aeUsers = listBoxToString('lstAes', false);
                    obj.isoUsers =listBoxToString('lstIsous', false);
                    obj.status = listBoxToString('lstStatus', false);
                    obj.projectAction = listBoxToString('lstProjectAction', false);
                    //obj. = listBoxToString('lstProjectAction', false);
                    obj.fhanumber = $("#ddlFHANumbers").val();
                    obj.assignto = $("#ddlReviewer").val();
                    obj.actionopen = $("#ddlProjActionOpen").val();
                    obj.proprname = $("#ddlPropName").val();
                    obj.daysopen = $("#ddlDaysToComp").val();//end
                    obj._minUploadDate=$("#datePickerMinUploadDate").val();
                    obj._maxUploadDate=$("#datePickerMaxUploadDate").val();
                    alert("Information Saved Successfully");
                    $.ajax({
                        type: "POST",
                        url: "/PAMReport/SaveAssetPamReportFilterDetails",
                        data: JSON.stringify(obj),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",

                        success: function (response) {
                            if (response === "Saved") {
                                alert("Information Saved Successfully");
                                return false;
                            }
                            else if (response === "Updated") {
                                alert("Information Updated Successfully");
                                return false;
                            }
                            else if (response === "Fail") {
                                alert("Unable to Update/Save Information");
                                return false;
                            }

                        },
                        error: function (xhr, status, p3, p4) {

                            var err = "Error " + " " + status + " " + p3 + " " + p4;
                            if (xhr.responseText && xhr.responseText[0] == "{")
                                err = JSON.parse(xhr.responseText).Message;
                            console.log(err);
                        }
                    });
                });
                $('#btnAssetclear').click(function (e) {
                    //var obj = {};

                    //obj.wlmUsers = listBoxToString('lstWlms', false);
                    //$("#lstWlms").multiselect('uncheckAll');
                    //obj.aeUsers = listBoxToString('lstAes', false);
                    //$("#lstAes").multiselect('uncheckAll');
                    //obj.isoUsers =listBoxToString('lstIsous', false);
                    //$("#lstIsous").multiselect('uncheckAll');
                    //obj.status = listBoxToString('lstStatus', false);
                    //$("#lstStatus").multiselect('uncheckAll');
                    ////$("#ui-multiselect-lstWlms-option-1").prop("checked", false);
                    ////$("#ui-multiselect-lstWlms-option-1").prop("checked", false);
                    //obj.projectAction = listBoxToString('lstProjectAction', false);
                    //$("#lstProjectAction").multiselect('uncheckAll');
                    //obj.fhanumber = $("#ddlFHANumbers").val();
                    //var dropDown = document.getElementById("ddlFHANumbers");
                    //dropDown.selectedIndex = 0;
                    //obj.assignto = $("#ddlReviewer").val();
                    //var dropDownrev = document.getElementById("ddlReviewer");
                    //dropDownrev.selectedIndex = 0;
                    //obj.actionopen = $("#ddlProjActionOpen").val();
                    //var dropDownopen = document.getElementById("ddlProjActionOpen");
                    //dropDownopen.selectedIndex = 0;
                    //obj.proprname = $("#ddlPropName").val();
                    //var dropDownprop = document.getElementById("ddlPropName");
                    //dropDownprop.selectedIndex = 0;
                    //obj.daysopen = $("#ddlDaysToComp").val();//end

                    //var dropDowntocomp = document.getElementById("ddlDaysToComp");
                    //dropDowntocomp.selectedIndex = 0;

                    //obj._minUploadDate=$("#datePickerMinUploadDate").val();
                    //datePickerMinUploadDate.value="";
                    //obj._maxUploadDate=$("#datePickerMaxUploadDate").val();
                    //datePickerMaxUploadDate.value="";
                    ////var listBox = document.getElementById("lstWlms");
                    ////listBox.selectedIndex = -1;
                    ////var listBox = document.getElementById("lstAes");
                    ////listBox.selectedIndex = -1;
                    ////var listBox = document.getElementById("lstIsous");
                    ////listBox.selectedIndex = -1;
                    ////$('#lstWlms').each(function() {
                    ////    $(this).prop('selected',false);
                    ////});
                    ////$(function() {
                    ////    $(".multiselect").multiselect();
                    ////});
                    ////  window.location.reload(true);



                    $("#lstWlms").multiselect('checkAll');
                    $("#lstWlms").multiselect("refresh");


                    window.setTimeout(function(){
                        // do whatever you want to do


                        $("#lstAes").multiselect('checkAll');
                        $("#lstAes").multiselect("refresh");




                        $("#lstIsous").multiselect('checkAll');
                        $("#lstIsous").multiselect("refresh");

                        $("#lstProjectAction").multiselect('uncheckAll');
                        $("#lstProjectAction").multiselect("refresh");


                        $('#btnApplyDates').click();

                    }, 1000);





                   // $('#btnApplyDates').click();
                });

                //NARESH NEWLY ADD 28012020
                $('#btnApplyDates').click(function() {
                    var status = listBoxToString('lstStatus', false);
                    var projectAction = listBoxToString('lstProjectAction', false);
                    var isoUsers = listBoxToString('lstIsous', false);
                    var aeUsers = listBoxToString('lstAes', false);
                    var wlmUsers = listBoxToString('lstWlms', false);
                    //karri:D#610

                    var proprname = $("#ddlPropName").val();
                    var fhanumber = $("#ddlFHANumbers").val();
                    var assignto = $("#ddlReviewer").val();

                    var actionopen = $("#ddlProjActionOpen").val();

                    if(actionopen == null || actionopen == '')
                    {

                        actionopen=null;
                    }
                    else if(actionopen == 'True')
                    {

                        actionopen=1;
                    }
                    else
                    {
                        actionopen=0;
                    }



                    var daysopen = $("#ddlDaysToComp").val();//end

                    //if (projectAction == '') {
                    //    alert("Please select at least one Project Action.");
                    //    return false;
                    //}

                    var data = {

                        aeIds:  aeUsers,
                        isouIds:  isoUsers,
                        fromDate: _minUploadDate,
                        toDate: _maxUploadDate,
                        status: status,
                        projectAction: projectAction,
                        wlmids : wlmUsers
                        ,proprname : proprname,  //karri:D#610
                        fhanumber : fhanumber,
                        assignto : assignto,
                        actionopen : actionopen,
                        daysopen : daysopen//end
                    };
                    $.ajax({
                        url: settings.SearchRequestsUrl,
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        type: 'GET',
                        cache: false,
                        success: function (data) {
                            {
                                $("#dvUserReport").html('');
                                $("#dvUserReport").html(data);
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Refreshing Data: " + textStatus + "\nError Detail: " + errorThrown);
                        }
                    });
                });

            },
            RefreshAEsBasedOnWLM: function (event, ui) {
                var wlmIds = listBoxToString('lstWlms', false);
                if (ui.checked) {
                    wlmIds = wlmIds + ',' + ui.value;
                }
                else {
                    wlmIds = wlmIds.replace(ui.value, '');
                }
                $.ajax({
                   url:settings.GetAesBasedOnWLMIdsUrl,
                    data: { ids: wlmIds },
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        PLMReport.RepopulateAEsListbox(response);
                    },
                    error: function (xhr) {

                    }
                });
            },

            RefreshISOUsBasedOnWLM: function (event, ui) {
                // Get all the old values from lstStates
                var wlmIds = listBoxToString('lstWlms', false);

                if (ui.checked) {
                    // add the state id that was just checked
                    wlmIds = wlmIds + ',' + ui.value;
                }
                else {
                    // remove the state id that was just unchecked
                    wlmIds = wlmIds.replace(ui.value, '');
                }
                 // Get the data from the single request

                $.ajax({
                    url:'@Url.Action("GetISOUsBasedOnWLMIds")',
                    data: { ids: wlmIds },
                    cache: false,
                    type: 'POST',
                    success: function (response) {
                        PLMReport.RepopulateISOUsListbox(response);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Refreshing Data: " + textStatus + "\nError Detail: " + errorThrown);
                    }
                });
            },


            RepopulateISOUsListbox: function (response) {
                // Clear the existing list box
                $("#lstIsous").empty();

                // Add New items to the List box
                for (var i = 0; i < response.rows.length; i++) {
                    $('#lstIsous').append('<option value="' + response.rows[i].ISOU_ID + '" selected= "selected">' + response.rows[i].Manager_Name + '</option>');
                }
                // Refresh the grid with the new Aes
                $("#lstIsous").multiselect("refresh");
            },
            RepopulateAEsListbox: function (response) {

                // Clear the existing list box
                $("#lstAes").empty();

                // Add New items to the List box
                for (var i = 0; i < response.rows.length; i++) {

                    $('#lstAes').append('<option value="' + response.rows[i].Manager_Id + '" selected= "selected">' + response.rows[i].Manager_Name + '</option>');
                }



                // Refresh the grid with the new Aes
                $("#lstAes").multiselect("refresh");
            }
        }
    }());

    $(document).ready(function () {
        PLMReport.InitView();
    });
</script>

@Html.Hidden("hidlstWlms", @ViewData["hidlstWlms"])
@Html.Hidden("hidlstAes", @ViewData["hidlstAes"])
@Html.Hidden("hidlstIsous", @ViewData["hidlstIsous"])
@Html.Hidden("hidlstStatus", @ViewData["hidlstStatus"])
@Html.Hidden("hidlstProjectAction", @ViewData["hidlstProjectAction"])

<script>
    $(document).ready(function(){
        debugger;

        //$("#lstProjectAction").multiselect('uncheckAll');
        //$("#lstProjectAction").val(["3","16","37"]).trigger("change");
        //$("#lstProjectAction").multiselect("refresh");

        var ArrList = null;

        //for work load manager
        var wlmListArr = [];
        ArrList = document.getElementById("hidlstWlms").value.split(",");
        if(ArrList != null && ArrList != '' && ArrList.length > 0)
        {
            var i;
            for (i = 0; i < ArrList.length; i++) {
                wlmListArr.push(ArrList[i]);
            }
        }
        $("#lstWlms").multiselect('uncheckAll');
        $("#lstWlms").val(wlmListArr).trigger("change");
        $("#lstWlms").multiselect("refresh");


       window.setTimeout(function(){
            // do whatever you want to do


        //for account executives
        var aesListArr = [];
        ArrList = document.getElementById("hidlstAes").value.split(",");
        if(ArrList != null && ArrList != '' && ArrList.length > 0)
        {
            var i;
            for (i = 0; i < ArrList.length; i++) {
                aesListArr.push(ArrList[i]);
            }
        }

        $("#lstAes").multiselect('uncheckAll');
        $("#lstAes").val(aesListArr).trigger("change");
        $("#lstAes").multiselect("refresh");



        //for internal special options users

        var isouserListArr = [];
        ArrList = document.getElementById("hidlstIsous").value.split(",");
        if(ArrList != null && ArrList != '' && ArrList.length > 0)
        {
            var i;
            for (i = 0; i < ArrList.length; i++) {
                isouserListArr.push(ArrList[i]);
            }
        }
        $("#lstIsous").multiselect('uncheckAll');
        $("#lstIsous").val(isouserListArr).trigger("change");
        $("#lstIsous").multiselect("refresh");


        $('#btnApplyDates').click();

       }, 1000);


       //window.setTimeout(function(){
       //    $('#btnApplyDates').click();
       //}, 2000);

        //for status
        var statusListArr = [];
        ArrList = document.getElementById("hidlstStatus").value.split(",");
        if(ArrList != null && ArrList != '' && ArrList.length > 0)
        {
            var i;
            for (i = 0; i < ArrList.length; i++) {
                statusListArr.push(ArrList[i]);
            }
        }
        $("#lstStatus").multiselect('uncheckAll');
        $("#lstStatus").val(statusListArr).trigger("change");
        $("#lstStatus").multiselect("refresh");
        //for project actions

        var projactListArr = [];
        ArrList = document.getElementById("hidlstProjectAction").value.split(",");

        if(ArrList != null && ArrList != '' && ArrList.length > 0)
        {
            var i;
            for (i = 0; i < ArrList.length; i++) {
                projactListArr.push(ArrList[i]);
            }
        }
        $("#lstProjectAction").multiselect('uncheckAll');
        $("#lstProjectAction").val(projactListArr).trigger("change");
        $("#lstProjectAction").multiselect("refresh");



    })

    //$.fn.myFunction = function(){
    //    var ArrList = null;

    //    //for work load manager
    //    var wlmListArr = [];
    //    ArrList = document.getElementById("hidlstWlms").value.split(",");
    //    if(ArrList != null && ArrList != '' && ArrList.length > 0)
    //    {
    //        var i;
    //        for (i = 0; i < ArrList.length; i++) {
    //            wlmListArr.push(ArrList[i]);
    //        }
    //    }
    //    $("#lstWlms").multiselect('uncheckAll');
    //    $("#lstWlms").val(wlmListArr).trigger("change");
    //    $("#lstWlms").multiselect("refresh");

    //    //for account executives
    //    var aesListArr = [];
    //    ArrList = document.getElementById("hidlstAes").value.split(",");
    //    if(ArrList != null && ArrList != '' && ArrList.length > 0)
    //    {
    //        var i;
    //        for (i = 0; i < ArrList.length; i++) {
    //            aesListArr.push(ArrList[i]);
    //        }
    //    }
    //    $("#lstAes").multiselect('uncheckAll');
    //    $("#lstAes").val(aesListArr).trigger("change");
    //    $("#lstAes").multiselect("refresh");


    //    var isouserListArr = [];
    //    ArrList = document.getElementById("hidlstIsous").value.split(",");
    //    if(ArrList != null && ArrList != '' && ArrList.length > 0)
    //    {
    //        var i;
    //        for (i = 0; i < ArrList.length; i++) {
    //            isouserListArr.push(ArrList[i]);
    //        }
    //    }
    //    $("#lstIsous").multiselect('uncheckAll');
    //    $("#lstIsous").val(isouserListArr).trigger("change");
    //    $("#lstIsous").multiselect("refresh");

    //    //for status
    //    var statusListArr = [];
    //    ArrList = document.getElementById("hidlstStatus").value.split(",");
    //    if(ArrList != null && ArrList != '' && ArrList.length > 0)
    //    {
    //        var i;
    //        for (i = 0; i < ArrList.length; i++) {
    //            statusListArr.push(ArrList[i]);
    //        }
    //    }
    //    $("#lstStatus").multiselect('uncheckAll');
    //    $("#lstStatus").val(statusListArr).trigger("change");
    //    $("#lstStatus").multiselect("refresh");

    //    //for project actions

    //    var projactListArr = [];
    //    ArrList = document.getElementById("hidlstProjectAction").value.split(",");

    //    if(ArrList != null && ArrList != '' && ArrList.length > 0)
    //    {
    //        var i;
    //        for (i = 0; i < ArrList.length; i++) {
    //            projactListArr.push(ArrList[i]);
    //        }
    //    }
    //    $("#lstProjectAction").multiselect('uncheckAll');
    //    $("#lstProjectAction").val(projactListArr).trigger("change");
    //    $("#lstProjectAction").multiselect("refresh");

    //}
</script>


