﻿@model Model.Production.ProdPAMReportStatusGridViewModel
@{
    ViewBag.Title = "PAMReport";
}

<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    .ui-jqgrid {
        font-family: Arial;
    }

    .well {
        padding: 10px;
        background: #d9edf7;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

        .ui-jqgrid > .ui-jqgrid-view button {
            font-size: 10px;
        }

        .ui-jqgrid > .ui-jqgrid-view a {
            color: #428bca;
            font-weight: bolder;
        }

    tr.jqgroup td {
        font-weight: bold !important;
        color: black;
    }

    .ui-icon {
        font-size: 40px;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }

    .subgrid-cell .ui-helper-hidden {
        display: none;
    }

    .subgrid-cell {
        display: none;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<div>
    @Html.Partial("~/Views/ManagementReport/PAMReports/_ProdPAMNewStatusGrid.cshtml")
</div>
<br />
<div>
    @Html.Partial("~/Views/ManagementReport/PAMReports/HUDPamReportFilters.cshtml")
</div>
<br />

<div id="div_myPam" style="width:200%;">
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<script type="text/javascript">


$(document).ready(function () {

	var $grid = $("#grid");
    //$("#grid").jqGrid({
	$grid.jqGrid({
        url: '@Url.Action("GetPAMReportResultsV3", "ProdPAM")',
            datatype: "json",
            //height: 550,
            //width: 1450,
            colNames: ['Portfolio Name', 'FHA#', 'Project Name', 'Loan Type', 'Project Start Date', 'Project Stage', 'Project Status', 'WLM/GTM', 'Underwriter ', 'Appraiser', 'Environmental', 'Title & Survey', 'Closer', 'Total Days', 'Amendment', 'Comments', '290 Uploaded', 'Executed Document Uploaded', 'Loan Amount', 'CurrentTaskInstanceId', 'fhanum', 'AppraiserStatus', 'EnvironmentalistStatus', 'Title & SurveyStatus'],
            colModel: [
                 { name: "PortfolioName", index: "PortfolioName", width: 1600 },
				{

					name: "FhaNumber", index: "FhaNumber", width: 1500,
					formatter: function (cellvalue, options, rowObject) {
						//debugger;
						if (rowObject.FhaNumber != null) {
							if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request") {
								return '<p>' + rowObject.FhaNumber + '</a>';
							}
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');"  style="text-decoration: underline;" >' + rowObject.FhaNumber + '</a>';

							//return cellvalue;
						}
						else {
							return "N/A";
						}
					}
				},
                {
                    name: "ProjectName", index: "ProjectName", width: 1550,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.LoanAmount >= 25000000) {
                            if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request") {
                                return '<p style="color: red;" title="This loan is equal to or greater than $25,000,000">' + rowObject.ProjectName + '</p>';
                            }
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: red;text-decoration: underline;" title="This loan is equal to or greater than $25,000,000">' + rowObject.ProjectName + '</a>';

							//return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectName + '</Strong></p>';
						}
						else
						{
							if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request")
							{
										return '<p>' + rowObject.ProjectName + '</p>';
							}
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="text-decoration: underline;" >' + rowObject.ProjectName + '</a>';

						}
					}
                },
                {	name: "LoanType", index: "LoanType", width: 1550 },
                {	name: "ProjectStartDate", index: "ProjectStartDate", width:1600, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
				{
					name: "ProjectStage", index: "ProjectStage", width:1550,
					formatter: function (cellvalue, options, rowObject) {
						if (rowObject.ProjectStage == "IRR Request") {
							return '<p>' + rowObject.ProjectStage + '</p>';
						}
						if (rowObject.ProjectStage === "FHA Number Request") {
							return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.CurrentTaskInstanceId) + '&fhaRequestType=' + 4 + '&IsFromPam=' + 'True' + '" style="text-decoration: underline;">' + rowObject.ProjectStage + '</a>';
						}
						//else if (rowObject.ProjectStatus == "Unassigned" && rowObject.AppraiserStatus == "Unassigned"
						//    && rowObject.EnvironmentalistStatus == "Unassigned" && rowObject.TitleSurveyStatus == "Unassigned") {
						//    return '<p>' + rowObject.ProjectStage + '</p>';
						//}
						else {
							return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.CurrentTaskInstanceId) + '&IsFromPam=' + 'True' + '"  style="text-decoration: underline;">' + rowObject.ProjectStage + '</a>';
						}
					}
				},
				{
					name: "ProjectStatus", index: "ProjectStatus", width: 1550,
					formatter: function (cellvalue, options, rowObject) {
					    if (rowObject.ProjectStage === "FHA Number Request" && rowObject.ProjectStatus == "In-Process") {
					        //return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ProjectStatus + '</a>';
					        return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
					    }
					else if (rowObject.ProjectStatus == "In-Process") {
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ProjectStatus + '</a>';
						}
						else if (rowObject.ProjectStatus == "Complete" || rowObject.ProjectStatus == "N/A") {

							//return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style = "color: green;padding-top:10px;text-decoration: underline;" > ' + rowObject.ProjectStatus + '</a > ';

						}
						else if (rowObject.ProjectStatus == "Unassigned") {

							return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
						}
					}
				},
                 { name: "WLMGTM", index: "WLMGTM", width: 1500 },
				{
					name: "UnderWriterAssigned", index: "UnderWriterAssigned", width: 2000,
					formatter: function (cellvalue, options, rowObject) {
						//debugger;
						if (rowObject.IsUnderWriterAssigned == true && rowObject.UnderWriterAssigned != null) {
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'General' + '\',\'' + rowObject.ProjectStage + '\');"  style="text-decoration: underline;">' + rowObject.UnderWriterAssigned + '</a>';
						} else {
							return "No";
						}
					}
				},
				{
					name: "ReviewerAppraiserStatus", index: "ReviewerAppraiserStatus", width: 1600,
					formatter:
						function (cellvalue, options, rowObject) {


							if (rowObject.AppraiserStatus == "In-Process") {
								return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerAppraiserStatus + '</a>';
							}
							else if (rowObject.AppraiserStatus == "Complete") {
								return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerAppraiserStatus + '</a>';
							}
							else if (rowObject.AppraiserStatus == "N/A") {
								//return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
								return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerAppraiserStatus + '</Strong></p>';
							}
							else if (rowObject.AppraiserStatus == "Unassigned") {

								//return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerAppraiserStatus + '</Strong></p>';
								return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerAppraiserStatus + '</Strong></p>';
							}


						}
				},
				{
					name: "ReviewerEnvironmentalistStatus", index: "ReviewerEnvironmentalistStatus", width: 1600,
					formatter: function (cellvalue, options, rowObject) {

						if (rowObject.EnvironmentalistStatus == "In-Process") {
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerEnvironmentalistStatus + '</a>';
						}
						else if (rowObject.EnvironmentalistStatus == "Complete") {

							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerEnvironmentalistStatus + '</a>';
						}
						else if (rowObject.EnvironmentalistStatus == "N/A") {
							return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerEnvironmentalistStatus + '</Strong></p>';
						}
						else if (rowObject.EnvironmentalistStatus == "Unassigned") {

							return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerEnvironmentalistStatus + '</Strong></p>';
						}
					}
				},
				{
					name: "ReviewerTitleSurveyStatus", index: "ReviewerTitleSurveyStatus", width: 1600,
					formatter: function (cellvalue, options, rowObject) {

						if (rowObject.TitleSurveyStatus == "In-Process") {
							return '<a href="javascript:sharepointData( \'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerTitleSurveyStatus + '</a>';
						}
						else if (rowObject.TitleSurveyStatus == "Complete") {

							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerTitleSurveyStatus + '</a>';
						}
						else if (rowObject.TitleSurveyStatus == "N/A") {
							return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerTitleSurveyStatus + '</Strong></p>';
						}
						else if (rowObject.TitleSurveyStatus == "Unassigned") {

							return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerTitleSurveyStatus + '</Strong></p>';
						}
					}
				},
                  { name: "closer", index: "closer", width: 1550 },
				{ name: "TotalDays", index: "TotalDays", width: 1550 },
                //{
                //    name: "Status", index: "Status", width: 59,
                //    formatter: function (cellvalue, options, rowObject) {

                //        if (rowObject.Status == "Open") {

                //            return '<p style="color: red; padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
                //        }
                //        else if (rowObject.Status == "Complete") {

                //            return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
                //        }
                //    }
				//},
				//{
				//	name: "AmendmentCount", index: "AmendmentCount", width: 81 ,

				//	formatter: function (cellvalue, options, rowObject) {

				//		if (rowObject.AmendmentCount == 0) {
				//			return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style="text-decoration: underline;">' + rowObject.AmendmentCount + '</a>';
				//		}
				//		//else if (rowObject.AmendmentCount == 0) {

				//		//	return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.AmendmentCount + '</Strong></p>';
				//		//}
				//	}
				//},
				{
					name: "Amendment", index: "Amendment", width: 1600,

					formatter: function (cellvalue, options, rowObject) {

						if (rowObject.Amendment > 0) {
							return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Amendment' + '\',\'' + rowObject.ProjectStage + '\');" style="text-decoration: underline;">' + rowObject.Amendment + '</a>';
						}
						else {

							return '<p style="padding-top:10px;"><Strong>' + rowObject.Amendment + '</Strong></p>';
						}
					}
				},
                 { name: "comments", index: "comments", width: 1600 },
                  { name: "uploaded290", index: "uploaded290", width: 1600 },
                   { name: "executed_Document_uploaded", index: "executed_Document_uploaded", width:2700 },
                { name: "LoanAmount", index: "LoanAmount", hidden: true },
                { name: "CurrentTaskInstanceId", index: "CurrentTaskInstanceId", hidden: true },
				{ name: "FhaNumber", index: "FhaNumber", hidden: true },
                {
					name: "AppraiserStatus", index: "AppraiserStatus", width: 700, hidden: true,
                    formatter:
                    function (cellvalue, options, rowObject) {


                        if (rowObject.AppraiserStatus == "In-Process") {
                            return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
                        }
                        else if (rowObject.AppraiserStatus == "Complete") {
                            return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
                        }
                        else if (rowObject.AppraiserStatus == "N/A") {
                            return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
                        }
                        else if (rowObject.AppraiserStatus == "Unassigned") {

                            return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
                        }


                    }
				},

                {
                    name: "EnvironmentalistStatus", index: "EnvironmentalistStatus", width: 700,hidden: true,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.EnvironmentalistStatus == "In-Process") {
                            return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';
                        }
                        else if (rowObject.EnvironmentalistStatus == "Complete") {

                            return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';
                        }
                        else if (rowObject.EnvironmentalistStatus == "N/A") {
                            return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
                        }
                        else if (rowObject.EnvironmentalistStatus == "Unassigned") {

                            return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
                        }
                    }
				},

                {
                    name: "TitleSurveyStatus", index: "TitleSurveyStatus", width: 700,hidden: true,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.TitleSurveyStatus == "In-Process") {
                            return '<a href="javascript:sharepointData( \'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';
                        }
                        else if (rowObject.TitleSurveyStatus == "Complete") {

                            return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';
                        }
                        else if (rowObject.TitleSurveyStatus == "N/A") {
                            return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
                        }
                        else if (rowObject.TitleSurveyStatus == "Unassigned") {

                            return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
                        }
                    }
				},

    //            {
    //                name: "IsUnderWriterAssigned", index: "IsUnderWriterAssigned", width: 155,
    //                formatter: function (cellvalue, options, rowObject) {
    //                    //debugger;
    //                    if (rowObject.IsUnderWriterAssigned == true) {
    //                        return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');"  style="text-decoration: underline;">Yes</a>';
    //                        //return "Yes";
    //                    } else {
    //                        return "No";
    //                    }
    //                }
				//},

            ],
            //pager: $("#pager"),
            //rowNum: 50,
            //rowList: [50, 60, 70, 80, 100],
            //rownumbers: true,
            //loadonce: true,
            //viewrecords: true,
            //autowidth: false,
            //jsonReader: {
            //    root: "rows",
            //    page: "page",
            //    total: "total",
            //    records: "records",
            //    repeatitems: true,
            //    cell: "cell",
            //    id: "id",
            //    subgrid: {
            //        root: "rows",
            //        repeatitems: true,
            //        cell: "cell"
            //    }
            //}
			//loadonce: false,
			//caption: "Production PAM Report",
			////height: "1000px",
			//autowidth: true,
			//autoheight: true,
			//shrinkToFit: true,
			//cmTemplate: { sortable: false },
			//autoencode: true,
			//gridview: true,
			//ignoreCase: true,
			//sortable: true,

			//width: 750,
			//emptyrecords: 'No records to display',

	    //Added by siddu //
			height: '100%',
			rowNum: 40,
			rowList: [40, 80, 120, 160, ],
			rownumbers: true,
			viewrecords: true,
			autowidth: true,
			autoencode: true,
			loadonce: true,
			sortable: true,
			//sortable: 'STATUS',
			pager: true,
			pager: "#pager",
			caption: "Production PAM Report",
			emptyrecords: 'No records to display',
			//jsonReader: {
			//	root: "rows",
			//	page: "page",
			//	total: "total",
			//	records: "records",
			//	repeatitems: false
			//},
			onSelectRow: function (rowid) {

                return false;
            },
			subGrid: true,
        //naveen 21june2019--add below code
			subGridRowExpanded: function (subgrid_id, row_id) {
			    // debugger;
			    var subgrid_table_id, pager_id;
			    var Type = 'FHA Request';
			    var stat = false;
			    subgrid_table_id = subgrid_id + "_t";
			    $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
			    var selectedRow = $(this).getRowData(row_id).CurrentTaskInstanceId;
			    //debugger;

			    //if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
			    //    Type = 'View';
			    //    stat = true;
			    //}

			    jQuery("#" + subgrid_table_id).jqGrid({
			        url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
			        // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123,
			        postData: { taskInstanceId: selectedRow },
			        datatype: 'json',
			        colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By'],
			        colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                        { name: "FhaType", index: "FhaType", width: 150, align: "Center" },
                        { name: "Status", idex: "Status", width: 200 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 200, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 200 },
                        { name: "AssignedBy", index: "AssignedBy", width: 150 },

			        ],
			        height: 'auto',
			        autowidth: true,
			        emptyrecords: 'No records to display',
			        jsonReader: { repeatitems: false, root: "attribute" }
			    });
			    jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
			}
	    //naveen 21june2019--commented below code
	    @*subGridRowExpanded: function (subgrid_id, row_id) {
               // debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                var stat = false;
                subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
				var tskinstid = $(this).getRowData(row_id).CurrentTaskInstanceId;
				var fhanum = $(this).getRowData(row_id).FhaNumber;

                jQuery("#" + subgrid_table_id).jqGrid({
					url: '@Url.Action("GetPAMSubReportResultsV3", "ProdPAM")',
					postData: { pTaskInstanceId: tskinstid, pFHANumber: fhanum },
                    datatype: 'json',
					colNames: ['FHA#', 'Project Name', 'Loan Type', 'Project Start Date', 'Project Stage', 'Project Status', 'Underwiter Assigned', 'Appraiser', 'Environmentalist', 'Title & Survey', 'Total Days', 'Status', 'Loan Amount', 'CurrentTaskInstanceId', 'AppraiserStatus', 'EnvironmentalistStatus', 'Title & SurveyStatus'],
					colModel: [
						{
							name: "FhaNumber", index: "FhaNumber", width: 80,
							formatter: function (cellvalue, options, rowObject) {
								//debugger;
								if (rowObject.FhaNumber != null) {
									if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request") {
										return '<p>' + rowObject.FhaNumber + '</a>';
									}
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');"  style="text-decoration: underline;" >' + rowObject.FhaNumber + '</a>';
								}
								else {
									return "N/A";
								}
							}
						},
						{
							name: "ProjectName", index: "ProjectName", width: 130,
							formatter: function (cellvalue, options, rowObject) {
								if (rowObject.LoanAmount >= 25000000) {
									if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request") {
										return '<p style="color: red;" title="This loan is equal to or greater than $25,000,000">' + rowObject.ProjectName + '</p>';
									}
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: red;text-decoration: underline;" title="This loan is equal to or greater than $25,000,000">' + rowObject.ProjectName + '</a>';
								}
								else {
									if (rowObject.ProjectStage == "FHA Number Request" || rowObject.ProjectStage == "IRR Request") {
										return '<p>' + rowObject.ProjectName + '</p>';
									}
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="text-decoration: underline;" >' + rowObject.ProjectName + '</a>';
								}
							}
						},
						{ name: "LoanType", index: "LoanType", width: 120 },
						{ name: "ProjectStartDate", index: "ProjectStartDate", width: 129, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
						{
							name: "ProjectStage", index: "ProjectStage", width: 101,
							formatter: function (cellvalue, options, rowObject) {
								if (rowObject.ProjectStage == "IRR Request") {
									return '<p>' + rowObject.ProjectStage + '</p>';
								}
								if (rowObject.ProjectStage === "FHA Number Request") {
									return '<a href="/ProductionMyTask/GetProductionTaskDetail?parentChildInstanceId=' + (rowObject.CurrentTaskInstanceId) + '&fhaRequestType=' + 4 + '&IsFromPam=' + 'True' + '" style="text-decoration: underline;">' + rowObject.ProjectStage + '</a>';
								}
								else {
									return '<a href="/ProductionMyTask/GetTaskDetail?taskInstanceId=' + (rowObject.CurrentTaskInstanceId) + '&IsFromPam=' + 'True' + '"  style="text-decoration: underline;">' + rowObject.ProjectStage + '</a>';
								}
							}
						},
						{
							name: "ProjectStatus", index: "ProjectStatus", width: 108,
							formatter: function (cellvalue, options, rowObject) {

								if (rowObject.ProjectStatus == "In-Process") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ProjectStatus + '</a>';
								}
								else if (rowObject.ProjectStatus == "Complete" || rowObject.ProjectStatus == "N/A") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Underwriter/Closer' + '\',\'' + rowObject.ProjectStage + '\');" style = "color: green;padding-top:10px;text-decoration: underline;" > ' + rowObject.ProjectStatus + '</a > ';
								}
								else if (rowObject.ProjectStatus == "Unassigned") {
									return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
								}
							}
						},
						{
							name: "UnderWriterAssigned", index: "UnderWriterAssigned", width: 108,
							formatter: function (cellvalue, options, rowObject) {
								debugger;
								if (rowObject.IsUnderWriterAssigned == true && rowObject.UnderWriterAssigned != null) {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'General' + '\',\'' + rowObject.ProjectStage + '\');"  style="text-decoration: underline;">' + rowObject.UnderWriterAssigned + '</a>';
								} else {
									return "No";
								}
							}
						},
						{
							name: "ReviewerAppraiserStatus", index: "ReviewerAppraiserStatus", width: 83,
							formatter:
								function (cellvalue, options, rowObject) {
									if (rowObject.AppraiserStatus == "In-Process") {
										return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerAppraiserStatus + '</a>';
									}
									else if (rowObject.AppraiserStatus == "Complete") {
										return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerAppraiserStatus + '</a>';
									}
									else if (rowObject.AppraiserStatus == "N/A") {
										return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerAppraiserStatus + '</Strong></p>';
									}
									else if (rowObject.AppraiserStatus == "Unassigned") {
										return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerAppraiserStatus + '</Strong></p>';
									}
								}
						},
						{
							name: "ReviewerEnvironmentalistStatus", index: "ReviewerEnvironmentalistStatus", width: 127,
							formatter: function (cellvalue, options, rowObject) {

								if (rowObject.EnvironmentalistStatus == "In-Process") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerEnvironmentalistStatus + '</a>';
								}
								else if (rowObject.EnvironmentalistStatus == "Complete") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerEnvironmentalistStatus + '</a>';
								}
								else if (rowObject.EnvironmentalistStatus == "N/A") {
									return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerEnvironmentalistStatus + '</Strong></p>';
								}
								else if (rowObject.EnvironmentalistStatus == "Unassigned") {
									return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerEnvironmentalistStatus + '</Strong></p>';
								}
							}
						},
						{
							name: "ReviewerTitleSurveyStatus", index: "ReviewerTitleSurveyStatus", width: 105,
							formatter: function (cellvalue, options, rowObject) {

								if (rowObject.TitleSurveyStatus == "In-Process") {
									return '<a href="javascript:sharepointData( \'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.ReviewerTitleSurveyStatus + '</a>';
								}
								else if (rowObject.TitleSurveyStatus == "Complete") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.ReviewerTitleSurveyStatus + '</a>';
								}
								else if (rowObject.TitleSurveyStatus == "N/A") {
									return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ReviewerTitleSurveyStatus + '</Strong></p>';
								}
								else if (rowObject.TitleSurveyStatus == "Unassigned") {
									return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ReviewerTitleSurveyStatus + '</Strong></p>';
								}
							}
						},
						{ name: "TotalDays", index: "TotalDays", width: 81 },
						{
							name: "Status", index: "Status", width: 59,
							formatter: function (cellvalue, options, rowObject) {
								if (rowObject.Status == "Open") {
									return '<p style="color: red; padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
								}
								else if (rowObject.Status == "Close") {
									return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
								}
							}
						},
						{ name: "LoanAmount", index: "LoanAmount", hidden: true },
						{ name: "CurrentTaskInstanceId", index: "CurrentTaskInstanceId", hidden: true },

						{
							name: "AppraiserStatus", index: "AppraiserStatus", width: 83, hidden: true,
							formatter:
								function (cellvalue, options, rowObject) {
									if (rowObject.AppraiserStatus == "In-Process") {
										return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
									}
									else if (rowObject.AppraiserStatus == "Complete") {
										return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Appraiser' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
									}
									else if (rowObject.AppraiserStatus == "N/A") {
										return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
									}
									else if (rowObject.AppraiserStatus == "Unassigned") {
										return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
									}
								}
						},
						{
							name: "EnvironmentalistStatus", index: "EnvironmentalistStatus", width: 127, hidden: true,
							formatter: function (cellvalue, options, rowObject) {
								if (rowObject.EnvironmentalistStatus == "In-Process") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';
								}
								else if (rowObject.EnvironmentalistStatus == "Complete") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Environmentalist' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';
								}
								else if (rowObject.EnvironmentalistStatus == "N/A") {
									return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
								}
								else if (rowObject.EnvironmentalistStatus == "Unassigned") {
									return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
								}
							}
						},
						{
							name: "TitleSurveyStatus", index: "TitleSurveyStatus", width: 105, hidden: true,
							formatter: function (cellvalue, options, rowObject) {
								if (rowObject.TitleSurveyStatus == "In-Process") {
									return '<a href="javascript:sharepointData( \'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: rgb(255,0,255);text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';
								}
								else if (rowObject.TitleSurveyStatus == "Complete") {
									return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\',\'' + 'Survey' + '\',\'' + rowObject.ProjectStage + '\');" style="color: green;text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';
								}
								else if (rowObject.TitleSurveyStatus == "N/A") {
									return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
								}
								else if (rowObject.TitleSurveyStatus == "Unassigned") {
									return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
								}
							}
						},
					],
                    height: 'auto',
                    autowidth: true,
                    emptyrecords: 'No records to display',
                    jsonReader: { repeatitems: false, root: "attribute" }
                });
                //jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
            }*@











	});

    $grid.jqGrid("navGrid", "#pager",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

	//$("#grid").jqGrid("navGrid", "#pager",
	//	{ add: false, edit: false, del: false }, {}, {}, {},
	//	{ multipleSearch: false, multipleGroup: false });

});
    //$("#grid").jqGrid('navGrid', '#pager', { add: false, edit: false, del: false, search: false, refresh: true },
    //    {}, {}, {}, { multipleSearch: true, multipleGroup: true, showQuery: true });

    function sharepointData(id, name, stage) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id, name, stage);
        });

    }
    function loadSharepoint(ClosingAppStatus, id, name, stage) {
        if (!ClosingAppStatus) {
            $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id, pAssignedTo: name, pProjectStage: stage  }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
</script>