﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model Model.Production.ProductionPAMReportModel
@{
    ViewBag.Title = "Production PAM Report";
}


<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<style>
    ol {
        margin-left: -40px;
    }

        ol il {
            float: left;
            width: 290px;
        }

    br {
        clear: left;
    }

    div.wrapper {
        margin-bottom: 20px;
    }

    .datePickerTextBox {
        width: 100px;
        height: 25px;
    }

    .highrisk {
        color: black;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 5px;
        margin-left: -4px;
        padding-right: 6px;
        margin-right: -5px;
    }

    tr.header_row th:nth-child(5) {
        width: auto;
    }

    tr.item_row td:nth-child(5) {
        width: auto;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
        border: 1px solid black;
    }

    .ui-multiselect {
        font-size: 12px;
    }

    .multiselect option {
        display: block;
        font-size: 8px !important;
    }

    /* remove label borders in IE6 because IE6 does not support transparency */

    * html .ui-multiselect-checkboxes label {
        border: none;
        padding: 10px;
    }

    tr.header_row th:nth-child(5) {
        width: 300px;
    }
</style>

<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------- -->
@using (Html.BeginForm())
{



    <div class="row" style="padding: 5px;">

        @Html.Partial("~/Views/ManagementReport/PAMReports/__CommonSearchForProdPAM.cshtml", Model)

    </div>



    <div>
        <div id="dvUserReport">
            @Html.Partial("~/Views/ManagementReport/PAMReports/_ProdPamSearchResult.cshtml")
        </div>
    </div>


}


