﻿@{
    ViewBag.Title = "ProdPAMTestReport";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<style type="text/css">
    .ui-jqgrid {
        font-family: Arial;
    }

    .well {
        padding: 10px;
        background: #d9edf7;
    }

    .ui-jqgrid > .ui-jqgrid-view {
        font-size: 12px;
    }

        .ui-jqgrid > .ui-jqgrid-view button {
            font-size: 10px;
        }

        .ui-jqgrid > .ui-jqgrid-view a {
            color: #428bca;
            font-weight: bolder;
        }

    tr.jqgroup td {
        font-weight: bold !important;
        color: black;
    }

    .ui-icon {
        font-size: 40px;
    }

    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }

    .subgrid-cell .ui-helper-hidden {
        display: none
    }

    .subgrid-cell {
        display: none
    }
</style>
<div>
    @Html.Partial("~/Views/ManagementReport/PAMReports/_ProdPAMNewStatusGrid.cshtml")
</div>
<br/>
<div id="div_myPam">
    <table id="grid"></table>
</div>


<script type="text/javascript">


    $(document).ready(function () {
        //var data = [[""], [""]];

        //var subgridData1 = [["Test Project", "123-45678", "Purchase/Refinance 223f", "12/1/2017", 18, "Open"],
        //["Test Project 2", "345-67890", "Refinance 223 a7", "12/6/2017", 13, "Open"]];
        //var subgridData2 = [["Closing", "Unassigned", "In-Process", "Completed", "Unassigned", "Yes"],
        //["FHA Number", "In-Process", "N/A", "N/A", "N/A", "No"]];

        //var globalSubGridNames = [];

        $("#grid").jqGrid({
            url: '@Url.Action("GetPAMReportResults", "ProdPAM")',
            datatype: "json",
            height: 550,
            width: 860,
            colNames: ['TaskInstanceId','FHANumber','PAM Report'],
            colModel: [
                {
                    name: 'TaskinstanceId',
                    index: 'TaskinstanceId'
                    //,width: 60
                    , hidden: true
                },
                {
                    name: 'FHANumber',
                    index: 'FHANumber'
                    //,width: 60
                    ,hidden: true
                },
                {
                    name: 'ProjectName',
                    index: 'ProjectName'
                    
                }
            ],
            loadonce: false,
            autowidth:false,
            subGrid: true,
            subGridOptions: { expandOnLoad: true, openicon: "ui-helper-hidden" },
            subGridRowExpanded: showChildGrids,
            gridComplete: function () {
                var timeOut = 50;
                var rowIds = $("#grid").getDataIDs();
                $.each(rowIds, function (index, rowId) {
                    setTimeout(function () {
                        $("#grid").expandSubGridRow(rowId);
                    }, timeOut);
                    timeOut = timeOut + 200;
                });
            }
        });
        $("#grid").jqGrid('hideCol', 'subgrid');
        function showChildGrids(parentRowID, parentRowKey) {
            showFirstChildGrid(parentRowID, parentRowKey);
            showSecondChildGrid(parentRowID, parentRowKey);
        }

        function showFirstChildGrid(parentRowID, parentRowKey) {
            //debugger;
            var childGridID = parentRowID + "_table2";
            $('#' + parentRowID).append('<table id=' + childGridID + '></table>');
            var taskInstanceId = jQuery("#grid").getRowData(parentRowKey).TaskinstanceId;
            $("#" + childGridID).jqGrid({
                url: '@Url.Action("GetPAMGridOneResults", "ProdPAM")',
                postData: { TaskInstanceId: taskInstanceId },
                mtype: "GET",
                datatype: 'json',
                colNames: ['Project Name', 'FHA#', 'Loan Type', 'Project Start Date', 'Total Days', 'Status','Loan Amount','CurrentTaskInstanceId'],
                colModel: [{
                                name: "ProjectName", index: "ProjectName", width: 130,
                                formatter: function (cellvalue, options, rowObject) {
                                    if (rowObject.LoanAmount >= 25000000) {
                                        return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: red;text-decoration: underline;" title="This loan is equal to or greater than $25,000,000">' + rowObject.ProjectName + '</a>';

                                        //return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectName + '</Strong></p>';
                                    } else {
                                        //return cellvalue;
                                        return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="text-decoration: underline;" >' + rowObject.ProjectName + '</a>';

                                    }
                                }
                           },
                    {
                        name: "FhaNumber", index: "FhaNumber", width: 130,
                        formatter: function (cellvalue, options, rowObject) {
                            //debugger;
                            if (rowObject.FhaNumber != null) {
                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');"  style="text-decoration: underline;" >' + rowObject.FhaNumber + '</a>';

                                //return cellvalue;
                            }
                            else {
                                return "N/A";
                            }
                        }
                    },
                { name: "LoanType", index: "LoanType", width: 150 },
                { name: "ProjectStartDate", index: "ProjectStartDate", width: 150, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: "TotalDays", index: "TotalDays", width: 100 },
                {
                    name: "Status", index: "Status", width: 180,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.Status == "Open") {

                            return '<p style="color: red; padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
                        }
                        else if (rowObject.Status == "Complete") {

                            return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.Status + '</Strong></p>';
                        }
                    }
                },
                { name: "LoanAmount", index: "LoanAmount", hidden: true },
                { name: "CurrentTaskInstanceId", index: "CurrentTaskInstanceId", hidden: true }],
                rowNum: 20,
                loadonce: true,
                autowidth:false,
                //sortname: 'num',
                //sortorder: "asc", height: '100%',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    subgrid: {
                        root: "rows",
                        repeatitems: true,
                        cell: "cell"
                    }
                }
            });

        }

        function showSecondChildGrid(parentRowID, parentRowKey) {
            //debugger;
            var childGridID = parentRowID + "_table";
            $('#' + parentRowID).append('<table id=' + childGridID + '></table>');
            var taskInstanceId = jQuery("#grid").getRowData(parentRowKey).TaskinstanceId;
            $("#" + childGridID).jqGrid({
                url: '@Url.Action("GetPAMGridTwoResults", "ProdPAM")',
                postData: { TaskInstanceId: taskInstanceId },
                mtype: "GET",
                datatype: 'json',
                colNames: ['Project Stage', 'Project Status', 'Appraiser', 'Environmentalist', 'Title & Survey', 'Contractor Assigned','Current TaskInstanceId'],
                colModel: [{ name: "ProjectStage", index: "ProjectStage", width: 130 },
                    {
                        name: "ProjectStatus", index: "ProjectStatus", width: 130,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.ProjectStatus == "In-Process") {

                                return '<p style="color: yellow;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
                            }
                            else if (rowObject.ProjectStatus == "Complete" || rowObject.ProjectStatus == "N/A") {

                                return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
                            }
                            else if (rowObject.ProjectStatus == "Unassigned") {

                                return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.ProjectStatus + '</Strong></p>';
                            }
                        }
                    },
                    {
                        name: "AppraiserStatus", index: "AppraiserStatus", width: 130,
                        //cellattr: function (rowId, tv, rawObject, cm, rdata) {
                        //    //debugger;
                        //    if (rawObject.AppraiserStatus == "In-Process") {
                        //        return ' onClick="addLink(' + '\'' +
                        //            rowId + '\'' + ')" style="background-color:red"';
                        //    } else {
                        //        return 'style="color:black"';
                        //    }
                        //}
                        formatter: 
                        function (cellvalue, options, rowObject) {
                            
                            
                            if (rowObject.AppraiserStatus == "In-Process") {
                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId +'\');" style="color: yellow;text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
                                
                            }
                            else if (rowObject.AppraiserStatus == "Complete") {

                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId +'\');" style="color: green;text-decoration: underline;">' + rowObject.AppraiserStatus + '</a>';
                            }
                            else if (rowObject.AppraiserStatus == "N/A"){
                                return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
                            }
                            else if (rowObject.AppraiserStatus == "Unassigned") {

                                return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.AppraiserStatus + '</Strong></p>';
                            }


                        }
                    },
                    {
                        name: "EnvironmentalistStatus", index: "EnvironmentalistStatus", width: 150,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.EnvironmentalistStatus == "In-Process") {
                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: yellow;text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';

                                //return '<p style="color: yellow;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
                            }
                            else if (rowObject.EnvironmentalistStatus == "Complete") {

                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: green;text-decoration: underline;">' + rowObject.EnvironmentalistStatus + '</a>';
                            }
                            else if (rowObject.EnvironmentalistStatus == "N/A") {
                                return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
                            }
                            else if (rowObject.EnvironmentalistStatus == "Unassigned") {

                                return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.EnvironmentalistStatus + '</Strong></p>';
                            }
                        }
                    },
                    {
                        name: "TitleSurveyStatus", index: "TitleSurveyStatus", width: 130,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.TitleSurveyStatus == "In-Process") {
                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: yellow;text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';

                                //return '<p style="color: yellow;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
                            }
                            else if (rowObject.TitleSurveyStatus == "Complete") {

                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');" style="color: green;text-decoration: underline;">' + rowObject.TitleSurveyStatus + '</a>';
                            }
                            else if (rowObject.TitleSurveyStatus == "N/A") {
                                return '<p style="color: green;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
                            }
                            else if (rowObject.TitleSurveyStatus == "Unassigned") {

                                return '<p style="color: red;padding-top:10px;"><Strong>' + rowObject.TitleSurveyStatus + '</Strong></p>';
                            }
                        }
                    },
                    {
                        name: "IsContractorAssigned", index: "IsContractorAssigned", width: 170,
                        formatter: function (cellvalue, options, rowObject) {

                            if (rowObject.IsContractorAssigned == true) {
                                return '<a href="javascript:sharepointData(\'' + rowObject.CurrentTaskInstanceId + '\');"  style="text-decoration: underline;">Yes</a>';
                                //return "Yes";
                            } else {
                                return "No";
                            }
                        }
                    },
                    { name:'CurrentTaskInstanceId', index: 'CurrentTaskInstanceId', hidden: true}
                ],
                rowNum: 20,
                height: 'auto',
                autowidth: false,
                loadonce: true,
                emptyrecords: 'No records to display',
                //autowidth: false,
                //sortname: 'num',
                //sortorder: "asc", height: '100%'
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: true,
                    cell: "cell",
                    id: "id",
                    subgrid: {
                        root: "rows",
                        repeatitems: true,
                        cell: "cell",
                        id: "id"
                    }
                }
            });

           

        }

        
    });
    function sharepointData(id) {
        
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id);
        });

    }
    function loadSharepoint(ClosingAppStatus,id) {
        if (!ClosingAppStatus) {
        $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
</script>

