﻿@model Model.Production.DocumentTypeModel
@{
    Layout = null;
}
<style type="text/css">
    .well {
        background: #d9edf7;
    }

    .close {
        opacity: 100;
    }
</style>
<link href="~/Scripts/jquery-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/Scripts/jquery-multiselect/BootstarpAnimation.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<script src="~/Scripts/jquery-multiselect/Bootstrap.multiselectV2.js"></script>
<div class="modal-dialog" style="width: 500px;">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" style="color:red" data-dismiss="modal">&times;</button>
            <h3 class="text-center heading faa-horizontal faa-slow animated">Are you sure you want to assign this document type to the file?</h3>

        </div>


        @using (Html.BeginForm("changeDoumentType", "ProductionApplication", FormMethod.Post, new { @class = "modal-form", id = "myForm" }))
        {
                  
             @Html.HiddenFor(m => m.DocumentTypeId, new { id = "DocumentTypeId" })
             @Html.HiddenFor(m => m.FileIdlist, new { id = "FileId" })
            <div class="modal-footer">
              
                <button class="btn btn-primary" type="submit">Yes</button>
                <button class="btn-default" data-dismiss="modal" aria-hidden="true">No</button>

            </div>
        }
    </div>
    <!-- /.modal-content -->
</div>

<script>

    var PLMReport = (function () {
        var progChange = false;
        var settings = window.settingsObject;
        var listBoxToString = function (listBox, all) {
            //  debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };

        var listboxText = function (listBox, all) {
            // debugger;
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }

            if (listBox == null) { return ""; }

            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.text);
                }
            }
            return options.join(",");
        };



        return {
            InitView: function () {



                // debugger;
                $("#ListOfFiles").multiselect({




                    enableCaseInsensitiveFiltering: true
                    , filterPlaceholder: 'Search'
                    , maxHeight: 400
                     , nonSelectedText: 'Select Files'
                     , includeSelectAllOption: true
                    , onDeselectAll: function () {

                    }
                   , onSelectAll: function () {
                       // debugger;
                       var arry = listBoxToString('ListOfFiles', true);


                       //var array = arry.split(',');
                       $('#FileIdlist').val('');
                       $('#FileIdlist').val(arry);



                   }
                                           ,
                    onChange: function (element, checked) {
                        // debugger;
                        if (checked) {

                            var arry = listBoxToString('ListOfFiles', false);
                            $('#FileIdlist').val('');
                            $('#FileIdlist').val(arry);
                        }
                        else {


                        }
                    }


                });

                $("#FromFolder").multiselect({

                    enableCaseInsensitiveFiltering: true
                 , filterPlaceholder: 'Search'
                 , maxHeight: 400
                  , nonSelectedText: 'Select Folder'
                  , includeSelectAllOption: true
                 , onDeselectAll: function () {

                 }
                , onSelectAll: function () {
                    var arry = listBoxToString('FromFolder', true);

                    var folderkeys = arry.split(',');
                    PLMReport.RefreshFilesbyFolder(folderkeys, 'Files')
                    PLMReport.RefreshDocTypesbyFolder(folderkeys, 'Files')

                }
                                        ,
                    onChange: function (element, checked) {
                        if (checked) {

                            var arry = listBoxToString('FromFolder', false);
                            var folderkeys = arry.split(',');
                            PLMReport.RefreshFilesbyFolder(folderkeys, 'Files')
                            PLMReport.RefreshDocTypesbyFolder(folderkeys, 'Files')
                        }
                        else {


                        }
                    }


                });



            },
            RefreshFilesbyFolder: function (generic, type) {

                var data = new FormData();
                data.append("FoldeKeys", generic);
                data.append("TaskInstanceId", $("#TaskInstanceId").val());


                // Get the data from the single request
                $.ajax({
                    url: '/ProductionApplication/GetFilesToChangeDocTypeForSelectedFolder',
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {

                        PLMReport.RepopulatebyFileID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },
            RefreshDocTypesbyFolder: function (generic, type) {

                var data = new FormData();
                data.append("FoldeKeys", generic);
                data.append("TaskInstanceId", $("#TaskInstanceId").val());


                // Get the data from the single request
                $.ajax({
                    url: '/ProductionApplication/GetDocTypesForSelectedFolder',
                    data: data,
                    contentType: false,
                    processData: false,
                    cache: false,
                    type: 'POST',
                    success: function (response) {

                        PLMReport.RepopulatebyDocTypeID(response);
                    },
                    error: function (xhr) {
                        // TODO: alert the user about the error
                    }
                });
            },

            RepopulatebyFileID: function (response) {
                $("#ListOfFiles").empty();
                for (var i = 0; i < response.temp.length; i++) {
                    if ($("#ListOfFiles option[value='" + response.temp[i].Value + "']").length == 0) {
                        $("#ListOfFiles").append('<option value="' + response.temp[i].Value + '" >' + response.temp[i].Text + '</option>');
                    }
                }

                //$("#AvailableFolders").multiselect("rebuild");
                $("#ListOfFiles").multiselect("rebuild");
                $('button[class*=multiselect]').css('width', '200px');
                $('input[type=checkbox]').css("float", "none");
            },
            RepopulatebyDocTypeID: function (response) {
                $("#DocTypeList").empty();
                for (var i = 0; i < response.temp.length; i++) {
                    if ($("#DocTypeList option[value='" + response.temp[i].Value + "']").length == 0) {
                        $("#DocTypeList").append('<option value="' + response.temp[i].Value + '" >' + response.temp[i].Text + '</option>');
                    }
                }


            },


        }
    }());

    $(document).ready(function () {
        // debugger;
        PLMReport.InitView();
        //  debugger;
        $('button[class*=multiselect]').css('width', '200px');

        $('input[type=checkbox]').css("float", "none");


    });



</script>


<script type="text/javascript">
    function reloadGrid() {
        location.reload();
        $("#fileUploadGrid").trigger("reloadGrid");
    }
    $(document).on('submit', '#myForm', function(event){

        event.preventDefault();

       debugger;
          {

            var url = '@Url.Action("changeDoumentType", "ProductionApplication")';
            $.ajax({
                url: url,
                 type:'POST',
                 data: { fileId: $('#FileId').val(), docTypeId: $('#DocumentTypeId').val() },
                    success: function () {
                    $('#sucess_alert').alert();
                    $('#sucess_alert').fadeTo(1000, 500).slideUp(500, function () { $('#sucess_alert').slideUp(500) });
                    reloadGrid();
                    $('#dialogDiv').modal('toggle');
                },
                error: function (data) {
                    alert("Error in Changing Document Type");
                },

            });
        }
        


    });

</script>
