﻿@using Core
@using HUDHealthcarePortal.BusinessService

@model Model.ReportModel


<style type="text/css">
  
    th {
    text-align: center;
}
</style>
<script type="text/javascript">
    $(document).ready(

        function () {
            
            styleGrid();
            GetUserPreference();
            //  debugger;
            $('#TotalProp').text('@Model.ReportHeaderModel.TotalProperties.ToString()');
            $('#TotalEx').text('@Model.ReportHeaderModel.TotalPropertieswithException.ToString()');
            $('#TotalPropFooter').text('@Model.ReportHeaderModel.TotalProperties.ToString()');
            var total = 0;
            @*var tbl = $("#gridContent").parent().find('table');

                    tbl.children('tbody').append('<tr><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalNoiError + '</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalOpRevError +'</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalDSCRError +'</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b></b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalADRError +' </b></td><td><b> </b></td><td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalColError +' </b></td>  </tr>');*@


        }
    );
    function GetUserPreference() {
        $.getJSON('@Url.Action("GetPDRUserPrefrence","UserPreference")', function (result) {
            $.each(result,
                function (index) {
                    var startingColumn = 3;
                    var prdColumnId = result[index].PDRColumnID;
                    hideColumn(startingColumn + prdColumnId);

                });

        });
    }
    function hideColumn(columnIndex) {
        $('.webGrid td:nth-child(' + (columnIndex) + '),th:nth-child(' + (columnIndex) + ')').hide();
    }
    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }


    function _CalbackPaginate() {

        gridUpdateCallBack();
        styleGrid();
        GetUserPreference();
    }
</script>


@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "_CalbackPaginate()");

}

<script type="text/javascript">

    var _gridHeadings = ['@ProjectDetailReportGridColumnHeadings.NOICumulative.ToString("g")'
    ];
    var _gridHeadingDescs = ['@EnumType.GetEnumDescription(ProjectDetailReportGridColumnHeadings.NOICumulative)'
    ];



    $(document).ready(
        function () {

            gridUpdateCallBack();
        }
    );

    function gridUpdateCallBack() {
        // debugger;

        var sample = $('#gridContent table thead tr th')[7].innerText;
        if ($('#gridContent table thead tr th')[7].innerText == 'NOI Cumulative') {

            $('#gridContent table thead tr th')[7].innerHTML = $('#gridContent table thead tr th')[7].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='Cumulative Rev - Cumulative Exp'/>";
            //alert(true);
        }

        if ($('#gridContent table thead tr th')[8].innerText == 'Qtrly NOI') {
            $('#gridContent table thead tr th')[8].innerHTML = $('#gridContent table thead tr th')[8].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title=' NOI Cumulative of current quarter - NoI cumulative of previous quarter'/>";
        }
        if ($('#gridContent table thead tr th')[9].innerText == 'NOI Quarter/Quarter') {
            $('#gridContent table thead tr th')[9].innerHTML = $('#gridContent table thead tr th')[9].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title=' Current Qtrly NOI - Previous Qtrly NOI'/>";
        }

        if ($('#gridContent table thead tr th')[10].innerText == 'NOI Percentage Change') {
            $('#gridContent table thead tr th')[10].innerHTML = $('#gridContent table thead tr th')[10].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly NOI - Previous Qtrly NOI) / previous Qtrly NOI)*100'/>";
        }

        if ($('#gridContent table thead tr th')[13].innerText == 'Qtrly Operating Rev') {
            $('#gridContent table thead tr th')[13].innerHTML = $('#gridContent table thead tr th')[13].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='Cummulative Rev  of current quarter - Cummulative rev of previous Quarter'/>";
        }

        if ($('#gridContent table thead tr th')[14].innerText == 'Qtrly Operating Exp') {
            $('#gridContent table thead tr th')[14].innerHTML = $('#gridContent table thead tr th')[14].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='Cummulative Exp  of current quarter - Cummulative Exp of previous Quarter'/>";
        }

        if ($('#gridContent table thead tr th')[15].innerText == 'Rev Quarter/Quarter') {
            $('#gridContent table thead tr th')[15].innerHTML = $('#gridContent table thead tr th')[15].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='Current Quarter operating  rev - previous quarter Operating Revenue'/>";
        }

        if ($('#gridContent table thead tr th')[16].innerText == 'Rev Percentage Change') {
            $('#gridContent table thead tr th')[16].innerHTML = $('#gridContent table thead tr th')[16].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly Operating Rev - Previous Qtrly Operating Rev) / previous Qtrly Operating Rev)*100'/>";
        }


        if ($('#gridContent table thead tr th')[17].innerText == 'Cumulative DSCR') {
            $('#gridContent table thead tr th')[17].innerHTML = $('#gridContent table thead tr th')[17].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Total Revenue - Total Expenses) / Fha insured principal & interest Payment + MIP'/>";
        }

        if ($('#gridContent table thead tr th')[18].innerText == 'Qrtly DSCR') {
            $('#gridContent table thead tr th')[18].innerHTML = $('#gridContent table thead tr th')[18].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Cummulative DSCR of current quarter - Cummulative DSCR of previous quarter )'/>";
        }

        if ($('#gridContent table thead tr th')[19].innerText == 'DSCR Difference Per Quarter') {
            $('#gridContent table thead tr th')[19].innerHTML = $('#gridContent table thead tr th')[19].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Current Quarter DSCR - Previous Quarter DSCR)'/>";
        }

        if ($('#gridContent table thead tr th')[20].innerText == 'DSCR Percentage Change') {
            $('#gridContent table thead tr th')[20].innerHTML = $('#gridContent table thead tr th')[20].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly DSCR - Previous Qtrly DSCR) / previous Qtrly DSCR)*100'/>";
        }

        if ($('#gridContent table thead tr th')[22].innerText == 'Qrtly Resident Days') {
            $('#gridContent table thead tr th')[22].innerHTML = $('#gridContent table thead tr th')[22].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Current Ciumulative residents days of current quarter - Cumulative residents days of previous quarter)'/>";
        }

        if ($('#gridContent table thead tr th')[23].innerText == 'Cumulative Average Daily Rate (ADR)') {
            $('#gridContent table thead tr th')[23].innerHTML = $('#gridContent table thead tr th')[23].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Total reveneue from excel field / Acutal number of resident days from excel field)'/>";
        }

        if ($('#gridContent table thead tr th')[24].innerText == 'Qtrly Average Daily Rate (ADR)') {
            $('#gridContent table thead tr th')[24].innerHTML = $('#gridContent table thead tr th')[24].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Current  cummulative ADR - Previous Cummulative ADR)'/>";
        }

        if ($('#gridContent table thead tr th')[25].innerText == 'ADR Difference Per Quarter') {
            $('#gridContent table thead tr th')[25].innerHTML = $('#gridContent table thead tr th')[25].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='(Current Quartly ADR  - Previous Quarttly ADR )'/>";
        }

        if ($('#gridContent table thead tr th')[26].innerText == 'ADR Percentage Change') {
            $('#gridContent table thead tr th')[26].innerHTML = $('#gridContent table thead tr th')[26].innerHTML + "<br/><img src='/Content/images/help.png' style='float: center; width: 20px;'  title='((Current Qtrly ADR - Previous Qtrly ADR) / previous Qtrly ADR)*100'/>";
        }


        @*if ($('#gridContent table thead tr th')[14].innerText == 'Qtrly NOI') {
            // alert($('#gridContent table thead tr th')[14].innerText);
           // debugger;
            $('#gridContent table thead tr th')[14].innerHTML = $('#gridContent table thead tr th')[14].innerHTML.replace($('#gridContent table thead tr th')[14].innerText, $('#gridContent table thead tr th')[14].innerText + "<font color='red'>" +"(" + @Model.ReportHeaderModel.TotalNoiError + ")" + "</font>");
        }

        if ($('#gridContent table thead tr th')[19].innerText == 'Qtrly Operating Rev') {
            // alert($('#gridContent table thead tr th')[14].innerText);
          //  debugger;
            $('#gridContent table thead tr th')[19].innerHTML = $('#gridContent table thead tr th')[19].innerHTML.replace($('#gridContent table thead tr th')[18].innerText, $('#gridContent table thead tr th')[19].innerText + "<font color='red'>" + "(" + @Model.ReportHeaderModel.TotalOpRevError + ")" + "</font>");
        }

        if ($('#gridContent table thead tr th')[24].innerText == 'Qrtly DSCR') {
            // alert($('#gridContent table thead tr th')[14].innerText);
            //debugger;
            $('#gridContent table thead tr th')[24].innerHTML = $('#gridContent table thead tr th')[24].innerHTML.replace($('#gridContent table thead tr th')[24].innerText, $('#gridContent table thead tr th')[24].innerText + "<font color='red'>" + "(" + @Model.ReportHeaderModel.TotalDSCRError + ")" + "</font>");
        }


        if ($('#gridContent table thead tr th')[30].innerText == 'Qtrly Average Daily Rate (ADR)') {
            // alert($('#gridContent table thead tr th')[14].innerText);
           // debugger;
            $('#gridContent table thead tr th')[30].innerHTML = $('#gridContent table thead tr th')[30].innerHTML.replace($('#gridContent table thead tr th')[30].innerText, $('#gridContent table thead tr th')[30].innerText + "<font color='red'>" + "(" + @Model.ReportHeaderModel.TotalADRError + ")" + "</font>");
        }

        if ($('#gridContent table thead tr th')[33].innerText == 'Exception Count') {
            // alert($('#gridContent table thead tr th')[14].innerText);
           // debugger;
            $('#gridContent table thead tr th')[33].innerHTML = $('#gridContent table thead tr th')[33].innerHTML.replace($('#gridContent table thead tr th')[33].innerText, $('#gridContent table thead tr th')[33].innerText + "<font color='red'>" + "(" + @Model.ReportHeaderModel.TotalColError + ")" + "</font>");
        }*@
        var tbl = $("#gridContent").parent().find('table > tbody > tr:first');
        $('<tr><td><b> </b></td> <td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalNoiError + '</b></font></td>  <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalOpRevError +'</b></font></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalDSCRError +'</b></font></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td>  <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalADRError +' </b></font></td><td><b> </b></td><td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><font color="red"><b>' + @Model.ReportHeaderModel.TotalColError +' </b></font></td>  </tr>').insertBefore(tbl);;




        @*tbl.children('tbody').append('<tr><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td><b> </b></td><td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalNoiError + '</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalOpRevError +'</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalDSCRError +'</b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b> </b></td> <td><b></b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalADRError +' </b></td><td><b> </b></td><td><b> </b></td> <td bgcolor="#C3C3E5"><b>' + @Model.ReportHeaderModel.TotalColError +' </b></td>  </tr>');*@


        //$('#gridContent table thead tr th').each(function () {
        //    var text = $(this).text();
        //    alert($(this).text());

        //    if (text.toString() == "NOI Cumulative") {
        //        alert(true);
        //    } else {
        //        alert(false);
        //    }
        //    alert(text)
        //    if (text == "NOI Cumulative") {
        //        $(this).append("<br/><img src='/Content/images/help.png' style='float: center; width: 20px;' />");
        //        $(this).attr('title', 'Cumulative Rev - Cumulative Exp');
        //    }
        //});
    }
</script>

<style>
    .Highlight {
        /*background-color: #FFF600;*/
    }
</style>

@*<div class="row">
        <div style="float:right;">
            <div>
                @if (Model.ReportGridModelList.Count > 0)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
                }
                @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
                }
            </div>
        </div>
    </div>*@
    <div id="gridContent">
        @{
            var gridColumns = new List<WebGridColumn>();

            gridColumns.Add(grid.Column("PropertyID", header: "Project ID",
                format:
                @<text>
                    @if (item.PropertyID != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.PropertyID.ToString())
                        }

                        else
                        {
                            @Html.Raw((string)item.PropertyID.ToString())
                        }
                    }


                </text>));


            gridColumns.Add(grid.Column("FhaNumber", header: "FHA Number",
                format:
                @<text>

                    @if (item.FhaNumber != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.FhaNumber)

                        }

                        else
                        {
                            @Html.Raw((string)item.FhaNumber)
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("ProjectName", header: "Project Name",
                format:
                @<text>
                    @if (item.ProjectName != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.ProjectName)
                        }

                        else
                        {
                            @Html.Raw((string)item.ProjectName)
                        }
                    }


                </text>));


            gridColumns.Add(grid.Column("PortfolioNumber", header: "Portfolio Number",
                format:
                @<text>

                    @if (item.PortfolioNumber != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.PortfolioNumber)
                        }

                        else
                        {
                            @Html.Raw((string)item.PortfolioNumber)
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("PortfolioName", header: "Portfolio Name",
                format:
                @<text>

                    @if (item.PortfolioName != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.PortfolioName)
                        }

                        else
                        {
                            @Html.Raw((string)item.PortfolioName)
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("CreditReview", header: "Credit Review",
                format:
                @<text>

                    @if (item.CreditReview != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.CreditReview)
                        }

                        else
                        {
                            @Html.Raw((string)item.CreditReview)
                        }
                    }


                </text>));



            gridColumns.Add(grid.Column("PeriodEnding", header: "Period Ending",
                format:
                @<text>

                    @if (item.PeriodEnding != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.PeriodEnding)
                        }

                        else
                        {
                            @Html.Raw((string)item.PeriodEnding)
                        }
                    }


                </text>));
            gridColumns.Add(grid.Column("MonthsInPeriod", header: "Months In Period",
                format:
                @<text>

                    @if (item.MonthsInPeriod != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.MonthsInPeriod.ToString())
                        }

                        else
                        {
                            @Html.Raw((string)item.MonthsInPeriod.ToString())
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("UnPaidBalance", header: "Unpaid Principal Balance",
                format:
                @<text>

                    @if (item.UnPaidBalance != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw(item.UnPaidBalance != null ? HtmlHelperExt.CurrencyFormatterV2(item.UnPaidBalance, "0.00") : "")
                        }

                        else
                        {
                            @Html.Raw(item.UnPaidBalance != null ? HtmlHelperExt.CurrencyFormatterV2(item.UnPaidBalance, "0.00") : "")
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("CumulativeRevenue", header: "Total Revenue",
                format:
                @<text>

                    @if (item.CumulativeRevenue != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00"))
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeRevenue, "0.00"))
                        }
                    }


                </text>));

            gridColumns.Add(grid.Column("CumulativeExpenses", header: "Total Operating Expenses",
                format:
                @<text>
                    @if (item.CumulativeExpenses != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeExpenses, "0.00"))
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.CumulativeExpenses, "0.00"))
                        }
                    }

                </text>));


            gridColumns.Add(grid.Column("fhainsuredprincipalInterestpayment", header: "FHA Insured Principal & Interest Payment",
                format:
                @<text>

                    @if (item.fhainsuredprincipalInterestpayment != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.fhainsuredprincipalInterestpayment, "0.00"))
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.fhainsuredprincipalInterestpayment, "0.00"))
                        }


                    }
                </text>));

            gridColumns.Add(grid.Column("MIPCumulative", header: "MIP",
                format:
                @<text>
                    @if (item.MIPCumulative != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.MIPCumulative, "0.00"))
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.MIPCumulative, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("CumulativeResidentDays", header: "Actual Number of Resident Days",
                format:

                @<text>
                    @if (item.CumulativeResidentDays != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.CumulativeResidentDays.ToString())
                        }

                        else
                        {
                            @Html.Raw((string)item.CumulativeResidentDays.ToString())
                        }
                    }
                </text>));

            gridColumns.Add(grid.Column("ServiceName", header: "Servicer Name",
                format:
                @<text>
                    @if (item.ServiceName != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.ServiceName)
                        }

                        else
                        {
                            @Html.Raw((string)item.ServiceName)
                        }
                    }
                </text>));

            gridColumns.Add(grid.Column("HUD_WorkLoad_Manager_Name", header: "Workload Manager",
                format:
                @<text>

                    @if (item.HUD_WorkLoad_Manager_Name != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.HUD_WorkLoad_Manager_Name)
                        }

                        else
                        {
                            @Html.Raw((string)item.HUD_WorkLoad_Manager_Name)
                        }
                    }

                </text>));
            gridColumns.Add(grid.Column("HUD_Project_Manager_Name", header: "Account Executive",
                format:
                @<text>
                    @if (item.HUD_Project_Manager_Name != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.HUD_Project_Manager_Name)
                        }

                        else
                        {
                            @Html.Raw((string)item.HUD_Project_Manager_Name)
                        }
                    }

                </text>));


            gridColumns.Add(grid.Column("QuarterlyFHAPI", header: "QuarterlyFHAPI",
                format:
                @<text>
                    @if (item.QuarterlyFHAPI != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyFHAPI, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyFHAPI, "0.00"))
                        }


                    }
                </text>));



            //  gridColumns.Add(grid.Column("LenderName", "Lender Name", (item) => item.LenderName));








            // gridColumns.Add(grid.Column("UnitsInFacility", "Units in Facility", (item) => item.UnitsInFacility));
            gridColumns.Add(grid.Column("NOICumulative", header: "NOI Cumulative",
                format:
                @<text>
                    @if (item.NOICumulative != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(item.NOICumulative != null ? HtmlHelperExt.CurrencyFormatterV2(item.NOICumulative, "0.00") : "")

                        }
                    }

                </text>));


            gridColumns.Add(grid.Column("QuaterlyNoi", header: "Qtrly NOI",
                format:
                @<text>
                    @if (item.QuaterlyNoi != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyNoi, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyNoi, "0.00"))
                        }
                    }

                </text>));


            gridColumns.Add(grid.Column("NOIQuaterbyQuater", header: "NOI Quarter/Quarter",
                format:
                @<text>
                    @if (item.NOIQuaterbyQuater != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOIQuaterbyQuater, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOIQuaterbyQuater, "0.00"))
                        }
                    }

                </text>));




            gridColumns.Add(grid.Column("NOIPercentageChange", header: "NOI Percentage Change",
                format:
                @<text>
                    @if (item.NOIPercentageChange != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.NOIPercentageChange, "0.00"))
                        }
                    }

                </text>));







            gridColumns.Add(grid.Column("QuaterlyOperatingRevenue", header: "Qtrly  Rev",
                format:
                @<text>
                    @if (item.QuaterlyOperatingRevenue != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyOperatingRevenue, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuaterlyOperatingRevenue, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("QuarterlyOperatingExpense", header: "Qtrly Operating  Exp",
                format:
                @<text>
                    @if (item.QuarterlyOperatingExpense != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyOperatingExpense, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyOperatingExpense, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("RevenueQuarterbyQuarter", header: "Rev Quarter/Quarter",
                format:
                @<text>
                    @if (item.RevenueQuarterbyQuarter != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.RevenueQuarterbyQuarter, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.RevenueQuarterbyQuarter, "0.00"))
                        }
                    }
                </text>));



            gridColumns.Add(grid.Column("RevenuePercentageChange", header: "Rev Percentage Change",
                format:
                @<text>

                    @if (item.RevenuePercentageChange != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.RevenuePercentageChange, "0.00"))
                        }
                    }

                </text>));


            gridColumns.Add(grid.Column("DebtCoverageRatio2", header: "Cumulative DSCR",
                format:
                @<text>

                    @if (item.DebtCoverageRatio2 != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DebtCoverageRatio2, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("QuarterlyDSCR", header: "Qrtly DSCR",
                format:
                @<text>
                    @if (item.QuarterlyDSCR != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyDSCR, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyDSCR, "0.00"))
                        }
                    }

                </text>));




            gridColumns.Add(grid.Column("DSCRDifferencePerQuarter", header: "DSCR Difference Per Quarter",
                format:
                @<text>

                    @if (item.DSCRDifferencePerQuarter != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DSCRDifferencePerQuarter, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DSCRDifferencePerQuarter, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("DSCRPercentageChange", header: "DSCR Percentage Change",
                format:
                @<text>
                    @if (item.DSCRPercentageChange != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.DSCRPercentageChange, "0.00"))
                        }
                    }

                </text>));





            gridColumns.Add(grid.Column("QuarterlyResidentDays", header: "Qrtly Resident Days",
                format:
                @<text>
                    @if (item.QuarterlyResidentDays != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + (string)item.QuarterlyResidentDays.ToString() + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw((string)item.QuarterlyResidentDays.ToString())
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("AverageDailyRateRatio", header: "Cumulative Average Daily Rate (ADR)",
                format:
                @<text>

                    @if (item.AverageDailyRateRatio != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.AverageDailyRateRatio, "0.00"))
                        }
                    }
                </text>));



            gridColumns.Add(grid.Column("ADRperQuarter", header: "Qtrly Average Daily Rate (ADR)",
                format:
                @<text>
                    @if (item.ADRperQuarter != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRperQuarter, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRperQuarter, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("ADRDifferencePerQuarter", header: "ADR Difference Per Quarter",
                format:
                @<text>
                    @if (item.ADRDifferencePerQuarter != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRDifferencePerQuarter, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRDifferencePerQuarter, "0.00"))
                        }
                    }
                </text>));


            gridColumns.Add(grid.Column("ADRPercentageChange", header: "ADR Percentage Change",
                format:
                @<text>
                    @if (item.ADRPercentageChange != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00") + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw(HtmlHelperExt.CurrencyFormatterV2(item.ADRPercentageChange, "0.00"))
                        }
                    }
                </text>));





            gridColumns.Add(grid.Column("QuarterlyMIP", header: "QuaterlyMIP",
                format:
                @<text>

                    @if (item.QuarterlyMIP != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" +
                                  HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyMIP, "0.00") + "</i></font>")
                        }

                        else
                        {
                            @Html.Raw(
                            HtmlHelperExt.CurrencyFormatterV2(item.QuarterlyMIP, "0.00"))
                        }
                    }
                </text>));



            gridColumns.Add(grid.Column("RowWiseErrorchar", header: "Exception Count",
                format:
                @<text>
                    @if (item.RowWiseErrorchar != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw("<font color='#00008B'><i>" + (string)item.RowWiseErrorchar + "</i> </font>")
                        }

                        else
                        {
                            @Html.Raw((string)item.RowWiseErrorchar)
                        }
                    }

                </text>));



            gridColumns.Add(grid.Column("DataInserted", header: "Date Inserted",
                format:
                @<text>
                    @if (item.DataInserted != null)
                    {
                        if (item.Ismissing != null && item.Ismissing == 1)
                        {
                            @Html.Raw((string)item.DataInserted.ToString())
                        }

                        else
                        {
                            @Html.Raw((string)item.DataInserted.ToString())
                        }
                    }
                </text>));




        }

        @grid.GetHtml(tableStyle: "webGrid",
             headerStyle: "header_row",    
    rowStyle: "item_row",
    alternatingRowStyle: "item_alt_row",
    selectedRowStyle: "select",
    mode: WebGridPagerModes.All,
    firstText: "<< First",
    previousText: "< Prev",
    nextText: "Next >",
    lastText: "Last >>",

    columns: gridColumns.ToArray())

        @if (Model.ReportGridModelList.Count > 0)
        {

        }
        else
        {
            <p style="margin-left: 20px;">No Records Found</p>
        }

    </div>
