﻿@model Model.ReportModel
<script type="text/javascript">
    $(document).ready(
        function () {
            styleGrid();
        }
    );

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }

    function _CalbackPaginate()
    {

        GridLoad();
        styleGrid();
    }
</script>
@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "_CalbackPaginate");

}


<script type="text/javascript">


@* var _gridHeadings = ['@ProjectDetailReportGridColumnHeadings.NOICumulative.ToString("g")'
    ];
    var _gridHeadingDescs = ['@EnumType.GetEnumDescription(ProjectDetailReportGridColumnHeadings.NOICumulative)'
    ]; *@



    $(document).ready(
        function () {
            
            GridLoad();
            
            $('#gridContent table thead tr th:eq(0) a').click(function () {
               //debugger;
               Store(0);
              
            });

            $('#gridContent table thead tr th:eq(1) a').click(function () {
                //debugger;
                Store(1);

            });
            $('#gridContent table thead tr th:eq(2) a').click(function () {
                //debugger;
                Store(2);

            });
        }
    );

    function Store(i)
    {
        var URL = $('#gridContent table thead tr th:eq('+i+') a').attr('href');
        if (URL.indexOf('ASC') > -1) {
            localStorage.setItem("sort", '');
            localStorage.setItem("sort", 'DESC');
        }
        else {
            localStorage.setItem("sort", '');
            localStorage.setItem("sort", 'ASC');
        }
}
    function GridLoad() {
      // debugger;
       var result = $('#gridContent table thead tr th:eq(0)')
       var col1 = $('#gridContent table thead tr th:eq(0)')
       var col2 = $('#gridContent table thead tr th:eq(1)')
       var col3 = $('#gridContent table thead tr th:eq(2)')
        var hrefval;
        var _username = ['@UserPrincipal.Current.UserName'];
        var sort = localStorage.getItem("sort");
        if (sort == 'DESC') {
            hrefval = '/ProjectDetailReport/SuperUserProjectReportHighLevel?userName=' + _username + '&sortdir=DESC'
        }
        else {
            hrefval = '/ProjectDetailReport/SuperUserProjectReportHighLevel?userName=' + _username + '&sortdir=ASC'
        }
        var WLMText = $('#gridContent table thead tr th')[0].innerText;
        
        var WLMText = $('#gridContent table thead tr th:eq(0)').html();
        var NP = $('#gridContent table thead tr th:eq(1)').html();
        var NE = $('#gridContent table thead tr th:eq(2)').html();

        //col1
        var linkcol1 = $("<a>");
        linkcol1.attr("href", hrefval);
        linkcol1.text(WLMText);
        if (col1.html().indexOf('<a>') > -1) {

        }
        else {
            col1.html(linkcol1);
        }

        ///colum 2
        var linkcol2 = $("<a>");
        linkcol2.attr("href", hrefval);
        linkcol2.text(NP);
        if (col2.html().indexOf('<a>') > -1) {

        }
        else {
            col2.html(linkcol2);
        }

        ///colum 3
        var linkcol3 = $("<a>");
        linkcol3.attr("href", hrefval);
        linkcol3.text(NE);
        if (col3.html().indexOf('<a>') > -1) {

        }
        else {
            col3.html(linkcol3);
        }
    }
    function gridUpdateCallBack() {
       // debugger;
        var URL = $('#gridContent table thead tr th a').attr('href');
        if (URL.indexOf('ASC') > -1) {
            $('#chag_sort').val('');
            $('#chag_sort').val('ASC');
            var revisedurl = URL.replace("ASC", "DESC");
            revisedurl = revisedurl.replace("sort=WLMName", "");
        } else {
            $('#chag_sort').val('');
            $('#chag_sort').val('DESC');
            var revisedurl = URL.replace("DESC", "ASC");
            revisedurl = revisedurl.replace("sort=WLMName", "");
        }
        $('#gridContent table thead tr th a').attr("href", revisedurl);

    }

  
        function GetParameterValues(param) {  
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');  
            for (var i = 0; i < url.length; i++) {  
                var urlparam = url[i].split('=');  
                if (urlparam[0] == param) {  
                    return urlparam[1];  
                }  
            }  
        }  

    </script>



<input id="chag_sort" type="hidden" name="chag_sort">

    <div class="row">
        <div style="float:right;">
            <div>
                @if (Model.ReportGridModelList.Count > 0)
            {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
            }
                @if (Model.ReportGridModelList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
            {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
            }
            </div>
        </div>
    </div>



    <div id="gridContent">
        @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("WLMName", "Workload Manager", (item) => @Html.Raw((string)item.WLMName), canSort: false));


        gridColumns.Add(grid.Column("ProjectCount", "Number of Projects", format: (item) =>
        {
            if (item.IsWLM == 1)
            {
                
                return Html.ActionLink(((object)item.ProjectCountWLM).ToString(), "Facade", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, new { @style = "text-decoration: underline;" });
            }
            else
            {
                return Html.ActionLink(((object)item.ProjectCountAE).ToString(), "Facade", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, null);
            }
        }
            , canSort: false));

        gridColumns.Add(grid.Column("ErrorCount", "Number of Projects with Exceptions", format: (item) =>
        {
            if (item.IsWLM == 1)
            {
                if (item.ErrorCountWLM < 1)
                {
                    return Html.DisplayName(((object)item.ErrorCountWLM).ToString());
                }
                else
                {
                    return Html.ActionLink(((object)item.ErrorCountWLM).ToString(), "FacadeError", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, new { @style = "text-decoration: underline; color: red;" });
                }
               //return Html.DisplayName(((object)item.ErrorCountWLM).ToString());
               
            }
            else
            {
                if (item.ErrorCountAE < 1)
                {
                    return Html.DisplayName(((object)item.ErrorCountAE).ToString());
                }
                else
                {
                    return Html.ActionLink(((object)item.ErrorCountAE).ToString(), "FacadeError", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, null);
                }             
                
            }
        }
        , canSort: false));

        //gridColumns.Add(grid.Column("ProjectCount", "Number of Projects", (item) => Html.ActionLink(((object)item.ProjectCount).ToString(), "Facade", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, null)));
        //gridColumns.Add(grid.Column("ErrorCount", "Number of Projects with Exceptions", (item) => Html.ActionLink(((object)item.ErrorCount).ToString(), "FacadeError", "ProjectDetailReport", new { username = item.Email, IsWLM = item.isWLM }, null)));
        //gridColumns.Add(grid.Column("ErrorCount", "Number of Projects with Exceptions", (item) => item.ErrorCount));


        }

        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())

        @if (Model.ReportGridModelList.Count > 0)
{

}
else
{
            <p style="margin-left: 20px;">No Records Found</p>
}

    </div>
