﻿@using Core
@model Model.ReportModel
@{
    //ViewBag.Title = "SuperUserProjectReportHighLevel";
    ViewBag.Title = UserPrincipal.Current.UserRole + "-" + "SuperUserProjectReportHighLevel";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript">
    $(document).ready(function () {
        $("#yearList").change(function () {
            var url = '@Url.Action("SuperUserProjectReportHighLevel", "ProjectDetailReport")';
            var selectedYear = $("#yearList").val();
            $("#year").val(selectedYear);
            $.ajax({
                url: url,
                data: { year: selectedYear },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function (data) {
                    {
                        $("#dvSuperUserReport").html('');
                        $("#dvSuperUserReport").html(data);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;

        });
    });

</script>
<style>
   .no-link {
    color:inherit;
    text-decoration:none;
    pointer-events:none;
}
</style>
<script>
    $(document).ready(function () {
      // debugger;
        var temp = $(".breadcrumb a[title$='My Project Detail Reports']").css({ "color": "inherit", "text-decoration": "none", "pointer-events": "none" });
     
        var text = $(".breadcrumb").html();
        if (text.indexOf("Exception") >= 0) {
            //Replace Error Text
            var errortext = $(".breadcrumb").html();
            var errortext = errortext.replace('\n         &gt; \n    Exception  Report HighLevel\n\n', '');
            $(".breadcrumb").html(errortext);
            $(".breadcrumb a[title$='Project Exception Report']").replaceWith("Project Exception Reports");
            
        }
        else {
            var text = text.replace('\n         &gt; \n    Project Detail Report HighLevel\n\n', '\n         &gt; \n    Project Detail Report');
            //text= text.replace('</a>\n         &gt; \n        <a title=\"My Project Detail Reports\" style=\"color: inherit; text-decoration: none; pointer-events: none;\" href=\"/ProjectDetailReport/Index\">My Project Detail Reports</a>', 'My Project Detail Reports');
            $(".breadcrumb").html(text);
           // $(".breadcrumb a[title$='My Project Detail Reports']").replaceWith("My Project Detail Reports");
        }
      
        //$("#bcHolder").text("Home > Financial Analysis > Project Exception Report");
    });
</script>


<div class="container-fluid">
    <div class="row">
        <div class="row" style="margin-left: 0px; margin-right: 0px;">
            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Name: ")
                    </span>
                    <span class="col-md-4">
                        @Html.DisplayName(EnumType.GetEnumDescription(Model.ReportHeaderModel.ReportType))
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Created By: ")
                    </span>
                    <span class="col-md-4">
                        @Html.DisplayName((Model.ReportHeaderModel.CreatedBy.ToString()))
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Report Generated as of: ")
                    </span>
                    <span class="col-md-4">
                        @DateTime.Today.AddDays(-1).ToShortDateString()
                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Total Number of Projects: ")
                    </span>
                    <span class="col-md-4">
                        @Html.ActionLink(((object)Model.ReportHeaderModel.TotalProperties).ToString(), "GetALLProjectDetailReportForSuperUser", "ProjectDetailReport", null, new { @style = "text-decoration: underline; background-color: #c7d1d6;" })

                    </span>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row" style="padding: 5px;">
                    <span class="col-md-4 text-left">
                        @Html.Label("Total Number of Projects with Exceptions: ")
                    </span>

                    <span class="col-md-4">
                        <font color="red">
                            @*@Html.DisplayName(((object)Model.ReportHeaderModel.TotalPropertieswithException).ToString())*@
                            @if (Model.ReportHeaderModel.TotalPropertieswithException > 0)
                            {
                                 @Html.ActionLink(((object)Model.ReportHeaderModel.TotalPropertieswithException).ToString(), "GetALLErrorReportForSuperUser", "ProjectDetailReport", null, new { @style = "text-decoration: underline; background-color: #c7d1d6;" })
                            }
                            else{
                                @Model.ReportHeaderModel.TotalPropertieswithException
                            }
                           
                        </font>
                    </span>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div style="overflow-x: auto;overflow-y: auto;">
            <div id="dvSuperUserReport" class="col-md-8">
                @Html.Partial("~/Views/ProjectDetailReport/_SuperUserProjectReportHighLevel.cshtml", Model)
                <div class="row">
                    <span class="col-md-4 text-left">

                        <b>Total : </b>

                    </span><span class="col-md-1 text-left"><b>@Html.DisplayName((Model.ReportHeaderModel.TotalProperties.ToString()))</b></span><span class="col-md-2 text-left"><font color="red"><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))</b></font></span>

                </div>
            </div>
        </div>
    </div>


    @*<div class="row">
        <table>
            <thead>

            </thead>
            <tbody>
                <tr class="item_row">
                    <td><b>Total</b>
                    <td>@Html.DisplayName((Model.ReportHeaderModel.TotalProperties.ToString()))</td>
                    <td>@Html.DisplayName((Model.ReportHeaderModel.TotalPropertieswithException.ToString()))</td>
                </tr>

            </tbody>
        </table>
    </div>*@
