﻿@model Model.ReportModel
<script type="text/javascript">
            $(document).ready(
                function () {
                    styleGrid();
                }
            );

            function styleGrid() {
                $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
            }
</script>
@{
    var grid = new WebGrid(Model.ReportGridModelList, canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");

}
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("HudWorkloadManagerName", "Workload Manager Name", format: (item) => (object)item.HudWorkloadManagerName != null ? Html.ActionLink(((object)item.HudWorkloadManagerName).ToString(), "WLMMissingProjectReportDetail", "MissingProjectReport", new { wlmId = item.HudWorkloadManagerEmailAddress, reportYear = Model.ReportHeaderModel.ReportYear }, null) : Html.Raw(string.Empty)));
        gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects));
        gridColumns.Add(grid.Column("ExpectedNumber", "Expected Number of Reports", (item) => item.ExpectedNumber));
        gridColumns.Add(grid.Column("ReceivedNumber", "Received Number of Reports", (item) => item.ReceivedNumber));
        gridColumns.Add(grid.Column("MissingNumber", "Missing Number of Reports", (item) => item.MissingNumber));
    }

    @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
                mode: WebGridPagerModes.All,
                firstText: "<< First",
                previousText: "< Prev",
                nextText: "Next >",
                lastText: "Last >>",

                columns: gridColumns.ToArray())

</div>