﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model ProjectReportModel

<script type="text/javascript">
    var _minUploadDate = $('#datePickerMinUploadDate').val();
    var _maxUploadDate = $('#datePickerMaxUploadDate').val();
    var _visibilitySelected = @Model.SelectedProjectVisibilityId;
    var _gridHeadings = ['@ProjectReportGridColumnHeadings.UPB.ToString("g")',
        '@ProjectReportGridColumnHeadings.HL.ToString("g")',
        '@ProjectReportGridColumnHeadings.DSCR.ToString("g")',
        '@ProjectReportGridColumnHeadings.DCoH.ToString("g")',
        '@ProjectReportGridColumnHeadings.APP.ToString("g")',
        '@ProjectReportGridColumnHeadings.WC.ToString("g")',
        '@ProjectReportGridColumnHeadings.AR.ToString("g")'];
    var _gridHeadingDescs = ['@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.UPB)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.HL)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.DSCR)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.DCoH)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.APP)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.WC)',
        '@EnumType.GetEnumDescription(ProjectReportGridColumnHeadings.AR)'];

    if (_visibilitySelected == undefined) {
        _visibilitySelected = '@ProjectReportVisibility.ProjectsAssigned';
    }

    $(document).ready(
        function() {
            gridUpdateCallBack();
        }
    );

    function gridUpdateCallBack() {
        $('.linkableField').each(function() {
            this.href = this.href.replace('_minUploadDateField', _minUploadDate);
            this.href = this.href.replace('_maxUploadDateField', _maxUploadDate);
        });

        $('#gridData table thead tr th a').each(function() {
            $(this).attr('style', 'display: inline-block;');
        });

        $('#gridData table thead tr th').each(function() {
            var text = $(this).text();
            var found = -1;

            $.each(_gridHeadings, function(index, value) {
                if (text.indexOf(value) != -1) {
                    found = index;
                    return false;
                }
            });

            if (found != -1) {
                $(this).append("<br/><img src='/Content/images/help.png' style='float: center; width: 20px;' />");
                $(this).attr('title', _gridHeadings[found] + ' = ' + _gridHeadingDescs[found]);
            }
        });
    }
</script>
@{
    var grid = new WebGrid(Model.ProjectReportGridlList, canPage: true, canSort: true, rowsPerPage: 10, selectionFieldName: "selectedRow", ajaxUpdateContainerId: "gridContent", ajaxUpdateCallback: "gridUpdateCallBack");
}

<div class="row">
    <div style="float: right;">
        <div>
            @if (Model.ProjectReportGridlList.Count > 0)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string)ViewBag.ExcelExportAction, "ExcelExport", (object)ViewBag.ExcelActionParam, new { @class = "excelExport" }, null)
            }
            @if (Model.ProjectReportGridlList.Count > 0 && Core.WebUiConstants.ShowPrintIcon)
            {
                @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string)ViewBag.PrintAction, "Print", (object)ViewBag.ExcelActionParam, new { target = "_blank" }, null)
            }
        </div>
    </div>
</div>

<div id="gridContent">
    <div id="gridData">
    @{
            var gridColumns = new List<WebGridColumn>();

            if (Model.ReportType == ReportType.ProjectReport)
            {
                if (ViewBag.ReportLevel == ReportLevel.SuperUserLevel)
                {
                    gridColumns.Add(grid.Column("WorkloadManager", "Workload Manager", (item) =>
                    {
                        if (item.WorkloadManagerId != 0)
                        {
                            return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetWLMProjectReportSummary", "ProjectReport", new { userName = item.WorkloadManager, wlmId = item.WorkloadManagerId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                        }
                        else
                        {
                            return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetSuperUserProjectReportDetail", "ProjectReport", new { userName = UserPrincipal.Current.UserName, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField", projectReportVisibility = Model.SelectedProjectVisibilityId }, new { @class = "linkableField" });
                        }
                    }));
                    gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

                    if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
                    {
                        gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
                    }

                    gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
                    gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
                    gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
                    gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
                    gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
                    gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
                }
                else if (ViewBag.ReportLevel == ReportLevel.WLMUserLevel)
                {
                    gridColumns.Add(grid.Column("AccountExecutive", "Account Executive", (item) =>
                    {
                        if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                        {

                            if (item.AccountExecutiveId != 0)
                            {
                                return Html.ActionLink(((object) item.AccountExecutive).ToString(), "GetAEProjectReportSummaryWLM", "ProjectReport", new {userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField"}, new {@class = "linkableField"});
                            }
                            else
                            {
                                return Html.ActionLink(((object) item.AccountExecutive).ToString(), "GetWLMProjectReportDetailWLM", "ProjectReport", new {userName = item.WorkloadManager, wlmId = item.WorkloadManagerId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField"}, new {@class = "linkableField"});
                            }

                        }
                        else
                        {
                            if (item.AccountExecutiveId != 0)
                            {
                                return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetAEProjectReportSummary", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                            else
                            {
                                return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetWLMProjectReportDetail", "ProjectReport", new { userName = item.WorkloadManager, wlmId = item.WorkloadManagerId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                        }
                    }));
                    gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

                    if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
                    {
                        gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
                    }

                    gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
                    gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
                    gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
                    gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
                    gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
                    gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
                }
                else if (ViewBag.ReportLevel == ReportLevel.AEUserLevel)
                {
                    gridColumns.Add(grid.Column("LenderName", "Lender", (item) =>
                    {
                        if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
                        {
                            if (item.LenderId != 0)
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetProjectReportLenderDetailAE", "ProjectReport", new { userName = item.LenderName, aeId = item.AccountExecutiveId, lenderId = item.LenderId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                            else
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetAEProjectReportDetailAE", "ProjectReport", new { userName = item.AccountExecutive, aeId = item.AccountExecutiveId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }

                        }
                        else if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                        {
                            if (item.LenderId != 0)
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetProjectReportLenderDetailWLM", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                            else
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetAEProjectReportDetailWLM", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                        }
                        else
                        {
                            if (item.LenderId != 0)
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetProjectReportLenderDetail", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }
                            else
                            {
                                return Html.ActionLink(((object)item.LenderName).ToString(), "GetAEProjectReportDetail", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, projectReportVisibility = Model.SelectedProjectVisibilityId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                            }

                        }
                    }));
                    gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

                    if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
                    {
                        gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
                    }

                    gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
                    gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", format: (item) => item.DebtCoverageRatio ?? "NA"));
                    gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", format: (item) => item.DaysCashOnHand ?? "NA"));
                    gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", format: (item) => item.AvgPaymentPeriod ?? "NA"));
                    gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", format: (item) => item.WorkingCapital ?? "NA"));
                    gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", format: (item) => item.DaysInAcctReceivable ?? "NA"));
                }
                else if (ViewBag.ReportLevel == ReportLevel.LenderDetailLevel)
                {
                    @helper HighlightHighRiskInRed(Decimal UPB, String value = "")
                    {
                        if (Convert.ToInt32(UPB) > 25000000)
                        {
                            <span class="highrisk">@value</span>
                        }
                        else
                        {
                            <span>@value</span>
                        }
                    }

                    gridColumns.Add(grid.Column("FhaNumber", "FHA Number", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.FhaNumber.ToString() ?? "NA")</text>));
                    gridColumns.Add(grid.Column("ProjectName", "Project Name", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.ProjectName.ToString() ?? "NA")</text>));
                    gridColumns.Add(grid.Column("LenderName", "Lender Name", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.LenderName.ToString() ?? "NA")</text>));
                    gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "UPB", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:c}", item.UnpaidPrincipalBalance) ?? "0")</text>));
                    gridColumns.Add(grid.Column("PeriodEndingDate", "Period Ending Date", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.PeriodEndingDate)) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("MonthsInPeriod", "Months in Period", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.MonthsInPeriod.ToString() ?? "NA")</text>));
                    gridColumns.Add(grid.Column("DebtCoverageRatio", "DSCR", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:0.0}", item.DebtCoverageRatio) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("DaysCashOnHand", "DCoH", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:0}", item.DaysCashOnHand) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("AvgPaymentPeriod", "APP", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:0}", item.AvgPaymentPeriod) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("WorkingCapital", "WC", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:0}", item.WorkingCapital) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("DaysInAcctReceivable", "AR", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, String.Format("{0:0}", item.DaysInAcctReceivable) ?? "NA")</text>));
                    gridColumns.Add(grid.Column("HudWorkloadManagerName", "Workload Manager", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.HudWorkloadManagerName ?? "NA")</text>));
                    @*gridColumns.Add(grid.Column("DataInserted", "Date Inserted", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.DataInserted == null ? "NA" : @TimezoneManager.GetPreferredTimeFromUtc(item.DataInserted).ToString())</text>));*@
    gridColumns.Add(grid.Column("DataInserted", "Date Inserted", format: @<text>@HighlightHighRiskInRed(item.UnpaidPrincipalBalance, item.DataInserted == null ? "NA" : item.DataInserted.ToString())</text>));

        }
    }
    else if (Model.ReportType == ReportType.LargeLoanReport)
    {
        if (ViewBag.ReportLevel == ReportLevel.SuperUserLevel)
        {
            gridColumns.Add(grid.Column("WorkloadManager", "Workload Manager", (item) =>
            {
                if (item.WorkloadManagerId != 0)
                {
                    return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetWLMLargeLoanReportSummary", "ProjectReport", new { userName = item.WorkloadManager, wlmId = item.WorkloadManagerId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                }
                else
                {
                    return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetSuperUserLargeLoanReportDetail", "ProjectReport", new { userName = UserPrincipal.Current.UserName, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.WLMUserLevel)
        {
            gridColumns.Add(grid.Column("AccountExecutive", "Account Executive", (item) =>
            {
                if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                {
                    if (item.AccountExecutiveId != 0)
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetAELargeLoanReportSummaryWLM", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetWLMLargeLoanReportDetailWLM", "ProjectReport", new { userName = item.WorkloadManagerId, wlmId = item.WorkloadManagerId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else
                {
                    if (item.AccountExecutiveId != 0)
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetAELargeLoanReportSummary", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetWLMLargeLoanReportDetail", "ProjectReport", new { userName = item.WorkloadManagerId, wlmId = item.WorkloadManagerId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.AEUserLevel)
        {
            gridColumns.Add(grid.Column("LenderName", "Lender", (item) =>
            {
                if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetLargeLoanLenderReportDetailAE", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAELargeLoanReportDetailAE", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetLargeLoanLenderReportDetailWLM", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAELargeLoanReportDetailWLM", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetLargeLoanLenderReportDetail", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAELargeLoanReportDetail", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.LenderDetailLevel)
        {
            gridColumns.Add(grid.Column("FhaNumber", "FHA Number", (item) => item.FhaNumber ?? "NA"));
            gridColumns.Add(grid.Column("ProjectName", "Project Name", (item) => item.ProjectName ?? "NA"));
            gridColumns.Add(grid.Column("LenderName", "Lender Name", (item) => item.LenderName ?? "NA"));
            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "UPB", (item) => String.Format("{0:c}", item.UnpaidPrincipalBalance ?? "0")));
            gridColumns.Add(grid.Column("PeriodEndingDate", "Period Ending Date", (item) => String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.PeriodEndingDate)) ?? "NA"));
            gridColumns.Add(grid.Column("MonthsInPeriod", "Months in Period", (item) => item.MonthsInPeriod ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "DSCR", (item) => String.Format("{0:0.0}", item.DebtCoverageRatio) ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "DCoH", (item) => String.Format("{0:0}", item.DaysCashOnHand) ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "APP", (item) => String.Format("{0:0}", item.AvgPaymentPeriod) ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "WC", (item) => String.Format("{0:0}", item.WorkingCapital) ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "AR", (item) => String.Format("{0:0}", item.DaysInAcctReceivable) ?? "NA"));
            gridColumns.Add(grid.Column("HudWorkloadManagerName", "Workload Manager", (item) => item.HudWorkloadManagerName ?? "NA"));
            //gridColumns.Add(grid.Column("DataInserted", "Date Inserted", (item) => item.DataInserted == null ? "NA" : @TimezoneManager.GetPreferredTimeFromUtc(item.DataInserted).ToString()));
            gridColumns.Add(grid.Column("DataInserted", "Date Inserted", (item) => item.DataInserted == null ? "NA" :item.DataInserted.ToString()));
        }
    }
    else if (Model.ReportType == ReportType.RatioExceptionsReport)
    {
        if (ViewBag.ReportLevel == ReportLevel.SuperUserLevel)
        {
            gridColumns.Add(grid.Column("WorkloadManager", "Workload Manager", (item) =>
            {
                if (item.WorkloadManagerId != 0)
                {
                    return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetWLMRatioExceptionReportSummary", "ProjectReport", new { userName = item.WorkloadManager, wlmId = item.WorkloadManagerId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                }
                else
                {
                    return Html.ActionLink(((object)item.WorkloadManager).ToString(), "GetSuperUserRatioExceptionReportDetail", "ProjectReport", new { userName = item.WorkloadManager, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.WLMUserLevel)
        {
            gridColumns.Add(grid.Column("AccountExecutive", "Account Executive", (item) =>
            {
                if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                {
                    if (item.AccountExecutiveId != 0)
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetAERatioExceptionReportSummaryWLM", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetWLMRatioExceptionReportDetailWLM", "ProjectReport", new { userName = item.WorkloadManagerId, wlmId = item.WorkloadManagerId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else
                {
                    if (item.AccountExecutiveId != 0)
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetAERatioExceptionReportSummary", "ProjectReport", new { userName = item.AccountExecutive, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.AccountExecutive).ToString(), "GetWLMRatioExceptionReportDetail", "ProjectReport", new { userName = item.WorkloadManagerId, wlmId = item.WorkloadManagerId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.AEUserLevel)
        {
            gridColumns.Add(grid.Column("LenderName", "Lender", (item) =>
            {
                if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetRatioExceptionLenderReportDetailAE", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAERatioExceptionReportDetailAE", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName))
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetRatioExceptionLenderReportDetailWLM", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAERatioExceptionReportDetailWLM", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
                else
                {
                    if (item.LenderId != 0)
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetRatioExceptionLenderReportDetail", "ProjectReport", new { userName = item.LenderName, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, lenderId = item.LenderId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                    else
                    {
                        return Html.ActionLink(((object)item.LenderName).ToString(), "GetAERatioExceptionReportDetail", "ProjectReport", new { userName = item.AccountExecutiveId, wlmId = item.WorkloadManagerId, aeId = item.AccountExecutiveId, isDebtCoverageRatio = Model.IsDebtCoverageRatioException, isWorkingCapital = Model.IsWorkingCapitalScoreException, isDaysCashOnHand = Model.IsDaysCashOnHandException, isDaysInAcctReceivable = Model.IsDaysInAcctReceivableException, isAvgPaymentPeriod = Model.IsAvgPaymentPeriodException, minUploadDate = "_minUploadDateField", maxUploadDate = "_maxUploadDateField" }, new { @class = "linkableField" });
                    }
                }
            }));
            gridColumns.Add(grid.Column("NumberOfProjects", "Number of Projects", (item) => item.NumberOfProjects ?? "NA"));

            if (RoleManager.IsWorkloadManagerRole(UserPrincipal.Current.UserName) || RoleManager.IsSuperUserRole(UserPrincipal.Current.UserName))
            {
                gridColumns.Add(grid.Column("TotalUnpaidPrincipalBalance", "Total UPB", (item) => String.Format("{0:c}", item.TotalUnpaidPrincipalBalance ?? 0)));
            }

            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "Number of HL Projects", (item) => item.UnpaidPrincipalBalance ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "Number of DSCR Projects", (item) => item.DebtCoverageRatio ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "Number of DCoH Projects", (item) => item.DaysCashOnHand ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "Number of APP Projects", (item) => item.AvgPaymentPeriod ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "Number of WC Projects", (item) => item.WorkingCapital ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "Number of AR Projects", (item) => item.DaysInAcctReceivable ?? "NA"));
        }
        else if (ViewBag.ReportLevel == ReportLevel.LenderDetailLevel)
        {
            gridColumns.Add(grid.Column("FhaNumber", "FHA Number", (item) => item.FhaNumber ?? "NA"));
            gridColumns.Add(grid.Column("ProjectName", "Project Name", (item) => item.ProjectName ?? "NA"));
            gridColumns.Add(grid.Column("LenderName", "Lender Name", (item) => item.LenderName ?? "NA"));
            gridColumns.Add(grid.Column("UnpaidPrincipalBalance", "UPB", (item) => String.Format("{0:c}", item.UnpaidPrincipalBalance ?? "0")));
            gridColumns.Add(grid.Column("PeriodEndingDate", "Period Ending Date", (item) => String.Format("{0:MM/dd/yyyy}", Convert.ToDateTime(item.PeriodEndingDate)) ?? "NA"));
            gridColumns.Add(grid.Column("MonthsInPeriod", "Months in Period", (item) => item.MonthsInPeriod ?? "NA"));
            gridColumns.Add(grid.Column("DebtCoverageRatio", "DSCR", (item) => String.Format("{0:0.0}", item.DebtCoverageRatio) ?? "NA"));
            gridColumns.Add(grid.Column("DaysCashOnHand", "DCoH", (item) => String.Format("{0:0}", item.DaysCashOnHand) ?? "NA"));
            gridColumns.Add(grid.Column("AvgPaymentPeriod", "APP", (item) => String.Format("{0:0}", item.AvgPaymentPeriod) ?? "NA"));
            gridColumns.Add(grid.Column("WorkingCapital", "WC", (item) => String.Format("{0:0}", item.WorkingCapital) ?? "NA"));
            gridColumns.Add(grid.Column("DaysInAcctReceivable", "AR", (item) => String.Format("{0:0}", item.DaysInAcctReceivable) ?? "NA"));
            gridColumns.Add(grid.Column("HudWorkloadManagerName", "Workload Manager", (item) => item.HudWorkloadManagerName ?? "NA"));
            //gridColumns.Add(grid.Column("DataInserted", "Date Inserted", (item) => item.DataInserted == null ? "NA" : @TimezoneManager.GetPreferredTimeFromUtc(item.DataInserted).ToString()));
            gridColumns.Add(grid.Column("DataInserted", "Date Inserted", (item) => item.DataInserted == null ? "NA" : item.DataInserted.ToString()));
        }
    }
}
        @if (Model.ProjectReportGridlList.Count > 0)
        {
            @grid.GetHtml(tableStyle: "webGrid", headerStyle: "header_row", rowStyle: "item_row", alternatingRowStyle: "item_alt_row", selectedRowStyle: "select", mode: WebGridPagerModes.All, firstText: "<< First", previousText: "< Prev", nextText: "Next >", lastText: "Last >>", columns: gridColumns.ToArray())
        }
        else
        {
            <p style="margin-left: 20px;">No Records Found</p>
        }
    </div>
</div>
