﻿@*@model Model.Production.AttachFilesViewModel*@
@model Model.Production.AmendmentSPViewModel
<link href="../../Content/formUpload.css" rel="stylesheet">
@*<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />*@
@*<script src="~/Scripts/jquery-1.9.1.min.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
@*<script type="text/javascript" src="~/Scripts/"></script>*@

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

@*<link rel="stylesheet" type="text/css" media="screen" href="css/ui.datepicker.css" />*@

@*<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>*@
<style>


	fieldset {
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
		border: 1px solid #d9edf7;
	}

	.ui-jqgrid {
		font-family: Arial;
	}

		.ui-jqgrid > .ui-jqgrid-view {
			font-size: 12px;
		}

			.ui-jqgrid > .ui-jqgrid-view button {
				font-size: 10px;
			}

			.ui-jqgrid > .ui-jqgrid-view a {
				color: #428bca;
				font-weight: bolder;
			}

		jqdialog .glyphicon, .ui-jqgrid .glyphicon {
			font-size: 20px;
			top: auto;
			color: darkslateblue;
		}

	.disabled {
		pointer-events: none;
	}
</style>
<script>

</script>
<section id="attachInfo">
	@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "amendmentSP" }))
	{
		<label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none;"></label>

		@Html.Hidden("AmendId")
		<fieldset>
			<br />
			<div class="container-fluid" id="spFiles1">
				<table id="spFileGrid"></table>
				<div id="spFileGridPager"></div>
			</div>
			<br />
		</fieldset>
		<br />
		<fieldset>
			@Html.HiddenFor(m => m.FHANumber, new { id = "txtFhaNumber" })
			@Html.HiddenFor(m => m.TaskInstanceId, new { id = "txtTaskInstanceId" })
			<br />
			<div class="container-fluid" id="spFiles">
				<table id="spAmendGrid"></table>
				<div id="spAmendGridPager"></div>
			</div>
			<br />
		</fieldset>


	}
</section>


<script>
    $(document).ready(
        function() {
            //debugger;
			document.getElementById("spFiles1").style.display = "none";

			var x = document.getElementById("divDap");
			if (x != null) {
				x.style.display = "none";
			}
			var y = document.getElementById("divCloserDap");
			if (y != null) {
				y.style.display = "none";
			}



			$('.datepicker').datepicker();
			$('.datepicker').change(function () {
				var date = $(this).val();
				var arrDate = date.split("/");
				var today = new Date();
				var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

				if (userSelectedDate > today) {
					alert('Date must not be in the future.');
					$(this).val('');
				}
			});


			$("#spAmendGrid").jqGrid({
				//url: "/ProductionQueue/GetUploadedFilesForSharepoint?taskInstanceId=" + $("#txtTaskInstanceId").val() + "&fileType=all" + "",
				url: "/Amendments/GetAmendmentInfoForSharepoint?pTaskInstanceId=" + $("#txtTaskInstanceId").val() + "&pFHANumber=" + $("#txtFhaNumber").val() +"",
                datatype: 'json',
                mtype: 'POST',

				colNames: ['#', 'Template', 'Type', 'Submitted By', 'Submitted On', 'UW/Closer', 'UW/Closer Date', 'WLM', 'WLM Date', 'DAPCompletedByCloser','  '],
				colModel: [
					{
						Key: false, name: 'AmendmentNumber', index: 'AmendmentNumber', width: 80,
					},
					{
						Key: false, name: 'AmendmentTemplate', index: 'AmendmentTemplate', editable: false, width: 85,
						formatter: function (cellvalue, options, rowObject) {
								return "<span onclick='showUploadedFiles(\"" + rowObject.AmendmentTemplateID +
									"\")';><b>" + 'Request' + "</b></span>";
						},
					},
					//{ Key: false, name: 'AmendmentTemplate', index: 'AmendmentTemplate', editable: false, width: 85 },
					{ Key: false, name: 'AmendmentType', index: 'AmendmentType', editable: false, width: 100 },
					{ Key: false, name: 'SubmittedBy', index: 'Submittedby', editable: false, width: 100 },
					{ Key: false, name: 'SubmittedOn', index: 'SubmittedOn', editable: false, formatter: 'date', width: 110, formatoptions: { srcformat: 'ISO8601Long', newformat: 'm/d/Y' } },
					{ Key: false, name: 'AssignedUWCloser', index: 'AssignedUWCloser', editable: false, width: 100 },
					//{ Key: false, name: 'DateAssignedUWCloser', index: 'DateAssignedUWCloser', editable: false, formatter: 'date', width: 110, formatoptions: { newformat: 'm/d/Y' } },
					{ Key: false, name: 'UWCloserDts', index: 'UWCloserDts', editable: false, width: 100 },
					{ Key: false, name: 'AssignedWLM', index: 'AssignedWLM', editable: false, width: 100 },
					//{ Key: false, name: 'DateAssignedWLM', index: 'DateAssignedWLM', editable: false, formatter: 'date', width: 110, formatoptions: { newformat: 'm/d/Y' } },
					{ Key: false, name: 'WLMDts', index: 'WLMDts', editable: false, width: 100 },
					{ Key: false, name: 'DAPCompletedByCloser', index: 'DAPCompletedByCloser', editable: false, formatter: 'date', width: 110, formatoptions: { newformat: 'm/d/Y' } },
					{
						Key: false, name: 'DAPCloserDts', index: 'DAPCloserDts', editable: true, width: 100,
						/*cellattr: function (rowId, tv, rawObject, cm, rdata) {
							//return 'onClick="javascript:showDapData(' + $.jgrid.getXmlData(rawObject, "AmendmentNumber") + ')"';
							return ' onclick="showDapData(' + '\'' +
								rawObject[0] + '\'' + ')"';
							//return "onClick='javascript:showDapData(\"" + $.jgrid.getXmlData + "("+ rawObject + ",\"AmendmentNumber\" ))'" ;
						},*/

						formatter: function (cellvalue, options, rowObject) {
							//return "onclick='showDapData(\"" + rowObject.AmendmentNumber + "\")';";
							//return 'onClick="javascript:showDapData(' + rowObject.AmendmentNumber + ')"';
							//return "<span onclick='showDapData(\"" + rowObject.AmendmentNumber +
							//	"\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";

							//return "<span onclick='showDapData(\"" + rowObject.AmendmentNumber +
							//	"\")';> rowObject.DAPCloserDts </span>";
							//return "<span onclick='showDapData(\"" + rowObject.AmendmentNumber +
							//"\")';>" + rowObject.DAPCloserDts + "</span>";
							//return "<span onclick='showDapData(\"" + rowObject.AmendmentNumber +
							//	"\")';>" + s + "</span>";

							if (rowObject.DAPCloserDts === '') {
								return "<span onclick='showDapData(\"" + rowObject.AmendmentTemplateID +
									"\")';><b>" + 'Click here to edit DAP Date' + "</b></span>";
									//"\")';>" +  rowObject.DAPCloserDts + "a</span>";
							}

						},
					},


                ],

				pager: jQuery('#spAmendGridPager'),
                cellEdit: false,
                cellsubmit: 'clientArray',
                rowNum: 10,
                //loadonce: true,
                rowList: [10, 20, 30, 40],
                shrinkToFit: false,
                height: '100%',
                viewrecords: true,
                gridview: true,
                autoencode: true,
                width: 1075,

                emptyrecords: 'No records to display',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false
                },
                loadComplete: function(data) {
                },
                //autowidth: true,
                multiselect: false,

                onPaging: function(pgButton) {
                },


                beforeSelectRow: function(rowid, e) {
                    //debugger;
                    var $self = $(this),
                        p = $self.jqGrid("getGridParam"),
                        $td = $(e.target).closest("tr.jqgrow>td"),
                        cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                        cmName = cm != null ? cm.name : null;

                    if (cmName === "FileId") {
                        handleDeleteFile(e.target.id);
                    }
                    return false;
                }
			}).navGrid('#spAmendGridPager', { edit: false, add: false, del: false, search: true, refresh: true}, {}, {}, {}, { overlay: false });





			//$("#spFileGrid").jqGrid({
			//	url: "/ProductionQueue/GetUploadedFilesForSharepoint?taskInstanceId=" + $("#txtTaskInstanceId").val() + "&fileType=all" + "",
			//	datatype: 'json',
			//	mtype: 'POST',

			//	colNames: ['File Name', 'File Size(KB)', 'Role', 'Uploaded By', 'Uploaded On', 'Section Name'],
			//	colModel: [
			//		{
			//			Key: false,
			//			name: 'FileName',
			//			index: 'FileName',
			//			width: 250,
			//			type: 'link',
			//			cellattr: function (cellvalue, options, rowObject) {
			//				if (rowObject.FileName != null) {

			//					return ' style="text-decoration: underline"';
			//				}
			//			},
			//			formatter: function (cellvalue, options, rowObject) {

			//				if (rowObject.FileName == null) {
			//					return "NA";
			//				} else {

			//					return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + rowObject.FileId + '">' + rowObject.FileName + '</a>';
			//				}
			//			}
			//		},
			//		{
			//			name: 'FileSize',
			//			index: 'FileSize',
			//			editable: false,
			//			width: 200,

			//		},
			//		{ Key: false, name: 'RoleName', index: 'RoleName', editable: false, width: 200 },
			//		{ Key: false, name: 'UploadedBy', index: 'UploadedBy', editable: false, width: 200 },
			//		{ Key: false, name: 'UploadedOn', index: 'UploadedOn', editable: false, formatter: 'date', width: 150, formatoptions: { newformat: 'm/d/Y' } },
			//		{ Key: false, name: 'SectionName', index: 'SectionName', editable: false, width: 200 },
			//	],

			//	pager: jQuery('#spFileGridPager'),
			//	cellEdit: false,
			//	cellsubmit: 'clientArray',
			//	rowNum: 10,
			//	//loadonce: true,
			//	rowList: [10, 20, 30, 40],
			//	shrinkToFit: false,
			//	height: '100%',
			//	viewrecords: true,
			//	gridview: true,
			//	autoencode: true,
			//	width: 1075,

			//	emptyrecords: 'No records to display',
			//	jsonReader: {
			//		root: "rows",
			//		page: "page",
			//		total: "total",
			//		records: "records",
			//		repeatitems: false
			//	},
			//	loadComplete: function (data) {
			//	},
			//	//autowidth: true,
			//	multiselect: false,

			//	onPaging: function (pgButton) {
			//	},


			//	beforeSelectRow: function (rowid, e) {
			//		//debugger;
			//		var $self = $(this),
			//			p = $self.jqGrid("getGridParam"),
			//			$td = $(e.target).closest("tr.jqgrow>td"),
			//			cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
			//			cmName = cm != null ? cm.name : null;

			//		if (cmName === "FileId") {
			//			handleDeleteFile(e.target.id);


			//		}
			//		return false;
			//	}

			//}).navGrid('#spFileGridPager', { edit: false, add: false, del: false, search: true, refresh: true }, {}, {}, {}, { overlay: false });


		});



	@*function showDapData(id, num) {
		alert(id);
		alert(num);
		$('#dialogContent1').load('@Url.Action("DapDataWindow", "Amendments")', { pTaskInstanceId: id, pFHANum: num }, function () {
            $('#dialogDiv1').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
    }*@

	$("#btnComplete").click(function () {
		var amendId = $("#AmendId").val();
		var dat = $("#dteDAP").val();
		var loan = $("#txtLoanAmount").val();
		$.ajax({
                    cache: false,
                    type: "POST",
					data: {
						pAmendmentTemplateId: amendId, pDapDte: dat, pLoanAmt: loan
					},
                    url: '@Url.Action("CompleteDapSP", "Amendments")',
                    error: function (a, b, c) { alert(a + b + c) },
                    success: function (data) {
						if (data == "Success") {
                            //alert("DAP date changed.");
							jQuery("#spAmendGrid").trigger("reloadGrid");
							document.getElementById("divCloserDap").style.display = "none"
                        }
                        else {
							alert("Input error.");
							return false;
                        }
                    }
        });

	});

	$("#btnDap").click(function () {
		var amendId = $("#AmendId").val();
		var dat = $("#dteDAP").val();
		$.ajax({
                    cache: false,
                    type: "POST",
					data: {
						pAmendmentTemplateId: amendId, pDapDte: dat
					},
                    url: '@Url.Action("UpdateDapSP", "Amendments")',
                    error: function (a, b, c) { alert(a + b + c) },
                    success: function (data) {
						if (data == "Success") {
                            //alert("DAP date changed.");
							jQuery("#spAmendGrid").trigger("reloadGrid");
							var x = document.getElementById("divDap");
							x.style.display = "none";
                        }
                        else {
							alert("Input error.");
							return false;
                        }
                    }
        });

	});

	function showUploadedFiles(id) {
		document.getElementById("spFiles1").style.display = "block";
		$("#spFileGrid").jqGrid({
			colNames: ['folderNodeId', 'Folder View', 'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'FileID', 'Remove Attachment', 'Upload Files', 'DocTypeID', 'DocTypesList', /*'New File Name',*/'Status'],
			colModel: [
				{ name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
				{ name: 'folderNodeName', index: 'folderNodeName', width: 320, editable: false, hidden: false, sortable: false, align: 'left' },
				{ name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },

				{
					name: 'parent', index: 'parent', width: 130, editable: false, hidden: true, sortable: false,
					formatter: function (cellvalue, options, rowObject) {
						if (rowObject.parent == null) {
							return "null"
						}
						else {
							return cellvalue;
						}
					}
				},

				{ name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
				{ name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
				{ name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
				{

					name: 'fileName', index: 'fileName', type: 'link', width: 320, editable: false,
					cellattr: function (cellvalue, options, rowObject) {
						if (rowObject.fileName != null) {

							return ' style="text-decoration: underline"';
						}
					},
					formatter: function (cellvalue, options, rowObject) {
						if (rowObject.fileName == null) {
							return " "
						}
						else {
						    //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
						    return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
						}
					}
				},

				{
					name: 'fileSize', index: 'fileSize', editable: false, width: 90,
					formatter: function (cellvalue, options, rowObject) {
						if (rowObject.fileName == null) {
							return " "
						}
						else {
							return cellvalue;
						}
					}
				},
				{ name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y' } },
				{ name: 'fileId', index: 'fileId', editable: true, hidden: true },
				{
					Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false, hidden: true,
					formatter: function (cellvalue, options, rowObject) {

						if (rowObject.fileId == null) {
							return ""
						}
						else {
							//return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
							return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
						}
					},
					formatoptions: {
						keys: true,
						editformbutton: true
					}

				},

				{
					name: 'act', index: 'act', width: 90, sortable: false, hidden: true,

					formatter: function (cellvalue, options, rowObject) {
						//debugger;
						if (rowObject.level == 0 && rowObject.Status != 15) {

							return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'Upload(' + options.rowId + '); return false;\'  />'
						}
						else {

							return ''
						}

					}
				},
				{ name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
				{ name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },

				{ name: 'Status', index: 'Status', width: 150, editable: false, hidden: true, sortable: false },

			],
			//url: "/ProductionApplication/GetWPUpload?taskInstanceId=" + $("#TaskInstanceId").val() + "&Status=" + 0 +"&PageTypeId=18",
			url: "/Amendments/GetWPUpload?taskInstanceId=" + $("#txtTaskInstanceId").val(),
			datatype: 'json',
			mtype: 'POST',
			pager: jQuery('#spFileGridPager'),
			rowNum: 10,
			loadonce: false,
			rowList: [10, 20, 30, 40],
			shrinkToFit: false,
			height: '100%',
			viewrecords: true,
			multiselect: false,
			gridComplete: function () {
				var rows = $("#spFileGrid").getDataIDs();
				// debugger;
				for (var i = 0; i < rows.length; i++) {
					var doclist = $("#spFileGrid").getCell(rows[i], "DocTypesList");
					var docTypeId = $("#spFileGrid").getCell(rows[i], "DocTypeID");

					if ((doclist != null && doclist != "")) {
						// debugger;
						$("#spFileGrid").jqGrid('setRowData', rows[i], false, { background: '#7db0d7' });

						//$("#lblsmg").show();
						//$("#lblsmg0").show();
					}
				}
			},
			beforeSelectRow: function (rowid, e) {

				//    debugger;
				var $self = $(this),
					p = $self.jqGrid("getGridParam"),
					$td = $(e.target).closest("tr.jqgrow>td"),
					cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
					cmName = cm != null ? cm.name : null;

				if (cmName === "FileId") {
					handleDeleteFile(e.target.id);
					//var deleteElements = document.getElementsByClassName('deleteLinkClass');
					//for (var i = 0; i < deleteElements.length; i++) {
					//    //alert(deleteElements[i].id);
					//    deleteElements[i].addEventListener('click',
					//        handleDeleteFile, false);

					//}

				}

				return false;
			},
			gridview: true,
			autoencode: true,
			treeGrid: true,
			autoRowHeight: false,
			rownumbers: false,
			treeGridModel: 'adjacency',
			treedatatype: "local",
			ExpandColumn: 'folderNodeName',
			sortname: 'id',
			width: 840,
			caption: 'File Upload Grid',
			emptyrecords: 'No records to display',
			jsonReader: {
				root: "rows",
				page: "page",
				total: "total",
				records: "records",
				repeatitems: false
			},
		});
	}

	function showDapData(id) {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "block";
		}

		var y = document.getElementById("divCloserDap");
		if (y != null) {
			y.style.display = "block";
		}

		//initialize
		$("#txtLoanAmount").val('')
		$("#dteDAP").val('')
		$("#AmendId").val(id);
	}

	function isAmount(evt) {
		evt = (evt) ? evt : window.event;
		var charCode = (evt.which) ? evt.which : evt.keyCode;
		if ((charCode > 47 && charCode < 58) || charCode == 46) {
			return true;
		}
		return false;
	}
</script>