﻿@model Model.Production.ReviewerInfo
      <style>
          fieldset {
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
              border: 1px solid #d9edf7;
          }
          legend {
              border: solid 1px black;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
          }
          .form-group {
              margin-left:2px;
          }
         
      </style>
@*<p id="toggle">
    <span><a class="btn btn-default"> Under Writing </a> </span>
    <span> <a class="btn btn-default">Closing</a></span>
</p>
<div id="underWriting">*@
    @if (Model.AssignedTo != null)
    {
        @Html.HiddenFor(m=>m.ReviewerTypeId)
        @Html.HiddenFor(m => m.IsAssigned, new { id = "txtIsAssigned" })


        <div class="form-horizontal col-lg-12">
            <fieldset>
                @*<legend class="legend">Details</legend>*@

                <div class="col-lg-6" >
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Is OHP Survey Review Required?")
                            }
                            else if (Model.Reviewertype == "Environmentalist")
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Is Environmental Review Required?")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.IsAssigned, "Was " + @Model.Reviewertype + " Assigned?")
                            }
                        </div>
                        <div class="col-sm-4" style="margin-top:2px;">
                            @if (Model.IsAssigned)
                            {
                                <span>
                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssigned", @style = "width:20px;margin-left:10px;" }) Yes

                                </span>
                            }
                            else
                            {
                                <span>

                                    @Html.CheckBoxFor(m => m.IsAssigned, new { @checked = "checked", disabled = true, id = @Model.Reviewertype + "IsAssignedFalse", @style = "width:20px;margin-left:30px;" }) No

                                </span>
                            }


                        </div>
                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @Html.LabelFor(m => m.AssignedTo, "Date Assigned:")
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.DateAssigned, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    @if (Model.StatusId == (int)ProductionAppProcessStatus.ProjectActionRequestComplete)
                    {
                        <div class="form-group">
                            <div class="control-label col-sm-5">
                                @Html.LabelFor(m => m.AssignedTo, "Date Completed:")
                            </div>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.DateCompleted, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                            </div>

                        </div>
                    }

                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.AssignedTo, "OH " + @Model.Reviewertype + " Assigned:")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.AssignedTo, @Model.Reviewertype + " Assigned:")
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.AssignedTo, new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="control-label col-sm-5">
                            @if (Model.Reviewertype == "Survey")
                            {
                                @Html.LabelFor(m => m.Status, "OHP " + @Model.Reviewertype + " Status:")
                            }
                            else
                            {
                                @Html.LabelFor(m => m.Status, @Model.Reviewertype + " Status:")
                            }
                        </div>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.Status, new { disabled = true, @class = "form-control" })
                        </div>

                    </div>
                </div>
       @using (Html.BeginForm("#", "ProductionQueue", FormMethod.Post, new { @class = "modal-form", id = "oGCBackAddressForm" }))
{ 
           @Html.HiddenFor(m=>m.Address.AddressID)
           @Html.HiddenFor(m => m.Address.StateCode, new { id ="AddressStateCode"})
    <div class="col-lg-6" style="margin-bottom: 10px;">
        <fieldset style="margin-top: 10px;">
            <legend class="legend" style="display:block;text-align:center;border-color:lightblue">Address Information</legend>
            <div class="form-group">

                <div>
                    <label class="col-lg-5 control-label">State:</label>
                    <div class="col-lg-5">
                        @Html.DropDownList("StateCode", null, new { @class = "form-control" ,id="stateCode"})
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div>
                    <label class="col-lg-5 control-label">City:</label>
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Address.City, new { @class = "form-control", id="City"})
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div>
                    <label class="col-lg-5 control-label">Street:</label>
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Address.AddressLine1, new { @class = "form-control", id = "AddressLine1" })
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div>
                    <label class="col-lg-5 control-label">Zip Code:</label>
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Address.ZIP, new { @class = "form-control", id = "ZIP" })
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div>
                    <label class="col-lg-5 control-label">Email:</label>
                    <div class="col-lg-5">
                        @Html.TextBoxFor(m => m.Address.Email, new { @class = "form-control", id = "Email" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-7 pull-right">
                    <button id="btn_saveAddress" class="btn btn-default">Save Changes</button>
                </div>
            </div>
        </fieldset>
    </div>
}

           </fieldset>
        </div>

    }
 else
{
 <div class="alert alert-info">
    <strong>Info!</strong> The Backup OGC Is not assigned for this Process. Information will be available once backup OGC is assigned Application/Closing processes
</div>
  <div id="assignlink" class="alert alert-link">
    Click Assign button to assign backup OGC for the selected process.<span class="glyphicon glyphicon-circle-arrow-right"></span>
   <button id="btn_assignOgc" class="btn btn-primary">Assign</button>
</div>

    <div class="form-group" id="div_assignOgc" style="display:none">
        <div class="form-group col-md-12">

            <div>
                <label class="col-sm-2 control-label">Production User:</label>
                <div class="col-sm-3">
                    @Html.DropDownList("AssignedToUserId", null, new { @class = "form-control" })
                </div>
            </div>
            <div>
                <button id="btn_assignSave" class="btn btn-default">Assign</button>
                <button id="btn_cancel" class="btn btn-default">Cancel</button>
            </div>
            
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        var reviewer = '@Model.IsAssigned';
        var reviewerAssigned = $('#txtIsAssigned').val();
        var isAssigned = $('#' + reviewer + 'IsAssigned').val();
        var isNotAssigned = $('#' + reviewer + 'IsAssignedFalse').val();

        if (reviewerAssigned === "True") {
            $('#' + reviewer + 'IsAssigned').prop('checked', true);

        } else {
            $('#' + reviewer + 'IsAssignedFalse').prop('checked', true);
        }


        $(".reviewerCommentForm").submit(function (e) {
            e.preventDefault();
            var formId = '@Model.Reviewertype';
            var activeTab = $('.nav-pills .active').text();
            var subFormId = formId.substring(3, 0);
            var subActiveTab = activeTab.replace(/\W/g, '');
            //compare formId with active tab name
            if (subFormId == subActiveTab.substring(3, 0)) {
                var taskXrefId = '@Model.TaskXrefId';
                var taskInstanceId = '@ViewBag.taskInstanceId';
                addComment(taskInstanceId, formId);

            }

        });
        function addComment(id, formId) {
            var name = formId + "comment";
            var comment = $("#" + name).val();
            var oldComment = $('#' + formId + "oldComment");

            if (comment != '') {
                var url = '@Url.Action("UpdateComment", "ProductionQueue")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { taskInstacneId: id, reviwerType: $('#ReviewerTypeId').val(), comment: comment },
                    success: function (data) {
                        if (oldComment.val() == "") {
                            oldComment.append(comment);
                            $("#" + name).val('');
                        }

                        else {
                            oldComment.append("\n" + comment);
                            $("#" + name).val('');
                        }
                    },
                    error: function (data) {
                        alert("Error on Updating Comment");
                    },

                });
            }
        };

        $('#btnAttach').click(function (e) {
            e.preventDefault();
            var reviewerTypeId = '@Model.ReviewerTypeId';
            var fileType = "";
            if (reviewerTypeId === '@((Int32)ProductionView.UnderWriter)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.appraisalInfo))';
            } else if (reviewerTypeId === '@((Int32)ProductionView.Environmentalist)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.envInfo))';
            } else if (reviewerTypeId === '@((Int32)ProductionView.Survey)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.surveyInfo))';
            } else if (reviewerTypeId === '@((Int32)ProductionView.Attorney)') {
                fileType = '@(Enum.GetName(typeof(SharepointSections), SharepointSections.ogcInfo))';
            }

            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: '@ViewBag.taskInstanceId', fileType: fileType });
            return false;
        });
    });
    $('#btn_assignOgc').click(function (e) {
        $('#div_assignOgc').show();
        $('#assignlink').hide();
    });
    $('#btn_cancel').click(function (e) {
        $('#div_assignOgc').hide();
        $('#assignlink').show();
    });
    $('#btn_assignSave').click(function (e) {
        // alert($('#AssignedToUserId').val()
        var selectedUserId = $('#AssignedToUserId').val();
        if (selectedUserId != null) {
            var url = '@Url.Action("AssignBackupOGC", "ProductionQueue")';
            $.ajax({
                url: url,
                type: 'POST',
                data: { taskInstanceId: '@ViewBag.taskInstanceId', userId: selectedUserId },
                success: function (data) {
                    $('.backupOGCInfo').load('@Url.Action("GetBackupOGCInfo", "ProductionQueue")', { taskInstanceId: '@ViewBag.taskInstanceId', reviewertype: '@((Int32)ProductionView.BackupOGC)' });
                },
                error: function (data) {
                    alert("Error on Assigning Backup OGC Please try again!");
                },

            });
        }

    });
    $('#lenderContactEmailText').focusout(function () {
        if (!(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i).test($('#lenderContactEmailText').val())) {
            alert("Please enter a valid Email Address");
            $('#lenderContactEmailText').val("");
            validEmail = false;
        } else {
            validEmail = true;
        }
    });
    function validateAddressForm() {
        var pattern = /^[0-9]{5}$/;
        if ($('#stateCode').val() == "00") {
            alert("Please Select State Code");
            return false;
        }
        else if ($('#City').val() == "") {
            alert("City is Required");
            return false;
        }
        else if ($('#AddressLine1').val() == "") {
            alert("Street Address is Required");
            return false;
        }
        else if ($('#ZIP').val() == "") {
            alert("Zip Code is Required");
            return false;
        }
        else if ($('#Email').val() == "") {
            alert("Eamil Address is Required");
            return false;
        }
        else if (!(/^[+a-zA-Z0-9._-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i).test($('#Email').val())) {
            alert("Please enter a valid Email Address");
            $('#Email').val("");
            return false;
        }
        else if (!pattern.test($('#ZIP').val())) {          
            alert("Invalid Zip Code!");
            return false;
    
        }
        return true;
    }
    $('#oGCBackAddressForm').submit(function (e) {
        e.preventDefault();
        var taskInstId = $('#ProdAppTypeId').val();
        var selectedStateCode = $('#stateCode').val();        
        $("#AddressStateCode").val(selectedStateCode);       
        var valid = validateAddressForm();
        if (valid) {
            var url = '@Url.Action("SaveOrUpdateOgcAddress", "ProductionQueue")';
            $.ajax({
                url: url,
                type: 'POST',
                data: $('#oGCBackAddressForm').serialize() + '&' + $.param({ 'taskInstanceId': taskInstId, 'reviewertypeId': '@((Int32)ProductionView.BackupOGC)' }),
                success: function (data) {

                },
                error: function (data) {
                    alert("Error on Saving/Updating Address info");
                },

            });
        }

    });

</script>