﻿@model Model.Production.GeneralInformationViewModel

<style>
    fieldset {
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid #d9edf7;
    }
</style>
@if(Model == null || Model.FHANumber != null )
{
<section id="generalInformation">
    <fieldset>
        @*<form name="genForm" class="generalInfoForm">*@
        @using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "generalInfoForm" }))
        {
            @Html.HiddenFor(m => m.FHANumber, new { id = "txtFhaNumber" })
            @Html.HiddenFor(m => m.TaskInstanceId, new { id = "txtTaskInstanceId" })
            @Html.HiddenFor(m => m.FirmReviewStartDate, new { id = "txtFirmReviewStartDate" })
            @Html.HiddenFor(m => m.WLMName, new { id = "txtWLMName" })
            @Html.HiddenFor(m => m.ProgramSpecialistAssignedDate, new { id = "txtProgramSpecialistAssignedDate" })
            @Html.HiddenFor(m => m.UnderwriterName, new { id = "txtUnderwriterName" })
            @Html.HiddenFor(m => m.ProgramSpecialistCompletedDate, new { id = "txtProgramSpecialistCompletedDate" })
            @Html.HiddenFor(m => m.ProjectStatus, new { id = "txtProjectStatus" })
            @Html.HiddenFor(m => m.IsTaxCreditProperty, new { id = "txtIsTaxCreditProperty" })
            @Html.HiddenFor(m => m.ProjectStatusAsofDate, new { id = "txtProjectStatusAsofDate" })
            @Html.HiddenFor(m => m.IsContractorProcessedLoan, new { id = "txtIsContractorProcessedLoan" })
            @Html.HiddenFor(m => m.IsTwoStageSubmittal, new { id = "txtIsTwoStageSubmittal" })
            @Html.HiddenFor(m => m.IsApplicationRejected, new { id = "txtIsApplicationRejected" })
            @Html.HiddenFor(m => m.ApplicationRejectionDate, new { id = "txtApplicationRejectionDate" })
            
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Firm Review Began")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.FirmReviewStartDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("WLM Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.WLMName, new { disabled = true, @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Entered Queue")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.QueueEntryDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Underwriter Name")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.UnderwriterName, new { disabled = true, @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Program Specialist Assigned (Prepping)")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ProgramSpecialistAssignedDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Project Status")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ProjectStatus, new { disabled = true, @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Completed")
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.TextBoxFor(m => m.ProgramSpecialistCompletedDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Project Status As Of")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ProjectStatusAsofDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Is this a Tax Credit Property?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsTaxCreditProperty, true, new { @id = "taxYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsTaxCreditProperty, false, new { @id = "taxNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-4 text-right ">
                        @Html.Label("Long term hold placed")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsLongTermHold, true, new {@id = "holdYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsLongTermHold, false, new {@id = "holdNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;"})
                        </span>
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Is this a Contractor processed Loan?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsContractorProcessedLoan, true, new { @id = "loanYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsContractorProcessedLoan, false, new { @id = "loanNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-4 text-right ">
                        @Html.Label("Date of Hold", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.DateOfHold, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Is this a 2 stage submittal?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsTwoStageSubmittal, true, new { @id = "twoStageYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsTwoStageSubmittal, false, new { @id = "twoStageNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-4 text-right ">
                        @Html.Label("Reason for Hold", new { @class = "required" })
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ReasonForHold, new { @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Has Loan Committee been approved?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsLoanCommitteApproved, true, new { @id = "loanCommitteYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsLoanCommitteApproved, false, new { @id = "loanCommitteNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                        </span>
                    </span>
                    <span class="col-md-4 text-right ">
                        @Html.Label("Application Rejected (Final)", new { @class = "required" })
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsApplicationRejected, true, new { @id = "rejectYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsApplicationRejected, false, new { @id = "rejectNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;", disabled = true })
                        </span>
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Approved")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.LoanCommitteApprovedDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                    </span>
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Rejected", new {@class = "required"})
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.ApplicationRejectionDate, "{0:MM/dd/yyyy}", new { disabled = true, @class = "form-control" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Date Issued")
                    </span>
                    <span class="col-md-3 required">
                        @Html.TextBoxFor(m => m.FirmCommitmentIssuedDate, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker" })
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-3 text-right ">
                        @Html.Label("Has Firm Commitment been Issued?")
                    </span>
                    <span class="col-md-1 text-right">
                        <label>Yes</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsFirmCommitmentIssued, true, new { @id = "firmYes", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                        </span>
                    </span>
                    <span class="col-md-1 text-right">
                        <label>No</label>
                        <span>
                            @Html.RadioButtonFor(m => m.IsFirmCommitmentIssued, false, new { @id = "firmNo", @class = "rbFakeClass", @style = "width:20px;margin-left:10px;" })
                        </span>
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-6 text-right">
                        <button id="btnGenSave" class="btn btn-default">
                            Save
                        </button>
                    </span>
                    <span class="col-md-6">
                        <button id="btnAttachGen" class="btn btn-default"
                                style="border-color: #999">
                            Attach
                        </button>
                    </span>
                </div>
            </div>
        }
    </fieldset>
</section>
}

else{
<div class="alert alert-info">
    <strong>Info!</strong> General Information is only Available for Application Processes! Select Application type from dropdown list to see General Info details !
</div>
}

<script>
    $(document).ready(function () {
        $('#MiscInfo').empty();
        
        $('.datepicker').datepicker();
        $('.datepicker').change(function () {
            var date = $(this).val();
            var arrDate = date.split("/");
            var today = new Date();
            var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

            if (userSelectedDate > today) {
                alert('Date must not be in the future.');
                $(this).val('');
            }
        });

        $('#generalInfoForm').submit(function (e) {
            e.preventDefault();
            //debugger;
            //$("#spinner").attr('class', 'overlay');
            $.ajax({
                url: '/ProductionQueue/SaveGeneralInformationDetails/',
                data: $('#generalInfoForm').serialize(),
                type: 'POST',
                success: function (response) {
                    if (response === "Success") {
                        alert("Information Updated Successfully");
                        return false;
                    }
                },
                error: function (xhr, status, p3, p4) {
                
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
        //return false;
        });

        $('#btnAttachGen').click(function (e) {
            e.preventDefault();
            $('#exTab3 a[href="#10b"]').tab('show');
            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: $('#txtTaskInstanceId').val(), fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.genInfo))' });
            return false;
        });
    });
</script>