﻿
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-multiSelect/jquery.multiselect.js"></script>
<style type="text/css">
    jqdialog .glyphicon, .ui-jqgrid .glyphicon {
        font-size: 20px;
        top: auto;
        color: darkslateblue;
    }
</style>
<style type="text/css">
    button.ui-multiselect.ui-widget.ui-state-default.ui-corner-all.btn-text-color-fix {
        height: 34px;
    }

    .badge {
        color: #428bca;
        position: relative;
        top: 1px;
        right: -3px;
        padding: 2px 4px;
    }

    .btn-primary .badge {
        color: #428bca;
        background-color: #8bbce2;
    }

    .ui-jqgrid {
        font-family: Arial;
    }

        .ui-jqgrid > .ui-jqgrid-view {
            font-size: 12px;
        }

            .ui-jqgrid > .ui-jqgrid-view button {
                font-size: 10px;
            }

            .ui-jqgrid > .ui-jqgrid-view a {
                color: #428bca;
                font-weight: bolder;
            }

        jqdialog .glyphicon, .ui-jqgrid .glyphicon {
            font-size: 20px;
            top: auto;
            color: darkslateblue;
        }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        //$.ajaxSetup({ cache: false });

        $(".btnAssign").click(function () {

            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>

@*karri#264*@
<div class="row">
    <div class="col-lg-1">

    </div>
    <div class="col-lg-2" align="left">
        Application Type
    </div>

    <div class="col-lg-3">
        FHA Number / Project Name
    </div>
    <div class="col-lg-1">

    </div>
    <div class="col-lg-1">

    </div>
</div>
<div class="row">
    <div class="col-lg-1">
        <h5>Search Filters:</h5>
    </div>
    <div class="col-lg-2" align="left">
        @* @Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "Assigned_appType", data_placeholder = "Choose Application..." })*@

        @*@Html.ListBox("ApplicationType", (MultiSelectList)ViewBag.ApplicationType, new { multiple = "multiple", id = "Assigned_appType", name = "ApplicationType", @style = "width:212px"})*@

        @Html.ListBox("Assigned_appType", (MultiSelectList)ViewBag.ApplicationType, new { multiple = "multiple", name = "ApplicationType", @style = "width:212px" })
    </div>

    <div class="col-lg-3" align="left">
        <input type="text" id="ddlAssignedTasksFHAProjName" class="form-control" style="width:400px;" />
    </div>
    <div class="col-lg-1" align="right">
        <input type="button" class="btn btn-default" id="btnAssignedSearch" value="Search" />
    </div>
    <div class="col-lg-1" align="left">
        <input type="button" class="btn btn-default" id="btnAssignedSearchCancel" value="Reset" />
    </div>

    @*//naresh adding*@
    <div class="row" style="margin-left:20px;width: 1200px;">
        <span style="float: right; margin-left: 80px">
            <a id="ExclIcon" class="excelExport" href="@Url.Action("ExportassignedExcel", "productionqueue")"><img alt="Export to Excel" src="/Images/icon_excelBg.jpg"></a>

        </span>

    </div>



</div>

<div class="row">

    @*//naresh add below div*@
    <div class="col-lg-1">
        <h6><b>Search Reviewer:</b></h6>
    </div>
    <div class="col-lg-2" align="left">
        @*@Html.DropDownList("Assignedunderwriternames", null, new { @class = "form-control", id = "Assignedunderwriternames", data_placeholder = "Choose Reviewer..." })*@

        @Html.ListBox("Assignedunderwriternames", (MultiSelectList)ViewBag.Assignedunderwriternames, new { multiple = "multiple", name = "Select Underwriter", @style = "width:212px" })
    </div>
</div>






@*karri#264*@
<script>

    var autocompleteCompletedTaskTextBox = $('#ddlAssignedTasksFHAProjName');

    var possibleValuesCompletedTasksValues = @Html.Raw(Json.Encode(ViewBag.AssignedSearchableData));
</script>
<script src="~/Scripts/Shared/autocomplete_PQCompletedtasks.js"></script>

<div id="div_assignedTask">

    <table id="assignedTask"></table>
    <div id="pager2"></div>

</div>
@*siddu #812*@
<script type="text/javascript">
    $(document).ready(function () {

        //var aptype=$('#ApplicationType').val();
        var aptype=$('#ApplicationType').val();
        //alert(aptype);
        var type="";
        if(aptype==null || aptype=="")
        {
            type=0;
        }
        else
        {
            type = $('#ApplicationType').val();

        }

        var status = $('#StatusID').val();
       // "use strict";
        var $grid = $("#assignedTask");

        $grid.jqGrid({
            url: '@Url.Action("GetAllProductionTasks", "ProductionQueue")',

            postData: { applicationType: type, status: 0 },
            //data:data,
            datatype: 'local',
            colNames: ['FHA Number','Project Name ', 'Loan type','Loan Amount','Action','Page Type','Prod Type Selected','Date Added', 'Lender', 'Type','Portfolio Name', 'Last Updated','# Days In Queue','IsLIHTC','Opportunity Zone','Notes','Project Details','Assign User','Assigned By', 'Assigned To' ],
            colModel: [
               {
                    name: "TaskName", index: "TaskName", width: 220, align: 'left',
                    //type: 'link',
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.TaskName != null) {

                           //return ' style=" text-decoration: underline;Color:blue"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.TaskName == null) {
                           return "NA";
                       }
                       @*else {

                           if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                               return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }
                           else {
                               return '<a>' + rowObject.TaskName + '</a>';
                           }
                       }*@
                       else {

                           if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                               return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }

                           else if(rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                           {
                               return '<a style=" text-decoration: underline;" href="/ProductionMyTask/GetForm290Task/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                           }
                           else {
                               return '<a href="/ProductionQueuelinktabs/GetassignedTaskDetail?taskInstanceId=' + (rowObject.TaskInstanceId)  + '"  style="text-decoration: underline;">' + rowObject.TaskName + '</a>';
                               //return '<a>' + rowObject.projectName + '</a>';
                           }
                       }
                   }

               },

                {
                    name: "projectName", index: "projectName", width:220, align: 'right',
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.projectName != null) {
                        }
                    },
                    formatter: function (cellvalue, options, rowObject)
                    {

                        if (rowObject.projectName == null) {
                            return "NA";
                        }
                        @*else {
                            if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                            }
                            else {
                                return '<a>' + rowObject.projectName + '</a>';
                            }
                        }*@
                        else {
                            if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                            }

                            else if(rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            {
                                return '<a style=" text-decoration: underline;" href="/ProductionMyTask/GetForm290Task/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                            }
                            else {
                                return '<a href="/ProductionQueuelinktabs/GetassignedTaskDetail?taskInstanceId=' + (rowObject.TaskInstanceId)  + '"  style="text-decoration: underline;">' + rowObject.projectName + '</a>';
                                //return '<a>' + rowObject.projectName + '</a>';
                            }
                        }
                    }

                },

               //{name: "projectName", idex: "projectName", hidden: false,width: 200 },

                { name: "LoanType", idex: "LoanType", width: 170 },
                      // added Prod hareesh
                @*{
                    name: "ProdDDLBType", index: "ProdDDLBType",hidden: true, width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "FHA"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "Produciton Application"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "Single Stage"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "2 Stage Initial"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "2 Stage Final"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "Draft Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "Executed Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "closing advances"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "closing completion"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "construction mgt"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "Form 290"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "Amendment"
                    }
                },*@
                //{ name: "LoanAmount", idex: "LoanAmount", width: 150, align: 'right'},

                {
                    name: "LoanAmount", index: "LoanAmount", width:150, align: 'right',
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.LoanAmount != null) {
                        }
                    },
                    formatter: function (cellvalue, options, rowObject)
                    {
                        var lamoun="$"+rowObject.LoanAmount;
                        if (rowObject.LoanAmount == null) {
                            return "NA";
                        }
                        else {
                            if (rowObject.LoanAmount != null) {
                                return lamoun;
                            }

                        }
                    }

                },

                 { name: "TaskInstanceId", idex: "TaskInstanceId", hidden: true,width: 200 },
                { name: "PageTypeId", idex: "PageTypeId", hidden: true, width: 120 },
                {
                    name: "ProdDDLBType", index: "ProdDDLBType",hidden:true, width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "FHA"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "Produciton Application"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "Single Stage"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "2 Stage Initial"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "2 Stage Final"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "Draft Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "Executed Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "closing advances"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "closing completion"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "construction mgt"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "Form 290"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "Amendment"
                    }
                },

                 { name: "StartTime", idex: "StartTime", width: 110, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                  { name: "Lender",sortable: true, type: 'link', width: 120 },
                {
                    name: "Type", index: "Type", width: 100,
                    formatter: function (cellvalue, options, rowObject) {
                        @*if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                        return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                        return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                        return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                        return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                        return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                        return "<span class='badge' style='color: whitesmoke;'> closing</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                        return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                        return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                        return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                        return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"*@
                     if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                        return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                        return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                        return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                        return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                        return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                        return "<span class='badge' style='color: whitesmoke;'> Draft Closing</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                        return "<span class='badge' style='color: whitesmoke;'> Executed Closing</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                        return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                        return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                        return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                        return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"
                    else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                        return "<span class='badge' style='color: whitesmoke;'>Amendment</span>"
                    }

                },

 { name: "Portfolio_Name", index: "Portfolio_Name", width: 170},
  { name: "ModofiedOn", index: "ModofiedOn", width: 120, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },

                { name: "DaysInQueue", idex: "DaysInQueue", width: 120  },
              {
                  name: 'IsLIHTC',
                  index: 'IsLIHTC',
                  sortable: true, type: 'link',
                  width: 130,
                  formatter: function (cellvalue, options, rowObject) {


                      if (rowObject.IsLIHTC == true) {

                          return 'Yes';
                      }
                      else {
                          return '';
                      }
                  }


              },
                {
                    name: 'opportunity_zone',
                    index: 'opportunity_zone',
                    sortable: true, type: 'link',
                    width: 130,
                    formatter: function (cellvalue, options, rowObject) {


                        if (rowObject.opportunity_zone == true) {

                            return 'Yes';
                        }
                        else {
                            return '';
                        }
                    }


                },
                  {
                      name: 'Notes', index: 'Notes',width: 150,
                      formatter: function (cellvalue, options, rowObject) {
                          return "<span class='glyphicon glyphicon-list-alt' onclick='productionNote(\"" +
                                   rowObject.TaskInstanceId +
                                   "\")';></span>";

                      }
                  },
                      {
                          name: 'SPData', index: 'SPData', width: 110,
                          formatter: function (cellvalue, options, rowObject) {
                              if (rowObject.PageTypeId > '@((Int32)PageType.FhaRequest)' && rowObject.PageTypeId != '@((Int32)PageType.Form290)' )
                                  //return "<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +
                                  //         rowObject.TaskInstanceId +
                                  //         "\")';></span>";
                                  return "<span onclick='sharepointData(\"" +
                                      rowObject.TaskInstanceId +
                                      "\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
                              else return "";

                          }
                      },
                       //added Prod hareesh

                // { name: "Status", index: "Status", width: 150 },
                 //Hareesh Added Assign Button

                  {
                      name: 'Assign',
                      index: 'Assign',
                      sortable: true, type: 'link',
                      width: 180,
                      formatter: function (cellvalue, options, rowObject) {

                          if (rowObject.PageTypeId == 4 && (rowObject.AssignedTo == null || rowObject.AssignedTo == "Queue")) {
                              return "<button class='btn btn-primary' onclick='assignFhaInsert(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> Fha</span></button>";
                          } else if ((rowObject.PageTypeId == 5 || rowObject.PageTypeId == 6 || rowObject.PageTypeId == 7
                              || rowObject.PageTypeId == 8) && rowObject.ShowStatus == "1") {
                              return "<button  class='btn btn-primary' onclick='assignAppProcess(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> APP</span></button>";
                          }
                          else if (rowObject.PageTypeId == 9 ) {
                              return "<button   class='btn btn-primary' onclick='assignAppProcess(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> const Mgt</span></button>";
                          }
                          else if ((rowObject.PageTypeId == 10 || rowObject.PageTypeId == 11 || rowObject.PageTypeId == 12) && rowObject.ShowStatus == "1") {
                              return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> closing</span></button>";
                          }
                          else if (rowObject.PageTypeId == 16 && rowObject.ShowStatus == "1") {
                              return "<button class='btn btn-primary' onclick='assignForm290(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> 290</span></button>";
                          }

                              ////karri#830//addded as this, auto closing(identified by amar 13apr2020) is not required, should have all the tasks as usual
                          else if (rowObject.PageTypeId == 17) {
                              return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'> Executed Closing</span></button>";
                          }

                          else if (rowObject.PageTypeId == 18) {
                              return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                  rowObject.TaskInstanceId +
                                  "\")';> Assign<span class='badge'>Amendment</span></button>";
                          }

                          else
                              return '';
                      }


                  },






                { name: "AssignedBy", index: "AssignedBy",width: 170},
                { name: "AssignedTo", idex: "AssignedTo", width: 170 },


                //
                @*{
                    name: 'Comments', index: 'Comments', width:80,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                            return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.TaskInstanceId + "\",\"" + '@((Int32)PageType.FhaRequest)' + "\")';></span>";
                        } else {
                            return "";
                        }
                    }
                },*@



            ],
            pager: "#pager2",
            rowNum: 40,
            rowList: [10, 20, 30,40],

            rownumbers: true,
            loadonce: false,
            caption: "Assigned Production Tasks",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            cmTemplate: { sortable: false },
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            //scroll: 1,
            onSelectRow: function(rowid) {

                return false;
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
              //  debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                subgrid_table_id = subgrid_id+"_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
                var selectedRow = $(this).getRowData(row_id).TaskInstanceId;
                var selectedProductionType = $(this).getRowData(row_id).ProdDDLBType; //#84 Contains Project type value   new hareesh
                var selectedProdViewCreaedDate = $(this).getRowData(row_id).StartTime; //#84 Contains Project type value new hareesh

                //alert(selectedProductionType);
                //alert(selectedProdViewCreaedDate);

                if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
                    Type = 'View';
                    stat = true;
                }

                //karri#205
                if ($(this).getRowData(row_id).Type.indexOf("APP") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "APP";
                }

                // naveen ,hareesh added
                //  alert(1);
                if ($(this).getRowData(row_id).Type.indexOf("Draft Closing") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Draft Closing";
                }
                // alert(2);
                // harish ,naveen added Executed Closing
                if ($(this).getRowData(row_id).Type.indexOf("Executed Closing") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Executed Closing";
                }
                //harish ,naveen added  closing advances
                if ($(this).getRowData(row_id).Type.indexOf("closing advances") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "closing advances";
                }
                //harish ,naveen added  closing completion
                if ($(this).getRowData(row_id).Type.indexOf("closing completion") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "closing completion";
                }

                //harish ,naveen added  Single stage,2 Stage Initial,2 Stage Final,construction mgt,Single Stage
                if ($(this).getRowData(row_id).Type.indexOf("Single Stage") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Single Stage";
                }
                if ($(this).getRowData(row_id).Type.indexOf("2 Stage Initial") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "2 Stage Initial";
                }
                if ($(this).getRowData(row_id).Type.indexOf("2 Stage Final") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "2 Stage Final";
                }
                if ($(this).getRowData(row_id).Type.indexOf("construction mgt") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "construction mgt";
                }
                if ($(this).getRowData(row_id).Type.indexOf("Single Stage") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Amendment";
                }
                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
                    // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123,
                    postData: { taskInstanceId: selectedRow , prdType: selectedProductionType, viewsCrdDate: selectedProdViewCreaedDate }, // added parameters hareesh
                    datatype: 'json',
                    colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By','Assign User'],
                    colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                       { name: "FhaType", index: "FhaType", width: 250 },
                        { name: "Status", idex: "Status", width: 220 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 220, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 220 },
                        { name: "AssignedBy", index: "AssignedBy", width: 250 },
                        // added by harishs
                    {
                    name: 'Assign',
                index: 'Assign',
               // hidden: stat,
                width: 250,
                formatter: function (cellvalue, options, rowObject) {
                    if (rowObject.AssignedTo == null || rowObject.AssignedTo == "") {
                        return "<button class='btn btn-primary' id='btnAssign' onclick='assign(\"" +
                            rowObject.TaskXrefid +
                            "\")';> Assign</button>";
                    } else
                        return '';
                }


            }

                    ],
                    height: 'auto',
                    autowidth:true,
                    jsonReader: { repeatitems : false, root:"attribute" }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });

            }



        });
        $grid.jqGrid("navGrid", "#pager2",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

    });




    function FilterAssignedTasks() {
        var type = $('#Assigned_appType').val();
        var status = $('#StatusID').val();
        //$("#ProductionQueue").trigger("reloadGrid");
        $("#assignedTask").jqGrid('setGridParam', {
            datatype: 'json',
            postData: { "applicationType": type, "status": status }
        }).trigger('reloadGrid');
    };

    $('#Assigned_appType').change(function () {

        var selectvalue=$('#Assigned_appType').val();

        $('#ui-multiselect-Assigned_appType-option-0').change(function () {
            $("#ui-multiselect-Assigned_appType-option-1").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-2").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-3").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-4").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-5").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-6").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-7").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-8").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-9").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-10").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-11").prop("checked", false);
            $("#ui-multiselect-Assigned_appType-option-12").prop("checked", false);
        });
        if(selectvalue.length==2)
        {
            $('#ui-multiselect-Assigned_appType-option-0').change(function () {
                $("#ui-multiselect-Assigned_appType-option-1").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-2").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-3").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-4").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-5").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-6").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-7").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-8").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-9").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-10").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-11").prop("checked", false);
                $("#ui-multiselect-Assigned_appType-option-12").prop("checked", false);
            });
        }
        $('#ui-multiselect-Assigned_appType-option-1').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);

        });

        $('#ui-multiselect-Assigned_appType-option-2').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-3').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-4').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-5').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-6').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-7').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-8').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-9').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-10').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-11').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
        $('#ui-multiselect-Assigned_appType-option-12').change(function () {
            $("#ui-multiselect-Assigned_appType-option-0").prop("checked", false);
        });
    });
    $('#StatusID').change(function () {

        FilterAssignedTasks();
    });
     function comments(fhaRequestInstanceId, requestType) {
        $('#dialogContent').load('@Url.Action("GetComments", "ProductionQueue")', { fhaRequestId: fhaRequestInstanceId, type: requestType }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
</script>

@*karri#264*@
@*naresh add reviwername*@
<script>
    $('#btnAssignedSearch').click(function () {

            //var listBoxToString = function (listBox, all) {
            //    if (typeof listBox === "string") {
            //        listBox = document.getElementById(listBox);
            //    }

            //    if (listBox == null) { return ""; }

            //    if (!(listBox || listBox.options)) {
            //        throw Error("No options");
            //    }
            //    var options = [], opt;
            //    for (var i = 0, l = listBox.options.length; i < l; ++i) {
            //        opt = listBox.options[i];
            //        if (all || opt.selected) {
            //            options.push(opt.value);
            //        }
            //    }
            //    return options.join(",");
            //};

            //var statuscheckbox = listBoxToString('Assigned_appType', false);

            //$("#Assigned_appType").multiselect("refresh");

        //underwriter names fetching
            var listBoxToString = function (listBox, all) {
                if (typeof listBox === "string") {
                    listBox = document.getElementById(listBox);
                }

                if (listBox == null) { return ""; }

                if (!(listBox || listBox.options)) {
                    throw Error("No options");
                }
                var options = [], opt;
                for (var i = 0, l = listBox.options.length; i < l; ++i) {
                    opt = listBox.options[i];
                    if (all || opt.selected) {
                        options.push(opt.value);
                    }
                }
                return options.join(",");
            };

            var statuscheckboxunderwriternames = listBoxToString('Assignedunderwriternames', false);

            $("#Assignedunderwriternames").multiselect("refresh");



        //new code added by naresh
        //var appType = document.getElementById("Assigned_appType").value;
            if(localStorage.getItem("data")!=null)
            {
                var statuscheckbox=localStorage.getItem("data");
            }
            var appType = statuscheckbox;
           // alert(appType);
            var appTypeMultSel = statuscheckbox;
            //alert(123);
            //alert(appTypeMultSel);
            if(appType==0)
            {
                appType=0;

                appTypeMultSel=null;
            }
            else
            {
                appType=-1;
                //if(appType =-1)
                //{
                //    appType =5;
                //}
               // appTypeMultSel;
            }
            var fhaOrProjName = document.getElementById("ddlAssignedTasksFHAProjName").value;
           var Reviwername=statuscheckboxunderwriternames;
        jQuery("#assignedTask").jqGrid().setGridParam({ url: '@Url.Action("GetAllProductionTasks", "ProductionQueue")', datatype: 'json', postData:
                 { applicationType: appType, fhaOrProjName: fhaOrProjName,Underwritername:Reviwername,multiAppType:appTypeMultSel }
        }).trigger("reloadGrid");


    });

    $('#btnAssignedSearchCancel').click(function () {
       document.getElementById("Assigned_appType").value = 0;
       document.getElementById("ddlAssignedTasksFHAProjName").value = null;
        jQuery("#assignedTask").jqGrid().setGridParam({ url: '@Url.Action("GetAllProductionTasks", "ProductionQueue")', datatype: 'json', postData:
                 { applicationType: 0, fhaOrProjName: null }
        }).trigger("reloadGrid");


    });

    
 

    // added by harish

    function assignFhaInsert(id) {
        $('#dialogContent').load('@Url.Action("FhaInsertAssignment","ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    //Function for Prod Task Assignment
    function assignAppProcess(id) {
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("ApplicationAssignment", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function assignForm290(id) {
        $('#dialogContent').load('@Url.Action("Form290Assignement", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    //Production Note
    function productionNote(id) {
        $('#dialogContent').load('@Url.Action("GetNoteByTask", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    function sharepointData(id) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id);
        });

    }
    function loadSharepoint(ClosingAppStatus,id) {
        if (!ClosingAppStatus) {
            $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id }, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }

    function assign(myId) {

        //("#packages").trigger("reloadGrid");
        $('#dialogContent').load('@Url.Action("TaskAsignment","ProductionQueue")', { taskXrefid: myId }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
    //naresh add multi selection code below
    $("#Assigned_appType").multiselect({

        noneSelectedText: 'Select ApplicationType', minWidth: 250
                             , selectedList:0
                            , selectedText: function (numChecked, numTotal) {
                                //naresh add 13012020 add new code
                                arr1 = [];
                                //ui-multiselect-Assigned_appType-option-0
                                if($('#ui-multiselect-Assigned_appType-option-0').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-0").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-1').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-1").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-2').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-2").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-3').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-3").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-4').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-4").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-5').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-5").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-6').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-6").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-7').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-7").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-8').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-8").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-9').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-9").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-10').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-10").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-11').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-11").val());
                                }
                                if($('#ui-multiselect-Assigned_appType-option-12').prop("checked") == true)
                                {
                                    arr1.push($("#ui-multiselect-Assigned_appType-option-12").val());
                                }

                                localStorage.setItem("data",arr1);
                                //naresh add 13012020 add new code
                                //var valSelected = $("#Assigned_appType").val();comment 13012020
                                var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                                return 'ApplicationType (' + aeSelected + ')';

                            }
    });
    $("#Assignedunderwriternames").multiselect({
        noneSelectedText: 'Select Underwriter', minWidth: 250//venkatpq2 10022020
                           // , selectedList:null
                            , selectedList:0
                           , selectedText: function (numChecked, numTotal) {
                               var valSelected = $("#Assignedunderwriternames").val();
                               var aeSelected = numChecked == numTotal ? 'All' : numChecked;

                               return 'Assignedunderwriternames (' + aeSelected + ')';

                           }
    });


</script>