﻿@{
    ViewBag.Title = "Index";
    //var selectvalue = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-multiSelect/jquery.multiselect.js"></script>




<style type="text/css">
    span {
        font-weight: normal;
    }

    .badge {
        color: #428bca;
        position: relative;
        top: 1px;
        right: -3px;
        padding: 2px 4px;
    }

    .btn-primary .badge {
        color: #428bca;
        background-color: #8bbce2;
    }

    .ui-jqgrid {
        font-family: Arial;
    }

        .ui-jqgrid > .ui-jqgrid-view {
            font-size: 12px;
        }

            .ui-jqgrid > .ui-jqgrid-view button {
                font-size: 10px;
            }

            .ui-jqgrid > .ui-jqgrid-view a {
                color: #428bca;
                font-weight: bolder;
            }

        jqdialog .glyphicon, .ui-jqgrid .glyphicon {
            font-size: 20px;
            top: auto;
            color: darkslateblue;
        }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<script type="text/javascript">
    $(function () {

        //Optional: turn the chache off
        //$.ajaxSetup({ cache: false });

        $(".btnAssign").click(function () {

            $('#dialogContent').load(this.href, function () {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                //bindForm(this);
                $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
            });
            return false;
        });

    });
</script>

<div id='dialogDiv' class='modal fade in'>
    <div id='dialogContent'></div>
</div>
@*//add naresh excel code*@
@*<div class="row" style="margin-left:20px;width: 1200px;">
        <span style="float: right; margin-left: 80px">
            @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", "ExportProdPAMReportV3", "ExcelExport", (object)Model.hudPamReportFilters, new { @class = "excelExport" }, null)
        </span>

    </div>*@


<div>
    <div class="col-md-12">
        <div class="panel with-nav-tabs panel-primary" style="width:1600px">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1primary" data-toggle="tab">Unassigned Tasks</a></li>
                    <li><a href="#tab2primary" id="tab2" data-toggle="tab">Assigned Tasks</a></li>
                    @*Naveen 230*@
                    <li><a href="#tab3primary" id="tab3" data-toggle="tab">Completed Tasks</a></li>
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1primary">
                        <div class="form-horizontal row">
                            <div id="div_commonFilter" class="form-group col-md-12">
                                <label class="col-sm-2 control-label">Production Type:</label>
                                <div class="col-sm-2" style="margin-bottom: -10px; margin-right: -10px;">
                                    @*@Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "AppTypeId" })*@


                                    @Html.ListBox("AppTypeId", (MultiSelectList)ViewBag.ApplicationType, new { @class = "form-control", multiple = "multiple", name = "ApplicationType", @style = "width:212px" })


                                </div>
                                <span class="col-sm-2" id="span_AdvancedSearch"><button id="btn_Advanced" class="btn btn-default"><i class="glyphicon glyphicon-search">Advanced</i></button></span>

                            </div>
                            @*//naresh adding*@
                            <div class="row" style="margin-left:20px;width: 1200px;">
                                <span style="float: right; margin-left: 80px">
                                    <a id="ExclIcon" class="excelExport" href="@Url.Action("ExportUnassignedExcel", "productionqueue")"><img alt="Export to Excel" src="/Images/icon_excelBg.jpg"></a>

                                </span>

                            </div>




                            <div id="div_advancedSearches" class="col-md-12" style="display: none;margin-left:2px; margin-right: 2px;">
                                <div id="div_advancedOne" class="form-group col-md-12">
                                    <label class="col-sm-2 control-label">Production Type:</label>
                                    <div class="col-sm-2" style="margin-bottom: -10px;">
                                        @*@Html.DropDownList("ApplicationType", null, new { @class = "form-control", id = "AppTypeAdvanced" })*@
                                        @Html.ListBox("AppTypeAdvanced", (MultiSelectList)ViewBag.ApplicationType, new { multiple = "multiple", name = "ApplicationType", @style = "width:212px" })
                                    </div>

                                    <label class="col-sm-2 control-label">Date From:</label>
                                    <div class="col-sm-2" style="margin-bottom:-10px;">
                                        @Html.TextBox("FromDate", null, new { @class = "datepicker", style = "width:196px", id = "FromDate" })
                                    </div>
                                    <label class="col-sm-2 control-label">Date To:</label>
                                    <div class="col-sm-2" style="margin-bottom:-10px;">
                                        @Html.TextBox("ToDate", null, new { @class = "datepicker", style = "width: 196px", id = "ToDate" })
                                    </div>

                                </div>
                                <div id="div_advancedTwo" class="form-group col-md-12">

                                    <div id="div_Lender">
                                        <label class="col-sm-2 control-label">Lender:</label>
                                        <div class="col-sm-2">
                                            @Html.DropDownList("LenderID", null, new { @class = "form-control", id = "LenderID" })
                                        </div>
                                    </div>
                                    <div id="div_LoanType">
                                        <label class="col-sm-2 control-label">Loan Type:</label>
                                        <div class="col-sm-3">
                                            @Html.DropDownList("LoanType", null, new { @class = "form-control", id = "LoanType", style = "width: 196px" })
                                        </div>
                                    </div>
                                </div>

                                @*karri#205*@
                                <div id="div_advancedOne" class="form-group col-md-12">
                                    <label class="col-sm-2 control-label">FHA Number/Task Name:</label>
                                    <div class="col-sm-2" style="margin-bottom: -10px;">
                                        <input type="text" id="ddlFHANumbers" value=@ViewData["BindingFHANumber"] class="form-control" style="width:500px;" />
                                    </div>
                                </div>

                                <span class="col-lg-offset-2" style="margin-left: 17.666667%;">
                                    <button id="btn_search" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>Filter</button>
                                    <button id="btn_cancel" class="btn btn-default">Cancel</button>
                                    <button id="btn_clear" class="btn btn-default" onclick="ClearFields();">Clear</button>
                                </span>
                            </div>



                        </div>

                        <div id="productionQueueGrid" style="width: 175%">

                            <table id="ProductionQueue"></table>
                            <div id="pager"></div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2primary" style="width:1600px">
                        @Html.Partial("~/Views/Production/ProductionQueue/AssignedProductionTasks.cshtml")
                    </div>
                    @*Naveen 230*@
                    <div class="tab-pane fade" id="tab3primary" style="width:1600px">
                        @Html.Partial("~/Views/Production/ProductionQueue/CompletedProductionTasks.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        "use strict";
        $(".datepicker").datepicker();
        //var typeId = $('#AppTypeId').val();

        var aptype=$('#AppTypeId').val();
        var typeId="";
        if(aptype==null || aptype=="")
        {
            typeId=0;

        }
        else
        {
            typeId =0;

        }



        var $grid = $("#ProductionQueue");
        $grid.jqGrid({

            url: '@Url.Action("GetProductionTasks", "ProductionQueue")',

            postData: { applicationType: typeId },
            datatype: 'json',
            //#84 added 'Prod Type Selected   removed from unassigned tab'Prod Type Selected',

            //FHA Number(task name replace,projectName,'OpportunityZone','Portfolio_Name'
            //'FHA Number',
            colNames: ['FHA Number','Project Name','Loan Type','Loan Amount','Action','Page Type','Prod Type Selected', 'Date Added', 'Lender', 'Type','Portfolio Name', 'Last Updated', '# Days In Queue', 'LIHTC','Opportunity Zone', 'Notes','Project Details','Assign User' ,'Assigned By', 'Assigned To',],
            colModel: [
                {
                    name: "TaskName", index: "TaskName", width: 350, align: 'left',
                    cellattr: function (cellvalue, options, rowObject) {
                        if (rowObject.TaskName != null) {
                        }
                    },
                    formatter: function (cellvalue, options, rowObject)
                    {

                        if (rowObject.TaskName == null) {
                            return "NA";
                        }
                        @*else {
                            if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                            }
                            else {
                                return '<a>' + rowObject.TaskName + '</a>';
                            }
                        }*@
                        else {

                            if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                            }

                            else if(rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            {
                                return '<a style=" text-decoration: underline;" href="/ProductionMyTask/GetForm290Task/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.TaskName + '</a>';
                            }
                            else {
                                return '<a href="/ProductionQueuelinktabs/GetunassignedTaskDetail?taskInstanceId=' + (rowObject.TaskInstanceId)  + '"  style="text-decoration: underline;">' + rowObject.TaskName + '</a>';
                                //return '<a>' + rowObject.projectName + '</a>';
                            }
                        }
                    }

                },

                 {
                     name: "projectName", index: "projectName", width:350, align: 'right',
                     cellattr: function (cellvalue, options, rowObject) {
                         if (rowObject.projectName != null) {
                         }
                     },
                     formatter: function (cellvalue, options, rowObject)
                     {

                         if (rowObject.projectName == null) {
                             return "NA";
                         }
                         @*else {
                             if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                 return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                             }
                             else {
                                 return '<a>' + rowObject.projectName + '</a>';
                             }
                         }*@
                         else {
                             if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)') {
                                 return '<a style=" text-decoration: underline;" href="/ProductionQueue/GetFhaRequestFormDetail/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                             }

                             else if(rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                             {
                                 return '<a style=" text-decoration: underline;" href="/ProductionMyTask/GetForm290Task/?taskInstanceId=' + rowObject.TaskInstanceId + '">' + rowObject.projectName + '</a>';
                             }
                             else {
                                 return '<a href="/ProductionQueuelinktabs/GetunassignedTaskDetail?taskInstanceId=' + (rowObject.TaskInstanceId)  + '"  style="text-decoration: underline;">' + rowObject.projectName + '</a>';
                                 //return '<a>' + rowObject.projectName + '</a>';
                             }
                         }
                     }

                 },
                //{ name: "projectName", idex: "projectName", width:350, align: 'right',hidden:false},//add by naresh pQp2

                { name: "LoanType", index: "LoanType", width: 320, },
                 // { name:"LoanAmount", idex:"LoanAmount",width: 300, align: 'right'},

                  {
                      name: "LoanAmount", index: "LoanAmount", width:350, align: 'right',
                      cellattr: function (cellvalue, options, rowObject) {
                          if (rowObject.LoanAmount != null) {
                          }
                      },
                      formatter: function (cellvalue, options, rowObject)
                      {
                          var lamoun="$"+rowObject.LoanAmount;
                          if (rowObject.LoanAmount == null) {
                              return "NA";
                          }
                          else {
                              if (rowObject.LoanAmount != null) {
                                  return lamoun;
                              }

                          }
                      }

                  },

                { name: "TaskInstanceId", idex: "TaskInstanceId", hidden: true, width: 70 },
                { name: "PageTypeId", idex: "PageTypeId", hidden: true, width: 70 },

                {
                    name: "ProdDDLBType", index: "ProdDDLBType", width: 200, hidden: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "FHA"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "Produciton Application"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "Single Stage"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "2 Stage Initial"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "2 Stage Final"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "Draft Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "Executed Closing"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "closing advances"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "closing completion"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "construction mgt"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "Form 290"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "Amendment"
                    }
                },
                { name: "StartTime", idex: "StartTime", width: 320,  formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: "Lender", width: 300 },
                {
                    name: "Type", index: "Type",sortable: true, type: 'link', width: 200,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId == '@((Int32)PageType.FhaRequest)')
                            return "<span class='badge' style='color: whitesmoke;'> FHA</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ProductionApplication)')
                            return "<span class='badge' style='color: whitesmoke;'> APP</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionSingleStage)')
                            return "<span class='badge' style='color: whitesmoke;'> Single Stage</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageInitial)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Initial</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionTwoStageFinal)')
                            return "<span class='badge' style='color: whitesmoke;'> 2 Stage Final</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingAllExceptConstruction)')
                            return "<span class='badge' style='color: whitesmoke;'> Draft Closing</span>"
                             else if (rowObject.PageTypeId == '@((Int32)PageType.ExecutedClosing)')
                            return "<span class='badge' style='color: whitesmoke;'> Executed Closing</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuredAdvances)')
                            return "<span class='badge' style='color: whitesmoke;'> closing advances</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ClosingConstructionInsuranceUponCompletion)')
                            return "<span class='badge' style='color: whitesmoke;'>closing completion</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.ConstructionManagement)')
                            return "<span class='badge' style='color: whitesmoke;'> construction mgt</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Form290)')
                            return "<span class='badge' style='color: whitesmoke;'> Form 290</span>"
                        else if (rowObject.PageTypeId == '@((Int32)PageType.Amendments)')
                            return "<span class='badge' style='color: whitesmoke;'>Amendment</span>"
                    }
                },
                { name: "Portfolio_Name", idex: "Portfolio_Name", width:380, align: 'right',hidden:false},//add by naresh pQp2
                { name: "ModofiedOn", index: "ModofiedOn", width: 350, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: "DaysInQueue", idex: "DaysInQueue", width: 420  },

             	{ name: 'IsLIHTC', index: 'IsLIHTC', width: 200 ,
             	formatter: function (cellvalue, options, rowObject)
             	{
             	    if (rowObject.IsLIHTC == true||rowObject.IsLIHTC=='Yes')
                        {true

                            return 'True';
                        }
                        else
                        {
                            return 'False';
                        }
                  }


                },
                { name: "opportunity_zone", idex: "opportunity_zone", width:390, align: 'center',hidden:false,
                formatter: function (cellvalue, options, rowObject)
                {
                    if (rowObject.opportunity_zone == true||rowObject.opportunity_zone=='Yes')
                    {true

                        return 'True';
                    }
                    else
                    {
                        return 'False';
                    }
                }


                },

                {
                    name: 'Notes', index: 'Notes',width: 150,
                    formatter: function (cellvalue, options, rowObject) {
                        return "<span class='glyphicon glyphicon-list-alt' onclick='productionNote(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';></span>";

                    }
                },
                {
                    name: 'SPData', index: 'SPData', width: 300,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PageTypeId > '@((Int32)PageType.FhaRequest)' && rowObject.PageTypeId != @((Int32)PageType.Form290))
                            //return "<span class='glyphicon glyphicon-share' onclick='sharepointData(\"" +
                            //         rowObject.TaskInstanceId +
                            //         "\")';></span>";

                            return "<span onclick='sharepointData(\"" +
                                rowObject.TaskInstanceId +
                                "\")';> <img src=\'../Content/images/ProjectDetails_Image.png\'></span>";
                        else return "";

                    }
                },
                 {
                     name: 'Assign',
                     index: 'Assign',
                     width: 300,
                     formatter: function (cellvalue, options, rowObject) {

                         if (rowObject.PageTypeId == 4 && (rowObject.AssignedTo == null || rowObject.AssignedTo == "Queue")) {
                             return "<button class='btn btn-primary' onclick='assignFhaInsert(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> Fha</span></button>";
                         } else if (rowObject.PageTypeId == 5 || rowObject.PageTypeId == 6 || rowObject.PageTypeId == 7
                             || rowObject.PageTypeId == 8) {
                             return "<button  class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> APP</span></button>";
                         }
                         else if (rowObject.PageTypeId == 9 ) {
                             return "<button   class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> const Mgt</span></button>";
                         }
                         else if (rowObject.PageTypeId == 10 || rowObject.PageTypeId == 11 || rowObject.PageTypeId == 12) {
                             return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> closing</span></button>";
                         }
                         else if (rowObject.PageTypeId == 16) {
                             return "<button class='btn btn-primary' onclick='assignForm290(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> 290</span></button>";
                         }

                             ////karri#830//addded as this, auto closing(identified by amar 13apr2020) is not required, should have all the tasks as usual
                         else if (rowObject.PageTypeId == 17) {
                             return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'> Executed Closing</span></button>";
                         }

                         else if (rowObject.PageTypeId == 18) {
                             return "<button class='btn btn-primary' onclick='assignAppProcess(\"" +
                                 rowObject.TaskInstanceId +
                                 "\")';> Assign<span class='badge'>Amendment</span></button>";
                         }

                         else
                             return '';
                     }


                 },
            { name: "AssignedBy", index: "AssignedBy", width: 270, },
                { name: "AssignedTo", idex: "AssignedTo", width: 270 },

            ],
            pager: "#pager",
            rowNum: 40,
            rowList: [10, 20, 30, 40, 50],

            rownumbers: true,
            loadonce: false,
            caption: "Production Queue",
            height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            cmTemplate: { sortable: false },
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 1750,
            //loadonce:true,

            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },

            //scroll: 1,
            onSelectRow: function (rowid) {

                return false;
            },
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
               // debugger;
                var subgrid_table_id, pager_id;
                var Type = 'FHA Request';
                var stat = false;
                var filterType = "FHA";//karri#205
                subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "' class='scroll'></table>");
                var selectedRow = $(this).getRowData(row_id).TaskInstanceId;
                var selectedProductionType = $(this).getRowData(row_id).ProdDDLBType; //#84 Contains Project type value
                var selectedProdViewCreaedDate = $(this).getRowData(row_id).StartTime; //#84 Contains Project type value


                //alert(selectedProductionType);
                //debugger;

                if ($(this).getRowData(row_id).Type.indexOf("FHA") == -1) {
                    Type = 'View';
                    stat = true;
                }

                //karri#205
                if ($(this).getRowData(row_id).Type.indexOf("APP") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "APP";
                }

                // naveen ,hareesh added
              //  alert(1);
                if ($(this).getRowData(row_id).Type.indexOf("Draft Closing") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Draft Closing";
                }
                // alert(2);
                // harish ,naveen added Executed Closing
                if ($(this).getRowData(row_id).Type.indexOf("Executed Closing") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Executed Closing";
                }
                //harish ,naveen added  closing advances
                if ($(this).getRowData(row_id).Type.indexOf("closing advances") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "closing advances";
                }
                //harish ,naveen added  closing completion
                if ($(this).getRowData(row_id).Type.indexOf("closing completion") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "closing completion";
                }

                //harish ,naveen added  Single stage,2 Stage Initial,2 Stage Final,construction mgt,Single Stage
                if ($(this).getRowData(row_id).Type.indexOf("Single Stage") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Single Stage";
                }
                if ($(this).getRowData(row_id).Type.indexOf("2 Stage Initial") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "2 Stage Initial";
                }
                if ($(this).getRowData(row_id).Type.indexOf("2 Stage Final") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "2 Stage Final";
                }
                if ($(this).getRowData(row_id).Type.indexOf("construction mgt") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "construction mgt";
                }
                if ($(this).getRowData(row_id).Type.indexOf("Single Stage") >= 1) {
                    Type = 'View';
                    stat = false;
                    filterType = "Amendment";
                }

                jQuery("#" + subgrid_table_id).jqGrid({
                    url: '@Url.Action("GetFHARequestDetail", "ProductionQueue")',
                    // url: '/ProductionTask/GetFHARequestDetail/?TaskId=' + 123, //#84 Modify to post project type value to the function
                    postData: { taskInstanceId: selectedRow, prdType: selectedProductionType, viewsCrdDate: selectedProdViewCreaedDate },
                    datatype: 'json',
                    colNames: [Type, 'Status', 'Modified On', 'Assigned To', 'Assigned By', 'Assign User'],
                    colModel: [
                        //{ name: "id", idex: "id", width: 150 },
                        { name: "FhaType", index: "FhaType", width: 150, align: "Center" },
                        { name: "Status", idex: "Status", width: 200 },
                        { name: "ModifiedOn", idex: "ModifiedOn", width: 200, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                        { name: "AssignedTo", idex: "AssignedTo", width: 200 },
                        { name: "AssignedBy", index: "AssignedBy", width: 150 },
                        {
                            name: 'Assign',
                            index: 'Assign',
                            hidden: stat,
                            width: 250,
                            formatter: function (cellvalue, options, rowObject) {
                                if (rowObject.AssignedTo == null || rowObject.AssignedTo == "") {
                                    return "<button class='btn btn-primary' id='btnAssign' onclick='assign(\"" +
                                        rowObject.TaskXrefid +
                                        "\")';> Assign</button>";
                                } else
                                    return '';
                            }


                        }

                    ],
                    height: 'auto',
                    autowidth: true,
                    emptyrecords: 'No records to display',
                    jsonReader: { repeatitems: false, root: "attribute" }
                });
                jQuery("#" + subgrid_table_id).jqGrid('navGrid', "#" + pager_id, { edit: false, add: false, del: false });
            }

        });

        $grid.jqGrid("navGrid", "#pager",
            { add: false, edit: false, del: false }, {}, {}, {},
            { multipleSearch: false, multipleGroup: false });

    });

    function Filter() {
        //var type = $('#AppTypeId').val();
        var type = 0;
        //$("#ProductionQueue").trigger("reloadGrid");
        $("#ProductionQueue").jqGrid('setGridParam', {
            url: '@Url.Action("GetProductionTasks", "ProductionQueue")',
            datatype: 'json',
            postData: { "applicationType": type }
        }).trigger('reloadGrid');

    };
    function assign(myId) {

        //("#packages").trigger("reloadGrid");
        $('#dialogContent').load('@Url.Action("TaskAsignment","ProductionQueue")', { taskXrefid: myId }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;

    }
    $('#btn_Advanced').click(function () {
        //karri#205
        $('#ddlFHANumbers').val('');

        $('#div_commonFilter').hide();
        $('#div_advancedSearches').show();
    });
    $('#btn_cancel').click(function () {
        $('#div_commonFilter').show();
        $('#div_advancedSearches').hide();
        Filter();
         });
    $('#btn_search').click(function () {

        //var listBoxToString = function (listBox, all) {
        //    if (typeof listBox === "string") {
        //        listBox = document.getElementById(listBox);
        //    }

        //    if (listBox == null) { return ""; }

        //    if (!(listBox || listBox.options)) {
        //        throw Error("No options");
        //    }
        //    var options = [], opt;
        //    for (var i = 0, l = listBox.options.length; i < l; ++i) {
        //        opt = listBox.options[i];
        //        if (all|| opt.selected)
        //        {
        //            options.push(opt.value);
        //        }

        //    }
        //    return options.join(",");
        //};
        // var statuscheckbox = listBoxToString('AppTypeAdvanced', false);
        //$("#AppTypeAdvanced").multiselect("refresh");

        if(localStorage.getItem("data")!=null)
        {
            var statuscheckbox=localStorage.getItem("data");
        }
        var appType = statuscheckbox;
        var appTypeMultSel = statuscheckbox;
        if(appType==0)
        {
            appType=0;
            appTypeMultSel=null;
        }
        else
        {
            appType=-1;
        }
        var fromDate = $('#FromDate').val();
        var toDate = $('#ToDate').val();
        //var appType = $('#AppTypeAdvanced').val();
        var loanType = $('#LoanType').val();
        var lenderId = $('#LenderID').val();
        var searchText = $('#ddlFHANumbers').val();//karri#205

            if (Date.parse(fromDate) > Date.parse(toDate)) {
                alert("From Date Can Not be greater than To Date");
            } else {
                jQuery("#ProductionQueue").jqGrid().setGridParam({ url: '@Url.Action("GetAdvancedSearch", "ProductionQueue")', datatype: 'json', postData:
                    { applicationType: appType, dateFrom: fromDate, dateTo: toDate, lenderId: lenderId, loantype: loanType,   searchText: searchText,multiAppType:appTypeMultSel  }
                }).trigger("reloadGrid");

            }


    });
         $('#AppTypeId').change(function () {
             var selectvalue=$('#AppTypeId').val();

             var selectvalue=$('#AppTypeId').val();
             $('#ui-multiselect-AppTypeId-option-0').change(function () {
                 $("#ui-multiselect-AppTypeId-option-1").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-2").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-3").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-4").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-5").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-6").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-7").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-8").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-9").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-10").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-11").prop("checked", false);
                 $("#ui-multiselect-AppTypeId-option-12").prop("checked", false);
             });
             if(selectvalue.length==2)
             {
                 $('#ui-multiselect-AppTypeId-option-0').change(function () {
                     $("#ui-multiselect-AppTypeId-option-1").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-2").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-3").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-4").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-5").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-6").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-7").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-8").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-9").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-10").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-11").prop("checked", false);
                     $("#ui-multiselect-AppTypeId-option-12").prop("checked", false);
                 });
             }
             $('#ui-multiselect-AppTypeId-option-1').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);

             });

             $('#ui-multiselect-AppTypeId-option-2').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-3').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-4').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-5').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-6').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-7').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-8').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-9').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-10').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-11').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });
             $('#ui-multiselect-AppTypeId-option-12').change(function () {
                 $("#ui-multiselect-AppTypeId-option-0").prop("checked", false);
             });

                });
    //commented by nv
    //Filter();
    $('#AppTypeAdvanced').change(function () {
        var appType = $('#AppTypeAdvanced').val();
        $('#div_LoanType').show();
        //naresh add
        var selectvalue=$('#AppTypeAdvanced').val();
        $('#ui-multiselect-AppTypeAdvanced-option-0').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-1").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-2").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-3").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-4").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-5").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-6").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-7").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-8").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-9").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-10").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-11").prop("checked", false);
            $("#ui-multiselect-AppTypeAdvanced-option-12").prop("checked", false);
        });
        if(selectvalue.length==2)
        {
            $('#ui-multiselect-AppTypeAdvanced-option-0').change(function () {
                $("#ui-multiselect-AppTypeAdvanced-option-1").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-2").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-3").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-4").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-5").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-6").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-7").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-8").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-9").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-10").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-11").prop("checked", false);
                $("#ui-multiselect-AppTypeAdvanced-option-12").prop("checked", false);
            });
        }
        $('#ui-multiselect-AppTypeAdvanced-option-1').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);

        });

        $('#ui-multiselect-AppTypeAdvanced-option-2').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-3').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-4').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-5').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-6').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-7').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-8').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-9').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-10').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-11').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });
        $('#ui-multiselect-AppTypeAdvanced-option-12').change(function () {
            $("#ui-multiselect-AppTypeAdvanced-option-0").prop("checked", false);
        });

    });
    //naresh add

    var secondaryTabClick = 0;
    $('#tab2').click(function () {

        // Loads the jqgrid only the first time Tab clicked.
        if (secondaryTabClick == 0) {
            secondaryTabClick = 1;
            var status = $('#StatusID').val();
            var type = $('#ApplicationType').val();
            //alter(type);
            $("#assignedTask").jqGrid('setGridParam', {
                datatype: 'json',
                postData: { "applicationType": type, status: status }
            }).trigger('reloadGrid');
        }

    });

    //Naveen 230
    var thirdTabClick = 0;
    $('#tab3').click(function () {

        // Loads the jqgrid only the first time Tab clicked.
        if (thirdTabClick == 0) {
            thirdTabClick = 1;
            var status = $('#StatusID').val();
            var type = $('#Assigned_appType1').val();
            $("#CompletedTask").jqGrid('setGridParam', {
                datatype: 'json',
                postData: { "applicationType": type, status: status }
            }).trigger('reloadGrid');
        }

    });

    function assignFhaInsert(id) {
        $('#dialogContent').load('@Url.Action("FhaInsertAssignment","ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    //Function for Prod Task Assignment
    function assignAppProcess(id) {
        $('#dialogContent').html('');
        $('#dialogContent').load('@Url.Action("ApplicationAssignment", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }

    function assignForm290(id) {
         $('#dialogContent').load('@Url.Action("Form290Assignement", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    //Production Note
    function productionNote(id) {
        $('#dialogContent').load('@Url.Action("GetNoteByTask", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
    }
    function sharepointData(id) {
        var closingStatus = false;
        $.getJSON('@Url.Action("ClosingCompleted", "ProductionQueue")',{ taskInstanceId: id }, function (result) {
            closingStatus = result;
            loadSharepoint(result, id);
        });

    }
    function loadSharepoint(ClosingAppStatus,id) {
        if (!ClosingAppStatus) {
        $('#dialogContent').load('@Url.Action("GetSharepointDateView", "ProductionQueue")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        }
        else {
            var loading = function () { $("#spinner").attr('class', 'overlay'); };
            setTimeout(loading, 1000)
            window.location = null;
            window.location = "@Url.Action("GetSharepointForPdf", "ProductionQueue")" + "?taskInstanceId=" + id;

        }
    }
</script>

@*karri#205*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>


@*karri#205*@
<script>

    var autocompleteTextBox = $('#ddlFHANumbers');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.SearchableData));
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>

@*karri#205*@
<script>
    function FilterResults() {

        var lookupprojname = document.getElementById("ddlFHANumbers").value;

        location.href = '@Url.Action("Index", "ProductionMyTask")?projName=' + lookupprojname + '&&prodTaskType=' + lookupprodtype;

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var lookupprojname = document.getElementById("ddlFHANumbers").value;

        location.href = '@Url.Action("Index", "ProductionMyTask")';
        //alert();

    }
</script>

<script>
    function ClearFields()
    {
        //karri:#326

        $("#AppTypeAdvanced").val(0);
        $("#LenderID").val(0);
        $("#LoanType").val(0);
        $("#ddlFHANumbers").val("");
        $("#FromDate").val("");
        $("#ToDate").val("");

    }
    $("#AppTypeId").multiselect({

        noneSelectedText: 'Select ApplicationType', minWidth: 250
                          , selectedList:0
                         , selectedText: function (numChecked, numTotal) {
                             var valSelected = $("#AppTypeId").val();
                             var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                             return 'ApplicationType (' + aeSelected + ')';

                         }
    });

    $("#AppTypeAdvanced").multiselect({
        noneSelectedText: 'Select ApplicationType', minWidth: 250
                         , selectedList:0
                        , selectedText: function (numChecked, numTotal) {
                            //naresh add
                            arr1 = [];
                            if($('#ui-multiselect-AppTypeAdvanced-option-0').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-0").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-1').prop("checked") == true)
                            {
                               arr1.push($("#ui-multiselect-AppTypeAdvanced-option-1").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-2').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-2").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-3').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-3").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-4').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-4").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-5').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-5").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-6').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-6").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-7').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-7").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-8').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-8").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-9').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-9").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-10').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-10").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-11').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-11").val());
                            }
                            if($('#ui-multiselect-AppTypeAdvanced-option-12').prop("checked") == true)
                            {
                                arr1.push($("#ui-multiselect-AppTypeAdvanced-option-12").val());
                            }
                            localStorage.setItem("data",arr1);
                            //naresh add
                            var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                            return 'ApplicationType (' + aeSelected + ')';


                        }
    });
</script>