﻿@model Model.Production.ProdApplicationSharepointData
@using HUDHealthcarePortal.BusinessService

@{
	Layout = null;
}
<style>
	body {
		padding: 10px;
	}

	.mynav {
		border: 1px solid #5bc0de;
		background-color: #5bc0de;
	}

	#exTab1 .tab-content {
		color: white;
		/*background-color: #428bca;*/
		padding: 5px 15px;
	}

	#exTab2 h3 {
		color: white;
		/*background-color: #428bca;*/
		padding: 5px 15px;
	}

	/* remove border radius for the tab */

	#exTab1 .nav-pills > li > a {
		border-radius: 0;
	}

	/* change border radius for the tab , apply corners on top*/

	#exTab3 .nav-pills > li > a {
		border-radius: 4px 4px 0 0;
		padding: 10px 11px;
	}

	#exTab3 .tab-content {
		color: black;
		/*background-color: #428bca;*/
		padding: 5px 15px;
		/*padding: 5px 11px;*/
	}

	.modal-body {
		position: relative;
		height: 750px;
		margin-top: 25px;
	}

	.datePickerTextBox {
		width: 85px;
		height: 25px;
	}

	.transparentBorder {
		border: 1px solid transparent;
		border-top-color: transparent;
		border-bottom-color: transparent;
	}
</style>
@*<script>
		function myFunc() {
			$.ajax({
				type: "GET",
				contentType: "application/json",
				url: "/myController/myFuncOnController",
				data: {
					//params, which you can pass to yu func
				},
				success: function (result) {

					error: function (errorData) {

					}
				});
		};
	</script>*@


<div class="modal-dialog" style="width: 1300px;">
	<div class="modal-content">
		<div id='dialogDiv1' class='modal fade in'>
			<div id='dialogContent1'></div>
		</div>

		<div class="modal-header">
			@*<button class="close" data-dismiss="modal"  onclick="location.href='@Url.Action("Index", "ProductionMyTask")'">&times;</button>*@
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h4 class="modal-title">Project Details Screen </h4>
		</div>
		<div class="form-group" style="margin-top:2px;">
			<label class="col-sm-2 control-label" style="margin-top: 10px; margin-right: -20px; margin-left: 22px;"><strong> Production APP Type:</strong></label>
			<div class="col-sm-2">
				@Html.DropDownList("ProductionAppType", null, new { @class = "form-control", id = "ProdAppTypeId" })

			</div>
		</div>
		<div class="modal-body" id="modalBody">

			<div id="exTab3" class="container">
				<ul class="nav nav-pills" style="width: 1220px; margin-left: -10px;">

					<li class="active">
						<a href="#1b" data-toggle="tab">Application Details</a>
					</li>
					<li>
						<a href="#2b" data-toggle="tab" id="generalInfo">General Info</a>
					</li>
					<li>
						<a href="#3b" data-toggle="tab" id="miscInfo">Miscellaneous Info</a>
					</li>
					<li>
						<a href="#4b" data-toggle="tab" class="oGCorAttorney">OGC Info</a>
					</li>
					@*<li>
							<a href="#11b" data-toggle="tab" class="backUpOGC">Backup OGC Info</a>
						</li>*@
					<li>
						<a href="#5b" data-toggle="tab" class="appraisal"> Appraisal Info</a>
					</li>
					<li>
						<a href="#6b" data-toggle="tab" class="environmental">  Environmental Info</a>
					</li>
					<li>
						<a href="#7b" data-toggle="tab" class="survey"> Survey Info</a>
					</li>
					<li>
						<a href="#8b" data-toggle="tab" class="contractors"> Contractor Info</a>
					</li>
					<li>
						<a href="#9b" data-toggle="tab" class="closerInfo"> Closing Info</a>
					</li>
					<li>
						<a href="#10b" data-toggle="tab" id="attachFiles">Attach(ed) Files</a>
					</li>
					<li>
						<a href="#11b" data-toggle="tab" id="loanCommittee">Loan Committee</a>
					</li>

					<li>
						<a href="#12b" data-toggle="tab" id="amendment">Amendment</a>
					</li>
				</ul>

				<div class="tab-content clearfix">
					<div class="tab-pane active" id="1b">
						<h3>Application Details</h3>
						<div id="AppInfo">
							@Html.Partial("~/Views/Production/ProductionQueue/_ApplicationDetails.cshtml", @Model.ApplicationDetails)
						</div>
					</div>
					<div class="tab-pane" id="2b">
						<h3>General Information</h3>
						<div id="GeneralInfo"></div>
					</div>
					<div class="tab-pane" id="3b">
						<h3>Miscellaneous Information</h3>
						<div id="MiscInfo"></div>
					</div>
					<div class="tab-pane" id="4b">
						<h3>OGC Information</h3>
						<div class="OGCInfo"></div>
					</div>
					@*<div class="tab-pane" id="11b">
							<h3>Backup OGC Information</h3>
							<div class="backupOGCInfo"></div>
						</div>*@
					<div class="tab-pane" id="5b">
						<h3>Appraisal Information</h3>
						<div class="AppraisalInfo"></div>
						@*<div class="ReviewerInfo">
								<div class="alert alert-info">
									<strong>Info!</strong> Appraiser  Is not assigned for this Process.
									Information will be available once this Reviewer is assigned Application/Closing processes
								</div>
							</div>*@
					</div>
					<div class="tab-pane" id="6b">
						<h3>Environmental Information </h3>
						<div class="EnvironmentalInfo"></div>
					</div>
					<div class="tab-pane" id="7b">
						<h3>Survey Information </h3>
						<div class="SurveryInfo"></div>
					</div>
					<div class="tab-pane" id="8b">
						<h3>Contractor Information </h3>
						<div class="ContractorInfo"></div>
					</div>
					<div class="tab-pane" id="9b">
						<h3>Closing Information</h3>
						<div class="CloserInfo"></div>
					</div>
					<div class="tab-pane" id="10b">
						<h3>Attach(ed) Files</h3>
						<div id="AttachFiles"></div>
					</div>
					<div class="tab-pane" id="11b">
						<h3>Loan Committee Information Page</h3>
						<div id="LoanCommittee"></div>
					</div>
					<div class="tab-pane" id="12b">
						<h3>Amendment Page</h3>
						<div id="Amendment"></div>


						@if (RoleManager.IsProductionUser(UserPrincipal.Current.UserName))
						{
							<div id="divCloserDap">
								<br />

								<table class="transparentBorder">
									<tr class="transparentBorder">
										<td style="text-align:right;width:100px;" class="report transparentBorder">
											<label>DAP Complete Date : </label>
										</td>
										<td style="text-align:center; width:100px;" class="model transparentBorder">
											@Html.TextBoxFor(m => m.AmendmentInfo.DAPCompletedDate, new { @class = "datePickerTextBox", @id = "dteDAP" })
										</td>
										<td style="text-align:left;width:100px;" class="model transparentBorder">
											<label>New Loan Amount : </label>
										</td>
										<td style="text-align:left;width:100px;" class="model transparentBorder">
											@Html.TextBoxFor(m => m.AmendmentInfo.LoanAmount, new { id = "txtLoanAmount", @maxlength = "9", onkeypress = "return isAmount(event)" })
										</td>
									</tr>
									<tr class="transparentBorder"><td colspan="4" style="text-align:right;width:400px;" class="report transparentBorder"></td></tr>
									<tr class="transparentBorder">
										<td colspan="4" style="text-align:center; width:100px;" class="model transparentBorder">
											@*<button id="btnComplete" style="width:100px;">Complete Review</button>*@
											<span class="col-md-5 text-right">
												<button class="btn btn-info btn-sm" id="btnComplete">Complete Review</button>
											</span>
										</td>
									</tr>
								</table>
							</div>
						}
						@if (RoleManager.IsProductionWLM(UserPrincipal.Current.UserName))
						{
							<div id="divDap">
								<br />
								<table class="transparentBorder">
									<tr class="transparentBorder">
										<td style="text-align:right;width:50px;" class="report transparentBorder">
											<label>DAP Complete Date : </label>
										</td>
										<td style="text-align:left; width:100px;" class="report transparentBorder">
											@Html.TextBoxFor(m => m.AmendmentInfo.DAPCompletedDate, new { @class = "datePickerTextBox", @id = "dteDAP" })
										</td>
									</tr>
									<tr class="transparentBorder"><td colspan="2" style="text-align:right;width:50px;" class="report transparentBorder"></td></tr>
									<tr class="transparentBorder"><td colspan="2" style="text-align:center; width:100px;" class="model transparentBorder"><button id="btnDap" style="width:100px;">Save DAP</button></td></tr>
								</table>
							</div>
						}
					</div>
				</div>
			</div>

		</div>


		@*<div>
				<button id="btn1" style="width:100px;"></button>
			</div>*@
		<div class="modal-footer">

		</div>
	</div>

	<!-- /.modal-content -->
</div>

<script type="text/javascript">
	var reviewerstypeId;

   // debugger;
	function getReview(selectedTab) {
        //debugger;
        var taskInstance = $('#ProdAppTypeId').val();
		var activeTab = selectedTab;
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        //TODO:this hard code will be changed
        var subActiveTab = activeTab.replace(/\W/g, '');
        @*if (subActiveTab == "AppraisalInfo")
            reviewerstypeId = '@((Int32)ProductionView.UnderWriter)';*@
         if (subActiveTab == "EnvironmentalInfo")
            reviewerstypeId = '@((Int32)ProductionView.Environmentalist)';
        else if (subActiveTab == "SurveyInfo")
            reviewerstypeId = '@((Int32)ProductionView.Survey)';
        else if (subActiveTab == "ContractorInfo")
            reviewerstypeId = '@((Int32)ProductionView.ContractUW)';
        else if (subActiveTab == "OGCInfo")
            reviewerstypeId = '@((Int32)ProductionView.Attorney)';
        @*else if (subActiveTab == "BackupOGCInfo")
            reviewerstypeId = '@((Int32)ProductionView.BackupOGC)';*@
        else if (subActiveTab == "AppraisalInfo")
            reviewerstypeId = '@((Int32)ProductionView.Appraiser)';
        else if (subActiveTab === "ApplicationDetails") {
            $('#AppInfo').empty();
            $('#AppInfo').load('@Url.Action("GetApplicationDetails", "ProductionQueue")', { taskInstanceId: taskInstance });
        }
        else if (subActiveTab === "GeneralInfo") {
            $('#GeneralInfo').load('@Url.Action("GetGeneralInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
        }
        else if (subActiveTab === "MiscellaneousInfo") {
            $('#MiscInfo').load('@Url.Action("GetMiscellaneousInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
        }
        else if (subActiveTab === "AttachFiles") {

            $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: taskInstance, fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.all))' });
        }
        else if (subActiveTab == "ClosingInfo") {
            $('.EnvironmentalInfo').empty();
            //$('.backupOGCInfo').empty();
            $('.OGCInfo').empty();
            $('.SurveryInfo').empty();
            $('.ContractorInfo').empty();
           
            $('.CloserInfo').load('@Url.Action("GetCloserInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: '@((Int32)ProductionView.UnderWriter)' });
        }
         else if (subActiveTab === "LoanCommittee") {
             //debugger;
             $('#LoanCommittee').load('@Url.Action("GetLoanCommitteeInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
		}
		 else if (subActiveTab === "Amendment") {
			 //alert(taskInstance);
            $('#Amendment').load('@Url.Action("GetAmendmentInfo", "ProductionQueue")', { taskInstanceId: taskInstance, fileType: '@(Enum.GetName(typeof(SharepointSections), SharepointSections.all))' });
        }

        if (reviewerstypeId == '@((Int32)ProductionView.ContractUW)') {
            $('.EnvironmentalInfo').empty();
            //$('.backupOGCInfo').empty();
            $('.OGCInfo').empty();
            $('.SurveryInfo').empty();
            $('.ContractorInfo').load('@Url.Action("GetContractorInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }
        else if (reviewerstypeId == '@((Int32)ProductionView.Survey)') {
            $('.EnvironmentalInfo').empty();
            //$('.backupOGCInfo').empty();
            $('.OGCInfo').empty();
            $('.AppraisalInfo').empty();
            $('.SurveryInfo').load('@Url.Action("GetReviewerInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }
        else if (reviewerstypeId == '@((Int32)ProductionView.Environmentalist)') {
            //$('.backupOGCInfo').empty();

            $('.OGCInfo').empty();
            $('.SurveryInfo').empty();
            $('.AppraisalInfo').empty();
            $('.EnvironmentalInfo').load('@Url.Action("GetReviewerInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }
        else if (reviewerstypeId == '@((Int32)ProductionView.Appraiser)') {
            //$('.backupOGCInfo').empty();
            $('.OGCInfo').empty();
            $('.SurveryInfo').empty();
            $('.EnvironmentalInfo').empty();
            //$('.ReviewerInfo').empty();
            $('.AppraisalInfo').load('@Url.Action("GetReviewerInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }
        else if (reviewerstypeId == '@((Int32)ProductionView.Attorney)') {
            //$('.backupOGCInfo').empty();
            $('.SurveryInfo').empty();
            $('.EnvironmentalInfo').empty();
            $('.AppraisalInfo').empty();
            $('.OGCInfo').load('@Url.Action("GetReviewerInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }
        @*else if (reviewerstypeId == '@((Int32)ProductionView.BackupOGC)') {
            $('.OGCInfo').empty();
            $('.backupOGCInfo').load('@Url.Action("GetBackupOGCInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });
        }*@
        else {
            @*$('.ReviewerInfo').load('@Url.Action("GetReviewerInfo", "ProductionQueue")', { taskInstanceId: taskInstance, reviewertype: reviewerstypeId });*@
        }



    };
	$('.oGCorAttorney').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var activeTab = $(this).text();
        getReview(activeTab);
    });
    //$('.reviewers').click(function () {
    //    var activeTab = $(this).text();
    //    getReview(activeTab);
    //});

	$('.survey').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var activeTab = $(this).text();
        getReview(activeTab);
    });
	$('.environmental').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var activeTab = $(this).text();
        getReview(activeTab);
    });
	$('.contractors').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var taskInstanceId = $('#ProdAppTypeId').val();
        var activeTab = $(this).text();
        $('.ContractorInfo').load('@Url.Action("GetContractorInfo", "ProductionQueue")', { taskInstanceId: taskInstanceId, reviewertype: '@((Int32)ProductionView.ContractUW)' });
    });

	$('.closerInfo').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
		var taskInstanceId = $('#ProdAppTypeId').val();
	    // if taskinstance id == null we directly calling hidden value ; harish added below line to get taskinstance id 26022020
		if (taskInstance == null) {
		    var taskInstanceId = $('#txtTaskInstanceId').val();
		}
	
        var activeTab = $(this).text();
        getReview(activeTab);
       /// $('.CloserInfo').load('@Url.Action("GetCloserInfo", "ProductionQueue")', { taskInstanceId: taskInstanceId, reviewertype: '@((Int32)ProductionView.UnderWriter)' });
    });


    $('#ProdAppTypeId').change(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var activeTab = $('.nav-pills .active').text();
        getReview(activeTab);
    });

	$('#generalInfo').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
		var taskInstance = $('#ProdAppTypeId').val(); //harish commented
	    // if taskinstance id == null we directly calling hidden value ; harish added below line to get taskinstance id 26022020
		if (taskInstance == null)
		{
		    var taskInstance = $('#txtTaskInstanceId').val();
		}
		//var taskInstance = $('#txtTaskInstanceId').val();
		
        $('#GeneralInfo').load('@Url.Action("GetGeneralInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
    });

	$('#miscInfo').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
		var taskInstance = $('#ProdAppTypeId').val(); /// harish
		// if taskinstance id == null we directly calling hidden value ; harish added below line to get taskinstance id 26022020
		if (taskInstance == null) {
		    var taskInstance = $('#txtTaskInstanceId').val();
		}
		//var taskInstance = $('#txtTaskInstanceId').val();
		
        $('#MiscInfo').load('@Url.Action("GetMiscellaneousInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
    });

	$('#attachFiles').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var taskInstance = $('#ProdAppTypeId').val();
        $('#AttachFiles').load('@Url.Action("GetAttachFileInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
    });

	$('#loanCommittee').click(function () {
		var x = document.getElementById("divDap");
		if (x != null) {
			x.style.display = "none";
		}
        var taskInstance = $('#ProdAppTypeId').val();
        $('#LoanCommittee').load('@Url.Action("GetLoanCommitteeInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
    });

    //$('.backUpOGC').click(function () {
    //    var activeTab = $(this).text();
    //    getReview(activeTab);
    //});
    $('.appraisal').click(function () {
        var activeTab = $(this).text();
        getReview(activeTab);
    });

    function activateTab(tab) {
        $('.nav-pills a[href="' + tab + '"]').tab('show');
    };

	$(document).ready(function () {
		$('.datePickerTextBox').datepicker();
		var x = document.getElementById("divDap");
		//alert(x);
		if (x != null) {
			x.style.display = "none";
		}
		//$("#btnDap").prop("disabled", true);

        $('#ProdAppTypeId').val('@ViewBag.ProjectStage');
        if ('@ViewBag.AssignedTo' == 'Survey') {
            activateTab('#7b');
            getReview('SurveyInfo');
        }
        if ('@ViewBag.AssignedTo' == 'Appraiser') {
            activateTab('#5b');
            getReview('AppraisalInfo');
        }
        if ('@ViewBag.AssignedTo' == 'Environmentalist') {
            activateTab('#6b');
            getReview('EnvironmentalInfo');
		}
		if ('@ViewBag.AssignedTo' == 'General') {
			activateTab('#2b');
			getReview('GeneralInfo');
		}
		if ('@ViewBag.AssignedTo' == 'Amendment') {
            activateTab('#12b');
			getReview('Amendment');
        }
        //debugger;
        var sharepointSection = '@ViewBag.SharepointSection';
        if (sharepointSection != 0)
        {
            if (sharepointSection == '@((Int32)SharepointSections.lcInfo)') {
                activateTab('#11b');
                var taskInstance = $('#ProdAppTypeId').val();
                $('#LoanCommittee').load('@Url.Action("GetLoanCommitteeInfo", "ProductionQueue")', { taskInstanceId: taskInstance });
            }
		}

		$('.datePickerTextBox').change(function () {
			var date = $(this).val();
			var arrDate = date.split("/");
			var today = new Date();
			var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

			if (userSelectedDate > today) {
				alert('Date must not be in the future.');
				$(this).val('');
			}
			//$("#btnDap").prop("disabled", false);
		});
    });


</script>