﻿@model HUDHealthcarePortal.Model.OPAViewModel
@{
    Layout = null;
}

<div class="container-fluid" style="padding-top: 15px">
    <div class="panel with-nav-tabs panel-primary" style="width:1293px; margin-left: -41px">
        <div class="panel-heading">
            @*<ul class="nav nav-tabs">
                <li id="tab1primaryhead" class="active"><a href="#tab1primary" data-toggle="tab">Pending Rai</a></li>
            </ul>*@
            <ul class="nav nav-pills">
                @*<li>
                    <a href="#2b" data-toggle="tab" class="TaskStatusTab">Task Status</a>
                </li>*@
                <li>
                    <a href="#3b" data-toggle="tab" class="PendingRaiTab">Pending RAI (@Model.NoOfPendingRAI)</a>
                </li>
               
            </ul>
</div>
        <div class="panel-body">
            
            <div class="tab-pane" id="3b">
                <div id="PendingRAIGridDiv" style="margin-top:20px">
                    <table id="pendingRAIGrid"></table>
                    <div id="pendingRAIGridPager"></div>
                    @if (Model.IsEditMode && (Model.userRole == Enum.GetName(typeof(HUDRole), (Int32)HUDRole.AccountExecutive) || Model.userRole == Enum.GetName(typeof(HUDRole), (Int32)HUDRole.ProductionWlm)))
                    {

                        <button id="btnOPARaiFwd" style="margin-top:20px" type="reset" class="btn btn-success btn-sm" value="Fwd RAI Request">Forward RAI Requests</button>
                    }
                </div>
            </div>
            @*<div class="tab-pane" id="2b">

                <div id="TaskStatusGridDiv" style="margin-top:20px">
                    <table id="taskStatusGrid"></table>
                    <div id="taskStatusGridPager"></div>
                </div>

            </div>*@
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // LoadTaskStatusGrid();
        LoadPendingRAIGrid();
    });
    //$('.PendingRaiTab').click(function () {
      
    //    LoadPendingRAIGrid();
    //});

    //$('.PendingRaiTab').click(function () {
    //    alert(1);
    //    LoadPendingRAIGrid();
    //});

    function LoadTaskStatusGrid() {
        $("#taskStatusGrid").jqGrid({
            colNames: ['Name', 'Role', 'Created By', 'Created On', 'Status', 'Completed On', 'Comments', 'RAI pending with Lender'],
            colModel: [
               { name: 'userName', index: 'userName' },
               { name: 'userRole', index: 'userRole' },
                { name: 'AssignedBy', index: 'AssignedBy' },
               { name: 'CreatedOn', index: 'CreatedOn', formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: 'status', index: 'status' },
               { name: 'CompletedOn', index: 'CompletedOn', formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
                { name: 'comments', index: 'comments' },
               {
                   name: 'IsRAI', index: 'IsRAI', formatter: 'select', stype: 'select', edittype: 'select',
                   editoptions: { value: "false:No;true:Yes" }, hidden: true
               }
            ],
            url: "/OPAForm/GetOPAReviewersTaskStatus?taskInstanceId=" + "@Model.TaskInstanceId" + "",
            datatype: 'json',
            mtype: 'POST',
            pager: jQuery('#taskStatusGridPager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            multiselect: false,
            gridview: true,
            autoencode: true,
            width: 1200,
            caption: 'Task(s) Status',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            }
        });
        $('#taskStatusGrid').jqGrid('navGrid', "#taskStatusGridPager", { edit: false, add: false, del: false, search: true });

    }





    function raiPendingcheckBox(event) {

        var lista = jQuery("#pendingRAIGrid").jqGrid('getGridParam', 'data');
        var rowToUpdate = true;
        if (document.getElementById('raicbox').checked) {

            for (i = 0; i < lista.length; i++) {
                updateRAIPendingRowEdit(lista[i].id, lista[i].fileId, true, lista[i].comments, lista[i].isInOpenChildTask, lista[i].userId, lista[i].viewId);
                $('#' + lista[i].id + '_isFwd').prop("checked", true);
            }
        }
        else {
            for (i = 0; i < lista.length; i++) {
                updateRAIPendingRowEdit(lista[i].id, lista[i].fileId, false, lista[i].comments, lista[i].isInOpenChildTask, lista[i].userId, lista[i].viewId);
                $('#' + lista[i].id + '_isFwd').prop("checked", false);
            }

        }

    }

    $("#btnOPARaiFwd").click(function () {
        var txt;
        var r = confirm("Are you sure you want to forward this Request Additional Information task!");
        if (r == true) {
            $("#spinner").attr('class', 'overlay');

            if (raiListUpdate.length > 0) {
                var editData = JSON.stringify({ 'userViewId': $("#ViewId").val(), 'taskInstanceId': $("#TaskxrefId").val(), 'raiList': raiListUpdate });
                $.ajax({
                    url: '@Url.Action("SubmitRaiPendingList", "ProductionApplication")',
                    data: { editData: editData },
                    dataType: 'json',
                    type: 'post',
                    success: function (response) {
                        if (response.responseText === "Request") {
                            alert("Request Additional Information task sent successfully");
                            location.href = '/ProductionMyTask/Index';
                        } else {
                            alert("File updates done successfully");
                        }

                        document.location.reload();
                    },
                    error: function (response) {
                        if (response.status === 200) {
                            if (response.responseText === "Request") {
                                location.href = '/ProductionMyTask/Index';
                                alert("Request Additional Information task sent successfully");
                            } else {
                                alert("File updates done successfully");
                            }

                            document.location.reload();
                        } else {
                            alert("Error");
                        }

                    }
                });
            }
            else {
                alert("No data to update");
            }
        }




    });

    function LoadPendingRAIGrid() {
        $("#pendingRAIGrid").jqGrid({
            colNames: ['userName', 'userRole', 'folderName', 'fileName', 'CreatedOn', 'comments', 'Select <br/> <input type="checkbox" id="raicbox" onclick="raiPendingcheckBox(event)" /> RAIs', 'fileId', 'isInOpenChildTask', 'userId', 'viewId'],
            colModel: [
               { name: 'userName', index: 'userName', editable: false },
               { name: 'userRole', index: 'userRole', editable: false },
               { name: 'folderName', index: 'folderName', editable: false },
               {
                   name: 'fileName', index: 'fileName', type: 'link', width: 150, editable: false,
                   cellattr: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName != null) {

                           return ' style="text-decoration: underline"';
                       }
                   },
                   formatter: function (cellvalue, options, rowObject) {
                       if (rowObject.fileName == null) {
                           return " "
                       }
                       else {
                           //return '<a onclick="event.preventDefault();" href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.downloadFileId) + '">' + rowObject.fileName + '</a>';
                           return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                       }
                   }
               },
               { name: 'CreatedOn', index: 'CreatedOn', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y' } },
               { name: 'comments', index: 'comments', editable: false },
               {
                   name: 'isFwd', index: 'isFwd', editable: true, edittype: 'checkbox', editoptions: { value: "True:False" }, width: 80,
                   formatter: "checkbox", formatoptions: { disabled: true }, sortable: false, editable: true
               },
               { name: 'fileId', index: 'fileId', editable: false, hidden: true },
               { name: 'isInOpenChildTask', index: 'isInOpenChildTask', editable: false, hidden: true },
               { name: 'userId', index: 'userId', editable: false, hidden: true },
                { name: 'viewId', index: 'userId', editable: false, hidden: true }


            ],
            url: "/OPAForm/GetProdPendingRAI?taskInstanceId=" + "@Model.TaskGuid" + "",
            datatype: 'json',
            mtype: 'POST',
            pager: jQuery('#pendingRAIGridPager'),
            rowNum: 10,
            loadonce: true,
            rowList: [10, 20, 30, 40],
            shrinkToFit: false,
            height: '100%',
            viewrecords: true,
            multiselect: false,
            gridview: true,
            autoencode: true,
            width: 1200,
            caption: 'Pending RAI List',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
            },
            loadComplete: function () {

                if ($('#IsEditMode').val() == "True") {
                    var $this = $(this), ids = $this.jqGrid('getDataIDs'), i, l = ids.length;
                    for (i = 0; i < l; i++) {

                        $this.jqGrid('editRow', ids[i], true);

                        for (ifile = 0; ifile < raiListUpdate.length; ifile++) {
                            if (raiListUpdate[ifile].fileId == $this.jqGrid('getCell', ids[i], 'fileId') && raiListUpdate[ifile].ReqAdditionalInfo == true) {
                                $('#' + ids[i] + '_isReqAddInfo').prop("checked", fileListUpdate[ifile].ReqAdditionalInfo);
                            }
                        }
                    }
                }
                else {
                    $(this).hideCol("isFwd");
                }

                if (!($("#UserRole").val() == '@Enum.GetName(typeof(HUDRole), (Int32)HUDRole.ProductionUser)' || $("#UserRole").val() == '@Enum.GetName(typeof(HUDRole), (Int32)HUDRole.ProductionWlm)')) {
                    $(this).hideCol("isFwd");
                }
            },
            beforeSelectRow: function (rowid, e) {
                var $self = $(this),
                           p = $self.jqGrid("getGridParam"),
                           $td = $(e.target).closest("tr.jqgrow>td"),
                           cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                           cmName = cm != null ? cm.name : null;

                if (cmName === "isFwd") {


                    $("#" + rowid + "_isFwd").blur(function () {
                        updateRAIPendingRowEdit(rowid,
                                       $('#pendingRAIGrid').jqGrid('getCell', rowid, 'fileId'),
                                      ischeckBoxChecked(rowid, 'isFwd'),
                                      $('#pendingRAIGrid').jqGrid('getCell', rowid, 'comments'),
                                      $('#pendingRAIGrid').jqGrid('getCell', rowid, 'isInOpenChildTask'),
                                      $('#pendingRAIGrid').jqGrid('getCell', rowid, 'userId'),
                                      $('#pendingRAIGrid').jqGrid('getCell', rowid, 'viewId'));
                    });



                }


            }
        });
        $('#pendingRAIGrid').jqGrid('navGrid', "#pendingRAIGridPager", { edit: false, add: false, del: false, search: true });
    }
</script>