﻿@model HUDHealthcarePortal.Model.OPAViewModel
@{
    Layout = null;
}

<div class="container-fluid" style="padding-top: 15px">
    <div class="panel with-nav-tabs panel-primary"style="width:1293px; margin-left: -41px">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li id="tab1primaryhead" class="active"><a href="#tab1primary" data-toggle="tab">External Products</a></li>
                <li id="tab2primaryhead"><a href="#tab2primary" id="tab2" data-toggle="tab"> Internal Products</a></li>
            </ul>
        </div>
        <div class="panel-body">
            <div class="tab-content">

                <div class="container-fluid" style="padding-top: 15px">
                    <span class="col-md-4 text-right">
                        <button type="button" id="btnDelete" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span> Attachement</button>
                    </span>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="tab1primary">


                    @Html.Partial("~/Views/OPAForm/_AssetGrid.cshtml", Model)
                </div>
                <div class="tab-pane fade focus" id="tab2primary">
                    @*@Html.Partial("~/Views/Production/ProductionQueue/AssignedProductionTasks.cshtml")*@

                   @Html.Partial("~/Views/OPAForm/_AssetGridWorkProduct.cshtml", Model)
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#tab2primary').click(function () {
        debugger;

        $("#TaskGrid").jqGrid('setGridParam', {
            datatype: 'json',
            postData: { "applicationType": type, status: status }
        }).trigger('reloadGrid');
    });

    $("#btnDelete").click(function () {


        if ($('#tab2primaryhead').attr('class') == 'active') {
            DeleteAssetGridWorkProductFiles();
        }
        if ($('#tab1primaryhead').attr('class') == 'active') {
            DeleteAssetGridFiles();
        }

    });
</script>