﻿@using System.Web.UI.WebControls
@using HUDHealthcarePortal.Model.AssetManagement
<script type="text/javascript">
    function userSelected(target) {
        $('#dialogCommon').dialog('close');
        if ($(target).val() == 'Ok') {

            if ($('#hidIsReAssigned').val() == 'false') {
                location.href = '/Task/MyTasks?page=' + '@TempData["page"] ' + '&sort=' + '@TempData["sort"] ' + '&sortdir=' + '@TempData["sortdir"] ';
            } else {
                location.href = '/TaskReAssignment/MyReAssignmentTasks?page=' + '@TempData["page"] ' + '&sort=' + '@TempData["sort"] ' + '&sortdir=' + '@TempData["sortdir"] ';
            }
        }
        return false;
    }
</script>


@{
    
    ReserveForReplacementFormModel r4rModel = null;
    string isReassigned = "false";
    if (TempData["R4RFormData"] != null)
    {
        r4rModel =  TempData["R4RFormData"] as ReserveForReplacementFormModel;
        isReassigned = r4rModel.IsReAssigend.HasValue && r4rModel.IsReAssigend.Value == true  ? "true" : "false";
    }
}


    <div class="container-fluid">
    <div class="row" style="margin-top:20px;">
        <div>
            <p></p>
            <p>Your Submission has been Accepted</p>
        </div>
    </div>

    <br />

    <div class="row" style="margin-left:90px;">
        <span class="col-md-4">
            <input id="btnOk" type="submit" name="agreeOrNot" class="form-control" value="Ok" onclick="userSelected(this)">
            <input type="hidden" id="hidIsReAssigned"  name="hidIsReAssigned" value="@isReassigned"/>
        </span>
    </div>
</div>