﻿@model HUDHealthcarePortal.Model.AssetManagement.NonCriticalRequestExtensionModel
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .background {
        background-color: #eee;
    }

    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>

<section id="editUserProfile" style="width:960px;">
    <h4 style="text-align:center;">Non-Critical Repair Request Escrow Extension Form</h4>
    <div id="dialogCommon"></div>
    @using (Html.BeginForm("Approve", "NonCriticalRequestExtension", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.HiddenFor(m => m.NonCriticalRequestExtensionId, new { id = "NonCriticalRequestExtensionId" })
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
    @Html.HiddenFor(m => m.LenderID, new { id = "LenderID" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.IsDisplayAcceptPopup, new { id = "txtPopup" })
        @Html.HiddenFor(m => m.PropertyID, new { id = "PropertyID" })
        @Html.HiddenFor(m => m.ViewName, new { id = "ViewName" })
    @Html.HiddenFor(m => m.ManageMode, new { id = "ManageMode" })
    @Html.HiddenFor(m => m.IsDefaultExention)
    @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("FHA Project Number  : ", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FHANumber, new { id = "txtFHANumber", title = "FHA Number", @style = "background: #eee", @readonly = "true" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Number:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyID, new { id = "txtPropertyId", title = "Property Id", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.PropertyID)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.PropertyName)
                </span>
            </div>
        </div>
        
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Closing Date:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ClosingDate,  "{0:MM/dd/yyyy}", new { id = "txtClosingDate", title = "Closing Date", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.ClosingDate)
                </span>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Lender Name:")
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LenderName, new { id = "txtLenderName", title = "LenderName", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.LenderName)
                </span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Pending Request for Extension Date:")

                    @if (Model.IsDefaultExention)
                    {
                        @Html.Label("(* With default extension 6 months ( 12 + 6 months) )", new { id = "lblDefaultExten", @style = "font-size:10px;color:red;font-weight: bold" })
                    }
                    else
                    {
                        @Html.Label("(* with 6 months extension)", new { id = "lblExten", @style = "font-size:10px;color:red;font-weight: bold" })
                    }

                  
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.EndDate,  "{0:MM/dd/yyyy}", new { id = "txtEndDate", title = "End Date", @style = "background: #eee", @readonly = "true" })
                    @Html.ValidationMessageFor(m => m.EndDate)
                </span>
            </div>
        </div>

        <div class="container-fluid">
            @if (Model.ManageMode == "ReadOnly")
            {

                <div class="row">
                    <span class="col-md-4 text-right">
                <label>Extension Request Status :</label>
             </span>
                    @if (Model.ExtensionRequestStatus == 2)
                    {
                        <span class="col-md-4 text-left">
                        <label>Approved</label>
                    </span>
                    }else if (Model.ExtensionRequestStatus == 3) {
                    <span class="col-md-4 text-left">
                        <label>Denied</label>
                    </span>
                    }
                    else
                    {
                    <span class="col-md-4 text-left">
                        <label>Pending</label>
               </span>
                    }

                </div>
                if (Model.ExtensionRequestStatus >= 2)
                 {
                     <div class="row">
                         <span class="col-md-4 text-right" style="margin-top: 10px;">
                        <label>Reason :</label>
                    </span>
                         <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.LabelForModel(Model.Comments, new { id = "lblComments", title = "lblComments" })
                    </span>
                     </div>
                 }
                 if (Model.IsLenderPAMReport)
                {
                     <div class="row">
                        <span class="col-md-4 text-right" style="margin-top: 10px;">
                        </span>
                        <span class="col-md-4 text-left" style="margin-top: 10px;">
                            @Html.ActionLink("Return to Lender PAM Report", "Index", "LenderPAMReport", new { lamIds = ViewData["lamIds"], bamIds = ViewData["bamIds"], larIds = ViewData["larIds"], roleIds = ViewData["roleIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                        </span>
                     </div>
                }
                else if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
                {
                    <div class="row">
                        <span class="col-md-4 text-right" style="margin-top: 10px;">
                        </span>
                        <span class="col-md-4 text-left" style="margin-top: 10px;">
                            @Html.ActionLink("Return to My ReAssigned Tasks", "MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                        </span>
                    </div>
                }
                else if (!Model.IsPAMReport)
                {
                    <div class="row">
                        <span class="col-md-4 text-right" style="margin-top: 10px;">
                    </span>
                        <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.ActionLink("Return to My Tasks", "MyTasks", "Task", new {page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"]}, new {style = "text-decoration:underline"})
                    </span>
                    </div>
                }
                else
                {
                    <div class="row">
                        <span class="col-md-4 text-right" style="margin-top: 10px;">
                        </span>
                        <span class="col-md-4 text-left" style="margin-top: 10px;">
                            @Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                        </span>
                    </div>
                }
            }
        </div>

        <div class="container-fluid">
        @if (Model.ManageMode == "Edit")
        {
            <div id="dvSubmit" class="row">
                <span class="col-md-4 text-right">
                    <label>Approve Request</label>
                </span>
                <span class="col-md-4 text-left">
                    @Html.RadioButtonFor(m => m.IsApprove, true, new { id = "rbIsApprove", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                </span>
            </div>
            <div id="dvSubmit" class="row">
                <span class="col-md-4 text-right">
                    <label>Deny Request</label>
                </span>
                <span class="col-md-4 text-left">
                    @Html.RadioButtonFor(m => m.IsApprove, false, new { id = "rbIsDeny", @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 15px;">
                    <label>Comments :</label>
                </span>
                <span class="col-md-3" style="  margin-top: 10px;">
                    @Html.TextAreaFor(m => m.Comments, new { @style = "height:70px;width:300px;", maxlength = "256" })
                </span>
            </div>
            <div class="container-fluid">

                <div id="dvSubmit" class="row" style="margin-top: 10px;">
                    <span class="col-md-12 text-center">
                        <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
                    </span>
                </div>
            </div>
        }
    </div>
    }

</section>
 
<script>
    var NonCriticalExtension = (function() {

        var addMonths = function(closingDate, months)
        {
            closingDate.setMonth(closingDate.getMonth()+months);
            return closingDate.getMonth()+1 + "/" + closingDate.getDate() + "/" + closingDate.getFullYear();
        }


        //////////////////////////////////////////////////////////////////////////////////////
        // Private variables and methods
        //////////////////////////////////////////////////////////////////////////////////////
        return {
            InitView: function () {

                $('#btnSubmit').click(function () {

                        if (!NonCriticalExtension.ValidateForm()) {
                            return false;

                    }
                    return true;
                });


            },

            ValidateForm:function()
            {
                if (!$('input:radio[id="rbIsApprove"]')[0].checked && !$('input:radio[id="rbIsDeny"]')[0].checked) {
                    alert('Please select Approve or Deny');
                    return false;
                }

                if($('input:radio[id="rbIsDeny"]')[0].checked)
                {
                if ($("#Comments").val() == "") {
                    alert("Please enter the Reason");
                    $("#Reason").focus();
                    return false;
                }
                }
                return true;
            }
        }
    }());


    $(document).ready(function () {
        // override autocompleteTextBox.on function
        NonCriticalExtension.InitView();

        if ('@Model.IsDisplayAcceptPopup' == 'True') {
            $("#txtPopup").val(true);
            if ($('#txtAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }



        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            }
        });

    });



</script>



