﻿@using HUDHealthcarePortal.BusinessService
@model HUDHealthcarePortal.Model.AssetManagement.NonCriticalRepairsViewModel

@{
    ViewBag.Title = "Non-CriticalRepairs and/Or Owner-elected Request";
}
<script type="text/javascript" src="~/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    .ui-dialog .ui-dialog-title {
        text-align: center;
        width: 100%;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .alink {
        color: #0000A0;
        font-weight: bold;
        text-decoration: underline;
    }



    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .background {
        background-color: #eee;
    }

    input[type="radio"] {
        width: 20px;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>

<section id="r4rform" style="width:1200px;height:1150px;">
    @if (Model.ManageMode == "Edit")
    {
        <h4 style="text-align: center;"><b>Non-Critical Repair Request Escrow Form</b></h4>
    }
    else
    {
        <h4 style="text-align: center;"><b>Non-Critical Repair Request Escrow Form (Read Only)</b></h4>
    }

    <div id="dialogCommon"></div>
    @using (Html.BeginForm("ApproveOrDisApprove", "NonCriticalRepairsRequest", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "nonCrticalFrm" }))
    {
        <hr />
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.NonCriticalRequestId)
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModfiedBy" })
        @Html.HiddenFor(m => m.SubmittedDate, new { id = "SubmittedDate" })
        @Html.HiddenFor(m => m.SubmitByUserId, new { id = "SubmitByUserId" })
        @Html.HiddenFor(m => m.SubmitToUserId, new { id = "SubmitToUserId" })
        @Html.HiddenFor(m => m.IsSubmitMode, new { id = "SubmitToUserId" })
        @Html.HiddenFor(m => m.FHANumber, new { id = "FHANumber" })
        @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
        @Html.HiddenFor(m => m.ClosingDate, new { id = "ClosingDate" })
        @Html.HiddenFor(m => m.LenderName, new { id = "LenderName" })
        @Html.HiddenFor(m => m.PaymentAmountRequested, new { id = "PaymentAmountRequested" })
        @Html.HiddenFor(m => m.NCRECurrentBalance, new { id = "NonCriticalCurrentBalance" })
        @Html.HiddenFor(m => m.NonCriticalAccountBalance, new { id = "NonCriticalAccountBalance" })
        @Html.HiddenFor(m => m.IsFinalDraw, new { id = "IsFinalDraw" })
        @Html.HiddenFor(m => m.NumberDraw, new { id = "NumberDraw" })
        @Html.HiddenFor(m => m.ManageMode, new { id = "ManageMode" })
        @Html.HiddenFor(m => m.CanProvideAllPhotosInvoices)
        @Html.HiddenFor(m => m.PropertyId)
        @Html.HiddenFor(m => m.LenderId)
        @Html.HiddenFor(m => m.NonCriticalAccountBalance, new { id = "NonCriticalAccountBalance" })
        @Html.HiddenFor(m => m.IsDisplayAcceptPopup, new { id = "txtPopup" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "txtAgreementAccepted" })
        @Html.HiddenFor(m => m.IsTransactionLedger, new { id = "txtTxnLedger" })
        @Html.HiddenFor(m => m.IsNCREAmountValid, new { id = "txtNCREAmtValid" })
        @Html.HiddenFor(m => m.IsThisAnAdvance, new { id = "IsThisAnAdvance" })
        @Html.HiddenFor(m => m.FileContractFileName, new { id = "FileContractFileName" })
        @Html.HiddenFor(m => m.FileDefaultRequestExtensionFileName, new { id = "FileDefaultRequestExtensionFileName" })
        @Html.HiddenFor(m => m.FinalInspectionReport, new { id = "FinalInspectionReport" })
        @Html.HiddenFor(m => m.IsScopeOfWorkChanged, new { id = "IsScopeOfWorkChanged" })
        @Html.HiddenFor(m => m.FileScopeCertificationFileName, new { id = "FileScopeCertificationFileName" })
        @Html.HiddenFor(m => m.FileName92464, new { id = "FileName92464" })
        @Html.HiddenFor(m => m.FileNamePCNA, new { id = "FileNamePCNA" })
        @Html.HiddenFor(m => m.FileName92117, new { id = "FileName92117" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerRemarks, new { id = "ServicerRemarks" })
        @Html.HiddenFor(m => m.IsExtensionAttachmentRequired)
        @Html.HiddenFor(m => m.IsLenderDelegate)

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Project Number : ")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.FHANumber, new { id = "lblFhaNumber" })
                </span>
                @*Commented out as per  User Story 1847
                    <span class="col-md-4">
                    @Html.ActionLink("Transaction Ledger", "GetTransactionLedger", "NonCriticalRepairsRequest", new { propertyId = Model.PropertyId, lenderId = Model.LenderId, fhaNumber = Model.FHANumber }, new { id = "transactionLink" })
                    </span>*@
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Project Number:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyId.ToString(), new { id = "lblPropertyId", title = "Property Name" })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PropertyName, new { id = "lblPropertyName", title = "Property Name" })
                </span>
            </div>
        </div>

        <hr />

        if (Model.IsExtensionAttachmentRequired)
        {
            <div class="container-fluid" id="divRequestExtensionLink">
                <div class="row">
                    <span class="col-md-4 text-right">
                    </span>
                    <span class="col-md-4" style="text-decoration: underline">
                        <u>Request for Extension</u>
                    </span>
                </div>
                <div class="row">
                    <span class="col-md-4 text-right">
                    </span>
                    <span class="col-md-4" style="color:red;">
                        <label>Alert: Your loan is greater than 12 months past the Closing Date. Please click on the above link (Request for Extension), to request a Non-Critical Repair extension for this property. You may continue without making the request.</label>
                    </span>
                </div>
            </div>
            <hr />
        }

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("Property Address:")
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Street Address")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.AddressLine1, new { id = "txtStreetAddress", title = "Street Address", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("City")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.City, new { id = "txtCity", title = "City", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("State")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.StateCode, new { id = "txtState", title = "State", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Zip code")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.ZIP, new { id = "txtZipCode", title = "Zip code", @readonly = true, @style = "background: #eee" })
                </span>
            </div>
        </div>
        <hr />

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is Lender Delegate?")
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, true, new { id = "lenderDelegateYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                </span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class="col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, false, new { id = "lenderDelegateNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>
        if ((Model.IsLenderDelegate == true))
        {
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Total Accepted Amount")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.ApprovedAmount.ToString() ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" }, { "id", "txtApprovedAmount1" } })
                        @Html.ValidationMessageFor(m => m.ApprovedAmount)
                    </span>
                </div>
            </div>
        }
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Closing Date:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.ClosingDate == null ? "(none)" : Model.ClosingDate.Value.ToShortDateString(), new { id = "lblClosingDate", title = "Closing Date" })
                </span>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Lender Name:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.LenderName == null ? "(none)" : Model.LenderName.ToString(), new { id = "lblLenderName", title = "LenderName" })
                </span>
            </div>
        </div>
        if (RoleManager.IsAccountExecutiveRole(UserPrincipal.Current.UserName))
        {
            <div class="container-fluid">
                @Html.Partial("/Views/Assetmanagement/NonCriticalCheckListView.cshtml")
            </div>
        }

        <hr />
        <div class="container-fluid" id="divExtensionFile">

            @if (!string.IsNullOrEmpty(Model.FileDefaultRequestExtensionFileName))
                {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label("Request Extension File :")
                        </span>
                        <span class="col-md-4 alink text-left">
                            @Html.ActionLink(Model.FileDefaultRequestExtensionFileName.Trim(), "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.DefaultRequestExtension })
                        </span>
                    </div>
                </div>
            }

        </div>

        <div class="container-fluid" style="margin-top: 10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Non-Critical Repairs and/or Owner elected Account Balance  at loan closing:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.NonCriticalAccountBalance == null ? "(None)" : Model.NonCriticalAccountBalance.Value.ToString("C2"), new { title = "Non Critical Account Balance", @class = "fieldLabel" })
                </span>
            </div>
        </div>

        <div class="container-fluid" style="margin-top:10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Non-Critical Repairs and/or Owner elected Account Current Balance:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.NCRECurrentBalance == null ? "(None)" : Model.NCRECurrentBalance.Value.ToString("C2"), new { title = "Non Critical Account Current Balance", @class = "fieldLabel" })
                </span>
            </div>
        </div>


        <div class="container-fluid" style="margin-top:10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is the NCRE amount Valid?:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.IsNCREAmountValid ? "Yes" : "No", new { title = "Is NCRE Amount Valid", @class = "fieldLabel" })
                </span>
            </div>
        </div>



        <div class="container-fluid" style="margin-top:10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Reimbursement Amount:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.PaymentAmountRequested == 0 ? "(None)" : Model.PaymentAmountRequested.ToString("C2"), new { title = "Reimbursement Amount", @class = "fieldLabel" })
                </span>
            </div>
        </div>

        <div class="container-fluid" style="margin-top:10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Draw Number:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.NumberDraw.ToString(), new { title = "Reimbursement Amount", @class = "fieldLabel" })
                </span>
            </div>
        </div>


        <div class="container-fluid" style="margin-top:10px">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Final Draw:")
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel((Model.IsFinalDraw) ? "Yes" : "No", new { title = "Is Final Draw", @class = "fieldLabel" })
                </span>
            </div>
        </div>

            <div class="container-fluid" id="divClearTitleFile" style="margin-top: 10px">
                @if (Model.IsFinalDraw)
                {
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label(" Final Inspection Report:")
                        </span>
                        <span class="col-md-4 alink text-left">
                            @Html.ActionLink(Model.FinalInspectionReport.Trim(), "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.ClearTitle })
                        </span>
                    </div>
                }
            </div>

            <div class="container-fluid" style="margin-top:10px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Is this change in scope of work?:")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.IsScopeOfWorkChanged ? "Yes" : "No", new { title = "Is Scope of Work Changed", @class = "fieldLabel" })
                    </span>
                </div>
            </div>

            <div class="container-fluid" id="divScopeFile" style="margin-top:10px">
                @if (Model.IsScopeOfWorkChanged)
                {
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label("Scope Certification:")
                        </span>
                        <span class="col-md-4 alink text-left">
                            @Html.ActionLink(Model.FileScopeCertificationFileName.Trim(), "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.ScopeCertification })
                        </span>
                    </div>
                }
            </div>

            <div class="container-fluid" style="margin-top:10px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Is this an Advance?:")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.IsThisAnAdvance ? "Yes" : "No", new { title = "Is this Advance", @class = "fieldLabel" })
                    </span>
                </div>
            </div>

            <div class="container-fluid" id="divContractFile" style="margin-top:10px">
                @if (Model.IsThisAnAdvance)
                {
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label("Contract:")
                        </span>
                        <span class="col-md-4 alink text-left">
                            @Html.ActionLink(Model.FileContractFileName.Trim(), "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.FileContract })
                        </span>
                    </div>
                }
            </div>

            <div class="container-fluid" style="margin-top: 10px">
                @if (!string.IsNullOrEmpty(Model.FileName92464))
                {
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label("File 92464:")
                        </span>
                        @*<span class="col-md-4 alink text-left">
                                @Html.ActionLink(Model.FileName92464.Trim(), "DownloadTaskFile", new {taskInstanceId = Model.TaskGuid, taskFileType = FileType.ApprovalAdvance92464})
                            </span>*@
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileName92464, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.ApprovalAdvance92464 })
                            @*@Html.LabelForModel(Model.FileName9250 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })*@
                        </span>
                    </div>
                }
            </div>



            <div class="container-fluid" style="margin-top: 10px">
                @if (!string.IsNullOrEmpty(Model.FileName92117))
                {
                    <div class="row">
                        <span class="col-md-4 text-right small">
                            @Html.Label("File 92117:")
                        </span>
                        @*<span class="col-md-4 alink text-left">
                                @Html.ActionLink(Model.FileName92117.Trim(), "DownloadTaskFile", new {taskInstanceId = Model.TaskGuid, taskFileType = FileType.BorrowerCertification92117})
                            </span>*@
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileName92117, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.BorrowerCertification92117 })
                            @*@Html.LabelForModel(Model.FileName9250 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })*@
                        </span>
                    </div>
                }
            </div>

            @*<div class="container-fluid" style="margin-top: 10px">
                    @if (!string.IsNullOrEmpty(Model.FileNamePCNA))
                    {
                        <div class="row">
                            <span class="col-md-4 text-right small">
                                @Html.Label("File PCNA:")
                            </span>
                            <span class="col-md-4 alink text-left">
                                @Html.ActionLink(Model.FileNamePCNA.Trim(), "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.PCNA })
                            </span>
                        </div>
                    }
                </div>*@
            <div class="row" style="margin-top:10px">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                    <label>Servicer Comments :</label>
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.LabelForModel(Model.ServicerRemarks != null ? Model.ServicerRemarks : "(None)", new { id = "lblServicerComments", title = "Servicer Comments" })
                </span>
            </div>
        if (Model.ManageMode == "ReadOnly" || Model.RequestStatus == 4)
        {

            <div class="container-fluid" style="margin-top:10px">

                <div class="row">
                    <span class="col-md-4 text-right">
                        <label>Request Status :</label>
                    </span>
                    @if (Model.RequestStatus == 2)
                    {
                        <span class="col-md-4 text-left">
                            <label>Approved</label>
                        </span>
                    }
                    else if (Model.RequestStatus == 3)
                    {
                        <span class="col-md-4 text-left">
                            <label>Approved with changes</label>
                        </span>
                    }
                    else if (Model.RequestStatus == 4)
                    {
                        <span class="col-md-4 text-left">
                            <label>Auto Approved</label>
                        </span>
                    }
                    else if (Model.RequestStatus == 5)
                    {
                        <span class="col-md-4 text-left">
                            <label>Denied</label>
                        </span>
                    }
                    else
                    {
                        <span class="col-md-4 text-left">
                            <label>Pending</label>
                        </span>
                    }

                </div>

                @if (Model.RequestStatus == 3)
                {
                    <div class="row" style="margin-top: 10px">
                        <span class="col-md-4 text-right" style="margin-top: 10px;">
                            <label class="required">Approved with Changes Amount:</label>
                        </span>
                        <span class="col-md-4 text-left" style="margin-top: 10px;">
                            @Html.LabelForModel(Model.ApprovedAmount != null ? Model.ApprovedAmount.Value.ToString("C2") : "(None)", new { id = "lblRequestAmount", title = "RequestAmount" })
                        </span>
                    </div>
                }



                <div class="row" style="margin-top:10px">
                    <span class="col-md-4 text-right" style="margin-top: 10px;">
                        <label>Reason :</label>
                    </span>
                    <span class="col-md-4 text-left" style="margin-top: 10px;">
                        @Html.LabelForModel(Model.Reason != null ? Model.Reason : "(None)", new { id = "lblReason", title = "Reason" })
                    </span>
                </div>

            </div>
        }
        @*User Story 1901*@
        <hr />
        <div class="container-fluid">
            <div class="row">
                <table>

                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:10px", @disabled = true, @checked = "checked" })
                        </td>
                        <td>
                            <label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>
                        </td>
                    </tr>

                </table>

            </div>

        </div>
        <hr />
        <div class="container-fluid">
            @if (Model.ManageMode == "Edit" && Model.RequestStatus != 4)
            {

                <div id="dvSubmit" class="row" style="margin-top:10px">
                    <span class="col-md-4 text-right">
                        <label>Approve</label>
                    </span>
                    <span class="col-md-4 text-left">
                        @Html.RadioButtonFor(m => m.Decision, "2", new { @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                    </span>
                </div>
                        <div id="dvSubmit" class="row" style="margin-top:10px">
                            <span class="col-md-4 text-right">
                                <label>Approve with changes</label>
                            </span>
                            <span class="col-md-4 text-left">
                                @Html.RadioButtonFor(m => m.Decision, "3", new { @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                            </span>
                        </div>

                        <div id="dvSubmit" class="row" style="margin-top:10px">
                            <span class="col-md-4 text-right">
                                <label>Deny</label>
                            </span>
                            <span class="col-md-4 text-left">
                                @Html.RadioButtonFor(m => m.Decision, "5", new { @class = "rbFakeClass", @style = "width:20px;margin-left:30px;" })
                            </span>
                        </div>


                        <div class="row" style="margin-top:10px">
                            <span class="col-md-4 text-right" style="margin-top: 15px;">
                                <label class="required">Approved with Changes  Amount:</label>
                            </span>
                            <span class="col-md-4 text-left" style="margin-top: 15px;">
                                @Html.TextBoxFor(m => m.ApprovedAmount, new { id = "txtApprovedAmount", title = "ApprovedAmount" })
                            </span>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <span class="col-md-4 text-right" style="margin-top: 15px;">
                                <label class="required">Re-enter the Approved with Changes Amount :</label>
                            </span>
                            <span class="col-md-4 text-left" style="margin-top: 15px;">
                                @Html.TextBoxFor(m => m.ApprovedAmount, new { id = "txtApprovedAmount_reenter", title = "ApprovedAmount" })
                            </span>
                        </div>
                        <div class="row" style="margin-top:10px">
                            <span class="col-md-4 text-right" style="margin-top: 15px;">
                                <label class="required">Comments :</label>
                            </span>
                            <span class="col-md-3" style=" margin-top 10px;">
                                @Html.TextAreaFor(m => m.Reason, new { @style = "height:70px;width:300px;", maxlength = "500" })
                            </span>
                        </div>
                        <div class="container-fluid" style="margin-top:10px">

                            <div id="dvSubmit" class="row" style="margin-top: 10px;">
                                <span class="col-md-5 text-right" style="padding-right:10px">
                                    <input type="submit" value="Approve" id="btnApprove" name="submitButton" />
                                </span>
                                <span class="col-md-4 text-left">
                                    <input type="submit" value="Deny" id="btnDisApprove" name="submitButton" />
                                </span>
                            </div>
                        </div>
            }
        </div>
        if (Model.IsLenderPAMReport)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to Lender PAM Report", "Index", "LenderPAMReport", new { lamIds = ViewData["lamIds"], bamIds = ViewData["bamIds"], larIds = ViewData["larIds"], roleIds = ViewData["roleIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                </span>
            </div>
        }
        else if (Model.IsReassigned.HasValue && Model.IsReassigned.Value == true)
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to My ReAssigned Tasks", "MyReAssignmentTasks", "TaskReAssignment", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                </span>
            </div>
        }
        else if (!Model.IsPAMReport)
        {

            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to My Tasks", "MyTasks", "Task", new { page = TempData["page"], sort = TempData["sort"], sortdir = TempData["sortdir"] }, new { style = "text-decoration:underline" })
                </span>
            </div>
        }
        else
        {
            <div class="row">
                <span class="col-md-4 text-right" style="margin-top: 10px;">
                </span>
                <span class="col-md-4 text-left" style="margin-top: 10px;">
                    @Html.ActionLink("Return to PAM Report", "Index", "PAMReport", new { wlmIds = ViewData["wlmIds"], aeIds = ViewData["aeIds"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"], status = ViewData["status"], projectAction = ViewData["projectAction"], page = ViewData["page"], sort = ViewData["sort"], sortdir = ViewData["sortdir"] }, new { style = "text-decoration:underline" })
                </span>
            </div>
        }
    }

</section>

<script>
    var formAttachmentFileTypes = '@TempData["FormAttachmentFileTypes"]';
</script>


<script>

    var NonCriticalRepairs = (function () {
        //////////////////////////////////////////////////////////////////////////////////////
        // Private variables and methods
        //////////////////////////////////////////////////////////////////////////////////////
        return {
            InitView: function () {

                $('#txtRequestAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
                $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
                $('#txtApprovedAmount_reenter').autoNumeric('init', { vMin: 0, mDec: 2 });
                $('#txtApprovedAmount').val("");
                $('#txtApprovedAmount_reenter').val("");
                //NonCriticalRepairs.disableAcceptSection();
                // Commented as per user story 1847
                 //if ($("#txtTxnLedger").val() == 'True') {
                 //    document.getElementById("transactionLink").style.display = 'block';

                 //} else {
                 //    document.getElementById("transactionLink").style.display = 'none';
                 //}
                // Commented out as per User Story 1847
                 //$('#transactionLink').click(function () {
               //     $('<div>Loading ...</div>').load(this.href).dialog({

			   //      title:  'Transaction Ledger'
			   //    , width: 500
               //    , modal: true
               //    , closeOnEscape: false
               //    , resizable: false
               //    , draggable: false
			   //    , minHeight: 200
               //    , height: 300
               //  , position: ['center', 100]

               //});
               //     return false;
               // });


                    $('input:radio[name="Decision"]').change(function () {
                   // debugger;
                    //if first time request is Yes
                        //debugger;
                        if ($(this).val() == '2'  ) {
                            NonCriticalRepairs.disableApproveSection();
                        //alert($("#txtApprovedAmount").val());
                        document.getElementById("txtApprovedAmount").disabled = true;
                        $('#txtApprovedAmount').attr('style', 'background: #eee');
                         ///   NonCriticalRepairs.enableApproveSection();
                            $('#btnApprove').attr("disabled", false);
                            $("#btnApprove").removeClass('background');
                        }
                        else if ($(this).val() == '5') {
                            NonCriticalRepairs.disableApproveSection();
                            $('#btnDisApprove').attr("disabled", false);
                            $("#btnDisApprove").removeClass('background');
                            $('#btnApprove').attr("disabled", true);
                            $("#btnApprove").addClass('background');
                            $('#Reason').val(null);
                            $('#Reason').attr("disabled", false);
                            $("#Reason").removeClass('background');
                        }
                        else{
                            NonCriticalRepairs.enableApproveSection();
                            document.getElementById("txtApprovedAmount").disabled = false;
                            $("#txtApprovedAmount").removeAttr("style");
                            $('#btnApprove').attr("disabled", false);
                            $("#btnApprove").removeClass('background');
                      }
                });

                    $('input[id="btnApprove"]').click(function () {
                       // $("#spinner").attr('class', 'overlay');
                    if(!NonCriticalRepairs.validateForm())
                    {
                        return false;
                    }
                    $("#spinner").attr('class', 'overlay');
                    return true;
                    });

                    $('input[id="btnDisApprove"]').click(function () {
                        $("#spinner").attr('class', 'overlay');
                        if (!NonCriticalRepairs.validateForm()) {
                            return false;
                        }
                        return true;
                    });
            },
                  FormAttachmentFileTypes: window.formAttachmentFileTypes,
                  enableApproveSection : function()
                  {
                      $('#txtRequestAmount').val(null);
                      $('#txtRequestAmount').attr("disabled", false);
                      $("#txtRequestAmount").removeClass('background');

                      $('#txtApprovedAmount_reenter').val("");
                      $('#txtApprovedAmount_reenter').attr("disabled", false);
                      $("#txtApprovedAmount_reenter").removeClass('background');

                      $('#txtApprovedAmount').val("");
                      $('#txtApprovedAmount').attr("disabled", false);
                      $("#txtApprovedAmount").removeClass('background');

                      $('#Reason').val(null);
                      $('#Reason').attr("disabled", false);
                      $("#Reason").removeClass('background');

                      $('#btnApprove').attr("disabled", false);
                      $("#btnApprove").removeClass('background');
                      $('#btnDisApprove').attr("disabled", true);
                      $("#btnDisApprove").addClass('background');
                  },
                  disableApproveSection : function() {

                      $('#txtRequestAmount').val(null);
                      $('#txtRequestAmount').attr("disabled", true);
                      $("#txtRequestAmount").addClass('background');

                      $('#txtApprovedAmount').val(null);
                      $('#txtApprovedAmount').attr("disabled", 'disabled');
                      $("#txtApprovedAmount").addClass('background');

                      $("#txtApprovedAmount_reenter").val(null);
                      $("#txtApprovedAmount_reenter").attr("disabled", true);
                      $("#txtApprovedAmount_reenter").addClass('background');

                      $('#Reason').val(null);
                      $('#Reason').attr("disabled", true);
                      $("#Reason").addClass('background');


                      $('#btnDisApprove').attr("disabled", true);
                      $("#btnDisApprove").addClass('background');
                  },

                  validateForm: function () {
                      if ($('input[name=Decision]:checked').length) {

                          var decisonMade = $('input[name=Decision]:checked').val();

                          if (decisonMade == "2") {

                          }
                          else if (decisonMade == "3") {

                              if ($("#txtRequestAmount").val() == "") {
                                  alert("Please enter the Request Amount");
                                  $("#txtRequestAmount").focus();
                                  return false;
                              } else if ($("#txtApprovedAmount").val() == "") {
                                  alert("Please enter Approve Amount");
                                  $("#txtApprovedAmount").focus();
                                  return false;
                              }
                              else if ($('#txtApprovedAmount_reenter').val() == '') {
                                  $("#txtApprovedAmount_reenter").focus();
                                  alert('Please re-renter Approve Amount');
                                  return false;
                              }
                              else if ($('#txtApprovedAmount').val() != $('#txtApprovedAmount_reenter').val() && $('#txtApprovedAmount_reenter').val() != '') {
                                  $("#txtApprovedAmount_reenter").focus();
                                  $("#txtApprovedAmount_reenter").select();
                                  alert('The Approve Amount do not match');
                                  return false;
                               }

                                     var approveAmount = $("#txtApprovedAmount").val().replace(/\,/g, '');

                                     if (parseFloat(approveAmount) > (parseFloat($('#NonCriticalAccountBalance').val()))) {
                                      $("#txtApprovedAmount").focus();
                                      alert('The Approved Amount entered is greater than the amount available in your escrow account. Please re-enter the correct Approve Amount.');
                                      return false;
                                  }

                                  if ($("#Reason").val() == "") {
                                      alert("Please enter the Approve with Changes Reason");
                                      $("#Reason").focus();
                                      return false;
                                  }
                                  NonCriticalRepairs.removeComma();
                                  return true;
                          }
                          else if (decisonMade == "5") {
                              if ($("#Reason").val() == "") {
                                  alert("Please enter the Deny Reason");
                                  $("#Reason").focus();
                                  return false;
                              }
                            }

                      } else {
                          alert('Please select the Is Approve or Approve with changes or Deny');
                          return false; // stop whatever action would normally happen
                      }
                      return true;
                  },
                    removeComma:function()
                    {
                        var form = $(this);
                        $('input').each(function (i) {
                            var self = $(this);
                            try {
                                var v = self.autoNumeric('get');
                                self.autoNumeric('destroy');
                                self.val(v);
                            } catch (err) {
                                console.log("Not an autonumeric field: " + self.attr("name"));
                            }
                        });
                    }

                }

        }());


    $(document).ready(function () {
        NonCriticalRepairs.InitView();

        if ('@Model.IsDisplayAcceptPopup' == 'True') {
            $("#txtPopup").val(true);
            if ($('#txtAgreementAccepted').val() != 'true')
                $('#dialogCommon').dialog('open');
        }

        //User Story 1901
        @*if ('@Model.IsAgreementAccepted' == 'True') {
            $('#dialogCommon').dialog('open');
        }*@

        $("#dialogCommon").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });
    });

</script>
