﻿@using System.Web.Mvc.Html
@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
    ViewBag.Title = "";
}

  <script type="text/javascript" src="/Scripts/autoNumeric.js"></script>

@using (Html.BeginForm("UpdateApprovedAmount", "ReserveForReplacement", FormMethod.Post, new { @id = "SearchForm" }))
{
     @Html.HiddenFor(m => m.TotalRequestedAmount, new { id = "TotalRequestedAmount" })
     @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
     @Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })   
    
<section id="r4rform" style="width:1200px;height:1150px;">

    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">   </span>
            <h4 style="text-align:center;"><b>R4R Change Approval Amount Form</b></h4>
        </div>
    </div>
    <hr />
   <div class="container-fluid">
       <div class="row">
           <span class="col-md-4 text-right">
               @Html.Label("FHA Project Number")
               @Html.Label("*", new { style = "color: red;" })
           </span>
           <span class="col-md-4">
               <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" placeholder="Select FHA" />
               @Html.HiddenFor(m => m.FHANumber, new { id = "txtFha" })
           </span>
       </div>
    </div>
 
    <hr />
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Approved Amount")
                @Html.Label("*", new { style = "color: red;" })
            </span>
            <span class="col-md-4">
                @Html.TextBoxFor(m => m.TotalApprovedAmount, new { id = "totalApprovedAmount", title = "TotalApprovedAmount",  @style = "background: #eee", @readonly = "true" })
            </span>
        </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Change Approved Amount")
                @Html.Label("*", new { style = "color: red;" })
            </span>
            <span class="col-md-4">
                <input id="changeApprovedAmount" name="changeApprovedAmount" type="text" required="required" />
             </span>    
         </div>
    </div>
    <hr />
    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">
                @Html.Label("Re-Enter Change Approved Amount")
                @Html.Label("*", new { style = "color: red;" })
            </span>
            <span class="col-md-4">
                <input id="reenterApprovedAmount" name="reenterApprovedAmount" type="text" required="required" />
            </span>
        </div>
    </div>

    <div class="container-fluid">
        <div id="dvSubmit" class="row">
            <span class="col-md-12 text-center">
                <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
            </span>
        </div>
        <div class="row" style="padding-top: 20px;"></div>
    </div>    

</section>
}
<!-- thank you message -->
@*<div id="thanks" class="alert alert-success fade">
    <button type="button" class="close">&times;</button>
    <h4>Got it!</h4>
    <p>Thanks. I've received your message, I'll be in touch within 24 hours. Promise.</p>
</div>*@
<script>

    //$(document).ready(function(){
    //    $("input").each(function(){
    //        $(this).val("");
    //    });
    //});
    $('#changeApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
    $('#reenterApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });

    var autocompleteTextBox;

    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));

    $(function(){
        $("#ddlFHANumbers").autocomplete({
            source: possibleValues,            
            minLength: 3,
            select: function (event, ui) {
                $(this).val(ui.item.label);
                searchTextTyped = ui.item.value;
                updatePropertyInfo(searchTextTyped);
                return false;
            }
        });
    });


    //autocompleteTextBox.on('autocompleteselect', function(event, ui) {
    //   //// searchTextTyped = ui.item.value;
    //   //// autocompleteMatch(searchTextTyped, possibleValues);

    //   // updatePropertyInfo(searchTextTyped);
    //});

    $.formattedDate = function(dateToFormat) {
        var dateObject = new Date(dateToFormat);
        var day = dateObject.getDate();
        var month = dateObject.getMonth() + 1;
        var year = dateObject.getFullYear();
        day = day < 10 ? "0" + day : day;
        month = month < 10 ? "0" + month : month;
        var formattedDate = day + "/" + month + "/" + year;
        return formattedDate;
    };

    function updatePropertyInfo(selectedFHANumber) {
        if ($.inArray(selectedFHANumber, possibleValues) != -1) {
            if (fhaNumberLoaded != selectedFHANumber) {
                $.ajax({
                    url: '@Url.Action("GetApprovedAmountByFHANumber", "ReserveForReplacement")',
                    data: { selectedFhaNumber: selectedFHANumber },
                    dataType: 'json',
                    type: 'GET',
                    success: function(results) {
                        if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                            $('#totalApprovedAmount').val("");

                        } else {
                            $('#totalApprovedAmount').val(results.TotalApprovedAmount);
                            $('#TotalRequestedAmount').val(results.TotalRequestedAmount);
                            var fDate = $.formattedDate(new Date(parseInt((results.ServicerSubmissionDate).substr(6))));
                            $('#ServicerSubmissionDate').val(fDate);
                            $('#TaskId').val(results.TaskId);
                        }
                        $('#txtFha').val(selectedFHANumber);
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                    }
                });
            }
        } else {
            $('#totalApprovedAmount').val("");

            $('#txtFha').val("");
        }

        fhaNumberLoaded = selectedFHANumber;
    }


    $('#SearchForm').submit(function() {

        $.formattedDate = function(dateToFormat) {
            var dateObject = new Date(dateToFormat);
            var day = dateObject.getDate();
            var month = dateObject.getMonth() + 1;
            var year = dateObject.getFullYear();
            day = day < 10 ? "0" + day : day;
            month = month < 10 ? "0" + month : month;
            var formattedDate = day + "/" + month + "/" + year;
            return formattedDate;
        };

        var id1 = $('#changeApprovedAmount').val();
        var id2 = $('#reenterApprovedAmount').val();
        var id3 = $('#ddlFHANumbers').val();
        var id4 = $('#TotalRequestedAmount').val();
        var id5 = $('#ServicerSubmissionDate').val();
        var id6 = $('#TaskId').val();

        if($('#ddlFHANumbers').val() == '')
        {
            alert('Select FHA Number');
            return false;
        }

        if(id1 == '' || id2== '')
        {
            alert('Change Approved Amount and Re-Enter Approved Amount must not be null');
            return false;
        }
        if (id1 != id2) {
            alert('Change Approved Amount and Re-Enter Approved Amount must be equal');
            return false;
        }
        else
        {
            $.ajax({
                type: "GET",
                url: '/ReserveForReplacement/UpdateApprovedAmount',
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                data: {FHANumber :id3, TotalRequestedAmount:id4 ,ServicerSubmissionDate : id5,TaskId : id6}
            });
        }

    });



</script>

@if (ViewBag.Message != null)
{
    <script>

        $(document).ready(function(){
            alert('@ViewBag.Message');
            $('#totalApprovedAmount').val('');
            $('#ddlFHANumbers').val('');
        });

    </script>
}

<script src="/Scripts/Shared/autocomplete.js"></script>