﻿@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
    ViewBag.Title = "";
}
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style>
    .specialContainer {
        display: inline-block;
        vertical-align: top;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #hold {
        display: block;
        padding: 10px 10px;
        width: 100%;
        max-height: 600px;
    }

    table#myDemoTable {
        width: 100%;
        max-height: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        background: white;
        overflow-y: scroll;
        height: 600px;
        display: block;
    }

    .content,
    .header,
    .container {
        width: 100%;
        max-height: 100%;
    }


    .header {
        color: black;
        text-align: center;
    }

    .container {
        background: white;
    }

    .sidebar {
        width: 10%;
        background: white;
        color: white;
        float: left;
    }

    .content {
        width: 90%;
        position: relative;
    }

    h4 {
        margin: 0;
    }

    #myDemoTable table {
    }

    #myDemoTable thead {
        position: absolute;
        top: 1px;
        left: 0px;
        right: 0px;
    }

    #myDemoTable tbody {
        padding: 1.3em 0px 0px;
        margin: 0px;
        display: block;
    }

    #myDemoTable tr {
        width: 100%;
        display: block;
        margin-top: -2px;
    }

    #myDemoTable th {
        position: absolute;
    }

    #myDemoTable td {
        display: inline-block;
        margin: 0px;
        padding: 0px;
    }

    td.col2,
    td.col3,
    td.col4,
    td.col5 {
        margin-left: -4px;
    }

    .col1 {
        width: 60%;
    }

    .col2 {
        width: 12%;
    }

    .col3 {
        width: 12%;
    }

    .col4 {
        width: 12%;
    }



    #myDemoTable a {
        display: block;
        width: 75px;
    }

    .fileClass {
        /*width: 75px !important;*/
        width: 100px !important;
        padding: 5px !important;
    }


    /*!
       * Helpers to hide text field in type = "file", and present buttons consistently.
       */

    /* Hide the file input using opacity */
    [type=file] {
        position: absolute;
        filter: alpha(opacity=0);
        opacity: 0;
        top: -1px;
        /*top: -100px;*/
    }

        [type=file] + label {
            font-weight: bold;
            border: 1px solid #CCC;
            border-radius: 3px;
            text-align: left;
            padding: 10px;
            margin: 0;
            left: 0;
            position: relative;
        }

        [type=file] + label {
            font-weight: bold;
            text-align: center;
            border-radius: 3px;
            left: 0em;
            top: 0.5em;
            /* Decorative */
            background: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

            [type=file] + label:hover {
                background: #3399ff;
            }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
    }

    [type=button] {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        width: 75px;
        cursor: pointer;
    }

    #myDemoTable a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #myDemoTable a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }


    #divSideBar a {
        border: 1px solid #CCC;
        border-radius: 3px;
        text-align: left;
        padding: 10px;
        width: 75px;
        margin: 0;
        left: 0;
        position: relative;
        text-decoration: none;
    }

    #divSideBar a {
        text-align: center;
        font-weight: bold;
        left: 0em;
        top: 0.5em;
        /* Decorative */
        background: #333;
        color: #fff;
        border: none;
        cursor: pointer;
        width: 75px;
        text-decoration: none;
        width: 20em;
        height: 2em;
    }

        #divSideBar a:hover {
            background: #3399ff;
        }


    [type=button]:hover {
        background: #3399ff;
    }

    #myDemoTable a:hover {
        background: #3399ff;
    }
</style>

<style>
    #modalbody {
        position: center;
        left: 0px;
        top: 0px;
        width: 200%;
        height: 100%;
        right: 0px;
        padding-right: 100%;
    }

    #modelContent {
        position: center;
        left: 0px;
        top: 0px;
        width: 200%;
        height: 100%;
        right: 0px;
    }

    .close {
        color: #0C1D7D;
    }
</style>

<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>
<script type="text/javascript">
    $(document).ready(
        function() {
            $("#dialogMissingFha").dialog({
                title: 'FHANumber not found',
                autoOpen: false,
                resizable: true,
                height: '550',
                width: '680',
                show: { effect: 'fade' },
                modal: true,
                draggable: true,
                closeOnEscape: true,
                close: function(event, ui) {
                    $(this).dialog("close");
                },
                open: function(event, ui) {
                    $(this).load('../ReserveForReplacement/MissingFhaNumberQueryForm', { id: 'MissingFhaNumberForm' });
                },
            });
        }
    );
    $(document).ready(

        function () {
            $('#Describe').hide();
            $('#AttachmentsDescription').hide();
            $('#txtReserveAccountBalance').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtReserveAccountBalanceConfirm').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtPurchaseAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtRequestedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });

            // CPark (7/26/2015) - Moved and Modified $("#btnSubmit").click(function () to end of file

            if ('@Model.IsDisplayAcceptPopup' == 'True' && $('#txtAgreementAccepted').val() != 'true') {
                $("#txtPopup").val(true);
                if ($('#txtAgreementAccepted').val() != 'true')
                    $('#dialogCommon').dialog('open');
            }

            if ('@Model.IsAgreementAccepted' == 'True') {
                $('#dialogCommon').dialog('open');
            }

            $("#dialogCommon").dialog({
                title: '@TempData["Title"]',
                autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
                autoOpen: false,
                resizable: '@TempData["bResizable"]' == "True" ? true : false,
                height: '@TempData["winHeight"]',
                width: '@TempData["winWidth"]',
                show: { effect: 'fade' },
                modal: true,
                draggable: '@TempData["bDraggable"]' == "True" ? true : false,
                closeOnEscape: false,
                close: function (event, ui) {
                    $(this).dialog("close");
                },
                open: function (event, ui) {
                    $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                    if ('@TempData["bShowCloseBtn"]' == "False")
                        $(".ui-dialog-titlebar-close").hide();
                },
            });



            $('.datepicker').datepicker();

            $('#datePicker').change(function () {
                var date = $(this).val();
                var arrDate = date.split("/");
                var today = new Date();
                var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                if (userSelectedDate > today) {
                    alert('Date must not be in the future.');
                    $(this).val('');
                }
            });
            $('#datePic').change(function () {
                var date = $(this).val();
                var arrDate = date.split("/");
                var today = new Date();
                var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                if (userSelectedDate > today) {
                    alert('Date must not be in the future.');
                    $(this).val('');
                } else {
                    var diff = (today - userSelectedDate)/1000;
                    var days = Math.floor((Math.abs(Math.floor(diff)))/(24*60*60));
                    if (days>30) {
                        alert("As of Date should not be greater than 30 days");
                        $(this).val('');
                    }
                }
            });
            //Hide Servicer/Hud Remarks by default
            document.getElementById("servicerRemarks").style.display = 'none';
            document.getElementById("lineId").style.display = 'none';
            if ('@Model.IsLoggedInUserLender' == 'True') {
                if ('@Model.IsCommentEntered' == 'True') {
                    document.getElementById("servicerRemarks").style.display = 'block';
                    document.getElementById("lineId").style.display = 'block';
                }
                document.getElementById("ApprovedAmount").style.display = 'none';
            }



            $("#missingFhabtn").click(function () {
                $('#dialogMissingFha').dialog('open');
            });

            if ('@Model.IsDisplayFhaPopup' == 'True') {
                $('#dialogMissingFha').dialog('open');
            }

            if ('@Model.IsFhaNumberMissing' == 'True') {
                alert("Your submission has been accepted");
            }

            //allows only numbers in textfield
            $("#txtZipCode").keypress(function (event) {

                var evt = (event) ? event : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            });

        });

</script>
<div id="disabled">
    <section id="r4rform" style="width: 1200px; height: 1150px;">
        <h4 style="text-align: center;"><b>Reserve for Replacement Submission Form</b></h4>
        @if (Session["Confirmation"] != null)
        {
            <h2 class="HCP_Sub_Header_Red" id="uploadError" style="text-align: center; font-weight: bold; color: #e80c4d;">
                @Html.Raw(Session["Confirmation"].ToString())
            </h2>
            Session["Confirmation"] = null;
        }
        <div id="dialogCommon"></div>
        <div id="dialogMissingFha"></div>
        @using (Html.BeginForm("SubmitForm", "ReserveForReplacement", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "r4rform", onsubmit = "RemoveCommasFromNumericBoxes()" }))
        {
            <hr />
            @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
            @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
            @Html.HiddenFor(m => m.IsReAssigend, new { id = "IsReAssigend" })
            @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
            @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
            @Html.HiddenFor(m => m.ReacScore, new { id = "txtReacScore" })
            @Html.HiddenFor(m => m.TroubledCode, new { id = "txtTroubledCode" })
            @Html.HiddenFor(m => m.PropertyId, new { id = "txtPropertyId" })
            @Html.HiddenFor(m => m.ActiveDecCaseInd, new { id = "txtActiveDecCaseInd" })
            @Html.HiddenFor(m => m.IsDisplayAcceptPopup, new { id = "txtPopup" })
            @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "txtAgreementAccepted" })//User Story 1901
                                                                                            @Html.HiddenFor(m => m.DisclaimerText, new { id = "DisclaimerText" }) //User Story for 1901
                                                                                                                                                                @Html.HiddenFor(m => m.TransAccessStatus, new { id = "TransAccessStatus" })
                                                                                                                                                                @*@Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })*@

        if (Model.TaskInstanceId == null)
        {
            @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId", Value = Guid.NewGuid() })
        }

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("Instructions: Indicate the Fund for the request and provide the information for each section as requested")
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Borrower's Request")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.BorrowersRequestDate, new { @class = "datepicker", id = "datePicker", style = "width:300px;" })
                    @Html.ValidationMessageFor(m => m.BorrowersRequestDate)
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Servicer's Submission (Today's Date)")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ServicerSubmissionDate, "{0:MM/dd/yyyy}", new { @tabindex = -1, @style = "background: #eee", @readonly = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Project Number")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    <input type="text" id="ddlFHANumbers" value="@Model.FHANumber" />
                    @Html.HiddenFor(m => m.FHANumber, new { id = "txtFha" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("If the FHA is missing or not found, please click the button below")
                    @Html.Label("(Please ensure the FHA Number is current and correct and that you are authorized access to this property):", new { style = "color: red" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-12 text-center">
                    <input type="button" value="Missing FHA Number" id="missingFhabtn" name="missingFhabtn" />
                </span>
            </div>
        </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Project Number")
                                                                                            @* @Html.Label("*", new { style = "color: red;" })*@
                                                                                        </span>
                                                                                        <span class="col-md-4 required">
                                                                                            @Html.TextBoxFor(m => m.PropertyId, new { id = "txtPropertyId1", title = "Property ID", @style = "background: #eee", @readonly = "true", @Value = " " })
                                                                                            @* @Html.ValidationMessageFor(m => m.PropertyId)*@
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Property Name")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4 required">
                                                                                            @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = "true" })
                                                                                            @Html.ValidationMessageFor(m => m.PropertyName)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                                <hr />

                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-12 text-center">
                                                                                            @Html.Label("Property Address:")
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Street Address")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4 required">
                                                                                            @Html.TextBoxFor(m => m.PropertyAddress.AddressLine1, new { id = "txtStreetAddress", title = "Street Address" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("City")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.PropertyAddress.City, new { id = "txtCity", title = "City" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("State")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.PropertyAddress.StateCode, new { id = "txtState", title = "State" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Zip code")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.PropertyAddress.ZIP, new { id = "txtZipCode", title = "Zip code", maxlength = 5, minlength = 5 })
                                                                                            @Html.ValidationMessageFor(m => m.PropertyAddress.ZIP, "Zip code must be 5 digits")
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Is Lender Delegate?")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsLenderDelegate, true, new { id = "lenderDelegateYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4">
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsLenderDelegate, false, new { id = "lenderDelegateNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="container-fluid" id="ApprovedAmount">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Total Approved Amount")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.TotalApprovedAmount, new { id = "txtApprovedAmount" })
                                                                                            @Html.ValidationMessageFor(m => m.TotalApprovedAmount)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Is this request a Suspension?")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsSuspension, true, new { id = "isSuspensionYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4">
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsSuspension, false, new { id = "isSuspensionNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Is this request for an Advance?")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsRequestForAdvance, true, new { id = "requestForAdvanceYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                        <span class="col-md-5 text-left" style="margin-left: -100px;">
                                                                                            @Html.Label("(Please submit a signed 9250, 9250a, Executed contract, invoice or purchase order to support the amount being requested in advance)", new { @style = "margin-left:-6px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4"></span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsRequestForAdvance, false, new { id = "requestForAdvanceNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                        <span class="col-md-5 text-left" style="margin-left: -100px;">
                                                                                            @Html.Label("(Please submit a signed 9250 and 9250a)", new { @style = "margin-left:-6px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("How many units does the facility have?")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.NumberOfUnits, new { id = "unitsCount" })
                                                                                            @Html.ValidationMessageFor(m => m.NumberOfUnits)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Reserve Account Balance")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.ReserveAccountBalance, new { id = "txtReserveAccountBalance" })
                                                                                            @Html.ValidationMessageFor(m => m.ReserveAccountBalance)
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("as of")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.ReserveAccountBalanceAsOfDate, new { @class = "datepicker", id = "datePic", style = "width:300px;" })
                                                                                            @Html.ValidationMessageFor(m => m.ReserveAccountBalanceAsOfDate)
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Please Verify Reserve Account Balance")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.ConfirmReserveAccountBalance, new { id = "txtReserveAccountBalanceConfirm" })
                                                                                            @Html.ValidationMessageFor(m => m.ConfirmReserveAccountBalance)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Total Purchase Amount")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.TotalPurchaseAmount, new { id = "txtPurchaseAmount" })
                                                                                            @Html.ValidationMessageFor(m => m.TotalPurchaseAmount)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Total Requested Amount")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextBoxFor(m => m.TotalRequestedAmount, new { id = "txtRequestedAmount" })
                                                                                            @Html.ValidationMessageFor(m => m.TotalRequestedAmount)
                                                                                        </span>
                                                                                    </div>
                                                                                </div>

                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            @Html.Label("Is any single item more than $50,000?")
                                                                                            @Html.Label("*", new { style = "color: red;" })
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, true, new { id = "singleItemYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                        <span class="col-md-5 text-left" style="margin-left: -100px;">
                                                                                            @* commented as per User Story 2159  @Html.Label("(Please submit three bids for each item exceeding $50,000)")*@
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4">
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, false, new { id = "singleItemNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            <span class="row">
                                                                                                @Html.Label("Were the R4R items purchased more than 365 days ago?")
                                                                                                @Html.Label("*", new { style = "color: red;" })
                                                                                            </span>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, true, new { id = "purchaseYearYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                        <span class="col-md-5 text-left" style="margin-left: -100px;">
                                                                                            @Html.Label("(Please submit all invoices, receipts, contracts, pictures, etc)")
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right"></span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, false, new { id = "purchaseYearNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            <label>
                                                                                                Does this R4R request propose remodeling, adding to, subtracting from, reconstructing, or demolishing a portion of the mortgaged project (as discussed further in
                                                                                                Asset Management Section 3.4.4 of Handbook 4232, Healthcare Mortgage Insurance)? <span style="color: red;">*</span>
                                                                                            </label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsRemodelingProposed, true, new { id = "remodelingYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4">
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsRemodelingProposed, false, new { id = "remodelingNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right">
                                                                                            <span class="row">
                                                                                                @Html.Label("Is release being contemplated to cover mortgage payments on the property?")
                                                                                                @Html.Label("*", new { style = "color: red;" })
                                                                                            </span>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            <label>Yes</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, true, new { id = "mortgageCoveredYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right"></span>
                                                                                        <span class="col-md-1   text-left">
                                                                                            <label>No</label>
                                                                                        </span>
                                                                                        <span class=" col-md-1 text-left">
                                                                                            @Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, false, new { id = "mortgageCoveredNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />

                                                                                <div class="container-fluid" id="servicerRemarks">
                                                                                    <span class="col-md-4 text-right">
                                                                                        @Html.Label("Servicer Comments")
                                                                                    </span>
                                                                                    <span class="col-md-4">
                                                                                        @Html.TextAreaFor(m => m.ServicerRemarks, new { @style = "height:70px;width:300px;", maxlength = "500", id = "ServicerRemarkstext" })
                                                                                    </span>
                                                                                </div>
                                                                                <hr id="lineId" />
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <span class="col-md-12 text-center">
                                                                                            @Html.Label("Evidential Information:")
                                                                                        </span>
                                                                                    </div>
                                                                                    <hr id="lineId" />
                                                                                    <div class="row">
                                                                                        <span class="col-md-4 text-right" style="color:red;">
                                                                                            @Html.Label("Please click here for R4R Upload files :")
                                                                                        </span>
                                                                                        <input type="button" class="btn btn-primary" value="Upload R4R Files " style="margin:-1px;left:50px" onclick="createModal()" />
                                                                                    </div>
                                                                                    @*karri*@
                                                                                    @*<button type="button" value="Upload R4R Files Here" class="btn btn-default" style="text-decoration: underline;Color:blue ;margin:40%" id="popFilesUploader" onclick="createModal()" />*@
                                                                                    @*<a onclick="createModal()" style="text-decoration: underline;Color:blue ;margin:40%" id="popFilesUploader" >Upload R4R Files Here</a>*@






                                                                                    <div class="row" style="margin-top: 15px;">
                                                                                        <span class="col-md-4 text-right">

                                                                                            @Html.Label("Please describe", new { id = "Describe" })
                                                                                        </span>
                                                                                        <span class="col-md-4">
                                                                                            @Html.TextAreaFor(m => m.AttachmentsDescription, new { @style = "height:70px;width:300px;", maxlength = "256" })
                                                                                        </span>
                                                                                    </div>
                                                                                </div>
                                                                                <hr />
                                                                                @*User Story 1901 - Removed old certification language*@
                                                                                @*<div class="container-fluid">
                                                                                        <div class="row">
                                                                                            <span class="col-md-4 text-right">
                                                                                                <label class="required">I certify that all photos and invoices will be made available for HUD review when requested:</label>
                                                                                            </span>
                                                                                            <span>
                                                                                                @Html.CheckBoxFor(m => m.IsAgreementAccepted, new {  @class = "rbFakeClass", @style = "width:80px;margin-left:30px;" })
                                                                                            </span>

                                                                                            <span>
                                                                                                @Html.Label("(You must agree to this question prior to HUD processing your request)")
                                                                                                @Html.ValidationMessageFor(m => m.IsAgreementAccepted)
                                                                                            </span>
                                                                                        </div>

                                                                                    </div>*@
                                                                                @*User Story 1901 - Added new disclaimer message with check box*@
                                                                                <div class="container-fluid">
                                                                                    <div class="row">
                                                                                        <table>
                                                                                            <tr>

                                                                                                @Html.ValidationMessageFor(m => m.IsAgreementAccepted)

                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:7px;" })
                                                                                                </td>
                                                                                                <td>

                                                                                                    <label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>

                                                                                                </td>
                                                                                            </tr>

                                                                                        </table>

                                                                                    </div>

                                                                                </div>
                                                                                <hr />
                                                                                <div class="container-fluid">
                                                                                    <div id="dvSubmit" class="row">
                                                                                        <span class="col-md-12 text-center">
                                                                                            <input type="submit" value="Submit" id="btnSubmit" name="submitButton" />
                                                                                        </span>
                                                                                    </div>
                                                                                    <div class="row" style="padding-top: 20px;"></div>
                                                                                </div>
        }
    </section>
    @Html.Hidden("aaaa")

</div>

<script>


</script>
<script>
    var autocompleteTextBox = $('#ddlFHANumbers');
    var possibleValues = @Html.Raw(Json.Encode(Model.AvailableFHANumbersList));
    var fhaNumberLoaded = "";

    var r4r = (function() {
        return{
            InitView: function(){
                $('input:radio[name="IsLenderDelegate"]').change(function () {

                    if ($(this).val() == 'True') {
                        document.getElementById("ApprovedAmount").style.display = 'block';
                    }
                    else {
                        document.getElementById("ApprovedAmount").style.display = 'none';
                        debugger;
                        $('#txtApprovedAmount').val('');
                    }
                });
            },
        }
    }());
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>
<script>
    $(document).ready(function () {
        //debugger;
        var CheckTransAccessStatus = $('#TransAccessStatus').val();
        //Temporarily commented the R4R transaccess user story -- Rajani
        //if (CheckTransAccessStatus.toLowerCase() == "true") {
        //    $('#disabled').addClass("disabled");
        //    alert('The file upload functionality is not available at this time. Please try it later.');
        // }
        // User Story 1901 - Removed button submit and set txtAgreementAccepted value
        $('#IsAgreementAccepted').change(function () {
            if(this.checked) {
                //if ($('#btnSubmit').click())
                //{
                //    $(this).prop('checked', false);
                //    return false;
                //}
                $("#txtAgreementAccepted").val(true);

            }
            else
            {
                $("#txtAgreementAccepted").val(false);
            }

        });

        r4r.InitView();
        //on first load the lender delegate radio should be set to false by default
        var $isLenderDelegate = $('input:radio[name=IsLenderDelegate]');
        if($isLenderDelegate[0].checked === true){
            document.getElementById("ApprovedAmount").style.display = 'block';
        }
        else
        {
            $isLenderDelegate[1].checked = true;
            document.getElementById("ApprovedAmount").style.display = 'none';
            debugger;
            $('#txtApprovedAmount').val('');
        }

        // override autocompleteTextBox.on function
        autocompleteTextBox.on('autocompleteselect', function(event, ui) {
            searchTextTyped = ui.item.value;
            autocompleteMatch(searchTextTyped, possibleValues);

            updatePropertyInfo(searchTextTyped);
        });

        autocompleteTextBox.bind('blur', function() {
            updatePropertyInfo($(this).val());
        });

        function updatePropertyInfo(selectedFHANumber) {
            if ($.inArray(selectedFHANumber, possibleValues) != -1) {
                if (fhaNumberLoaded != selectedFHANumber) {
                    $.ajax({
                        url: '@Url.Action("GetPropertyInfo", "ReserveForReplacement")',
                        data: { selectedFhaNumber: selectedFHANumber },
                        dataType: 'json',
                        type: 'GET',
                        success: function(data) {
                            if (selectedFHANumber == '-1' || selectedFHANumber == '') {
                                $('#txtPropertyName').val("");
                                $('#txtPropertyId').val(" ");
                                $('#txtPropertyId1').val("");
                                $('#txtStreetAddress').val("");
                                $('#txtState').val("");
                                $('#txtCity').val("");
                                $('#txtZipCode').val("");
                                $('#txtReacScore').val("");
                                $('#txtTroubledCode').val("");
                                $('#txtActiveDecCaseInd').val("");
                            } else {
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#txtPropertyId1').val(data.PropertyId);
                                $('#txtPropertyId').val(data.PropertyId);
                                $('#txtStreetAddress').val(data.StreetAddress);
                                $('#txtState').val(data.State);
                                $('#txtCity').val(data.City);
                                $('#txtZipCode').val(data.Zipcode);
                                $('#txtReacScore').val(data.ReacScore);
                                $('#txtTroubledCode').val(data.TroubledCode);
                                $('#txtPropertyId').val(data.PropertyId);
                                $('#txtActiveDecCaseInd').val(data.ActiveDecCaseInd);
                            }
                            $('#txtFha').val(selectedFHANumber);
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                        }
                    });
                }
            } else {
                $('#txtPropertyName').val("");
                $('#txtPropertyId').val(" ");
                $('#txtPropertyId1').val(" ");
                $('#txtStreetAddress').val("");
                $('#txtState').val("");
                $('#txtCity').val("");
                $('#txtZipCode').val("");
                $('#txtReacScore').val("");
                $('#txtTroubledCode').val("");
                $('#txtActiveDecCaseInd').val("");
                $('#txtFha').val("");
            }

            fhaNumberLoaded = selectedFHANumber;
        }

        // jQuery plugin to prevent double submission of forms
        jQuery.fn.preventDoubleSubmission = function() {
            $(this).on('submit',function(e){
                var $form = $(this);

                if ($form.data('submitted') === true) {
                    // Previously submitted - don't submit again
                    e.preventDefault();
                } else {
                    // Mark it so that the next submit can be ignored
                    $form.data('submitted', true);
                }
            });

            // Keep chainability
            return this;
        };
        $('#r4rform').preventDoubleSubmission();

        $("#btnSubmit").click(function () {
            $('#txtFha').val(autocompleteTextBox.val());
            var isLenderDelegate = $('input:radio[name=IsLenderDelegate]')[0].checked;
            if ($('#txtFha').val() == '' && $('#txtAgreementAccepted').val() != 'true') {
                alert("Please select an FHA Number");
                autocompleteTextBox.focus();
                return false;
            } else if ($.inArray(autocompleteTextBox.val(), possibleValues) == -1){
                alert("Please select a valid FHA Number");
                autocompleteTextBox.focus();
                return false;

            } else if(isLenderDelegate == true && ($('#txtApprovedAmount').val() == '')){
                alert("Total Approved Amount is required");
                $('#txtApprovedAmount').focus();
                return false;
            }
            else {
                $('input').each(function (i) {
                    var self = $(this);
                    try {
                        var v = self.autoNumeric('get');
                        self.autoNumeric('destroy');
                        self.val(v);
                    } catch (err) {
                        console.log("Not an autonumeric field: " + self.attr("name"));
                    }
                });
            }
        });
    });
</script>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">

        <div class="modal-content" id="modelContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">R4R Files Uploading Page</h4>
            </div>
            <div class="modal-body" id="modalbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Proceed</button>
            </div>
        </div>
    </div>
</div>

<script>
    function createModal() {
        if($('#txtFha').val() == '')
        {
            alert("Select FHA Number");

            return false;
        }
        ////alert(ticketid);
        //$('#modelContent').load('/ReserveForReplacement/PopUpR4RfilesUploader');
        $('#modalbody').load('/ReserveForReplacement/PopUpR4RfilesUploader?fhanumber=' + $('#txtFha').val());

        $('#myModal').modal('show');

    }
</script>

