﻿@using HUDHealthcarePortal.BusinessService
@using System.Web.Routing
@model HUDHealthcarePortal.Model.AssetManagement.ReserveForReplacementFormModel

@{
    ViewBag.Title = "";
}
<script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
<link href="../../Content/formUpload.css" rel="stylesheet">
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
        de;
    }
</style>
<script type="text/javascript">
    $(document).ready(
        function () {
            $('#txtReserveAccountBalance').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtReserveAccountBalanceConfirm').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtPurchaseAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtRequestedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
            $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });

            $('#IsAgreementAccepted').change(function () {
                if (this.checked) {
                    if ($('#btnSubmit').click()) {
                        $(this).prop('checked', false);
                        return false;
                    }
                }


            });

            if ('@Model.IsCommentEntered' == 'True') {
                document.getElementById("hudRemarks").style.display = 'block';
            } else {
                document.getElementById("hudRemarks").style.display = 'none';
            }

            if ('@Model.IsDisplayAcceptPopupForAe' == 'True' && $('#txtAgreementAccepted').val() != 'true') {
                $("#txtPopup").val(true);
                if ($('#txtAgreementAccepted').val() != 'true')
                    $('#dialogCommon').dialog('open');

            }

            if ('@Model.IsAgreementAccepted' == 'True' && '@Model.IsDisplayAcceptPopupForAe' == 'True') {
                $('#dialogCommon').dialog('open');
            }
            $("#dialogCommon").dialog({
                title: '@TempData["Title"]',
                autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
                autoOpen: false,
                resizable: '@TempData["bResizable"]' == "True" ? true : false,
                height: '@TempData["winHeight"]',
                width: '@TempData["winWidth"]',
                show: { effect: 'fade' },
                modal: true,
                draggable: '@TempData["bDraggable"]' == "True" ? true : false,
                closeOnEscape: false,
                close: function (event, ui) {
                    $(this).dialog("close");
                },
                open: function (event, ui) {
                    $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                    if ('@TempData["bShowCloseBtn"]' == "False")
                        $(".ui-dialog-titlebar-close").hide();
                },
            });

            $('.datepicker').datepicker();
            $('.datePicker').change(function () {
                var date = $(this).val();
                var arrDate = date.split("/");
                var today = new Date();
                var userSelectedDate = new Date(arrDate[2], arrDate[0] - 1, arrDate[1]);

                if (userSelectedDate > today) {
                    alert('Date must not be in the future.');
                    $(this).val('');
                }
            });

            //Unhide Servicer/Hud Remarks by default

            document.getElementById("hudRemarks").style.display = 'block';
            document.getElementById("lineId").style.display = 'block';
            document.getElementById("txtRemarks").style.display = 'none';

            $("#btnEditComments").click(function() {
                document.getElementById("txtRemarks").style.display = 'block';
            });

            // to auto populate the total approved amount
            $("#autoPopulate").click(function () {
                var RAB = $("#txtRequestedAmount").val().replace(/\,/g, '')
                $("#totalApprovedAmount").val(RAB);

            });

            $("#txtReEnterTotalRequestedAmount").focusout(function () {
                //debugger;
                if ($("#txtReEnterTotalRequestedAmount").val() !== '') {

                    var HR = $("#txtHudRemarks").val();
                    var t = HR.lastIndexOf(" . Please");
                    var t1 = HR.lastIndexOf("amount of");
                    var str11 = HR.substring(0, t1)
                    var str2 = HR.substring(t + 1, HR.length);

                    var Concstring = str11 + "amount of" + " $" + $("#txtReEnterTotalRequestedAmount").val() + " " + str2;
                    $("#txtHudRemarks").val(Concstring);
                }
                });

            //************
            $("#totalApprovedAmount").focusout(function () {
                //debugger;
                if ($("#txtReEnterTotalRequestedAmount").val() != "") {
                    var a = $("#txtReEnterTotalRequestedAmount").val();
                    var t = $("#totalApprovedAmount").val();
                    tappamt = t.replace(/\,/g, '');
                    appamt = a.replace(/\,/g, '');
                    if (appamt == tappamt) {

                    }
                    else {
                        alert("Please verify Re-Enter Total Approved Amount Must be equal to Total Approved Amount");
                        //$("#totalApprovedAmount").val("");
                    }
                }
            });

            $("#txtReEnterTotalRequestedAmount").focusout(function () {
                //debugger;
                var a = $("#txtReEnterTotalRequestedAmount").val();
                var t = $("#totalApprovedAmount").val();
                tappamt = t.replace(/\,/g, '');
                appamt = a.replace(/\,/g, '');
                if (appamt == tappamt) {

                }
                else
                {
                    alert("Please verify Re-Enter Total Approved Amount Must be equal to Total Approved Amount");
                    $("#txtReEnterTotalRequestedAmount").val("");
                }
            });

            $("#txtApprovedAmount").blur(function () {
                var v = $("#txtApprovedAmount").autoNumeric('get');
                $("#txtApprovedAmount").autoNumeric('destroy');
                $("#txtApprovedAmount").val(v);
                //var approvedAmt = v;
                var approvedAmt = $("#txtApprovedAmount").val();
                if (approvedAmt == '') {
                    approvedAmt = 0.1;
                }
                $.ajax({
                    url: '@Url.Action("AddApprovedAmountToRemarks","ReserveForReplacement")',
                    data: { approvedAmount: approvedAmt},
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        $("#txtHudRemarks").val(data);
                    }
                });
                $('#txtApprovedAmount').autoNumeric('init', { vMin: 0, mDec: 2 });
            });

            $("#addnRemarks").blur(function () {
                if ($("#addnRemarks").val() != '') {
                    alert("Please verify that the comments are correct before approving");
                }
            });

            $("#ddlFHANumbers").change(function() {
                var selectedFha = $("#ddlFHANumbers").val();
                $.ajax({
                    url: '@Url.Action("GetPropertyInfo", "ReserveForReplacement")',
                    data: { selectedFhaNumber: selectedFha },
                    dataType: 'json',
                    type: 'GET',
                    success: function (data) {
                        {
                            if (selectedFha == '-1' || selectedFha == '') {
                                $('#txtPropertyName').val("");
                                $('#txtStreetAddress').val("");
                                $('#txtState').val("");
                                $('#txtCity').val("");
                                $('#txtZipCode').val("");
                                $('#txtReacScore').val("");
                                $('#txtTroubledCode').val("");
                                $('#txtActiveDecCaseInd').val("");
                            } else {
                                $('#txtPropertyName').val(data.PropertyName);
                                $('#txtStreetAddress').val(data.StreetAddress);
                                $('#txtState').val(data.State);
                                $('#txtCity').val(data.City);
                                $('#txtZipCode').val(data.Zipcode);
                                $('#txtReacScore').val(data.ReacScore);
                                $('#txtTroubledCode').val(data.TroubledCode);
                                $('#txtPropertyId').val(data.PropertyId);
                                $('#txtActiveDecCaseInd').val(data.ActiveDecCaseInd);
                            }
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Status: " + textStatus);
                        alert("Error: " + errorThrown);
                    }
                });
                return false;
            });
            $("#btnSubmit").click(function() {

                $('input').each(function (i) {
                    var self = $(this);
                    try {
                        var v = self.autoNumeric('get');
                        self.autoNumeric('destroy');
                        self.val(v);
                    } catch (err) {
                        console.log("Not an autonumeric field: " + self.attr("name"));
                    }
                });
                var a = $("#txtReEnterTotalRequestedAmount").val();
                var t = $("#totalApprovedAmount").val();
                if (a != "" || t != "") {
                    tappamt = t.replace(/\,/g, '');
                    appamt = a.replace(/\,/g, '');
                    if (appamt == tappamt) {
                    }
                    else {
                        alert("Please verify Re-Enter Total Approved Amount Must be equal to Total Approved Amount");
                        $("#txtReEnterTotalRequestedAmount").val("");
                        return false;
                    }
                }
            });
            $("#btnDeny").click(function () {
                //$('#myModal').modal('show');
                $('#myModal').modal({
                    backdrop: 'static',
                    keyboard: false
                })
            });
            $("#denayR4R").click(function () {
                var comment = $("#comment").val();
                var actualComment =comment.replace(/([~!#$%^&*()_+=`{}\[\]\|\\:;'<>,.\/? ])+/g, ' ').replace(/^(-)+|(-)+$/g,' ');
                if (actualComment != '') {
                    $("#denayR4R").prop("disabled", true);
                    $("#btnCancel").prop("disabled", true);
                    var taskId = $('#TaskId').val();
                   // post
                    var url = '@Url.Action("R4RDeny", "ReserveForReplacement")';
                            $.ajax({
                                url: url,
                                type: 'POST',
                                data: { taskId: taskId, denyReason: actualComment },
                                success: function (data) {
                                    if (data == 'Success') {
                                        $('#myModal').modal('hide');
                                        $('#messageModal').modal({
                                            backdrop: 'static',
                                            keyboard: false
                                        });
                                    }
                                    else {
                                        //debugger;
                                        alert("Error ! Please Try again + data fail");
                                         //$("#btnCancel").prop("disabled", false);
                                    }
                                },
                                error: function (data) {
                                    alert("Error ! Please Try again");
                                },

                            });
                }
                else {
                    $("#commentError").show();

                }
            });

        });
</script>
<div class="modal fade success-popup" id="messageModal" tabindex="-1" aria-hidden="true" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content" style="width: 510px;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title" id="myModalLabel">Success!</h4>
            </div>
            <div class="modal-body ">
                <div class="alert alert-success" style="margin-top:-10px;">
                    <strong>Success!</strong> Reserve for Replacement request successfully Denied!
                </div>
                <div class="alert alert-info" style="margin-top:-10px;">
                    <strong><span class="glyphicon glyphicon-envelope"></span></strong> Email has been sent to Lender and AE!
                </div>
                <a href="~/Task/MyTasks" class="rd_more btn btn-default">Close</a>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 530px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Deny Reserve For Replacement Request</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="comment">Deny Reason:</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                    <label style="display:none;color:red;" id="commentError">Plese Enter Comment!</label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" id="denayR4R">Deny</button>
                <button class="btn btn-default" data-dismiss="modal" id="btnCancel">Cancel</button>
            </div>
        </div>
    </div>
</div>
<section id="r4rform" style="width:1200px;height:1150px;">
    <h4 style="text-align:center;"><b>Reserve for Replacement Submission Form</b></h4>
    @if (Session["Confirmation"] != null)
    {
        <h2 class="HCP_Sub_Header_Red" id="uploadError" style="text-align:center;font-weight:bold;color:#e80c4d;">
            @Html.Raw(Session["Confirmation"].ToString())
        </h2>
        Session["Confirmation"] = null;
    }
    <div id="dialogCommon"></div>
    @using (Html.BeginForm("FormFinalApproval", "ReserveForReplacement", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "r4rform", onsubmit = "RemoveCommasFromNumericBoxes()" }))
    {
        <hr />
        @Html.HiddenFor(m => m.ReacScore, new { id = "txtReacScore" })
        @Html.HiddenFor(m => m.TroubledCode, new { id = "txtTroubledCode" })
        @Html.HiddenFor(m => m.PropertyId, new { id = "txtPropertyId" })
        @Html.HiddenFor(m => m.ActiveDecCaseInd, new { id = "txtActiveDecCaseInd" })
        @Html.HiddenFor(m => m.IsDisplayAcceptPopupForAe, new { id = "txtPopup" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "txtAgreementAccepted" })
        @Html.HiddenFor(m => m.R4RId)
        @Html.HiddenFor(m => m.TaskId)
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("Instructions: Indicate the Fund for the request and provide the information for each section as requested")
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Borrower's Request")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.BorrowersRequestDate, "{0:MM/dd/yyyy}", new { @tabindex = -1, style = "width:300px;background: #eee", @readonly = true })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Date of Servicer's Submission (Today's Date)")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ServicerSubmissionDate, "{0:MM/dd/yyyy}", new { @tabindex = -1, @style = "background: #eee", @readonly = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("FHA Project Number")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FHANumber, new { @tabindex = -1, @style = "background: #eee", @readonly = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Property Name")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name", @style = "background: #eee", @readonly = true, @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.PropertyName)
                </span>
            </div>
        </div>
        <hr />

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-12 text-center">
                    @Html.Label("Property Address:")
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Street Address")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.AddressLine1, new { id = "txtStreetAddress", title = "Street Address", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("City")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.City, new { id = "txtCity", title = "City", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("State")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.StateCode, new { id = "txtState", title = "State", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Zip code")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PropertyAddress.ZIP, new { id = "txtZipCode", title = "Zip code", @readonly = true, @style = "background: #eee" })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is Lender Delegate?")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, true, new { id = "lenderDelegateYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                </span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class="col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsLenderDelegate, false, new { id = "lenderDelegateNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is this request a Suspension?")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsSuspension, true, new { id = "isSuspensionYes", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                </span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class="col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsSuspension, false, new { id = "isSuspensionNo", @class = "rbFakeClass updateableFields", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>



        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Total Approved Amount")
                    @Html.Label("*", new { style = "color: red;" })

                </span>
                <span class="col-md-8">
                    @Html.TextBoxFor(m => m.TotalApprovedAmount, new { Value = "", id = "totalApprovedAmount", @required = "required" })
                    <input type="button" value="auto populate" id="autoPopulate" name="autoPopulate" /><br />
                    @Html.ValidationMessageFor(m => m.TotalApprovedAmount)



                </span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Re-Enter Total Approved Amount")
                    @Html.Label("*", new { style = "color: red;" })

                </span>
                <span class="col-md-4">
                    <input id="txtReEnterTotalRequestedAmount" name="txtReEnterTotalRequestedAmount" type="text" required="required" />
                    @*@Html.TextBox( "txtReEnterTotalRequestedAmount", @required = "required" )<br />
                        @Html.ValidationMessageFor(m => m.ReEnterTotalRequestedAmount)*@
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is this request for an Advance?")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsRequestForAdvance, true, new { id = "requestForAdvanceYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
                <span class="col-md-5 text-left" style="margin-left: -100px;">
                    @Html.Label("(Please submit a signed 9250, 9250a, Executed contract, invoice or purchase order to support the amount being requested in advance)", new { @style = "margin-left:-6px;" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4"></span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsRequestForAdvance, false, new { id = "requestForAdvanceNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
                <span class="col-md-5 text-left" style="margin-left: -100px;">
                    @Html.Label("(Please submit a signed 9250 and 9250a)", new { @style = "margin-left:-6px;" })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("How many units does the facility have? ")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.NumberOfUnits, new { id = "unitsCount", @style = "background: #eee", @readonly = true, @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.NumberOfUnits)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Reserve Account Balance")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ReserveAccountBalance, new { id = "txtReserveAccountBalance", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.ReserveAccountBalance)
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("as of")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ReserveAccountBalanceAsOfDate, "{0:MM/dd/yyyy}", new { style = "width:300px; background: #eee", @readonly = true, tabindex = -1 })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Please Verify Reserve Account Balance")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ConfirmReserveAccountBalance, new { id = "txtReserveAccountBalanceConfirm", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.ConfirmReserveAccountBalance)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Total Purchase Amount")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.TotalPurchaseAmount, new { id = "txtPurchaseAmount", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.TotalPurchaseAmount)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Total Requested Amount")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.TotalRequestedAmount, new { id = "txtRequestedAmount", @readonly = true, @style = "background: #eee", @tabindex = -1 })
                    @Html.ValidationMessageFor(m => m.TotalRequestedAmount)
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Is any single item more than $50,000?")
                    @Html.Label("*", new { style = "color: red;" })
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, true, new { id = "singleItemYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
                <span class="col-md-5 text-left" style="margin-left: -100px;">
                    @* commented our as per userstory 2159 @Html.Label("(Please submit three bids for each item exceeding $50,000)")*@
                </span>
            </div>
            <div class="row">
                <span class="col-md-4">
                </span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class="col-md-1   text-left">
                    @Html.RadioButtonFor(m => m.IsSingleItemExceedsFiftyThousand, false, new { id = "singleItemNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    <span class="row">
                        @Html.Label("Were the Non-Critical Repair items purchased more than 365 days ago?")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, true, new { id = "purchaseYearYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
                <span class="col-md-5 text-left" style="margin-left: -100px;">
                    @Html.Label("(Please submit all invoices, receipts, contracts, pictures, etc)")
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsPurchaseYearOlderThanR4RRequest, false, new { id = "purchaseYearNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    <span class="row">
                        <label>
                            Does this R4R request propose remodeling, adding to, subtracting from, reconstructing, or demolishing a portion of the mortgaged project (as discussed further in
                            Asset Management Section 3.4.4 of Handbook 4232, Healthcare Mortgage Insurance)? <span style="color: red;">*</span>
                        </label>
                    </span>
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsRemodelingProposed, true, new { id = "remodelingYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsRemodelingProposed, false, new { id = "remodelingNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right">
                    <span class="row">
                        @Html.Label("Is release being contemplated to cover mortgage payments on the property?")
                        @Html.Label("*", new { style = "color: red;" })
                    </span>
                </span>
                <span class=" col-md-1 text-left">
                    <label>Yes</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, true, new { id = "mortgageCoveredYes", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right"></span>
                <span class="col-md-1   text-left">
                    <label>No</label>
                </span>
                <span class=" col-md-1 text-left">
                    @Html.RadioButtonFor(m => m.IsMortgagePaymentsCovered, false, new { id = "mortgageCoveredNo", @class = "rbFakeClass", @style = "width:80px;margin-left:-70px;", @disabled = true })
                </span>
            </div>
        </div>
        <hr />
        <div class="container-fluid" id="hudRemarks">
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("Servicer Remarks")
                </span>
                <span class="col-md-4">
                    @Html.TextAreaFor(m => m.ServicerRemarks, new { id = "txtServicerRemarks", @style = "height:107px;width:448px;background: #eee;", @readonly = true })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4 text-right">
                    @Html.Label("HUD Remarks")
                </span>
                <span class="col-md-4">
                    @Html.TextAreaFor(m => m.HudRemarks, new { id = "txtHudRemarks", @style = "height:107px;width:448px;background: #eee;", @readonly = true })
                </span>
            </div>
            <div class="row" id="txtRemarks">
                <span class="col-md-4 text-right">
                    @Html.Label("Additional Remarks")
                </span>
                <span class="col-md-4">
                    @Html.TextAreaFor(m => m.AddnRemarks, new { id = "addnRemarks", @style = "height:73px;width:448px;", maxlength = "500" })
                </span>
            </div>
            <div class="row">
                <span class="col-md-4"></span>
                <span class="col-md-4 text-left">
                    <input type="button" value="Add Additional Comments" id="btnEditComments" name="editCommentBtn" />
                </span>
            </div>
        </div>
        <hr id="lineId" />

        <div>
            @if (!string.IsNullOrEmpty(Model.FileName9250) || !string.IsNullOrEmpty(Model.FileName9250A)
                     || !string.IsNullOrEmpty(Model.FileNameInvoices) || !string.IsNullOrEmpty(Model.FileNameReceipts)
                     || !string.IsNullOrEmpty(Model.FileNameContracts) || !string.IsNullOrEmpty(Model.FileNamePictures)
                     || !string.IsNullOrEmpty(Model.FileNameOthers))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-12 text-center">
                            @Html.Label("Evidential Information:")
                        </span>
                    </div>
                </div>
                <hr />
            }
            @if (!string.IsNullOrEmpty(Model.FileName9250))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("9250  File : ")
                            @Html.Label("*", new { style = "color: red;" })
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileName9250, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.File9250 })
                        </span>
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.FileName9250A))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("9250A  File : ")
                            @Html.Label("*", new { style = "color: red;" })
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileName9250A, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.File9250A })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileNameInvoices))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Invoice  File : ")
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileNameInvoices, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Invoice })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileNameReceipts))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Receipt  File : ")
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileNameReceipts, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Receipt })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileNameContracts))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Contract  File : ")
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileNameContracts, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Contract })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileNamePictures))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Picture  File : ")
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileNamePictures, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Picture })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileNameOthers))
            {
                <div class="container-fluid">
                    <div class="row">
                        <span class="col-md-4 text-right">
                            @Html.Label("Other  File : ")
                        </span>
                        <span class="col-md-4" style="text-decoration:underline">
                            @Html.ActionLink(Model.FileNameOthers, "DownloadTaskFile", new { taskInstanceId = Model.TaskGuid, taskFileType = FileType.Other })
                        </span>
                    </div>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.AttachmentsDescription))
            {
                <div class="row" style="margin-top: 15px;">
                    <span class="col-md-4 text-right">
                        @Html.Label("Please describe")
                    </span>
                    <span class="col-md-4">
                        @Html.TextAreaFor(m => m.AttachmentsDescription, new { @style = "height:70px;width:300px;background: #eee", maxlength = "256", @disabled = true })
                    </span>
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.FileName9250) || !string.IsNullOrEmpty(Model.FileName9250A)
                 || !string.IsNullOrEmpty(Model.FileNameInvoices) || !string.IsNullOrEmpty(Model.FileNameReceipts)
                 || !string.IsNullOrEmpty(Model.FileNameContracts) || !string.IsNullOrEmpty(Model.FileNamePictures)
                 || !string.IsNullOrEmpty(Model.FileNameOthers))
            {
                <hr />
            }
        </div>
        //User Story 1901 -  Removed old certification language AE View
        @*<div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        <label class="required">I certify that all photos and invoices will be made available for HUD review when requested:</label>
                    </span>
                    <span>
                        @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted", @class = "rbFakeClass", @disabled = "disabled", @style = "width:80px;margin-left:30px;" })
                    </span>

                    <span>
                        @Html.Label("(You must agree to this question prior to HUD processing your request)")
                        @Html.ValidationMessageFor(m => m.IsAgreementAccepted)
                    </span>
                </div>

            </div>*@
        // User Story 1901 - Added new disclaimer message with check box AE View
        <hr />
            <div class="container-fluid">
                <div class="row">
                    <table>

                        <tr>
                            <td>
                                @Html.CheckBoxFor(m => m.IsAgreementAccepted, new { @class = "rbFakeClass", @style = "width:80px;margin-left:10px", @disabled = true })
                            </td>
                            <td>
                                <label class="required">@Html.DisplayFor(m => Model.DisclaimerText)</label>
                            </td>
                        </tr>

                    </table>

                </div>

            </div>
            <hr />
            <div class="container-fluid">
                <div id="dvSubmit" class="row" style="margin-top:15px;">
                    <span class="col-md-3 col-lg-offset-2 text-center">
                        <input type="submit" value="Approve" id="btnSubmit" name="submitButton" />
                    </span>
                    <input type="button" class="btn-danger" style="margin-top:-6px;" value="Deny" id="btnDeny" name="denyButton" />
                </div>
                <div class="row" style="padding-top:20px;"></div>
            </div>
    }
</section>