﻿@model ReviewerTaskAssigmentViewModel


@{
    ViewBag.Title = "";
}

<style type="text/css">
     .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }
</style>

<script src="~/Scripts/jquery.mask.js"></script>
<script type="text/javascript">

    $(document).ready(function () {

        $("#btnsubmit").click(function () {
         //   debugger;
            $('#hdnTitle').val('');
            $('#hdnTitle').val($('#drptitle option:selected').text())
        });
    });

    $(function () {
        var ddlLenders = $("#SelectedLenderId");
        var ddlServicers = $("#SelectedServicerId");
        var ddlWorkloadManagers = $("#SelectedWorkloadManagerId");
        var ddlAccountExecutives = $("#SelectedAccountExecutiveId");
        var firstNameBox = $("#FirstName");

        @if (Model.AllLenders.Count() > 0 || Model.AllServicers.Count() > 0)
        {
            @:$("#institutionsLbl").show();
                                    @:$("#institutionsDdl").show();
                            if (Model.AllLenders.Count() > 0)
            {
                @:ddlServicers.hide();
                                @:ddlLenders.show();
                            }
            else
            {
                @:ddlServicers.show();
                                @:ddlLenders.hide();
                            }
        }
        else
        {
            @:$("#institutionsLbl").hide();
                                    @:$("#institutionsDdl").hide();
                                }

        @if (Model.AllWorkloadManagers.Count > 0)
        {
            @:$("#workloadManagerDiv").show();
                            @:ddlWorkloadManagers.focus();
                        }
        else
        {
            @:$("#workloadManagerDiv").hide();
                        }

        @if (Model.AllAccountExecutives.Count > 0)
        {
            @:$("#accountExecutiveDiv").show();
                            @:ddlAccountExecutives.focus();
                        }
        else
        {
            @:$("#accountExecutiveDiv").hide();
                        }

        @if (Model.AllWorkloadManagers.Count <= 0 && Model.AllAccountExecutives.Count <= 0)
        {
            @:firstNameBox.focus();
                        }

        $("#SelectedRole").change(function () {
            var selectedItem = $(this).val();
            if (selectedItem != "Lender" && selectedItem != "Servicer") {
                $("#institutionsLbl").hide();
                $("#institutionsDdl").hide();
                return false;
            }
            $("#institutionsDdl").show();
            $("#institutionsLbl").show();
            var isLender = selectedItem == "Lender";
            var ddlInstitutions = isLender ? ddlLenders : ddlServicers;
            if (isLender) {
                ddlServicers.hide();
                ddlLenders.show();
            }
            else {
                ddlServicers.show();
                ddlLenders.hide();
            }
            var statesProgress = $("#pend-loading");
            statesProgress.show();
            $.ajax({
                cache: false,
                type: "GET",

                url: "@Url.Action("GetRoleInstitutions", "Account")",
                data: { "sRole": selectedItem },
                success: function (data) {
                    ddlInstitutions.html('');
                    $.each(data, function (id, option) {
                        ddlInstitutions.append($('<option></option>').val(option.id).html(option.name));
                    });
                    statesProgress.hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve states.');
                    statesProgress.hide();
                }
            });
            return false;
        });

        var mapUserDetailFunction = function (data) {
            $('#FirstName').val(data.FirstName);
            $('#MiddleName').val(data.MiddleName);
            $('#LastName').val(data.LastName);
            $('#Title').val(data.Title);
            $('#Organization').val(data.Organization);
            $('#PhoneNumber').val(data.PhoneNumber);
            $('#AddressLine1').val(data.AddressLine1);
            $('#City').val(data.City);
            $('#SelectedStateCd').val(data.SelectedStateCd);
            $('#ZipCode').val(data.ZipCode);
            $('#SelectedTimezone').val(data.SelectedTimezone);
            $('#EmailAddress').val(data.EmailAddress);
            $('#UserName').val(data.UserName);
            $('#AddressID').val(data.AddressID);
        };

        ddlWorkloadManagers.change(function () {
            var selectedItemValue = $(this).val();
            if (selectedItemValue == "-999") {
                return false;
            }
            else {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("GetWorkloadManagerDetail", "Account")",
                    data: { "id": selectedItemValue },
                    success: mapUserDetailFunction,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to populate Workload Manager detail.');
                    }
                });
            }
            return false;
        });

        ddlAccountExecutives.change(function () {
            var selectedItemValue = $(this).val();
            if (selectedItemValue == "-999") {
                return false;
            }
            else {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: "@Url.Action("GetAccountExecutiveDetail", "Account")",
                    data: { "id": selectedItemValue },
                    success: mapUserDetailFunction,
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('Failed to populate Account Executive detail.');
                    }
                });
            }
            return false;
        });

        $("#EmailAddress").change(function () {
            $("#UserName").val($("#EmailAddress").val());
        });

        $('#ConfirmEmailAddress').bind("cut copy paste", function (e) {
            e.preventDefault();
        });

        //Phone number validation
        $("#PhoneNumber").mask("(999) 999 - 9999");
        $("#PhoneNumber").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });


        //zipcode validation
        $('#ZipCode').mask("99999-9999");
        $("#ZipCode").on("blur", function () {
            var last = $(this).val().substr($(this).val().indexOf("-") + 1);

            if (last.length === 3) {
                var move = $(this).val().substr($(this).val().indexOf("-") - 1, 1);
                var lastfour = move + last;

                var first = $(this).val().substr(0, 9);

                $(this).val(first + '-' + lastfour);

            }
        });

        //allows only alphanumeric in textfield
        $('#FirstName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#MiddleName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#LastName').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#Title').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#Organization').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#AddressLine1').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
        $('#City').keypress(function (e) {
            var keyCode = e.keyCode == 0 ? e.charCode : e.keyCode;
            if ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || (keyCode >= 97 && keyCode <= 122) || (keyCode === 32))
            { return true; }
            return false;
        });
    });
</script>

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="registerUser" style="height:700px;width:1200px">
@if (Model.RoleName == "ProductionUser" || Model.RoleName == "Reviewer")
{  <h4 style="text-align:center;">Create a new account</h4>
}
else
{
      <h4 style="text-align:center;">Create a new account for Reviewer</h4>
}

    <br>
    <br>
    @using (Html.BeginForm("RegisterReviewer", "Reviewer", FormMethod.Post, new { style = "margin:auto;" }))
    {
        @Html.ValidationSummary();
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m=>m.Title ,new{@id="hdnTitle"});
        @*<div class="container-fluid">
                <div class="row">
                    <span class="col-md-2 text-right" id="institutionsLbl">
                        @Html.LabelFor(m => m.SelectedLenderId)
                    </span>
                    <span class="col-md-4" id="institutionsDdl">
                        @Html.DropDownListFor(m => m.SelectedLenderId, Model.AllLenders)
                        @Html.DropDownListFor(m => m.SelectedServicerId, Model.AllServicers)
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" id="workloadManagerDiv">
                    <span class="col-md-2 text-right">
                        @Html.LabelFor(m => m.SelectedWorkloadManagerId)
                    </span>
                    <span class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedWorkloadManagerId, Model.AllWorkloadManagers)
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row" id="accountExecutiveDiv">
                    <span class="col-md-2 text-right">
                        @Html.LabelFor(m => m.SelectedAccountExecutiveId)
                    </span>
                    <span class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedAccountExecutiveId, Model.AllAccountExecutives)
                    </span>
                </div>
            </div>*@
    <p><span style="color: Red;">@TempData["message"]</span></p>

        <span id="pend-loading" style="display: none;">Please wait..</span>
        <div class="container-fluid">
@if ( Model.RoleName == "Reviewer")
{
         <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Role)
                </span>
                <span class="col-md-4">

                    @Html.TextBoxFor(m => m.RoleName, new { @style = "background: #eee", @readonly = "true", Value = "Reviewer" })

                </span>
            </div>
}

            <div class="row">

                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.FirstName, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FirstName)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.MiddleName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.MiddleName)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.LastName, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.LastName)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Title, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.TitleId, Model.AllTitles, "Select Title",new{@id="drptitle"})
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.Organization, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.Organization)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.PhoneNumber)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.AddressLine1, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.AddressLine1)
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.City, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.City)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.AllStates, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedStateCd, Model.AllStates, "Select State")
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.ZipCode, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ZipCode)
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.Label("Time Zone", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.DropDownListFor(m => m.SelectedTimezone, Model.AllTimezones, "Select Timezone")
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.EmailAddress, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.EmailAddress, new { maxlength = 50 })
                </span>
            </div>
            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.UserName, new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.UserName, new { @tabindex = -1, @style = "background: #eee", @readonly = "true" })
                </span>
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.ConfirmEmailAddress)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.ConfirmEmailAddress)
                </span>
            </div>
@if (Model.RoleName == "Reviewer")
{
             @*<div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.TaskName)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.TaskName, new { @style = "background: #eee", @readonly = "true" })
                </span>
            </div>

            <div class="row">
                <span class="col-md-2 text-right">
                    @Html.LabelFor(m => m.FHANumber)
                </span>
                <span class="col-md-4">
                    @Html.TextBoxFor(m => m.FHANumber, new { @style = "background: #eee", @readonly = "true" })
                </span>
            </div>*@
}

            <div class="row" style="margin-top:15px;">
                <span class="col-md-2 text-right">
                    @Html.HiddenFor(model => model.id)
                    @Html.HiddenFor(model => model.fromTaskReAssignment)
                    @Html.HiddenFor(model => model.reAssignedTo)
                </span>
                @if ((Model.RoleName == "ProductionUser" || Model.RoleName == "Reviewer") && Model.TaskInstanceId!=Guid.Empty)
                {
                    <span class="col-md-4">
                    <input id="btnsubmit" type="submit" value="Register" title="Register" />
                        <input type="button" value="Cancel" title="Cancel Registration" onclick="window.location.href = '@Url.Action("../ProductionMyTask/GetTaskDetail", new { taskInstanceId = Model.TaskInstanceId })'">

                  </span>
                }
                else
                {
                    @*<span class="col-md-4">
                    <input type="submit" value="Register Reviewer" title="Register Account" />
                  <input type="button" value="Cancel" title="Cancel Registration" onclick="window.location.href = '/Task/GetTaskDetail?id=' + $('#id').val() + '&fromTaskReAssignment=' + $('#fromTaskReAssignment').val() + '&reAssignedTo=' + $('#reAssignedTo').val() " />
                    <input type="button" value="Go to My Tasks" title="My Tasks" onclick="window.location.href = '/Task/MyTasks'" />
                  </span>*@

                      <span class="col-md-4">
                    <input id="btnsubmit" type="submit" value="Register" title="Register" />
                        <input type="button" value="Cancel" title="Cancel Registration" onclick="window.location.href='/Account/RegisterUserStep1'">

                  </span>
                }
                @ViewBag.Message

           </div>
            <div class="row">
                <span class="col-md-4">
                    @Html.HiddenFor(model => model.AddressID)
                    @*@Html.HiddenFor(model => model.TaskName)*@
                    @Html.HiddenFor(model => model.ModifiedBy)
                    @Html.HiddenFor(model => model.TaskInstanceId)
                    @Html.HiddenFor(model => model.UserID)
                    @Html.HiddenFor(model => model.PropertyName)
                </span>
            </div>
        </div>
    }

    @if(@Model.fromTaskReAssignment)
    {
          <div class="row">
        <span class="col-md-offset-5 text-right">
            @Html.ActionLink("Return to My Task", "GetTaskDetail", "ProductionMyTask", new { taskInstanceId = Model.TaskInstanceId }, new { @style = "text-transform:capitalize;font-weight:bold;text-decoration: underline;color:#3D84C2" })
        </span>
    </div>
    }


</section>

