﻿@model OPAViewModel

@{
    ViewBag.Title = "";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<label id="lblsmg" style="font-size: small; font-style: italic; color: red; display: none">Please correct document name for the highlighted rows.</label>
 @*<label id="lblsmg0" style="font-size: large; font-style: italic; font-weight: 400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@


@*Naveen 235*@
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Delete Attachements</h4>

            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Are you Sure you want to Delete the selected Attachments?</strong>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="deleteAttachment2">Yes</button>
            </div>
        </div>
    </div>
</div>
<div>
    <button type="button" class="btn btn-danger" id="file_FWP" onclick="DeleteFile()"> Delete Attachments </button>
</div>

<div id="UploadGriDiv" style="width:1800px">
    <table id="hudfileUploadGrid"></table>
    <div id="fileUploadGridPager"></div>
    
</div>
<label id="lblsmg0" style="font-size: small; font-style: italic; color: red; display: none">Please correct document name for the highlighted rows.</label>
@*<label id="lblsmg1" style="font-size: large; font-style: italic; font-weight: 400">There will be a small note at the bottom of the File Upload Grid to notify the Lender that the highlighted rows in the grid are the ones that do not have document types associated with them.</label>*@
<script>

    //function handleDeleteFile(id) {
    //    //  debugger;
    //    var childFileId = id;
    //    $("#spinner").attr('class', 'overlay');
    //    $.ajax({
    //        type: "POST",
    //        url: "/OPAForm/Deletefile/?taskfileid=" + childFileId,

    //        contentType: false,
    //        processData: false,
    //        cache: false,
    //        success: function (result) {
    //          //debugger;
    //            if (result === "Success") {
    //                alert("File Deleted Successfully");
    //                //  jQuery('#hudfileUploadGrid').trigger('reloadGrid');
    //                location.reload();
    //              //  $("#tab2").addClass("tab-pane fade in active");
    //               // $("#tab2primaryhead").addClass("active");
    //               // window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val();
                 
    //            }
    //        },
    //        error: function (xhr, status, p3, p4) {
    //            //  debugger;
    //            var err = "Error " + " " + status + " " + p3 + " " + p4;
    //            if (xhr.responseText && xhr.responseText[0] == "{")
    //                err = JSON.parse(xhr.responseText).Message;
    //            console.log(err);
    //        }
    //    });
    //}

</script>
 
<script type="text/javascript">
    $(document).ready(function () {
      //  DocType();
      
    });
    </script>
        <script type="text/javascript">
            $(document).ready(function () {
                function reloadGrid() {
                    location.reload();
                    $("#hudfileUploadGrid").trigger("reloadGrid");
                }

                $("#hudfileUploadGrid").jqGrid({
                    colNames: ['folderNodeId', 'Folder View', 'level', 'parent', 'isLeaf', 'expanded', 'loaded', 'File Name', 'File Size(KB)', 'File Uploaded Date', 'FileID', 'Remove Attachment', 'Upload Files', 'DocTypeID', 'DocTypesList', /*'New File Name',*/'Status','Delete Attachments'],
                    colModel: [
                         { name: 'id', index: 'id', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'folderNodeName', index: 'folderNodeName', width: 220, editable: false, hidden: false, sortable: false, align: 'left' },
                         { name: 'level', index: 'level', width: 150, editable: false, hidden: true, sortable: false },

                         {
                             name: 'parent', index: 'parent', width: 130, editable: false, hidden: true, sortable: false,
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.parent == null) {
                                     return "null"
                                 }
                                 else {
                                     return cellvalue;
                                 }
                             }
                         },

                         { name: 'isLeaf', index: 'isLeaf', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'expanded', index: 'expanded', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'loaded', index: 'loaded', width: 150, editable: false, hidden: true, sortable: false },
                         {

                             name: 'fileName', index: 'fileName', type: 'link', width: 210, editable: false,
                             cellattr: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName != null) {

                                     return ' style="text-decoration: underline"';
                                 }
                             },
                             formatter: function (cellvalue, options, rowObject) {
                                 if (rowObject.fileName == null) {
                                     return " "
                                 }
                                 else {
                                     //karri
                                     return '<a  href="/OPAForm/DownloadTaskFile/?taskfileid=' + (rowObject.fileId) + '">' + rowObject.fileName + '</a>';
                                    // return '<a onclick="event.preventDefault(); getFile(' + (rowObject.fileId) + ');" href="#" >' + rowObject.fileName + '</a>';
                                 }
                             }
                         },

                         {
                           name: 'fileSize', index: 'fileSize', editable: false, width: 90,
                           formatter: function (cellvalue, options, rowObject) {
                               if (rowObject.fileName == null) {
                                   return " "
                               }
                               else {
                                   return cellvalue;
                               }
                           }
                         },
                         { name: 'uploadDate', index: 'uploadDate', editable: false, formatter: 'date', width: 100, formatoptions: { newformat: 'm/d/Y' } },
                         { name: 'fileId', index: 'fileId', editable: true, hidden: true },
                         {
                             Key: false, name: 'FileId', index: 'FileId', width: 150, sortable: false,hidden: true,
                           formatter: function (cellvalue, options, rowObject) {

                               if (rowObject.fileId == null) {
                                   return ""
                               }
                               else {
                                   //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                                   return "<img src='/Content/images/delete.jpg' id='" + rowObject.fileId + "' height='10' width='10' align='center' alt='my image' value=\'Delete\' class=\'deleteLinkClass\' />";
                               }
                           },
                           formatoptions: {
                               keys: true,
                               editformbutton: true
                           }

                         },

                         {
                          name: 'act', index: 'act', width: 90, sortable: false,

                          formatter: function (cellvalue, options, rowObject) {
                              //debugger;//D#663
                              //if (rowObject.level == 0 && rowObject.Status!=15) {
                              if (rowObject.level == 0 && (rowObject.Status!=15  || rowObject.Status==15) ) {

                                  return '   <input id=\'' + options.rowId + '_btnUploadFile\' class="btn btn-success" type=\'button\' title=\'Upload File(s)\' value=\'Upload\' onclick=\'Upload(' + options.rowId + '); return false;\'  />'
                              }
                              else {

                                  return ''
                              }

                          }
                         },
                         { name: 'DocTypeID', index: 'DocTypeID', width: 150, editable: false, hidden: true, sortable: false },
                         { name: 'DocTypesList', index: 'DocTypesList', width: 150, editable: false, hidden: true, sortable: false },
                         //{ name: 'DocTypeID', index: 'DocTypeID', type: 'link', width: 210, editable: false,
                         //   formatter: function (cellvalue, options, rowObject) {
                         //       if (rowObject.level == 0) {
                         //           return ''
                         //       }
                         //       else {
                         //           if (rowObject.DocTypeID == null && rowObject.DocTypesList != null) {

                         //               return rowObject.DocTypesList
                         //           }
                         //           else

                         //               return ''
                         //       }
                         //   }

                         //},
                         { name: 'Status', index: 'Status', width: 150, editable: false, hidden: true, sortable: false },

               //Naveen 235
               {
                   Key: false, name: 'multiDelete', index: 'multiDelete', width: 150, sortable: false,
                   formatter: function (cellvalue, options, rowObject) {

                       if (rowObject.fileId == null) {
                           return ""
                       }
                       else {
                           //return '   <input id="' + rowObject.fileId + '" type=\'button\' value=\'Delete\' class=\'deleteLinkClass\'    />';
                           return '<input type="checkbox" id="cbPassed-' + rowObject.fileId +
                               (rowObject.active === true ? '" checked="checked" />' : '" />');
                       }
                   }
               },
                    ],
                    url: "/ProductionApplication/GetWPUpload?taskInstanceId=" + $("#TaskInstanceId").val() + "&Status=" + $("#TaskStepId").val()+"&PageTypeId="+@Model.pageTypeId,
                    datatype: 'json',
                    mtype: 'POST',
                    pager: jQuery('#fileUploadGridPager'),
                    rowNum: 10,
                    loadonce: false,
                    rowList: [10, 20, 30, 40],
                    shrinkToFit: false,
                    height: '100%',
                    viewrecords: true,
                    multiselect: false,
                    gridComplete: function () {
                        var rows = $("#hudfileUploadGrid").getDataIDs();
                       // debugger;
                        for (var i = 0; i < rows.length; i++) {
                            var doclist = $("#hudfileUploadGrid").getCell(rows[i], "DocTypesList");
                            var docTypeId = $("#hudfileUploadGrid").getCell(rows[i], "DocTypeID");

                            if ((doclist != null && doclist != "") ) {
                               // debugger;
                                $("#hudfileUploadGrid").jqGrid('setRowData', rows[i], false, { background: '#7db0d7' });

                                //$("#lblsmg").show();
                                //$("#lblsmg0").show();
                            }
                        }
                    },

                    //Naveen 235 commented
                    //beforeSelectRow: function (rowid, e) {

                    //    //    debugger;
                    //    var $self = $(this),
                    //        p = $self.jqGrid("getGridParam"),
                    //        $td = $(e.target).closest("tr.jqgrow>td"),
                    //        cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                    //        cmName = cm != null ? cm.name : null;

                    //    if (cmName === "FileId") {
                    //        handleDeleteFile(e.target.id);
                    //        //var deleteElements = document.getElementsByClassName('deleteLinkClass');
                    //        //for (var i = 0; i < deleteElements.length; i++) {
                    //        //    //alert(deleteElements[i].id);
                    //        //    deleteElements[i].addEventListener('click',
                    //        //        handleDeleteFile, false);

                    //        //}

                    //    }

                    //    return false;
                    //},


                    //Naveen 235
                    beforeSelectRow: function (rowid, e) {

                        //    debugger;
                        var $self = $(this),
                            p = $self.jqGrid("getGridParam"),
                            $td = $(e.target).closest("tr.jqgrow>td"),
                            cm = $td.length > 0 ? p.colModel[$td[0].cellIndex] : null,
                            cmName = cm != null ? cm.name : null;
                        localData = $self.jqGrid("getLocalRow", rowid);
                        if (cmName === "FileId") {
                            handleDeleteFile(e.target.id);

                        }
                        if (cmName === "multiDelete") {
                            localData.active = $(e.target).is(":checked");

                        }

                        return false;
                    },
                    gridview: true,
                    autoencode: true,
                    treeGrid: true,
                    autoRowHeight: false,
                    rownumbers:false,
                    treeGridModel: 'adjacency',
                    treedatatype: "local",
                    ExpandColumn: 'folderNodeName',
                    sortname: 'id',
                    width: 1070,
                    caption: 'File Upload Grid',
                    emptyrecords: 'No records to display',
                    jsonReader: {
                        root: "rows",
                        page: "page",
                        total: "total",
                        records: "records",
                        repeatitems: false
                    },


                });



            });



       function DocType() {
            var url = '@Url.Action("GetDocTypesForSelectedFolder", "ProductionApplication")';
            debugger;
            $.ajax({
                url: url,
                type: 'POST',
                data: { FoldeKey: 3 },
                success: function (data) {
                    $("#_ddlDocType").empty();
                    if (data != null) {
                        $.each(data, function () {

                            $("#_ddlDocType").append($("<option />").val(this.Id).text(this.documenttype));


                        });
                    }
                },
                error: function (data) {
                    alert("Error on retriving Contractors");
                },

            });
       }


 function ChangrDocTypeConfirmation(fid) {
                // debugger;

            var selectedValue = $("#" + fid + "_ddlDocType" + " :selected").val();
            var selectedText = $("#" + fid + "_ddlDocType" + " :selected").text();


    var txt;
    if (confirm("Are you sure you want to assign this file name to the file?") == true)
    {
        var url = '@Url.Action("changeDoumentType", "ProductionApplication")';
        //debugger;
        $.ajax({
            url: url,
            type: 'POST',
            data: { fileId: fid, docType: selectedValue, DocName: selectedText, taskinstanceId: $("#TaskInstanceId").val(), referrer: "Application" },
            success: function (data) {

            },
            error: function (data) {
                alert("Error on changing document name.");
            },

        });

       // $("#fileUploadGrid").trigger('reloadGrid');
        window.location.href = '/ProductionMyTask/GetTaskDetail?taskInstanceId=' + $("#TaskxrefId").val();
    }
}

            //Naveen 235
            var fileIdsToDelete = null;
            function DeleteFile() {
                //var myGrid = $('#fileUploadGrid');
                var myGrid = $('#hudfileUploadGrid'), i, rowData, fileIds = [],
                    rowIds = myGrid.jqGrid("getDataIDs"),
                    n = rowIds.length;

                //console.log(JSON.stringify(rowIds));
                for (i = 0; i < n; i++) {
                    rowData = myGrid.jqGrid("getLocalRow", rowIds[i]);
                    if (rowData.active) {
                        fileIds.push(rowData.fileId);
                    }
                    //console.log('selected row data:'+ JSON.stringify(rowData));
                }
                if (fileIds.length > 0) {
                    fileIdsToDelete = fileIds;
                    //alert(fileIdsToDelete);
                    $('#myModal2').modal('show');

                }
                else
                {
                    alert("Please Select row to delete!")
                }
            };

            //Naveen 235
            $("#deleteAttachment2").click(function () {
                $('#myModal2').modal('hide');
                MultipleDelete(fileIdsToDelete);

            });

            //Naveen 235
            function MultipleDelete(fileIDs) {
                var ids = JSON.stringify(fileIDs);
                var url = '@Url.Action("Deletefile", "OPAForm")';
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: { taskfileid: fileIDs.toString() },
                    
                    success: function (response) {
                        if(response === "Success")
                        {
                            alert("File Deleted Successfully");
                            location.reload();
                        }
                        else if(response === "unauthorized")
                        {
                            alert("Your not authorized to delete.");
                        }
                       
                        //location.reload();
                        //window.location.href = '/ProductionApplication/Reload/GroupTaskInstanceId?=' + $("#GroupTaskInstanceId").val() + "&PropertyId=" + $("#PropertyId").val();
                    }
                        ,
                    error: function(data) {
                        alert("Error on Deleting Files");
                    },

                });
            }

</script>
