﻿@model Model.Production.ProductionComments
@{
    ViewBag.Title = "Comments";
    Layout = null;
}
<style>
    .well {
        background: #d9edf7;
    }
    .prodUser.well {
        background: lightblue;
    }
    .comment {
        /*margin-bottom: 10px;*/
        margin-top: 10px;
    }
    .modal-footer, .modal-body {
        padding: 3px;
    }
    .text {
        margin: 2px;
        padding: 2px;
        font-family: sans-serif;
        font-style: italic;
    }
</style>

<div class="modal-dialog" style="width: 400px; ">
    <div class="modal-content">


        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Comments</h4>
        </div>
        <div class="modal-body">
            @if(@Model.LenderComment.CommentText!=null){
            <div class="col-lg-12 well" style="margin-bottom: 2px;">
                <p class="text">@Model.LenderComment.CommentText</p>

            </div>

            <p style="margin-top: 2px;">
                <a href="#" style="color: blue">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                </a> @Model.LenderComment.LenderName
            </p>
            }
            
            @foreach (var proComments in Model.ProductionUserComments)
            {
                if (proComments.CommentText != null)
                {
                    <div class="col-lg-12  prodUser well" style="margin-top: 2px; margin-bottom: 2px;">
                        <h5 style="margin-top: -2px; font-weight: bold">@proComments.CommentType</h5>
                        <p class="text"> @proComments.CommentText</p>

                    </div>

                    <p class="text-right" style="margin-top: 2px;">
                        <a href="#" style="color: blue"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> @proComments.ProductionUserName
                    </p>
                }


            }

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> 
    </div>
   
    <!-- /.modal-content -->
</div>
    
