﻿@{
    ViewBag.Title = "Reassign Task Grid";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
@*<link href="~/Content/jquery.jqGrid/jquery-uiv2.css" rel="stylesheet" />*@
@*<script src="~/Scripts/free-jqGrid/jquery-1.9.1.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/jquery-ui-1.10.0.min.js"></script>*@
@*<script src="~/Scripts/JqGrid/grid.locale-en.js"></script>*@
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>

<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

@*<script src="~/Views/Production/ProductionGroupTask/LenderGroupTask.js"></script>*@

<div id="myrapper">
    <table id="LenderReassignGrid"></table>
    <div id="pager"></div>


</div>
<script type="text/javascript">
    $(document).ready(function () {
        var selectedRows = {};
        var reassigngrid = $('#LenderReassignGrid');

        $("#LenderReassignGrid").jqGrid({

            url: '@Url.Action("GetTReassignTasks", "LenderProdTaskReassignment")',
            datatype: 'json',
            mtype: "GET",

            colNames: ['TaskName', 'Date Submited', 'Loan Type', 'Processed By', 'Status', 'Age of Task', 'ProductionTaskType', 'ProcessedByID', 'ParentChildInstanceId', 'FhaRequestType', 'Viewname','FHA Number','Property Name'],
            colModel: [


                { Key: false, name: 'TaskName', index: 'TaskName', editable: false },
                { Key: false, name: 'StartDate', index: 'StartDate', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
                { Key: false, name: 'LoanType', index: 'LoanType', editable: false },
                 {
                     name: 'ProcessedBy', index: 'ProcessedBy', hidden: false, width: 150
                 },


              {
                  name: 'Status', index: 'Status',
                  formatter: function (cellvalue, options, rowObject) {
                      //alert(cellvalue);
                      //return 'In Process';
                      return cellvalue;

                  }
              },

                    {
                        name: 'Duration', index: 'Duration', width: 100,
                        formatter: function (cellvalue, options, rowObject) {
                            //alert(cellvalue);
                            return cellvalue;
                            //if (rowObject.ProductionTaskType === "FHA # Request") {
                            //    return "<span class='ui-icon ui-icon-comment'  onclick='comments(\"" + rowObject.FhaRequestInstanceId + "\",\"" + rowObject.FhaRequestType + "\")';></span>";
                            //} else if (rowObject.ProductionTaskType === "Application Request") {
                            //    return "";
                            //}
                        }
                    },

                      //{
                      //    name: 'Select/Deselect All', width: 100, index: 'Select/Deselect All',
                      //    editable: true,
                      //    edittype: 'checkbox', editoptions: { value: "True:False" },
                      //    formatter: "checkbox", formatoptions: { disabled: false }
                      //},
                      {
                          name: 'ProductionTaskType', index: 'ProductionTaskType', hidden: true, width: 150
                      },
               { Key: false, name: 'ProcessedByID', index: 'ProcessedByID', editable: false, hidden: true },
                  { Key: true, name: 'ParentChildInstanceId', index: 'ParentChildInstanceId', editable: false, hidden: true },
                    { Key: false, name: 'FhaRequestType', index: 'FhaRequestType', editable: false, hidden: true },
                    {
                        name: 'viewname', index: 'viewname', hidden: false, width: 150, hidden: true
                    },
                    { Key: false, name: 'fhanumber', index: 'fhanumber', editable: false, hidden: true},
                    { Key: false, name: 'ProjectName', index: 'ProjectName', editable: false, hidden: true }


            ],
            pager: "#pager",
            rowNum: 10,
            rowList: [10, 20, 30, 40, 50],

            loadonce: false,
            caption: "Reassign Task Grid",
            //height: "500px",
            autowidth: true,
            autoheight: true,
            shrinkToFit: true,
            sortname: 'name',
            sortorder: 'asc',
            autoencode: true,
            gridview: true,
            ignoreCase: true,
            width: 750,

            grouping: true,
            groupingView: {
                groupField: ["ProductionTaskType"],
                groupColumnShow: [false],
                groupText: [
                            "Production Type: <b>{0}</b>"
                ],
                groupOrder: ["desc"],
                groupSummary: [false],
                groupCollapse: false,
                groupDataSorted: true
            },
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false,
                id: "ParentChildInstanceId"
            },

            onSelectAll: function (rowIds, status) {
                if (status === true) {
                    for (var i = 0; i < rowIds.length; i++) {
                        selectedRows[rowIds[i]] = true;
                    }
                } else {
                    for (var i = 0; i < rowIds.length; i++) {
                        delete selectedRows[rowIds[i]];
                    }
                }
            },
            onSelectRow: function (rowId, status, e) {
                if (status === false) {
                    delete selectedRows[rowId];
                } else {
                    selectedRows[rowId] = status;
                }

            },
            loadComplete: function () {

                //debugger;
                //var i, count, $grid = $("#ReassignGrid");
                //var rowArray = $("#ReassignGrid").jqGrid('getDataIDs');
                //// $grid.jqGrid('setSelection', 'jqg1', true);
                //for (i = 0, count = rowArray.length; i < count; i += 1) {
                //    $grid.jqGrid('setSelection', rowArray[i], true);
                //}
                //reassigngrid.jqGrid('setGridParam', 'selarrrow', selectedRows);
                // reassigngrid.jqGrid('resetSelection');



                for (var rowId in selectedRows) {
                    $('#LenderReassignGrid').jqGrid('setSelection', rowId, true);
                  //  reassigngrid.setSelection(rowId, false);
                    //var i, count, $grid = $("#ReassignGrid");
                    //$grid.jqGrid('setSelection', rowId, true);
                }
                // $("#ReassignGrid tr").eq(1).trigger("click");

                if ($("#LenderReassignGrid").getDataIDs().length == 0) {
                    //document.getElementById("ReassignGrid").style.visibility = "hidden";
                    //document.getElementById("ReassignGrid").style.display = "none";
                    $("#myrapper").hide();
                    $("#divassign").hide();
                    $("#divreassign").hide();


                }
                else {
                    $("#myrapper").show();
                    $("#divassign").show();
                    $("#divreassign").show();
                }

            },
            loadError: function (xhr, status, error) {
                // debugger;
                if ($("#LenderReassignGrid").getDataIDs().length == 0) {
                    $("#myrapper").hide();
                    //document.getElementById("ReassignGrid").style.visibility = "hidden";
                    //document.getElementById("ReassignGrid").style.display = "none";
                }

            },
            autowidth: true,
            multiselect: true

        }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false },




  {
      //Delete options
      zIndex: 100,
      url: '/TodoList/Delete',
      closeOnEscape: true,
      CloseAfterEdit: true,
      recreateForm: true,
      msg: "Are you sure you want to delete this task?",
      afterComplete: function (response) {
          if (response.responseText) {
              alert(response.responseText);
          }

      }
  })

    });


</script>