﻿@using Core
@using HUDHealthcarePortal.BusinessService
@model Model.Production.LenderProductionReasignReportModel
@{
    ViewBag.Title = "Lender ProdReassignment Report";
}


<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
</style>
<style>
    ol {
        margin-left: -40px;
    }

        ol il {
            float: left;
            width: 290px;
        }

    br {
        clear: left;
    }

    div.wrapper {
        margin-bottom: 20px;
    }

    .datePickerTextBox {
        width: 100px;
        height: 25px;
    }

    .highrisk {
        color: black;
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 5px;
        margin-left: -4px;
        padding-right: 6px;
        margin-right: -5px;
    }

    tr.header_row th:nth-child(5) {
        width: auto;
    }

    tr.item_row td:nth-child(5) {
        width: auto;
    }

    .ui-multiselect {
        padding: 2px 0 2px 4px;
        text-align: left;
        border: 1px solid black;
    }

    .ui-multiselect {
        font-size: 12px;
    }

    .multiselect option {
        display: block;
        font-size: 8px !important;
    }

    /* remove label borders in IE6 because IE6 does not support transparency */

    * html .ui-multiselect-checkboxes label {
        border: none;
        padding: 10px;
    }

    tr.header_row th:nth-child(5) {
        width: 300px;
    }
</style>

<!-- Add all Page Specific CSS files here -->
<!-------------------------------------------------------------------------------------------------------------------------- -->
<link href="~/Scripts/jquery-multiSelect/jquery.multiselect.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-ui-1.10.4.min.js"></script>
<!-------------------------------------------------------------------------------------------------------------------------- -->
@using (Html.BeginForm())
{



    <div class="row " style="padding: 5px;">

        @Html.Partial("~/Views/Production/ProductionTaskReassignment/_LenderCommonSearchReassignment.cshtml", Model)

    </div>



    <div>
        <div id="dvUserReport">
            @Html.Partial("~/Views/Production/ProductionTaskReassignment/_LenderReassignSearchResult.cshtml", Model)
        </div>
    </div>



    <div class="container-fluid">
        <div class="row" style="padding: 5px;">


        </div>
    </div>
    <div id="divassign" class="container-fluid">
        <div class="row" style="padding: 5px;">
            <span class="col-md-4 text-left">
                @Html.Label("Assign To: ")
            </span>
            <span class="col-md-4 text-left">

                @*@Html.DropDownList("assignProdUserlst", Model.ProductionUsers, new { name = "assignProdUserlst" })*@
                @Html.DropDownListFor(m => m.LenderUser, Model.LenderUser, "Select Lender User", new { id = "assignProdUserlst" })
            </span>
        </div>
    </div>

    <div id="divreassign" class="container-fluid">
        <div class="row" style="padding: 5px;">
            <span class="col-md-4 text-left">
                <input id="btnreassign" type="button" class="form-control" value="ReAssign">
            </span>

        </div>
    </div>



}
<script>


    $(document).ready(function () {


        $('#btnreassign').click(function (element) {

            var rowidlist;
            var list = [];
            rowidlist = $("#LenderReassignGrid").jqGrid('getGridParam', 'selarrrow');
            var InstanceID;
			var FhaRequestType;
			var AssignUserId;
			var FromProdUser;
            //debugger;
            if (rowidlist.length == "") {
                alert('Please select a Task to continue');
                return false;
            }
            if ($('#assignProdUserlst').val() == "" ) {
                alert('Please select a User to Assign Task');
                return false;
            }



            //code for passing Taskinstanceid and User id's
            //debugger;
            //var id = $('#lstProdUser').val();

            for (var i in rowidlist) {
                //alert(rowidlist[i]);

                InstanceID = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'ParentChildInstanceId');
                FhaRequestType = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'FhaRequestType');
                FhaNumber = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'fhanumber');
                PropertyName = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'ProjectName');
                ProductionTaskType = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'ProductionTaskType');
                viewname = $("#LenderReassignGrid").jqGrid('getCell', rowidlist[i], 'TaskName');
				AssignUserId = $('#assignProdUserlst').val();
				FromProdUser = $('#lstProdUser').val();
				list.push(InstanceID + "|" + FhaRequestType + "|" + FhaNumber + "|" + PropertyName + "|" + ProductionTaskType + "|" + viewname + "|" + AssignUserId + "|" + FromProdUser);
            }
            //alert(list.join(", "));
           //debugger;
            $.ajax({
                url: '@Url.Action("ReassignTasks", "LenderProdTaskReassignment")',
                data: JSON.stringify({
                    kvp: list,
                    AssignUserId: $('#assignProdUserlst').val(),
                    AssignetoName: $('#assignProdUserlst :selected').text(),
                    FromProdUser: $('#lstProdUser').val(),
                    AssigneFromName: $('#lstProdUser :selected').text()

                }),
                cache: false,
                type: 'POST',
                contentType: "application/json",
                success: function (response) {
                    //  debugger;
                    $("#LenderReassignGrid").trigger("reloadGrid");
                    @*jQuery("#ReassignGrid").jqGrid().setGridParam({
                        url: '@Url.Action("GetTReassignTasks", "ProdTaskReassignment")', datatype: 'json', postData:
                                { appType: pageTypeIds, programType: programTypeIds, prodUserIds: prodUserIds, fromDate: _minUploadDate, toDate: _maxUploadDate, search: true }
                    }).trigger("reloadGrid");*@
                 alert('Tasks Reassigned Successfully')

                },
                error: function (xhr) {
                   // debugger;
                    alert('Tasks Reassign Failed')
                }
            });

        });


    });
</script>

