﻿@using AutoMapper.Internal
@using HUDHealthcarePortal.BusinessService
@model UploadStatusModelUI
<script type="text/javascript">
    $(document).ready(function () {

        if ('@HUDHealthcarePortal.BusinessService.RoleManager.IsUserLenderRole(UserPrincipal.Current.UserName)' == 'True') {
            $("#ddlLenders").hide();
        }

        var lenderid = '@TempData["LenderIdFilter"].ToNullSafeString()';
        $("#ddlLenders").val(lenderid);
        $("#hfLenderId").val(lenderid);

        $("#ddlLenders").change(function () {
            var url = '@Url.Action("UploadStatusReportFilter", "ExcelUploadView_")';
            var selectedValue = $("#ddlLenders").val();
            var selectedQtr = $("#quartersList").val();
            var context = '@ViewBag.ExcelExportAction';
            //var contextParam = '@ViewBag.ExcelActionParam';
            $("#hfLenderId").val(selectedValue);
            $.ajax({
                url: url,
                data: { strlenderId: selectedValue, strSelectedQtr: selectedQtr },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function(data) {
                    {
                        $("#dvStatusReport").html('');
                        $("#dvStatusReport").html(data);
                        drawChart();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;

        });



        $("#quartersList").change(function () {
            var url = '@Url.Action("UploadStatusReportByQuarter", "ExcelUploadView_")';
            var selectedLender = $("#hfLenderId").val();
            var selectedValue = $('[id*=quartersList]').val();
            var selectedText = $('[id*=quartersList] option:selected').text();
            $('#selectedQtr').val(selectedValue);
            $('#reportingPeriod').html(selectedText);

            $.ajax({
                url: url,
                data: { strSelectedQtr: selectedValue, strLenderId: selectedLender },
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                success: function(data) {
                    {
                        $("#dvStatusReport").html('');
                        $("#dvStatusReport").html(data);
                        drawChart();
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert("Status: " + textStatus);
                    alert("Error: " + errorThrown);
                }
            });
            return false;

        });
    });
</script>
@{
    ViewBag.Title = "Upload Status";
    <div class="container-fluid">
        <div class="row">
            <span class="content-wrapper col-md-4" style="margin-left:150px;">
                @Html.DropDownListFor(m => m.SelectedLenderId, Model.AllLenders, new { @id = "ddlLenders" })
                @Html.HiddenFor(m => m.SelectedLenderId, new { @id = "hfLenderId" })
            </span>
            <span class="col-md-4">
                @Html.DropDownListFor(m => m.SelectedQuarter, Model.AllQuarters, new { @id = "quartersList" })
                @Html.ValidationMessageFor(m => m.SelectedQuarter)
            </span>
        </div>
        <div class="row" style="margin-top: -15px;">
            <span style="float:right;margin-right:200px;">
                <label>Reporting Period: </label><span id="reportingPeriod">@Model.ReportingPeriod</span>
            </span>
            
        </div>
    </div>
    <div id="dialogCommon"></div>
    <div id="dvStatusReport">
         @Html.Partial("_UploadStatusReport", Model)
    </div>
   
}

