﻿@model List<ExcelUploadView_Model>
<style type="text/css">
    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    } 
</style>
@{
    ViewBag.Title = "ExcelUploadView";
    <div class="container-fluid">
        <div class="row">
            <span class="content-wrapper col-md-3">
               <label for="txtSearch" style="padding-top: 7px;">Search By FHA Number</label>
            </span>
            <span class="content-wrapper col-md-2" style="margin-bottom: 5px; margin-left: -40px;">
                <input type="text" id="txtSearch" class="form-control" style="width: 150px;" />
            </span>
            <span class="content-wrapper col-md-2">
                <input type="button" class="form-control" value="Reset" onclick="window.location.href = '/ExcelUploadView_/' + '@ViewBag.ExcelExportAction' + '/' + '@ViewBag.ExcelActionParam'">
            </span>
            <span style="float: right; margin-right: 0px;" class="content-wrapper">
                @if (Model.Count > 0 && !string.IsNullOrEmpty(ViewBag.ExcelExportAction))
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_excelBg.jpg", Html.ViewContext.HttpContext), "Export to Excel", (string) ViewBag.ExcelExportAction, "ExcelExport", (object) ViewBag.ExcelActionParam, new {@class = "excelExport"}, null)
                }
                @if (Model.Count > 0 && !string.IsNullOrEmpty(ViewBag.PrintAction) && Core.WebUiConstants.ShowPrintIcon)
                {
                    @Html.ImageActionLink(UrlHelper.GenerateContentUrl(@"~/Images/icon_print.jpg", Html.ViewContext.HttpContext), "Print", (string) ViewBag.PrintAction, "Print", (object) ViewBag.ExcelActionParam, new {target = "_blank"}, null)
                }
            </span>
        </div>
    </div>

    <script type="text/javascript">
    var autocompleteTextBox = $('#txtSearch');
    var possibleValues = [];
    var possibleFHAValues = [];
    var fhaNumberLoaded = "";
    var context;
    var contextParam;

    $(document).ready(function () {
        context = '@ViewBag.ExcelExportAction';
        contextParam = '@ViewBag.ExcelActionParam';

        $.ajax({
            url: '@Url.Action("SearchByFhaNumber", "ExcelUploadView_")',
            data: { searchText: '', maxResults: -1, callingContext: context, callingParam: contextParam },
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            type: 'GET',
            success: function (data) {
                possibleValues = [];
                possibleFHAValues = [];
                $.each(data, function () {
                    possibleValues.push(this.FHANumber + ' (' + this.ProjectName + ')');
                    possibleFHAValues.push(this.FHANumber);
                });
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
            }
        });
    });
    </script>
    <script src="/Scripts/Shared/autocomplete.js"></script>
    <script>
        $(document).ready(function () {
            // override autocompleteTextBox.on function
            autocompleteTextBox.on('autocompleteselect', function (event, ui) {
                searchTextTyped = ui.item.value;
                autocompleteMatch(searchTextTyped, possibleValues);

                updateSearchResult(searchTextTyped);
            });

            autocompleteTextBox.bind('blur', function () {
                updateSearchResult($(this).val());
            });

            autocompleteTextBox.bind('autocompleteopen', function () {
                $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
            });

            autocompleteTextBox.bind('autocompleteclose', function () {
                $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
            });

            function updateSearchResult(selectedFHANumber) {
                var foundIndex = $.inArray(selectedFHANumber, possibleValues);
                if (foundIndex != -1) {
                    if (fhaNumberLoaded != selectedFHANumber) {
                        autocompleteTextBox.val(selectedFHANumber);
                        $.ajax({
                            url: '@Url.Action("GetUploadDataByFHANumber", "ExcelUploadView_")',
                            data: { fhaNumber: possibleFHAValues[foundIndex], callingContext: context, callingParam: contextParam },
                            contentType: "application/json; charset=utf-8",
                            type: 'GET',
                            cache: false,
                            success: function (data) {
                                $("#dvGrid").html('');
                                $("#dvGrid").html(data);
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Error Retrieving Data\nStatus: " + textStatus + "\nError: " + errorThrown);
                            }
                        });

                        fhaNumberLoaded = selectedFHANumber;
                    }
                }
            };
        });
    </script>

    <div id="dvGrid">
        @Html.Partial("_ViewExcelUpload")
    </div>
}


