﻿@model HUDHealthcarePortal.Model.ProjectActionViewModel 
<div class="container-fluid" style="padding-top: 15px">
    <div class="row">
        <h5 class="col-md-12 text-center">
            @Html.Label("Current Contact Information")
        </h5>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Servicer")
        </span>
        <span class="col-md-3"></span>
        <span class="col-md-3 text-left">
            @Html.Label("Management Agent")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Servicer Name (Organization Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.Organization, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Management Agent Name (Organization Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.Organization, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Servicer Contact Information")
        </span>
        <span class="col-md-3"></span>
        <span class="col-md-3 text-left">
            @Html.Label("Management Agent Contact Information")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Name (Last Name, First Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.ContactName, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Name (Last Name, First Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.ContactName, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 1")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.AddressLine1, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 1")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.AddressLine1, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 2")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.AddressLine2, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 2")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.AddressLine2, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>

</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("City")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.City, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("City")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.City, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("State")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.StateCode, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("State")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.StateCode, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Zip code")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.ZIP, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Zip code")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.ZIP, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Telephone Number")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.PhonePrimary, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Telephone Number")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.PhonePrimary, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Email Address")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ServicerAddress.Email, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Email Address")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.ManagementAgentAddress.Email, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Operator")
        </span>
        <span class="col-md-3"></span>
        <span class="col-md-3 text-left">
            @Html.Label("Owner")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Operator Name (Organization Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.Organization, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Owner Name (Organization Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.Organization, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Operator Contact Information")
        </span>
        <span class="col-md-3"></span>
        <span class="col-md-3 text-left">
            @Html.Label("Owner Contact Information")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Name (Last Name, First Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.ContactName, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Name (Last Name, First Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.ContactName, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 1")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.AddressLine1, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 1")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.AddressLine1, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 2")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.AddressLine2, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 2")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.AddressLine2, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("City")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.City, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("City")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.City, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("State")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.StateCode, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("State")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.StateCode, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Zip code")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.ZIP, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Zip code")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.ZIP, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Telephone Number")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.PhonePrimary, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Telephone Number")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.PhonePrimary, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Email Address")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OperatorAddress.Email, new { @style = "background: #eee", @readonly = "true" })
        </span>
        <span class="col-md-3 text-left">
            @Html.Label("Contact Email Address")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.OwnerAddress.Email, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<hr />

<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Lender")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Lender Name (Organization Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.Organization, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Lender Contact Information")
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Name (Last Name, First Name)")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.ContactName, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 1")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.AddressLine1, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Street Address 2")
        </span>
        <span class="col-md-3 required">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.AddressLine2, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("City")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.City, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("State")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.StateCode, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Zip code")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.ZIP, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Telephone Number")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.PhonePrimary, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <span class="col-md-3 text-left">
            @Html.Label("Contact Email Address")
        </span>
        <span class="col-md-3">
            @Html.TextBoxFor(m => m.ContactAddressViewModel.LenderAddress.Email, new { @style = "background: #eee", @readonly = "true" })
        </span>
    </div>
</div>
<hr />