﻿@using HUDHealthcarePortal.BusinessService
@model PaginateSortModel<Model.ProjectAction.GroupTaskModel>
<script type="text/javascript">
    $(document).ready(
        function() {
            styleGrid();
        });

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }
</script>
@{
    var grid = new WebGrid(canPage: true, rowsPerPage: 10,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    grid.Bind(Model.Entities, autoSortAndPage: false, rowCount: Model.TotalRows);
}

@*karri#205*@
<style type="text/css">
    span.error {
        color: #e80c4d;
        font-weight: bold;
    }

    .ui-dialog-titlebar-close {
        display: none;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }

    .disabled {
        pointer-events: none;
        opacity: 0.4;
    }

    }
</style>

@*karri#205*@
<div class="container" style="width:1263px;margin-left:2px; border:groove; ">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2" align="left" style="margin-left:22px;" >
            FHA Number
        </div>
        <div class="col-lg-2">

        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <h5>Search Filters:</h5>
        </div>
        <div class="col-lg-2" align="left">
            <input type="text" id="ddlFHANumbers" value=@ViewData["BindingFHANumber"] class="form-control" style="width:140px;" />
        </div>
        <div class="col-lg-2" align="right">
            <input type="button" class="btn btn-default" value="Search" style="margin-left:453px;" onclick="FilterResults()" />
        </div>
        <div class="col-lg-2" align="left">
            <input type="button" class="btn btn-default" value="Reset" style="margin-left:344px;" onclick="ResetFilterResults()" />
        </div>
    </div>
</div>

@*karri#205*@
<script>

    var autocompleteTextBox = $('#ddlFHANumbers');

    var possibleValues = @Html.Raw(Json.Encode(ViewBag.FHAList));
</script>
<script src="/Scripts/Shared/autocomplete.js"></script>

<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();

        gridColumns.Add(grid.Column("ProjectActionName", "FHA# - Project Action Name", format: (item) => string.IsNullOrEmpty(item.ProjectActionName) ? new MvcHtmlString(String.Empty) : Html.ActionLink(((object)item.FhaNumber) + " - " + ((object)item.ProjectActionName).ToString(), "GetGroupTaskDetail", "GroupTask", new { @taskId = item.TaskId, @style = "text-decoration:underline" }, null)));
        gridColumns.Add(grid.Column("Status", "Status",  style: "description"));
        gridColumns.Add(grid.Column("UserRole", "Role", style: "description"));
        gridColumns.Add(grid.Column("UserNameInUse", "In Use", style: "description"));
        gridColumns.Add(grid.Column("ProjectActionStartDate", "Date & Time created", style: "description"));
        gridColumns.Add(grid.Column("ServicerSubmissionDate", "Submitted Date", format: (item) =>
        {
            if (item.Status == "Draft" )
            {
                return Html.Raw(string.Empty);
            }


            if (item.ServicerSubmissionDate == null)
            {
                return Html.Raw(string.Empty);
            }
            return Html.Raw(string.Format("{0:MM/dd/yyyy}", item.ServicerSubmissionDate));
        },
        style: "description"));
        if (RoleManager.IsLenderAdmin(UserPrincipal.Current.UserName))
        {
            gridColumns.Add(grid.Column("Unlock", format: (item) =>
            {
                if (item.Status == "Draft" && item.InUse > 0 && item.UserNameInUse != "")
                {
                    return Html.ActionLink("Unlock", "UnlockGroupTask", "GroupTask", new {@taskId = item.TaskId, @style = "text-decoration:underline"}, null);
                }
                return Html.Raw(string.Empty);
            }
            ));
        }
        
       
    }
    @if (Model.Entities.Any())
    {
        @grid.GetHtml(tableStyle: "webGrid",
                headerStyle: "header_row",
                rowStyle: "item_row",
                alternatingRowStyle: "item_alt_row",
                selectedRowStyle: "select",
               mode: WebGridPagerModes.All,
               firstText: "<< First",
               previousText: "< Prev",
               nextText: "Next >",
               lastText: "Last >>",

                columns: gridColumns.ToArray())
    }
    else
    {
        <p style="margin-left:20px;">@(string.IsNullOrEmpty(ViewBag.EmptyMessage) ? "No data found." : @ViewBag.EmptyMessage)</p>
    }
    
</div>

@*karri#205*@
<script>
    function FilterResults() {

        var fhanuber = document.getElementById("ddlFHANumbers").value;
        //alert(document.getElementById("ddlFHANumbers").value);
        if(fhanuber.length < 6)
            return false;

        location.href = '@Url.Action("Index", "GroupTask")?lookupFHANumber=' + fhanuber;

        @*location.href = '@Url.Action("MyTasks", "Task")?var1=' + firstname + '&name=' + username;*@
    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        var fhanuber = document.getElementById("ddlFHANumbers").value;
        if(fhanuber.length <= 0)
            return false;

        location.href = '@Url.Action("Index", "GroupTask")';
        //alert();

    }
</script>