﻿@model HUDHealthCarePortal.Controllers.ExcelUploadController

@{
    ViewBag.Title = "ExcelUploadView";
}
<style type="text/css">
    #statusBorder {
        position: relative;
        height: 5px;
        width: 100px;
        border: solid 1px gray;
        display: none;
    }

    #statusFill {
        position: absolute;
        top: 0;
        left: 0;
        width: 0px;
        background-color: Blue;
        height: 5px;
    }

    /* fix jquery ui 1.10 missing z index issue*/
    .ui-dialog {
        z-index: 1000 !important;
        opacity: 100 !important;
    }
</style>

@*harish added new style for spinner*@
<style>
    #page-loader {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        display: none;
        text-align: center;
        width: 100%;
        padding-top: 25px;
        background-color: rgba(0,0,0,.5);
    }

    h3 {
        color: white;
        font-size: xx-large;
    }

    #spinroller {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10000;
        display: none;
        text-align: center;
        width: 100%;
        padding-top: 25px;
    }
</style>


<style type="text/css">
    #loading {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loadingcontent {
        display: table;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #loadingspinner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding-top: 80px;
    }
</style>


<script type="text/javascript">
    $(document).ready(function (e) {
        $("#btnSubmit").click(function (e) {
            $("#page-loader").show();// added harish
            //$("#loading").fadeIn();
            //var opts = {
            //    lines: 12, // The number of lines to draw
            //    length: 7, // The length of each line
            //    width: 4, // The line thickness
            //    radius: 10, // The radius of the inner circle
            //    color: '#000', // #rgb or #rrggbb
            //    speed: 1, // Rounds per second
            //    trail: 60, // Afterglow percentage
            //    shadow: false, // Whether to render a shadow
            //    hwaccel: false // Whether to use hardware acceleration
            //};
            //var target = document.getElementById('loading');
            //var spinner = new Spinner(opts).spin(target);

            var uploadCtrl = $('#FileUpload1').val();
            if (uploadCtrl == '') {
                alert("Please attach a file to upload, then click the Upload button.");
                return false;
            }
            var formData = new FormData();
            formData.append('FileUpload1', $('#FileUpload1')[0].files[0]);
            formData.append('hdnCheckDuplicate', 'true');
            var url = '@Url.Action("Importexcel", "ExcelUpload")';
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    //debugger;
                    if (data.toString().substring(0, 10) == 'The follow')
                    {
                        $('#spnUpload').html(data);
                         $("#page-loader").hide();// added harish
                        //$("#loading").hide();
                        $("#dialogWarning").dialog("open");
                        return false;
                    } else {
                        $("#uploadform").submit();
                        return true;
                    }
                }
            });
            return false;
        });

        $("#dialogWarning").dialog({
            title: 'Warning Message',
            autoOpen: false,
            resizable: true,
            width: 640,
            height: 300,
            modal: true,
            show: { effect: 'fade' },
            closeOnEscape: false,
            buttons: {
                'Continue': function () {
                    $("#page-loader").show();// added harish
                    //$("#loading").fadeIn();
                    $("#uploadform").submit();
                                            $(this).dialog("close");

                },
                'Cancel': function () {
                    $(this).dialog("close");
                }
            }
        });

        $("#dialogConfirm").dialog({
            title: '@TempData["Title"]',
            autoOpen: '@TempData["bAutoOpen"]' == "True" ? true : false,
            autoOpen: false,
            resizable: '@TempData["bResizable"]' == "True" ? true : false,
            height: '@TempData["winHeight"]',
            width: '@TempData["winWidth"]',
            show: { effect: 'fade' },
            modal: true,
            draggable: '@TempData["bDraggable"]' == "True" ? true : false,
            closeOnEscape: false,
            close: function (event, ui) {
                $(this).dialog("close");
            },
            open: function (event, ui) {
                $(this).load('@TempData["sLoadUrl"]', { id: g_modal_paramId });
                if ('@TempData["bShowCloseBtn"]' == "False")
                    $(".ui-dialog-titlebar-close").hide();
            },
        });

        $("#FileUpload1").change(function () {
            $("#uploadPass").text("");
            $("#uploadError").text("");
            if ($('#FileUpload1').val() != null && $('#FileUpload1').val() != "") {
                var ext = $('#FileUpload1').val().match(/\.([^\.]+)$/)[1];
                switch (ext) {
                    case 'xls':
                    case 'xlsx':
                        break;
                    default:
                        alert("The file is not in the expected format. Please make sure the file you are uploading is in excel format (.xls or .xlsx). ");
                        return false;
                }
                document.getElementById('FileUpload1').title = $('#FileUpload1').val().split('\\').pop();
            }
        });
    });

    function getStatus() {
        var userId = '@UserPrincipal.Current.UserId';
        var url = '@Url.Action("GetCurrentProgress", "ExcelUpload")';

        $.ajax({
            url: url,
            data: { userId: userId },
            //contentType: "application/json; charset=utf-8",
            type: 'GET',
            cache: false,
            success: function (data) {
                if (data != "101")
                {
                    $('#status').html(data);
                    $('#statusFill').css({ 'width': data.toString() + "px" });
                    window.setTimeout("getStatus()", 500);
                }
                else {
                    $('#status').html("Done");
                    $('#statusBorder').hide();
                    alert("The Long process has finished");
                };
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Status: " + textStatus); alert("Error: " + errorThrown)
            }
        });
    }
</script>
<div class="container-fluid" style="margin-left:70px;width:860px;">
    <div id="row">
        <p class="HCP_Tr2">
            <span class="col-md-10">
                Use this page to upload a Batch file which can contain information on Multiple FHA Numbers/Properties.
            </span>
            <span class="col-md-10">
                <i>
                    Click <a href="/ExcelUpload/Batch_File_Upload_Template" style="text-decoration:underline;">here</a>
                    to download the approved Batch File Upload Template.
                </i>
            </span>
        </p>
    </div>
</div>
<br />
<div style="margin-left:100px;width:860px;">
    <table>
        <tr>
            <td>
                <h2 class="HCP_Sub_Header">Batch File Upload</h2>
            </td>
            <td>
                @{
                    if (Session["Confirmation"] != null)
                    {
                        if (Session["Confirmation"].ToString().StartsWith("File Uploaded Successfully"))
                        {
                            <h2 class="HCP_Sub_Header_Green" id="uploadPass">
                                &nbsp;&nbsp;@Html.Raw(Session["Confirmation"].ToString())
                            </h2>
                        }
                        else
                        {
                            <h2 class="HCP_Sub_Header_Red" id="uploadError">
                                &nbsp;&nbsp;@Html.Raw(Session["Confirmation"].ToString())
                            </h2>
                        }
                    }
                    Session["Confirmation"] = null;
                }
            </td>
        </tr>
    </table>

    <div id="dialogConfirm"></div>
    <div id="dialogCommon"></div>
    <div id="dialogWarning"><span id="spnUpload"></span></div>
    <input type="hidden" id="hfAgreementAccepted" />
    @using (Html.BeginForm("Importexcel", "ExcelUpload", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
    {
        <div align="center" class="HCP_Label">
            <div id="statusBorder">
                <div id="statusFill">
                </div>
            </div>
            <table style="border:1px solid darkblue; box-shadow: inherit">
                <tr>
                    <td colspan="4" align="center">
                        <br />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td class="HCP_Label">
                        <h6>&nbsp;&nbsp;&nbsp;&nbsp;Please Select Excel File:&nbsp;&nbsp;</h6>
                    </td>
                    <td>
                        <input style="width:560px; font-family:Segoe UI;font-size:small" type="file" id="FileUpload1" name="FileUpload1" title="" />
                    </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <input type="submit" id="btnSubmit" name="Submit" value="Upload" />
                    </td>
                </tr>
                <tr>
                    <td colspan="4" align="center">
                        <br />
                    </td>
                </tr>
            </table>
        </div>
        // added new line of code for spinner
        @*<div id="page-loader">
                <h3>Loading...Please Wait...</h3>
                <table id="spinroller">
                    <tr>
                        <td><img src="~/Images/Preloader_3.gif" /></td>
                    </tr>
                </table>
            </div>*@
        <div id="page-loader">
            <span class="spinner-border spinner-border-sm"></span>
            <h3>Loading...Please Wait...</h3>
        </div>

        // harish added new line of code for loading spinner
        @*<div id="loading">
                <div id="loadingcontent">
                    <p id="loadingspinner">
                        Loading...Please Wait...
                    </p>
                </div>
            </div>*@
    }
</div>
