﻿@*@model List<Model.Production.Prod_LoanCommitteeViewModel>*@
@model Model.Production.Prod_LoanCommitteeViewModel
@{
    ViewBag.Title = "Drag";
}
<html>
<head>
    <style>
        .indexrow {
            width: auto;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    @* <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/css/smoothness/jquery-ui-1.10.0.custom.min.css" />*@
    @*<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />*@
    @*<script src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.0/jquery-ui.js"></script>*@
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>*@
    @*<script src="http://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>*@
    @*<script data-semver="1.2.16" src="http://code.angularjs.org/1.2.16/angular-route.js"></script>*@
    @*<script src=" https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js"> </script>*@

    @*Coppy to Project*@
    <link href="~/Scripts/jquery-ui-1.10.0.custom.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/angular1.min.js"></script>
    <script src="~/Scripts/angular-ui.js"></script>
    <script src="~/Scripts/angular1-route.js"></script>
    <script src="~/Scripts/tablesort.min.js"></script>

@using (Html.BeginForm("#", "#", FormMethod.Post, new { @class = "modal-form", id = "LoanCommitteeGrid" }))
{

    @*@Html.Hidden("IsDrat")
    @Html.Hidden("Certify")*@
    
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.LoanCommitteeDate, new { id = "LoanCommitteeDate" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.Underwriter, new { id = "Underwriter" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.WorkloadManager, new { id = "WorkloadManager" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.SequenceNumber, new { id = "SequenceNumber" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.Day, new { id = "Day" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.ProjectType, new { id = "ProjectType" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.OGCAttorney, new { id = "OGCAttorney" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.Appraiser, new { id = "Appraiser" })
    @Html.HiddenFor(m => m.LoanCommitteeFiltersModel.Lender, new { id = "Lender" })
    
}

    <style>
        #sampleTbl {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
            font-size: x-small;
        }

            #sampleTbl td, #customers th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            /*#sampleTbl tr:nth-child(even) {
                background-color: #f2f2f2;
            }*/

            #sampleTbl tr:hover {
                background-color: #ddd;
            }

            #sampleTbl th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #3e4c92;
                color: white;
            }
    </style>
    <script>
        var fixHelperModified = function (e, tr) {
           // debugger;
            
            var $originals = tr.children();
            var $helper = tr.clone();

            $helper.children().each(function (index) {
                //debugger;
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },
            updateIndex = function (e, ui) {

                var appElement = document.querySelector('[ ng-controller=dragcontr]');
                //debugger;
                $('td.indexrow', ui.item.parent()).each(function (i) {
                    //debugger;

                    var $scope = angular.element(appElement).scope();
                    var $http = angular.element(appElement).injector().get('$http');

                    $(this).html(i + 1);
                });
            };

        //$("#sort tbody").sortable({
        //    helper: fixHelperModified,
        //    stop: updateIndex
        //}).disableSelection();

    </script>

    <script>
        //debugger;
        var app = angular.module('dragapp', ['ngRoute', 'ui']);
        debugger;

           
        app.controller('dragcontr', ['$scope', 'orderByFilter', '$http', function ($scope, orderBy, $http) {
            debugger;
            var llw = $('#LoanCommitteeDate').val();
            var friends = "";
            $http.get('/LoanCommitteeScheduler/GetLCGridResults').success(function (data) {
                debugger;
                friends = eval('(' + data + ')');
                friends = eval('(' + friends + ')');
                $scope.propertyName = 'SequenceId';
                $scope.reverse = true;
                $scope.list = orderBy(friends, $scope.propertyName, false);

                $scope.sortBy = function (propertyName) {
                    ////debugger;
                    $scope.reverse = (propertyName !== null && $scope.propertyName === propertyName)
                        ? !$scope.reverse : false;
                    $scope.propertyName = propertyName;
                    $scope.list = orderBy(friends, $scope.propertyName, $scope.reverse);
                };
            });
            $scope.sortableOptions = {
                helper: fixHelperModified,
                stop: updateIndex
            }

            // Get Table data and update
            $scope.GetTableData = function () {
                //debugger;
                var i = -1;
                var TableData;
                TableData = storeTblValues()
                TableData = (TableData);
                //debugger;
                $http.get('/LoanCommitteeScheduler/UpdateLCGridResults', {
                    params: { Model: JSON.stringify(TableData) }
                }).then(function (response) {
                    // process response here..
                }, function (response) {
                });
                function storeTblValues() {
                    var TableData = new Array();

                    $('#sampleTbl tr').each(function (row, tr) {
                        if (row > 0) {
                            i++;
                            TableData[i] = {
                                "SequenceId": parseInt($(tr).find('td:eq(0)').text())
                                , "LoanCommitteDate": $(tr).find('td:eq(1)').text()
                                , "LoanCommitteDate": $(tr).find('td:eq(2)').text()
                                , "LCRecommendation": $(tr).find('td:eq(3)').text()
                                , "ProjectTypeName": $(tr).find('td:eq(4)').text()
                                , "ProjectName": $(tr).find('td:eq(5)').text()
                                , "FHANumber": $(tr).find('td:eq(6)').text()
                                , "LoanAmount": parseFloat($(tr).find('td:eq(7)').text())
                                , "Underwriter": $(tr).find('td:eq(8)').text()
                                , "Wlm": $(tr).find('td:eq(9)').text()
                                , "Ogc": $(tr).find('td:eq(10)').text()
                                , "Appraiser": $(tr).find('td:eq(11)').text()
                                , "Lender": $(tr).find('td:eq(12)').text()
                                , "A7Presentation": $(tr).find('td:eq(13)').text()
                                , "TwoStageSubmittal": $(tr).find('td:eq(14)').text()
                                , "NonProfit": $(tr).find('td:eq(15)').text()
                                , "LCComments": $(tr).find('td:eq(16)').text()
                                , "LoanCommitteeId": $(tr).find('td:eq(17)').text()
                            }
                        }
                    });
                    //TableData.shift();  // first row will be empty - so remove
                    return TableData;
                }
            }

            // filterdata
            //$scope.Filterresult = function () {
            //    $http.get('/LoanCommitteeScheduler/UpdateLCGridResults', {
            //        params: { Model: JSON.stringify($('#LoanCommitteeFilterDetails').serialize()) }
            //    }).then(function (response) {
            //        // process response here..
            //    }, function (response) {
            //    });
            //}

        }]);
    </script>

</head>
<body ng-app="dragapp" ng-controller="dragcontr">
    <table ng:model="list" ng-table="" id="sampleTbl" class="table table-bordered" width="5000">
        <thead>
            <tr>
                <th ng-click="sortBy('SequenceId')">
                    Sequence Id
                    <span class="sortorder" ng-show="propertyName === 'SequenceId'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LoanCommitteDate')">
                    Day
                    <span class="sortorder" ng-show="propertyName === 'LoanCommitteDate'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LoanCommitteDate')">
                    Loan Committe Date
                    <span class="sortorder" ng-show="propertyName === 'LoanCommitteDate'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LCRecommendation')">
                    Recommendation
                    <span class="sortorder" ng-show="propertyName === 'LCRecommendation'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('ProjectTypeName')">
                    Project Type
                    <span class="sortorder" ng-show="propertyName === 'ProjectTypeName'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('ProjectName')">
                    Project Name
                    <span class="sortorder" ng-show="propertyName === 'ProjectName'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('FHANumber')">
                    FHANumber
                    <span class="sortorder" ng-show="propertyName === 'FHANumber'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LoanAmount')">
                    Mortgage Amount
                    <span class="sortorder" ng-show="propertyName === 'LoanAmount'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('Underwriter')">
                    UW
                    <span class="sortorder" ng-show="propertyName === 'Underwriter'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('Wlm')">
                    WLM
                    <span class="sortorder" ng-show="propertyName === 'Wlm'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('Ogc')">
                    OGC Attorney
                    <span class="sortorder" ng-show="propertyName === 'Ogc'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('Appraiser')">
                    OHP Appraisal Reviewer
                    <span class="sortorder" ng-show="propertyName === 'Appraiser'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('Lender')">
                    Lender
                    <span class="sortorder" ng-show="propertyName === 'Lender'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('A7Presentation')">
                    A7Presentation
                    <span class="sortorder" ng-show="propertyName === 'A7Presentation'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('TwoStageSubmittal')">
                    2 StageSubmittal
                    <span class="sortorder" ng-show="propertyName === 'TwoStageSubmittal'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('NonProfit')">
                    Non-profit project
                    <span class="sortorder" ng-show="propertyName === 'NonProfit'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LCComments')">
                    Comments
                    <span class="sortorder" ng-show="propertyName === 'LCComments'" ng-class="{reverse: reverse}"></span>
                </th>
                <th ng-click="sortBy('LoanCommitteeId')" hidden="hidden">
                    LoanCommitteeId
                    <span class="sortorder" ng-show="propertyName === 'LoanCommitteeId'" ng-class="{reverse: reverse}"></span>
                </th>
            </tr>
        </thead>
        <tbody ui:sortable="sortableOptions">
            <tr id="{{$index}}" ng-repeat="item in list | orderBy:sortType:sortReverse">

                <td class="indexrow">{{ item.SequenceId }}</td>
                <td>{{ item.LoanCommitteDate | date:'EEEE'}}</td>
                <td>{{ item.LoanCommitteDate | date:'MM/dd/yyyy'}}</td>
                <td>{{ item.LCRecommendation }}</td>
                <td>{{ item.ProjectTypeName }}</td>
                <td>{{ item.ProjectName }}</td>
                <td>{{ item.FHANumber }}</td>
                <td>{{ item.LoanAmount }}</td>
                <td>{{ item.Underwriter }}</td>
                <td>{{ item.Wlm }}</td>
                <td>{{ item.Ogc }}</td>
                <td>{{ item.Appraiser }}</td>
                <td>{{ item.Lender }}</td>
                <td>{{ item.A7Presentation }}</td>
                <td>{{ item.TwoStageSubmittal }}</td>
                <td>{{ item.NonProfit }}</td>
                <td>{{ item.LCComments }}</td>
                <td hidden="hidden">{{ item.LoanCommitteeId }}</td>
            </tr>
        </tbody>
    </table>
    <input type="button" title="Save" value="Save" ng-click="GetTableData()" />
</body>
</html>
