﻿@model MenuHelperModel

@helper  TopMenu(List<SiteMapNodeModel> nodeList)
{
    @*@:<div class="navbar"><div class="navbar-inner"><ul class="nav">*@
    @:<div class="navbar"><div><ul class="nav navbar-nav">
  foreach (SiteMapNodeModel node in nodeList)
  {
      string url = node.IsClickable ? node.Url : "#";

      if (!node.Children.Any())
      {
        @:<li><a href="@url">@node.Title</a></li>
    }
      else
      {
        @:<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="@url">@node.Title <b class="caret"></b></a>@DropDownMenu(node.Children)</li>
    }

      if (node != nodeList.Last())
      {
        @:<li class="divider-vertical"></li>
    }
  }

@:</ul></div></div>
}

@helper DropDownMenu(SiteMapNodeModelList nodeList)
{
    <ul class="dropdown-menu">
        @foreach (SiteMapNodeModel node in nodeList)
        {
            if (node.Title == "Separator")
            {
                @:<li class="divider"></li>
      continue;
            }

            string url = node.IsClickable ? node.Url : "#";

            if (!node.Children.Any())
            {
                @:<li><a href="@url">@node.Title</a></li>
    }
            else
            {
                @:<li class="dropdown-submenu"><a href="@url">@node.Title</a>@DropDownMenu(node.Children)</li>
    }
        }
    </ul>
}

@TopMenu(Model.Nodes)
