﻿@model HUDHealthcarePortal.Model.OPAViewModel
@using HUDHealthcarePortal.Core
@using Core
@{
    ViewBag.Title = "Form290";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<section id="projectactionform" style="width: 1300px; height: 1150px;">

    <div id="dialogCommon"></div>
    @if (Model.TaskStepId == 23)
    {


        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Complete)</b></h4>
    }
    else
    {

        <h4 style="text-align: center;"><b>@Html.DisplayName(EnumType.GetEnumDescription((PageType)Model.pageTypeId)) Request (Under review)</b></h4>

    }

    @using (Html.BeginForm("GetForm290Task", "ProductionMyTask", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "projectActionFrm" }))
    {

        @Html.HiddenFor(m => m.RequestStatus, new { id = "requestStatus" })
        @Html.HiddenFor(m => m.Concurrency, new { id = "Concurrency" })
        @Html.HiddenFor(m => m.TaskGuid, new { id = "TaskGuid" })
        @Html.HiddenFor(m => m.taskxrefId, new { id = "TaskxrefId" })
        @Html.HiddenFor(m => m.isChildTaskOpen, new { id = "IsChildTaskOpen" })
        @Html.HiddenFor(m => m.viewId, new { id = "ViewId" })
        @Html.HiddenFor(m => m.TaskStepId, new { id = "TaskStepId" })
        @Html.HiddenFor(m => m.RequestStatus, new { id = "RequestStatus" })
        @Html.HiddenFor(m => m.SequenceId, new { id = "SequenceId" })
        @Html.HiddenFor(m => m.AssignedBy, new { id = "AssignedBy" })
        @Html.HiddenFor(m => m.FhaNumber, new { id = "FhaNumber" })
        @Html.HiddenFor(m => m.GroupTaskId, new { id = "GroupTaskId" })
        @Html.HiddenFor(m => m.GroupTaskInstanceId, new { id = "GroupTaskInstanceId" })
        @Html.HiddenFor(m => m.ProjectActionTypeId, new { id = "ProjectActionTypeId" })
        @Html.HiddenFor(m => m.ProjectActionFormId, new { id = "ProjectActionFormId" })
        @Html.HiddenFor(m => m.TaskInstanceId, new { id = "TaskInstanceId" })
        @Html.HiddenFor(m => m.TaskId, new { id = "TaskId" })
        @Html.HiddenFor(m => m.GroupTaskCreatedOn, new { id = "GroupTaskCreatedOn" })
        @Html.HiddenFor(m => m.CreatedOn, new { id = "CreatedOn" })
        @Html.HiddenFor(m => m.CreatedBy, new { id = "CreatedBy" })
        @Html.HiddenFor(m => m.ModifiedBy, new { id = "ModifiedBy" })
        @Html.HiddenFor(m => m.ModifiedOn, new { id = "ModifiedOn" })
        @Html.HiddenFor(m => m.ProjectActionDate, new { id = "ProjectActionDate" })
        @Html.HiddenFor(m => m.RequestDate, new { id = "RequestDate" })
        @Html.HiddenFor(m => m.ServicerSubmissionDate, new { id = "ServicerSubmissionDate" })
        @Html.HiddenFor(m => m.PropertyName, new { id = "PropertyName" })
        @Html.HiddenFor(m => m.RequesterName, new { id = "RequesterName" })
        @Html.HiddenFor(m => m.IsAgreementAccepted, new { id = "IsAgreementAccepted" })
        @Html.HiddenFor(m => m.IsEditMode, new { id = "IsEditMode" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.ProjectActionName, new { id = "ProjectActionName" })
        @Html.HiddenFor(m => m.IsPAMReport, new { id = "IsPAMReport" })
        @Html.HiddenFor(m => m.IsViewFromGroupTask, new { id = "IsViewFromGroupTask" })
        @Html.HiddenFor(m => m.IsReassigned, new { id = "IsReassigned" })
        @Html.HiddenFor(m => m.ServicerComments, new { id = "ServicerComments" })
        @Html.HiddenFor(m => m.pageTypeId, new { id = "PageTypeId" })

        @Html.HiddenFor(m => m.PropertyAddress.AddressLine1)
        @Html.HiddenFor(m => m.PropertyAddress.City)
        @Html.HiddenFor(m => m.PropertyAddress.StateCode)
        @Html.HiddenFor(m => m.PropertyAddress.ZIP)

        @Html.HiddenFor(m => m.IsAddressChange)
        @Html.HiddenFor(m => m.ButtonName)
        @Html.HiddenFor(m => m.DenyStatus, new { id = "btnDisApprove" })
        //karri, venkat#832
        @Html.HiddenFor(m => m.Form290ClosingPreCheckConditionsValue, new { id = "hidForm290ClosingPreCheckConditionsValue" })


        <div class="container-fluid">
            <div class="row">
                <span class="col-md-4 text-right required">
                    @Html.Label("FHA Number", new { @class = "required" })
                </span>
                <span class="col-md-4">
                    @Html.LabelForModel(Model.FhaNumber ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                </span>
            </div>
        </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Project Number")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyId.ToString(), new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <hr />
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-11 text-center">
                        @Html.Label("Property Address")
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Street Address")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyAddress.AddressLine1 ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("City")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyAddress.City ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("State")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyAddress.StateCode ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Zip code")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.PropertyAddress.ZIP ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>

            <hr />
            <div class="container-fluid" style="padding-top: 15px;display:none">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Date of Request")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(string.Format("{0:MM/dd/yyyy}", Model.RequestDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Requester's Name")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.RequesterName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Date of Lenders's Submission")
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(string.Format("{0:MM/dd/yyyy h:mm tt }", Model.ServicerSubmissionDate) ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <div class="container-fluid" style="padding-top: 15px">
                <div class="row">
                    <span class="col-md-4 text-right">
                        @Html.Label("Project  Loan Type", new { @class = "required" })
                    </span>
                    <span class="col-md-4">
                        @Html.LabelForModel(Model.ProjectActionName ?? "(None)", new Dictionary<string, object>() { { "class", "fieldLabel" } })
                    </span>
                </div>
            </div>
            <hr />
            <div id="dvEdit" class="container-fluid">

            </div>

            <div>
                <div class="col-sm-offset-0" style="    margin-bottom: 2px;margin-top: -10px;">
                    <a id="btn_wpAttach" class="btn btn-primary btn-file"><i class="glyphicon glyphicon-cloud-upload" onclick="UploadDoc();"></i>Attach</a>
                </div>
                <table id="workProductsGrid"></table>
                <div id='dialogDiv' class='modal fade in'>
                    <div id='dialogContent'></div>
                </div>
                <div id="pager2"></div>
                @Html.Partial("~/Views/Production/Form290Request/UploadGrids.cshtml")
            </div>
    }
    <div class="col-sm-6" style="margin-top:2px;">
        <div class="form-horizontal">
            
            <div class="form-group">
                <div class="col-sm-2">
                    @Html.Label("Comments:")
                </div>
                <div class="col-sm-5">
                    @Html.TextArea("Comment", new { style = "width: 500px;", @rows = "4" })
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-lg-7">
		<div class="box-footer col-sm-offset-2" style="margin-bottom:20px;">
			<input class="btn btn-primary" id="btnsubmit" type="submit" name="btnsubmit" value="Complete" onclick="sendEmailToProdUser('@ViewBag.Form290TaskInstanceId');return false;" />

			@*<input class="btn btn-primary" id="btnsubmit" type="submit" name="btnsubmit" value="Complete" onclick="sendEmailToLender('@ViewBag.Form290TaskInstanceId');return false;" />*@
			<button id="btnreturn" type="reset" class="btn btn-default" value="Return to My Task" onclick='history.go(-1);'>Return to My Task</button>

		</div>
    </div>
</section>

<script type="text/javascript">
    $('#btn_wpAttach').click(function () {
        activeUploadTab = @((Int32)ProdFolderStructure.Form290);
		UploadDoc(activeUploadTab);
		$('#btnsubmit').removeAttr('disabled');
    });
    function UploadDoc(type) {//skumar-form290
        var list = "";
        var model = JSON.stringify($('#projectActionFrm').serializeArray());
        var obj = JSON.parse(model);
        var list = [];
        for (var i = 0; i < obj.length; i++) {
            list.push(JSON.stringify(obj[i]));
        }
        $('#dialogContent').load('@Url.Action("Form290Upload", "ProductionMyTask")', { pFolderKey: type, pModel: list.join("||||")  }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            $("#upstart").hide();
            $("#upinterupt").hide();
            $("#upremove").hide();
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });
        return false;
    }

     function sendEmailToLender(id) {
        // debugger;
         //alert(id);
        $('#dialogContent').load('@Url.Action("SendEmailToLender", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        //return false;
    }

	function sendEmailToProdUser(id) {
	    // debugger;

	    //karri, venkat#832//
	    if($('#hidForm290ClosingPreCheckConditionsValue').val() == 1)
	    {
	        alert("Firmcommitment Response is pending, cannot close the request");
	        return false;
	    }
	    if($('#hidForm290ClosingPreCheckConditionsValue').val() == 2)
	    {
	        alert("Subtasks are still pending, cannot close the request");
	        return false;
	    }

        $('#dialogContent').load('@Url.Action("SendEmailToProdUser", "ProductionApplication")', { taskInstanceId: id }, function () {
            $('#dialogDiv').modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            //bindForm(this);
            $(".modal-dialog").removeClass("modal-sm").addClass("modal-lg");
        });

        return false;
	}
    function disableform290(){
        if ('@Model.IsProdQueuQueue' == 'True' || '@Model.IsProdQueuInprocess' == 'True')
        {
            $('#btnsubmit').attr('disabled', 'disable');

        }
    }

        $(document).ready(function () {
            disableform290();
        if ('@Model.TaskStepId' == 23) {
            document.getElementById('btn_wpAttach').style.visibility = 'hidden';
            document.getElementById('btnsubmit').style.visibility = 'hidden';
		}
		
    });
</script>

