﻿@model HUDHealthcarePortal.Model.UserViewModel

<div>
    <form>
        <div class="form-group" id="Div_emailid">

            <div class="form-group">
                <label for="emailaddress">Email Address</label>
                <input type="text" class="form-control" id="emailaddress" placeholder="Email" />
            </div>

        </div>
    </form>
</div>