﻿<style type="text/css">
table.hudGlossary {width:100%;}
.hudGlossary .fieldLabel
{
    float:left; 
    width:280px; 
    padding-top:4px; 
    /*border:0px solid red;*/ 
    font-weight:bold;
    border: solid 1px #e6edf5;
    border-width: 0px 2px 1px 0px;
}

.hudGlossary .fieldValue 
{
    width:75%;
    border:0px solid #e6edf5; 
    border-width:0px 0px 1px 0px; 
    white-space:normal; 
    vertical-align:top;

}
    .glossaryHeader {
        background-color: #e6edf5;
        font-weight: bold;
        padding: 5px;
    }
</style>    
<div style="padding:8px;overflow-y:scroll; height:515px;">
        <div id="top_header" style="font-size:1.4em; font-weight:bold; padding:10px 0px;"><asp:Literal ID="litHeader" runat="server"></asp:Literal></div>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">A</td>
            </tr>
            <tr id="amortization_expense">
                <td valign="top" class="fieldLabel">
                    Amortization Expense
                </td>
                <td class="fieldValue">
                    The deduction of capital expenses over a specific period of time (usually over the asset's life).
                    More specifically, this method measures the consumption of the value of intangible assets, such as a patent or a copyright. While amortization and depreciation are often used interchangeably, technically this is an incorrect practice because amortization refers to intangible assets and depreciation refers to tangible assets.
                </td>
            </tr>
            <tr id="audit">
                <td valign="top" class="fieldLabel">
                    Audit-Annual Audit
                </td>
                <td class="fieldValue">                                          
                        Accountant Financial Statement.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">B</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">C</td>
            </tr>
            <tr id="cash">
                <td valign="top" class="fieldLabel">
                    Cash
                </td>
                <td class="fieldValue">
                    The total liquid reserve amount that are free of restrictions.
                </td>
            </tr>
            <tr id="current_asset">
                <td valign="top" class="fieldLabel">
                    Current Asset
                </td>
                <td class="fieldValue">
                    The sum of cash and cash equivalents, accounts receivable, inventory, marketable securities, prepaid expenses, and other assets that could be converted to cash in less than one year.
                </td>
            </tr>
            <tr id="current_liability">
                <td valign="top" class="fieldLabel">
                    Current Liability
                </td>
                <td class="fieldValue">
                    The company's debts or obligations that are due within one year.
                    Current liabilities appear on the company's balance sheet and include short term debt, accounts payable, accrued liabilities and other debts.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">D</td>
            </tr>
            <tr id="depreciation_expense">
                <td valign="top" class="fieldLabel">
                    Depreciation Expense
                </td>
                <td class="fieldValue">
                    Please provide the amount of asset depreciation amount for the current reporting period.
                    A method of allocating the cost of a tangible asset over its useful life. Businesses depreciate long-term assets for both tax and accounting purposes. Depreciation indicates how much of an asset’s value has been used up. For tax purposes, businesses can deduct the cost of the tangible assets they purchase as business expenses; however, businesses must depreciate these assets in accordance with IRS rules about how and when the deduction may be taken based on what the asset is and how long it will last.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">E</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">F</td>
            </tr>
            <tr id="fha_number">
                <td valign="top" class="fieldLabel">
                    FHA Number
                </td>
                <td class="fieldValue">
                    Eight-digit FHA Loan Number of the property, including the dashes (xxx-xxxxx).
                </td>
            </tr>
            <tr id="fha_insured_principal_payment">
                <td valign="top" class="fieldLabel">
                    FHA Insured Principal Payment
                </td>
                <td class="fieldValue">
                    The total FHA Principal paid in the financial reporting period.
                </td>
            </tr>
            <tr id="fha_insured_interest_payment">
                <td valign="top" class="fieldLabel">
                    FHA Insured Interest Payment
                </td>
                <td class="fieldValue">
                    The total FHA Interest paid in the financial reporting period.
                </td>
            </tr>
            <tr id="fha_mortgage_insurance_premium">
                <td valign="top" class="fieldLabel">
                    FHA Mortgage Insurance Premium
                </td>
                <td class="fieldValue">
                    The total FHA Premium paid in the financial reporting period.
                </td>
            </tr>
            <tr id="financial_statement_type">
                <td valign="top" class="fieldLabel">
                    Financial Statement Type501
                </td>
                <td class="fieldValue">
                    Audit - Prepared financial statement by an Accountant, with opinion.<br />
                    Certified - Prepared & signed by Project's CFO.<br/>
                    Other - Others.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" width="500">
            <tr>
                <td class="glossaryHeader" colspan="4">G</td>
            </tr>           
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" width="500">
            <tr>
                <td class="glossaryHeader" colspan="4">H</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">I</td>
            </tr>
            <tr id="investments">
                <td valign="top" class="fieldLabel">
                    Investments
                </td>
                <td class="fieldValue">
                    Provide the marketable security amount that are highly liquid.
                </td>
            </tr>           
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" width="500">
            <tr>
                <td class="glossaryHeader" colspan="4">J</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" width="500">
            <tr>
                <td class="glossaryHeader" colspan="4">K</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" width="500">
            <tr>
                <td class="glossaryHeader" colspan="4">L</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table id="ico_key" class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">M</td>
            </tr>            
            <tr id="months_in_period">
                <td valign="top" class="fieldLabel">
                    Months in Period
                </td>
                <td class="fieldValue">
                    The number of months included in the reporting period.
                </td>
            </tr>            
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">N</td>
            </tr>
            <tr id="net_accounts_receivable">
                <td valign="top" class="fieldLabel">
                    Net Accounts Receivable
                </td>
                <td class="fieldValue">
                    The amount of money owed by patients/residents (individuals or corporations) to another entity in exchange for goods or services that have been delivered or used, but not yet paid for.
                </td>
            </tr>
            <tr id="net_income">
                <td valign="top" class="fieldLabel">
                    Net Income
                </td>
                <td class="fieldValue">
                    The Total Income minus the Total Expenses for this facility.
                </td>
            </tr> 
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">O</td>
            </tr>
            <tr id="operator">
                <td valign="top" class="fieldLabel">
                    Operator
                </td>
                <td class="fieldValue">
                        Leases from Owner.               
                </td>
            </tr>
            <tr id="operator_owner">
                <td valign="top" class="fieldLabel">
                    Operator Type
                </td>
                <td class="fieldValue">
                    Operator - Lessee (leases facility from owner, pays rent).<br />
                    Operator/Owner - Owner operated.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">P</td>
            </tr>
            <tr id="period_ending">
                <td valign="top" class="fieldLabel">
                    Period Ending
                </td>
                <td class="fieldValue">
                    The reporting fiscal period end date (MM/DD/YYYY).
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">Q</td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">R</td>
            </tr>
            <tr id="rent_lease_expense">
                <td valign="top" class="fieldLabel">
                    Rent/Lease Expense
                </td>
                <td class="fieldValue">
                    The rental payment amount on the assets paid by the Operator to the owner, to pay off the mortgage.
                </td>
            </tr>
            <tr id="reserve_for_replacement_escrow_balance">
                <td valign="top" class="fieldLabel">
                    Reserve for Replacement Escrow Balance
                </td>
                <td class="fieldValue">
                    The HUD required Reserves for Replacement Balance.
                </td>
            </tr>
            <tr id="reserve_for_replacement_deposit">
                <td valign="top" class="fieldLabel">
                    Reserve for Replacement Deposit
                </td>
                <td class="fieldValue">
                    The total HUD required Reserve for Replacement deposit amount for the financial reporting period.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">S</td>
            </tr>
            <tr id="servicer_id">
                <td valign="top" class="fieldLabel">
                    Servicer ID
                </td>
                <td class="fieldValue">
                        Enter the five-digit FHA Servicer Number.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">T</td>
            </tr>
            <tr id="total_expenses">
                <td valign="top" class="fieldLabel">
                    Total Expenses
                </td>
                <td class="fieldValue">
                    The total expense amount for this facility.
                </td>
            </tr>
            <tr id="total_revenues">
                <td valign="top" class="fieldLabel">
                    Total Revenues
                </td>
                <td class="fieldValue">
                    Please provide the total Operating Revenue plus the Other Revenue amounts.
                </td>
            </tr>
        </table>

        <p>&nbsp;</p>

        <table class="hudGlossary" cellspacing="0" cellpadding="3" border="0" style="width: 100%;">
            <tr>
                <td class="glossaryHeader" colspan="2">U</td>
            </tr>
            <tr id="units">
                <td valign="top" class="fieldLabel">
                    Units
                <td class="fieldValue">
                    The total number of units in the facility.
                </td>
            </tr>
        </table>
    <!--Make anchor scroll to top, add additional height-->
        <div style="height:600px;"></div>
    </div>

