﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@

<div class="row">
    <span class="col-md-3 text-right ">
        @Html.Label("Ticket Status")
    </span>
    <span class="col-md-3 required">
        @Html.Label("Ticket Category")
    </span>
    <span class="col-md-3 text-right ">
        @Html.Label("Ticket Owner")
    </span>
    <span class="col-md-3 required">
       
    </span>
</div>
<div class="row">
    <span class="col-md-3 text-right ">
        
    </span>
    <span class="col-md-3 required">
        @*@Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, "Select Issue Type", new { @id = "category" })*@
    </span>
    <span class="col-md-3 text-right ">
        @Html.TextBox("ticketowner")
    </span>
    <span class="col-md-3 required">
        <input id="butnSubmit" type="submit" name="agreeOrNot" value="Submit">
    </span>
</div>


