﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@

<div class="row">
    <span class="col-md-3 text-right ">
        @Html.Label("Ticket Status")
    </span>
    <span class="col-md-3 required">
    @if (Model.TICKET_ID <= 0)
    {
        @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status", @disabled = "disabled" })
    }
    else if(Model.IS_HELPDESK_USER != true)
    {
            @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status", @disabled = "disabled" })
    }
    else if (Model.IS_HELPDESK_USER == true)
    {
        @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status" })
    }
    </span>
    <span class="col-md-3 text-right ">

    </span>
@if (Model.TICKET_ID <= 0)
{
    <span class="col-md-3 required">
        <input id="butnSubmit" type="submit" name="agreeOrNot" value="Submit">
    </span>
}
@if (Model.IS_HELPDESK_USER == true && Model.TICKET_ID > 0 && Model.STATUS != 3)
{
    <span class="col-md-3 required">
        <input id="butnSubmit" type="submit" name="agreeOrNot" value="Update">
    </span>
}
    <span class="col-md-3 required">
        <button type="button" style="color:red;" class="close" data-dismiss="modal">Close</button>
    </span>
</div>

<script type="text/javascript">
    function closeWin()
    {
        window.close();alert();
    }
</script>