﻿@model IList<HD_TICKET_ViewModel>


<script type="text/javascript">
    $(document).ready(
function () {
    styleGrid();
});

    function styleGrid() {
        $('.webGrid .color').each(function (index, element) { $(element).parent().css('background-color', $(element).html()); });
    }

    function openPopupLink(tempData, paramId) {
        tempData = paramId;
        $('#dialogCommon').dialog('open');
        return false;
    }
</script>
@{
    var grid = new WebGrid(Model, canPage: true, rowsPerPage: 12,
        selectionFieldName: "selectedRow",
        ajaxUpdateContainerId: "gridContent",
        ajaxUpdateCallback: "styleGrid");
    //grid.Pager(WebGridPagerModes.NextPrevious);
}
<div id="gridContent">
    @{
        var gridColumns = new List<WebGridColumn>();
        gridColumns.Add(grid.Column("TICKET_ID", "TICKET ID"));
        gridColumns.Add(grid.Column("Numberofdays", "Number Of Days"));
        gridColumns.Add(grid.Column("Numberofweeks", "Number Of Weeks"));
        gridColumns.Add(grid.Column("STATUS", "Status"));
        gridColumns.Add(grid.Column("CREATED_ON", "FromDate"));
        gridColumns.Add(grid.Column("LAST_MODIFIED_ON", "ToDate"));
    }
    @if (Model.Count >0)
    {
        @grid.GetHtml(tableStyle: "webGrid",
            headerStyle: "header_row",
            rowStyle: "item_row",
            alternatingRowStyle: "item_alt_row",
            selectedRowStyle: "select",
            //displayHeader: Model.Count > 0 ? true : false,
            mode: WebGridPagerModes.All,
            firstText: "<< First",
            previousText: "< Prev",
            nextText: "Next >",
            lastText: "Last >>",
            columns: gridColumns.ToArray())
    }
</div>
