﻿
@model HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "Help Desk Reports";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-multiSelect/jquery.multiselect.js"></script>



@*<style>
        .modal-content{
            width:1300px;
            height:470px;
            position:center;
             left: 0px;
            top: 0px;
              right: 0px;

        }
        .modal-dialog{
           display:block;
           height:100%;
           width:100%;
           position:center;
           top:0;
           bottom:0;
           left:0;
           right:0;


        }

        #modalbody {
            position: center;
            left: 0px;
            top: 0px;
            width: 300%;
            height: 150%;
            right: 0px;
        }

    </style>*@
<style>
    #modalbody {
        position: center;
        left: 0px;
        top: 0px;
        width: 300%;
        height: 150%;
        right: 0px;
    }

    #modelContent {
        position: center;
        left: 0px;
        top: 0px;
        width: 150%;
        height: 150%;
        right: 0px;
    }

    #btnproceed {
        text-align: center;
        width: 100%;
        color: white;
    }

    .close {
        color: #0C1D7D;
    }

    .modal-dialog {
        display: block;
        height: 60%;
        width: 55%;
        position: center;
    }

    .modal-header {
        color: #0C1D7D;
    }

    h4 {
        color: #0C1D7D;
        font-size: large;
    }
    input{
        text-align: center;
    }
</style>
<h5>SEARCH By Options:</h5>
@using (Html.BeginForm("SearchHelpDeskTicket", "HelpDesk", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container" style="width:1259px; border:groove;">
        <div class="row">
            <div class="col-sm-2" style="margin-right: -109px;margin-top: 25px;">
                <label>Status type </label>
            </div>
            <span class="col-md-3 text-left" style="margin-top:24px;margin-left:-2px">
                @Html.ListBox("lstIssue", Model.TicketStatusList, new { multiple = "multiple", name = "lstIssue",@style= "width:212px" })
            </span>
            @*Siddesh*@
           
            <div class="col-sm-2" style="margin-left: 44px;margin-top: 25px;">

                <label>HelpDesk Name </label>
            </div>
            @*Siddesh 11/10/2019 (added default select value)*@
            <div class="col-sm-2" >
                <div class="input-group" style="margin-left:-111px;">
                    @Html.DropDownListFor(model => model.ASSIGNED_TO_USERNAME, Model.TicketHelpdesknameList, "Select HelpDesk Name", new
               {
                   @id = "HelpDeskName",
                   @style = "width: 222px; margin-top:26px;margin-left:43px;"
               })
                </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-2  " style="margin-left: 14px;margin-top: 25px; ">

                    @Html.Label("Date From", new { @class = "required" ,@style= "margin-left: -12px;" })
                </div>
                <div class="col-md-2" style="margin-left:-127px;margin-top: 20px;">
                    @*@Html.TextBoxFor(m => m.REPORT_START_DATE, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "FromDate" })*@
                    @Html.TextBoxFor(m => m.REPORT_START_DATE, "{0:MM/dd/yyyy}" , new { placeHolder = "MM/DD/YYYY",@style= "width: 255px;", @class = "form-control datepicker", id = "FromDate" })
                </div>
                <div class="col-md-2 " style="margin-left: 87px;margin-top: 25px;">
                    @Html.Label("Date To", new { @class = "required" ,@style = "margin-left:65px;" })
                </div>
                <div class="col-md-2" style="margin-left:-3px;margin-top: 20px;width: 252px;">
                    @*@Html.TextBoxFor(m => m.REPORT_START_DATE, "{0:MM/dd/yyyy}", new { @class = "form-control datepicker", id = "FromDate" })*@
                    @Html.TextBoxFor(m => m.REPORT_END_DATE, "{0:MM/dd/yyyy}", new { placeHolder = "MM/DD/YYYY", @class = "form-control datepicker", id = "ToDate" })
                </div>
            </div>
        <div class="col-sm-2" style="margin-left:866px; margin-top: -37px;">
            <div class="input-group">
                <span class="button">
                    <input type="button" class="btn btn-default" value="Search" onclick="HelpDeskReportsFilterResults()" />
                </span>
                <span class="button">
                    <input type="button" class="btn btn-default" value="Reset" onclick="HelpDeskReportsResetFilterResults()" />
                </span>
            </div>
        </div>
        @*<span class="col-md-10">
                <i>
                    Click <a href="/HelpDesk/HelpDesk_Upload_Template" style="text-decoration:underline;">here</a>
                    to download the Help Desk Reports.
                </i>
            </span>*@
        @*written by siddesh 28082019   #344 *@
        <div class="row" style="margin-left:20px;width: 1200px;">
            <span style="float: right; margin-left: 80px">
                <a id="ExclIcon" class="excelExport" href="@Url.Action("ExportUploadStatusHelpdeskreports", "HelpDesk")"><img alt="Export to Excel" src="/Images/icon_excelBg.jpg"></a>

            </span>

        </div>
    </div>
}
<div>
    <table id="HelpDeskReportGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#FromDate').val('');
        $('#ToDate').val('');
        $("#HelpDeskReportGrid").jqGrid({
            url: "/HelpDesk/GetHelpdeskReportsView",
                datatype: "json",
                colNames: ['TICKET ID', 'Number Of Days', 'Number Of Weeks', 'Status', 'FromDate', 'ToDate', 'HELP DESK NAME'],
                colModel: [
                { Key: false, name: 'TICKET_ID', index: 'TICKET_ID', editable: false},
            { Key: false, name: 'Numberofdays', index: 'Numberofdays', editable: false },
           { Key: false, name: 'Numberofweeks', index: 'Numberofweeks', editable: false},
          { Key: false, name: 'STATUS', index: 'Status', editable: false, },
           { Key: false, name: 'CREATED_ON', index: 'CREATED_ON', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
             { Key: false, name: 'LAST_MODIFIED_ON', index: 'LAST_MODIFIED_ON', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
                   { Key: false, name: 'Helpdesk_name', index: 'Helpdesk_name', editable: false },
                ],
                height:'100%',
                rowNum: 40,
                rowList: [40, 80, 120, 160, ],
                rownumbers: true,
                viewrecords: true,
                autowidth: true,
                autoencode: true,
                loadonce: true,
                sortable: true,
                sortable: 'STATUS',
                pager: true,
                pager: "#jqGridPager",
                caption: 'HelpDesk Reports',
                emptyrecords: 'No records to display',
                loadComplete: function () {
                    var $self = $(this);
                    if ($self.jqGrid("getGridParam", "datatype") === "json") {
                        setTimeout(function () {
                            $self.trigger("reloadGrid"); // Call to fix client-side sorting
                        }, 50);
                    }
                }
            });
        jQuery("#HelpDeskReportGrid").jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false });
         
        //$("LenderGroupTaskGrid").jqGrid('navGrid')
        // implemented by siddesh
                $("#lstIssue").multiselect({
                    noneSelectedText: 'Select Status', minWidth: 250
                                , selectedList: null
                                , selectedText: function (numChecked, numTotal) {
                                    var valSelected = $("#lstIssue").val();

                                    var aeSelected = numChecked == numTotal ? 'All' : numChecked;
                                    return 'Status (' + aeSelected + ')';
                                    //numChecked + ' of ' + numTotal + ' Request types selected';
                                }
                });
            });

            function getKPIParameters() {

            }

            // Implemented by hareesh
            function HelpDeskReportsFilterResults() {
                // Implemented by Siddesh
                var listBoxToString = function (listBox, all) {
                    if (typeof listBox === "string") {
                        listBox = document.getElementById(listBox);
                    }

                    if (listBox == null) { return ""; }

                    if (!(listBox || listBox.options)) {
                        throw Error("No options");
                    }
                    var options = [], opt;
                    for (var i = 0, l = listBox.options.length; i < l; ++i) {
                        opt = listBox.options[i];
                        if (all || opt.selected) {
                            options.push(opt.value);
                        }
                    }
                    return options.join(",");
                };
               var statuscheckbox = listBoxToString('lstIssue', false);
                $("#HelpDeskReportGrid").jqGrid('setGridParam', {
                    url: '@Url.Action("GetHelpdeskReportsViews", "HelpDesk")',
                    datatype: 'json',
                    postData: { "Status": statuscheckbox, "categorytype": $('#categorytype').val(), "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val(), "HelpDeskName": $('#HelpDeskName').val() }
                   // postData: { "Status":  $('#issuetype').val(), "categorytype": $('#categorytype').val(), "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val() }
                }).trigger('reloadGrid');
              $("#lstIssue").multiselect("refresh");

            }
    //written by siddesh  19092019 #365
    function ExportUploadStatusHelpdeskreports() {

        // Implemented by Siddesh
        var listBoxToString = function (listBox, all) {
            if (typeof listBox === "string") {
                listBox = document.getElementById(listBox);
            }
            if (listBox == null) { return ""; }
            if (!(listBox || listBox.options)) {
                throw Error("No options");
            }
            var options = [], opt;
            for (var i = 0, l = listBox.options.length; i < l; ++i) {
                opt = listBox.options[i];
                if (all || opt.selected) {
                    options.push(opt.value);
                }
            }
            return options.join(",");
        };
        var statuscheckbox = listBoxToString('lstIssue', false);

        //var datapost = { "Status": $("#issuetype option:selected").text(), "categorytype": $('#categorytype').val(), "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val() };
        var datapost = "Status=" + statuscheckbox + "&FromDate=" + $('#FromDate').val() + "&ToDate=" + $('#ToDate').val();
        return "/HelpDesk/ExportUploadStatusHelpdeskreports/?"+ datapost;
        //$.ajax({
        //    url:"/HelpDesk/ExportUploadStatusHelpdeskreports",
        //    data: datapost,
        //    dataType: 'json',
        //    async: false,
        //    type: 'POST',
        //    success: function (response) {
        //        alert('s');
        //    },
        //    error: function (error) {
        //        //alert(error);
        //    }
        //});

    }
            // Implemented by hareesh
    function HelpDeskReportsResetFilterResults() {

        $('.ui-multiselect-none').click();
                $('#FromDate').val('');
                $('#ToDate').val('');
                var dropDown = document.getElementById("HelpDeskName");
                dropDown.selectedIndex = 0;
                // $('#lstIssue').val();
               // $("#lstIssue option").remove();
                $("#HelpDeskReportGrid").jqGrid('setGridParam', {
                    url: '@Url.Action("GetHelpdeskReportsViews", "HelpDesk")',
                    datatype: 'json',
                    postData: { "Status": '', "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val(), "HelpDeskName": $('#HelpDeskName').val() }
                }).trigger('reloadGrid');
            }
</script>

<script>
            $(document).ready(function () {
                //alert(@ViewData["ReportStartDate"]);
                $('#FromDate').datepicker();
                $('#ToDate').datepicker();
            });
</script>
