﻿
@model HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "Help Desk View";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
<link href="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script type="text/javascript" src="~/Content/themes/redmond/jquery-ui-1.12.1.custom/jquery-ui.js"></script>

<style>
    #page-loader {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 10000;
display: none;
text-align: center;
width: 100%;
padding-top: 25px;
 background-color: rgba(0,0,0,.5);
  


}
    h3{
        color:white;
        font-size: xx-large;
    }
</style>

<style>
    #modalbody {
        position: center;
        left: 0px;
        top: 0px;
        width: 300%;
        height: 170%;
        right: 0px;
    }


    .modal-body{
        max-height: 400px;
       overflow-y: auto;
       overflow-x: auto;
       padding-right: 20px;
    }
    #modelContent {
        position: center;
        left: 0px;
        top: 0px;
        width: 350%;
        height: 350%;
        right: 0px;
    }

    #btnproceed {
        text-align: center;
        width: 100%;
        color: white;
    }

    .close {
        color: #0C1D7D;
    }

    .modal-dialog {
        display: block;
        height: 60%;
        width: 55%;
        position: center;
    }

    .modal-header {
        color: #0C1D7D;
    }

    h4 {
        color: #0C1D7D;
        font-size: large;
    }
</style>
<h5>SEARCH By Options:</h5>
@using (Html.BeginForm("SearchHelpDeskTicket", "HelpDesk", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-2">
            <label>Status type</label>
        </div>
        <div class="col-sm-2">
            <div class="input-group"  style="margin-left: -104px;" >
                @Html.DropDownListFor(model => model.ISSUE, Model.TicketStatusList, "Select Status Type", new { @id = "issuetype", @style = "width: 201px;" })
            </div>
        </div>
        <div class="col-sm-2">
            <label>Category type</label>
        </div>
        @*Naveen 30/08/2019 (added default select value and width)*@
        <div class="col-sm-2">
            <div class="input-group" style="margin-left: -88px;">
                @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, "Select Category Type", new { @id = "categorytype", @style = "width: 201px;" })
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-2" >
            <label>Priority</label>
        </div>
        @*Naveen 30/08/2019 (added default select value)*@
        <div class="col-sm-2">
            <div class="input-group"style="margin-left: -104px;" >
                @Html.DropDownListFor(model => model.PRIORITY, Model.TicketPriorityList, "Select Priority", new { @id = "Priority" , @style = "width: 201px;" })
            </div>
        </div>

        <div class="col-sm-2">
            <label>Ticket Id</label>
        </div>
        <div class="col-sm-2"style="margin-left: -88px;">
            @*Naveen 30/08/2019 (added Placeholder)*@
            <div class="input-group"style="width:180px;">
                @Html.TextBox("ticketid", null, new { @style = "width: 202px;height: 22px;", @placeholder = "Ticket Id" })
                @*@Html.DropDownListFor(model => model.TICKET_ID, Model.TicketPriorityList, "Select Status Type", new { @id = "Ticketid" })*@
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2" >
            <label>From Date</label>
        </div>
        <div class="col-sm-2">
            @*Naveen 30/08/2019 (added Placeholder)*@
            <div class="input-group"style="margin-left: -104px;">
                @Html.TextBox("FromDate", null, new { placeHolder = "MM/DD/YYYY", @class = "datepicker", @style = "width: 201px;height: 22px;" })
                @*@Html.TextBox("ticketid", null, new { @style = "width: 141px;height: 22px;", @placeholder = "Ticket id" })*@
            </div>
        </div>
        <div class="col-sm-2">
            <label>To Date</label>
        </div>
        <div class="col-sm-2">
            @*Naveen 30/08/2019 (added Placeholder)*@
            <div class="input-group"style="margin-left: -88px;">
                @Html.TextBox("ToDate", null, new { placeHolder = "MM/DD/YYYY", @class = "datepicker", @style = "width: 202px;height: 22px;" })
                @*@Html.TextBox("ticketid", null, new { @style = "width: 141px;height: 22px;", @placeholder = "Ticket id" })*@
            </div>
        </div>

    </div>
        <div class="row">
            <div class="col-sm-2">
                <label>User Name</label>
            </div>
            @*Naveen 30/08/2019 (added default select value)*@
            <div class="col-sm-2">
                <div class="input-group"style="margin-left: -104px;">
                    @Html.DropDownListFor(model => model.CREATED_BY_USERNAME, Model.TicketUsernameList, "Select User Name", new { @id = "UserName",
                   @style = "width: 202px;" })
                </div>
            </div>

            <div class="col-sm-2">
                <label>HelpDesk Name</label>
            </div>
            @*Siddesh 11/10/2019 (added default select value)*@
            <div class="col-sm-2">
                <div class="input-group" style="margin-left: -88px;">
                    @Html.DropDownListFor(model => model.ASSIGNED_TO_USERNAME, Model.TicketHelpdesknameList, "Select HelpDesk Name", new
               {
                   @id = "HelpDeskName",
                   @style = "width: 202px;"
               })
                </div>
            </div>
            <div class="col-sm-2" style="margin-left: -5px;">
                <div class="input-group">
                    <span class="button">
                        <input type="button" class="btn btn-default" value="Search" onclick="FilterResults()" />
                    </span>
                    <span class="button">
                        <input type="button" class="btn btn-default" value="Reset" onclick="ResetFilterResults()" />
                    </span>
                </div>
            </div>
        </div>
        <div id="page-loader">
            <h3>Loading...</h3>
        </div>
        @*<div class="text-center">
            <div class="page-loader" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@
    //Naveen 28 - 08

}


<div>
    <table id="LenderGroupTaskGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //debugger
        $("#LenderGroupTaskGrid").jqGrid({
            url: "/HelpDesk/GetTicketsData",
            datatype: 'json',
            mtype: "GET",

            colNames: ['TICKET ID', 'STATUS', 'ISSUE TITLE', 'PRIORITY', 'CATEGORY', 'SUB CATEGORY', 'USER NAME', 'CREATED DATE', 'ASSIGNED DATE', 'HELP DESK NAME', 'DAYS OPENED'],
            colModel: [
                // { Key: false, name: 'TICKET_ID', index: 'TICKET_ID', editable: false },
              {
                  name: "TICKET_ID", index: "TICKET ID", width: 100, align: 'left', sortable: true, type: 'link', 
                  cellattr: function (cellvalue, options, rowObject) {
                      if (rowObject.TICKET_ID != null) {

                          return ' style=" text-decoration: underline;Color:blue"';
                      }
                  },
                  formatter: function (cellvalue, options, rowObject) {
                      if (rowObject.TICKET_ID == null) {
                          return " "
                      }
                      else {
                          return '<a href="#" onclick="createModal(' + rowObject.TICKET_ID + ')" style=" text-decoration: underline;Color:blue"   >' + rowObject.TICKET_ID + '</a>';
                      }
                  }

              },
                {
                    name: 'STATUS', index: 'STATUS', width: 100,sortable:true,
                    align:'center',
                    editable:true,
                    cellEdit: true,
                    edittype: 'select',
                    formatter: 'select',
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.STATUS === 0) {
                            return cellvalue = "OPEN"
                        }
                        if (rowObject.STATUS === 1) {
                            return cellvalue = "INPROGRESS"
                        }
                        else if (rowObject.STATUS === 2) {
                            return cellvalue = "REJECTED"
                        }
                        else if (rowObject.STATUS === 3) {
                            return cellvalue = "CLOSED"
                        }
                        else if (rowObject.STATUS === 4) {
                            return cellvalue = "RESOLVED"
                        }
                            //Added by siddu@02122019
                        else if (rowObject.STATUS === 5) {
                            return cellvalue = "REQUIRED ADDITIONAL INFORMATION"
                        }
                            //Added by siddu@02122019
                        else if (rowObject.STATUS === 6) {
                            return cellvalue = "DEVELOPMENT"
                        }
                    }
                },
                { Key: false, name: 'ISSUE', index: 'ISSUE', editable: false }
                ,

                {
                    name: 'PRIORITY', index: 'PRIORITY', width: 90,
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.PRIORITY === 1) {
                            return cellvalue = "Blocker"
                        }
                        else if (rowObject.PRIORITY === 2) {
                            return cellvalue = "Critical"
                        }
                        else if (rowObject.PRIORITY === 3) {
                            return cellvalue = "High"
                        }
                        else if (rowObject.PRIORITY === 4) {
                            return cellvalue = "Medium"
                        }
                        else if (rowObject.PRIORITY === 5) {
                            return cellvalue = "Low"
                        }
                        else {
                            return cellvalue = ""
                        }
                    }
                }
                // ,
                //{
                //    name: 'CATEGORY', index: 'CATEGORY', width: 90,
                //    formatter: function (cellvalue, options, rowObject) {
                //        if (rowObject.CATEGORY === 1) {
                //            return cellvalue = "Data Issue"
                //        }
                //        if (rowObject.CATEGORY === 2) {
                //            return cellvalue = "Technical"
                //        }
                //        else if (rowObject.CATEGORY === 3) {
                //            return cellvalue = "Functional"
                //        }
                //    }
                //}
                ,
                { Key: false, name: 'CATEGORY_TEXT', index: 'CATEGORY_TEXT', editable: false }

                //,                 
                //{
                //    name: 'SUBCATEGORY', index: 'SUBCATEGORY', width: 100,
                //    formatter: function (cellvalue, options, rowObject) {
                //        if (rowObject.CATEGORY === 1) {
                //            return cellvalue = "Production"
                //        }
                //        if (rowObject.CATEGORY === 2) {
                //            return cellvalue = "Asset Mngmt"
                //        }
                //        else if (rowObject.CATEGORY === 3) {
                //            return cellvalue = "Reports"
                //        }
                //    }
                //}

                 ,
                { Key: false, name: 'SUBCATEGORY_TEXT', index: 'SUBCATEGORY_TEXT', editable: false }

                ,
                { Key: false, name: 'CREATED_BY_USERNAME', index: 'CREATED_BY_USERNAME', width:170, editable: false },
                { Key: false, name: 'CREATED_ON', index: 'CREATED_ON', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
                { Key: false, name: 'ASSIGNED_DATE', index: 'ASSIGNED_DATE', editable: false, formatter: 'date', formatoptions: { newformat: 'm/d/Y h:i A' } },
                { Key: false, name: 'ASSIGNED_TO_USERNAME', index: 'ASSIGNED_TO_USERNAME', editable: false },
                { Key: false, name: 'OPENEDDAYS', index: 'OPENEDDAYS', editable: false }
            ],
            rowNum: 40,
            rowList: [40, 80, 120, 160, 200],
            pager: '#jqGridPager',
            //rowNum: 100,
            //rowList: [100, 200, 300, 400],
            height: '100%',
            viewrecords: true,
            sortable: true,
            rownumbers: true,
            caption: 'Help Desk',
            sortable: 'STATUS',
            sortable: 'TICKET_ID',
            emptyrecords: 'No records to display',
            jsonReader: {
                root: "rows",
                page: "page",
                total: "total",
                records: "records",
                repeatitems: false
                //Id: "0"
            },
            loadComplete: function () {
                //debugger;
            },
            loadError: function (xhr, status, error) {
                // debugger;

            },
            autowidth: true,
            multiselect: false
            // }).navGrid('#pager', { edit: false, add: false, del: false, search: false, refresh: false },
        });
        jQuery("#LenderGroupTaskGrid").jqGrid('navGrid', '#jqGridPager', { edit: false, add: false, del: false, search: false });

 // {
      ////Delete options
      //zIndex: 100,
      //url: '/TodoList/Delete',
      //closeOnEscape: true,
      //CloseAfterEdit: true,
      //recreateForm: true,
      //msg: "Are you sure you want to delete this task?",
      //afterComplete: function (response) {
      //    if (response.responseText) {
      //        alert(response.responseText);
      //    }

      //}
 // });
        //$("LenderGroupTaskGrid").jqGrid('navGrid')

    });

    function getKPIParameters()
    {

    }
// Implemented by hareesh
    function FilterResults() {
              $("#LenderGroupTaskGrid").jqGrid('setGridParam', {
            url: '@Url.Action("GetTicketsData", "HelpDesk")',
            datatype: 'json',
            postData: { "status": $('#issuetype').val(), "categorytype": $('#categorytype').val(), "Priority": $('#Priority').val(), "ticketid": $('#ticketid').val(), "UserName": $('#UserName').val(), "FromDate": $('#FromDate').val(), "ToDate": $('#ToDate').val(), "HelpDeskName": $('#HelpDeskName').val() }
    }).trigger('reloadGrid');

    }
    // Implemented by hareesh
    function ResetFilterResults()
    {
        $("#LenderGroupTaskGrid").jqGrid('setGridParam', {
            url: '@Url.Action("GetTicketsData", "HelpDesk")',
            datatype: 'json',
            postData: { "status": '', "categorytype": '', "Priority": '', "UserName": '', "ticketid": '', "FromDate": '', "ToDate": '', "HelpDeskName": '' }
        }).trigger('reloadGrid');

        var dropDown = document.getElementById("issuetype");
        dropDown.selectedIndex = "Select Status Type";
        var dropDown = document.getElementById("categorytype");
        dropDown.selectedIndex = "Select Category Type";
        var dropDown = document.getElementById("Priority");
        dropDown.selectedIndex = "Select Priority Type";
        var dropDown = document.getElementById("UserName");
        dropDown.selectedIndex = "Select User Name";
        var dropDown = document.getElementById("HelpDeskName");
        dropDown.selectedIndex = "Select HelpDesk Name";
        var tktid = document.getElementById("ticketid");
        tktid.value = '';
        document.getElementById("FromDate").value = '';
        document.getElementById("ToDate").value = '';

    }
</script>

<div class="modal fade -modal-xl" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document"style="width:1200px;height:600px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="id=" myModalLabel">View Ticket</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@* Hareesh commented *@
@*<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="position:fixed; width:768px;">

        <div class="modal-content" id="modelContent">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="myModalLabel">View Ticket</h4>
            </div>
            <div class="modal-body" id="modalbody">

            </div>

            <div class="modal-footer">
                    <button type="button" id="btnproceed"  class="btn btn-primary" data-dismiss="modal">Proceed</button>
                </div>

        </div>
    </div>
</div>*@


<script>
    function createModal(ticketid) {
        $("#page-loader").show();
        var url = '/HelpDesk/GetTicketIDForDetails/?id=' + ticketid;
        window.location.href = url;

    }


    $(document).ready(function () {
        //alert(@ViewData["ReportStartDate"]);
        $('#FromDate').datepicker();
        $('#ToDate').datepicker();
    });

</script>
