﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "CreateTicket";
}

@*Styles*@
<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }


    #recsteps {
         max-height:20px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
      
    }
    #issuedesc{
         max-height:50px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>



@using (Html.BeginForm("SubmitForm", "HelpDesk", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div>
        <section id="helpdeskform" style="width: 1200px; height: 350px;">
            <div class="container-fluid">
                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("FHA  Number")
                    </span>
                    <span class="col-md-2">
                        @Html.TextBoxFor(m => m.FHANumber, new { @id = "helpdeskFHANumbers", @class = "updateableFields", maxlength = 9, minlength = 9 })
                        @* <input type="text" id="helpdeskFHANumbers" value="@Model.FHANumber"  />*@
                        @* @Html.HiddenFor(m => m.FHANumber, new { id = "txtFhanumber", maxlength = 9, minlength = 9 })*@
                    </span>
                </div>

                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("Project Number")
                        @* @Html.Label("*", new { style = "color: red;" })*@
                    </span>
                    <span class="col-md-2 required">
                        @Html.TextBoxFor(m => m.PropertyId, new { id = "txtPropertyId1" })
                        @* @Html.ValidationMessageFor(m => m.PropertyId)*@
                    </span>
                </div>

                <div class="row">
                    <span class="col-md-2 text-right">
                        @Html.Label("Property Name")
                    </span>
                    <span class="col-md-2 required">
                        @Html.TextBoxFor(m => m.PropertyName, new { id = "txtPropertyName", title = "Property Name" })
                        @Html.ValidationMessageFor(m => m.PropertyName)
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Ticket ID")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.TICKET_ID, new { @id = "ticketid", name = "ticketid", @readonly = "readonly" })</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Created By")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_BY_USERDISPLAYNAME, new { @id = "createdbyfullname", name = "createdbyfullname", @readonly = "readonly" })</div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Ticket Title", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ISSUE, new { @id = "title", name = "title", @readonly = "readonly" })</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Creator Contact")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_BY_USERNAME, new { @id = "createdusername", name = "createdon", @readonly = "readonly" })</div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Category Type", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, new { @readonly = "readonly", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Created On")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.CREATED_ON, new { @id = "createdon", name = "createdon", @readonly = "readonly" })</div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Sub Category Type", new { @class = "required" })</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.SUBCATEGORY, Model.TicketSubCategoryList, new { @readonly = "readonly", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Priority")</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.PRIORITY, Model.TicketPriorityList, "NA", new { @id = "priority" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label(" Action Type")</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.ONACTION, Model.TicketOnActionList, new { @readonly = "readonly", @disabled = "disabled" })
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Assigned To")</div>
                    <div class="col-sm-2" align="left">
                        @Html.DropDownListFor(model => model.ASSIGNED_TO, Model.TicketAsigneeList, "Select HelpDesk Assignee", new { @id = "assignedto", @readonly = "readonly", @disabled = "disabled" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Last Modified Date")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.LAST_MODIFIED_ON, new { @id = "lastmodifiedon", name = "lastmodifiedon", @readonly = "readonly" })</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2" align="right">@Html.Label("Assigned Date")</div>
                    <div class="col-sm-2" align="left">@Html.TextBoxFor(m => m.ASSIGNED_DATE, new { @id = "assigneddate", name = "assigneddate", @readonly = "readonly" })</div>
                </div>
                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Re-creation Steps", new { @class = "required" })</div>
                    <div class="col-sm-4" align="left">@Html.TextAreaFor(m => m.RECREATION_STEPS, new { @id = "recsteps", style = "margin: 0px;height: 103px;", @readonly = "readonly" })</div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-1" align="left">
                        <div class="editor-field1">
                            @Html.TextAreaFor(m => m.CONVERSATION, new { @id = "comments", style = "margin: 0px;height: 103px;width:300px;font-size:smaller;", @readonly = "readonly" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Issue Description", new { @class = "required" })</div>
                    <div class="col-sm-4" align="left">@Html.TextAreaFor(m => m.DESCRIPTION, new { @id = "issuedesc", style = "margin: 0px;height: 103px;", @readonly = "readonly" })</div>
                    <div class="col-sm-1">                    </div>
                    <div class="col-sm-1" align="left">
                        <div class="editor-field">
                            @Html.TextBoxFor(m => m.USERCOMMENTS, new { @id = "usercomments", style = "font-size:smaller;", name = "usercomments", placeholder = "HUD Admin comments here!" })
                        </div>
                    </div>
                </div>


                @*<div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("File Attachments")</div>
                    <div class="col-sm-5" align="left" style="text-decoration:underline">

                    </div>
                </div>*@

                @*Added by hareesh and naveen*@

                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Attachments and/or Screenshots")</div>
                    <div class="col-sm-7" align="left" style="text-decoration:underline">
                        <div class="col-pull-7">
                            <table width="100%">
                                <tr>
                                    @if (Model.File1 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File1" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File1" onclick="document.getElementById('file_File1').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File1" value="Remove File" style="color:white;" />
                                            @*<button type="button" class="DeleteClass" id="Deletefile_File1"  style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File1" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>
                                    }
                                    @if (Model.File1 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File1, "DownloadTaskFile", new { taskInstanceId = Model.File1, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;width:300px;" })
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.File2 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File2" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File2" onclick="document.getElementById('file_File2').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File2" value="Remove File" style="color:white;" />
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File2" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>
                                    }
                                    @if (Model.File2 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File2, "DownloadTaskFile", new { taskInstanceId = Model.File2, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;width:300px;" })
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.File3 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File3" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File3" onclick="document.getElementById('file_File3').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File3" value="Remove File" style="color:white;" />
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File3" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>
                                    }
                                    @if (Model.File3 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File3, "DownloadTaskFile", new { taskInstanceId = Model.File3, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                                        </td>
                                    }
                                </tr>

                                <tr>
                                    @if (Model.File4 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File4" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File4" onclick="document.getElementById('file_File4').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File4" value="Remove File" style="color:white;" />
                                            @*<button type="button" class="DeleteClass" id="Deletefile_File1"  style="width: 100px !important; padding: 5px !important;">Remove File</button>*@
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File1" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>
                                    }
                                    @if (Model.File4 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File4, "DownloadTaskFile", new { taskInstanceId = Model.File4, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.File5 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File5" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File5" onclick="document.getElementById('file_File5').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File5" value="Remove File" style="color:white;" />
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File2" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>

                                    }
                                    @if (Model.File5 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File5, "DownloadTaskFile", new { taskInstanceId = Model.File5, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;width:300px;" })
                                        </td>
                                    }
                                </tr>
                                <tr>
                                    @if (Model.File6 == null && Model.STATUS <= 6)
                                    {
                                        <td width="150px">
                                            <input class="fileClass" id="file_File6" type="file" style="display: none;">
                                            <input type="text" class="btn btn-primary" value="Attach File" id="txt_file_File6" onclick="document.getElementById('file_File6').click();" />
                                        </td>
                                        <td>
                                            <input type="button" class="DeleteClass" id="Deletefile_File6" value="Remove File" style="color:white;" />
                                            @*<a href="#" class="DeleteClass" id="Deletefile_File3" style="font-size:x-small;color:red;text-align:right;display: none;">Delete</a>*@
                                        </td>
                                    }
                                    @if (Model.File6 != null)
                                    {
                                        <td>
                                            @Html.ActionLink(Model.File6, "DownloadTaskFile", new { taskInstanceId = Model.File6, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;width:300px;" })
                                        </td>
                                    }
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="row">
                    @if (Model.File1 != null)
                    {
                        <div class="col-sm-2" align="right">#1</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File1, "DownloadTaskFile", new { taskInstanceId = Model.File1, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                    }
                </div>

                <div class="row">
                    @if (Model.File2 != null)
                    {
                        <div class="col-sm-2" align="right">#2</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File2, "DownloadTaskFile", new { taskInstanceId = Model.File2, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                    }
                </div>
                <div class="row">
                    @if (Model.File3 != null)
                    {
                        <div class="col-sm-2" align="right">#3</div>
                            <div class="col-sm-5" align="left" style="text-decoration:underline">
                                @Html.ActionLink(Model.File3, "DownloadTaskFile", new { taskInstanceId = Model.File3, ticketid = Model.TICKET_ID }, new { style = "text-decoration:underline;" })
                            </div>
                    }
                </div>



                <div class="row">
                    <div class="col-sm-2" align="right">@Html.Label("Query Status")</div>
                    <div class="col-sm-5" align="left">
                        @Html.DropDownListFor(m => m.STATUS, Model.TicketStatusList, "Ticket Status", new { @id = "status" })
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4" align="left">
                        <input id="butnSubmit" class="btn btn-primary" type="submit" name="agreeOrNot" value="Update">
                    </div>
                    @*<div class="col-sm-4" align="left">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>*@
                </div>


            </div>


            <div class="container-fluid" style="padding-right: 228px;">
                @Html.HiddenFor(m => m.PRIORITY)
            </div>
        </section>
    </div>


}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<script type="text/javascript">

    $("#btnclose").click(function () {
         self.close();
    });
</script>

<script>
    //button submit click event for validation on title, type, recretion steps and problem description
    //the submit buttoin is in _HelpDeskSubmit.cshtml
    $(document).ready(function () {
        $("#butnSubmit").click(function () {

            //alert(document.getElementById("category").value);
            if ($('#priority').val() == '') {
                alert("Have only privilege to set the Priority!");
                $('#priority').focus();
                return false;
            }           

        });
    });
</script>

<script>
    $(document).ready(function () {
        //alert($('#assignedto option:selected').text());
        ///alert(@Model.STATUS);
        //if ticket is closed hide submit button, disable status, assign ddl
       //$('#butnSubmit').prop("disabled", true);
       $('#status').prop("disabled", true);


        });
</script>



@*for uploading files*@
<script>
    $('.fileClass').on('change', function (e) {

        //alert(this.id);
        var SectionNameSplit = this.id.split('_');
        //alert(SectionNameSplit[1]);
        //alert($("#file_File1").val().length);
        //alert(this.value);

        ////??? while text deletion from the file upload control, this event is getting triggered, hence checking the lenght as validation
        if (this.value.length == 0)
            return;

        //display only file name but not path
        var filePathMetaData = this.value.split('\\');
        //alert(filePathMetaData[filePathMetaData.length - 1]);

        var txtId = "txt_" + this.id;
        document.getElementById(txtId).value = filePathMetaData[filePathMetaData.length - 1];

        //alert(this.id + '---' + document.getElementById(txtId).value)
        //by default Delete button is hidden, if the file name is loaded into text box then only delete button is diesplayed
        if (document.getElementById(txtId).value.length > 0 && document.getElementById(txtId).value != ' Attach File') {
            var filecontrolid = this.id.split('_');
            var butid = "Deletefile_" + filecontrolid[1];
            document.getElementById(butid).style.display = 'block';
        }

        //debugger;
        var actualFileName = filePathMetaData[filePathMetaData.length - 1];

        var Size = 0;
        var cnt = this.files.length;
        var Name = this.files[0].name;

        //File9250
        for (i = 0; i < cnt; i++) {
            Size += this.files[i].size;
        }
        //alert(Name + "; file count:" + cnt);
        //alert(document.getElementById("ticketid").value);

        if (Size > 1073741824 && cnt > 1) {
            //show an alert to the user
            alert("Your Allowed file size exceeded. (Max. 1 GB) Or Must Select ONE File only");

            //reset file upload control
            return false;
        }

        for (i = 0; i < cnt; i++) {
            var uploadFile = this.files[i];
            if (!(/\.(TXT|gif|doc|DOC|DOCX|xls|xlsx|XLS|XLSX|pdf|PDF)$/i).test(uploadFile.name)) {
                alert('The file is not in the expected format. Please make sure the file you are attaching is in accepted format gif,doc,docx,pdf,xls,xlsx.');
                return false;
            }
        }
        var files = e.target.files;

        //fhaRequestViewModel["CreditLetterFile"] = files[0];

        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                //var data = $("#r4rform").serialize();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                }


                data.append("UploadedFileSection", SectionNameSplit[1]);
                data.append("filepathUniqueID", $("#filepathuniquenumber").val());
                data.append("ticketID", @Model.TICKET_ID);


                $("#spinner").attr('class', 'overlay');
                $.ajax({
                    url: '@Url.Action("UploadFile", "HelpDesk")',
                    data: data,
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    cache: false,
                    async: true,
                    type: 'POST',
                    success: function (response) {
                        //the return objects are success, responseMessage
                        if (response.returnvalue) {

                            alert("File Uploaded Successfully");
                        }
                        else {
                            alert("File Uploaded Failed");
                        }

                    },
                    error: function (error) {
                        // alert(error);
                        // added by harish 12-11-2019
                        alert("Error While Uploading file, please delete the file and upload it again");
                    }
                });


            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }
    });

</script>

@*for deleting uploaded files*@
<style>
    #tablecolor {
        color: black;
        display: block;
    }

    .DeleteClass {
        background-color: #2b669a;
    }
</style>
<script>
    $(".DeleteClass").on('click', function (event) {
        event.stopPropagation();
        var SectionNameSplit = this.id.split('_');
        var deletingFileName = "";

        //debugger;
        if (SectionNameSplit[1] == 'File1') {
            if ($('#file_File1').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File1').val();
        }
        else if (SectionNameSplit[1] == 'File2') {
            //alert(2);
            if ($('#file_File2').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File2').val();
        }
        else if (SectionNameSplit[1] == 'File3') {
            if ($('#file_File3').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File3').val();
        }
        else if (SectionNameSplit[1] == 'File4') {
            if ($('#file_File4').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File4').val();
        }
        else if (SectionNameSplit[1] == 'File5') {
            if ($('#file_File5').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File5').val();
        }
        else if (SectionNameSplit[1] == 'File6') {
            if ($('#file_File6').val() == '') {
                return false;
            }
            deletingFileName = $('#file_File6').val();
        }
        var fileidentification = this.id.split('_');
        var txtId = "txt_file_" + fileidentification[1];
        document.getElementById(txtId).value = ' Attach File';
        document.getElementById(this.id).style.display = 'block';
        //alert(deletingFileName);
        //alert(3);
        //var data = new FormData();
        //data.append("FHANumber", $('#txtFha').val());
        //data.append("TaskInstanceId", $('#TaskInstanceId').val());
        //data.append("FileSectionName", document.getElementById(this.id).name);
        var data = new FormData();

        data.append("FileSectionName", SectionNameSplit[1]);
        data.append("filepathUniqueID", $("#filepathuniquenumber").val());
        data.append("ticketID", @Model.TICKET_ID);
        data.append("deletefilename", deletingFileName);

        $.ajax({
            url: '@Url.Action("DeleteFile", "HelpDesk")',
            data: data,
            dataType: 'json',
            contentType: false,
            processData: false,
            cache: false,
            async: true,
            type: 'POST',
            success: function (response) {
                //alert(1);
                if (response.returnvalue) {

                    alert("File Deleted Successfully");
                }
                    //else if (response === 'unauthorized')
                    //{
                    //    alert("Unauthorized to Delete this file");
                    //}
                else if (response.returnvalue) {
                    alert("File Deleted not Successful Please try Again later");
                }
                else {
                    //alert("File Deleted not Successful: " + response);
                }
            },
            error: function (xhr, status, p3, p4) {
                var err = "Error " + " " + status + " " + p3 + " " + p4;
                if (xhr.responseText && xhr.responseText[0] == "{")
                    err = JSON.parse(xhr.responseText).Message;
                console.log(err);
            }
        });
    });

</script>
