﻿@model HUDHealthcarePortal.Model.HD_TICKET_ViewModel
@*//karri:#149*@
@{
    ViewBag.Title = "CreateTicket";
}

@*Styles*@
<style type="text/css">
    .overlay {
        position: fixed;
        background-color: #FAFAFA;
        z-index: 2147483647 !important;
        opacity: 0.8;
        overflow: hidden;
        text-align: center;
        bottom: 0;
        right: 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }

    label.required:after {
        content: " *";
        color: red;
    }

    ul.ui-autocomplete {
        list-style: none;
        list-style-type: none;
        padding: 2px;
        margin: 0px;
    }

    .ui-autocomplete {
        max-height: 200px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-right: 20px;
    }
</style>



@using (Html.BeginForm("SubmitForm", "HelpDesk", FormMethod.Post, new { enctype = "multipart/form-data", style = "margin:auto;", id = "fhaRequestForm" }))
{
    @Html.AntiForgeryToken()

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
       
    </div>

    <div class="container-fluid">
        <div class="row">
            <span class="col-md-4 text-right">   </span>
            <span class="col-md-4 text-left"> <h4><b>&nbsp;&nbsp;&nbsp;Help Desk primary submission details</b></h4> </span>
        </div>
    </div>
    <br />

    <script type="text/javascript" src="/Scripts/autoNumeric.js"></script>
    <div class="container-fluid">
        <div class="row">
            <div id="fields" style="margin-left:190px">
                <span>@Html.Label("Fields with ")</span>
                <span>@Html.Label("*", new { style = "color: red;" })</span>
                <span>@Html.Label(" are editable and mandatory")</span>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-right: 228px;">
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Ticket ID")
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.TICKET_ID, new { @id = "ticketid", name = "ticketid", @readonly = "readonly" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Created By")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.CREATED_BY_USERDISPLAYNAME, new { @id = "createdbyfullname", name = "createdbyfullname", @readonly = "readonly" })
                @*@Html.TextBox("createdby", (String)ViewBag.CREATED_BY_USERNAME, new { name = "createdby", @readonly = "readonly" })*@
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Title", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.ISSUE, new { @id = "title", name = "title", @readonly = "readonly" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Created On")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.CREATED_ON, new { @id = "createdon", name = "createdon", @readonly = "readonly" })
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Issue Type", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                @*@Html.DropDownListFor(m => m.CATEGORY, new SelectList(Model.TicketCategoryList),"d")*@
                @*@Html.DropDownListFor(model => model.ProjectActionTypeId, Model.ProjectActionTypeList, "Select Project Action Type", new { @id = "projectActionType" })*@
                @Html.DropDownListFor(model => model.CATEGORY, Model.TicketCategoryList, new { @readonly = "readonly", @disabled = "disabled" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Assigned To")
            </span>
            <span class="col-md-3 ">
                @if (Model.IS_HELPDESK_USER != true)
                {
                    @Html.TextBoxFor(m => m.ASSIGNED_TO, new { @id = "assignedto", name = "assignedto", @readonly = "readonly" })
                }
                @if (Model.IS_HELPDESK_USER == true)
                {
                    @Html.DropDownListFor(model => model.ASSIGNED_TO, Model.TicketAsigneeList, "Select HelpDesk Assignee", new { @id = "assignedto" })                    
                }

                @*@Html.TextBoxFor(m => m.ASSIGNED_TO_USERNAME, new { @id = "assignedto", name = "assignedto", @readonly = "readonly" })*@
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Last Modified Date")
            </span>
            <span class="col-md-3 required">
                @Html.TextBoxFor(m => m.LAST_MODIFIED_ON, new { @id = "lastmodifiedon", name = "lastmodifiedon", @readonly = "readonly" })
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Assigned Date")
            </span>
            <span class="col-md-3 ">
                @Html.TextBoxFor(m => m.ASSIGNED_DATE, new { @id = "assigneddate", name = "assigneddate", @readonly = "readonly" })
                @*@Html.DropDownListFor(m => m.BorrowerTypeId, Model.AllBorrowerTypes, "Select Borrower Type", new { @id = "borrowerType" })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">
                @Html.Label("Recreation Steps", new { @class = "required" })
            </span>
            
            <span class="col-md-3 required" >
                <textarea readonly style="margin: 0px; width: 320px; height: 103px;">@Model.RECREATION_STEPS</textarea>
                @*@Html.TextAreaFor(m => m.RECREATION_STEPS, new { style = "margin: 0px; width: 320px; height: 103px; enabled:false", rows = "5", htmlAttributes = new { @readonly="readonly"} })*@
            </span>
            <span class="col-md-3 text-right ">
                @Html.Label("Problem Description", new { @class = "required" })
            </span>
            <span class="col-md-3 required">
                <textarea readonly style="margin: 0px; width: 320px; height: 103px;">@Model.DESCRIPTION</textarea>
                @*@Html.TextAreaFor(m => m.DESCRIPTION, new { style = "margin: 0px; width: 320px; height: 103px;", rows = "5", htmlAttributes = new { @class = "form-control" } })*@
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-3 required">
                @Html.Label("File Attachments", new { @class = "required" })
            </span>
        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-4" style="text-decoration:underline;">
                @if (Model.File1 != null)
                {
                    @Html.ActionLink(Model.File1, "DownloadTaskFile", new { taskInstanceId = Model.File1, ticketid = Model.TICKET_ID })
                }
            </span>

            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-4" style="text-decoration:underline">
                @if (Model.File2 != null)
                {
                    @Html.ActionLink(Model.File2, "DownloadTaskFile", new { taskInstanceId = Model.File2, ticketid = Model.TICKET_ID })
                }
            </span>

        </div>
        <div class="row">
            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-4" style="text-decoration:underline">
                @if (Model.File3 != null)
                {
                    @Html.ActionLink(Model.File3, "DownloadTaskFile", new { taskInstanceId = Model.File3, ticketid = Model.TICKET_ID })
                }
            </span>

            <span class="col-md-3 text-right ">

            </span>
            <span class="col-md-4" style="text-decoration:underline;">
                @if (Model.File4 != null)
                {
                    @Html.ActionLink(Model.File4, "DownloadTaskFile", new { taskInstanceId = Model.File4, ticketid = Model.TICKET_ID })
                }
            </span>

        </div>
        @Html.Partial("~/Views/HelpDesk/_HelpDeskSubmit.cshtml")
        @*<div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>*@
        
    </div>

    //hidden objects to 
    @Html.HiddenFor(m => m.CREATED_BY_USERNAME)
    @Html.HiddenFor(m => m.PREVIOUS_STATUS)
    @Html.HiddenFor(m => m.PREVIOUS_ASSIGNMENTDATE)
    @Html.HiddenFor(m => m.PREVIOUS_ASSIGNEE)

}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

<script type="text/javascript">

    $("#btnclose").click(function () {
         self.close();
    });
</script>

<script>
    //button submit click event for validation on title, type, recretion steps and problem description
    //the submit buttoin is in _HelpDeskSubmit.cshtml
    $(document).ready(function () {
        $("#butnSubmit").click(function () {
            
            //alert(document.getElementById("category").value);
            if ($('#assignedto').val() == '') {
                alert("Please select help desk assignee name");
                $('#assignedto').focus();
                return false;
            }
            
            if($('#status').val() == 0)
            {
                alert("Ticket Status cannot be in OPEN state, change to InProgress or any");
                return false;
            }

        });
    });
</script>